[2016-10-06 06:13] #647 closed

[2016-10-06 06:19] tmylk commented on #462
There is some progress happening on scipy

[2016-10-06 06:20] tmylk commented on #632
It imports in scipy 0.18 on linux ok.
Closing as can't reproduce

[2016-10-06 06:20] #632 closed

[2016-10-06 06:26] tmylk commented on #618
Duplicte of #566

[2016-10-06 06:26] #618 closed

[2016-10-06 06:32] tmylk commented on #220
Add to wiki ideas page

[2016-10-06 07:44] souravsingh commented on #918
@tmylk I am willing to take this.How do I proceed?

[2016-10-06 08:09] souravsingh commented on #701
@tmylk I would like to take a stab at the issue. How do I start?

[2016-10-06 09:24] tmylk commented on #918
Do you have ideas on how to test this? Let's write them here to discuss.

[2016-10-06 09:24] tmylk commented on #918
Also let's talk in https://gitter.im/RaRe-Technologies/gensim

[2016-10-06 09:26] bhargavvader commented on #857
@tmylk I was wondering if I should just upload the corpus and dictionary to load - it's easier, because my cleaning and pre-processing wasn't very pretty.

[2016-10-06 09:27] tmylk commented on #857
Sounds good if it's not too big

[2016-10-06 09:30] bhargavvader commented on #840
Mainly because I wanted to be sure to replicate the C code as much as possible to allow for easier testing and the option of including DIM. DIM uses methods in the `ldapost` class.

It'll need some investigation to see to what extent `ldamodel` can be used instead of `ldapost`.

[2016-10-06 09:42] silentsnooc opened #920 "Modifying train_cbow_pair"
Please excuse me asking this question here since it's not really an issue regarding gensim.

----

**TL;DR:**

I'd like to know how I can get to the word vectors *before* they are getting propagated in order to apply transformations on them before that while training paragraph/document vectors.

----

What I'm trying to do is make a modification to `train_cbow_pair` in `gensim.models.Word2Vec`. Ho

[2016-10-06 10:11] souravsingh commented on #907
@tmylk We can make use of doctr to push docs to Github pages.Sympy makes use of it

[2016-10-06 10:21] tmylk commented on #907
Sounds great! Can you implement it?

[2016-10-06 10:21] mjawa commented on #903
I am taking a shot on this.

[2016-10-06 10:24] souravsingh commented on #907
I should be able to do it. I would only need some time to do it.

[2016-10-06 10:46] bhargavvader commented on #901
Yup, on it!

[2016-10-06 11:05] bhargavvader commented on #901
Also, @dsquareindia , the reason it returns `alpha` and `beta` and not a model is because in it's inference it uses that method to get the updated `alpha` and `beta` values. You can see line [246](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/hdpmodel.py#L246) for an example of this.

So what I'm going to do is add an extra parameter, which instead returns an `ldamodel` in

[2016-10-06 14:42] bhargavvader commented on #903
Awesome!

[2016-10-06 16:03] harshul1610 commented on #911
@tmylk I am unable to replicate the error

[code]

[2016-10-07 00:33] #791 closed

[2016-10-07 13:51] souravsingh commented on #910
@tmylk I would like to work on the issue.How do I start?

[2016-10-07 17:11] markroxor commented on #910
@tmylk Check [logging.basicConfig](https://docs.python.org/2/library/logging.html#logging.basicConfig).

I believe adding logging.basicConfig() to *gensim.models.word2vec* should do the trick.

Implementing this on my system pops the following WARNING in compliance with the logger warning [here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py#L107)
![image](https

[2016-10-07 22:07] gojomo commented on #920
Note that in practice, `train_cbow_pair()` is only the pure-Python implementation, which is rarely used because it can be 80x (or more) slower that the alternate optimized Cython path.

The 'input' word vectors are in `syn0`. You could modify them there, if you want to apply your transformations to affect all subsequent training. You'd have to get to them before `l1` is composed, if you want to tr

[2016-10-08 07:47] tmylk commented on #910
Yes, that text is very important. Let's print it

[2016-10-08 11:21] Doppler010 commented on #801
I would like to work on it.

[2016-10-08 12:29] SebastinSanty commented on #910
On OSX, the following message, is printed
[code]
So, I guess, it works correctly on OSX.

[2016-10-08 14:49] glenn124f commented on #824
Hi! I'd like to work on this.

[2016-10-08 14:53] Doppler010 commented on #801
Hey, i'm looking into the code and I guess the best approach would be to just throw an error whenever sentences is not iterable?

[2016-10-08 18:54] gojomo commented on #801
@Doppler010 What specific test would you propose, and could it distinguish between a single-use iterator and something that is re-iterable?

[2016-10-08 19:37] markroxor commented on #911
@harshul1610  first start the Pyro name server via
`python -m Pyro4.naming -n 0.0.0.0 & python -m gensim.models.lda_worker & python -m gensim.models.lda_dispatcher &`

[2016-10-08 20:54] silentsnooc commented on #920
@gojomo I started to notice that the Python path is incredibly much slower than the Cython path. Is there a way for me to replace the compilation with my own?

The transformations I'd like to apply are actually simple scaling operations - I just want to apply weights to the input vectors dynamically.

[2016-10-09 02:33] Doppler010 commented on #801
@gojomo - I was thinking something along the lines of
`'iterator' if obj is iter(obj) else 'iterable'`
We can add this try:catch sequence in addition to documentation changes.

[2016-10-09 03:03] gojomo commented on #920
The Cython code is not compiled Python - it's alternate code, in the Cython python-like language, written under more constraints that allow better performance (and greater multithreaded paralleism). All the Cython source is available for you to modify just like the Python code – see the files ending `.pyx` or `.pxd`. However, getting things right can be trickier – more like C-programming – and the

[2016-10-09 03:09] gojomo commented on #801
@Doppler010 - That's an interesting test! I'd prefer not to create a throwaway iterator just as a test, but perhaps this could be combined with the iteration-start that needs to happen anyway, generating a warning when that's not a different-object (and thus the source is likely not a repeatably-iterable object). We'll still want the warning about mismatched-counts, as well – that will also catch

[2016-10-09 04:58] SebastinSanty commented on #795
Hi! I would like to work on this bug.

[2016-10-09 05:49] ArifAhmed1995 commented on #894
I am working on this.

[2016-10-09 06:13] Doppler010 commented on #801
@gojomo - Can you please point me to the location of the iteration-start in word2vec.py . I'm not able to figure it out.

[2016-10-09 06:14] NareshPeshwe commented on #691
I will take a shot at this.

[2016-10-09 06:19] gojomo commented on #801
@Doppler010 word2vec.py sets it up at https://github.com/RaRe-Technologies/gensim/blob/192792688b1e7439cf10076648ff499f557142f9/gensim/models/word2vec.py#L784 though since it uses `utils.RepeatCorpusNTimes` the warning probably belongs there: https://github.com/RaRe-Technologies/gensim/blob/192792688b1e7439cf10076648ff499f557142f9/gensim/utils.py#L652

[2016-10-09 10:16] harshul1610 commented on #911
@tmylk @markroxor I am running on pyro4(4.47) but getting following:

[code]

Any suggestions?

[2016-10-09 10:21] silentsnooc commented on #920
@gojomo Thank you for explaining that to me - I never had anything to do with Cython so far but it's good to know what I'm actually dealing with here :)

Unfortunately, since the weights are not the same for all words, I cannot apply the weight to `syn0`. At the moment I put it like this
[code]
but as you already said this is **very** slow now.

The only way I can potentially see around this, with

[2016-10-09 10:31] markroxor commented on #911
@harshul1610 please take a look at #924  and [this](https://groups.google.com/forum/#!msg/gensim/eXNEDxyQnwU/hv2V9N0MYAoJ).

[2016-10-09 10:54] silentsnooc commented on #920
I'm thinking about something like this:

[code]

Unfortunately it does not run. It appears that changing `self.syn0` causes a problem with the memory layout I guess. The program does run but at some point it's simply crashing.

[2016-10-09 11:09] markroxor commented on #907
@souravsingh can I lend a hand somehow?

[2016-10-09 11:20] olavurmortensen commented on #894
On a related note, it would be nice if the `log_normalize` function was able to take a 2D array, and normalize along a *single axis*. At the moment it does support normalizing along both axes in a 2D array.

[2016-10-09 12:36] olavurmortensen commented on #894
I just discovered something you might find useful. From the usage of `log_normalize` in the HDP code, it seemed to me that if you want to normalize a vector `v`, you pass it to the function and obtain a normalized `log v` in return. That is *not* the case, you need to pass `log v` to the function, and then return a normalized `log v`.

This has caused me a lot of pain and confusion lately, so I th

[2016-10-09 14:42] saksham15082 commented on #908
@tmylk is this issue still open.

[2016-10-09 19:11] gojomo commented on #920
You could transform `syn0` in place with different weights per word, but note the transformation will stick (not be specific to a single forward-propagation).

The `word_vectors` parameter is already `self.syn0` in all cases. You could replace it with something else – your transformed `syn0` – but as `syn0` is typically quite large, and `train_document_dm()` is called for every text example, that'

[2016-10-10 09:20] tmylk opened #934 "Support Pyro 4.47 in LDA and LSI distributed"
Resolving issues found in #924

[2016-10-10 10:56] silentsnooc commented on #920
I'm aware of that fact but thank you for pointing it out :)

----

I was able to make it work. The issue was that I didn't use an augmented assignment statement for `syn0`

The appearance of my snipped is in `_do_train_job` (used by worker threads inside their main method `worker_loop()`) which I'm overwriting in my `WeightedDoc2Vec` class:

[code]

This way the overhead shouldn't be *that* bad si

[2016-10-10 22:21] ArifAhmed1995 commented on #894
The time taken for the `ldamodel` tests to run worsens for the small file `testcorpus.mm`.Maybe log normalization will perform better for a larger corpus.I will test it out and post results soon.

[2016-10-11 00:54] monajalal commented on #163
quick question, would the wdm distance change using gensim package if I use or not use `model.init_sims(replace=True)` ? I am trying to figure what's the effect of this piece of code? @piskvorky

[2016-10-11 05:29] v-chuqin opened #935 "how to change the min_count when update the word2vec model"
Hi guys,
I have a pr-trained word2vec model and set min_count = 5, now I want to update this model using the **online word2vec** with the following code:

[code]

 I hope to change the min_count, because the new dataset relatively small, if don't change the min_count, many new words won't be embedded.

Thanks.

[2016-10-11 08:55] isohyt commented on #935
Hi, @v-chuqin . I'm online word2vec developer.

In your use case, your should set min_count  before build_vocab using new corpus as follows:
`
sentences = LineSentence('newCorpus')
model = Word2Vec.load('pretrainModel') # I have set min_count = 5
model.min_count = 0 # any number you want
model.build_vocab(sentences , update=True)
model.train(testsentences)
`

Thanks :)

[2016-10-11 10:01] v-chuqin commented on #935
It works, @isohyt thanks for your help.

[2016-10-11 10:02] #935 closed

[2016-10-11 11:41] #894 closed

[2016-10-11 23:18] gojomo commented on #163
@monajalal – Looking at our implementation of `wmdistance()`, it appears the pairwise word distance calculation is using the 'raw' vectors (essentially, the contents of `syn0`). (See https://github.com/RaRe-Technologies/gensim/blob/68db4da59b63d12eab688a72bc008625387c77c0/gensim/models/word2vec.py#L1407 ) I'm not sure that this is correct – it might be more appropriate to use the same unit-normali

[2016-10-12 01:15] piskvorky commented on #163
@monajalal please use the mailing list for general questions, or open a new issue for reporting a bug (see [CONTRIBUTING.md](https://github.com/RaRe-Technologies/gensim/blob/develop/CONTRIBUTING.md)).

By hijacking an unrelated closed issue, fewer people can see it and respond, and any responses are wasted and hidden. Thanks.

[2016-10-12 05:43] mon95 opened #936 "The automated tests for notebooks from #874 do not run during CI"
I'm working on the same.

[2016-10-12 06:49] dsquareindia opened #937 "HdpModel does not document inference using []"
`HdpModel` does not document inference using `[]` operator as in LDA. Documentation should be added along with small code snippet.

[2016-10-12 06:54] dsquareindia opened #938 "Create single API/base class for all topic models"
As discussed on gitter, it would be nice to have a single API/base class which can be extended by all topic models. This will include common functions such as `print_topic()` which are needed by all models. eg. `show_topic()` is not present in `HdpModel` currently and adding this function would incur code duplication.

[2016-10-12 07:03] tmylk commented on #908
@saksham15082 It is still open and a fix would be appreciated.  We need to pass *all* the params including per_word_topics through the apply call.

[2016-10-12 11:04] hiral2cool opened #940 "LDA Multicore Windows Error"
os : windows 10
version : Python 2.7.10
all latest numpy,scipy everything upgraded
when i start ldamulticore error is like this
--------------------------------------------------

PYTHON
------------
lda = gensim.models.LdaMulticore(corpus=corpus, id2word=id2word, num_topics=10)

ERROR
-------------
File "C:\Python27\lib\multiprocessing\forking.py", line 361, in get_command_line
    is not going t

[2016-10-12 12:00] bhargavvader commented on #936
Awesome, we certainly need this done.

[2016-10-12 12:04] dsquareindia commented on #936
However they should all run on "pseudo toy-datasets" just to ensure that the notebooks execute from start to finish. We don't want `wgets` inside the notebooks as some might take a long long time to execute on the actual datasets! `sklearn` does that pretty well and we can look into their tests.

[2016-10-12 12:45] hiral2cool commented on #911
@tmylk
how to slove this error
"Distributed LDA "ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"

please give proper solution

you told  "There's a potential fix in the text above. Investigating if it actually works would be very useful"
and but in which text ???

please i m stuck up with this from 2 days too much find but nothing find pleas

[2016-10-12 13:52] budhiraja opened #941 "Notation Mismatch : Documentation LDA and HDP"
Hi,
I have come across an instance where the notations in examples and APIs is different. In LDA and HDP the  `show_topics` function takes arguments - `num_topics=20 and num_words=20` where as in the following places, it is mistakenly reported as something else.
1. http://christop.club/2014/05/06/using-gensim-for-lda/ : model.show_topics(topics=5, topn=5)
2. https://radimrehurek.com/gensim/models/

[2016-10-12 14:39] bhargavvader commented on #936
+1 to what Devashish said. @mon95 , for the notebooks which fail, could you notify on this issue? We could accordingly modify the notebooks to accommodate this.

[2016-10-12 14:39] bhargavvader commented on #941
@dsquareindia , @tmylk , HDP is coming up often with regard to this... needs some cleaning up.

[2016-10-12 14:57] budhiraja commented on #941
Hi @bhargavvader  is there an HDP tutorial somewhere? If I am right HDP build a topic hierarchy, is there a way to look at it? Even in a crude way - say parent-child relationship?

Thanks,
Amar

[2016-10-12 16:50] saksham15082 commented on #908
@tmylk i am new to open source and often find it difficult to locate the file in which the changes are required.Any suggestions?

[2016-10-12 17:46] mon95 commented on #936
@dsquareindia The prescribed method of testing ipython notebooks is to execute cell by cell and check for errors in the output. So, in order to use 'toy datasets', my guess is that we'll need to modify the tutorials.

@bhargavvader I just ran into this:

`Testing ./docs/notebooks/Similarity_Queries.ipynb
ERROR

======================================================================
ERROR: test_note

[2016-10-12 20:24] mon95 opened #943 "Doc2Vec tutorial on the Lee Dataset does not execute correctly with python2.7"
While testing the doc2vec-lee.ipynb notebook using python-2.7, the following line causes a problem:
`
with open(fname, encoding="iso-8859-1") as f:
`
This is because, in python 3, open() and io.open() are the same and allow specification of the encoding as a parameter. This is not the case in python 2.6/2.7.

So, we need to explicitly specify io.open() for it to work correctly.

[2016-10-12 21:27] bhargavvader commented on #941
As far as I know, there is no tutorial nor is there a way to look at the topic hierarchy - though I have not used it extensively, and am unaware if it might exist. I'm going to raise an appropriate issue so someone can tackle it, but will wait for @tmylk or @dsquareindia to confirm if we have more HDP examples.

[2016-10-12 21:35] bhargavvader opened #945 "HDP improvements: Topic Hierarchy and Tutorial"
As mentioned in #941, and previously in #262, HDP isn't very consistent with `LdaModel`. Also #901, #937 are other documented issues to do with HDP. We could use a complete overhaul in the way these Topic Models are organised (ideally with a parent topic-model class), but for the time-being, HDP needs improvements in it's documentation and structure.

Particularly, it would be useful to have a com

[2016-10-12 21:35] bhargavvader commented on #938
Also related - #945. :)
Any ideas on how to start doing this?

[2016-10-12 21:36] bhargavvader commented on #903
@mjawa , any updates?

[2016-10-13 07:35] markroxor commented on #938
I've submitted a pull request #946 for a unified base class. Not sure if this you are actually looking for but review and let me know if I'm going in the right direction. thanks

[2016-10-13 09:22] SimonPavlik commented on #449
https://rare-technologies.com/gensim-word2vec-on-cpu-faster-than-word2veckeras-on-gpu-incubator-student-blog/

[2016-10-13 09:42] markroxor commented on #908
@tmylk The link to "mailing list" redirects elsewhere for a better understanding of this issue. Please fix. thanks.

[2016-10-13 13:15] tmylk commented on #908
@markroxor Thanks for pointing it out. Link updated to https://groups.google.com/d/msg/gensim/RgiN22vtPKU/3K3TpxjKBgAJ

[2016-10-13 13:19] markroxor commented on #945
I am up for it. What more changes can we incorporate? For a start I guess editing the tutorial should do like the [one here.](https://radimrehurek.com/gensim/models/hdpmodel.html)
` hdp = HdpModel(corpus, id2word)`
` hdp.print_topics(show_topics=20, num_words=10)`

show_topics should be changed to num_topics without altering the API.

[2016-10-13 13:33] tmylk commented on #945
@markroxor Creating a [tutorial](https://github.com/RaRe-Technologies/gensim/tree/develop/docs/notebooks) in the tutorial folder would be a great place to start

[2016-10-13 13:37] bhargavvader commented on #945
Sounds good! About the tutorial, it will be nice to have it like a 'story' so it is interesting. Would look even better after we have a Topic Hierarchy functionality.
@markroxor could you look at the [ldaseqmodel](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/ldaseqmodel.ipynb) tutorial, and the [news-classification](https://github.com/RaRe-Technologies/gensim/blob/develo

[2016-10-13 13:38] bhargavvader commented on #945
@tmylk could you add appropriate labels to this please?

[2016-10-13 13:38] tmylk commented on #936
Let's unite them into one ipynb then as there is a dependency.

[2016-10-13 13:41] tmylk commented on #936
If the dataset is not available then the ipynb is skipped. See #874 for
`raise ValueError(\"SKIP: Please download the Corpus/news_dictionary dataset.\")`

[2016-10-13 13:42] markroxor commented on #945
@bhargavvader It will take some time but be assured it will be done. Will catch up with you on this.

[2016-10-13 14:03] tmylk commented on #940
Does anyone have windows 10 to try  if adding `if __name__ == '__main__':` helps as in [SO](http://stackoverflow.com/questions/18204782/runtimeerror-on-windows-trying-python-multiprocessing)?

[2016-10-13 14:05] tmylk commented on #911
@hiral2cool Would be grateful for you feedback on this potential fix suggested on the mailing list (also in the main description of this issue):

[code]

[2016-10-14 04:44] hiral2cool commented on #940
but at where i have to add this code ??
first i try to add this in main my python code file from which i am going to run LDA module

if __name__ == '__main__':
      freeze_support()

i try this but same error

[2016-10-14 04:45] #943 closed

[2016-10-14 04:57] tmylk commented on #940
It should be in the main module of your program as in https://docs.python.org/dev/library/multiprocessing.html#multiprocessing.freeze_support

May I ask for the full code that reproduces the error?

[2016-10-14 05:33] hiral2cool commented on #940
import logging

import os

import gensim

from gensim import corpora, models, similarities

logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

path = os.path.exists('/home/hduser/Downloads')

print path

if (path):

    id2word = corpora.Dictionary.load('/home/hduser/Downloads/newsgrp_all_topic.dict')

    corpus = corpora.MmCorpus('/home/hduser/Downloads/

[2016-10-14 05:58] tmylk commented on #940
Hmm probably ` if name == 'main': freeze_support() ` should be on the top of `code.py`?

[2016-10-14 06:15] hiral2cool commented on #940
yes i tried just now & everything is same
console output , log file ,error
everything same no change

don't know what is the problem i also try to debug code but not understand well

[2016-10-14 06:17] tmylk commented on #940
hmm maybe that line needs to be in `LDAMultiCore`?
This is not a specifically gensim issue though. It relates to forking on windows.

[2016-10-14 06:41] hiral2cool commented on #940
yup i know that it is problem of forking on windows
but it should work and something somewhere this library code will change to support new win 10 os

and i also try LDAMulticore
same issue remaining with same errors

[2016-10-14 09:12] mon95 commented on #936
Encountered a couple of other errors while testing

Testing gensim_news_classification.ipynb:
[code]

Testing topic_coherence_tutorial.ipynb:

[code]

[2016-10-14 09:38] mjawa commented on #903
It would be another two weeks before I can take a stab on this.

[2016-10-14 14:27] saksham15082 commented on #908
@markroxor  please go ahead with this issue.

[2016-10-14 16:05] puntitra commented on #911
I had the exact same problem. I removed this error message when I changed line 442 in ../models/ldamodel.py to
if doc.size and not isinstance(doc[0][0], six.integer_types):
(evaluating doc is ambiguous)

My distributed experiment is working fine now with all proper workers doing the work.

[2016-10-14 21:04] vatsan opened #951 "Held-out set log_perplexity is lower than training set log_perplexity"
I am using the LdaMulticore model in version 0.12.4. My training set and held-out set are roughly of the same size (2500'ish documents). My (filtered) vocabulary size is around 2500 words, with each document containing on the average about 40-50 words.

I am surprised that the log_perplexity() of the held-out set is consistently lower than the log_perplexity() of the training set (doesn't matter w

[2016-10-15 07:33] markroxor opened #952 "Add more tests for HdpModel"
In the file [test_hdpmodel.py](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_hdpmodel.py) meant for continuous integration for testing builds. The only tests that are conducted are for `hdpmodel.show_topics()`. Need to create more tests for better build evaluation.

[2016-10-15 15:25] tmylk commented on #951
Replied on maling list.

[2016-10-15 15:25] #951 closed

[2016-10-16 02:14] vatsan commented on #951
Thanks for responding Lev. Couple of points:

1) I mistook that the function log_perplexity() was actually returning the logarithm of the perplexity. It turns out that the "log" in "log_perplexity" was actually referring to "writing to a log file". By looking at the code snippet here(https://github.com/RaRe-Technologies/gensim/blob/0c5c5ed9024d8ea89e106ebaf926071b4a3a6654/gensim/models/ldamodel.py

[2016-10-16 06:07] tmylk commented on #951
@vatsan This issue is closed. Please continue discussion on the mailing list

[2016-10-16 08:55] #910 closed

[2016-10-16 09:05] tmylk commented on #449
BTW Deeplearing4j are [also working](https://github.com/deeplearning4j/deeplearning4j/commit/01b50524d616b256cc4de75f76d4492b1435368f) to resolve batching issues in order to make word2vec run on GPU faster than on CPU

[2016-10-16 09:38] joyjeni commented on #746
I m checking pretrained word2vec and topicmodelling models mentioned  in https://github.com/ai-ku/wvec
and
http://www.pdhillon.com/code.html

[2016-10-16 09:50] #918 closed

[2016-10-16 14:18] Shabukc opened #955 "Directory names on Windows 10 failing. ( '/tmp' )"
I was trying to run "gensim/docs/notebooks/word2vec.ipynb" on windows 10 with Anaconda-Jupyter.

![image](https://cloud.githubusercontent.com/assets/3529477/19418022/16923aea-93d9-11e6-9bbf-78ce3a03f815.png)

Can we have a better way of handling folder/path  (especially temporary ) independent of Operating System ?

[2016-10-17 08:41] AritzBi commented on #896
@tmylk I've tried to launch again the process in a fresh virtual environment but the problem persists. Right now I can't format the machine but I can re-install dependencies. Which ones should I try to update or rebuild?

[2016-10-17 09:00] tmylk commented on #896
Do you have same dependencies on all the machines? Even on the ones where it's working fine?

[2016-10-17 11:01] hiral2cool commented on #940
adding this to main source code
if __name__ == '__main__':

run working of program successfully LDAmulticore
so Issue Fixed..
Thank you

[2016-10-17 12:35] tmylk commented on #940
@hiral2cool Thanks a lot for reporting your fix!
Which file was it added to?
May I kindly ask you to submit a Pull Request so that the community can benefit from your solution.

[2016-10-17 18:18] markroxor opened #956 "Fix unit test initialisation issue for test_wikicorpus.py"
In reference to the issue mentioned [here](https://github.com/RaRe-Technologies/gensim/pull/929#issuecomment-252508025) in PR [#929](https://github.com/RaRe-Technologies/gensim/pull/929) and this [Travis error.](https://travis-ci.org/RaRe-Technologies/gensim/jobs/167991024#L1477)

`No output has been received in the last 10 minutes, this potentially indicates a stalled build or something wrong wit

[2016-10-17 20:28] mon95 opened #958 "Error executing gensim_news_classification.ipynb"
gensim_news_classification.ipynb throws the following error while running the following cell under "Topic Modelling using LDA"
```pyLDAvis.gensim.prepare(ldamodel, corpus, dictionary)```

```TypeError: cannot sort an Index object in-place, use sort_values instead```

[code]

[2016-10-18 05:19] #956 closed

[2016-10-18 10:34] Ulitochka opened #959 "most_similar() from Word2Vec use all CPU."
Hello!
Thanks for your work.
I use pretrained model - binary file and method load_word2vec_format() for loading.
But if I use most_similar() method I find 8 (max) threads in my system.
Can you help me?

gensim 0.13.2
ubuntu 14.04
scipy 0.18.00
numpy 1.11.1

`            try:
                quasi_synonyms = [el[0] for el in
                                       self.model.most_similar(positive=[t

[2016-10-18 11:57] tmylk commented on #959
Hi,
do you expect more or less threads?
Also consider Annoy https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/annoytutorial.ipynb

[2016-10-18 12:29] tmylk commented on #958
Ping @dsquareindia

[2016-10-18 12:29] tmylk commented on #940
Ping @hiral2cool could you copy paste your fixed code here?

[2016-10-18 12:30] tmylk commented on #896
@AritzBi Could you find anything special about this machine?

[2016-10-18 12:33] tmylk commented on #941
@markroxor should this be updated post #946 merge?

[2016-10-18 12:37] markroxor commented on #941
Not sure what you mean, do you want me to work on #945 ?

[2016-10-18 13:43] #938 closed

[2016-10-18 14:05] markroxor commented on #941
HDPModel now includes `print_topics` so 'hdp.print_topics(num_topics=20, num_words=10)' can now be executed but the tutorial for hdpmodel [here](https://radimrehurek.com/gensim/models/hdpmodel.html) should be updated as it states `show_topics` as an input parameter instead of `num_topics`.

[2016-10-18 14:35] tmylk commented on #891
Thanks for the pr!

[2016-10-18 14:35] #891 closed

[2016-10-18 14:36] tmylk commented on #822
Closing as abandoned

[2016-10-18 14:36] #822 closed

[2016-10-18 14:38] tmylk commented on #737
Closing as can't reproduce.

[2016-10-18 14:38] #737 closed

[2016-10-18 14:47] tmylk commented on #527
Implemented in https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/annoytutorial.ipynb

[2016-10-18 14:48] #527 closed

[2016-10-18 15:27] tmylk commented on #501
Closing as abandoned

[2016-10-18 15:27] #501 closed

[2016-10-18 15:29] tmylk commented on #381
Closing as abandoned

[2016-10-18 15:29] #381 closed

[2016-10-18 15:33] tmylk commented on #180
Docs moved to ipynb in docs/notebooks

[2016-10-18 15:33] #180 closed

[2016-10-18 15:34] tmylk commented on #51
Annoy has been integrated in https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/annoytutorial.ipynb

[2016-10-18 15:34] #51 closed

[2016-10-18 15:48] erikbern commented on #51
nice!

[2016-10-18 19:02] souravsingh commented on #132
@piskvorky I would like to work on the issue

[2016-10-19 02:05] tmylk commented on #132
Hi @souravsingh the best way to proceed is to apply to the RaRe incubator programme https://rare-technologies.com/incubator

[2016-10-19 04:26] Ulitochka commented on #959
Hi, thanks for your answer.
In method most_similar() if argument indexer=None this version use all CPU.
If we use Annoy, create index, and give most_similar() indexer=annoy_index - that's ok.

In this tutorial https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/annoytutorial.ipynb I see this: You can save and load your indexes from/to disk... and exaple: annoy_index.save(fname)

[2016-10-19 04:45] tmylk commented on #959
@Ulitochka This [functionality](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/similarities/index.py#L38) will be available in our next release this month. For now, you can use develop branch on github

[2016-10-19 04:45] tmylk commented on #959
Closing as resolved

[2016-10-19 04:45] #959 closed

[2016-10-19 04:45] tmylk commented on #959
We can continue this conversation on the mailing list groups.google.com/forum/#!forum/gensim

[2016-10-19 05:57] piskvorky commented on #51
@tmylk can we change the tutorial to use a more meaningful dataset?

How about the GoogleNews word2vec model (3,000,000 x 300 matrix)? Lots of people use that.

[2016-10-19 06:15] tmylk commented on #51
I agree that it's a more illustrative example to show benefits of Annoy. It would look great in a blog post. For the tutorial we chose something that easily runs on a laptop.

[2016-10-19 08:57] giacbrd opened #960 "CBOW model equivalent to the supervised learning model of fastText"
[fastText](https://github.com/facebookresearch/fastText) is an "evolution" of word2vec, it contains new models for word embeddings and models for learning the association document -> label, i.e. classification.

Implementing the latter can be obtained by reusing the Word2vec class (only for CBOW), defining an input layer of words and an output layer of labels with their specific vocabulary. The co

[2016-10-19 09:25] tmylk commented on #960
For completeness linking to Fasttext Wrapper https://github.com/RaRe-Technologies/gensim/pull/847

[2016-10-19 11:56] #905 closed

[2016-10-19 16:43] vene commented on #132
Hi,

Couple of notes:

1. the NMF implementation in scikit-learn has been replaced by a more scalable coordinate descent-based one a couple of releases ago (but it's not online/out-of-core)

2. you might be interested in [libmf](http://www.csie.ntu.edu.tw/~cjlin/libmf/) [(paper)](http://www.csie.ntu.edu.tw/~cjlin/papers/libmf/libmf_journal.pdf) which supports online parallel NMF among others.

[2016-10-20 05:08] hiral2cool commented on #940
yaa sure here is my code
no need to change any files in gensim
just simply add line in main source code where parallel starts

http://www.pastefile.com/PZKSa3

[2016-10-20 05:52] tmylk opened #965 "Add automatic PEP8 checking to Travis"
A good example of this is sklearn

[2016-10-20 08:02] markroxor commented on #807
@tmylk should this be closed?

[2016-10-20 10:39] tmylk commented on #940
Resolved by adding this code:

[code]

[2016-10-20 10:39] #940 closed

[2016-10-20 10:55] tmylk commented on #807
@markroxor the annotations are still missing in [`lsi_worker`](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/lsi_worker.py)

[2016-10-20 14:12] loretoparisi opened #967 "Word2Vec sentences stream iterator does not reach stop condition"
My corpus is loaded with a `iterator` like this

[code]

When I load it to `Word2Vec` the iteration does not stop doing like a loop:

[code]

[code]

If I change the `__iter__` to load just one file like

[code]

it works. If I do a simple iterator like

[code]

it iterates in the right way.

Do I need in the first case a `raise StopIteration` exit condition? If so, why this does not happen for on

[2016-10-20 18:01] souravsingh commented on #965
@tmylk I am interested in working on the issue.

[2016-10-20 21:04] gojomo opened #971 "TestWikiCorpus intermittent test hangs"
I've noticed a bunch of recent Travis-CI test 10-minute-hang-failures have been just after:

    test_first_element (gensim.test.test_wikicorpus.TestWikiCorpus) ...

One example: https://travis-ci.org/RaRe-Technologies/gensim/jobs/169348681

As with other intermittent test failures, this can really confuse evaluation of unrelated changes.

Perhaps something about its multiprocessing is flaky, and

[2016-10-20 21:39] #807 closed

[2016-10-20 22:09] tmylk commented on #965
Great. Let's add pep8, (not autopep8) to travis.yml. We don't care about long lines so it should be ignored. See this for an example https://gist.github.com/MichaelCurrie/802ce28c993ff2dd632c

[2016-10-21 02:53] gojomo commented on #967
Word2Vec iterates once over your corpus to do vocabulary-discovery (aka `build_vocab()`), then multiple times (controlled by `iter` parameter, default 5) for training. So this output doesn't indicate anything wrong to me, unless it goes on forever. (Does it?)

Also, such questions that aren't necessarily bugs or feature-requests are best discussed on the project forum, https://groups.google.com/fo

[2016-10-21 03:24] markroxor commented on #971
It led to a stalled build because of  #956 as these lines were missing.
`if __name__ == '__main__':`
`     logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.DEBUG)`
`     unittest.main()`
therefore the file test_wikicorpus.py did not return an "ok" when the build passed.

I tried fixing it in #957 . After this merge when I tested it on my VM this outputted "ok"

[2016-10-21 03:51] gojomo commented on #971
I don't believe Travis-CI invokes these tests as individual scripts (where they'd be `__main__`). Also, when failing, often it's only one of the 4 Python versions we use – 2.7 in the cases I've noticed – whereas if this lack of `__main__` handling was the real problem, I'd expect consistent failures.

[2016-10-21 04:09] hiral2cool opened #972 "LDA on Unseen Document"
I have 5 million documents, want to apply LDA on that and system is that another document may be come that are unseen for topic modeling so i do like this

first train model with 5 million docs and save it then if new 1 million document come then i try to use that saved model but so i use 1 million document corpus_new with dict_old that built from 5 million docs
so again and again i did not have t

[2016-10-21 04:18] markroxor commented on #971
Indeed, you are right. Though my solution should have fixed it. Anyways I have lodged an [issue with Travis](https://github.com/travis-ci/travis-ci/issues/6751) already.

[2016-10-21 05:47] markroxor commented on #965
@tmylk we can use pep8 but this will scan the complete repo and while working with the forks I have realised that there are way too many formatting issues. So the Travis build will fail until we rectify them all. So along with pep8 integration do you want that all the errors raised by pep8 should also be fixed under this PR?

[2016-10-21 07:40] loretoparisi commented on #967
@gojomo Thank you I have found it out and solved, I was think it was a bug since times ago there was in the `Word2Vec` init an issue on the generators.

[2016-10-21 07:40] #967 closed

[2016-10-21 09:50] bhargavvader commented on #972
Hello @hiral2cool , this kind of issue would be better served on the gensim [mailing list](https://groups.google.com/forum/#!forum/gensim).

That being said, you cannot perform a topic analysis on new words (words outside the trained dictionary). You don't need to train LDA on unseen documents if you want to find the topic proportions. If you wish to update your model, like mentioned previously, i

[2016-10-21 10:49] whybangbang opened #974 "LSA when get u martix ,how to show associated word for every vector line"
thanks your gensim ,it's powerful
we want to get the relationship between words, so i use lsimodel.projection.u, but u is a martix but not show associated word, how can i get this?

[2016-10-21 11:42] tmylk commented on #965
@markroxor Yes, an initial autopep8 is definitely a part of this PR.

[2016-10-21 12:47] #972 closed

[2016-10-21 13:27] bhargavvader commented on #974
Hello @whybangbang , this kind of question will be better addressed on the gensim mailing list or on gitter.

The github issues page is to report bugs or request features.

[2016-10-21 13:28] tmylk commented on #974
The mailing list is https://groups.google.com/forum/#!forum/gensim

[2016-10-21 13:28] #974 closed

[2016-10-21 13:35] loretoparisi opened #975 "TypeError: don't know how to handle uri True"
I get this error when saving to binary word2vec format my model:

[code]

My script is like:

[code]

The `model.save` works ok.

[2016-10-21 16:38] souravsingh commented on #965
I will be making a PR for autopep8 shortly

[2016-10-21 18:17] hanskrupakar opened #976 "Best way to find the list of words in the same order as syn0"
How do I find all the words present in the syn0 vector without doing a similarity check over a loop as my model has a lot of words?

[2016-10-21 19:48] gojomo commented on #976
Please use the project forum (https://groups.google.com/forum/#!forum/gensim) for questions. (Github issues are reserved for bugs and feature-requests.)

[2016-10-21 19:48] #976 closed

[2016-10-21 19:49] gojomo commented on #971
If my conjecture about how Travis-CI runs the test is right, then your solution couldn't possibly have fixed it, because the added code would not be run/relevant.

[2016-10-21 21:43] gojomo commented on #975
`fvocab` is a filename, not a boolean like the `True` you are supplying. See the doc comment:

https://github.com/RaRe-Technologies/gensim/blob/3b9bb59dac0d55a1cd6ca8f984cead38b9cb0860/gensim/models/word2vec.py#L1108

Please use the project forum, https://groups.google.com/forum/#!forum/gensim, for questions/troubleshooting discussion – Github issues are for bugs and enhancements.

[2016-10-21 21:43] #975 closed

[2016-10-21 22:02] loretoparisi commented on #975
@gojomo sorry typo in the code that was `fvocab= model_name` thank you.

[2016-10-21 23:05] gojomo commented on #975
If you use `fvocab=model_name`, you're supplying the same filename for two different files – the later step (vector dump) will clobber the former (vocabulary dump).

[2016-10-22 13:13] markroxor commented on #945
I am available to take this now. If I am right, it is required to create a hdpmodel tutorial in the [tutorial](https://github.com/RaRe-Technologies/gensim/tree/develop/docs/notebooks) folder?

[2016-10-22 15:06] whybangbang commented on #974
thanks

[2016-10-22 18:40] tmylk commented on #945
The folder is correct. The notebook content is in the main description of this issue.

[2016-10-25 03:37] IoDmitri opened #977 "gensim doc2vec doesn't have the same doc id's in docvecs"
Python version: 2.7.10
Gensim: 13.02

Here is my [SO](http://stackoverflow.com/questions/40230532/gensim-doc2vec-documents-not-found-by-id) post detailing the problem in depth and offering code examples.

[2016-10-25 07:03] dsquareindia commented on #958
This seems to be a problem with pyLDAvis. @mon95 can you please post which version of pyLDAvis you're using?

[2016-10-25 07:22] dsquareindia commented on #958
Sorry but I'm not able to reproduce this error on my machine. Could you please elaborate on how you got this error?

[2016-10-25 07:37] gojomo commented on #977
Answered on SO but also note the project forum is a better place than the bug/feature tracker for asking about or discussing unexpected behavior, unless/until you're more certain it is a bug or missing-feature.

[2016-10-25 07:37] #977 closed

[2016-10-25 08:22] mon95 commented on #958
I'm using version pyldavis 2.0.0.

Also, I'm using a python2.7 kernel. Could you check using python2.7? I found this while testing the ipython notebook files.

Using "Restart and run all cells" while working with the Jupyter Notebook should show this error.

[2016-10-25 08:42] dsquareindia commented on #958
Oh even I did the same thing using the same versions. Strange.... Will look into this.

[2016-10-25 13:49] tmylk commented on #965
Ping @souravsingh

[2016-10-25 14:56] souravsingh commented on #965
Apologies for not responding to the issue. I had to some commitments which came up suddenly and had to travel. I will finish up the issue once I get back( which should be by 28th)

[2016-10-26 13:44] rbahumi opened #979 "WMD Earth mover Distance for sentences that contain a single word return inf"
`import gensim
from reuse import load_model

if **name** == "**main**":
    print "gensim version: %s" % gensim.**version**

[code]

Will   ##output:

[2016-10-26 13:47] rbahumi commented on #979
This is caused by the np_sum(distance_matrix) is equal to 0 when the distance matrix is a 1*1 matrix

[https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py#L1415](url)

[2016-10-26 16:50] mon95 commented on #958
There seems to be a similar issue which may/may not have been resolved completely here [https://github.com/bmabey/pyLDAvis/issues/74](url). And, this is not part of the 2.0.0 release.

Still not sure why the error shows up though.

[2016-10-26 19:12] anmol01gulati commented on #971
Weird thought, but I removed a blank line in testwikicorpus.py file and it works fine now. See PR #980

[2016-10-27 01:03] gojomo commented on #971
@anmol01gulati Interesting! Unsure how that could help; perhaps some odd bit of corrupted cached files being used at Travis-CI?

[2016-10-27 01:35] arjun180 commented on #911
Hello,

I have tried to reproduce the issue and I used the following steps:
[code]
[code]

The potential fix in the [mailing list](https://groups.google.com/forum/#!msg/gensim/kMmLlD9lKGQ/Jur6yWkYIAAJ) suggested that **models_params in lda_dispatcher.py be set to true. Since **models_params refers to a potential list of arguments, I am assuming this means **distributed==True**

Would I be correct

[2016-10-27 18:18] mon95 commented on #958
A similar error has been reported here - https://github.com/bmabey/pyLDAvis/issues/74.
But the fix isn't part of the latest release. Any thoughts? Or should we ignore this for now?

[2016-10-27 18:41] dsquareindia commented on #958
It's strange because I'm not able to reproduce this error. Which version of pandas are you using?

[2016-10-27 19:26] mon95 commented on #958
I'm using pandas 0.19.0.

Also, while testing using python3.5, the cell(s) dependent on Pattern fail because, there's no support for python3 yet.

[2016-10-28 01:11] josepablog opened #981 "WMD Earth Mover distance problems"
I'm not able to successfully run the [sample WMD code](https://radimrehurek.com/gensim/models/word2vec.html#gensim.models.word2vec.Word2Vec.wmdistance):

[code]

This returns 1.25.  This is troublesome because it is more than 1, and because the correct answer should be ~[0.74](http://vene.ro/blog/word-movers-distance-in-python.html)

[2016-10-28 04:39] josepablog commented on #981
Mmm... I've been looking at the code

In word2vec.py

[code]

If I replace it with:

[code]

The return value is 0.75

Do we need to normalize the distance matrix?

[2016-10-28 04:57] josepablog commented on #981
Argh. I just noticed that the blog is deviating from the paper, and this implementation returns the value from the paper.

Though, the code would be simpler if used ```euclidean_distances```

[2016-10-28 04:57] #981 closed

[2016-10-28 07:37] tmylk commented on #981
@josepablog Thanks for your suggestion. We don't have a dependency on sklearn so unfortunately can't use `euclidean_distances`

[2016-10-28 07:41] tmylk commented on #979
Thanks for highlighting this. What would be a better value to return?

[2016-10-28 07:50] tmylk commented on #971
Removing an empty line has helped Travis before. We can't be doing this for every build, so issue is still open.

[2016-10-28 07:57] tmylk commented on #958
This issue should really be raised in pyLDAVis repo. Will close it here if you agree.

[2016-10-28 08:03] mon95 commented on #958
@tmylk Yes, I agree.

[2016-10-28 08:38] dsquareindia commented on #958
hmmm I use pandas version 0.18.1. Yeah you should probably raise this in the pyLDAvis repo and suggest the `np.sort()` fix there if it's working for you. That would really help.

[2016-10-28 09:13] tmylk commented on #907
@markroxor this project is the inspiration http://xarray.pydata.org/en/stable/
You can start by adding the [`readthedocs.yml`](https://github.com/pydata/xarray/blob/stable/readthedocs.yml)

[2016-10-28 10:55] souravsingh commented on #907
@tmylk I made a WIP PR for making use of doctr for deployment of docs to Github Pages here- https://github.com/RaRe-Technologies/gensim/pull/939.

You can check doctr here- https://github.com/drdoctr/doctr

I am against using Read the Docs since we are somewhat limited in terms of what we can show as docs( like showing executable IPython

[2016-10-28 11:04] markroxor commented on #907
@tmylk I was about to send a PR for `readthedocs`. What to do?

[2016-10-28 14:51] tmylk commented on #907
@souravsingh Thanks. How do you suggest we link to the ipynb tutorials instead of RST?
Our doc web-site looks very 90s compared to readthedocs and it doesn't have a side-bar.

[2016-10-28 14:52] #958 closed

[2016-10-28 15:13] tmylk commented on #911
The mailing list fix is that if `distributed==True` in lda_model then it should be true in lda_dispatcher.py.
In your fix it is always true which is not correct.

[2016-10-29 01:49] piskvorky commented on #220
@tmylk is that a note to self, or a suggestion for somebody else to add it?

[2016-10-29 02:11] piskvorky commented on #981
Computing euclidean distances is trivial (one-liner) and should not need any external dependencies or inefficiencies.

@tmylk `.items()` in the code above will create unnecessary lists -- why doesn't this is lazy iteration (via `six` for py2/py3 compatibility)?

And also, since the distance is symmetric (and zero along diagonal), isn't this doing double work?

The whole nested loop looks inefficie

[2016-10-30 10:41] piskvorky commented on #28
LSA topics have no interpretation, so I don't think "coherence" (as in, semantically interpretable topics) makes much sense.

[2016-10-31 07:30] rbahumi commented on #979
@tmylk, thanks for your replay. I suggest it should return float 0.0. If you agree, I have attached a pull request that deals with it. [Please take a look.](https://github.com/RaRe-Technologies/gensim/pull/986)

[2016-10-31 17:35] tmylk commented on #979
How d

[2016-10-31 17:35] #979 closed

[2016-10-31 19:55] gojomo opened #988 "Consider dropping Python 2.6 (and maybe 3.3) support/CI-testing"
Per the '[Status of Python branches](https://docs.python.org/devguide/#status-of-python-branches)' section of the Python Developer's Guide, Python 2.6 reached end-of-life just over 3 years ago (2013-10-29). Having not even received security-related bugfixes, those running it are taking a risk. And, moving to 2.7 isn't that hard. So perhaps, the project should remove 2.6 from the list of 'tested' P

[2016-11-01 06:05] markroxor commented on #934
In the python code using -
`os.environ["PYRO_SERIALIZERS_ACCEPTED"] = 'pickle'`
`os.environ["PYRO_SERIALIZER"] = 'pickle'`

The error `SerializeError: unsupported serialized class: gensim.corpora.dictionary.Dictionary` was eradicated but

`RuntimeError: failed to initialize distributed LDA (connection rejected, reason: message used serializer that is not accepted: 4)`

[2016-11-01 11:49] robotcator commented on #717
Hello, I also think it is nice to provide a nice API to download the corpus. So anyone works on this?
As I often use the text8.zip dataset in my experiment, I write an script to download from the Internet. (https://gist.github.com/robotcator/1fb0cdc1437515f5662d33368554f4c8)

[2016-11-01 18:09] shubham0420 commented on #701
@tmylk I will do this.

[2016-11-02 05:53] Ulitochka opened #991 "Create a cumulative-distribution table."
Hello!

Could you please give a link to paper, with a description of the method, which you use in make_cum_table() ? Because I dont't understand that is "cumulative" in string: cumulative += self.vocab[self.index2word[word_index]].count**power / train_words_pow. Is this a relative cumulative frequency?

[2016-11-02 15:46] souravsingh commented on #907
@tmylk Can we utilize the ipynb tutorials to create a cookbook?

[2016-11-02 23:38] gojomo commented on #446
Since I initially wrote this, I've seen cases where the non-unit-normalized `syn0` is preferable to the unit-normed version. (Sometimes the magnitude of the vectors is relevant, with their magnitude in some sense being an indicator of stron/unambiguous meaning.) Also, some Doc2Vec users only want the model for inference, but others would consider the `doctag_syn0` to be what they want to keep arou

[2016-11-02 23:48] gojomo commented on #991
It is mimicking the calculation in the original word2vec.c code (where the exponentiation softens the difference between words of different frequencies):

https://github.com/tmikolov/word2vec/blob/d83ccfba4dd08f113d5e75d67c9f6cd30f6532c4/word2vec.c#L52

But, in gensim it's been optimized to use less memory. It just stores the indexes where a word's 'draws' begin and end. Thus lookup requires a bin

[2016-11-03 05:41] Ulitochka commented on #991
Thanks for your answer.

[2016-11-04 00:03] bhargavvader opened #992 "Dynamic-NMF in gensim"
[This repo](https://github.com/derekgreene/dynamic-nmf) has a novel implementation of dynamic-NMF which would fit in nicely with gensim. Would be cool to have a gensim version of the same. Wouldn't be too tough because it is already in python!

I've also written a [blog post](https://rare-technologies.com/dynamic-nmf-and-dynamic-topics/) about it previously describing and comparing it and Dynamic

[2016-11-04 05:28] piskvorky commented on #665
@bhargavvader sounds good, thanks!

@tmylk can you add some context to this ticket? What is "Montemurro and Zanette algorithm"?

[2016-11-04 05:30] piskvorky commented on #639
@droudy @tmylk any progress on the finishing touches?

[2016-11-04 05:33] piskvorky commented on #955
Hello @Shabukc , thanks for reporting.

Yes, I'd consider this is a bug -- even the notebooks should be OS independent (using `tempfile` and `os.path.join` properly).

[2016-11-04 05:35] piskvorky commented on #482
@RishabGoel @tmylk any progress?

[2016-11-04 06:52] dsquareindia commented on #278
Can this be closed?

[2016-11-07 06:44] #991 closed

[2016-11-07 11:02] piskvorky commented on #988
2.6: Definitely not; we still have clients that use 2.6.

3.3: Possibly. Probably a good idea to ask the community, since we don't use py3 ourselves.

[2016-11-08 00:34] gojomo commented on #988
I use Python 3 for new projects whenever I have the choice!

Even for deployed/legacy systems still using Python 2.6, perhaps they can just stick with older gensim releases? (If they're actually deploying fresh gensim features there's a good case that they should probably be using a security-patch-supported CPython, too.)

[2016-11-08 08:48] tmylk commented on #958
The issue is with PyLDAVis incompatibility with pandas 0.19. To be fixed in next PyLDAVis release.
As explained in https://github.com/bmabey/pyLDAvis/issues/76 and reproduced by @dsquareindia above

[2016-11-08 16:14] bhargavvader commented on #941
Can this be closed now that the base class is made?

[2016-11-08 16:17] bhargavvader commented on #262
@tmylk does the new base class mean this can be closed?

[2016-11-08 17:18] bhargavvader commented on #937
@dsquareindia could you elaborate on this a bit? What would a fix be?

[2016-11-08 17:40] tmylk commented on #262
Once #996 is done, then this can be closed.

[2016-11-08 17:48] tmylk commented on #945
Ping @markroxor

[2016-11-08 17:51] tmylk commented on #941
The doc has been regenerated  at  https://radimrehurek.com/gensim/models/hdpmodel.html

[2016-11-08 17:51] #941 closed

[2016-11-08 18:23] souravsingh commented on #462
The issue is currently in works in this repo here- https://github.com/souravsingh/sparseutils
Finishing this should also fix #557

[2016-11-08 18:38] tmylk commented on #907
@souravsingh Cookbook would be good. Did you have some specific format in mind? Can you elaborate more?

[2016-11-08 18:38] tmylk commented on #907
Another good documentation example: [Spacy docs](https://github.com/explosion/spaCy/tree/master/website) using jade templates.

[2016-11-08 19:09] souravsingh commented on #907
Something like what is done by Shogun Machine Learning- http://www.shogun-toolbox.org/showroom

[2016-11-08 20:10] dsquareindia commented on #937
@bhargavvader a fix would be adding something like [this](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/ldamodel.py#L205) to the `HdpModel` documentation.

[2016-11-09 04:10] piskvorky commented on #549
Ping @droudy -- any progress on this or #809?

[2016-11-09 09:35] tmylk commented on #549
Latest version is waiting for @gojomo review in https://github.com/RaRe-Technologies/gensim/pull/980

[2016-11-09 09:56] tmylk commented on #907
@souravsingh That looks great way to deal with ipynb. how is it done?

[2016-11-09 10:24] tmylk opened #999 "Loss through each iteration in skip gram"
Keep track of loss and output to log.
Frequent request on the [mailing list](https://groups.google.com/d/msg/gensim/YIA-CaGZZ2Q/f1_Ww0c-BwAJ)

[2016-11-09 13:03] #601 closed

[2016-11-09 13:26] souravsingh commented on #639
@droudy Can you tell me what was the problem with the manylinux repo? Looking here https://github.com/matthew-brett/manylinux-builds/pull/10, it seems there is a problem with scipy build.

[2016-11-09 14:05] dsquareindia commented on #999
@tmylk I'll take this up. Will be able to get to in a while though.

[2016-11-09 14:16] droudy commented on #639
@souravsingh There were issues with several packages failing to build for python 2.6 and 3.3 and the decision was to remove support for python 2.6 and 3.3.

[2016-11-09 17:01] tmylk commented on #639
The latest is in https://github.com/tmylk/gensim-manylinux

[2016-11-10 13:26] tmylk commented on #908
Fixed in https://github.com/RaRe-Technologies/gensim/pull/978/ Just needs better tests

[2016-11-10 13:28] tmylk commented on #901
A new method would be better.

[2016-11-10 13:42] bhargavvader commented on #901
Yeah, #996 implements a new method.

[2016-11-10 15:41] mamamot commented on #955
working on it

[2016-11-10 17:40] tmylk commented on #955
Fixed in #1004

[2016-11-11 10:04] nicoxx opened #1006 "Optimise LdaModel.show_topics performance to only call get_lambda once"
This function calls show_topic for each topic, which calls get_topic_terms which calls self.state.get_lambda().

self.state.get_lambda() call is very expensive, it is not dependent on a topic and can be called once for all.
On my setup (500 topics, 100k words, learned with 500k documents), calling show_topics takes 30sec, with 28sec inside the 500 get_lambda() calls

[2016-11-11 13:15] PeteBleackley commented on #665
Here's a link to a paper describing the algorithm.

https://arxiv.org/abs/0907.1558

[2016-11-11 13:34] #908 closed

[2016-11-12 14:34] shaktisd opened #1007 "Even after installing annoy I am getting the error : ImportError: Annoy has not been installed,"
python annoy.py
Traceback (most recent call last):
  File "annoy.py", line 3, in <module>
    from gensim.similarities.index import AnnoyIndexer
  File "/usr/local/lib/python2.7/dist-packages/gensim-0.13.2-py2.7-linux-x86_64.egg/gensim/similarities/index.py", line 13, in <module>
    raise ImportError("Annoy has not been installed, if you wish to use the annoy indexer, please run `pip install anno

[2016-11-12 15:15] shaktisd commented on #1007
My mistake I was having a file named annoy.py , renaming the file solved the problem.

[2016-11-12 15:15] #1007 closed

[2016-11-13 02:02] parthoiiitm commented on #936
Hi, the problem you are facing is due to pyLDAvis bug. I upgraded to pandas 0.19 and changed this line : https://github.com/bmabey/pyLDAvis/blob/master/pyLDAvis/_prepare.py#L267

to  ```term_ix.sort_values()```. Then I compiled pyLDAvis on my system.  Hope this will help you to some extent.

[2016-11-13 06:29] souravsingh commented on #1006
I would like to work on the issue. How do I start?

[2016-11-13 07:56] tmylk opened #1009 "Move "Pattern not installed" warning from import time to when lemmatization is used"
It confuses many first time users as the warning is the first thing they see when importing gensim.

[2016-11-13 08:06] souravsingh commented on #1009
@tmylk I would like to work on the issue. How do I start?

[2016-11-13 08:23] tmylk commented on #1006
Let's finish your other PRs first @souravsingh :)

[2016-11-13 09:15] tmylk commented on #549
Fixed  https://github.com/RaRe-Technologies/gensim/pull/980

[2016-11-13 09:15] #549 closed

[2016-11-14 10:58] giacbrd commented on #960
I am still developing the code for this PR in https://github.com/giacbrd/ShallowLearn, I hope to start working on the fork ASAP

[2016-11-14 16:55] shashankg7 commented on #1009
@tmylk , @souravsingh . I have fixed this issue. I moved 'has_pattern()' method's pattern installation check to lemmatize method. The warning will only occur when user calls the lemmatization method and if the pattern library is not installed. I also modified the call to "has_pattern" in corpora/wikicorpus's constructor.

Please refer to #1018

[2016-11-14 17:12] danoneata opened #1019 "Segmentation fault when performing online learning for Doc2Vec"
Hello!

I'm performing online learning for `Doc2Vec`, that is, I learn an initial model on a set of tagged documents and try to update the model on a new set of tagged documents. If the second set contains new tags (tags that were not present in the initial set of documents), then I usually get segmentation fault (this behavior is not deterministic, but it happens most of time).

Below you can fin

[2016-11-16 07:18] Sraw opened #1020 "Raise key error when load word2vec model."
[code]

I know what happen but have no idea to solve it.
When I finish training the model, I manually delete some words in the model.vocab object. It works still well at that time. But after trying save and load back, it raise a key error. It seems the model use another attribution/method to deal with the rebuilding of vocab.
I'm not sure the issue is caused by this, but could you implement a safe

[2016-11-16 11:22] olavurmortensen opened #1021 "Summarization and keywords: custom pre-processing and language independence"
It is not possible, at the moment, to pre-process text yourself before applying the summarization module to it. Among other things, this means that you cannot summarize non-english text, even though the model itself is language independent.

As far as I can see, it is only [this line](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/summarization/summarizer.py#L194), that is languag

[2016-11-16 12:22] slavadubrov opened #1022 "model.wmdistance doesn't work after read model"
### System ubuntu 16.04 LTS
### Python 3.5 from Conda

### I have some articles. I downloaded this text and preprocessed with next code:

#### Import libraries

[code]

#### Read and preprocess text

[code]
### After text preprocessing I trained word2vec model

[code]
    CPU times: user 25min 38s, sys: 4.43 s, total: 25min 43s
    Wall time: 7min 56s

### And after training I can measure most sim

[2016-11-16 12:45] #1009 closed

[2016-11-16 14:08] tmylk commented on #1020
Would it be easier to delete the words from the initial training corpus in pre-processing?

[2016-11-16 14:25] flashkari opened #1023 "Problem during use gensim.models and annoy library"
I tried the following code and I got this exception  _**TypeError: 'an integer is required' in <module 'threading' from '/home/xx/anaconda/lib/python2.7/threading.pyc'> ignored**_ .

I do not know I called the _build_from_doc2vec()_ in a wrong way or something is wrong with  [the code](https://github.com/RaRe-Technologies/gensim/blob/699773a78f32ff2c254cf16a586a5d26a08394fe/gensim/similarities/ind

[2016-11-16 16:04] bhargavvader commented on #1006
@tmylk I tried a fair amount to try and fix this but the only solutions which I could think of are not very pretty.

We could maybe have an option to pass the `lambda` values, so instead of calling it within the function each time, the matrix is just passed around and we can pick up the row we need.

The other option is to completely avoid calling `show_topic` in `show_topics`, and just write up c

[2016-11-17 03:17] Sraw commented on #1020
@tmylk that might be a choice, but the structure of vocab is not safe. User can directly delete  the words in vocab, and before reload model from file, it seems work well. But actually not. I think there should be a method to delete the words more safely or just prevent the user from deleting words.

[2016-11-17 14:16] tmylk commented on #1006
The optimised show_topics should not call the show_topic. That is a good solution

[2016-11-18 09:36] tmylk commented on #1022
Please add a INFO-level log. It will show the reasonf for inf

[2016-11-18 09:51] tmylk commented on #1023
@flashkari Correct API from [Annoy Tutorial](https://github.com/RaRe-Technologies/gensim/blob/0c5c5ed9024d8ea89e106ebaf926071b4a3a6654/docs/notebooks/annoytutorial.ipynb) is below. It wraps the correct calls to `get_nns`
[code]
Please let me know if it resolves the issue

[2016-11-18 10:14] tmylk commented on #1020
Word indices are expected to be continuous so agree that deleting from vocab should be prohibited. Do you have an idea for an implementation?

[2016-11-18 13:50] flashkari commented on #1023
Thank you @tmylk .
Yes, it solve the issue.

[2016-11-18 13:50] #1023 closed

[2016-11-18 15:47] tmylk commented on #1019
Vocab expansion for doc2vec is not supported yet so labelled this as a new feature.

[2016-11-19 05:31] Sraw commented on #1020
@tmylk Um... I'm not proficient at python. Just an advice:
[code]
That maybe work, the `safekey` is another reference of item, the "del" method will only delete this reference, but the dict also handles the original reference. But I don't know will the "del" method also release the memory. Or we also need to identify the item's "__del__" method.

[2016-11-20 20:54] JimSEOW opened #1025 "Pattern not available for python 3.5 Win64 Windows"
gensim depends on pattern library for lemmatization to work. Without pattern library, a warning is display
`pattern library is not installed, lemmatization won't be available`

Pattern library can be downloaded from
http://www.clips.ua.ac.be/media/pattern-2.6.zip

I encounter a few errors when install the pattern library for python 3.5 Miniconda Win54 Windows 10

`lib\site-packages\pattern-2.6-py3

[2016-11-21 04:53] ELind77 commented on #1021
I would like to second this request.  I strongly prefer a different pre-processing library (spacy) and being forced to rely on the functions in gensim (which are mostly implemented by the original paper authors as part of their proof of concept) is both slow and produces poor results when compared with better pre-processing.

Back when the paper came out and the module was first added to gensim I

[2016-11-21 04:56] ELind77 commented on #1021
@olavurmortensen I got the keywords function to work on an array of string: https://gist.github.com/ELind77/c7c47d68ac7aa05f1493bc492de7dd5c
The refactor isn't very pretty but it works.  Hope this helps even though it's only half of what you were looking for.

@tmylk Any thoughts on what a real refactor should look like in terms of the code path and return values?

[2016-11-21 13:02] slavadubrov commented on #1022
There is an example of logs after reading pretrained model and  preprocessed data.
### Load and work with model

[code]

    2016-11-21 15:52:55,068 : INFO : loading Word2Vec object from /path/to/model/300features_40minwords_10context_initsims
    2016-11-21 15:52:55,812 : INFO : setting ignored attribute cum_table to None
    2016-11-21 15:52:55,816 : INFO : setting ignored attribute syn0norm to

[2016-11-21 14:05] slavadubrov commented on #1022
And syn0 isn't empty here:

[code]

    array([[-0.03913694, -0.03426806,  0.01580884, ...,  0.05210079,
            -0.03693577,  0.01751983],
           [ 0.00326974, -0.02205359,  0.03564278, ...,  0.09804322,
            -0.12672497,  0.05011716],
           [-0.08086007,  0.03179216,  0.05238753, ...,  0.09354611,
            -0.03497601,  0.0230536 ],
           ...,
           [-0.00155388,

[2016-11-22 18:50] tmylk commented on #1025
Pattern is only [supported](http://www.clips.ua.ac.be/pattern) for Python 2.5 and 2.6
The porting to py3 work is in progress at https://github.com/pattern3/pattern

[2016-11-22 18:56] tmylk commented on #1022
It [seems](https://github.com/RaRe-Technologies/gensim/blob/699773a78f32ff2c254cf16a586a5d26a08394fe/gensim/models/keyedvectors.py#L347) that `vocab` is empty.

[2016-11-22 19:31] tmylk commented on #1021
@ELind77 Actually just Spacy integration would be great and is easier than an abstract refactor. That is the best preprocessing library around and we should direct people to use it.

[2016-11-22 19:33] ELind77 commented on #1021
@tmylk I completely agree the spacy is amazing.  But the gensim code still needs to be refactored to accept user pre-processed text, right?

[2016-11-22 19:38] #795 closed

[2016-11-22 19:38] tmylk commented on #1021
Yes.

[2016-11-22 19:39] tmylk commented on #1021
Or just preprocessing it with spacy inside gensim seems easier and more convenient.

[2016-11-22 19:49] ELind77 commented on #1021
As much as I do like spacy, in my opinion it wouldn't be addressing the key issue at hand, which is user choice.  Maybe someone wants to use Stanford, or ClearNLP, or something none of us have ever heard of.  If that is the case I think gensim should allow that in the same way that it does for all of the other models.  I think it also raises issues for separation of concerns with gensim relying on

[2016-11-22 19:51] tmylk commented on #1021
Agree. It would be a welcome PR.

[2016-11-22 19:56] ELind77 commented on #1021
Cool!

I'd like to volunteer.  I've never contributed to gensim before though.  I've never seen a contributor's guide anywhere or instructions on running (and writing) tests is there a resource for that?  I seem to remember I used doctests to verify when I modified the `summarize_corpus` function for my own uses a while back but I don't really remember any unit tests or anything.

Also, is there a

[2016-11-22 19:58] tmylk commented on #1021
Youa are very welcome! See https://github.com/RaRe-Technologies/gensim/wiki/Developer-page and https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_summarization.py

[2016-11-22 20:06] ELind77 commented on #1021
Great, thank you!  I'll take a look at the guidelines and clone the project tonight and see what I can do.  Not sure how long it will take, but I may have a little time over the Thanksgiving holiday to get some coding done.

I'll post here with any followup questions.

[2016-11-22 21:10] JimSEOW commented on #1025
When I have time, I will try the pattern3 link you have provided. I did not have time to run test on lemmatization. Which test from Gensim should I use to check lemmatization?

[2016-11-22 21:47] dsquareindia commented on #999
@tmylk I've started work on this but just needed some help regarding how to go forward. I was thinking of having an `enable_loss_logging` parameter which will enable a code snippet in `train_sg_pair()` to keep to display loss on the logger. This parameter will be an initialization parameter which be `false` by default. Is this fine?

[2016-11-22 21:50] dsquareindia commented on #278
ping @tmylk

[2016-11-23 11:27] foice opened #1027 "similarity between all the pairs of documents in a subset of my corpus"
Hello,
 I have been able to make an LSI model of 1M of titles of papers and with 200 features seems to give rise to decent/good results for the cosine calculation. The similarity I can compute are obtained from
`sims = index200[query_lsi]` and it takes about 1s to give an output on my poor core2duo.

To be faster and more targeted, now I want to compute similarity between all the pairs of titles i

[2016-11-23 11:27] olavurmortensen commented on #1021
Nice, thanks for picking this up @ELind77!

[2016-11-23 14:30] bhargavvader commented on #945
@tmylk , I was looking up how to maybe do the topic hierarchy, but couldn't find anything.
[This](https://groups.google.com/forum/#!msg/gensim/yHh4JBLPbBo/Mgu4_wYQBAAJ;context-place=searchin/gensim/heirarchy%7Csort:relevance) post, and [this](https://groups.google.com/forum/#!msg/gensim/UWODpcSbnIA/-PsXuOvgAwAJ;context-place=searchin/gensim/heirarchy%7Csort:relevance) ask for the same as well. Is

[2016-11-24 09:58] tmylk commented on #1025
@JimSEOW I would rather wait for the full pattern migration to Python 3 but if you wish to test how your patch is doing in Gensim you can try these two classes where lemmatization is used.

https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_summarization.py and https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_wikicorpus.py

[2016-11-24 10:02] #278 closed

[2016-11-24 10:05] tmylk commented on #999
Sounds good.

Also see https://github.com/RaRe-Technologies/gensim/issues/686

[2016-11-24 10:07] dsquareindia commented on #937
Sorry @bhargavvader I addressed this issue in #1029. Needed a green square too :stuck_out_tongue:

[2016-11-24 10:18] tmylk commented on #1027
Hi foice, first of all [mailing list](https://groups.google.com/forum/#!forum/gensim) is the best place for such open-ended questions.

Best performing (approximate)cosine lookup solution is actually [Annoy](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/annoytutorial.ipynb). It would be a welcome contribution if you could add a "build index from gensim LSI" code to [gensi

[2016-11-24 10:18] #1027 closed

[2016-11-24 10:32] bhargavvader commented on #937
No problem!

[2016-11-24 10:32] #937 closed

[2016-11-24 13:22] bhargavvader commented on #1021
Following this thread, would be nice to have the pre-processing modularised separately!

[2016-11-24 15:29] souravsingh commented on #1025
Currently the pattern3 codebase is not stable. It will take some time for migration to Python 3

[2016-11-25 02:52] piskvorky commented on #1027
I don't see the mailing list thread, so answering here for now:

To compute similarity between all pairs, use the `for sims in index:` syntax (note there is no query, no `index[xyz]`).

To restrict `index` to a subset of your 1M documents, pick the vectors you need and put them into a new, separate index. That will give you the fastest results.

Or if you don't mind approximate results, you can us

[2016-11-25 07:19] slavadubrov commented on #1022
I understood this. But why? And why data preprocessing repairs vocab?
Where in this part of code did it happen?

### Read and preprocess text

[code]

And if I don't use preprocessing and just download the preprocessed data the vocab is empty.
Like this:
[code]

Why? What action repaired the Vocab?

[2016-11-25 23:20] gojomo commented on #999
INFO-logging the loss on each `train_sg_pair()` would lead to an excessive amount of log-lines, an immense slowdown in training, and only affect the pure-Python code-path.

Also, it's probably not what people asking for this want. I suspect what they really want is some form of either (1) total/average loss on one text-example (or over some range of examples) – as a sort of indicator of 'fit to mo

[2016-11-25 23:33] gojomo commented on #1020
It's not enough to delete words from `vocab`; the `index2word` mapping, of slots to words, must be kept in sync with the `vocab` dictionary.

You should ideally take out your words at a point where Word2Vec can adjust to a different vocabulary.  See for example the comment for `build_vocab()`, and how it actually takes 3 separate steps.

https://github.com/RaRe-Technologies/gensim/blob/c2d81874318

[2016-11-26 20:22] dsquareindia commented on #999
@gojomo yes I was also sceptical about the points you mentioned. I saw the tensorflow example implementation of word2vec. It seems they evaluate `nce-loss` which is evaluated on each pair of words. What would be the best way to move forward?

[2016-11-27 15:13] #1006 closed

[2016-11-29 20:26] foice commented on #1027
Thanks for this tip, it is indeed a huge factor faster doing it this way!

Thanks as well for the suggestion about approximate methods, but here I am looking for exact for now. Still might be useful in the future.

[2016-11-30 18:09] dietmar commented on #999
I found this issue while looking for a way to get (2), i.e., cumulative loss after each epoch, in order to decide on the number of epochs and alpha. In my case actually for doc2vec.

[2016-12-01 09:12] dsquareindia commented on #999
@dietmar thanks! @gojomo @tmylk should I start working on this then? Just to confirm, I would need to replicate code on the `.py` and `.pyx` as well to affect both paths right?

[2016-12-01 12:22] tmylk commented on #999
Confirm.

[2016-12-01 16:29] KiddoThe2B opened #1030 "Train Word2Vec in multiple batches"
Hi, I am looking forward to train a word2vec model with a vast corpus of documents (approximately 250GB). The machine which will accommodate the experiments has 128GB RAM, so it is impossible to train the model at once.

I had the same issue in the past with less data and I found this blog post (http://rutumulkar.com/blog/2015/word2vec), which suggested a solution, but it was not part of the main

[2016-12-01 16:32] JimSEOW commented on #1025
@tmylk I git clone https://github.com/pattern3/pattern; python setup.py develop in MiniConda py3.5 Win64
=> First problem: pypiwin32
=> I downloaded [pypiwin32-219-cp35-none-win_amd64.whl](https://pypi.python.org/pypi/pypiwin32)
=> pip install pypiwin32-219-cp35-none-win_amd64.whl
=> repeat python setup.py develop with pattern3
=> Install works ok

FYI: I have not done all test yet!

![application

[2016-12-01 16:59] tmylk commented on #1030
Hi @KiddoThe2B,

such an open question is better suited for the [mailing list](https://groups.google.com/forum/#!forum/gensim)

[2016-12-01 16:59] #1030 closed

[2016-12-01 17:00] tmylk commented on #1030
Also see https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/online_w2v_tutorial.ipynb

[2016-12-01 18:31] gojomo commented on #1030
There's no need for using the vocabulary-expansion (kinda-but-not-really 'online') 'update' feature. Gensim doesn't require all documents to be in RAM - just a corpus that is 'Iterable', and thus can present all its examples each time Word2Vec needs them. (Once for build_vocab, then again `iter` times for training.) You should be able to change or replace your `DataLoader` class to only stream exa

[2016-12-01 18:36] gojomo commented on #999
A cumulative loss per epoch seems useful (if not too much of a performance drag), but it may be useful to keep looking for other expressions of this need/capability to understand what people really want. (IIRC the fasttext running-loss display updates more frequently than once-per-pass, but not after every example...)

[2016-12-01 18:43] KiddoThe2B commented on #1030
So you suggest to build a dictionary object from the whole corpus on my own, then call build_vocab() once and finally call train multiple times with different data from disk?

[2016-12-02 01:16] piskvorky commented on #1030
@KiddoThe2B see https://rare-technologies.com/data-streaming-in-python-generators-iterators-iterables/ .

Like Lev said, not a bug and more suited for the mailing list.

[2016-12-02 06:58] CasiaFan opened #1031 "Remove update argument from scan_vocab() in Word2Vec as it is not used"
I find the argument update  is accepted as an input of scan_vocab() function (word2vec.py, line 528), but it doesn't appear inside the function body. So it seems this argument doesn't make any sense for scan_vocab(). Is it a bug or argument update will be discarded?

[2016-12-02 08:36] gojomo commented on #1030
@KiddoThe2B - No, make your corpus stream item-by-item from disk as an 'Iterable' object. Ask on list if you need more clarification.

[2016-12-02 10:50] KiddoThe2B commented on #1030
I read all suggested links, then I just renamed ` load_corpus()` into ` __iter__() ` and replaced `sentences.append(sentence)` with `yield sentence` in my DataLoader class and it works like a charm!

So I figured out the problem, it seems everything is fine. I had to ask for support in the mailing list, but I'll keep in mind for the future.

Last question: _Does lazy loading from iterable objects

[2016-12-02 11:40] tmylk commented on #1031
Agree that this argument should not be present in `scan_vocab`. Thank you for reporting it!

[2016-12-02 12:06] john-jh-lee opened #1032 "GenSim install failure"
Hi all,

I've been trying hard to install and use GenSim but without any success. I first installed Python 3.5.2 (64). I then downloaded gensim 0.13.3 (win64) py3.5 and executed it but I always get the following prompt: "Cannon install - Python version 3.5-32 required, which was not found in the registry"

Any help welcome. Thank you very much!

[2016-12-02 13:06] tmylk commented on #1032
Hi, thanks for reportig it.
Which file and from where did you download it?
The gensim is on pypi https://pypi.python.org/pypi/gensim

[2016-12-02 13:28] john-jh-lee commented on #1032
Hi, thanks for the reply. Yes I'm familiar with the link you sent me, and I had downloaded and attempted to install the following from that link:
gensim-0.13.3.win-amd64-py2.7.exe (md5)
gensim-0.13.3.win-amd64-py3.5.exe (md5)
gensim-0.13.3.win32-py2.7.exe (md5)
gensim-0.13.3.win32-py3.5.exe (md5)

[2016-12-02 13:30] tmylk commented on #1032
can you try installing gensim with pip as in `pip3 install gensim`

[2016-12-02 13:32] john-jh-lee commented on #1032
Please forgive my ignorance. Where do I type that pip command? In Windows command prompt, or in Python IDE?

[2016-12-02 13:34] tmylk commented on #1032
That is ok. Please see this[ guide](https://docs.python.org/3/installing/) to installing python packages on windows

[2016-12-02 13:34] #1032 closed

[2016-12-02 13:35] john-jh-lee commented on #1032
Thank you so much!

[2016-12-02 19:20] markroxor opened #1034 "Cannot make ldaseqmodel.py as part of CI"
In PR https://github.com/RaRe-Technologies/gensim/pull/982 the example notebook `ldaseqmodel.ipynb` was converted to a python file `ldaseqmodel.py` so that it can be made part of Travis continuous integration using sphinx-gallery and be checked for any errors/inconsistencies but as can be seen in line 1613 of the [travis output.](https://travis-ci.org/markroxor/gensim/jobs/179994004#L1613) The lda

[2016-12-02 19:21] markroxor commented on #1034
@bhargavvader. Help requested.

[2016-12-03 01:39] piskvorky commented on #1030
No problem. Re. your question: use the mailing list.

[2016-12-03 17:02] loretoparisi opened #1035 "Gensim Word2Vec model Export in TSV for Google's Embedding Projector Visualizer"
I'm using gensym [Word2Vec](https://radimrehurek.com/gensim/models/word2vec.html) module to build a linguistic model of text documents.
I've recently found the the Google's Embedding Projector described in [here](https://www.tensorflow.org/versions/master/how_tos/embedding_viz/index.html) and that looks like the attachment depicted here showing as an example of the word embedding [PCA](http://seto

[2016-12-04 01:46] piskvorky commented on #1035
My suggestion would be to store the model in the word2vec *text* format (not binary).

Then write a script that takes this word2vec text format as input, and transforms it into whatever format your other tool needs (TSV) on output.

This will allow you to use your script on models created by other word2vec tools which share the same text format as gensim, such as the original C implementation.

[2016-12-04 02:40] tmylk commented on #1035
@loretoparisi Thanks. This is a very useful feature suggestion. Being able to view gensim embeddings in the visualiser would be great!
cc @parthoiiitm

[2016-12-05 06:45] piskvorky commented on #955
@tmylk ping.

[2016-12-05 07:55] #955 closed

[2016-12-05 13:29] parulsethi opened #1037 "Embedding model's accuracy doesn't consider the whole vocab in fasttext comparison tutorial"
In [Word2Vec_FastText_Comparison](https://github.com/RaRe-Technologies/gensim/blob/ba1ce894a5192fc493a865c535202695bb3c0424/docs/notebooks/Word2Vec_FastText_Comparison.ipynb), `acc = model.accuracy(questions_file)` doesn't consider whole vocab for models trained on large datasets (as default is upto 30000, ex. vocab size is approx. 71290 for text8), which considerably effects accuracy.
`acc = mode

[2016-12-05 14:31] tmylk commented on #1037
cc @jayantj

[2016-12-05 15:41] jayantj commented on #1037
Thanks for pointing that out, good observation. Could you elaborate a little bit more on what you discovered about the effect of max vocab size on accuracy?

From what I have seen, choosing a larger value causes a significant drop in the accuracy, since the vectors for words beyond the first 30k are used too, which expands the set of "questions" answered, and they are mostly incorrectly answered,

[2016-12-05 15:46] loretoparisi commented on #1035
@tmylk thanks the idea could be to have a `save`api that writes down this `TVS`file like `model.save_word2vec_tsv_format`. I'm pretty sure that this could be done as @piskvorky described above and I will try something like that, but I'm not so deep inside gensym at this time to know how do to that, but I will try something and update here.

[2016-12-05 17:17] parulsethi commented on #1037
Oh yes. I missed the total testdata considered, and compared it to some other evaluation scheme(that doesn't skip OOV words).
Sorry!

[2016-12-06 05:57] piskvorky commented on #1035
Oh, I didn't realize this was a feature request. Adding "wishlist" and "easy" labels.

I don't think this should be a model method though. Such format conversion tools are better served as stand-alone CLI scripts, without polluting gensim core. Have a look at the [existing "glove-to-word2vec" converter](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/scripts/glove2word2vec.py) for

[2016-12-07 12:33] methodds opened #1038 "Structural Topic Models in gensim"
Hi,

I already talked with Ólavur about this and would like to suggest adding [Structural Topic Models]('http://www.structuraltopicmodel.com/') to gensim. ``STM``'s are basically (besides other things) a generalization of author topic models, where topic proportions are affected by covariates like time, author, or other attributes. The model is becoming increasingly dominant in the world of comput

[2016-12-09 16:59] olavurmortensen commented on #1038
@methodds Do you know how the STM relates to supervised Latent Dirichlet Allocation (sLDA)? It sounds to me like they achieve a similar goal, but in quite different ways. sLDA is already on the wishlist for Gensim.

[2016-12-09 17:08] methodds commented on #1038
To be honest I have never heard of sLDA yet, so I can't give you any details on that.

[2016-12-12 09:06] loretoparisi opened #1041 "UserWarning: Pattern library is not installed, lemmatization won't be available."
I have installed latest `gensim` on `macOS Sierra` latest through `virtualenv` and python `2.7.10`

[code]

[2016-12-12 12:34] masoudkavianipartotech opened #1042 "DTM, raise error, returned non-zero exit status 127"
I write a code to determine DTM model with: https://radimrehurek.com/gensim/models/dtmmodel.html
I use ubuntu 14.04 64bit, and i use dtm-linux64 for DTM model,
but then I want to run the code, it will run an error as follow:

raise error
subprocess.CalledProcessError: Command '['/python-apps/f2/app/../assets/dtm-linux64', '--ntopics=1000', '--model=dtm', '--mode=fit', '--initialize_lda=true', '--c

[2016-12-12 14:46] prakhar21 opened #1043 "Multicore Loader"
Hi, I am trying to load google pre-trained word vectors in gensim.
I am using `gensim.models.Word2Vec.load_word2vec_format(model_path, binary=True)`
But it is taking long time to load. I can see only one thread is being used during load. Can we fasten this process anyhow ?

[2016-12-12 19:05] ankit-cliqz commented on #713
@tmylk  Unfortunately, not! The deep-dist version doesn't seem to work. Any update on your end?

[2016-12-12 20:29] piskvorky commented on #960
@giacbrd any progress on the PR? Cheers.

[2016-12-12 21:23] piskvorky commented on #907
Yeah, looks cool. Any progress on this @tmylk @souravsingh ?

The current situation with web vs notebooks is confusing (and extra work for maintenance).

[2016-12-12 21:25] piskvorky commented on #1041
Hello, and what exactly do you need, what are you reporting?

Have a look at this discussion: https://groups.google.com/forum/#!searchin/gensim/pattern%7Csort:relevance/gensim/a4HxyUCFddE/Bbv-pjb-AwAJ

[2016-12-12 21:28] piskvorky commented on #857
@bhargavvader @tmylk status here? I see some data files have been merged, but have the notebook instructions been updated?

[2016-12-12 21:30] piskvorky commented on #824
Hi @glenn124f , sorry, I guess @tmylk missed your response.

Are you still interested in working on this? CC @gojomo for API opinion.

[2016-12-12 21:31] piskvorky commented on #691
@tmylk status?

[2016-12-13 06:29] amr1tv1rd1 opened #1044 "Unable to load .bin file"
I get this error whenever trying to load .bin file in word2vec model

` File "/usr/local/lib/python2.7/dist-packages/gensim/models/word2vec.py", line 1211, in load_word2vec_format
    weights = fromstring(fin.read(binary_len), dtype=REAL)
ValueError: string size must be a multiple of element size
`
Kindly guide me what would be the possible cause of this

[2016-12-13 08:06] piskvorky commented on #911
@tmylk Isn't it enough to replace `if doc` with `if len(doc) == 0`? That should work both for lists and numpy arrays.

I remember there were some changes around the `as_numpy` parameter in `chunksize`, and this bug may be related.

[2016-12-13 08:08] piskvorky commented on #665
@tmylk ticket context still missing, update.

[2016-12-13 08:52] loretoparisi commented on #1041
@piskvorky I supposed that `pattern` was in the `gensim` pip requirements like `numpy` etc. So I have added manually to requirements.txt. Thanks closing this.

[2016-12-13 08:52] #1041 closed

[2016-12-13 09:07] nishnik commented on #965
I think this issue is solved, isn't it ?

[2016-12-13 09:12] piskvorky commented on #1022
@tmylk ping

[2016-12-13 09:53] souravsingh commented on #907
@markroxor wants to work on the documentation website.

[2016-12-13 11:08] giacbrd commented on #960
I am going to release a more stable model on my project, before Christmas, then I can port it in Gensim, it should be "easy"!
Cheers

[2016-12-13 12:25] piskvorky opened #1045 "PyPI misformatted"
Changes in [this commit](https://github.com/RaRe-Technologies/gensim/commit/c746b7c2d13c422f5abb16d29b9cf671b6f753e6) messed up the way gensim displays at PyPI: https://pypi.python.org/pypi/gensim

PyPI expects README in .rst format, not .md.

Why did that change happen? Please revert.

[2016-12-13 12:36] nishnik commented on #692
For *Raise warning if mismatch in expected count for train() and actual.*, correct me if I am wrong.
In word2vec.py
[code]
We have to add an `else` and do the checks.
Or please guide me through.
Thanks.

[2016-12-14 10:40] loretoparisi commented on #1035
@piskvorky @tmylk a possibile approach - if we are looking at the right tensors data - seems to be

[code]
that will write down the requested metadata and the tensors tsv files.

If you confirm this, we could add a script like that.

[2016-12-14 11:41] olavurmortensen commented on #1038
I looked a bit into STMs to try to understand it. From what I understand, the use case of STMs is where you have metadata attached to your documents and you want to leverage your topic model by including this metadata. The model then generates topic distributions from a logistic-normal generalized linear model based on the metadata (covariates of the document).

Is this correct?

sLDA has a differ

[2016-12-14 11:55] methodds commented on #1038
Hi,
yes I think your  interpretation  of ``STM`` is correct. Combining ``STM`` and ``sLDÀ`` also seems like an interesting idea, although I think this is already kind of covered in ``STM's`` ``estimateEffect()`` function. You can find more about this in the [vignette](https://cran.r-project.org/web/packages/stm/vignettes/stmVignette.pdf)  at page 14 : *Estimating metadata/topic relationships*.

[2016-12-14 12:07] olavurmortensen commented on #1038
That's pretty cool. You just have to plug your trained STM and a regression formula into [estimateEffect](https://www.rdocumentation.org/packages/stm/versions/1.1.3/topics/estimateEffect). It is also much more general than sLDA because you can use any regression formula you like.

[2016-12-14 12:14] methodds commented on #1038
Yes it is super awesome, by far my favorite R package. From my personal experience though this gets problematic if you estimate effects for a lot of topics and have a large vocabulary + a large number of documents because you get a huuuuuge dense matrix of coefficients.

[2016-12-14 12:34] olavurmortensen commented on #1038
Do you know which parameter in the model is causing computational problems, in particular?

By the way, I'm having trouble finding useful literature on STMs. None of the papers about the model that I find describe the inference algorithm. There is the [vignette](https://cran.r-project.org/web/packages/stm/vignettes/stmVignette.pdf) description of the R package, the [NIPS 2013](http://scholar.princ

[2016-12-14 12:47] methodds commented on #1038
No sorry I don't know that, but you should contact [Brandon Stewart](https://sociology.princeton.edu/faculty/brandon-stewart), the person responsible for the R code of this package. He is a very nice guy and I'm sure he would be able to send you a document which better suits your needs for reconstructing how the inference algorithm works ;-)

[2016-12-14 13:14] olavurmortensen commented on #1038
Nice, thanks @methodds :)

[2016-12-14 16:17] mattilyra opened #1046 "random slice of mm corpus broken on conda?"
I think there's an issue with the `conda` package of 13.3 - I can't take a random slice of an `mm` corpus

    corpus = gensim.corpora.MmCorpus('./corpus.mm')
    corpus[np.asarray([4, 10, 3, 16])]

fails with an error

    677         previd, document = -1, []
    678         for line in fin:
--> 679             docid, termid, val = line.split()
    680             if not self.transposed:
    681

[2016-12-15 11:11] nishnik commented on #692
ping @gojomo @tmylk

[2016-12-15 22:58] piskvorky commented on #1031
@gojomo thoughts?

[2016-12-17 02:26] fann1993814 opened #1048 "Wrapper for LDA form MALLET have a bug in convert format"
I cannot using the ldamallet to run LDA, so i check the code in gensim.
I found the function "convert_input" in ldamallet.py.
I think it will generate a proper format for mallet.

In line 147
cmd = self.mallet_path + " import-file --preserve-case --keep-sequence --remove-stopwords --token-regex '\S+' --input %s --output %s"

this code maybe result in wrong format.
So I found the problem happen fro

[2016-12-17 05:57] gojomo commented on #692
I believe both the check-mark to-dos added by @tmylk when re-opening this issue have or are already being addressed elsewhere:

warn if load()-on-instance: #889

warn if mismatch in provided/expected example counts: https://github.com/RaRe-Technologies/gensim/commit/aa8a9cd7902b411cfa2b3cb0f82707103ba03ff2

Since the issue-in-the-title (warn-if-single-characters) is fixed, I'd consider this issue

[2016-12-17 13:34] markroxor commented on #1035
I would like to implement this. @loretoparisi can you guide through?

[2016-12-17 22:07] parulsethi commented on #1037
It may be useful to make mention of `restrict_vocab` parameter in tutorial, but not changing it for the evaluation code.
Otherwise, we can close this issue I guess.

[2016-12-18 15:12] loretoparisi commented on #1035
@markroxor Well I'm waiting for a confirmation by @piskvorky then I will send the PR to put the script in `gensim/scripts/` with instructions to build, but let's wait them before!

[2016-12-18 18:12] souravsingh commented on #1046
I think the conda recipe for Gensim is quite old and hasn't been maintained for quite some time. We are looking to push the recipe though conda-forge channel, which should help in maintainance.

[2016-12-19 17:53] tmylk commented on #1035
@loretoparisi Thanks, the approach is right. Looking forward to the script.

[2016-12-19 18:26] tmylk commented on #965
@nishnik It was moved to #973 by @souravsingh
your help in incorporating [the coala suggestions](https://travis-ci.org/RaRe-Technologies/gensim/jobs/179541619) into the code would be very welcome

[2016-12-19 18:32] #1031 closed

[2016-12-20 16:47] bhargavvader commented on #1034
This can be fixed by maybe using a much smaller sample corpus; but would that mean the notebook would have to be changed accordingly? Like with all the examples and all.

[2016-12-20 17:21] bhargavvader commented on #857
I've included the necessary data files and mentioned it requires basic pre-processing, and linked to basic [gensim pre-processing](https://radimrehurek.com/gensim/tut1.html#from-strings-to-vectors). I haven't included detailed instructions on the pre-processing.

[2016-12-20 17:21] bhargavvader commented on #1042
Running `['/python-apps/f2/app/../assets/dtm-linux64', '--ntopics=1000', '--model=dtm', '--mode=fit', '--initialize_lda=true', '--corpus_prefix=/tmp/561a27_train', '--outname=/tmp/561a27_train_out', '--alpha=0.01', '--lda_max_em_iter=10', '--lda_sequence_min_iter=6', '--lda_sequence_max_iter=20', '--top_chain_var=0.005', '--rng_seed=0']` (with the `,` and `'` removed) in the terminal will tell you

[2016-12-20 17:32] markroxor commented on #1034
That is Lev's call.
@tmylk

[2016-12-20 19:05] loretoparisi commented on #1035
@tmylk super! I have sent the PR, https://github.com/RaRe-Technologies/gensim/pull/1051

[2016-12-20 20:26] tmylk commented on #1034
A smaller corpus would be better for a notebook. A link to a bigger corpus should be mentioned but not used.

[2016-12-21 00:11] bhargavvader commented on #1034
Agreed, but in DTM a bigger corpus better demonstrates evolution of topics in time-slices. One other possibility is loading a pre-trained `ldaseq` model on the larger dataset, and commenting out the code which actually trains the model.

This way users can still see how to train the model, but the actual code being run will be just loading a model.

[2016-12-21 02:13] tmylk commented on #1034
Loading a pre trained model is a great idea.

[2016-12-21 17:54] bhargavvader commented on #1034
Okay, will do this when I get some time!

[2016-12-21 22:44] tmylk opened #1052 "Make Word2vec multiple passes more explicit"
As discussed on [the mailing list](https://groups.google.com/forum/#!searchin/gensim/fat$20warning%7Csort:relevance/gensim/0GVxA055yOU/5m2jwfdBBAAJ)

[code]

[2016-12-22 06:24] SND96 commented on #1052
@tmylk  Would like to work on this issue.

[2016-12-22 21:31] tmylk commented on #853
Fixed in #1039

[2016-12-22 21:31] #853 closed

[2016-12-24 00:43] mzduchon opened #1057 "doc2vec unique tags incorrect"
When creating TaggedDoccument, I figured I would use the ID that I already have for the document.
e.g. TaggedDocument(text.split(), [ID])
However, since the ID is an integer, it seems to be assuming that there are that many "unique" documents in the collection: (where the max ID that is seen = 14102100085)

[code]
Which gives an out-of-memory error -- that's a lot of bytes!

most tutorials seem to

[2016-12-24 09:03] markroxor opened #1058 "cannot import Dictionary from gensim.corpora"
while importing `Dictionary` via `from gensim.corpora import Dictionary` in python 2.7 I get the following error -

  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/gensim-0.13.3-py2.7-linux-x86_64.egg/gensim/__init__.py", line 6, in <module>
    from gensim import parsing, matutils, interfaces, corpora, models, similarities, summarization
  File "/usr/local/lib

[2016-12-24 09:08] markroxor commented on #1058
I messed up the installation. Closing this.

[2016-12-24 09:08] #1058 closed

[2016-12-24 23:00] gojomo commented on #1057
Yes, this is a known and intentional behavior. If you want to use raw integers as the document-tags, they should start from 0 and be contiguous, so they can be indexes into a compact numpy array.

This is an optimization that lets users capable of using such IDs save a lot of memory, versus the alternative where non-contiguous IDs (such as arbitrary strings or sparse integer indexes) require an ex

[2016-12-25 07:08] TamouzeAssi opened #1059 "Problem in generating the TFIDF Model"
Hello,

Thank  you in advance for your help. Im new in using gensim.  My problem is, when i transform my corpus to tfidmodel. More precisely, i create a corpus as noted in the tutorial, and i used tfidf to convert it to TFIDF model.

The information concerning my corpus is:
MmCorpus(3 documents, 3 features, 7 non-zero entries).
The vectors corrponding to the documents are:
document1: [(0, 1.0), (1

[2016-12-25 11:22] tmylk commented on #1059
Hi @TamouzeAssi ,

The zeros are [omitted](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/tfidfmodel.py#L156) from TfIdf output.

Let's continue this question in the [mailing list](https://groups.google.com/forum/#!forum/gensim) where this quesiton is more appropriate.

[2016-12-25 11:22] #1059 closed

[2016-12-25 12:37] tmylk opened #1060 "OSX Python3.5 test failure loading pre-KeyedVectors"
See [build log](https://travis-ci.org/MacPython/gensim-wheels/jobs/186640404)

[code]

[2016-12-25 15:24] TamouzeAssi commented on #1059
Hi @tmylk,

The zero in my qiuestion is the feature zero. I know when the idf of any feature is zero this feature will not displayed.

but in my  question isnt my case

[2016-12-27 03:50] piskvorky commented on #1048
Hi @fann1993814 , the code has worked for me.

Is there anything special about your setup? Are you maybe using windows? (the single/double quotes may work differently there, I'm not sure)

[2016-12-27 04:42] fann1993814 commented on #1048
@piskvorky
Thanks for your reply!

I don't have anything wrong or warning in setup.
My environment is Windows 10 and other package is:
Python 3.5
mallet 2.0.7
JDK 8.0.77
numpy 1.11 (installed form http://www.lfd.uci.edu/~gohlke/pythonlibs/)

The single quotes cannot run mallet wrapper in my environment, so I replace single quotes to double quotes, and then it can work.

[2016-12-27 14:43] bhargavvader commented on #952
Added appropriate tests in #1055. Can this be closed?

[2016-12-27 14:44] bhargavvader commented on #901
@dsquareindia can this be closed? #1055 fixes this.

[2016-12-27 14:46] #952 closed

[2016-12-27 14:46] markroxor commented on #952
Thanks. :)

[2016-12-28 04:11] piskvorky commented on #1045
@tmylk still broken in the new release.

[2016-12-28 14:05] tmylk commented on #1048
Hi @fann1993814

May I ask you to update to the latest version of Gensim from PyPi or from github?

This quote issue was [fixed](https://github.com/RaRe-Technologies/gensim/blob/d7c1055570107e8288a9b5f72506a2f525d3a917/gensim/models/wrappers/ldamallet.py#L147) in this [PR](https://github.com/RaRe-Technologies/gensim/pull/1005/files#diff-220ca1b82d4f1c42d8f4432ff3a2a6ccL148).

[2016-12-28 14:05] #1048 closed

[2016-12-28 14:12] tmylk commented on #1045
Readme was changed to markdown when we were moving Changelog to MD format based on your request. Should I revert it?

[2016-12-28 18:12] mzduchon commented on #1057
I think it was the word "unique" that threw me off, so you might just explicitly call it the max tag ID.   A warning might be shown for whenever the the number of tags greatly exceeds the number of documents, though I understand multiple tags can be used so it doesn't need to be 1-1, but more than 2-to-1 might be a warning, with more than 100-1 actually throwing an error.   In any case, I greatly

[2016-12-28 18:20] jasonMorri90 opened #1063 "Finding the nearest neighbor - performance issue."
Hi...I am very new to machine learning and python. Here is my python code for finding the nearest neighbor.

----------------------------------------------

from gensim import corpora
from nltk.corpus import stopwords
import gensim, os
from gensim.models.word2vec import Word2Vec
import numpy
numpy.version.version

class MyText(object):
    def __iter__(self):
        for line in open("Desktop/spli

[2016-12-28 20:53] tmylk commented on #1063
Hi @jasonMorri90, this open-ended question is better suited for the [mailing list](https://groups.google.com/forum/#!forum/gensim).
Please post there with the log output. Also, which part of the code takes 45 mins? Can you post the how long it takes to run each line? You can use the `%time%` command in Jupyter notebook for that.

[2016-12-28 20:53] #1063 closed

[2016-12-28 21:04] tmylk commented on #1060
Ping @anmol01gulati

[2016-12-28 21:06] tmylk commented on #665
@piskvorky Could you please suggest a way to add context? The context is clear to me, with relevant links. There is even a volunteer contributor.

[2016-12-28 22:03] tmylk commented on #1044
What do the weights look like in the `bin` file? It should be a valid input into [fromstring](https://docs.scipy.org/doc/numpy-1.4.x/reference/generated/numpy.fromstring.html)

[2016-12-29 00:54] jasonMorri90 commented on #1063
Will do, thanks @tmylk

[2016-12-29 08:25] piskvorky commented on #1058
How did you mess it up?

Please provide some context/fix, in case other people google up this issue in the future.

[2016-12-29 10:18] markroxor commented on #1058
I installed tensorflow with gpu support via pip. I wasn't able to import gensim at all after that. I quickly terminated the aws instance and started afresh, it was working fine then.

[2016-12-29 11:35] LvanderGoten opened #1064 "Unpredictable ZeroDivisionErrors in direct_confirmation_measure"
Hi guys,

first of all a big thank you for your tremendous work.
I am trying to train a LdaMulticore model guided by a coherence measure (UMASS). However I face the following problem:

- A ZeroDivisionError is thrown sporadically (both with the training and test set set, but definitely more frequently with the latter one). This makes it impossible to compare the coherence measure over a range of n

[2016-12-29 16:13] tmylk commented on #1064
Cc @dsquareindia

[2016-12-30 05:15] piskvorky commented on #1045
PyPI needs .rst.

Also, the "mailing list" badge could be useful, ala https://github.com/rasbt/deep-learning-book

[2016-12-30 16:52] piskvorky commented on #1060
Is this `unpickle` broken in general, or just for this specific Word2Vec scenario?

What is `UserList`?

[2016-12-30 16:54] piskvorky commented on #1058
Hmm, I don't see the connection. We certainly don't want TensorFlow to be an anti-dependency for gensim.

@tmylk @gojomo any ideas?

[2016-12-30 17:42] #1037 closed

[2016-12-30 20:02] anmol01gulati commented on #1060
I found this to be a pickle issue with distinct python versions. Similar [issue](https://github.com/mps-youtube/mps-youtube/issues/366) in mps-youtube.

On searching deeper, It's an issue with pickle, it creates incorrect pickle between different Python 3.x versions. So, it works fine loading py3 pickled files in py2 and vice-versa, but fails in between py 3.x versions. See: [https://bugs.python.o

[2016-12-31 01:39] parulsethi opened #1068 "Embeddings comparison blog: request for feedback"
@gojomo @akutuzov, I am writing this [blog](https://docs.google.com/document/d/1sVLCRlf1_Msoi7sd6byRmB5EYxOz9cEkCgdD49-Qw68/edit?usp=sharing) for the RaRe Technologies Incubator programme comparing wordrank, word2vec and fasttext. This is the corresponding ipynb
https://github.com/parulsethi/gensim/blob/wordrank_wrapper/docs/notebooks/Wordrank_comparisons.ipynb. It would be great to have your opin

[2016-12-31 11:10] markroxor commented on #1058
Anyways the issue traced back to the wordrank wrapper. but it has been removed in recent commits. I think this issue won't arise again.

[2016-12-31 13:20] tmylk commented on #1068
CC @anmol01gulati

[2016-12-31 13:29] tmylk commented on #512
Update: new algo from https://linis.hse.ru/data/2016/12/08/1111900182/Parallel%20Non-blocking%20Deterministic%20Algo..ine%20Topic%20Modeling%20%D0%90%D0%BF%D0%B8%D1%88%D0%B5%D0%B2,%20%D0%A4%D1%80%D0%B5%D0%B9.pdf

[2016-12-31 13:31] tmylk commented on #1058
Confirm that @markroxor has diagnosed this issue correctly. No action needed.

[2016-12-31 13:35] tmylk commented on #1060
We do support python 3.4. A PR with that fix will be very welcome.

[2016-12-31 13:59] tmylk commented on #691
Hi @NareshPeshwe are you still interested in working on this?

[2016-12-31 14:03] tmylk commented on #713
@ankit-cliqz We don't have a gensim - Spark integration yet. However Tensorflow or DL4J might have a distributed/GPU version of doc2vec.

[2016-12-31 14:08] NareshPeshwe commented on #691
@tmylk  Nope.

[2016-12-31 14:28] tmylk commented on #1043
Hi @prakhar21 the loading is indeed single-threaded. Could you please describe your use case more and your need for the speed up? It will be quite complicated to speed it up. In my experience it is a run-once operation so performance wasn't important.

After loading the model once you can save it in KeyedVecs format to disk and then just memorymap  from disk to avoid loading into memory. Also, if

[2016-12-31 17:09] piskvorky commented on #1058
So what was the actual issue?

[2017-01-01 10:18] piskvorky commented on #1043
I also think the loading should be IO bound, so multiple cores wouldn't help much.

It will certainly be the case if you use memory-mapping -- the loading from disk should be as fast as your OS allows then.

If `load(mmap')` is fast, but `load_word2vev_format` is slow, then we can think about speeding it up. But looking at the code, there's not a whole lot that can be done, at least not without de

[2017-01-01 21:43] tmylk commented on #1058
The issue was that `subprocess32` library was not being imported in Python 2.6 in setup.py. This issue was stopping the develop build. It will not arise again because PRs with failed builds will not be merged to develop.

[2017-01-02 06:49] jayantj commented on #512
BigARTM has an existing (Python interface](https://github.com/bigartm/bigartm#interactive-python-interface).
I haven't looked into how extensive the API is though.

[2017-01-02 15:37] prakhar21 commented on #1043
Hi @tmylk @piskvorky  my use-case is simply loading word embeddings from google vectors or glove, and using them to enrich the text given to me with the help of them along with some extra text features. So, loading glove (common crawl) is eating up 5-6GB of my memory and that too the loading is very slow. So, i was wondering any work around for this problem. I am not very sure of memorymap, will h

[2017-01-02 19:22] gojomo commented on #1043
Is the loading causing virtual-memory swapping? That'd cause slowness, and even after loading, any of the most-similar operations that require full-scans would continue being slow. (And, using `mmap` might avoid some premature disk-IO, but would still be slow on full-scans over an array that can't be fully in RAM.)

If this is the problem and you can't get more RAM, maybe you can work with just a

[2017-01-03 11:45] tmylk commented on #1068
@parulsethi Thanks, the blog looks good. Let's publish it on the RaRe blog this week.

[2017-01-03 12:37] jayantj commented on #1068
@parulsethi  Looks good to me. Left some comments in the Google doc.

[2017-01-03 12:45] tmylk opened #1069 "Save and load methods generate KeyedVector warnings word2vec and doc2vec"
Introduced in https://github.com/RaRe-Technologies/gensim/pull/980
CC @anmol01gulati
[code]

[2017-01-03 13:32] tmylk commented on #1064
Fixed in #1071

[2017-01-03 13:43] #673 closed

[2017-01-03 14:04] #1064 closed

[2017-01-03 15:00] parulsethi commented on #1068
@jayantj thanks for the comprehensive review
Can you please also tell what was the `no. of passes` over corpus for fasttext and if it uses multi-core implementation?

[2017-01-04 01:14] tmylk commented on #1069
The issue is partially fixed by #1072
There is still a problem that after introducing KeyedVectors now syn0, vocab, id2word are saved **TWO** times. Once in word2vec and once in keyedvectors. After direct access is deprecated it will be only once.

In the mean time we can add an `ignore_sub` parameter to `utils.save_specials` where it handles recursive saves. That way `syn0norm` and `syn0` will be

[2017-01-04 07:44] Tixierae opened #1073 "wmdistance returns inf for single words in vocabulary"
[code]
The following:
[code]
returns `inf`, when obviously it should be zero (according to the [documentation](https://radimrehurek.com/gensim/models/word2vec.html#gensim.models.word2vec.Word2Vec.wmdistance), `float(inf)` is only returned for out-of-vocab words).

Interestingly, `model.wmdistance('obama','obama')` does return zero, and `model.wmdistance(['obama'],['obama','illinois'])`, `model.wmd

[2017-01-04 21:14] gojomo commented on #1069
Rather than silencing the warnings, via a new warning-enablement state/API, shouldn't the save/load code just not do the warned-against actions? (An API where a SaveLoad object self-reports its eligible properties would make more sense than a hide-warnings workaround.)

(Such complications are why my preference, as per comment at https://github.com/RaRe-Technologies/gensim/pull/833#issuecomment-24

[2017-01-04 21:22] tmylk commented on #1069
Current behaviour of SaveLoad API is to save everything except ignored fields. To change it to save what is explicitly given will take a while. For example  even calling 'hasattr' on 'model.vocab' raises a warning. The silencing will be removed in the next API breaking release

[2017-01-05 01:19] tmylk commented on #1073
Hmm... There was a [fix](https://github.com/RaRe-Technologies/gensim/pull/986) for when the dictionary size is 1 and it should have covered this case.

[2017-01-05 04:17] piskvorky commented on #1060
Thanks for investigating @anmol01gulati .

I'm not so sure we want to work around internal pickle issues to that level of detail.

The Python issue you linked to says this is already fixed in python 3.5.2 -- is a gensim-level fix really needed?

[2017-01-05 07:14] Tixierae commented on #1073
Thanks! I will update my installation of the module and try again.

[2017-01-05 14:23] tmylk commented on #1060
@anmol01gulati The 3.5.2 build is [running](https://travis-ci.org/MacPython/gensim-wheels/jobs/189195464)

[2017-01-05 14:28] anmol01gulati commented on #1060
Well, I think, it won't be right to have a fix for pickle inside gensim itself, it sounds a hack basically. We'd like to shift to some other pickling library if that was the case.
t seems, they've solved this issue in Python version 3.5.2. So, let's see if the latest build passes, then it'd be fine.

[2017-01-05 21:46] gojomo commented on #999
@RishabGargeya - I believe 'loss value when providing an example to a pretrained model' is essentially what the existing `score()` function does, at least for the mode (Word2Vec/hs) where it is implemented. (It'd be interesting but perhaps not quite as theoretically grounded to extend that to work in all modes of Word2Vec/Doc2Vec.)

[2017-01-05 22:23] gojomo commented on #1069
My hunch (which could be wrong) is that generically-useful improvements to SaveLoad would fix this with fewer lines of code than this cludgey new warnings-suppression capability. For example, SaveLoad might define a method like:

[code]

Its other methods that currently use `iteritems(self.__dict__)` directly would use this instead. And a subclass (like Word2Vec) that has local knowledge that some

[2017-01-06 11:25] piskvorky commented on #665
Sure -- something along the lines of "Here's a problem / motivation; here's what we could do to solve it".

The first part is missing -- from the link it's not apparent to me what "Montemurro and Zanette algorithm" does, and the link to the implementation doesn't explain it either.

If this is implemented, what will it actually do? Who is it for?

[2017-01-06 11:54] piskvorky commented on #1038
CC @bstewart

[2017-01-06 12:59] PeteBleackley commented on #665
The algorithm identifies words that are significant to the structure of the document - these often correspond to the major themes. It does so independently of a corpus.

[2017-01-06 21:58] tmylk commented on #1069
Agree with @gojomo. What do you think, @anmol01gulati?

[2017-01-06 23:55] tmylk commented on #482
By the way, @gojomo the flows are available in PyEMD 0.4
(Reply to https://github.com/RaRe-Technologies/gensim/issues/482#issuecomment-154752979)

[2017-01-07 00:44] bstewart commented on #1038
Hi!  I'm the Brandon Stewart mentioned above. I wanted to answer some questions that have come up here.  First though, I'm honored that you guys would consider adding STM to gensim.  it is an amazing package.  Thanks so much @methodds

@olavurmortensen Your interpretation of STM and sLDA is correct.  Also if you are still interested in a more technical paper, you might prefer this one in JASA: htt

[2017-01-08 06:44] piskvorky commented on #1038
Thanks a lot @bstewart !

In gensim, we keep all algos streamed, so O(D) memory is prohibitive. O(V^2) is theoretically workable, but not ideal.

On the other hand, deriving an efficient streamed algorithm could be to @olavurmortensen 's liking, he's a mathematician :)

[2017-01-08 09:50] piskvorky commented on #665
Aha, thanks. So this is a candidate to replace the `summarization.keywords` package, if I understand correctly.

It would be interesting to compare them side-by-side, see which algo works better (and deprecate the other one -- we don't want to maintain dead weight in gensim).

Or if the algorithms have non-overlapping strengths/weaknesses, document what they are. When should users use one or the o

[2017-01-08 11:42] mattilyra opened #1082 "RandomState (Fix to issue #113) breaks backwards compatibility with old LDA models"
LDA models saved before version 0.13.2 can not be used in version 0.13.2 and up because they do not contain `random_state` variable. This should be a pretty trivial fix in `load` functionality though.

The breaking PR is this one
https://github.com/RaRe-Technologies/gensim/commit/2e0ed26c03bfa997c8748d03fafe313a05cd9741

[2017-01-08 21:37] bstewart commented on #1038
Fun!  We've toyed a bit with stochastic variational inference and so O(D) memory is definitely avoidable.  If its something you guys want to move forward with, we can definitely talk some more about the best ways to approach it.  It is unclear to me how to do the spectral initializations in a true streaming setting, but if you are comfortable with two passes through the documents it is very doable

[2017-01-09 05:56] piskvorky commented on #1038
Thanks. I'm not familiar with the "spectral initializations"; is it something to do with eigenvalues? If so, we have some fast streamed algos in gensim (via one-pass SVD). If not, can you point me to the algo?

[2017-01-09 08:43] tmylk commented on #1068
cc @piskvorky

[2017-01-10 04:19] metalaman opened #1085 "Suggesting Replacement of TextRank."
I, along with @dust0x and @pranay360, am writing a blog on Extractive Vs. Abstractive Text Summarization for RaRe Technologies.
While comparing different extractive models, we found that Sumy's Lex_Rank not only performs better than Gensim's Text Rank, but is also faster.
Summarization was performed on Opiniosis dataset(51 articles with 5 gold summaries each) and models were compared using ROUGE-1

[2017-01-10 04:28] dust0x commented on #1085
cc @piskvorky @tmylk

[2017-01-10 06:11] piskvorky commented on #1085
Sounds great. What is involved in this "upgrade", technically speaking?

Is it a clean, backward-compatible change, or are there further changes needed to the API?

[2017-01-10 07:17] jayantj commented on #1069
Actually, I looked a little bit into this, because I found it surprising `syn0norm` and `index2word` are still accessed directly from `Word2Vec`. Even if `Word2Vec` saves all attributes except the ones in `ignore`, `iteritems(self.__dict__)` shouldn't even return `syn0norm` and `index2word`.

The reason they end up being accessed is these two snippets of code -

<pre>
   @classmethod
    def load(

[2017-01-10 14:17] metalaman commented on #1085
Using Lex_Rank's idf-modified-cosine as weights of the edges in the graph instead of using BM25 looks like the only change that would be required. More on Lex_Rank's idf-modified-cosine [here](http://www.cs.cmu.edu/afs/cs/project/jair/pub/volume22/erkan04a-html/erkan04a.html).

[2017-01-10 14:23] dust0x commented on #1085
Perhaps we could have LexRank as an option in addition to TextRank like [Sumy](https://github.com/miso-belica/sumy/) does.

[2017-01-10 15:56] tmylk commented on #1085
@dust0x The goal is to remove outdate algorithms from Gensim. So if Lex_Rank is better then we would remove TextRank and have a wrapper for Lex_Rank instead. Ideally preserving the same API so that the user notices no difference.

[2017-01-11 06:14] dsquareindia commented on #903
@mjawa any updates on this? Can I take this up?

[2017-01-11 06:19] piskvorky commented on #903
@dsquareindia please go ahead, @mjawa excused himself due to private issues.

[2017-01-11 09:57] bhargavvader commented on #903
Awesome, can't wait to see the PR, @dsquareindia  ;)

[2017-01-11 10:22] piskvorky commented on #1068
Left my comments in the doc -- mostly minor formatting & grammar.

My overall impression is that while the content is good, the text is way too long. It feels too pedestrian, which makes it hard to follow or see what the real conclusions or takeaways are.

Can you leave only the salient points and cut out the rest, streamline the narrative? Put some more structure into it = explicit sections, with

[2017-01-11 22:30] parulsethi commented on #1068
@piskvorky thanks for the comments. And sure, I'll try to organize it as suggested.

[2017-01-12 20:41] AdrianLoer commented on #898
had the same problem, in case anyone stumbles upon this: GCE is broken somehow

[code]
from https://github.com/GoogleCloudPlatform/compute-image-packages/issues/262

works

[2017-01-12 21:46] johncleveland opened #1088 "doc2vec-lee.ipynb results ... not even close"
For this github tutorial: gensim/docs/notebooks/doc2vec-lee.ipynb
I have copied the code verabtim and I have been unable to reproduce any near the 95% rate.
collections.Counter(ranks)  #96% accuracy
Counter({0: 292, 1: 8})

I have used python 2.7.12, 2.7.13, 3.5 on both Windows 10 and Ubuntu 16.10.
I have also had a friend try it on his Windows system. My results are all over the place.
What could

[2017-01-12 23:34] wmayner commented on #482
@tmylk, @gojomo, @piskvorky, I just updated the requirements and pushed a new version—PyEMD 0.4.2 now works with Python 3.3 and NumPy 1.9, so you should be able to get the flows in Genism now 👍

[2017-01-12 23:46] gojomo commented on #1088
Open-ended questions/discussion that are not bug-reports or feature-requests should go to the project discussion list at https://groups.google.com/forum/#!forum/gensim rather than this issues-tracker.

So please post your question there. (When you do so, it'd be helpful to make clear whether you've tried running the code in a Jupyter notebook itself and had the same problem, and what gensim versio

[2017-01-13 01:27] tmylk commented on #898
@AdrianLoer Thanks a lot for posting the fix!

[2017-01-13 01:39] piskvorky commented on #1088
Looks like an (a little incomplete) bug report to me.

[2017-01-13 02:21] tmylk commented on #482
@wmayner Thanks. Confirm it works. Version unpinned.

[2017-01-13 22:29] koustuvsinha opened #1090 "Is there a limit to maximum number of topics for lda?"
Hi, I am trying to run Lda (using LdaMulticore) and have encountered a specific issue : I have 12,000 documents and I want 6,000 topics, where I want two documents to be in a topic at once. The program is stuck for hours (> 10) in this line : `using serial LDA version on this node`. While if I change the number of topics to 4 the program runs as expected. So is there any limit to how much topics I

[2017-01-15 00:40] tmylk commented on #1090
There is no limit. Issue discussed on gitter.

[2017-01-15 00:41] #1090 closed

[2017-01-15 14:11] dust0x opened #1092 "Requesting feedback on blogpost on Text Summarization"
@piskvorky @olavurmortensen

@pranay360 @metalaman and I are working [this blog](https://docs.google.com/document/d/1RO1-hlnSkrBbL-ks-O6Xr4ZfWK92vfo-xFicp5Gb0Qc/edit?usp=sharing) on Text Summarization for RaRe Technology's incubator program with @tmylk and request your feedback on the same. You may write your thoughts and suggestions in the comments section of the document.

We've also raised an i

[2017-01-16 13:02] MSardelich opened #1094 "Word2vec wmdistance method implementation is not compatible with Word Mover's Distance original implementation"
I am cross posting this issue here, since it could be relevant to the Word Mover's Distance implementation. The original issue can be found [here](https://github.com/mkusner/wmd/issues/7).

In simple terms, it seems that the original [Kusner 2015 Word Mover's Distance](https://github.com/mkusner/wmd/) implementation produces completely different results, when compared with GenSim ```model.wmdistan

[2017-01-16 20:48] gojomo commented on #1094
Can you clarify what you mean by "first twitter corpus texts"?

One guess would be that gensim (and specifically your usage pattern) might be using unit-normed vectors when the other does not, or vice-versa. What does the code for your full gensim test look like? Are you using word-vectors loaded from elsewhere?

[2017-01-16 21:04] tmylk commented on #1094
@MSardelich Do you still get the same list of 10 most similar documents?
The difference is that in Gensim the vectors are normalized prior to computing similarities. @olavurmortensen found that it gives better results.

[2017-01-16 21:16] gojomo commented on #1088
It does seem that our updating of Doc2Vec defaults made the examples in this notebook less effective and stable - see discussion thread at https://groups.google.com/d/msg/gensim/bs77ke1Zun0/9lrMo_w0CAAJ

I believe upping the `iter` to 50 restores the intent of the example, without changing other defaults. Some text could be added alongside the related cells to the effect of: (1) small datasets wit

[2017-01-17 04:18] MSardelich commented on #1094
@gojomo The original implementation calculates, by default, all the pairwise distances for a corpus found [here](https://github.com/mkusner/wmd/blob/master/all_twitter_by_line.txt)

Answering your question, the first two sentences are:
**"now all apple has to do is get swype on the iphone and it will be crack iphone that is"**
and
**"apple will be adding more carrier support to the iphone 4s just

[2017-01-17 04:46] MSardelich commented on #1094
@tmylk @olavurmortensen I understand your point regrading the X most similar. Maybe they are the same regardless the implementation. However, in my case I am trying to use WMD as a proxy for "absolute" similarity. In this case, apparently, the variance is really small.

One example and it will be easier to understand my statement.
See below the closeness between multiple texts and the reference te

[2017-01-17 05:33] gojomo commented on #1094
@MSardelich - The only norming gensim does is converting vectors to unit-lengths, for the purposes of `most_similar()` calcualtions. These are put in a separate property, `syn0norm`, so that both raw and unit-normed vectors are available – unless you explicitly call `init_sims(replace=True)`, in which case to save memory both `syn0` and `syn0norm` hold the same single copy of unit-normalized vecto

[2017-01-17 06:36] eromoe opened #1095 "How to use gensim word2vect model as a Sklearn FeatureVectorizer (Want to use in keras cnn) ?"
I want to use word2vect and keras cnn to do document classifacation(Chinese Text ). I learned the basic flow of text classification in cnn and want to do a test.

I have seen `word2vec.ipynb` and some `doc2vec *.ipynb` .  All the example are talking about word to word and sequence to sequence similarities, no method like `transform()` in sklearn.

## For example(the steps I imagine):

1. Use a goo

[2017-01-17 11:35] MSardelich commented on #1094
@gojomo Thank you so much! Matter solved!

It turns that you were completely right. The only difference is the normalization, by that I mean the L2 normalization step on top of the pre-trained word vectors.

If I don't normalize the vectors, I get exactly the same results as in Kusner original implementation.

Please, feel free to close the issue...

[2017-01-17 15:00] #1094 closed

[2017-01-17 16:01] hswick commented on #865
Hi I ran into this bug using most recent gensim. Probably not doing this correctly, new user to gensim, but wanted to report that I got this issue with latest version.

python version: Python 2.7.10 :: Anaconda 2.3.0 (64-bit)
gensim version: gensim==0.13.4.1

I am using a large dataset of xml files and not preprocessing them so it made the word count huge.

Here is the last log I got:

017-01-16 1

[2017-01-17 23:57] piskvorky commented on #1094
@tmylk what's the status on this:

[code]

?

If it does give better results, why isn't it used (as @gojomo suggests)?

[2017-01-18 00:04] #1045 closed

[2017-01-18 00:18] tmylk commented on #1094
It is used by default in [wmdsimilarity](https://github.com/RaRe-Technologies/gensim/blob/699773a78f32ff2c254cf16a586a5d26a08394fe/gensim/similarities/docsim.py#L599)

[2017-01-18 03:25] piskvorky commented on #1092
Very nicely written and structured, thanks!

I commented inside, asking for clarification on some minor points.

[2017-01-18 05:46] piskvorky commented on #1045
@tmylk Do we want to add the "gitter chat" badge too, or keep gitter "secret"?

[2017-01-18 06:45] huihuifan opened #1096 "eta = 'auto' setting does not appear to work"
`Lda = gensim.models.LdaModel(corpus, id2word=dictionary, num_topics=20, alpha='auto', eta = 'auto')`

produces the error:

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('S32') dtype('S32') dtype('S32')

which does not appear to be related to the corpus or dictionary I generated. Leaving off the eta='auto' parameter runs fine.

[2017-01-18 17:17] methodds commented on #1038
I think Brandon is talking about the algorithm(s) described in [this paper](http://www.jmlr.org/proceedings/papers/v28/arora13.pdf) written by the Aurora group (see his post above).

[2017-01-18 17:51] tmylk commented on #121
consider integrating with existing Python implementation https://github.com/Savvysherpa/slda

[2017-01-18 18:01] bstewart commented on #1038
Hey sorry guys.  @methodds is correct about the source.

To @piskvorky it is a non-negative matrix factorization.  It is basically a two-stage thing where you have a GS-decomposition of a matrix, then you do exponentiated gradient descent a bunch of times to find some weights.

[2017-01-18 21:19] WenchenLi opened #1098 "word2vec print cost/loss during training"
Hi,
I would like to print out cost/loss during training word2vec to get a sense whether training reached plateau, from the glimpse of word2vec.py I can't find a way to do that. Please help or advice how I can print out loss with the minimum change of your code. Thanks.

[2017-01-20 00:44] gojomo commented on #1098
There's no existing facility to track or print this. It's a wishlist item. Some discussion about possible approaches in #999, and a similar previous request is #686.

[2017-01-20 00:48] gojomo commented on #865
Reopening as it appears the prior fix wasn't enough. We may want to see if we can reproduce with an artificially-generated raw-vocab with a similarly large (63 million+) number of unique tokens and typical frequency distribution (to have a triggering test case that doesn't require either a real corpus or real-corpus-derived raw-vocab).

[2017-01-20 01:24] tmylk commented on #1096
Hi, unfortunately unable to reproduce this `numpy` error. The `eta=auto` option works with numpy==1.11.2 and gensim 0.13.4.1

[2017-01-20 01:34] tmylk commented on #1095
Hi @eromoe one can get a vector representation of a *single word* in word2vec with `model['tree']` command.

A simple way to assigna a word2vec vector to a document is to take a mean of its words. It produces great results in practices. It is the method used in the `transform` method in theh [blog](http://nadbordrozd.github.io/blog/2016/05/20/text-classification-with-word2vec/) you linked to.

Suc

[2017-01-20 01:34] #1095 closed

[2017-01-20 01:41] tmylk commented on #1045
Added gitter and twitter.

[2017-01-20 11:44] pkarvelis commented on #865
The same problem for me:
assert self.cum_table[-1] == domain
AssertionError

[2017-01-20 13:28] piotder commented on #865
It would be helpful to verify if cumulative is exactly equal to train_words_pow right before the assertion is thrown. Try printing the repr(cumulative) and repr(train_words_pow) after the for loop.

What might be happening is that in:
`sum([self.vocab[word].count**power for word in self.vocab])`
iteration goes in the order of self.vocab, while in:
` for word_index in range(vocab_size):

[2017-01-20 13:38] bhargavvader opened #1100 "Broken link in readme"
The hyperlink to the gensim citation is broken: https://scholar.google.cz/citations?view_op=view_citation&hl=en&user=9vG_kV0AAAAJ&citation_for_view=9vG_kV0AAAAJ:u-x6o8ySG0sC.

This should be replaced, but when I was looking for a replacement I couldn't find it: would it be one of the results on [this](https://scholar.google.fr/scholar?hl=en&q=gensim+python&btnG=&as_sdt=1%2C5&as_sdtp=) page?

Ping

[2017-01-20 14:06] tmylk commented on #1098
Closing as duplicate

[2017-01-20 14:06] #1098 closed

[2017-01-20 14:23] piskvorky commented on #1100
@bhargavvader thanks for reporting!

Not sure where that citation is, but the correct link is [this one](https://scholar.google.com/citations?view_op=view_citation&hl=en&user=9vG_kV0AAAAJ&citation_for_view=9vG_kV0AAAAJ:NaGl4SEjCO4C).

[2017-01-20 22:13] #1100 closed

[2017-01-20 22:31] tmylk commented on #1073
@Tixierae did an update fix the issue?

[2017-01-20 22:39] tmylk commented on #1046
Closing as duplicate of https://github.com/RaRe-Technologies/gensim/issues/892

[2017-01-20 22:39] #1046 closed

[2017-01-20 22:49] tmylk commented on #1044
Closing as abandoned.

[2017-01-20 22:49] #1044 closed

[2017-01-22 13:44] metalaman commented on #1085
Found following papers, where text rank is performing better:
http://ltrc.iiit.ac.in/icon/2013/proceedings/File49-paper108.PDF
http://www5.informatik.uni-erlangen.de/Forschung/Publikationen/2009/Garg09-CAG.pdf
http://web.fi.uba.ar/~fbarrios/tprofesional/articulo-en.pdf

TextRank performs a little better than LexRank.

[2017-01-22 14:30] tmylk commented on #1085
Closing as existing TextRank has 6% better peformance and much easier implementation than LexRank.

[2017-01-22 14:30] #1085 closed

[2017-01-24 10:38] piskvorky opened #1105 "Annoy tutorial inconsistency"
The [Annoy tutorial](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/annoytutorial.ipynb) states that Annoy is much faster than brute force.

But then cells 108 and 109 show the opposite -- Annoy is 3x *slower* than brute force.

This is confusing to the reader.

The discrepancy could be to any number of reasons (cold caches etc). For a slightly better "micro benchmark", me

[2017-01-24 13:33] edilsonacjr opened #1106 "The _raw_word_count method is breaking word2vec model"
The old code for the function _raw_word_count is breaking the word2vec model:

The solution was already implemented. Why is it not yet available?

From (Issue #535 ):
def _raw_word_count(self, job):
        """Return the number of words in a given job."""
        return sum(len(sentence.words) for sentence in job)

[2017-01-24 20:25] tmylk commented on #1068
Published https://rare-technologies.com/wordrank-embedding-crowned-is-most-similar-to-king-not-word2vecs-canute/

[2017-01-24 20:25] #1068 closed

[2017-01-24 20:31] tmylk commented on #814
Implemented in https://github.com/RaRe-Technologies/gensim/blob/2a70e3a726404cd4230542a35cfd2dc4d63da6f1/gensim/models/wrappers/fasttext.py#L246

[2017-01-24 21:37] breschke commented on #457
Note, perplexity is currently broken in sklearn 0.18 and 0.18.1 https://github.com/scikit-learn/scikit-learn/pull/7992. I believe sklearn 0.17.1 will replicate these comparisons.

[2017-01-25 00:48] tmylk commented on #1106
Dear @edilsonacjr

What is the type of input that you are giving to sentence? Really keen to reproduce the error. Do you have a code snippet?

The code is current for last 12 months. In (word2vec)[https://github.com/RaRe-Technologies/gensim/blame/2a70e3a726404cd4230542a35cfd2dc4d63da6f1/gensim/models/word2vec.py#L747] `len(sentence)` was added in #535. The change to `len(sentence.words)` only affe

[2017-01-25 00:49] tmylk commented on #1096
Closing as abandoned.

[2017-01-25 00:49] #1096 closed

[2017-01-25 00:50] tmylk commented on #1073
Closing as abandoned.

[2017-01-25 00:50] #1073 closed

[2017-01-25 00:51] tmylk commented on #1043
Closing as "won't fix".

[2017-01-25 00:51] #1043 closed

[2017-01-25 08:52] giacbrd commented on #960
I am finalizing the pull request. I am just thinking to design a better interface, but in general there is not much code.
Sorry but my spare time in the last two months has been minimal.
Cheers

[2017-01-25 09:09] tmylk commented on #960
From Gensim integration point of view, an API extending the existing  [FastText Wrapper API](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/fasttext.py) would be preferable. Though FastText wrapper API is not yet released so can be changed

[2017-01-25 09:31] tmylk commented on #865
Let's try both solutions:
- change the order of summation to be `index2word`
- switch to explicit `fsum` that avoids rounding off errors

Hoping this will be fixed in this Sunday's coding sprint in Brazil.

[2017-01-25 09:42] giacbrd commented on #960
Here I am doing something slightly different than re-implementing fastText. I have practically written a variant of the Word2Vec model, with the goal of learning the combinations sets_of_words->labels (i.e. text classification), where:
- Output layer and its vocabulary is independent of the input layer
- It is limited to CBOW
- Given that the output layer is usually of a pre-defined size (e.g. lab

[2017-01-25 09:48] piotder commented on #865
The second option will (likely) not help, since the reason (I suppose) the bug exists is that we calculate two floating point values: `train_words_pow` and `cumulative` that are supposed to be equal at the end of the for loop in two different ways. So I think it's not so much about the accuracy of either of them, but more about making sure they are calculated the same way.

[2017-01-25 10:09] tmylk commented on #1035
Implemented in #1051

[2017-01-25 10:09] #1035 closed

[2017-01-25 10:21] #901 closed

[2017-01-25 10:40] #789 closed

[2017-01-25 11:10] edilsonacjr commented on #1106
I just realized the problem is that I'm using the 'map' function directly as sentences, instead of a list:

Thank you anyway.

[2017-01-26 10:08] greninja opened #1108 "Comment error in utils.py"
In comment of  [Line 610](https://github.com/RaRe-Technologies/gensim/blob/3cb735b278995fc5d4e2e05964cb162cbb6a8327/gensim/utils.py#L610) of utils.py , even if  `obj` is a numpy array it shouldn't resolve to `False`.

I ran all the tests on it from `test_utils.py`  , except those from `test_invalid_formats` , by explicitly converting `potentialCorpus` to a numpy array and it gave 'True'.

I dont g

[2017-01-26 13:43] piskvorky commented on #1108
`obj` being a numpy array is fine and the function returns `True`, if the content of the array is correct. Its elements have to be sequences of 2-tuples (or something convertable to 2-tuple, such as a 1d array of length 2).

If its first element, `doc1` in code, is a 1d numpy array instead of a sequence of 2-tuple, that line raises an exception. Then `is_corpus == False` => `obj` isn't a corpus.

[2017-01-26 13:43] #1108 closed

[2017-01-26 13:49] greninja commented on #1108
Absolutely.

Then I think it should be mentioned explicitly that it should be a 2 tuple
sequence(in that particular comment) otherwise it's a bit misleading.

On Jan 26, 2017 7:13 PM, "Radim Řehůřek" <notifications@github.com> wrote:

[2017-01-26 14:06] piskvorky commented on #1108
You're right. Can you send a PR improving/clarifying that comment?

[2017-01-26 15:24] olavurmortensen commented on #1038
@piskvorky Sorry for the late response (to your comment about deriving a streamed algo). I won't have a lot of time to work on this, but am willing to assist in any way I can.

[2017-01-26 16:02] greninja commented on #1108
Umm. Actually even if the obj is a 1D numpy array of length 2, it would still give an error => obj is not a corpus.

Consider :
`obj  = [1,2]` or even `obj = [(1,2)]` for that matter
The first `next(iter(obj)` would give the first element of the iterable itself which is an `int` and hence the second `next(iter(doc1))` would raise exception since `int` object is not iterable.

[2017-01-27 01:35] piskvorky commented on #1108
Yes, if `obj` is a 1d numpy array, the expected output is `False`.

See my third example in the **not corpora** section above.

[2017-01-27 08:00] tmylk commented on #1106
Glad you figured it out! Closing as "not an issue".

[2017-01-27 08:00] #1106 closed

[2017-01-27 18:59] melvyniandrag opened #1110 "Doc2Vec .save_word2vec_format() doesn't save everything."
When I model.save_word2vec_format() or model.save(), it seems that only the word vector information is saved. The following code is almost identical to the wikipedia code in the repo.
[code]

I can get most_similar() documents in the same script that trained the model, as above. However, I get this error:
[code]

if I reload the model in a different script. I.e.

[code]

I can, however, do

[code]

[2017-01-27 19:31] melvyniandrag commented on #1110
As a follow up, I verified that all that is saved is the word model.

[code]

And then

[code]
The vocab size is 10543 and the saved model file has the corresponding number of lines (plus the header)

[2017-01-27 19:59] greninja commented on #1105
I ran a benchmark test over a random sample of 1000 words from `model.vocab` for similarity queries ( havent tried retrieving indices from disk as of yet) and the wall time taken by Annoy still comes out to be roughly 3 times more.

Also , in cell 112, is the word "army" or "science"?

[2017-01-27 21:00] tmylk commented on #1110
Hi @melvyniandrag

For `save_word2vec_format` this is a known behaviour. There is an open issue #699  and discussion on how to extend this format to include document vectors.

Do you think that changing the [docstring ](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/doc2vec.py#L24) to "The word vectors of the model can also be instantiated from an existing file on disk in t

[2017-01-27 21:14] tmylk commented on #1105
@greninja This is very different from the [first commit](https://github.com/RaRe-Technologies/gensim/blob/4ce3ce143dcc97bf0a917dbf3a7b828f1890668b/docs/notebooks/annoytutorial.ipynb) where it is 12ms vs 678us.

It needs further investigation:
Does annoy use multiple cores on your machines? Did something take change in the implementation?

[2017-01-27 22:15] zijwang opened #1111 "gensim.corpora not found"
from gensim.corpora import WikiCorpus
ImportError: No module named gensim.corpora

I'm using gensim (0.13.4.1)

[2017-01-27 23:08] gojomo commented on #1110
I, too, believe `save()` works as intended, saving the whole model. So I've edited the issue title to more specifically describe that it's just `save_word2vec_format()` that doesn't save the doc-vectors stuff. (If you have an example of `save()` not working, we can expand the title again.)

[2017-01-28 03:47] ELind77 commented on #1088
This may not be the right place for this, but if this is the original paragraph vectors paper, I believe there have been some serious problems with the reproducibility of those findings.  In [Ensemble of Generative and Discriminative Techniques for Sentiment Analysis of Movie Reviews](https://arxiv.org/abs/1412.5335) Mikolov even has a footnote that explains that the results were not reproducible.

[2017-01-28 04:03] ELind77 opened #1112 "Multiple cores not being used in Word2Vec training"
I've got a project with about 1000 novels (each ~150000 tokens) and I wanted to try out deepir.  I built the vocab and then trained and no matter how long I waited (1hr +) no more than one core was ever engaged.  I tried again with a test set (2 books, ~2e6 tokens) and got the same result.

I looked through the code and found that `train` is using threading instead of multiprocessing, but since ea

[2017-01-28 08:22] gojomo commented on #1112
The initial vocabulary-scan is single-threaded, but once training begins you should see multiple cores engaged, if you've used a `workers` parameter that starts multiple training threads. (You should see multiple cores engaged as soon as training begins.)

If you only ever see one core active, it's possible that your corpus iterator is the bottleneck. One thread iterates over your corpus – thus do

[2017-01-28 08:36] gojomo commented on #1088
Yes, you can find posts across the net in a bunch of places from people who've been frustrated trying to reproduce the PV paper's error rates on the same original datasets, and a few comments by Mikolov (like that footnote) implying Le made a mistake in result-reporting.

Here, it's just a matter of our demo, on a different much smaller dataset, not behaving the same across some other code changes

[2017-01-28 12:37] greninja commented on #1105
No change in implementation.

I ran this code :

`import random
vocab_list = random.sample(model.vocab, 1000)  # to get random queries

# Traditional method
%%time
    ...: for word in vocab_list:
    ...:     vector = model[word]
    ...:     model.most_similar([vector],topn=5)
    ...:
CPU times: user 1.52 s, sys: 1.6 s, total: 3.12 s
Wall time: 914 ms

# Using Annoy
In [24]: %%time
    ...: for

[2017-01-28 13:11] greninja commented on #1111
You might want to check your PYTHONPATH variable.
Manually add path of your gensim library in your PYTHONPATH variable using 'export' like:
    `export PYTHONPATH="${PYTHONPATH}:/absolute_path/to/library`

[2017-01-28 20:10] ELind77 commented on #1112
@gojomo You're right, it was my iterator.  I was using spacy to do some processing.  I serialized the docs/sentences to plaintext files and it's using all cores now.

Thanks!

[2017-01-28 20:10] #1112 closed

[2017-01-29 02:20] droudy commented on #1105
I put in a PR to address the issue: #1113

[2017-01-29 16:16] greninja commented on #1108
@piskvorky , what should be the case for `sentences` in word2vec model, for following instances:

[code]
Should they pass as sentences? I am trying to write a sanity check for `sentences`.

The one right now in `__init__` method only checks whether its a generator expression or not.

[2017-01-29 16:21] tmylk commented on #692
Closing as resolved.

[2017-01-29 17:20] danielbdias commented on #497
Hi guys !

I'm working in a docker image for gensim here: https://github.com/danielbdias/gensim/tree/issue-497/docker

It is based in a Ubuntu 16.04 image with Python 3. To execute the notebooks I am using a docker-compose.yml file with jupyter notebooks config.

Can you see if the configuration is ok?

[2017-01-29 17:51] tmylk commented on #497
Great. Can it open the quickstart ipynb on start-up?

[2017-01-29 17:51] javkrei-cargox commented on #865
The following code was used to verify that the problem was indeed the order of summation:
[code]
changing sum for fsum didn't fix the issue because as noted by @piotder it's probably the order what matters. Testing the time it takes to run a loop against the time it takes to run the built-in sum showed that the difference in speed is negligible and which is faster depends on the run:

[code]

so I

[2017-01-29 18:00] javkrei-cargox commented on #865
a test case where the current code might fail (depending on the order of summation) is the following:

[code]
I tested with fsum and didn't work either. As suggested by @piotder  the problem seems not with sum but with the order of summation. The speed of a loop vs a in place sum is negligible:

[code]
to make sure that train_words_pow == cumulative for the last run of the loop I will implement @p

[2017-01-29 18:01] tmylk commented on #497
Also, can it check that [FAST_VERSION](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py#L113) > -1 ?

[2017-01-29 18:08] danielbdias commented on #497
Sure ! I will configure the ipynb to open the quickstart tutorial.

About the FAST_VERSION, how can I check this? Is it a env variable?

[2017-01-29 18:46] tmylk opened #1123 "Support sklearn pipeline interface. Continuing #932."
Pipeline interface is not supported in the sklearn wrapper added in #932 .

[2017-01-29 18:54] rodrigocesar commented on #1123
I tried to create a simple pipeline using the sklearn wrapper and got a an error.

The code is:

`from sklearn.pipeline import Pipeline
text_lda = Pipeline([('vec', CountVectorizer(min_df=10, stop_words='english')),
                     ('clf', SklearnWrapperLdaModel(id2word=id2word,num_topics=5,passes=20)),
])
text_lda = text_clf.fit(data.data)
`

The error i got was:

---------------------------

[2017-01-29 18:55] tmylk commented on #1123
CC @AadityaJ

[2017-01-29 18:59] lgmoneda commented on #1105
@tmylk Annoy isn't running in mutiple cores, while traditional implementation does.

Running to 10k words:
**Traditional**

**Annoy**

So wall time is expected to be greater, since you have more cores in the first task. But total time, that addresses cpu time used and considers multiple cores, should be smaller. So it's running as expected.

Then, for comparing the two, we should indicate that the

[2017-01-29 19:29] tmylk commented on #1105
Yes, let's add the cpu time note

[2017-01-29 19:56] danielbdias commented on #497
I updated the PR [#1121](https://github.com/RaRe-Technologies/gensim/pull/1121) with some changes in Dockerfile:

- Now the container downloads the gensim master branch to have all notebooks internally and exposes via jupyter notebook;
- When you build and start the container, the container will start jupyter in port 9000 with the quickstart ipynb

The next tasks are:

- Build a script to check FA

[2017-01-30 05:43] piskvorky commented on #1108
First one yes, second one no.

This is unrelated to our previous discussion though; neither is a corpus in the `utils.is_corpus` sense.

[2017-01-30 06:05] piskvorky commented on #1105
Yes, as mentioned in the PR, the actual performance depends on a number of factors. For example, whether the brute-force is multicore or not depends on your BLAS settings.

[2017-01-30 10:10] greninja commented on #1108
Yes I understand but I thought it would be better to discuss it here ( since its on the similar lines ) and not open another thread for it. Sorry.

[2017-01-30 13:26] piskvorky commented on #1108
It's not a problem. I only mention it to pre-empt possible confusion.

[2017-01-30 14:37] wikier commented on #372
What's the status of this?

[2017-01-30 15:13] melvyniandrag commented on #1110
Hello tmylk and gojomo,
Sorry about the mistake, I see that save() does work. I don't know what I was thinking.

Also, sorry I didn't see that this was a known issue. I guess this thread can be closed then!

I do like the idea of changing the docstring, and I would change your note to say :

 "NOTE document vectors are not saved with .save_word2vec_format(). Use .save() instead"

 because this cle

[2017-01-30 15:41] #1110 closed

[2017-01-30 23:12] CarlosDutra commented on #1111
Did it work?

[2017-01-31 15:09] tmylk commented on #1110
Thanks for the comment idea. Fixed in https://github.com/RaRe-Technologies/gensim/commit/ae04cda499eaeef389569fdda2999bbf07d99a34

[2017-01-31 16:21] lucianosb opened #1126 "Can't run word2vec2tensor in Python 3"
Hi, I'm trying to run the recently added script for generating tensorboard embeddings. However I get an error all the time

    $ python3 -m gensim.scripts.word2vec2tensor --input ./ptwiki-vectors --output ptwiki4tensor

    2017-01-31 14:16:55,051 : MainThread : INFO : running /usr/local/lib/python3.5/dist-packages/gensim/scripts/word2vec2tensor.py --input ./ptwiki-vectors --output ptwiki4tensor

[2017-01-31 16:32] tmylk commented on #1126
Hi, the issue is due to str.encode() working differently in Python 2(in which the script was written) and Python 3.

Can you try `gensim.utils.to_unicode(word)` instead of `word.encode('utf-8')` ?

Also, what does `no attribute __path__` in the title refer to?

[2017-01-31 16:43] lucianosb commented on #1126
Changed the title. It was a previous error of my own due to a typo that I fixed.

I'll try the suggestion. Will report back shortly.

[2017-01-31 17:00] lucianosb commented on #1126
It worked. Now I just need to load into tensorboard.

Thanks!

[2017-01-31 17:01] tmylk commented on #1126
Great. Could you please submit a pull request this fix?

[2017-01-31 17:24] #1126 closed

[2017-01-31 19:15] tmylk opened #1128 "Use CoherenceModel in top_topics in LDAModel to avoid code duplication"
'u_mass' coherence is currently implemented in two places in gensim: CoherenceModel and LDAModel.

Use `CoherenceModel(coherence='u_mass', topn=num_words)` in LDAModel [`top_topics`](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/ldamodel.py#L824)

Will require changes to CoherenceModel to return non-aggregated coherence scores, topic words and avoid importing LDAModel.

[2017-02-01 11:47] AaronKim-CN opened #1129 "gensim/utils.py occur TypeError: file must have a 'write' attribute"
Hello, I am new to gensim library.

When I run a code like bellow, the type error will occur.

[code]

the method of save will cause the error

[code]

Could you help me?

[2017-02-01 17:11] tmylk commented on #1129
Hi,
Could you please paste code defining `model_basename` and complete stack trace?

This is strange because the exception should be [caught](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/utils.py#L495) by the code. The Python 3.6 tests pass in Continuous Integration where filename is given as a string.

[2017-02-01 20:20] BartlomiejLewandowski opened #1130 "Len used on generator"
Python 2.7.12
gensim version: '0.13.4.1'

I have a big dataset which I want to learn embeddings on. I'm using the method described here to create an iterable with a single sentence which is a generator which yields a word at a time.

[code]

The code that fails with TypeError: object of type 'generator' has no len()

    def _raw_word_count(self, job):
        """Return the number of words in a gi

[2017-02-01 22:28] greninja commented on #1130
Word2vec does not support `sentences` as  a generator.

Replacing 'yield' with 'return' in '__iter__' method will work because then it wont be a generator anymore.

[2017-02-01 22:35] LiuShifeng opened #1131 "OOV word solution"
Generally, we construct word vectors with a huge amount of words. But we still face OOV words when applying the trained model.
Are there any other ways supported in gensim except seeded_vector()?
For example, get topn most possible words by providing the context words.

[2017-02-01 22:35] BartlomiejLewandowski commented on #1130
This will return a generator which will yield a single word in each sentence. Since we expect a list of lists, we iterate over the character of a word, which results in a dictionary to contain single letters.

[2017-02-01 22:44] gojomo commented on #1130
`sentences` may be a generator (or any other iterable), but each item from it (`sentence`) is currently expected to have a length. Also, since word-embedding training relies on the mutual-predictiveness of nearby-words within the same `sentence`, single-word sentences won't allow any useful training to happen. (All such sentences are no-ops for training purposes.)

I believe the `LineSentence` cla

[2017-02-01 23:00] BartlomiejLewandowski commented on #1130
LineSentence uses the file object and yields each line, spitting the line to return a list of words. My input file does not have any new lines, so I need a different way to lazily fetch a limited amount of words.
I'll try running this with creating artificial sentences by using zip on the iterable.

[2017-02-01 23:05] gojomo commented on #1131
For words that weren't seen during training, the Word2Vec model knows nothing. `seeded_vector()` just gives a random, low-magnitude vector as might be appropriate to use at the start of training.

Theoretically, if you have one or more example surrounding-context(s) for the OOV word, you could conceivably 'infer' a vector for the word, similar to the `infer_vector()` process used in Doc2Vec, but t

[2017-02-01 23:38] LiuShifeng commented on #1131
@gojomo Thanks for your detailed explanation. It extends my idea about OOV words. :)

[2017-02-02 02:02] piskvorky commented on #1130
@BartlomiejLewandowski that sounds exactly like the built-in (and perhaps poorly named) [Text8Corpus](https://github.com/RaRe-Technologies/gensim/blob/dcaa702b3cdd49761eef75132df40b29b69b1604/gensim/models/word2vec.py#L1401). See if that sentence generator fits your bill.

[2017-02-02 08:39] BartlomiejLewandowski commented on #1130
That's looks like exactly what I'm after, I'll check it out in a few hours and will close the issue. Thanks a bunch!

[2017-02-02 12:36] piskvorky commented on #1130
Np :)

[2017-02-02 16:11] greninja commented on #1130
@gojomo  Could you please explain how `sentences` can be a generator? Because [Line 449](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py#L449) clearly doesnt allow to pass `sentences` as a generator, right?

[2017-02-03 02:46] chrisjmccormick opened #1133 "Preserve article titles in make_wikicorpus.py"
First let me say that having a ready-to-run script to generate a corpus from Wikipedia is awesome! Thank you guys!

What seems like a major omission, to me, though, is that the titles of the articles aren't saved anywhere, that I can tell. It seems like the corpus isn't really useable unless you can map back from the vector index to its article title...

[2017-02-03 03:06] AaronKim-CN commented on #1129
Hi, tmylk

Thank you for your response.

the defination of model_basename is follwing.

 model_basename = './D2V/doc2vec_result/model'

I have confirmed the type of [ model_basename+'.d2v' ] is str.

And following is the stack trace.

ERROR:root:Traceback (most recent call last):
  File "/root/.pyenv/versions/3.6.0/lib/python3.6/site-packages/gensim/utils.py", line 493, in save
    _pickle.dump(se

[2017-02-03 04:46] gojomo commented on #1130
@greninja Yes, sorry, you're right - but you can pass in an iterable object that returns a generator, each time an (re-)iteration is requested.

[2017-02-03 05:20] piskvorky commented on #1130
@greninja a bit of confusion there: `sentences` can be passed into the constructor, or directly into the `train()` and `build_vocab()` methods.

If you pass it directly, the `sentences` variable may be a generator (once-only stream).

If you pass it to the constructor, `sentences` must be an iterable (repeatable stream).

It is perhaps unfortunate both are called the same name... proper type annot

[2017-02-03 16:59] k0nserv opened #1134 "Loading models generated by other version of gensim"
Hello 👋,

I just tried loading a word2vec model generated with 0.13.4.1 in 0.13.1 which failed with errors relating to pickle. Specifically errors like this:

[code]

This confused me a lot initialy, but it seems that this is happening due to the use of pickle to serialize/deserialize Python object. `call_on_class_only` was not available in 0.13.1 so when trying to deserialize a file saved with a

[2017-02-03 18:54] gojomo commented on #1134
Looks like an unintended side-effect of #889. Here it may be fixable with some special tear-down/fix-up in `load()`/`save()`, to avoid unnecessarily complicating the on-disk format.

As a general matter, though, I don't think we'd want to target older-version load()-foward-compatibility for newer-version saves, within MAJOR.x.y version families for varying x/y.

Many fixes/improvements become hard

[2017-02-03 20:17] k0nserv commented on #1134
Fair enough, maybe a better error message could be provided though? I had to spend quite some time reading the source an errors to figure out what was going wrong.

I know very little about the underlying of Gensim and Pickle, but the use of Pickle seems to make it more fragile than required too. Seems like it might be possible to accidentally break backwards compatibility for save/load by just ch

[2017-02-03 20:52] akcom commented on #911
@piskvorky  - agreed, this is unrelated to distributed.  I just came across the same error trying to infer topic distributions using the LdaMulticore class which suffers from the same bug.  The problem is in ldamodel.py.

By replacing ```if doc``` with ```if len(doc) > 0``` we just kick the bucket a bit further:

```[int(id) for id, _ in doc]```
now throws:
```ValueError: too many values to unpack

[2017-02-03 21:32] #1130 closed

[2017-02-03 21:33] BartlomiejLewandowski commented on #1130
That worked, really great to see such an active community willing to help. Keep it up :)

[2017-02-04 17:09] #1111 closed

[2017-02-04 18:51] narenchoudhary opened #1135 "[Question] Sentence segmentation in gensim"
I need to split corpus text stream into sentences for further processing. I checked [gensim documentation](https://radimrehurek.com/gensim/apiref.html) but could not find anything on sentence segmentation.

Is there any utility available in gensim for sentence segmentation?

[2017-02-04 20:18] several27 opened #1136 "LDAModel stuck on "using serial LDA version on this node""
Hi, I'm having problem with running `LdaMulticore` on my dataset.
[code]

My corpus size is about 2 million, with 0.5 million unique words. I'm running it on EC2 r4.4xlarge. When I lower the number of tags (to 100) is seems to work fine and after the last info message it starts up in usually in 10 minutes, but if I don't it just gets stuck on (I was waiting more than two hours).
[code]

What's hap

[2017-02-04 21:00] gojomo commented on #1135
No, gensim generally expects such tokenization to happen elsewhere. Popular Python options for this include NLTK or Spacy.io.

[2017-02-05 06:47] piskvorky commented on #1133
Thanks for the kind words.

This functionality is already in gensim: [wikicorpus.extract_pages()](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/corpora/wikicorpus.py#L190) yields 3-tuples `(title, content, page_id)`.

To store the title, you'd have to modify the CLI script a bit, depending on what exactly do you need. The corpus iterator method (which discards the titles right no

[2017-02-05 13:27] narenchoudhary commented on #1135
It's a very basic and must have functionality in a nlp library. gensim provides functions for parsing text from corpus. It also has models that take list of sentences as argument. But there is no utility for segmenting text into sentences which is very disappointing. :disappointed:

[2017-02-05 16:11] piskvorky commented on #1135
I agree. Unsupervised segmentation (into blocks/sentences/words) falls nicely under gensim's mission. Pull requests welcome :)

CC @tmylk .

[2017-02-06 16:41] rhazegh commented on #552
@piskvorky Thanks for clarification. I want to subclass `WikiCorpus` and override [`def tokenize(content)`](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/corpora/wikicorpus.py#L166)  function.

[code]

`def tokenize(content)` function is not defined in the body of the `WikiCorpus` class. How can one override it?

[2017-02-06 16:54] tmylk commented on #552
@rhazegh One can define `tokenize` again using `def tokenize` after impoting `WikiCorpus` code file. That will override it.

[2017-02-06 17:02] tmylk commented on #1135
Added to [wiki](https://github.com/RaRe-Technologies/gensim/wiki/Ideas-&-Feature-proposals)

[2017-02-06 17:02] #1135 closed

[2017-02-06 21:44] gojomo commented on #988
How about before a gensim 1.0.0 – a threshold where users expect changes in API/support – we prune some supported versions?

I'd suggest dropping Python 3.3 and 3.4 for sure – Python 3 users are more likely to cluster at the latest versions.

I think dropping Py2.6 support for 1.0.0+ would be a defensible choice even if we know of still-extant Py2.6 deployments. People needing newer features shoul

[2017-02-07 12:38] piskvorky commented on #988
Agreed on dropping Python 3.3 and 3.4. The move to 1.0.0 makes this the perfect opportunity :)

2.6 is a little trickier. I've thought about this again and in the end I think you're right. Old deployments can stay with old gensim versions (pre-1.0.0). With possible backport fixes where critical.

[2017-02-07 12:43] piskvorky commented on #988
@tmylk what does dropping these versions mean for the codebase, concretely?

How much refactoring to upgrade gensim to 2.7 code patterns (comprehensions, set literals, ?).

[2017-02-07 15:35] rhazegh commented on #552
Thanks @tmylk. This is how I did it. Create a new file `mywikicorpus.py` with the following content.

Redefining only `tokenize(content)` does not work. You need to override `get_texts(self)` and `process_article(args)` otherwise the instance of subclass `MyWikiCorpus` would keep calling the `tokenize(content)` in the `wikicorpus.py` file.

I think putting all these methods in the body of the clas

[2017-02-07 15:47] spearsem commented on #1129
I am experiencing a similar issue with LsiModel. I believe you can see the problem by looking at the relevant [code for saving LsiModel objects](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/lsimodel.py#L535).

The `save` function documents that `fname` can be a string naming a file or an open file handle. However, if you trace back the inheritance to `utils.SaveLoad` you

[2017-02-07 22:17] chrisjmccormick commented on #1133
Thanks, Radim!

I don't think `extract_pages` is what I want, since `get_texts` does some pruning, so the indeces of the articles wouldn't match, right?

I see that if I set the `metadata` property of the `WikiCorpus` to `True`, then `get_texts()` will yield `(tokens, (pageid, title))`, that’s great. (what’s pageid, by the way?).

`get_texts` is called in the WikiCorpus constructor [here](https://

[2017-02-08 01:26] lgalke commented on #1131
Hey there,
I am currently writing my master's thesis about word embeddings in information retrieval.
In my setting, the performance (in terms of Mean average precision) improves, when I replace OOV words by some specific vector. For GoogleNews i did chose 'UNK', since in their tensorflow word2vec examples, they also used this one for out-of-vocabulary words while training. For GloVe models, I arbi

[2017-02-08 06:51] prakhar2b commented on #132
Hello,

I'm an undergraduate student at IIT Roorkee. I'd like to start working on this project if possible, as I've seen a few projects already being worked on in students-projects section. Kindly let me know about it and also the current status of this project.

Thanks

[2017-02-08 07:54] alvations commented on #695
Bump issue. Having similar problems with getting the chunk to the worker for 9,000,000 documents ;P

In my case, the whole corpus is loaded into the RAM but somehow nothing is moving when I set `workers=30`.

[2017-02-08 09:59] Tixierae commented on #1073
Sorry for the delay in response. Updating indeed fixed the issue. Thanks!

[2017-02-08 16:00] #692 closed

[2017-02-08 16:12] tmylk commented on #446
Fixed in #987

[2017-02-08 16:12] #446 closed

[2017-02-08 17:36] tmylk commented on #1131
Hi @lgalke, that sounds like a very interesting research. We were wandering how effective the up-training is. There is no research about it. Please email student-projects@rare-technologies.com and we will arrange a Skype

[2017-02-08 17:36] #1131 closed

[2017-02-08 17:37] ymnliu opened #1138 "local gensim source code returns the version of global installation"
While using `gensim.__version__` to check on the version, the current code returns the global version number. This is caused by Line 10 in `gensim.__init__.py`:
`__version__ = __import__('pkg_resources').get_distribution('gensim').version
`.

In my situation, I have a newer version (0.13.0) installed in my system paths and I try to use an older version (0.10.3) of gensim in a project. I put the so

[2017-02-08 22:18] gojomo commented on #988
I wouldn't think any up-front refactoring work is necessary: simply dropping the commitment to 2.6, so that as new work is done, 2.7+ features will be used when natural (and not be rolled-back when they fail tests).

As a way to take the temperature of gensim users on such a change, the @gensim_py Twitter account could tweet a poll along the lines of:

[code]

[2017-02-08 22:34] piskvorky commented on #165
This was implemented 2 years ago (gensim 0.12.0 IIRC).

[2017-02-08 22:34] #165 closed

[2017-02-09 06:52] rpedela commented on #1135
The summarization code splits text into sentences. Based on the English summary results, it does a great job.

https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/summarization/textcleaner.py

[2017-02-10 01:01] chrisjmccormick commented on #1133
I think I've figured this out...

After creating the WikiCorpus [here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/scripts/make_wikicorpus.py#L92), you just need to set:
``
wiki.metadata = True
``
and it will preserve the article titles.

Then, pass the same to serialize:
``
MmCorpus.serialize(outp + '_bow.mm', wiki, metadata=True, progress_cnt=10000)
``

This will write out th

[2017-02-10 03:56] rpedela commented on #1021
While spacy is a great library, I found the sentence segmentation code used by the summarizer to be superior overall for my use case: summarizing SEC filings. SEC filings are legal documents so the language is formal, but they also contain a lot of tables, forms, and lists which don't follow normal grammar rules. I have been amazed at how well sentences are segmented by gensim.

I guess what I am

[2017-02-10 11:49] john-jh-lee opened #1140 "GenSim Install error"
Can anyone please help me install GenSim?

I've installed Python 3.6 (32bit) and tried pip -U GenSim in the Command Prompt.
But as you can see in the last snapshot, there is install error.

Any help would welcome! Thank you so much.

<img width="432" alt="image1" src="https://cloud.githubusercontent.com/assets/19709955/22825720/dce28392-ef5c-11e6-809b-b25e6c305e99.png">
<img width="710" alt="image

[2017-02-10 18:16] gojomo commented on #1140
From the last line of your output...

[code]

...this appears to be triggering on `numpy` installation – one of the gensim prerequisites – so is not likely specifically a gensim installation problem. It'd be worth trying just `pip install numpy` to see if that alone is enough to trigger the error – in which case you have a generic `pip` problem, or perhaps a `numpy`-specific problem, rather than a

[2017-02-11 02:21] ibrahimsharaf commented on #1082
I am interested in working on this bug, how can I start, what does "barking pull request" mean?

[2017-02-11 03:27] AaronWang30 opened #1141 "Phrases multiprocessing"
Is that supported? Since when I'm running word2vec with phrases, the speed is quite slow and I got some info like

2017-02-10 22:26:42,404: INFO: PROGRESS: at 0.23% examples, 156666 words/s, in_qsize 0, out_qsize 0

where in_qsize and out_qsize is always 0 or 1. Is that normal?

[2017-02-11 09:52] nicoxx commented on #1006
Thanks a lot ! I'll check this

[2017-02-11 19:29] bhargavvader commented on #1021
@ELind77 you still taking a stab at this? If not, I'd like to - I've some free time on my hands.

[2017-02-12 05:07] john-jh-lee commented on #1140
Thank you so much, gojomo, for your helpful comments. I think I am getting close to solving this issue. Thank you for your great help!

[2017-02-12 14:27] tmylk commented on #1082
@ibrahimsharaf The pull request that introduced this error is https://github.com/RaRe-Technologies/gensim/commit/2e0ed26c03bfa997c8748d03fafe313a05cd9741

[2017-02-13 01:00] ibrahimsharaf commented on #1082
should we use `        state_fname = utils.smart_extension(fname, '.random_state')` instead of `        state_fname = utils.smart_extension(fname, '.state')` in the load function?

[2017-02-13 14:58] spearsem opened #1142 "Creating a SparseMatrixSimilarity always requires constructing an in-memory sparse matrix even if you provide one"
You can [see in the SparseMatrixSimilarity constructor](https://github.com/RaRe-Technologies/gensim/blob/17a01cfa6363eb0c13600e4abcc7cfe68fd9c38d/gensim/similarities/docsim.py#L664) that there is no code path that would allow you to avoid creating a totally new sparse matrix from a sparse-matrix-based corpus. The constructor makes a call to `matutils.corpus2csc` which [always populates `data`, `in

[2017-02-14 11:21] riccardo92 opened #1143 "build_vocab: TypeError: object of type 'map' has no len()"
Upon running model.build_vocab I get the following error:

[code]

For reference:

...$ pip3 show gensim
Name: gensim
Version: 0.13.4.1
Summary: Python framework for fast Vector Space Modelling
Home-page: http://radimrehurek.com/gensim
Author: Radim Rehurek
Author-email: me@radimrehurek.com
License: UNKNOWN
Location: /usr/local/lib/python3.6/site-packages
Requires: smart-open, six, numpy, scipy

[2017-02-14 11:51] #1143 closed

[2017-02-14 16:40] tmylk commented on #1143
@riccardo92 It is the second time we get this report. Maybe we should improve the error message?

[2017-02-14 17:08] greninja commented on #1128
I have a doubt regarding calculating the coherence of each individual topic.

Is it like:
We make a seperate 2D list of confirmation measures for each individual topic, in `direct_confirmation_measure.py`'s `log_conditional_probability` function, instead of creating one whole big list for all the topics combined, and then calculate the arithmetic mean of each topic to give its coherence?

This wil

[2017-02-14 19:42] tmylk commented on #1082
@ibrahimsharaf That line is used to load [saved state](https://github.com/RaRe-Technologies/gensim/blob/cebee95b19ce8950585dba8e9338472d06f1698e/gensim/models/ldamodel.py#L1004). It is different from random_state in this issue

[2017-02-14 20:37] tmylk commented on #1142
Hi,

Just making sure I understand your suggestion.

What if one passes None as corpus to SparseMatrixSimilarity constructor and then assigns .corpus and .index from mmapped files? Would that work for you?

The [posnext](https://github.com/RaRe-Technologies/gensim/blob/e4114336591e2dcd311260b7b221e2427335417a/gensim/matutils.py#L111) parameter iterates through all the terms in this for loop. That

[2017-02-14 21:05] tmylk commented on #1129
@spearsem Does the folder 'lsa-data/lsa-model/' exist? If the folder doesn't exist then gensim will not create it.

Also @AaronKim-CN does './D2V/doc2vec_result/' folder exist?

We should probably add code to create the folders. What do you think?

[2017-02-14 21:31] tmylk commented on #988
Dropped in #1145

[2017-02-14 21:31] #988 closed

[2017-02-15 08:26] riccardo92 commented on #1143
@tmylk This was my mistake. I should have commented that by instead I closed the issue.

Anyway, it was caused by not converting an input map to a list, so the sentences I gave to the model contained maps of words instead of lists of words.

[2017-02-15 09:24] amit2103 opened #1148 "GensiM LDA in tensorflow"
Hi All,

We would like to use Gensim LDA in tensorflow (to make use of multupel GPU's).

Is it possible to do it? Also can anyone provide any code examples/samples?

Thanks

[2017-02-15 14:47] jrieke commented on #447
Just want to quickly confirm what @gojomo suggested: By resetting (or simply reseeding) the random state of the model before each inference step, I get the same vector each time (I use DM and negative sampling to train the model). I.e. simply do:

    model.random.seed(0)
    model.infer_vector(words)

[2017-02-16 09:45] prakhar2b commented on #824
@tmylk @piskvorky @gojomo
The issue is about "no corpus in init, but trim_rule in init".

In the word2vec implementation (https://github.com/RaRe-Technologies/gensim/blob/a18b3df11564d3c3abbb7dba740ecc1fef5f29ce/gensim/models/word2vec.py), it is clearly commented that - "If you don't supply `sentences`, the model is left uninitialized -- use if you plan to initialize it in some other way." and "No

[2017-02-16 17:37] tmylk commented on #1140
@john-jh-lee Have you been able to resolve this issue?

[2017-02-17 09:04] somah1411 commented on #1069
can please explaine more about this problem and where can i but this  hasattr(model.wv, 'index2word')).

[2017-02-17 14:08] tmylk commented on #1069
This is resolved by deprecating direct access to KeyedVectors in #1147

[2017-02-17 14:08] #1069 closed

[2017-02-17 15:25] tmylk opened #1149 "VarEmbed pickled model for unit tests is too large"
This 7MB file `varembed_leecorpus_vectors.pkl` has doubled the size of the package. It is enough to train on a smaller toy corpus to pass unit tests. cc @anmol01gulati

[2017-02-17 18:49] frederik-elwert opened #1150 "LdaMallet.show_topics(formatted=False) fails"
Seems to be another side effect of the topn/num_topics issue:

In `gensim/models/wrappers/ldamallet.py`

[code]

should be

[code]

[2017-02-17 22:42] john-jh-lee commented on #1140
@tmylk Unfortunately, no. I think the reason (which I do not know at the moment) should be something very simple. It's very frustrating that I cannot even install GenSim.

[2017-02-17 22:48] giacbrd commented on #960
See the pull request #1153

[2017-02-17 23:37] gojomo commented on #1140
What error do you get if you try:
* use a 64-bit Python 3.6, and...
* create virtual-environment first, and pip-install gensim into it?

[2017-02-18 16:22] ibrahimsharaf commented on #1082
@tmylk can you review my pull request? https://github.com/RaRe-Technologies/gensim/pull/1155

[2017-02-19 09:24] prakhar2b commented on #576
@tmylk
I want to work on this bug. Could you update me regarding the current status of this bug. Also, the link for **build** seems broken in above comment.

[2017-02-19 14:25] kirit93 commented on #703
To get a verbose error on the command line as you would had the command been run on the shell, the `subprocess.check_output` function does the trick if used as follows :

[code]

Any particular reason a gensim `check_output` is being used instead of the `subprocess` method?

[2017-02-19 20:09] phalexo commented on #449
I have 4 Titan Xs sitting on a bus within the same Supermicro enclosure, overclocked to 1342Mhz.
If the software is stable and all it needs either TF or Theano I could attempt to benchmark it.

Note: Previously I observed Keras programs run 5 times faster when backed by Theano than when backed by TF.

[2017-02-20 23:19] bfolkens commented on #1136
Same here: workers=40, num_topics=10000
Corpus size: 112M

[2017-02-20 23:24] several27 commented on #1136
@bfolkens I solved this problem by using a different library specifically for lda, called LightLDA. I know it's not a perfect solution but it's easy to convert data to it from python and it's written in c++ so no weird python multiprocessing issues etc.
https://github.com/Microsoft/LightLDA

[2017-02-21 03:42] bfolkens commented on #1136
@several27 Wow, this looks promising - thanks!

[2017-02-21 14:51] Threynaud opened #1157 "Performance of data streaming from file vs directory of files"
Hi everyone,

I asked this question on SO [here](http://stackoverflow.com/questions/42368713/performance-of-data-streaming-from-file-vs-directory-of-files) but I thought it might be useful to ask it here as well.

I am using word2vec from Gensim and I am feeding sentences to the model with the following iterator:

[code]
Everything is working as attended but I noticed that the performances are var

[2017-02-21 18:56] ELind77 commented on #1021
@bhargavvader I just started a new job and I need approval before I can commit to opensource projects.  I'm not sure how long that will take.  If you want to take this please post progress here.  Otherwise I will have to come back to it when I have time.

[2017-02-21 23:46] prakhar2b commented on #824
## Update
I think I have solved this issue.

To handle the case of `no corpus in init`, I have introduced a flag variable `no_corpus` which is assigned **True** in case of no corpus. And now, each time we call **build_vocab**, we check for this flag first and re-assign **trim_rule** to **trim_rule_no_corpus** (introduced a new global variable to store trim_rule as part of the model)

Following cha

[2017-02-21 23:48] tmylk commented on #449
@phalexo Thanks a lot for volunteering the hardware! Adding a Titan benchmark to this list would be great https://github.com/RaRe-Technologies/gensim/pull/1033#issuecomment-273567836

[2017-02-22 06:52] yick2232 commented on #171
I met the same question.  My guess is the num_topics is small, you can try let num_topics large.

[2017-02-22 10:16] Threynaud opened #1159 "Efficient vector representation for documents through corruption"
I came across [this paper ](https://openreview.net/pdf?id=B1Igu2ogg) and I think it is a very promising alternative to Doc2Vec which doesn't scale at all with the size of the corpus !

The model architecture seems very similar to Word2Vec and it would be a nice addition to Gensim.
If you think it is a good idea, I would be glad to code a PoC for it!

[2017-02-22 10:25] bhargavvader commented on #1021
Cool, will open a PR soon then :)

[2017-02-22 11:11] curtank opened #1160 "Is there a document distances algorithm based on supervised learning?"
like we have a set that some sentence distances are given. how to using that to train model? maybe it is half-supervised.

[2017-02-22 13:50] tmylk commented on #1159
Thanks for the link. There should at least be an integration with gensim of this code. Hoping the code will appear soon in this github repo:

https://github.com/mchen24/iclr2017/issues/1

It is indeed very interesting way to expand on the paragaraph vectors and tf-idf-averaged word2vec. Would be good to compare it to tf-idf -averaged word2vec(not just idf) when the code becomes available.

[2017-02-22 14:27] Threynaud commented on #1159
I sent her an email about this, I'll keep you in touch! If she doesn't plan to make it public in a near future I'll try to implement it!

[2017-02-22 15:20] tmylk commented on #1140
Have you tried Anaconda? It is the best package and package-manager for windows

[2017-02-22 16:23] tmylk opened #1161 "Add metadata to WikiCorpus docs"
As mentioned in this [comment](https://github.com/RaRe-Technologies/gensim/issues/1133#issuecomment-278826784) `metadata` parameter  is not well-document in the WikiCorpus.

It needs to be added to [init](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/corpora/wikicorpus.py#L261) and to the wiki script parameters.

[2017-02-22 16:23] tmylk commented on #1133
Thanks for posting the fix. Created a documentation issue #1161

[2017-02-22 16:23] #1133 closed

[2017-02-22 16:43] tmylk commented on #911
@akcom What is your setup?  Struggling to understand how `ValueError: The truth value of an array...` can occur. The [tests](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_ldamodel.py#L74) to infer a vector pass in continuous integration with the `if doc` [code](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/ldamodel.py#L428)

[2017-02-22 16:49] akcom commented on #1148
I would suggest looking at BIDMach.  This is what I use for high performance LDA using GPU's.

[2017-02-22 16:52] akcom commented on #911
Hi tmylk - My input is in a COO/triplet sparse matrix format.  I load it in using numpy:

    sm = coo_matrix((entry_val, (row_num, col_num)), shape=(len(doc2id_map), len(word2id_map)).tocsr()
    corp = Sparse2Corpus(sm, False)

I made the mistake of passing my sparse matrix (sm) to LdaMulticore instead of the gensim corpus (corp).  By passing in the numpy sparse matrix, I arrived at the error ab

[2017-02-22 16:59] kirit93 commented on #1161
Hi! I'd like to get started contributing to Gensim and I thought this would be a nice way to start. As I've understood the issue, documentation about the ```metadata``` parameter is required here https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/corpora/wikicorpus.py#L261 right?
I'm unsure about how to add documentation to the wiki script. If you could point me in the right direction

[2017-02-22 17:02] tmylk commented on #1148
BIDMach is the first one I would try too. Though there are other implementations and depending on the use case the [benchmarks](https://github.com/BIDData/BIDMach/wiki/Benchmarks#latent-dirichlet-allocation-lda) may differ.

[2017-02-22 17:03] tmylk commented on #1161
Hi. Welcome! Could you please make your question more precise?

[2017-02-22 17:33] kirit93 commented on #1161
When you said ```metadata``` documentation needs to be added to init, does it need to be added to the comments under the ```__init__``` function definition?

[2017-02-22 18:58] tmylk commented on #1161
Yes, that is the docstring. It is also mentioned in tutorials and on top of the file

[2017-02-22 19:31] tmylk commented on #1160
@curtank I am not aware of that. But [the mailing list](https://groups.google.com/forum/#!forum/gensim) is a better place for such open-ended questions

[2017-02-22 19:31] #1160 closed

[2017-02-22 19:34] tmylk commented on #1157
@Threynaud Apologies, but it is more of a Python I/O forum question. Once the data is loaded into memory you should get the same word/s from gensim in each situation.

[2017-02-22 19:34] #1157 closed

[2017-02-22 21:17] chaxor opened #1162 "Word2Vec.build_vocab(…, update=True) gives "ValueError: all the input array dimensions except for the concatenation axis must match exactly""
The`build_vocab` function does not work with the ability to update online.

i.e.:

    model.build_vocab(sentences, update=False)

works fine, but

    model.build_vocab(sentences, update=True)

does not.

It provides the following error:

    ValueError: all the input array dimensions except for the concatenation axis must match exactly

[2017-02-23 05:47] amit2103 commented on #1148
Is BidMAch distributed? Means can it use multiple GPU's in a cluster like Tensorflow does?

[2017-02-23 19:45] gojomo commented on #1162
Is it possible that you're doing those two things in succession with the exact same corpus – and thus there are no new words in the second call, meaning a degenerate/corner-case update?

If so, it should probably be a no-op rather than an error. But also perhaps the return-value of `build_vocab()` should give some hint that no expansion occurred (and thus was an unnecessary call).

Separately: I w

[2017-02-23 19:52] gojomo commented on #1162
Are you by chance passing the same `sentences` in consecutively, and thus on the 'update', there are no new words?

There is somewhat of an expectation that the corpus for an update would contain new words, or else you wouldn't need to be calling `build_vocab(…, update=True)` at all. But it would probably be better for this to be a no-op, ideally with some return value hinting that no update occur

[2017-02-23 22:41] chaxor commented on #1162
Thank you for your response, I did not realize I was using this improperly.
My thought was this was a feature that allowed you to train the model such that when it encountered new data when being used, it would have the ability to incorporate that new data into it.
I am hoping to use word embeddings in a domain for which new words are created within the text fairly often, so I was hoping to find a

[2017-02-24 10:41] olavurmortensen opened #1166 "Enabling inference on held-out data in the author-topic model"
At the moment, it is not possible to make inference on held-out data in the `AuthorTopicModel`, and as a result it is not possible to evaluate model fit (bound) on new data either.

In LDA, we infer on held-out documents by calling `gammad, _ = self.inference([doc])`, learning the document's topic distribution `gamma` (local parameter), without updating the model (`sstats`, global parameter), by (

[2017-02-24 10:41] olavurmortensen opened #1167 "Improving serialized corpora functionality in the author-topic model"
The way the author-topic model (`AuthorTopicModel`) handles serialized corpora is not ideal. Firstly, we restrict the data format to the Matrix Market format (`gensim.corpora.MmCorpus`), and secondly, when we update the model with new data, we have to *reserialize* the entire data (which is very slow). If we can find a way around this caveat, it would be beneficial for very large datasets.

Read d

[2017-02-24 11:26] olavurmortensen opened #1168 "Enable distributed computation in the author-topic model"
Enable distributed computation in the author-topic model to allow massive experiments on clusters.

To some degree, it should be possible to follow the `LdaModel` distributed version as a "template", as the `AuthorTopicModel` class is designed to be as similar to the `LdaModel` class as possible. I'm not sure about the difficulty of this task, hopefully someone who is familiar with distributed LDA

[2017-02-24 11:26] olavurmortensen opened #1169 "Enabling multiprocessing in the author-topic model"
Enable multiprocessing for the author-topic model to allow faster training times.

To some degree, it should be possible to follow the `LdaModel` multiprocessing version as a "template", as the `AuthorTopicModel` class is designed to be as similar to the `LdaModel` class as possible. I'm not sure about the difficulty of this task, hopefully someone who is familiar with multiprocessing LDA can weig

[2017-02-24 13:51] #1161 closed

[2017-02-24 14:00] tmylk commented on #1148
BidMach is designed for a single machine with multiple gpus. There is a distributed [BidMach_Spark](https://github.com/BIDData/BIDMach_Spark) though I don't have experience with it.

[2017-02-24 20:47] vincentmajor opened #1171 "BleiCorpus after serialize cannot be loaded"
Python version 2.7.12
gensim version 0.13.2

I'm serializing my corpus into Blei LDA-C format using `corpora.BleiCorpus.serialize(filename, corpus)` which is then later used in a dynamic topic model, and not in python. (I know I can use the DTMModel wrapper, unrelated.)

If I need to come back and load the corpus back into Python I tried `corpora.BleiCorpus.load(filename)`, I get an unpickling err

[2017-02-24 21:02] tmylk commented on #1171
@vincentmajor Thanks for reporting it. Are you trying to load the model with 0.13.3 or older version? There is a know issue that is currently being worked on https://github.com/RaRe-Technologies/gensim/issues/1082

[2017-02-24 21:11] vincentmajor commented on #1171
@tmylk Yes, gensim version 0.13.2 on Python 2.7.12.
But, that issue referenced LDA models whereas I am serializing and loading a corpus without a model. I don't know if the same absence of a `random_state` variable influences loading of a corpus which should be random state invariant.

[2017-02-24 21:16] tmylk commented on #1171
Agree, it is not related to BleiCorpus. There haven't been any changes. Are you serializing and loading on the same platform, say Linux?

[2017-02-24 21:22] vincentmajor commented on #1171
Yep, OS X. It doesn't even work loading straight after serializing.

[2017-02-24 21:24] tmylk commented on #1171
do you have a small text and code example to reproduce?

[2017-02-24 21:25] vincentmajor commented on #1171
Not really, I'll generate one now.

[2017-02-24 21:39] vincentmajor commented on #1171
Okay here is what I am doing. Apologies about the nltk import.

    import numpy as np
    import pandas as pd

    df = pd.DataFrame(["The quick brown fox jumps over the lazy dog.", "This is a test."], columns=["text"])
    #df.head()

    from nltk.tokenize import RegexpTokenizer
    tokenizer = RegexpTokenizer(r'\w+')

    token_list = [tokenizer.tokenize(document) for document in df["text"]]

[2017-02-25 01:55] tmylk commented on #1149
Fixed in #1158

[2017-02-25 01:55] #1149 closed

[2017-02-25 13:23] bhargavvader commented on #703
@piskvorky , what's the reason we don't just use the `subprocess` `check_output`? Or if there was a way we could pass the `shell` flag in the current function, this would be a very useful fix.

[2017-02-27 10:48] already-taken-m17 opened #1172 "Monitoring Training loss"
Hi,
How can I monitor training loss of the model if I am using Word2Vec model from gensim.models for training ?
Also, how can I see the logs generated once training has started ? Can I redirect these logs to stdout ?

[2017-02-27 19:03] gojomo commented on #1172
Reporting of training loss isn't yet offered, but it's a wishlist item discussed in other issues like #999.

gensim uses standard Python logging, and logs many details at INFO or DEBUG levels - so you can configure logging in various ways – https://docs.python.org/2/howto/logging.html – to see those messages wherever you'd like.

[2017-02-27 22:25] funnydevnull opened #1173 "IndexError loading word2vec model from previous version"
I'm seeing an issue in 1.0.0 that did not occur in 0.13.4.1.  I'm simply loading the pre-trained gensim models from this site:

https://zenodo.org/record/162792

And then when I try to lookup a word it seems to be in the vocab but something weird is happening when accessing syn0.  What's very strange is that model.vocab[word] returns an index which is smaller than the first access of syn0 but I st

[2017-02-28 00:38] gojomo commented on #1173
To get a better sense of what's going on, could you please report the values of...

    model.wv.vocab['bon'].index

    model.wv.syn0.shape

[2017-02-28 13:04] mathrb commented on #1173
Got the same issue on another dictionary, testing word existance works and returns true, but getting it raises the IndexError

[2017-03-01 05:07] ChijunZhang commented on #1159
Author made code public 6 hours ago

[2017-03-01 09:08] luckystar1992 opened #1174 "what is the 'sample_int' mean in word2vec model?"
In the source code of gensim>models>word2vec.py , one of function named train_batch_cbow(...) of Word2Vec class, there;s one variance 'sample_int' , what does it meas?

[2017-03-01 15:59] AritzBi commented on #814
FastText just published pre-trained word vectors for 90 languages trained on Wikipedia. I am trying to load the Spanish model with gensim=1.0.0 and the method FastText.load_fasttext_format but I have the following error:
UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 0: ordinal not in range(128)

Should I use some other method?

[2017-03-01 17:33] Threynaud commented on #1159
Looks like it is directly integrated in Mikolov's code but I don't feel like I can make the change in Gensim by myself, I am too bad with Cython..

[2017-03-01 19:34] flashkari opened #1175 "EOFError during loading doc2vec model"
I could not load a doc2vec model on my computer and I got the following error.
This is the code:

[code]
This is the error:

[code]

I create  my model based on the following code:
`allDocs = docIterator(inputPath)
model = Doc2Vec(allDocs, size = 300, window = 5, min_count = 2, workers = 4)`

[2017-03-01 19:44] anmol01gulati commented on #814
cc @jayantj @tmylk  We should investigate about these new pre-trained models. Why do they fail tests. And also add these model files into tests.

[2017-03-01 20:13] jayantj commented on #814
Thanks for reporting this issue. At first glance, it seems like the code makes an assumption that the characters constituting the vocab words can be decoded as ascii. That seems like a dangerous assumption to make. Looking into it further.

And yes, adding these model files (or maybe simply models with non-ascii characters, and possibly even utf-16/utf-32 characters) to tests would be a good idea.

[2017-03-01 20:28] jayantj commented on #814
Yes, confirming that this is the issue. I'll push a fix for this asap.

[2017-03-01 20:28] gojomo commented on #1159
From a quick glance at the paper, the idea of composing a document-vector from a (random subset) of whole-doc words made sense to me and would be pretty easy to add as an option in gensim. However, I found the paper's description of the drop-out "randomly overwrites each dimension of the original document x with probability q" process a bit unclear – does it only happen to the composed doc-vec? Or

[2017-03-01 20:31] gojomo commented on #1175
It is likely the save file has been corrupted or truncated.

Has this happened once, or does it happen every time you generate a new model, save, and then load?

Do you have logs of the output during the `save()`, and do you have logging on, so you can see if any errors/warnings were reported at that time?

Note that larger models will be saved to multiple files (with a shared prefix), so if you m

[2017-03-01 20:34] gojomo commented on #1174
You can see `sample_int` calculated and assigned for each vocabulary word at:

https://github.com/RaRe-Technologies/gensim/blob/4dc6c74d5ae9b22367e044a4da44a27277f50f5b/gensim/models/word2vec.py#L677

It's an optimization to allow the downsampling of frequent words, as controlled by the `sample` parameter, to be done with entirely int randomization/comparison.

Please use the project forum, <https

[2017-03-01 20:34] #1174 closed

[2017-03-01 20:36] #1175 closed

[2017-03-01 20:36] flashkari commented on #1175
Thanks.
I did not know that larger models is saved to multiple files.

Best Regards,
Fatemeh

On Wed, Mar 1, 2017 at 4:31 PM, Gordon Mohr <notifications@github.com>
wrote:

[2017-03-01 21:28] jayantj commented on #814
Fix pushed as part of #1176
I haven't been able to test loading the new pre-trained models yet, since they are rather large (~10 GB) and the download is taking forever.

[2017-03-02 09:07] Threynaud commented on #1159
@gojomo I agree that the performances are only slightly better than state of the art methods (and only on certain datasets) but I think that what makes this paper interesting is that this model scales with the size of the corpus, something I personally struggle with,  with the current implementations of Doc2Vec!
However, I also agree with your last point! This is the main problem of the majority o

[2017-03-02 10:56] AritzBi commented on #814
I've just tested @jayantj fix with Spanish and Basque models and they are properly loaded. Thanks for the quick fix!!

[2017-03-02 18:57] tmylk commented on #703
The reason for custom check_output was support for Python 2.6 which is now removed.
We can use the  `subprocess.check_output` now

[2017-03-02 19:28] tmylk commented on #1173
@mathrb Could you please report the values of `model.wv.vocab['bon'].index` and `model.wv.syn0.shape`?

[2017-03-02 23:09] evanmiltenburg commented on #814
I tried the pre-trained English model, with the following command:

[code]

I get the following error:

[code]

This is with Gensim 1.0.0, freshly installed from PyPi. The following code did work (but doesn't load the binary file):

[code]

Does @jayantj's fix also solve this issue? If so, should I install Gensim from GitHub, or will the patch soon also be on PyPi?

[2017-03-03 00:20] tmylk commented on #814
Please install from github for now

[2017-03-03 12:25] jayantj commented on #1173
Just looked into this issue, the problem seems to be related to loading pre-KeyedVectors models. When the numpy arrays are stored separately, the vectors are not loaded into the `syn0` attribute of the `KeyedVector` instance, and are instead loaded into the `syn0` attribute of the `Word2Vec` instance.

Not sure why this is happening, there was even a unit test specifically for testing this. Checki

[2017-03-03 12:51] mathrb commented on #1173
Hello
model.wv.vocab['bon'].index = 109
model.wv.syn0.shape gives me this :
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'list' object has no attribute 'shape'

[2017-03-03 13:09] sherlockhoatszx opened #1178 "If i use lsi.add_documents for information retrieval, how should we generate the dictionary and how does the model merge"
Dear Gensim Team:
Thanks for your wonderful work ! Quoting the script from the [LSI API](https://radimrehurek.com/gensim/models/lsimodel.html)

What confuse me are:
1. Corpus is a word-doc matrix,right? LSI truncate the corpus (w-d matrix) into U,S,V matrix(by SVD).**corpus1 and corpus2** ,although them got same dimension,but, the**rows'words list could not be the same**,right? so **how could we m

[2017-03-03 15:57] jayantj commented on #1173
Pushed a fix for this in #1179

[2017-03-03 16:57] #1173 closed

[2017-03-03 21:30] gojomo opened #1180 "`load()` in 1.0.0 not rebuilding necessary down-sampling `cum_table`"
See: https://groups.google.com/d/msg/gensim/F9SLBpik4Yg/Jz7BhRH_DQAJ

The test in Word2Vec `load()` is only chcking for `index2word` in its old location, thus a necessary structure for continued training isn't rebuilt.

Surprised no existing save/load tests catch this  as the re-build should even be necessary for a save/load within the same latest gensim version.