[2018-06-28 19:59] shiwangi27 opened #2113 "Found error in check labels condition while creating corpus using SvmLightCorpus.serialize"
#### Description
Found error in check labels condition while creating corpus using SvmLightCorpus.serialize

#### Steps/Code/Corpus to Reproduce

- Use twenty_newsgroups dataset from sklearn.datasets
- tokenize data and create corpus using gensim dictionary.doc2bow
- create tfidf of the corpus
- Pass corpus_tfidf and labels in:
 gensim.corpora.SvmLightCorpus.serialize('svm_20_news_groups.train', c

[2018-06-29 01:51] zkurtz opened #2114 "Consider adding ability to downweight words far from window center"
The `window` parameter in word2vec controls how far apart two words can be and still directly influence each other's resulting embedding. The current setup is that a given word is in another word's window or it's not, a binary outcome. By analogy to kernel regression, word2vec uses a uniform (or boxcar) kernel to predict target words from input words. So, again by analogy to kernel regression, cou

[2018-06-29 09:03] menshikh-iv commented on #1203
Hi @YuliyShamaev, are you sure that your ldamallet model is good enough (i.e. not under-fitted)?
Anyway, please prove saved ldamallet model for reproducing a problem.

[2018-06-29 09:18] YuliyShamaev commented on #1203
It's not about qualitty of lda model itself
I've viewed topics keywords using `ldamallet.show_topics` method
and it doesn't match visualization terms at all
Seems im not alone with this problem:
https://stackoverflow.com/questions/50340657/pyldavis-with-mallet-lda-implementation-ldamallet-object-has-no-attribute-inf

[2018-06-29 09:56] menshikh-iv commented on #1203
Potentially, `malletmodel2ldamodel` can contain a bug, but for reproducing I need at least mallet model (for a check that topics in mallet look good, but random in gensim), please share your model @YuliyShamaev

[2018-06-29 18:07] piskvorky commented on #2114
What I've seen is people use completely arbitrary distances between words, representing e.g. temporal gaps between the click events or physical distances (~"words").

If we add weighting, I'd prefer it to be something really flexible, not just one fixed function family like `exp(-beta*k)`.

Doing this in a way that's both easy to use and doesn't introduce performance regressions is probably non-tr

[2018-06-29 18:35] zkurtz commented on #2114
I agree that `exp(-beta*k)` is restrictive. Another way is to create a `window_weights` parameter that is `None` by default (preserving current behavior and performance). A valid non-null value for `window_weights` is any list of length `2*window` consisting of numeric values. This puts some burden on the user to know what they are doing when defining weights, but it is totally flexible, including

[2018-07-02 10:39] joanPlepi commented on #388
I am using gensim word2vec to train into 20Newspaper dataset. After I train the model I use
`model.wv.save_word2vec_format('models/model200.bin')
`
to save the model.
Right after I use
`model_loaded = KeyedVectors.load_word2vec_format('models/model200.bin', binary=True)`.
While loading it I get in the log lines like this:

When I try to output the words of model_loaded, I get numbers, which means

[2018-07-02 12:40] menshikh-iv commented on #388
@joanPlepi you saved vectors in text format, but load in binary, should be
[code]
or
[code]

[2018-07-02 16:05] joanPlepi commented on #388
@menshikh-iv  I see. I thought that when I save the vectors it gets the appropriate format from the ending part (.bin or .txt).
Thank you !

[2018-07-03 16:01] czhao028 opened #2115 "gensim.models.LDAmodel producing NaN & same words in each topic"
#### Description
Here is a brief introduction on StackOverflow; I thought I'd post this here too because the other StackOverflow question with the **exact same issue** as mine hasn't gotten even a single response in 2 weeks.

Link: [https://stackoverflow.com/questions/51142294/gensim-ldamodel-error-nan-and-all-topics-the-same](https://stackoverflow.com/questions/51142294/gensim-ldamodel-error-nan-

[2018-07-04 05:28] gojomo commented on #2114
FYI, the existing `Word2Vec`/`Doc2Vec` doesn't treat all distances equally, but rather follows the original word2vec.c implementation in treating the `window` as a maximum distance, but for each training-pass focused on a particular word, choosing a random effective window value from 1 to `window`. Thus, immediate neighbors are always part of the training, but more-distant words sometimes are and

[2018-07-04 05:31] gojomo commented on #2111
I suspect the intended meaning was, as you surmise, "heavily depends"... and the docs around the 'npmi' option should make that acceptable range clear.

[2018-07-05 00:43] zkurtz commented on #2114
Good to know! Maybe this is worth adding to the standard documentation. Is [this](https://github.com/RaRe-Technologies/gensim/blob/37e49971efa74310b300468a5b3cf531319c6536/gensim/models/word2vec_inner.pyx#L702-L704) the relevant snippet?

[2018-07-05 11:55] Paethon opened #2117 "Saving and then loading corrupts Doc2Vec model"
I just saw that the gensim version provided by Arch is pretty old. I am going to test with the newest version from `pip` and report back if the problem still persists. Ignore for now ...
Sorry for that. Should have checked before ...

#### Description
I trained a Doc2Vec model from scratch and directly after training I am getting reasonable results. After saving the model and loading it again, I g

[2018-07-05 17:39] divineSix commented on #546
Despite having the seed parameter set and a single worker thread, I am still unable to reproduce the word embedding. I am running Python 3.6 on Ubuntu using PyCharm, and not able to reproduce results despite setting the PYTHONHASHSEED. Can anyone tell me if I am missing something?

[2018-07-05 18:13] jtalviste opened #2118 "Setup script instructions are out of date."
Setup script instructions are out of date.

Environment: no C++ build tools.

Running cmd in in windows:
easy_install -U gensim

EDIT: OR running cmd in in windows:
pip install --upgrade gensim

error message:
error: Setup script exited with error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools

Going

[2018-07-05 20:57] gojomo commented on #546
@divineSix You would need to show a code example demonstrating your problem to guess what's going wrong. (What did you set PYTHONHASHSEED to? Are the exact same steps being followed each run? etc.) Working through such an issue should be done on the project discussion list, <https://groups.google.com/forum/#!forum/gensim>, unless/until it's show to involve some bug or required feature deserving an

[2018-07-05 21:09] gojomo commented on #2114
Yes, and other places `reduced_windows` appear (such as in `doc2vec_inner.pyx`. (I believe the similar effective-window variable was just `b` in original word2vec.c code.)

[2018-07-06 01:33] menshikh-iv commented on #2118
@jtalviste thanks for report! For now - feel free to use `pip install --upgrade gensim` (we have wheels for all popular platforms including windows) or use `conda-forge`.

[2018-07-06 09:38] Paethon commented on #2117
I just tried the newest version of `gensim`, and saving and loading works as expected now!

[2018-07-06 09:38] #2117 closed

[2018-07-06 10:04] menshikh-iv commented on #2118
@jtalviste I don't think so, can you try to `pip install --upgrade gensim`

[2018-07-06 10:06] jtalviste commented on #2118
yes, that was the first thing I tried. the info is correct

[2018-07-06 10:09] menshikh-iv commented on #2118
@jtalviste hm, looks suspicious, can you share full log please (from pip install) and try to fully remove & install again?
Also, I still don't understand, where you found http://landinghub.visualstudio.com/visual-cpp-build-tools?

[2018-07-06 10:12] FMCumhaill opened #2119 "err_rate in IMDB tutorial"
#### Description
While running the Gensim tutorial notebook on the IMDB sentiment dataset I'm getting an error in cell 8 that err_rate hasn't been defined. I can't see this variable mentioned anywhere above in the notebook either?

### Error code
[code]

### Notes
I __am__ running the script with a different dataset, but I __believe__ I have made the correct changes. The only changes where to the

[2018-07-06 10:20] jtalviste commented on #2118
Sorry, I already got the install working, and it took like hours to download Visual Studio. So at the moment I am not prepared to reproduce it on my end.

I tried easy_install and pip install and they both gave the exact same error message. Just do a search for it in the code base. And replace the URL with what I gave you. Old URL gives 404. I think what I gave is the new correct aadress. Microsof

[2018-07-06 12:28] ruiatelsevier opened #2120 "Why I got more docvec vectors than the number of my actual number of docs?"
#### Description
I am using Doc2Vec to embed my docs into vectors, the training was successful but the results are strange to me. I have 46k docs, while the size of docvecs is 200k. I don't know what's wrong with my code.

#### Steps/Code/Corpus to Reproduce
[code]

#### Expected Results
I expect the `model_d2v.docvecs` is a 46k-by-600 matrix.

#### Actual Results
The actual resulting matrix is a

[2018-07-06 14:03] menshikh-iv commented on #2118
Checked, we never mentioned this url, this url from `setuptools`
[code]
https://github.com/pypa/setuptools/blob/master/setuptools/msvc.py#L234

If you want to report an issue, please submit it to [setuptools issue page](https://github.com/pypa/setuptools/issues)

[2018-07-06 14:03] #2118 closed

[2018-07-06 14:05] jtalviste commented on #2118
Okay. Thank you

R, 6. juuli 2018 17:03 Ivan Menshikh <notifications@github.com> kirjutas:

[2018-07-06 16:22] piskvorky commented on #2119
@FMCumhaill Gensim has just been updated, including changes to this notebook.

Can you please try again in Gensim 3.5.0?

[2018-07-06 23:36] gojomo commented on #2120
Issues here should be reserved for bugs-needing-fixes or feature requests - troubleshooting or questions are better served on the project discussion list: <https://groups.google.com/forum/#!forum/gensim>. That said, if you're using plain ints as your document IDs, and your highest document ID is int `200000`, then a 200000-slot array will be allocated, even if not all IDs are used. If you don't wa

[2018-07-06 23:36] #2120 closed

[2018-07-06 23:47] gojomo commented on #2119
It looks like you're already using  the latest notebook – if not from 3.5.0, from post-3.4.0 github develop. The `err_rate` variable is defined and assigned in the line just before (in the destructuring assignment from the 4-tuple return val of `error_rate_for_model()`). So, I'm unsure how a not-defined error can occur a line later. Maybe the IPython magic `%time` isn't working the same in your en

[2018-07-07 22:42] groceryheist commented on #2115
I also encountered this issue. I believe it is a bug introduced in a recent version of Gensim. Downgrading to gensim 3.1.0 solved the problem for me.

[2018-07-08 21:14] piskvorky commented on #2085
@impulsecorp can you please try with the latest release, 3.5.0?
CC @gojomo

[2018-07-09 00:30] gojomo commented on #2085
I think this is likely fallout from #1777 @manneshiva refactorings.

[2018-07-09 09:03] FMCumhaill commented on #2119
I forked the latest branch and it seems to be working fine now? Thanks for the advice regardless.

If anyone has this issue in the future I'd suggest trying @gojomo advice, since it seems logically given the issue.

[2018-07-09 09:03] #2119 closed

[2018-07-09 11:30] brettbj opened #2123 "Poincare visualization breaks with plotly 3.0.0"
#### Description

poincare_2d_visualization - receives the following error -
ValueError:
    Invalid value of type 'builtins.str' received for the 'textposition' property of scatter
        Received value: 'bottom'

#### Steps/Code/Corpus to Reproduce
Example:
[code]

#### Versions
Please run the following snippet and paste the output below.
Darwin-17.2.0-x86_64-i386-64bit
Python 3.6.5 |Anaconda,

[2018-07-09 11:33] piskvorky commented on #2123
Thanks for reporting @brettbj -- is this a bug in Plotly or in Gensim? Can you fix it?

Ideally in a way that remains compatible: works both in plotly < 3.0.0 and plotly >= 3.0.0 (in case they just renamed or re-ordered some parameters). Cheers.

[2018-07-10 13:34] MistNewt opened #2126 "import error even after installing"
Installing collected packages: gensim
Successfully installed gensim-3.5.0

Python 3.6.5 (default, Apr 26 2018, 00:14:31)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-11)] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'gensim'

[2018-07-11 01:55] rafabr4 commented on #2086
In my tests, the default scorer does take into account the min_count parameter properly. I verified that by changing the parameter many times and looking at the length of the Phraser.phrasegrams dictionary. However, when using 'npmi' scorer, the length never changes by modifying the min_count, only with the threshold parameter.

[2018-07-11 10:40] Bachstelze commented on #1292
If the speed performance of the WMD is a big issue for, then you can try this out: https://github.com/src-d/wmd-relax
I didn't compare the speed results. but would be interested if one does for general settings.

[2018-07-11 15:12] menshikh-iv commented on #1292
Also, you can try to use  [soft-cosine similarity](https://radimrehurek.com/gensim/similarities/docsim.html#gensim.similarities.docsim.SoftCosineSimilarity), this is pretty fast and nice alternative for WMD, see [benchmark results](https://github.com/RaRe-Technologies/gensim/pull/1827#issuecomment-362666532)

[2018-07-11 18:17] gojomo commented on #1292
@Bachstelze Thanks for the pointer to `wmd-relax`!

Do you happen to know if it has options to return the "flows" chosen to minimize the WMD value, or "remainder"  (if ever doing a partial-match of unequal 'weights')? I have a hunch WMD might work well to check when one text conveys a superset of another (shorter) text's meaning – and then also find third texts that best add exactly what's missing

[2018-07-12 18:05] theasder opened #2129 "Troubles with randint while word2vec training"
Hey fellow developers,
I tried hard to fit word2vec on my sentences but on all the threads I received the following:

    Traceback (most recent call last):
      File "/root/anaconda3/lib/python3.6/threading.py", line 916, in _bootstrap_inner
        self.run()
      File "/root/anaconda3/lib/python3.6/threading.py", line 864, in run
        self._target(*self._args, **self._kwargs)
      File "/

[2018-07-13 15:10] lopusz commented on #2086
A while ago, I also noticed that problem with NPMI and sumbmitted a pull request on that
https://github.com/RaRe-Technologies/gensim/pull/2072

[2018-07-13 20:19] harshaks23 commented on #853
there is hickle which is faster than pickle and easier.
I tried to save and read it in pickle dump but while reading there were lot of problems and wasted an hour and still  didnt find solution though I was working on my own data to create a chat bot.

vec_x and vec_y are numpy arrays

data=[vec_x,vec_y]
hkl.dump( data, 'new_data_file.hkl' )

Then you just read it and perform the operations

data2

[2018-07-14 04:43] menshikh-iv commented on #2129
Hello @theasder,  please provide more information
- what's OS, python, gensim, numpy version you use
- the small code example that reproduces your problem (with corpus)

[2018-07-14 12:08] puramchendrasekhar1 commented on #530
Hi guys !, I am getting same error while importing gensim , I have tried all  the methods which mentioned above , please help me ,Thanks in advance,

My code is
import gensim
i=0
list_of_sent=[]
for sent in sampled_data['CleanedText'].values:
    filtered_sentence=[]
    sent=cleanhtml(sent)
    for w in sent.split():
        for cleaned_words in cleanpunc(w).split():
            if(cleaned_words.

[2018-07-15 11:43] sauravm8 commented on #814
Trying to load Bengali Fastext model, both for .vec and .bin format

1. For both .bin and .vec formats white trying with **models.KeyedVectors.load_word2vec_format**

 If you're working with a numpy git repo, try `git clean -xdf` (removes all

2. Same error when trying ** FastText.load_vectors ** or ** FastText.load_binary_data **

[2018-07-15 14:02] menshikh-iv commented on #814
@sauravm8 you have issues with numpy installation, resolve it first and reinstall gensim after

- for `.bin` use https://radimrehurek.com/gensim/models/fasttext.html#gensim.models.fasttext.FastText.load_fasttext_format (this typically contains full model with parameters, ngrams, etc), you can continue training after loading
- for `.vec` use https://radimrehurek.com/gensim/models/keyedvectors.html#

[2018-07-15 14:04] sauravm8 commented on #814
@menshikh-iv  Yes. It was a version conflict between numpy and python. Solved.

[2018-07-16 16:40] helloLiuLina commented on #1848
hello,I am a student from China,and I want to use the dynamic topic model to complete my work.But the code on github has somenthing wrong, have you run the dynamic topic model successfully?thanks.

[2018-07-17 14:04] p-h commented on #1948
How did you fix it?

[2018-07-17 15:02] a-mustafa opened #2131 "max_vocab_size is not what I expected when training Word2Vec"
When I train word2vec model with **max_vocab_size=10,000** words, the number of unique vocabulary I get is only about **4,000 words** (measured using len(model.wv.vocab)).

max_vocab_size is supposed to limit the number of unique words to the specified number (i.e., 10,000 in my case). It is possible to get less than the limit, if the number of words in the corpus is small. But my corpus can produ

[2018-07-17 22:16] probinso commented on #1589
I have a fix for this. I'm currently reading through the contributions guide to submit a conformant pull request.

[2018-07-19 02:48] chengrufeng opened #2134 "Add ELMo (Deep contextualized word representations)"
## Introduction
ELMo is a deep contextualized word representation that models both (1) complex characteristics of word use (e.g., syntax and semantics), and (2) how these uses vary across linguistic contexts (i.e., to model polysemy). These word vectors are learned functions of the internal states of a deep bidirectional language model (biLM), which is pre-trained on a large text corpus. They can

[2018-07-20 08:40] RaniemAR commented on #2115
Hello all

I have also encountered the same problem, I am using gensim 3.5.0

[2018-07-21 01:19] probinso commented on #1589
Finally passing all checks, was a little confused about one of Circle checks

[2018-07-22 02:49] bbiney1 commented on #1844
Hi, apologies for being repetitive, it feels like I'm close to getting mallet to work via python. I can only get mallet to work via the command line right now.

I have python 3 on a windows 10 computer and this error is leaving me in a position in which i can only use mallet via command line. I am using the git bash command line as opposed to command prompt though.
`from gensim.models.wrappers imp

[2018-07-23 08:09] harrypotter0 commented on #814
@menshikh-iv  Hi Sir,
I tried to load a model (trained using fasttext) using gensim , code I used for loading the model :

[code]
and here is the error I receive:

[code]
Apart from the above, here is the script I used for training a pretrained model on my own corpus and generated the model which I used in above script for testing it. Here goes the script:
[code]
Have I not trained the pretrained

[2018-07-23 14:46] daridar opened #2136 "Gensim's Doc2Vec model can not be loaded after saving."
#### Description

Gensim's Doc2Vec model can not be loaded after saving.
I trained my Doc2Vec model using examples of code provided below, saved it on 9th epoch and than when I'm trying to load it I receive an error (listing added).
No problems were received during training.
Training was executed on the same machine, on which I'm trying to load it again.

And please, provide the way to save this m

[2018-07-23 18:47] piskvorky commented on #2136
Thanks for reporting. That does look like a bug.

@gojomo @menshikh-iv @manneshiva any idea?

[2018-07-23 19:50] bbiney1 opened #2137 "Can't run Wrapper.LDAmallet via python due to FileNotFoundError & CalledProcessError"
I posted this issue on a dev branch for mallet, it's about the same problem (and it will probably have more depth cuz I might miss certain details this time around): https://github.com/mimno/Mallet/issues/135#issuecomment-407156116
Based on the response I got, I wanted to bring the issue here. I'm now just going to start copying most of the text from that post. A developer there felt as though the

[2018-07-24 07:39] fersandiP opened #2138 "Scikit learn wrapper for fasttext model"
Is there any plan to make this wrapper? I want to integrate fasttext model in scikit learn pipeline.

Thanks.

[2018-07-24 08:56] daridar commented on #2136
Hello, @piskvorky  and @gojomo ! Thank you for your kind advice.

I tried importing from file, where I created EpochSaver to file, where I'm trying to load my model and it helped!
Thank you, now everything works.

[2018-07-24 08:56] xor-xor opened #2139 "FastText incremental training fails"
#### Description
Having successfully trained model (with 20 epochs), which has been saved and loaded back without any problems, I'm trying to continue training it for another 10 epochs - on the same data, with the same parameters - but it fails with an error: `TypeError: 'NoneType' object is not subscriptable` (for full traceback see below).

#### Steps/Code/Corpus to Reproduce
[code]

#### Expect

[2018-07-24 09:18] piskvorky commented on #2136
@daridar good to hear :) Thanks for confirming.

@gojomo @menshikh-iv Do we need to serialize the callbacks? Are they useful outside of training?

Now that I think about it, we probably do. Even here in @daridar 's use-case, if we don't serialize callbacks, a loaded "checkpoint" model wouldn't support any more check-pointing, which is potentially surprising (not good).

Let me close here as "won't

[2018-07-24 09:22] piskvorky commented on #2139
@manneshiva @gojomo @menshikh-iv any idea? That use-case sounds like something we definitely want to (should) support.

[2018-07-24 15:50] gojomo commented on #2139
Yes, that seems like something that should work (even if it might be tricky to get working well) – and I'd guess the issue is something that's not being serialized isn't being rebuilt after re-load.

[2018-07-24 18:48] romanovzky commented on #2053
I have the same issue

[2018-07-24 19:30] romanovzky commented on #2053
Found the reason why it doesn't work. Basically, in the `_get_words_for_graph` function, namely at

[code]

The "tokens" is derived from `_clean_text_by_word` function, which in turn is not providing any POS tagging, as it can see with the following code

[code]
Returning
[code]
Looking at [clean_text_by_word documentation](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/summarizat

[2018-07-24 19:50] romanovzky commented on #2053
I would also like to point out that the [keyword tutorial](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/summarization_tutorial.ipynb) is wrong for the same reason, as by default the `keyword` function is supposed to tag only `['NN', 'JJ']` and in The Matrix movie synopsis example we can see `says`, which is neither.

[2018-07-24 23:34] ntonyproduction commented on #2139
I'm having trouble to compile this code, Does anyone know what would be the problem?

[2018-07-25 05:33] NandanIITM commented on #2053
Thank you so much romanovzky for the explanation.

[2018-07-25 07:43] romanovzky commented on #2053
Why close it? The problem persists, no? There is some functionality that is not working as intended and contrary to the documentation.

[2018-07-25 07:48] daridar commented on #2136
@piskvorky I think better exception message would have helped!

Because for me It was not so obvious that EpochSaver() needs to be imported from the module, where It was created while seeing this error) And, of course, It would be better if documentation would include some information about the correct usage of the saved model when using callbacks.

Thank you!

[2018-07-25 16:36] gojomo commented on #2139
@ntonyproduction Which code, what problem, what have you tried so far, what does it have to do with this issue?

[2018-07-26 09:33] midnightradio opened #2140 "Phrases keeps learned vocabs as bytestring"
#### Description
To collect phrase dictionary or to find appropriate parameters for a corpus with the Phrases model, I tried to see vocabularies built inside a trained instance of Pharses. However, there are full of bytestrings stored inside the member `vocab`. And I found that it intentionally converts all tokens into a bytestring by calling a method `any2utf8`. I think it is not normal as it pro

[2018-07-26 18:08] piskvorky commented on #2136
No problem. Can you open a PR that improves the docs?

Plus, if you're feeling a little more adventurous, a PR for the better exception message too :)

[2018-07-27 09:03] RingWong opened #2141 "Whether Doc2vec need build vocabulary?"
#### Description
Whether Doc2vec needs build vocabulary before training?
I'm following the code in [document](https://radimrehurek.com/gensim/models/doc2vec.html), it doesn't build vocabulary.

#### Steps/Code/Corpus to Reproduce
[code]
#### Expected Results

#### Actual Results
[code]

#### Versions
Linux-4.15.0-24-generic-x86_64-with-debian-stretch-sid
Python 3.6.1 |Anaconda custom (64-bit)| (de

[2018-07-28 04:00] groceryheist commented on #2069
I tested with gensim 3.5 and encounter the same problem. This essentially makes `malletmodel2ldamodel` worthless.

[2018-07-29 15:15] qichaotang commented on #2134
attention

[2018-07-30 09:17] Huixxi commented on #1920
I have wirte a skip-gram model with negative sampling method as the optimize method.Here is my [code](https://github.com/Huixxi/NLP_Word2Vec/blob/master/bin/word2vec_test.py).I have read a lot tuturals like blogs or papers and also checked several times but couldn't find any wrong in the structure or logic of my model, the performence of my model is always far worse than the gensim skip-gram versi

[2018-07-30 10:00] menshikh-iv commented on #1261
Thanks @DomHudson, I checked myself and confrim long time of `init_ngrams_post_load` (~90%).
Noe: original python wrapper re-use c++ function for loading: https://github.com/facebookresearch/fastText/blob/master/python/fastText/pybind/fasttext_pybind.cc#L142

Profiling:
- `python2.7`
- `gensim==3.5.0`
- `wiki.en.bin` from https://fasttext.cc/docs/en/pretrained-vectors.html

[code]

run it as `pyth

[2018-07-30 10:21] menshikh-iv commented on #2045
@quajak more detailed answer (to similar question): https://github.com/RaRe-Technologies/gensim-data/issues/26#issuecomment-408814033 (I hope this will be helpful for you).

[2018-07-30 10:39] #2043 closed

[2018-07-30 10:44] menshikh-iv commented on #1889
@sreenathelloti how this related with current thread? What is this code?

[2018-07-30 10:49] #2041 closed

[2018-07-30 10:53] menshikh-iv commented on #1953
@jtlz2 no, sorry :(

[2018-07-30 11:05] menshikh-iv commented on #2053
@romanovzky your example will work if you install `pattern` package, I talk about an example from https://github.com/RaRe-Technologies/gensim/issues/2053#issuecomment-407524565

probably tutorial was ran without installed `pattern` package -> no tags -> no filtering

[2018-07-30 11:05] #2053 closed

[2018-07-30 11:08] menshikh-iv commented on #2054
@sroder `most_similar` accept list of str (i.e. tokens), not str, see https://radimrehurek.com/gensim/models/keyedvectors.html#gensim.models.keyedvectors.Doc2VecKeyedVectors.most_similar

[2018-07-30 11:08] #2054 closed

[2018-07-30 11:17] menshikh-iv commented on #2055
Hi @telkomops, please provide more information
- python version
- os version
- full example (how to reproduce this error with all input data)
- full traceback

[2018-07-30 11:19] menshikh-iv commented on #2056
Fixed in `3.5.0`

[2018-07-30 11:19] #2056 closed

[2018-07-30 11:19] menshikh-iv commented on #1376
@simonhessner this is almost done in #1619, will be merged soon (I hope).

[2018-07-30 12:03] menshikh-iv commented on #2062
@rpedela thanks for the report, reproduced with `python2.7` and `gensim==3.5.0`

That's expected, we already have an issue for it #1261

The model contains 2 matrices (`vectors` and `vectors_ngrams`) + some model attributes `saved_model`, 3 files because we store matrices as distinct files.

[2018-07-30 12:05] menshikh-iv commented on #2065
thanks for report @psorianom :+1:

[2018-07-30 12:11] menshikh-iv commented on #2082
@xiaoxiaofengzi to get distribution for the document, you should use `model[my_document]`, `get_topics` return term-topic matrix (no documents here, see https://radimrehurek.com/gensim/models/ldamodel.html)

Most of them ~0 is expected behaviour (because only some words are significant for topic)

[2018-07-30 12:11] #2082 closed

[2018-07-30 12:13] menshikh-iv commented on #2069
@Wolfi-101 thanks for the report :+1:

[2018-07-30 12:36] romanovzky commented on #2053
Hi there. I do have Pattern installed. `pattern3` to be exact, or does it have to be `pattern`? This I can't install on python 3.6...

[2018-07-30 12:41] menshikh-iv commented on #2053
@romanovzky I checked with `2.7` and `pattern` (not `pattern3`), I'm not sure about `python3` in this case.

[2018-07-30 12:42] menshikh-iv commented on #2046
@Faruman thanks for the report, reproduced with `python2.7` and `gensim==3.5.0`

[2018-07-30 12:48] romanovzky commented on #2053
Just found a way to install `pattern`. However, after which I have the same problem. How can I debug further the reason for this?

[2018-07-30 13:04] menshikh-iv commented on #2075
Hi @anujgupta82, please give us more information about this problem

- OS version
- Python version
- Gensim version
- Code example for reproducing this error (with all needed data)

[2018-07-30 13:13] menshikh-iv commented on #2080
@vikash512 short answer:
- apply model to dataset (like `model[my_corpus]`)
- convert the result to the dense format (i.e. you have 4 topics and convert output from `[(1, 0.5), (3, 0.3)]` to `[0., 0.5, 0., 3]`
- put it as input to your NN

next time, please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for questions

[2018-07-30 13:37] menshikh-iv commented on #64
@jvazquez2, unfortunately no way, you can implement your own class using, for example https://github.com/RaRe-Technologies/gensim/blob/2ce4699e048a4bb02be06b0412a42da9bd7fbdfe/gensim/similarities/docsim.py#L722
as base class

[2018-07-30 13:42] menshikh-iv commented on #2085
@impulsecorp is a problem still reproduced with `gensim==3.5.0`?

[2018-07-30 13:44] impulsecorp commented on #2085
Sorry, I don't have that project running any more, so I can't try it again.

[2018-07-30 14:30] sairampillai opened #2142 "Word2Vec online training not consistent"
#### Description
Word2Vec online training not consistent.
Initially I wanted to verify if this is due to any version upgrades but it is similar across the two versions I checked [Versions 0.13.3 and 3.4.0].
The basis is that we train a Word2Vec model on a corpus and make a copy of it and call the train method again but this time providing some new sentences to train on without any out of vocabular

[2018-07-31 03:34] menshikh-iv commented on #2099
Thanks for report @cmiram, I add an example for reproducing an issue:

[code]
**Expected**: Int value
**Actual:**
[code]

[2018-07-31 03:43] menshikh-iv commented on #2097
Thanks for the report @zkurtz, we definitely need to update an documentation for this case, at least with

because this part isn't trivial (user don't expect this behaviour).
Also, need to add several code examples that demonstrate this behaviour (with missing indexes too).

[2018-07-31 04:08] menshikh-iv commented on #2105
ping @DennisCologne, please provide information for reproducing an error (that requested in https://github.com/RaRe-Technologies/gensim/issues/2105#issuecomment-401103021)

[2018-07-31 04:50] menshikh-iv commented on #2113
@shiwangi27 thanks for the report

Note: if your labels are `list` - it works as expected (here is an issue only with numpy arrays), in the documentation, type mentioned also as `list` (not `numpy.ndarray` or `iterable`).

Code example (that reproduce an error)
[code]
[code]

As solution, simpler way - convert parameter to list first (or second variant suggested in first post)

[2018-07-31 05:25] menshikh-iv commented on #2115
Thanks for report @czhao028,

can you please share a small reproducible example (now I can't run your code, because this isn't complete, data is missing)?

[2018-07-31 07:26] menshikh-iv commented on #2086
Fixed in #2072

[2018-07-31 07:26] #2086 closed

[2018-07-31 07:34] menshikh-iv commented on #1848
@helloLiuLina if you found some issues using gensim, please submit new issues with a detailed description (what happens, what expected/actual result, code example for reproducing your issue, etc).

[2018-07-31 08:14] menshikh-iv commented on #2131
@a-mustafa this is expected behavior, the current approach is heuristic, how it works:

After each input sentence (when you fill a vocab) current code executed
https://github.com/RaRe-Technologies/gensim/blob/4d921da6e34dc6c7c037ba1e4a36bf09ba56143d/gensim/models/word2vec.py#L1532-L1534

each time when filtering happens (i.e. vocab too large), we run filtering + increase `min_reduce` parameter (se

[2018-07-31 08:14] #2131 closed

[2018-07-31 09:15] menshikh-iv commented on #2134
Sounds promising for me, but need deep investigation first (i.e. reproduce experiments, see how it will work by quality/performance/etc).

[2018-07-31 10:12] menshikh-iv commented on #814
@harrypotter0 we don't support "supervised" models, can you share your `.bin` please, I want to reproduce this issue?

[2018-07-31 10:18] menshikh-iv commented on #2053
That's really strange, try to run this code first
[code]
if assert failed - `pattern` isn't installed correctly, if all OK - run your code with debugger (for example `ipdb`) and check that this line executed correctly (i.e. assign tags)
https://github.com/RaRe-Technologies/gensim/blob/f09b7db9c2d21cde85ee338deac26f74bdb1b000/gensim/summarization/textcleaner.py#L277

[2018-07-31 10:29] menshikh-iv commented on #1844
@bbiney1 some files in `C:\\Users\\biney\\AppData\\Local\\Temp\\` produced by Mallet, after - we need to read it from gensim, please do several things
1. Enable log to INFO level and put the log here
2. After an exception `No such file or directory: ...` check manually is this file exist (or not), write result here

double slash happens because windows use `\` for path delimiting +  "escaping" rea

[2018-07-31 10:58] menshikh-iv commented on #2139
@xor-xor thanks for the report, problem reproduced with `gensim==3.5.0`
[code]

but if we add `build_vocab(update=True)` after loading (before second training)  - all will works correctly

[code]

anyway, need to investigate this behaviour (because this **must** work without additional `build_vocab` call.

[2018-07-31 11:19] menshikh-iv commented on #2136
IMO yes, we need (for the same reason as you suggest), update documentation with this note about serialization is a good idea I think.

[2018-07-31 11:27] menshikh-iv commented on #2140
Hello @midnightradio, this is expected behavior, as you already suggest, this internally call `any2utf8` for all input.

I want to close it, any objections @piskvorky @gojomo ?

[2018-07-31 12:34] menshikh-iv commented on #2085
Reproduced with `gensim==3.5.0`
[code]
[code]

but I'm not sure that this is a bug because user shouldn't call this method (**only** `build_vocab` should be used), for this reason, need to update notebook (not d2v code).

[2018-07-31 14:16] czhao028 commented on #2115
I can't give you a sample of my data because it's confidential data, but phrases_and_tokens["Phrases"] is a pd.Series object containing rows of keywords created by this portion of the code:

`gensim.parsing.preprocessing.preprocess_string(sent.lower(), filters=[strip_punctuation,
            strip_multiple_whitespaces, strip_numeric, strip_short, wordnet_stem] for sent in sentences`

after reviewi

[2018-07-31 15:00] gojomo commented on #2085
Pre #1777, users could choose to call the 3 steps of `build_vocab()` (`scan_vocab()`, `prepare_vocab()`, `finalize_vocab()`) manually, instead of just `build_vocab()`, in either `Word2Vec` or `Doc2Vec`, if they wanted to do extra reporting/tinkering between those steps.

[2018-08-01 05:09] menshikh-iv commented on #2085
@gojomo yes, and `scan_vocab` and `prepare_vocab` still available as methods of `model.vocabulary`, but `finalize_vocab` partially replaced with `model.trainables.prepare_weights`

[2018-08-01 05:11] menshikh-iv commented on #2115
@czhao028 that's really sad because if we can't reproduce an issue - we have no chance to fix it, can you try to reproduce this error with a publicly available dataset please?

[2018-08-01 05:47] menshikh-iv commented on #2142
Hi @sairampillai, can you share your `20newsgroup-corpus.txt` please, I want to reproduce this behavior

[2018-08-01 08:33] menshikh-iv commented on #2137
double-backslashes by "escaping" reason, that's correct path for windows, see an example
[code]

can you reproduce this error:
- enable logging
- run your code (and put exact what you run here)
- publish stacktrace + logging messages
- check manually, is this file exist or not (I mean file mentioned in stacktrace)?

`"/c/users/biney/mallet_unzipped/mallet-2.0.8/bin/mallet"` doesn't looks correct f

[2018-08-01 13:59] sairampillai commented on #2142
@menshikh-iv  Yes, that is correct. I am not seeing any change in the 20-news dataset. I have a piece of commented out code in the gist that I used to create the word2vec.

Here is the corpus text that I have been using:
[20newsgroup-corpus.txt](https://github.com/RaRe-Technologies/gensim/files/2249701/20newsgroup-corpus.txt)

[2018-08-02 04:53] menshikh-iv commented on #2142
@sairampillai thanks, I found a reason of this behavior - mistake in your gist code

[code]

[2018-08-02 04:53] #2142 closed

[2018-08-02 11:25] deepak2083 opened #2144 "CalledProcessError: when running dcoument influence model using dtm-win64.exe in gensim python wrapper"
Dear Sir,

I am able to successfully run the DTM model using dtm-win64.exe in gensim python wrapper. But I am getting error when running the DIM model using the dtm-win64.exe .
I am running this using python script in Anaconda windows:
dimModel = DtmModel(dtm_path, corpus, time_slice, num_topics=60,id2word=corpus.dictionary, initialize_lda=True, model='fixed')
After running for almost 2 to 3 hours

[2018-08-02 12:47] SergiePro commented on #310
FastText worked perfect for me in text similarity/classification task, works perfect on small custom corpora, especially when array size is set to 100+

[2018-08-03 02:07] menshikh-iv commented on #2144
Hi @deepak2083, can you please share logs too. I found `The system cannot find the path specified.` as a description of exit status 3 on Win, that's really strange in case if this was running for several hours.

Also, can you share your `corpus` and `time_slice` please, I'll try to reproduce your issue on Windows.

[2018-08-03 06:31] deepak2083 commented on #2144
Hi Ivan,
Thanks for your reply. I am trying the Dynamic Topic Modelling and Document Influence Model on NIPS papers. The dataset and logfile are attached as required. I have taken the time_slice as [4,4,5] for 13 years from 1988~2000. The preprocessing steps I have followed from the following tutorial on Author-Topic model (https://nbviewer.jupyter.org/github/rare-technologies/gensim/blob/develop/

[2018-08-03 10:59] piskvorky commented on #2140
I agree with @midnightradio that is is surprising. I cannot remember why we use bytestrings -- why not simply use unicode? Was it because of less memory in Python 2? (before the unicode improvements in Python 3.3, which make this optimization largely irrelevant)

I think memory was probably the reason (Phrases are hungry).

If the documentation shows incorrect examples (not working), then that's d

[2018-08-03 17:51] czhao028 commented on #2115
@RaniemAR you wanna jump in here?

[2018-08-03 18:16] vsocrates commented on #1958
Hi, I actually just ran into this bug. I'm happy to put in the fix and tests from the above PR. I don't have too much experience in testing either, but I will model the test off of some of the scripts in the `test` folder. Please let me know if that is alright.

[2018-08-03 18:19] menshikh-iv commented on #1958
@vsocrates yes, you need to add new test class to https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_scripts.py and write several  tests for function https://github.com/RaRe-Technologies/gensim/blob/9c6db73919d032ab2f6ea35b3a9043e3b0d2aed5/gensim/scripts/word2vec2tensor.py#L51

feel free to post PR :+1:

[2018-08-03 18:32] vsocrates commented on #1958
Hi, sorry I deleted my comment as I saw that @AakaashRao had made a PR as well, but I will finish it up. Will submit PR when it's done!

[2018-08-03 18:35] menshikh-iv commented on #1958
@vsocrates right now nobody works on this fix, again, feel free to submit an PR

[2018-08-03 18:48] menshikh-iv commented on #2140
@piskvorky trouble in python versions (strings again ...) : with `python2`, example works correctly, with `python3` - mentioned behaviour happens, difference in small detail, see an example:

**python2**
[code]

**python3**
[code]

so, I don't know, what's a correct way here: fixing an example or something else (remember that Bouter are unrelated to this issue anyway, not a topic of discussion).

[2018-08-03 20:46] piskvorky commented on #2140
But Bounter is very much related -- the whole point of using bytestrings in Phrases was to save memory (unless I'm mistaken). It's an optimization, not a deep API decision.

The documentation examples should of course work in both Python 2 and Python 3, like the rest of Gensim. I consider it a bug if they don't (here and anywhere else).

[2018-08-04 05:57] piskvorky commented on #2059
If this is the case, how can Fasttext models loaded in Gensim even work? Wouldn't the similarity results be basically random for OOV words?

This sounds like a critical issue to me. @jayantj @manneshiva thoughts?

[2018-08-06 06:35] vsocrates commented on #1958
@menshikh-iv submitted. A quick note: I had to force the data type to be `float64` in this [line](https://github.com/vsocrates/gensim/blob/4c849dd4e8dbdeec94feb5b3c805c34b337749fb/gensim/scripts/word2vec2tensor.py#L70) to pass the test with the test data we have now. Please review, thanks!

[2018-08-06 06:53] midnightradio commented on #2140
In my opinion, documentation should be updated first no matter if it is a bug or not, or it's just a matter of time for contributors with Bounter or Cython.

I think Phrases is very useful. But I took some time to find its usefulness with my research with looking into the unexpected behaviour, which is not caused by internal bug but just a matter of storing a data causes inconvenience. Without und

[2018-08-06 12:11] piskvorky commented on #2140
@midnightradio I agree. Can you send a PR with the documentation update? What sort of language would have made your life easier? (image you're explaining to yourself ~3 weeks ago).

[2018-08-07 15:14] menshikh-iv commented on #2059
@piskvorky good question, probably nobody tests it with non-en models.

Anyway, need to check it.

[2018-08-07 15:29] menshikh-iv commented on #2140
So, in this case, let's decide that bug in the docstring example, need to make it cross-python (i.e. correct for both `py2` and `py3`)

[2018-08-07 15:29] menshikh-iv commented on #2129
ping @theasder, please provide needed information

[2018-08-07 15:30] menshikh-iv commented on #1588
ping @abhishekbuyt

[2018-08-07 15:31] menshikh-iv commented on #2055
ping @telkomops, please submit needed information

[2018-08-07 15:31] menshikh-iv commented on #2009
ping @budhiraja

[2018-08-07 15:32] menshikh-iv commented on #2075
ping @anujgupta82

[2018-08-07 15:32] menshikh-iv commented on #2105
ping @DennisCologne

[2018-08-07 15:32] menshikh-iv commented on #2110
@Aarboush ping, please submit info mentioned below.

[2018-08-07 15:33] menshikh-iv commented on #2115
@czhao028 ping

[2018-08-08 07:35] robguinness opened #2149 "Duplication of code of phrases module"
I was going to submit a minor pull request for the phrases module, but then I noticed that the `__getitem__` methods of the classes `Phrases` and `Phraser` are identical. Would it be a good idea to move this code to a higher level, e.g. the `PhrasesTransformation` class, or somehow merge the duplicated code?

[2018-08-09 09:43] bastij commented on #1021
I have managed to customize the summarization and keywords method for the German language by creating my own preprocessing with Spacy and changing only a few lines of code in the summarizer and keywords method. The results that I have achieved are really satisfying.

If you want to do something similar, then you should pay attention to the following:
The summarizer method expects a list of Syntact

[2018-08-09 09:53] JensMadsen commented on #1851
Sorry about the delayed response

[code]

generates four files:

<filename>.trainables.syn1neg.npy
<filename>.wv.vectors.npy
<filename>.docvecs.vectors_docs.npy
<filename>

[2018-08-09 16:10] Laubeee commented on #2037
It seems some parameters mismatch what is implemented vs in the docs. e.g.
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/ldamodel.py#L372
i think 'default' should be 'auto'?

[2018-08-09 18:24] JensMadsen commented on #1851
If I use sep_limit=1000000 * 1024**2 i get a single file but the size is somewhat bigger than summed size of the separate files....

[2018-08-09 18:34] leezu commented on #2059
For your reference, this was also not implemented correctly in the fastText C++ implementation. It is fixed there now. More info https://github.com/facebookresearch/fastText/issues/553

[2018-08-09 18:41] gojomo commented on #1851
That a single file is a little bigger, with pickle overhead, than the separate files isn't alone something to be concerned about. (Though as I noted previously, I believe single-file pickling breaks at some size around 2-4GB, even on 64bit Pythons.)

That even `separately=[]` results in multiple files may be an issue with the refactorings into subsidiary objects not adopting any `separately` setti

[2018-08-09 19:21] elliottash opened #2152 "Adding Word-to-Context Prediction in Word2Vec (inverse of `predict_output_word()`)"
In issue #863 there is the suggestion to predict a word given its contexts.

Another nice feature would be the opposite: given a word, output the probability distribution over contexts (of some window length).

[2018-08-10 07:27] JensMadsen commented on #1851
@gojomo thanks. As described in the original post I serve the model on an AWS lambda. I cannot stream the model from an s3 bucket when the model files are split due to a bug. Therefore I try to save the model in a single file. However, aws lambdas only have 512 mb diskspace which is not sufficient for me. Therefore I have tried to use delete_temporary_training_data and then save the model but that

[2018-08-10 09:53] menshikh-iv commented on #2037
@Laubeee yes, you are right, good catch! Can you submit PR with the fix, please?

[2018-08-10 09:56] LShostenko commented on #2075
https://github.com/RaRe-Technologies/gensim/pull/2154

[2018-08-10 10:06] menshikh-iv commented on #2075
Thank you @LShostenko

Just duplicate an example for reproducing an issue here
[code]

[2018-08-10 10:32] menshikh-iv commented on #2149
Sounds good @robguinness, thanks for the tip!

[2018-08-10 11:41] #2075 closed

[2018-08-10 13:40] mikeyearworth commented on #2069
Any news on this? I switched to using mallet for a study I'm doing but would still like to use pyLDAvis for consistency with previous work. I'm stuck with either
AttributeError: 'LdaMallet' object has no attribute 'inference'
or
gensim.models.wrappers.ldamallet.malletmodel2ldamodel()
returning random terms in the topics.
Using gensim 3.5 mallet 2.0.8

[2018-08-10 13:43] menshikh-iv commented on #2069
@mikeyearworth this looks unrelated to the current issue, can you provide full code example for reproducing your error please (with all needed data of course)

[2018-08-10 15:29] mikeyearworth commented on #2069
`model = gensim.models.wrappers.LdaMallet('/opt/local/bin/mallet', corpus=mikeycorpus, num_topics=num_topics, id2word=mikeydictionary, workers=3)
data = pyLDAvis.gensim.prepare(model, mikeycorpus, mikeydictionary, mds='pcoa')
pyLDAvis.display(data)`

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call la

[2018-08-11 04:47] menshikh-iv commented on #2069
@mikeyearworth as I know, `pyLDAVis` support only `LdaModel` and `LdaMulticore`, not `LdaMallet`.

For viz `LdaMallet` you need to convert it to `LdaModel` using `malletmodel2ldamodel` first (and current thread about this function function, it doesn't works correctly).

[2018-08-11 18:25] groceryheist commented on #2069
Jeri Wieringa wrote a tutorial on using data pyLDAvis with mallett. You load the model directly from the state object and do some transformations. I was able to make this work by adapting her code.

http://jeriwieringa.com/2018/07/17/pyLDAviz-and-Mallet/#comment-4018495276

So here is a work around until malletmodel2ldamodel is fixed.

[2018-08-11 21:45] yingchengsun opened #2155 ""AttributeError: 'Visdom' object has no attribute 'updateTrace'" when running "Training_visualizations.ipynb""
"updateTrace" has been deprecated in the newest version of  Visdom, but it is still being called in Gensim, so failed to run callbacks in "Training_visualizations.ipynb". Hope this issue can be fixed, thanks!
See
https://github.com/facebookresearch/visdom/issues/358

[2018-08-12 14:12] mikeyearworth commented on #2069
thanks @groceryheist (and Jeri Wieringa) that works fine.

Do you know if there is a way force the gensim wrapper for mallet to specify the state filename, or return it? mallet writes a new state file each run to an obscure location /var/folders/1x/93zy0_k93gj_xvrk4v_j96_m0000gp/T/XXXXXX_state.mallet.gz where XXXXXX is random each time.

[2018-08-12 16:29] groceryheist commented on #2069
The prefix parameter in the wrapper does this.

[2018-08-12 18:01] mikeyearworth commented on #2069
Great! Thanks @groceryheist.

[2018-08-13 03:45] menshikh-iv commented on #2055
Not enough information, can't be reproduced.

[2018-08-13 03:45] #2055 closed

[2018-08-13 03:46] menshikh-iv commented on #2009
Not enough information, can't be reproduced.

[2018-08-13 03:46] #2009 closed

[2018-08-13 03:47] menshikh-iv commented on #2129
Not enough information, can't be reproduced.

[2018-08-13 03:47] #2129 closed

[2018-08-13 04:07] menshikh-iv commented on #2155
Thanks for report @yingchengsun.
What should we use now instead of this function? What's concrete version of when this was removed?

[2018-08-13 07:05] gojomo commented on #1851
`delete_temporary_training_data()` is kind of a confused method, which with its defaults barely saves anything... but it should never make a model larger. (So, if you're seeing that, it may have been caused by something else.)

If you're never going to look up the vectors for those doc-tags supplied during training (as would happen for any `model.docvecs.most_similar()` operation), and are just us

[2018-08-13 07:56] piskvorky commented on #1851
@gojomo regarding `delete_temporary_training_data() is kind of a confused method, which with its defaults barely saves anything`: can you outline what's wrong with it and what it SHOULD do instead?

[2018-08-13 09:19] Laubeee commented on #2037
here you go: #2156

[2018-08-13 13:46] JensMadsen commented on #1851
@gojomo For me to reproduce that delete_temporary_training_data() does not lead to reduced file sizes I simply
[code]
I just reproduced it with a freshly trained model with dm = 0, dbow_words = 1, vector_size = 400, windows_size = 8

[2018-08-13 18:17] gojomo commented on #1851
@JensMadsen I think you mean `load(<filename>)`, as there's no load-from-file constructor. But, what were the file sizes before and after? And, what if you try re-saving to a new filename *before* `delete_temporary_training_data()`, and then a third filename *after*? (I suspect you may see the same expansion in the re-save, because it's something else that's causing it, perhaps a patching-up of an

[2018-08-13 19:47] piskvorky commented on #1851
OK. @menshikh-iv let's deprecate `delete_temporary_training_data`, along with any other half-implemented and not-so-well-thought-out methods.

I don't know if can reverse that unfortunate refactoring by Shiva at this point, but that may be another option. A little drastic, but maybe safer. Either way, a cleanup of the inheritance / functionality abstractions will be necessary, it's leaking too muc

[2018-08-14 21:25] snollygoster123123 commented on #2115
I do have the same problem. For me as soon as I try 70 or more topics, I only get NaN. I tried it on two different computers and I tried a lot of combinations between gensim versions and numpy version. Nothing helped.

[2018-08-15 02:05] menshikh-iv commented on #2115
Hi @snollygoster123123, can you give more information (exact code with dataset, python/os/gensim version), we need to reproduce this issue first.

[2018-08-15 02:06] menshikh-iv commented on #2110
Not enough information to reproduce.

[2018-08-15 02:06] #2110 closed

[2018-08-15 03:34] yingchengsun commented on #2155
One author of Visdom (JackUrb) said "Rather than calling updateTrace, you can simply use scatter or line with the update you want to make. ", but I tried to use scatter or line, still could not see the plot results, maybe you can have a try?
See
https://github.com/facebookresearch/visdom/issues/359

Also, I failed to find the concrete version of when this was removed. No clues.

[2018-08-15 07:34] gojomo commented on #1851
@JensMadsen And what of a `load()` then `save()` without even doing a `delete_temporary_training_data()` in-between?

[2018-08-15 22:08] snollygoster123123 commented on #2115
Hi @menshikh-iv, I solved the problem by taking the singlecore LDA Model. My Dataset consists of 60k Documents (Each approximately as long as a Wikipedia article ).
Worked fine with LDA Multicore for 10-60 topics. Anything above will result in only NaNs.
The line for the lda was:
lda = gensim.models.ldamulticore.LdaMulticore(corpus,
    id2word=dictionary, num_topics=80, chunksize=1800, passes=20,

[2018-08-16 01:40] menshikh-iv commented on #2115
@snollygoster123123 can you share `corpus` please?

[2018-08-16 06:42] cpflaume commented on #2139
I can confirm this bug - its even worse:
`model_gensim = FT_gensim(size=100)
model_gensim.build_vocab(lee_data)
model_gensim.train(lee_data, total_examples=model_gensim.corpus_count, epochs=model_gensim.iter)

# --> same error
model_gensim.train(lee_data, total_examples=model_gensim.corpus_count, epochs=model_gensim.iter)
`

Seems like you have to call build_vocab before EVERY train call, no matte

[2018-08-16 09:40] yajiezhu commented on #2139
dataset1 = models.Doc2Vec.load("dataset1.model")   1000 sentences
print(len(dataset1.docvecs.vectors_docs))       1000 sentences vetor
dataset1.build_vocab(new_sentences, update=True)    500 sentences
print(len(dataset1.docvecs.vectors_docs))  1000 sentences vetor
dataset1.train(new_sentences, total_examples=dataset1.corpus_count, epochs=100)
print(len(dataset1.docvecs.vectors_docs))   1000 senten

[2018-08-17 15:50] snollygoster123123 commented on #2115
@menshikh-iv  Corpus is 170MB. The only way I had to upload is was uploaded.
http://uploaded.net/file/3bzy5v6p
In case you have a better way, please let me know.
Also I do have the same problem now also for the single core version (whenever I use 80 or more topics).

[2018-08-18 20:56] piskvorky commented on #2115
@menshikh-iv if downgrading to Gensim 3.1.0 helps like @groceryheist says, it must be an issue with the recent additions. IIRC, there was some PR that reimplemented parts of LDA in C/Cython, right?

Maybe it used the wrong precision (floats, single precision)? If the error is due to such numeric issues, I'm thinking it's possible it only manifests itself on larger datasets, and our unit tests didn

[2018-08-20 14:20] rahul-raj commented on #1583
This issue is open almost an error, yet no workaround so far :-1:

[2018-08-21 03:02] menshikh-iv commented on #1583
@rahul-raj that issue about "moving python modules", nothing more, what kind of workaround you mean?

[2018-08-21 20:41] baruaranojoy commented on #1586
What is the standard dataset for generating an doc2vec model ?

[2018-08-22 11:41] baruaranojoy commented on #1586
Thank you for the help

[2018-08-23 15:43] piskvorky opened #2159 "Allow file-based *2vec training from compressed files"
All Gensim algorithms use `smart_open` to read their data, meaning the data can be .gz, .bz2, live on s3, etc.

However, the new code path for file-based training of *2vec model from #2127 only accepts .txt files. This is problematic, because the main purpose of this file-based training is to be run on **very large data** (where its superior speed actually matters). Keeping such large files uncomp

[2018-08-24 08:48] tranhungnghiep opened #2160 "[Feature request] Load full native fastText model to continue training on new data"
Currently gensim cannot load and continue training native fastText model. According to the docs [[1]](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/fasttext.py#L685), this is because it only loads input-hidden matrix. However, fastText also saves hidden-output matrix [[2]](https://github.com/facebookresearch/fastText/blob/master/src/fasttext.cc#L176).

Moreover, even the i

[2018-08-24 16:45] nzw0301 opened #2162 "Fix nested inline markup in `translation_matrix.py`"
#### Description

reStructuredText parser cannot deal with nested inline markup according to http://docutils.sourceforge.net/FAQ.html#is-nested-inline-markup-possible .

So, [this line](https://github.com/RaRe-Technologies/gensim/blob/46124f4895b4bec6eee58c23e1686e5c9efb84fd/gensim/models/translation_matrix.py#L50) does not show correctly:

![2018-08-25 1 17 10](https://user-images.githubuserconte

[2018-08-24 17:19] shettyprithvi opened #2163 "Mallet Gensim error. (Non-zero exit status 1)"
Hi all,

Please help me with the following error. I tried a lot to fix it but with no help.

Code:
[code]
Error:
[code]
Thank you,

Sincerely,
Prithvi

[2018-08-25 01:02] bhomass commented on #447
I tried setting the seed between infer_vector calls. It gives consistent results within a single program execution, but still differs when you re-run the program from beginning. Any other means for locking in the random states between runs?

[2018-08-25 02:09] gojomo commented on #447
@bhomass - Did you also read the part about PYTHONHASHSEED in Python 3.x, above?

[2018-08-25 03:58] bhomass commented on #447
no, no. miscommunication. I mean re-run the program to infer_vector using existing model.

[2018-08-25 15:56] piskvorky commented on #2162
In fact, there's no need for that line to be bolded at all.

Can you make that line a heading instead? Or if that doesn't work, simply drop the `**`.

[2018-08-25 16:17] nzw0301 commented on #2162
Thank you for your comment!
I will do that and open a PR for this issue!

[2018-08-26 10:35] darvid7 opened #2166 "KeyedVectors TODOs"
#### Description
Hi! I'm new here :) I was digging through the `Doc2Vec` code and came across a bunch of TODOs in `KeyedVectors`.

 I was wondering if TODOs such as https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/keyedvectors.py#L1601 in [KeyedVectors](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/keyedvectors.py) can be implemented using `model.infe

[2018-08-26 11:06] darvid7 opened #2167 "Doc2Vec understanding why are there many docvectors made?"
#### Description
TODO: change commented example

I expected the `Doc2Vec` model to make the number of paragraph vectors equal to the number of tags used to train the model.

In the below code snipped it looks like the count of the `docvecs` is equal to the maximum tag. I'm not too sure why.
#### Steps/Code/Corpus to Reproduce

[code]

outputs
[code]
Which is along the lines of what I expected beca

[2018-08-26 11:40] piskvorky commented on #2166
Thanks for the offer! I believe that TODO refers to accepting "raw vectors" (np.ndarray), in addition to the str/int vector labels:

[code]

The idea is that people can pass in their own vectors, no matter where they came from, such as from `infer()`:

[code]

(that is, not doing `infer` internally, but being able to accept its output)

CC @gojomo @menshikh-iv agree?

[2018-08-26 16:29] gojomo commented on #2166
AFAIK that method already accepts raw vectors. I'm unsure of the intent of the TODO. (It might have meant take the raw documents – as lists-of-tokens or `TaggedDocument` instances – directly. But I think that'd be unnecessary further parameter overloading.)

[2018-08-26 17:14] piskvorky commented on #2166
If that's the case, then at least the documentation is wrong.

[2018-08-27 02:15] menshikh-iv commented on #2163
Hi @shettyprithvi, can you try to run the command from `Error` and check what happens, please?

[2018-08-27 02:32] menshikh-iv commented on #2162
Fixed by #2164

[2018-08-27 02:32] #2162 closed

[2018-08-27 03:02] menshikh-iv commented on #2166
In this case, need to
- remove TODO
- fix parameter types (docstring)

[2018-08-27 03:11] menshikh-iv commented on #2167
@darvid7

 that's expected behaviour, if doctags are `int`, number of doctags are `max(doctags)` (and doctag#0 never be trained, because this missed in training set).

See previous answer.

If you want to receive "exact" number of doctags, just convert doctags to string, like
[code]

output:
[code]

[2018-08-27 03:11] #2167 closed

[2018-08-27 04:01] menshikh-iv commented on #2160
@tranhungnghiep thanks for the request, as I remember, FB distribute 2 type of models
- only vectors `.vec` file (i.e. no ngrams, only 1 matrix for words) in plain text format, for loading this, you should use `KeyedVectors.load_word2vec_format`
- full model binary `.bin`, `FastText.load_fasttext_format` should be used for ngrams & continue an training process

I think that this is a bug of curren

[2018-08-27 07:05] tranhungnghiep commented on #2160
@menshikh-iv Thanks for looking into it.

This issue is a more low-level problem, particularly `FastText.load_fasttext_format()` currently does not load the output-hidden matrix. After loading, we may need to do some checks and initializations related to #2139.

[2018-08-27 13:35] daridar commented on #2136
@piskvorky Hello! Was it addressed to me?

If it's for me, sorry, I missed it.

[2018-08-27 13:44] piskvorky commented on #2136
Yes, for you @daridar :)

Docstring / message fixes may seem insignificant, but they actually improve Gensim from a perspective we (core devs) don't have -- the "newcomer user" perspective.

[2018-08-27 15:33] bbrinx opened #2168 "Error calculating topic coherence using c_v"
#### Source Code
[code]

#### Expected Results
Expected coherence values

#### Actual Results
[code]

#### Versions

Darwin-17.7.0-x86_64-i386-64bit

Python 3.6.5 (default, Apr 25 2018, 14:23:58)
[GCC 4.2.1 Compatible Apple LLVM 9.1.0 (clang-902.0.39.1)]

NumPy 1.14.5

SciPy 1.1.0

gensim 3.5.0

FAST_VERSION 0

[2018-08-27 21:50] ksmnaidu opened #2169 "Gensim import error"
Hi,

I have uninstalled and installed gensim on my box to check the version compatibility but, after re-installing, I was not able to import gensim even though it says gensim package is successfully installed.

I am getting the import error like "No module name gensim"

I tried to do a pip uninstall gensim and did a conda install gensim. I even did an upgrade from conda.

Please help.

#### Descri

[2018-08-28 02:55] menshikh-iv commented on #2169
@ksmnaidu check than you use needed pip version (related with used python interpreter). Also, try to install using pip (not conda).

[2018-08-28 03:25] #2169 closed

[2018-08-28 11:29] JensMadsen commented on #2136
I would prefer if it was possible to load models without loading classes/modules used to save the model in the first place. I know that would be a major refactoring. Anyhow, 1) I do not like to import modules that are not used, 2) I serve my prediction step on an AWS lambda (in production and for tests) and I train my model on an ec2 instance and therefore save my model in an s3 bucket. It is alre

[2018-08-28 13:26] menshikh-iv commented on #2136
Hi @JensMadsen, what exactly you mean by ` load models without loading classes/modules used to save the model in the first place`?

If you need to load something, in gensim typically this looks like
[code]

`my_model` instance of class `X` -> `X` directly used here.

[2018-08-28 13:34] DarkKnight1991 commented on #2067
I agree that full model would be resource consuming. I am working on a problem where I have some 50-80 documents each with ~300 sentences. I have to be able to answer some questions using NLP concepts. Only training with given data is not giving me good results, so I thought may be training with bigger sources and then updating (training) model with my data might help. I have tried word vectors, s

[2018-08-28 14:11] JensMadsen commented on #2136
@menshikh-iv Sorry about being unclear :-)

Essentially my code is:

train_model.py:

[code]
epoch_saver.py:
[code]
In order to load the model pickle need to have access to epoch_saver.py but epoch_saver.py is otherwise not in use. To infer vectors I therefore have to import epoch_saver.py in infer_vector.py which looks something like

[code]
That was my only point; importing epoch_saver.py in inf

[2018-08-28 17:18] Alice-Ke commented on #1940
@manneshiva @gojomo Hi, thanks for your answers. I am encountering the similar problem with the author. I am confused about what this 'never-encountered (and thus never-trained) n-grams' comes from ? Is it initialized as a random vector for each bucket at the beginning? Thanks!

[2018-08-28 20:44] leezu commented on #1940
@Alice-Ke yes, all ngram vectors are initialized randomly. The gensim implementation throws the ones away that are not used by any of the *known words*. However, if you now look up the vector for a previously unknown word which contains some new ngram, gensim will return wrong results as it threw away the respective ngram vector. Further difference likely comes from possibly wrong handling of unic

[2018-08-29 02:09] menshikh-iv commented on #2067
@DarkKnight1991

Read more about data augmentation in NLP, you have very small train dataset, it's a good idea to extend it. FYI, better to ask questions in [mailing list](https://groups.google.com/forum/#!forum/gensim)

[2018-08-29 02:46] menshikh-iv commented on #2136
@JensMadsen aha, I understand what you mean, thanks for the clarification!

In this case, probably a good idea to save the model without callback always (for avoiding any pickle issues), @piskvorky @gojomo wdyt?

[2018-08-29 04:57] piskvorky commented on #2136
@menshikh-iv but then @daridar 's use case won't work — see https://github.com/RaRe-Technologies/gensim/issues/2136#issuecomment-407339864 .

I see two options:

1) Don't serialize callbacks. Pros: No need to have the callback classes named and importable.
2) Serialize callbacks. Pros: can load models and continue training, without specifying callbacks again.

I have no strong preference, either w

[2018-08-29 06:37] rachhitgarg commented on #1882
what if i want to update the model loaded with syntax (gensim.models.KeyedVectors.load_word2vec_format) by new sentences
I tried : showing error

**model.build_vocab(more_sentences, update=True)
AttributeError: 'Word2VecKeyedVectors' object has no attribute 'build_vocab'**

[2018-08-29 06:38] rachhitgarg commented on #1994
what if i want to update the model loaded with syntax (gensim.models.KeyedVectors.load_word2vec_format) by new sentences
I tried : showing error

**model.build_vocab(more_sentences, update=True)
AttributeError: 'Word2VecKeyedVectors' object has no attribute 'build_vocab'**

[2018-08-29 07:43] gojomo commented on #2136
The variant of (1) I'd prefer is not even allowing callbacks to be specified in the initializer, and thus not store them on a model property. They're plausibly an advanced feature that users can supply each time they call `train()` (which is already supported).

(They're also essentially a green/experimental feature that came in with only slight review/testing in the "big any2vec refactor".)

[2018-08-29 09:08] piskvorky commented on #2136
Training models directly with one-liners like `Word2Vec(corpus, …)` is still supported and widely used.

Not exposing "advanced features / parameters" is in `__init__` is an interesting idea, but currently we have no "basic / advanced parameter" API contract in Gensim; typically `__init__` accepts everything that `train` does, and just proxies those parameters. So I'm worried such basic/advanced c

[2018-08-29 10:15] piskvorky commented on #1882
@akutuzov Sounds like a (nasty) bug to me. Can you replicate this in 3.5.0?

@menshikh-iv if the bug is still there, should we re-open this issue?

[2018-08-29 20:15] piskvorky commented on #2136
I agree with all of that. If we go with option 1), we don't store callbacks inside the model.

Question is, is this a pattern / policy we want to follow more generally? Do we start splitting out *some* training parameters into train-only vs train-and-init? Which ones? Or all of them? Or decide ad-hoc?

To be clear, the fix for this PR will likely be fairly trivial, there's no major issue here. But

[2018-08-29 20:17] piskvorky commented on #1882
Thanks @akutuzov . @menshikh-iv I'm re-opening this ticket, this sounds serious to critical.

[2018-08-30 01:57] menshikh-iv commented on #1994
@rachhitgarg `load_word2vec_format` returns only vectors (not full model), you can't continue training, see https://radimrehurek.com/gensim/models/keyedvectors.html

[2018-08-30 01:59] menshikh-iv commented on #1882
@rachhitgarg please stop post this to unrelated issues, I asnwered you https://github.com/RaRe-Technologies/gensim/issues/1994#issuecomment-417164089

[2018-08-30 02:11] menshikh-iv commented on #1882
@piskvorky yes, many different, just Ctrl+F `Word2vec.load` in https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_word2vec.py (but case mentioned by @akutuzov not covered)

[2018-08-30 14:17] jbayardo opened #2170 "Saving/loading Word2Vec as described in the tutorial fails"
#### Description

Trained a W2V model as shown in the documentation, along with a callback to save it to disk. When I try to reload one of the checkpoints, I get the following error:

[code]

#### Steps/Code/Corpus to Reproduce

[code]

And then, from a different notebook, with the same environment:

[code]

#### Expected Results
Model loaded

#### Actual Results

[code]

#### Versions

[code]

[2018-08-30 15:02] piskvorky commented on #2170
Related to #1882 and #2136.

[2018-09-01 14:02] darvid7 opened #2171 "How to use gensim.models.doc2vec.TaggedDocument.count()"
#### Description
How do you use `gensim.models.doc2vec.TaggedDocument.count()` it keeps returning 0 for me?
Also, is it acceptable to pass a list of integers to `TaggedDocument`? It accepts it but the docs say it should be a list of unicode string tokens.

#### Steps/Code/Corpus to Reproduce

[code]
#### Expected Results

I assumed `.count()` would return the occurance of a word in the list passed

[2018-09-03 02:53] menshikh-iv commented on #2171
Hi @darvid7,

`TaggedDocument` class just wrapper for handle tokens + tag for model (inherited from `namedtuple`).

For give frequency of word you should specify concrete field first, like

[code]

About types - you should pass list of `str` as `words` and list of `int/str` as `tags`.

[2018-09-03 02:53] #2171 closed

[2018-09-03 08:30] generall opened #2172 "Allow asymmetrical windows for word2vec."
I found that [WordRank ](https://radimrehurek.com/gensim/models/wrappers/wordrank.html) model could be trained with `symmetric` parameter. I allows to predict next word in sequence based only on the left ones. I think, this option should be also helpful for other models like Word2Vec and FastText.

[2018-09-03 17:02] piskvorky commented on #2171
@darvid7 if the documentation of `TaggerDocument` is not clear, can you open a PR that makes it clearer? Thanks!

[2018-09-04 02:38] menshikh-iv commented on #2170
Not reproduced, this is an code that I used

[code]

[code]

@jbayardo please
- make your code executable (simplify and fill missing things like `sentences`), because I need it for reproducing an issue (in my example all works as expected)
- double-check than you use same enviroment

[2018-09-04 17:33] Sherriiie commented on #814
How could i save fast text model to bin and vec files ?

[2018-09-04 18:02] kevin28520 commented on #814
@Sherriiie If you download the original pre-trained files from official website of fasttext at here: [https://fasttext.cc/docs/en/english-vectors.html](fasttext) and unzip them, they are `.vec' files.
Regarding `.bin` file, usually I use `gensim` to transform `vec` to `bin` like this:
` vec_file = gensim.models.KeyedVectors.load_word2vec_format("crawl_300d_2M.vec", binary=False)
vec_file.save_word

[2018-09-05 02:14] menshikh-iv commented on #814
@kevin28520 note (it can be obvious, but for avoid confusion) than `.bin` produced in this way are different with `.bin` distributed by FB: proposed `.bin` will contain ONLY word-vectors (no ngrams), this is still equivalent of `.vec` file distributed by FB.

[2018-09-05 17:19] gojomo commented on #2172
This has come up before; is there any evidence that asymmetric windows perform better for certain tasks, and which tasks?

[2018-09-06 05:38] SriniNaga opened #2174 "Glove embeddings"
Do we have a python  implementatipn for Glove embeddings  in Gensim?

[2018-09-06 05:42] menshikh-iv commented on #2174
@SriniNaga we can load pre-trained glove vectors using [KeyedVectors.load_word2vec_format](https://radimrehurek.com/gensim/models/keyedvectors.html#gensim.models.keyedvectors.Word2VecKeyedVectors.load_word2vec_format) but we don't plan to implement training in gensim, feel free to use original stanford implementation https://github.com/stanfordnlp/GloVe

[2018-09-06 05:42] #2174 closed

[2018-09-06 05:46] SriniNaga commented on #2174
@menshikh-iv  Thank you!

[2018-09-07 15:28] viplexke opened #2175 "Feature suggestion: relative cosine similarity for word2vec"
Hi all,
Based on this paper, do you think it worths the effort to implement relative cosine similarity measure?
https://ufal.mff.cuni.cz/pbml/105/art-leeuwenberg-et-al.pdf

Note that I'm not suggesting this as a potential contributor but as a grateful user.
Thank you,
Viktor

[2018-09-07 16:50] PrithivirajDamodaran opened #2176 "Gensim FastText() on custom corpus generates only .bin file ??"
I am using the Gensim implementation of FastText to train a custom corpus of text (and I don't want to use the pre-trained ones) . But the below command only saves the model as .bin file and there is no equivalent .vec file. Is this by design ? or am I missing something ?

please advice

[2018-09-09 19:37] Naba7 commented on #2113
@menshikh-iv sir i want to work on this. how to proceed?

[2018-09-10 02:52] BehroozMansouri91 opened #2177 "Defining alphabet"
I trying to use fast text for new language that I made to parse some text. I want to define my own set of characters so for instance, instead of a,b,c  I want to consider a12, b23, c34 as  a character when dealing with n-grams. Can any one inform me where I can edit this part? or how should I do it? is it possible?

[2018-09-10 03:47] menshikh-iv commented on #2175
Thanks for request @viplexke, I quickly looked at the article: IMO doesn't look very useful for including it to gensim. Also, the formula for `relative cosine similarity` looks pretty simple (i.e. any person who need this can implement it self).

CC: @gojomo @piskvorky

[2018-09-10 03:53] menshikh-iv commented on #2177
Hello @BehroozMansouri91, this can be done in a simple way: just replace each of `a12`, `b23` to 1 character that doesn't happen in the corpus, for example  `"a12b23helloc34" -> "@#hello~"`, where
[code]

please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for this kind of questions in future

[2018-09-10 03:53] #2177 closed

[2018-09-10 04:02] menshikh-iv commented on #2176
Hi @PrithivirajDamodaran,

File `"somename"` produced by `save` method store model in gensim-custom format that not compatible with FB implementation. By idea, this is same as FB `.bin` (store full model, taining can be continued after loading), can be loaded by Gensim (can't by FB implementation).

About FB `.vec` - it's just word-vectors in text format, see example below

[code]

Please use [mai

[2018-09-10 04:02] #2176 closed

[2018-09-10 10:10] PrithivirajDamodaran commented on #2176
Noted and Thanks !

[2018-09-12 10:36] darvid7 opened #2179 "Training and accessing word vectors using Doc2Vec"
Hi! I was looking into how to get word vectors after training them using `doc2vec`. Issue #1513 outlined you can get the raw word vectors using `model.wv.syn0`. However, when I access these vectors before and after training the model the values are the same. Am I missing something? How can I access the trained word vectors after training a `Doc2Vec` model?

Also, according to the docs, the paramet

[2018-09-12 13:43] jbayardo opened #2180 "Race condition when running on_batch_end"
#### Description
Saving Word2Vec during a on_batch_end call keeps training it.

#### Steps/Code/Corpus to Reproduce
Train W2V with a callback that looks like:

[code]

#### Expected Results
Model checkpoint after every hour of training

#### Actual Results
While running train:

[code]

#### Versions
Linux-4.4.0-1062-aws-x86_64-with-Ubuntu-16.04-xenial
('Python', '2.7.12 (default, Dec  4 2017, 14:5

[2018-09-12 13:47] #2180 closed

[2018-09-12 16:13] alexeyev opened #2181 "Unpredictable ZeroDivisionErrors in direct_confirmation_measure"
Hello.

Thank you for your great work!

It seems that the problem https://github.com/RaRe-Technologies/gensim/issues/1064 is back. I get a lot of this

[code]

when I use the version 3.5.0 installed from pypi.

Thanks in advance.

What other info should I provide?

[2018-09-12 18:54] jbayardo opened #2182 "Word2Vec keeps on training during on_batch_end call"
#### Description
Saving Word2Vec during a on_batch_end call fails because of something that looks a lot like a race condition. It looks like some internal dict within gensim is still being changed during the call to save.

#### Steps/Code/Corpus to Reproduce
Train W2V with a callback that looks like:

[code]

#### Expected Results
Model checkpoint after every hour of training

#### Actual Results

[2018-09-12 23:57] jbayardo commented on #2170
I reinstalled gensim and everything worked as expected

[2018-09-13 02:32] menshikh-iv commented on #2182
Hello @jbayardo, thanks for report, I reproduced an issue (not exact, but looks similar, race condition too)
I use `gensim==3.5.0` and `python2.7`

[code]

**Expected result**
[code]

**Actual result**

first variant (almost always)
[code]

second variant (happend only once)
[code]

[2018-09-13 02:34] menshikh-iv commented on #2170
Great @jbayardo, thanks for the clarification.

[2018-09-13 02:34] #2170 closed

[2018-09-13 02:38] menshikh-iv commented on #2181
Hi @alexeyev, thanks for the report, please provide minimal code example with data that reproduce your issue.

[2018-09-13 02:39] menshikh-iv commented on #2168
Not enough information, unreproducible

[2018-09-13 02:39] #2168 closed

[2018-09-13 02:43] menshikh-iv commented on #2163
btw, I know what's wrong in your code: `mallet_path` should be a path to executable, just remove last `\\` from `mallet_path`

[2018-09-13 02:43] #2163 closed

[2018-09-13 05:51] neelasha23 opened #2183 "Mmap not working as expected with KeyedVectors"
#### Description
Mmap not working as expected when loading KeyedVectors in two different processes. We are working on MAC 10.12.6 , and Python 3.6. We have tried loading the keyedVectors from file using mmap option as mentioned in the documentation: https://radimrehurek.com/gensim/models/keyedvectors.html

#### Steps/Code/Corpus to Reproduce
import os
import psutil
from gensim.models import KeyedV

[2018-09-13 07:05] piskvorky commented on #2183
Are you sure you're measuring what you think you're measuring?

Memory management works differently on Mac, and there's no concept of "SHR" like on Linux.

Either way, Gensim simply calls [numpy.load(mmap_mode)](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.load.html) from numpy. If it doesn't work, it's a bug in numpy – please open a ticket there, nothing we can do on our end.

[2018-09-13 07:05] #2183 closed

[2018-09-13 14:50] annalina commented on #217
I'm getting the same error:
/venv/lib/python2.7/site-packages/gensim/models/ldamodel.py:1023: RuntimeWarning: divide by zero encountered in log diff = np.log(self.expElogbeta)
 I'm training with different topic sizes, from 10 to 100, and measuring the coherence to decide how many topics retain. Everything went well until 80 topics, where I got this error. It seems to be quite random. I'm not savin

[2018-09-13 15:20] AbhiRathore commented on #2108
Hey May you suggest what changes did you made ? I am facing the same issue. Mallet is running from command line ( without using the gensim wrapper) but when I am using the wrapper. It is showing similar error. 'mallet.gz' not found.

[2018-09-13 19:33] priyaananthasankar opened #2184 "Support Azure Blob Storage for gensim model save API"
Azure blobs have URL of the format https://<blobname>.core.azurewebsites.net/<blob container name>/blob_file

API's like
corpus.dictionary.save(azure_blob_url) (or)
ldamodel.save(azure_blob_url) fail with a NotImplementedError saying 'wb' mode not supported for https.

So it is just not possible to save these models in Azure Blobs!

[2018-09-13 20:03] jbayardo commented on #2182
For some reason, this happened to me every time I did the training. Fact to keep in mind: I was using 14 workers.

[2018-09-14 08:17] estathop opened #2185 "Create a TF-IDF model from wikipedia"
I realized there is an inconsistency when it comes to manipulating datasets from your official source when it comes to your code. For example, at first I tried to use the "text8" which is a sample of wikipedia with `api.load` and everything worked perfect, then I wanted to escalate to a 16GB dump of wikipedia. The code follows:

[code]

from this code I train the TF-IDF model with a small dataset

[2018-09-14 08:59] piskvorky commented on #2185
@estathop and what error?

Both when using `api.load` and when using `WikiCorpus`.

Btw you are creating your `corpus` as a list, in memory. This is not recommended! Use streaming to make `corpus` an iterator, avoid in-memory lists.

[2018-09-14 09:15] estathop commented on #2185
when using the `api.load` it just doesn't do the same as with the "text8" dataset.
On the other hand when using `WikiCoprus` this appears:
[code]
which I guess it means the data downloaded with api.load is not what supposed to be,
Furthermore when trying to pass a dataset directly downloaded from wikipedia dump, this appears:

[code]

I also tried to use other scripts from you I guess to create th

[2018-09-14 10:19] menshikh-iv commented on #2185
@estathop

1. `WikiCorpus` class support only `<LANG>wiki-<DATE>-pages-articles.xml.bz2` files (i.e. raw wikipedia dump with markup), `api.load` get you already processed file (without markdown).

2. `api.load()` return **iterable**, this is only one gurantee that you have. This can be sequence of list (as in `text8` case), sequence of dict (as in `wikipedia` case). In your case, you need to conve

[2018-09-14 10:19] #2185 closed

[2018-09-14 12:56] estathop commented on #2185
@menshikh-iv so I just need to get the `section_text` from below:
[code]
pre-process it to remove punctuation and capital words and struct a list of unicode (for every entry within the for loop) from it to feed it to `Dictionary` then construct a corpus from it, etc. So that my initial code works, am I correct ?

[2018-09-14 14:27] estathop commented on #2185
@menshikh-iv and unfortunately you were right about the out of memory issues. I was thinking about a smaller fragment of the dataset. Or else I will have to dig into the article @piskvorky  mentioned above and learn about generators and iterators . TF-IDF is supposed to be a little bit obsolete and I want it as a base for what I am doing. It shouldn't be that difficult to create a model, I wished

[2018-09-15 04:47] menshikh-iv commented on #2185
@estathop better to read an article from @piskvorky, this is the really useful thing that can help you with any tasks related to data more than your RAM. Also, gensim is fully iterable-oriented and encourages such use (takes care of your RAM).

[2018-09-15 20:08] andymancodes opened #2187 "Load Pre-trained word2vec vectors"
Hi,

I have heard a lot about gensim, but now when I am trying to use it, for probably the simplest task, i.e loading pre-trained embeddings, I am stuck for hours.

Consider:

[code]

[code]

Could gensim be used to load word2vec pre-trained embeddings released by google? How could I do so?

Cheers!

[2018-09-16 05:32] menshikh-iv commented on #2187
Hello @andymancodes,

of course, but google pre-trained vectors are really huge, you should have enough of RAM to use it. For reduce memory usage, you can load only part of this vector, for this, specify `limit` parameter, i.e.

[code]

For future, please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for questions (github issues only for feature request/bug report).

[2018-09-16 05:32] #2187 closed

[2018-09-16 17:36] gojomo commented on #2179
Main issue here is that the numpy-array-slice into `untrained_word_vectors` is saving a *view* on the working array, so changes with the training, so this code will never detect any training that is occurring. Further explanation & other issues with code answered on discussion list: https://groups.google.com/d/msg/gensim/vGrnyFwPqd8/rIBBLarNCQAJ

No bug or feature-request here, so closing.

[2018-09-16 17:36] #2179 closed

[2018-09-16 18:37] andymancodes commented on #2187
thanks @menshikh-iv ! it solved the issue, will use the mailinglist in the future, thanks for the link!

[2018-09-16 19:48] Pastafarianist opened #2188 "FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated"
#### Description
[code]

#### Steps/Code/Corpus to Reproduce

[code]

#### Expected Results
No warning.

#### Actual Results
`FutureWarning`.

#### Versions
[code]

#### Possible fix

Replace the offending line with

[code]

Based on [Numpy docs](https://docs.scipy.org/doc/numpy-1.15.1/reference/arrays.dtypes.html?highlight=signedinteger#specifying-and-constructing-data-types). I haven't researche

[2018-09-16 23:06] csmyth76 commented on #2115
If you want to reproduce the error:  I get it when I run the code here:
https://datascienceplus.com/topic-modeling-in-python-with-nltk-and-gensim/

...and change this:
 if random.random() > .99:
            print(tokens)
            text_data.append(tokens)

to this:
 if random.random() > .99:
            print(tokens)
 text_data.append(tokens)

There's a link on that page to the github that has t

[2018-09-17 02:35] menshikh-iv commented on #2188
@Pastafarianist thanks for the report, issue reproduced using mentioned dependencies.

[2018-09-17 02:40] menshikh-iv commented on #2115
@piskvorky I think you are right, this is definitely a numeric issue, also, can be related with #1927

[2018-09-17 05:59] piskvorky commented on #2115
@csmyth76 @snollygoster123123 @RaniemAR @czhao028  any appetite for looking into this and fixing the bug?

I don't know when we'll get to this ourselves, so help would be welcome. It looks like a serious issue with a potentially simple fix.

[2018-09-17 19:37] gojomo commented on #2175
It's interesting that it seems to help highlight synonyms, as opposed to other kinds of related words. If it could be done as a single short method in KeyedVectors, I think it'd be a good contribution – even though it's not hard for other to implement, sometimes people only discover new techniques by browing APIs. (Any implementation should cite this origin paper.)

[2018-09-18 11:08] estathop commented on #2185
what I wanted, worked with a different dataset dump from wikipedia, I downloaded another one that was not multistream which is not support by python 2.x

this code works perfectly

[code]

[2018-09-19 02:55] #2138 closed

[2018-09-19 05:33] SriniNaga commented on #1376
@menshikh-iv  Is  this feature(Sent2Vec) available  in Gensim now?

[2018-09-19 06:02] menshikh-iv commented on #1376
@SriniNaga sorry, still not merged, will be available in `3.7.0`

[2018-09-19 08:34] mrvsppr commented on #217
Same situation as @annalina
Code runs lda for multiple topics, num_topic =[20,60] work fine, num_topics=100, built with same corpus and dictionary, gives:

/usr/local/lib/python3.5/dist-packages/gensim/models/ldamodel.py:775: RuntimeWarning: divide by zero encountered in log
  diff = np.log(self.expElogbeta)
/usr/local/lib/python3.5/dist-packages/gensim/models/ldamodel.py:509: RuntimeWarning: over

[2018-09-19 09:49] menshikh-iv commented on #217
Can anybody provide
- minimal code example (with needed data) that reproduce this issue
- python/os/numpy/scipy versions

please @mrvsppr @annalina @xiaokc @HibaJak @RohitRaj2017 @Gladysgong @liz282907

[2018-09-19 14:55] piskvorky opened #2189 "Phraser requires unnecessary memory"
Currently, `Phraser` objects (= the trimmed-down version of the full bigram finder `Phrases`) contains the actual bigrams in an internal attribute called [phrasegrams](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/phrases.py#L775). This is the biggest and most memory-intense part of a `Phraser` object.

`phrasegrams` is a dict of `{tuple of strings => (frequency [int], sco

[2018-09-19 17:29] gojomo commented on #2189
Note the `vocab` dict of a `Phrases` also contains unigram counts. So if renamed, a name like `frequencies` might make sense.

But since renaming could break user code (or necessitate more compatibility-maintaining cruft), I wouldn't rename it unless part of a major refactoring/cleanup. The name `vocab` isn't that bad in its context-of-initial-assignement (where it has a [helpful comment](url)), a

[2018-09-19 17:37] menshikh-iv commented on #2181
Non-reproducible (not enough information)

[2018-09-19 17:37] #2181 closed

[2018-09-20 08:39] Froskekongen opened #2190 "Allow reserved IDs for `token2id` in Dictionary"
The dictionary now stard indexing words at 0, which may be unwanted for several applications. E.g. in my application, I want the first word to have index 1, and reserve 0 for padding. Similarly, one may want to reserve certain IDs for unknown tokens, special delimiter tokens, etc, that will remain unaffected by, e.g. `filter_extremes` and `compactify`. What I propose, is to be able to supply reser

[2018-09-20 12:32] menshikh-iv commented on #2190
Hi @Froskekongen, so, right now this can be added in different ways:

1. manual patching `Dictionary` after building
2. add `padding` token to the corpus in first place

What's a problem to add reserved tokens after dictionary build & filtered to the end?

[2018-09-20 12:39] itsbrycehere commented on #217
I'm running into this error as well now.

My function looks like this:
`import operator
from gensim.models.ldamodel import LdaModel
def very_tuned_LDA(corpus, dictionary, lemma_text):
    top_topics = [(0, 0)]
    while top_topics[0][1] < 0.97:
        lm = LdaModel(corpus=corpus, id2word=dictionary, alpha = "auto")
        coherence_values = {}
        for n, topic in lm.show_topics(num_topics =

[2018-09-20 12:44] itsbrycehere commented on #217
I'm having the same problem now. Code looks like this. Corpus, id2word and text all work in basic LDA, HDP, and LSI.

`import operator`
`from gensim.models.ldamodel import LdaModel`
`def very_tuned_LDA(corpus, dictionary, lemma_text):`
`    ``top_topics = [(0, 0)]`
`    ``while top_topics[0][1] < 0.97:
`        ``lm = LdaModel(corpus=corpus, id2word=dictionary, alpha = "auto")`
`        ``coherenc

[2018-09-21 05:49] piskvorky commented on #2163
@DongShanHu looks like you might need to escape the `\` characters: `C:\\Users\\` etc.

[2018-09-21 09:53] jenishah commented on #2189
I would like to take this up. Should I rename the .vocab attribute ?

[2018-09-21 10:01] jenishah commented on #2149
If anyone is not working on this, can I take this task?

[2018-09-21 10:17] menshikh-iv commented on #2149
@jenishah of course, feel free to submit PR

[2018-09-22 05:00] cjhih456 opened #2193 "Get some numpy error when running doc2vec"
Hi i get some numpy error on linux server(amazon ec2 service)
#### tested pc
os : window
python : 3.7
pip : 18.0
numpy : 1.15.1
gensim : 3.5.0
scipy : 1.1.0

#### dev server(has error)
os : linux
instance type : t2.large
python : 3.6
anaconda-client : 1.7.2
anaconda-navigator : 1.8.7
anaconda-project : 0.8.2
numpy : 1.15.1
gensim : 3.5.0
scipy : 1.1.0

i was reinstalled dev server's numpy,gensim a

[2018-09-22 07:13] menshikh-iv commented on #2193
Hi @cjhih456, can you please provide more info

- full stack trace (now I see part of it, but exception missing)
- minimal code example that reproduce this error (not only configuration, don't forget about data),

[2018-09-22 07:35] cjhih456 commented on #2193
now i catched that error.
@menshikh-iv  thank you for your attention.

that was need more data for making model.
thank you!

[2018-09-22 07:35] #2193 closed

[2018-09-23 22:13] yurivict opened #2198 "Version 3.6.0 doesn't install files gensim/models/doc2vec_corpusfile.so, gensim/models/fasttext_corpusfile.so, gensim/models/word2vec_corpusfile.so"
It writes these names into the plist files for the ```--record``` option (```setup.py install --record {plist}```), but doesn't actually install them:
[code]

[2018-09-24 02:35] menshikh-iv commented on #2198
Hi @yurivict, is you install `gensim` from source (or tarball)? If yes - probably fix already here #2194, if not - I'm not fully understand, what's `--record <ARG>` and why this needed? Can you clarify this point please?

[2018-09-24 02:48] yurivict commented on #2198
```--record {plsit}``` is a feature of python ```distutils``` that records the list of files that it installs. So it installs the files, and also records the list at the same time. The list should match the files, and in your case there's a mismatch.

We install a tarball from PyPI.

[2018-09-24 03:00] menshikh-iv commented on #2198
@yurivict can you please check it again with [gensim-3.6.0.tar.gz](https://github.com/RaRe-Technologies/gensim/files/2409496/gensim-3.6.0.tar.gz) (is issue still here or fixed?). This tarball builded from 62687e951dd0667f8257ace826a646529cbaff4c

[2018-09-24 03:07] yurivict commented on #2198
This tarball is free from this problem.

[2018-09-24 03:11] menshikh-iv commented on #2198
Great, thanks for verification @yurivict, this means that fix already there in #2194.

[2018-09-24 03:11] #2198 closed

[2018-09-24 03:35] menshikh-iv commented on #2188
@aquatiko

no, for example, `int32` isn't "child type" for `int64`
[code]

[2018-09-24 03:50] menshikh-iv commented on #2189
I agree with @gojomo, `.vocab` are really not bad. If you only want to rename it - just add an getter/setter with new name: this don't break anything and allows to use both (backward compatible).

[2018-09-24 04:55] menshikh-iv commented on #2107
The useful thing about docstring: we can "mock" our doctest to make examples more "practical", without limitations by time, example

[code]

In this case, we can
- run doctest fastly
- use real & huge models in doctest -> more practical & useful for user (instead of some dummy-models)
- (if we really needed) disable mocks and run without it (now every time, only before release or something similar

[2018-09-24 05:55] menshikh-iv commented on #2144
Thanks for info @deepak2083, unfortunatelly I have no windows machine now, if somebody can check it on windows - this will be really appreciated.

[2018-09-24 08:11] piskvorky commented on #2198
@menshikh-iv and which version is on PyPI? Is there an issue with the latest release for users who install with pip (no wheel), or not?

[2018-09-24 08:14] menshikh-iv commented on #2198
@piskvorky latest (`3.6.0`).
An issue exists for the person who installs the last version from tarball (no wheels).

[2018-09-24 16:30] guntherzhao opened #2199 "How to pick the number of topics with Umass measure?"
I am trying to use Umass measure to pick the best number of topics, but I do not know what Umass exactly means? About the coherence score, is it the bigger, the better, or just the opposite? Below is the output of my test with Umass measure. How many topics should I pick?
![image](https://user-images.githubusercontent.com/43496800/45965139-3e52bf00-c05a-11e8-9b23-4e4d9684475a.png)

[2018-09-25 06:26] adrianog commented on #1296
Hi

Is this still being considered?
Thanks

[2018-09-25 12:00] Froskekongen commented on #2190
So patching the dictionary is what I do now, which I consider a hack. It would be much better to be able to specify "special" tokens a priori.

The easiest way would, perheps, be a convenience method to patch the dictionary after building and filtering, passing a dict with reserved ID-token pairs.

Now, if that patching method exists, it should be trivial to add it to the init method and after com

[2018-09-26 07:14] menshikh-iv commented on #2190
@Froskekongen can you propose some interface for this feature and describe the mechanism, how this should work (in case if we want to update dictionary, add more "special" tokens)?

CC: @piskvorky through?

[2018-09-26 07:17] menshikh-iv commented on #1296
@adrianog this was already added as the ready2use pre-trained model, see https://github.com/RaRe-Technologies/gensim-data/releases/tag/conceptnet-numberbatch-17-06-300

[2018-09-26 07:45] adrianog commented on #1296
Just _superb_.
"The functionality and applicability of a trained model is identical to word2vec (like it was with gloVe)?"-> the answer to this was a "yes"? Any caveats?

[2018-09-26 07:48] menshikh-iv commented on #1296
@adrianog only thing about term construction (see `"/c/en/beer"` from an example from my link), see also original repo https://github.com/commonsense/conceptnet-numberbatch for more information about it.

[2018-09-26 11:45] Froskekongen commented on #2190
I can submit a PR for this, if you accept PRs from the outside. Would that be acceptable?

[2018-09-26 18:33] piskvorky commented on #2190
We accept outside PRs, as long as you agree to transfer copyright ([Developer instruction](https://github.com/RaRe-Technologies/gensim/wiki/Developer-page#legal)). This is needed so we can manage the code and grow the project at our will, without reaching out to all contributors.

[2018-09-27 06:05] menshikh-iv commented on #1401
@NikkiAdams fix of this issue was released in `3.4.0`, feel free to update `>=3.4.0`.

[2018-09-27 08:20] Froskekongen commented on #2190
@menshikh-iv: See the PR. If this is acceptable, it is trivial to accept special tokens as part of the init in the dictionary class, and use this function to patch the dictionary.

[2018-09-28 07:16] menshikh-iv commented on #2199
@guntherzhao answered in https://github.com/RaRe-Technologies/gensim/pull/710#issuecomment-425344644

[2018-09-28 07:16] #2199 closed

[2018-09-28 15:19] Abhishek-Bisht commented on #2137
Hi @bbiney1
In the first case you need to define the OS environment as the below code snippet

[code]
It is throwing 'FileNotFoundError' because it is searching for Mallet files it in your base predefined environment.

@menshikh-iv can you please confirm if this works for you as well.

Hope this helps.

[2018-09-29 14:32] pypt opened #2201 "Unable to load KeyedVectors models created with gensim==3.2.0: AttributeError: Can't get attribute 'EuclideanKeyedVectors'"
#### Description

Hi there,

I can't seem to be able to load trimmed `KeyedVectors` models created with gensim 3.2.0 with any newer version of gensim (3.3.0 - 3.6.0) because:

[code]

#### Steps/Code/Corpus to Reproduce

To replicate:

1) Create a model with gensim==3.2.0, convert it to `KeyedVectors` and then save it:

[code]

[code]

2) Try loading the model with gensim>=3.2.0:

[code]

[code]

[2018-10-01 03:09] menshikh-iv commented on #2201
@pypt thanks for the report: reproduced (`python2`, gensim `3.2.0` + `3.6.0`), looks like this can be related with #1777 again.

[2018-10-01 05:35] aquatiko commented on #2088
Fixed in #2202.

[2018-10-01 09:45] #2088 closed

[2018-10-01 12:48] Stigjb opened #2203 "Wrong return types in docstrings for wv.evaluate_word_analogies and wv.evaluate_word_pairs"
This is the documented return type for `KeyedVectors.evaluate_word_analogies`:
https://github.com/RaRe-Technologies/gensim/blob/6a4424d3e465dea0afcddc4f4e2410cf0f52dba1/gensim/models/keyedvectors.py#L1070

The dicts in the second element of the return tuple have as values either a string or a list of 4-tuples. For instance:
[code]
So I believe the return value of `evaluate_word_analogies` is actua

[2018-10-02 04:28] menshikh-iv commented on #2203
Hello @Stigjb, thanks for the report

I would be happy to use PEP484 annotation style, but I'm not sure how to use it in docstring (we use sphinx & napoleon plugin for numpy-style docstrings), also, we can't annotate arguments directly in the definition using `typing` backport lib (because of no new syntax support). Have you any thought about it?

Of course, this is a bug in current return type an

[2018-10-02 08:42] patvdleer opened #2204 "GUnicorn + Flask + Gensim -> Error: dictionary changed size during iteration"
#### Description
I'm trying to create a microservice for certain functions based on previously built models. To avoid blowing up the RAM I am trying to run the app with `--preload` on gunicorn, since I don't write but only read the models I figured this shouldn't be a problem but as soon as I try to even load gensim the app crashes.

#### Steps/Code/Corpus to Reproduce
[code]

#### Expected Result

[2018-10-02 08:48] menshikh-iv commented on #2204
Hello @patvdleer

Note that this is some issues with how `--prefork` exactly works (not a gensim issue), but I'll try to help you.
Please include at least full stack trace (I see only `dictionary changed size during iteration`, but no idea where it comes from) and  describe, what exactly gunicorn do with `--preload` option

[2018-10-02 09:09] patvdleer commented on #2204
Well....

[code]

[code]

[2018-10-02 09:13] menshikh-iv commented on #2204
@patvdleer I'm not sure that your code works here (just print something else to be sure, because output are same as the previous variant), please understand how exactly
- `gunicorn` run application server (here, you run "gunicorn wrapper", not python)
- how `--prefork` works

after this, you'll have an idea, how to get the full trace.

[2018-10-02 11:58] Stigjb commented on #2203
I looked at the documentation for Numpy-style docstrings as well as examples from Numpy and Pandas<sup>[[1]](#pandas-docstring)</sup> with multiple return values, and think I found a way to describe these complex types better. See the PR.

The reason that I used PEP484 style in the original issue was just that it is the type annotation style I'm most fluent in, not a suggestion to switch over.

<a

[2018-10-03 02:05] #2203 closed

[2018-10-03 12:57] myrthevandieijen opened #2209 "LdaSeqModel not replicable at 5th or 6th decimal despite fixed Python hash seed and random.state"
I've estimated both the LDA model and DTM on a dataset of 1173 texts (the LDA is used as input for DTM), and I get different results in the 4th, 5th and 6th decimal for the word probabilities when I run the DTM model on three different computers. In the code the Python hash seed is disabled (i.e., PYTHONHASHSEED=0), and the random.state is fixed as well. Moreover, all the packages of Anaconda are

[2018-10-04 02:09] menshikh-iv commented on #2209
Hello, thanks for report @myrthevandieijen, can you please add more information
- What's OS, python versions
- What's gensim version
- The small piece of code for reproducing (define missing variables in your example)

[2018-10-04 05:49] #2149 closed

[2018-10-04 07:00] menshikh-iv commented on #217
Hi @mrvsppr, thanks, but I can't add it to my dropbox (dropbox say than 2 GB are not enough), how large is it? Can you share it with google-drive (or something else)?

[2018-10-04 11:38] myrthevandieijen commented on #2209
Thanks for your response @menshikh-iv. I've listed the additional information below.

OS:
The OS is Windows 10 on my computer, and on the on the other two computers where I ran the code the OS was Windows 10 and Windows 7.

Python version and Gensim version:
On all computers we use Python version 3.6.6, and Gensim version 3.5.0. All the other (conda and pip) packages we use are of exactly the same

[2018-10-04 11:53] menshikh-iv commented on #2209
@myrthevandieijen thanks, can you please also
- add used corpus & dictionary files (just attach here as file or link to any file-sharing service)
- extend code with one more piece - point to something that different (i.e. what's exactly different: inferred vertor, internal matrix, something else?).

[2018-10-04 12:13] myrthevandieijen commented on #2209
@menshikh-iv Thanks. The corpus and dictionary can be found via this link (will remove this later on):
https://drive.google.com/open?id=1RQI4hI07RGzLFdZu7Il6cOx7gqHnp2eO

After estimating the lda seq model and reloading it, the code continues as follows:
`topic_word_probs_topic_1 = ldaseq.print_topic_times(topic=0, top_terms=len(dictionary_pruned)) # evolution of the 1st topic
topic_word_probs_top

[2018-10-04 13:44] menshikh-iv commented on #2209
Thanks @myrthevandieijen
Data: [drive-download-20181004T121809Z-001.zip](https://github.com/RaRe-Technologies/gensim/files/2446539/drive-download-20181004T121809Z-001.zip)

A bit reformatted first piece of code (training), ready to run (just be sure than you run it in same folder as data files

[code]

[2018-10-04 14:11] myrthevandieijen commented on #2209
@menshikh-iv Thanks! Should this solve the problem? Why are the different folders the cause of the varying results? I'd like to understand where this issue is coming from, as it's been bugging me for months, unfortunately..

I'll run it all again, have to adjust the code first. As mentioned, I work with multiple notebooks, as there's a lot of extra code written around the code snippets I sent, to

[2018-10-04 14:37] myrthevandieijen commented on #2209
@menshikh-iv ah that makes sense, I was already quite surprised. The model indeed takes a while to run. I'd really appreciate it if you could wait for it to run to investigate the problem further. I need the results to be replicable. Many (!) thanks in advance for all your help!

[2018-10-04 14:39] menshikh-iv commented on #2209
@myrthevandieijen thanks for your detailed report :+1:

[2018-10-04 20:00] prashantbudania opened #2213 "Phrases not working correctly with both the scoring methods"
#### Description
gensim.models.phrases not working correctly with either of the scoring methods

#### Steps/Code/Corpus to Reproduce

Example:
[code]

#### Expected Results
Bigrams with min count of 2

#### Actual Results
Bigrams with count 1 are part of the vocabulary
![screen shot 2018-10-04 at 3 54 12 pm](https://user-images.githubusercontent.com/16194274/46499330-cd47a000-c7ed-11e8-97ee-24666e

[2018-10-05 02:36] #2188 closed

[2018-10-05 12:15] bhanu546 commented on #372
Is anyone working on this as i can pick this up. The same issue persists with `Word2Vec.load` for loading model too as both uses the same method to load files.

[2018-10-05 12:42] bhanu546 commented on #372
Okay,i'd like to pick it up then, supporting file objects as an input along with filenames.

[2018-10-05 13:03] menshikh-iv commented on #372
@bhanu546 feel free to pick

[2018-10-06 09:38] piskvorky commented on #2213
`phrases.vocab` doesn't represent bigrams. Use `phrases[sentence]` to get bigrams.

See the module documentation at https://radimrehurek.com/gensim/models/phrases.html .

[2018-10-06 09:38] #2213 closed

[2018-10-06 13:04] ahmednabil950 opened #2216 "zipfile.BadZipFile: File is not a zip file"
```import gensim ```

caused this error all of sudden after upgrading...

zipfile.BadZipFile: File is not a zip file

installed via pip once and via conda forge once and neither of them worked.

any help will be appreciated.

[2018-10-06 14:05] menshikh-iv commented on #2216
Hello @ahmednabil950

can you add more information, please
- gensim version
- python version
- os version
- full stack trace (I have no idea how `zipfile.BadZipFile` can be produced after import)

[2018-10-06 14:13] menshikh-iv commented on #2204
ping @patvdleer, any updates?

[2018-10-06 14:32] ahmednabil950 commented on #2216
OPS,
 i guess i found the solution i have been trying to install [pattern](https://www.clips.uantwerpen.be/pages/pattern-en), but its production stopped some how and it is the source of the problem.
I don't know why but removing ```pip uninstall pattern``` solved the problem.
Thanks  @menshikh-iv
you can close the issue now.

[2018-10-06 14:38] menshikh-iv commented on #2216
As expected, an issue in `pattern` package (not `gensim`), we have conditional import here, i.e. if you drop pattern - that's OK to gensim.
Looks like this related with last pattern release. If you want to use pattern, just downgrade `pattern==2.6`.

[2018-10-06 14:38] #2216 closed

[2018-10-06 15:06] ahmednabil950 commented on #2216
Thanks @menshikh-iv :+1:

[2018-10-06 16:16] menshikh-iv commented on #2059
Hi @leezu, I see the fix in FB repo: https://github.com/facebookresearch/fastText/commit/9c9b9b2eca4fdc0182182cb69234fffbb847d820

I don't catch a bit, what we should to do (input can be non-utf8 too), can you give me an advice?

[2018-10-06 20:41] jagmoreira commented on #2112
I'd like to take this issue if no one is working on it already.

[2018-10-07 05:17] leezu commented on #2059
@menshikh-iv, essentially it is necessary to make sure something along the lines of the following Python code is used (equivalent to the C++ code you linked in the previous post). I haven't looked into the gensim cython implementation, but at least the pure python version is incorrect (as it wrongly considers the characters but not the bytes composing an ngram).

[code]

[2018-10-07 14:43] enricopal commented on #2000
Still having this issue with:
Debian
python 3.6.3
gensim 3.4.0
loading these models: http://data.dws.informatik.uni-mannheim.de/rdf2vec/models/DBpedia/2015-10/8depth/skipgram/

Here is the traceback:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/gensim/models/word2vec.py", line 975, in load
    return super(Word2Vec, cls).load(*args, **kwargs)
  File "/usr/loca

[2018-10-08 03:12] #2112 closed

[2018-10-08 04:36] menshikh-iv commented on #2000
Thanks @enricopal, this related to #1777 refactoring (for this reason. no error with `3.2.0`, but issue with `3.4.0`).

As workaround, you should use older gensim version.

[2018-10-08 11:47] myrthevandieijen commented on #2209
Hi @menshikh-iv, just checking in to see whether you might be a bit closer in solving this bug. Thanks!

[2018-10-08 22:03] manuyavuz opened #2218 "Doc2Vec not optimal CPU utilization on high number of cores with all-in-memory corpus"
#### Description

I know that there are a few related issues currently open or closed, but couldn't find specific information for the case where all corpus is loaded to memory, sorry if I missed something.

When I'm trying to run Doc2Vec with an all-in-memory corpus on a 64 CPU machine with `workers=40`, I see partial CPU usage.

Main process uses ~%400 CPU, and there are 40 other processes using

[2018-10-08 23:12] thegrimreaper1992 commented on #1873
I also think this is wrong and I'm not convinced by @gojomo 's logic. Backprop is basically the chain rule nothing more. So if neu1e is the derivative wrt l1 and l1 is an average of some weights, then derivative of neu1e wrt the weights would be 1/(number of words) so I also think it's a bug. If you want to convince me you have to convince me with the application of chain rule not the thing you me

[2018-10-09 02:45] gojomo commented on #1873
@thegrimreaper1992 The current code works well, and matches the behavior (in both code & rough results) of the original word2vec.c implementation from the authors of the original Word2Vec paper. If neither my explanation nor that concordance convinces you, go ahead and try it your way, and see if anything improves.

[2018-10-09 03:03] thegrimreaper1992 commented on #1873
Thanks for your response @gojomo.
Honestly, I'm mostly trying to understand if I'm being mistaken or this is just different than what is explained in the paper. It's not really about getting better results. Or if this is a slight modification but they haven't mentioned it I was wondering why it makes sense.

So in other words maybe I'm trying to understand why the original code was implemented tha

[2018-10-09 04:55] menshikh-iv commented on #2218
Hello @manuyavuz, the reason - issue with GIL (frequent context-switching). Solution - use our new `corpus_file` feature: see https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Any2Vec_Filebased.ipynb for more examples (contains w2v, fasttext & doc2vec). This fully gets rid of GIL and optimally utilize CPU.

[2018-10-09 04:55] #2218 closed

[2018-10-09 04:56] menshikh-iv commented on #2209
Sorry @myrthevandieijen, I have no time for it now :disappointed:

[2018-10-09 09:07] menshikh-iv commented on #2163
Great, thank you @vivek2589 :+1:

[2018-10-09 10:58] tesslo commented on #171
Take out the `num_topics` parameter and let the module determine the number of features

[2018-10-09 12:42] DongShanHu commented on #2163
@vivek2589 thank you, I really appreciate your help

[2018-10-09 15:38] manuyavuz commented on #2218
HI @menshikh-iv, I've actually looked into that new feature, but it requires corpus_file to be a file path string or a file object.

Is it possible to use it with a preprocessed list of documents existing in memory?

The thing is, I have a machine with abundant RAM resource, so I want to fully utilize that by holding whole data on memory to reduce file IO.

Is new `corpus_file` based technique als

[2018-10-09 15:59] menshikh-iv commented on #2218
No, because `__iter__` method requires GIL anyway.

In this case (if you use Linux machine), you should
1. Store your corpus in the needed format as text
2. Do something like `cat my_large_file.txt > /dev/null` (_magic_ of linux caching)
3. Start training with `corpus_file="my_large_file.txt"`

No, this utilize fixed part of RAM (w2v model not very RAM-expensive)

[2018-10-09 16:10] manuyavuz commented on #2218
I liked this trick, thanks!

But still, I will have to read my whole corpus once, preprocess, and write to a file before starting this process I guess. But that's ok.

Thanks so much again! I saw that during training has jumped to `~800000 words/s` from `~250000 words/s` using `corpus_file`

[2018-10-09 18:58] thedansimonson opened #2219 "Stopword "fifty" misspelled "fify"."
#### Description

The word "fifty" isn't in `gensim.parsing.preprocessing.STOPWORDS` frozenset, while the word "fify" is.

#### Steps/Code/Corpus to Reproduce

See expected and actual results below:

#### Expected Results
[code]

[code]

#### Actual Results
[code]

[code]

#### Versions

"fify" is present on line 48 of [gensim.parsing.preprocessing.py](https://github.com/RaRe-Technologies/gensim/b

[2018-10-09 19:05] menshikh-iv commented on #2219
Thanks for report @thedansimonson, just curious, how did you find it?

[2018-10-09 19:08] coderwassananmol commented on #2219
Hi, I would like to submit PR for this. :)

[2018-10-09 19:08] thedansimonson commented on #2219
I was using the stopword list as a seed for some manual annotation.

That said, the rest of the list looks great :smile:

[2018-10-09 19:09] menshikh-iv commented on #2219
@coderwassananmol feel free to contribute!

[2018-10-09 19:33] gojomo commented on #1873
Sure, but note it's not just simple backprop, but backprop through this algorithm-specific "input-prep-operation", that's composed (in this particular CBOW-average mode) by the average of all context-window vectors. So at this level, we've essentially left the standard NN model, from which we have an error-at-the-"input"-layer. But that input-layer was composed in a certain way from all the other

[2018-10-09 20:04] myrthevandieijen commented on #2209
@menshikh-iv Sorry to hear that, but I understand that other things might take precedence. Do you have any idea when you are able to get to it? Sorry for pushing this so much, it's just that we've got an academic paper that uses this model and it's really important to know that we can use the results we get now. We now round to 3 decimals for the paper, if you can indicate that there's no reason t

[2018-10-09 20:09] menshikh-iv commented on #2209
@myrthevandieijen

No ideas, sorry (we have too many things with higher priority).

I can't guarantee it (I hope then I'll dig this one someday, but it will definitely not happen soon).

[2018-10-09 20:17] #2219 closed

[2018-10-09 20:45] myrthevandieijen commented on #2209
@menshikh-iv Thanks for your reply, we'll be patient in this. I'll occasionally check in with you on this but will leave it for now and just round to 3 decimals.

[2018-10-09 21:11] thegrimreaper1992 opened #2221 "where is Gensim CBOW_mean implemented in the original implementation?"
Hi,

I was looking at the original word2vec implementation here at: https://code.google.com/archive/p/word2vec/source/default/source
The part o the code I'm talking about is: (Where CBOW is being trained)
![originalwv](https://user-images.githubusercontent.com/43973925/46698706-c782fd80-cbe5-11e8-940f-1810c800bf52.png)

However I couldn't find any lines corresponding to:
![gensimwv](https://user-i

[2018-10-09 21:46] menshikh-iv commented on #2221
@thegrimreaper1992 GitHub isn't a suitable place for questions (only bug reports or feature requests should be here), please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for questions.

Related: #1873
CC: @gojomo

[2018-10-09 21:46] #2221 closed

[2018-10-10 16:39] grv1207 opened #2222 "effect worker thread on loss in word2vec sgns"
Im trying to train a gensim(3.6.0) sgns model and in the process, I measure the loss during which I'm calculating as

loss = model.running_training_loss / model.corpus_count,

however, I noticed that if I change my worker thread I get different losses keeping all other parameters same. Especially if I keep my worker thread a 1 I get a really high loss and If I increase the number of threads I get

[2018-10-11 16:16] johann-petrak commented on #2181
I am getting this using version 3.4.0 (conda 3.4.0-py36h14c3975_0) when running
`ldamodel.top_topics(corpusreader, processes=-1)`
The corpusreader is exactly the same as the one that was used for training the model.

[2018-10-11 18:22] johann-petrak opened #2223 "LdaMulticore parameter alpha: 'auto' not supported but documentation says it is"
When using the value 'auto' for parameter "alpha" for LdaMulticore, the following exception is raised:
[code]
(ldamulticore.py, line 146)

However the documentation string of the `__init__` states that "auto" is supported.

This may be a copy/paste error, but is there any chance to see auto get supported for the Multicore version as well?

#### Versions
[code]

However, the exception code is still

[2018-10-12 01:00] UrYuWang opened #2224 "Cannot add entity-value to keyedvectors"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-10-12 03:34] menshikh-iv commented on #2222
Hello @grv1207, can you provide a full code example, please?

CC: @gojomo

[2018-10-12 03:38] menshikh-iv commented on #2223
Hello @johann-petrak, thanks for the report: that's really copy-paste issue.

Most likely no, sorry

[2018-10-12 03:40] menshikh-iv commented on #2181
Hi @johann-petrak please provide the code example for reproducing your issue (including a data that you used for training)

[2018-10-12 04:03] menshikh-iv commented on #2224
Hi @UrYuWang, please feel template in your message
- The detailed description of the issue
- Code to reproduce
- Expected & actual result
- (at least) gensim version

[2018-10-12 04:08] menshikh-iv commented on #2204
BTW, I ran mentioned code with
- `python2.7`/ `python3.6,
- `gensim==3.6.0`
- `gunicorn==19.9.0`

Works as expected, issue doesn't happend.

[2018-10-12 04:08] #2204 closed

[2018-10-12 07:20] gojomo commented on #2222
As I mentioned in my [comment on SO](https://stackoverflow.com/questions/52743468/effect-of-increase-worker-thread-in-gensim-word2vec/52745921#comment92453092_52745921) (emphasis added):

It's possible there's something amiss with your not-shown-here training code, or the collecting/reporting of the varying loss values. But perhaps also there's a bug in gensim 3.6.0. If you can make a **self-conta

[2018-10-12 08:06] johann-petrak commented on #2181
Sadly it is a dataset of dozens of gigabytes of size and the license does not allow me to share the data.

If this is the code producing the error
` ` `
m_lc_i = np.log(((co_occur_count / num_docs) + EPSILON) / (w_star_count / num_docs))
` ` `
The only options to get that error are that either ` num_docs`  is zero or `w_star_count`  is zero.
I can try to figure out which it is and maybe a little b

[2018-10-12 08:09] johann-petrak commented on #2223
Could you explain why? The Mallet implementation does this while being mult-threaded (I understand how multi-processing is different from multi-threaded). I would just like to understand what the limitation is.
Estimating alpha from the data is something one often wants to do, but having to resort to a single thread is a high cost for that.

[2018-10-12 09:41] johann-petrak commented on #2223
Created https://github.com/RaRe-Technologies/gensim/pull/2225 for this

[2018-10-12 10:07] grv1207 commented on #2222
Here is the snippet that I wrote
import numpy as np
from gensim.models import Word2Vec
from gensim.models.callbacks import CallbackAny2Vec
from gensim.parsing.preprocessing import strip_non_alphanum
from nltk.corpus import stopwords

from commonFunctions import MMOLogger

stopWords = set(stopwords.words('english'))
#mylogger = MMOLogger().getLogger(__name__, 'status.log')

def getline(filepath):

[2018-10-12 11:50] johann-petrak commented on #1680
I tried to train using LdaMulticore and got this error several times on the console before terminating:
[code]
It does not indicate the location inside the gensim code where this happens.

My chunk size is 100, my dictionary has 2000094 entries, and I was trying to train 200 topics.

I think even if this cannot be fixed, it should be possible to calculate in advance whether or not whatever data is

[2018-10-12 13:05] piskvorky commented on #1680
I like that idea @johann-petrak . There's a known limitation to how multiprocessing sends data around (pickle, I think), which causes this error. But IIRC data limits are different for different Python versions / platforms, so that check may not be completely trivial.

It maybe easier to try to send the data and catch the error ex-post, than anticipate the formulas and limits in advance.

Hmm, now

[2018-10-12 14:08] johann-petrak commented on #1680
The example error message in my previous comment shows how this seems to get handled now:
* there seems to be a trace back message from the multiprocessing library
* there seems to be no exception that bubbles up into gensim code or gensim ignores it (no gensim trace back info is shown)
* therefore, processing continues, possibly with missing data

The error is raised because the struct library wa

[2018-10-12 17:46] piskvorky commented on #1680
Aha. A silent failure is definitely not good. I thought we're failing with an exception (which would be OK).

I'd prefer to figure out why we're swallowing up the exception, and fix that. That sounds better to me than adding a check (which might still fail to capture other "swallowed" exceptions, leaving other errors unchecked).

[2018-10-12 18:03] gojomo commented on #2222
This code doesn't show the full set of tests/parameters that report different losses for different `worker` counts. It would even be better if you could demonstrate a problem without the use of any `callbacks` that do anything other than print losses.

[2018-10-13 16:02] johann-petrak commented on #2223
Also just noticed that 'auto' is not available for LdaModel if it is used in distributed mode, this should also get added to the documentation.

[2018-10-13 17:36] johann-petrak commented on #1680
OK, I think this happens when sending the tuple `(chunk_no, chunk, self)` to the Queue instance:
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/ldamulticore.py#L293

In the concrete run, the shape of self.state.sstats was (500, 2000094) so it is ntopics times vocabsize.
Numpy knows that the size of that array is 4000188000 so clearly this must fail.

I have no idea why the

[2018-10-14 05:40] piskvorky commented on #1680
The suggestion sounds good. Thanks for investigating.

What is the actual limit for pickle? Is it platform-dependent? Python-version dependent?

[2018-10-14 10:36] johann-petrak commented on #1680
I dont know about pickle limitations, but the problem here is not a pickle limitation but a limitation of pyro4: the code int the multiprocessing library creates a header for the queue element which contains the length of the data sent formatted as big endian 4 byte integer, so because of this there is the 2G limit.

[2018-10-14 13:39] johann-petrak commented on #1680
Sorry, not really pyro's fault: multiprocessing made the decision to format the length of the data as pyro4 serialization "!i" -- this restricts the data to 2G.
I do not know why they made that design decision, maybe there are good reasons for that.
But as it looks, I think we have to live with the restriction that one cannot send more than 2G in a single put() over a multiprocessing Queue if we u

[2018-10-14 20:31] piskvorky opened #2228 "`pyemd` import check is misplaced"
Gensim only checks whether `pyemd` in installed once, on module load:
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/keyedvectors.py#L755

All other calls to `wmdistance` will automatically fail, even if the `pyemd` module has been installed in the meanwhile.

This is unnecessary and annoying. Python is a dynamic language, we can import the module when needed (= where the c

[2018-10-15 02:16] manneshiva commented on #2000
@enricopal This bug was fixed in #2012 which was released as a part of Gensim `3.5.0`. Please use Gensim version >= `3.5.0`, that should solve your issue.

[2018-10-15 04:18] kishan3 commented on #2228
Sir, please explain what is a pythonic way to equality. Also where to import `emd` if not at the beginning.

[2018-10-15 04:35] menshikh-iv commented on #2000
@manneshiva you are partially right: `min_alpha_yet_reached` fixed, but we have another backward compatibility issue here:
- `pyhon3.6`
- `gensim==3.6.0`

[code]
this code raise
[code]

@enricopal in your case, using 3.2.0 are best workaround for now.

[2018-10-15 04:36] menshikh-iv commented on #2228
@kishan3 I think @piskvorky mean "import pyemd when this needed", i.e. directly in `wmdistance` function.

[2018-10-15 04:38] menshikh-iv commented on #2181
@johann-petrak this will be really nice, please do :+1:

[2018-10-15 05:27] menshikh-iv commented on #2223
@johann-petrak I think better to ask @piskvorky or @ziky90 about it.

[2018-10-15 06:30] #2223 closed

[2018-10-15 08:12] kishan3 commented on #2228
@menshikh-iv ok got you.

[2018-10-15 14:32] aneesh-joshi commented on #2059
@leezu
I am trying to fix these issues.
What would you say is a good test condition to ensure gensim implementation is compatible with Facebook.

Does:
`fb_hash("é") == gensim_hash("é")`
cover all the cases?

Also:
I am not used to handling unicode strings so I need help in understanding:
Please tell me if I understand correctly:

The current gensim hash function hashes based on the `ord` aka the

[2018-10-15 14:52] johann-petrak commented on #2181
As I expected, this happens because `w_star_count` is 0. I do not know though why the entry in the accumulator for `w_star` is 0 and how that can happen.

[2018-10-15 19:29] johann-petrak opened #2230 "The keep_tokens parameter for Dictionary.filter_extremes does not work properly"
The documentation of the `filter_extremes` method of `gensim.corpora.Dictionary` states for the `keep_tokens` parameter: "Iterable of tokens that **must** stay in dictionary after filtering."

However, if filtering by the `keep_n` parameter is applied, those tokens can still get removed.

This is due to the code around line 358 in gensim/corpora/dictionary.py where the ids are first sorted by docu

[2018-10-15 21:15] menshikh-iv commented on #2181
@johann-petrak so, you can try to run your code with the debugger and see step by step how this attribute changed

[2018-10-16 10:29] johann-petrak commented on #2230
This poses no problems in the "normal" situation where the dictionary size and `keep_n` are much larger than `len(keep_tokens)`. However in the special case where `keep_n <= len(keep_tokens)` this would mean that all but the tokens to keep are removed and even some of the tokens to keep are still getting removed. I hope this is still acceptable because I doubt it will ever occur in practice, but I

[2018-10-18 07:49] daridar opened #2235 "FastText save & callbacks suspicious behavior"
#### Description
TODO: FastText model does not learn anything from the text corpus.

#### Steps/Code/Corpus to Reproduce

[code]

#### Expected Results

I expect to find in model.most_similar("word") something closer in meaning but found just a trash.
I took an open-source dataset  from sklearn.datasets  - fetch_20newsgroups.

#### Actual Results

![image](https://user-images.githubusercontent.com

[2018-10-18 17:17] johann-petrak opened #2236 "Documentation: LdaModel.get_document_topics imprecise"
Web documentation says:

"minimum_probability (float) – Topics with an assigned probability lower than this threshold will be discarded."

Documentation string from my gensim version () says:

"minimum_probability (float): Ignore topics with probability below this value
        (None by default). If set to None, a value of 1e-8 is used to prevent 0s."

This sounds as if setting this parameter to 0

[2018-10-19 05:06] yurivict opened #2237 "3.6.0 doesn't record the file list correctly"
The plist that it records using the ```--record``` option is wrong:
[code]

Found in the FreeBSD port.

[2018-10-19 05:08] yurivict commented on #2237
Same as https://github.com/RaRe-Technologies/gensim/issues/2198
#2198 was closed but the issue came back now.

[2018-10-19 05:29] menshikh-iv commented on #2237
@yurivict hello, are you get install gensim from PyPI? The issue really already fixed in #2194, this is just not released yet.

[2018-10-19 05:33] yurivict commented on #2237
Ok, thanks, I will wait for the release then.

[2018-10-19 05:37] #2237 closed

[2018-10-19 21:02] jtexnl commented on #1038
Hey @olavurmortensen @piskvorky @bstewart @cschwem2er, my team, people analytics at ING (Dutch bank) is really interested in getting STM working in Python, and we have gotten buy-in from our manager to use some of our work time/resources to develop the feature as a contribution to Gensim (or, alternatively, as a Python re-implementation of the R ```stm``` library). Has anyone made any progress sin

[2018-10-19 21:33] cschwem2er commented on #1038
Wow! No progress on my end, but this would be sooooo good!

[2018-10-21 18:10] manneshiva commented on #2000
@menshikh-iv I do not think that the model that @enricopal is trying to load ( http://data.dws.informatik.uni-mannheim.de/rdf2vec/models/DBpedia/2015-10/8depth/skipgram/) a `Doc2Vec` model. Looking at his traceback in [this](https://github.com/RaRe-Technologies/gensim/issues/2000#issuecomment-427658637) comment, it starts with
[code]
which confirms that he is trying to load a `word2vec` model.

Al

[2018-10-21 18:27] ChandanKumarSahu opened #2238 "error with the Dictionary attiribute of corpora"
Traceback (most recent call last):
  File "topic_modelling.py", line 11, in <module>
    dictionary = corpora.Dictionary(doc_clean)
AttributeError: module 'corpora' has no attribute 'Dictionary'

[2018-10-21 19:07] menshikh-iv commented on #2238
Hello @ChandanKumarSahu,

just import it correctly
[code]

[2018-10-21 19:07] #2238 closed

[2018-10-21 21:28] bstewart commented on #1038
This is great to hear.  I have a postdoc @michaelzhang01 who is going to be doing some work on a scalable implementation in R and @vineetbansal who has been helping with speeding up the existing codebase in various ways.  None of this is streaming

The only steps towards reimplementation in other languages that I know of are:

- https://github.com/AntonioCoppola/stmpy which was an undergraduate th

[2018-10-22 05:05] menshikh-iv commented on #1038
@jtexnl hi, that's sounds good, feel free to contribute!

I don't think so.

[2018-10-22 11:06] Naor-Tedgi commented on #217
`/home/nt/.local/lib/python3.5/site-packages/gensim/models/ldamodel.py:1023: RuntimeWarning: divide by zero encountered in log
diff = np.log(self.expElogbeta)`

`    lda = gensim.models.LdaMulticore(corpus=corpus, num_topics=TOPICS,alpha="symmetric",eta=0.01, iterations=200, id2word=dictionary , workers=11)`

get the same warning now with this parameters
any news?

[2018-10-22 23:01] GeneralSemantics commented on #1159
Is this still underway?

[2018-10-23 04:08] menshikh-iv commented on #1159
@GeneralSemantics as I know, nobody work on it now, last attempt #1985 was abandoned :disappointed:

[2018-10-23 15:41] aneesh-joshi commented on #2059
@leezu @menshikh-iv @piskvorky
Update: I was able to reproduce error and fix it:

## To reproduce:

I trained C++ Fasttext on a simple .txt file which had unicode and non-unicode characters. This is the file:
[code]
I ran:
[code]

Then:
[code]

This is clearly different from the original FT vector. It gives the same result for non-unicode strings.

## To fix
I checked out to[ my branch](https://gi

[2018-10-23 16:09] menshikh-iv commented on #2059
Nice progress @aneesh-joshi :+1:

please test it fully as possible
- existing word-vector
- only non-unicode
- only unicode
- mix up unicode with non-unicode

[2018-10-24 04:39] jenishah commented on #2111
**Hardly** has already been replaced by **Heavily**. Would it be a good idea to add the **range** of the score under `returns` in the documentation of the scoring function?

[2018-10-24 09:32] cbjrobertson commented on #818
Has there been any progress on this? I've just had the same issue come up.

[2018-10-25 02:07] hallelujahdrive commented on #2181
I also have a same problem. I found that This problem is caused by learning LDA, not CoherenceModel.
This problem may occurs when the LDA model includes vocabulary not included in the corpus.
I generated a dictionary with more documents than documents used to generate the corpus, and this problem occurred.
This problem does not occur if you are using the same document when generating a dictionary

[2018-10-25 03:45] menshikh-iv commented on #2181
@hallelujahdrive hello, please give us a minimal reproducible example (code + data that produce current issue)

[2018-10-25 05:21] samisaga95 commented on #447
infer_vector was generating 2 different vectors for the same sentence in a single run. After copying your snippet it generates the same vector in a single run but generates a new vector in a new run. How do i fix that.

data = ["I do not love machine learning.",
            "I love coding in python",
            "I love building chatbots",
            "they chat amagingly well"]

    tagged_data =

[2018-10-25 06:07] gojomo commented on #447
@samisaga95 If you have a question, better to ask in the forum, <https://groups.google.com/forum/#!forum/gensim>. (I don't know what the relevance of your code snippet is to this feature-request.)

[2018-10-25 08:04] johann-petrak commented on #2181
Is the method `ldamodel.top_topics(corpusreader)`  meant to work on a corpus that is not
absolutely identical to the one that was used for training the model?
The documentation says nothing about any restriction but I have to confirm that this error occurs when the corpus does not contain all words from the model.

[2018-10-25 09:53] wpf535236337 commented on #2155
add the  flag (update = 'append') in your line func

[2018-10-25 11:34] MOSSupport opened #2241 "Seems like list of VERY BIG lists caused TypeError problem"
#### Description
Seems like list of VERY BIG lists caused this problem

#### Steps/Code/Corpus to Reproduce
[code]

#### Expected Results
make dictionary with out Type error

#### Actual Results
$ python bug.py > texts.out
Traceback (most recent call last):
  File "bug.py", line 26, in <module>
    dictionary = corpora.Dictionary(texts)
  File "/home/smpark/miniconda3/lib/python3.7/site-packages/g

[2018-10-25 14:10] bylinn commented on #217
get the same warning and any update here? @menshikh-iv thanks!

[2018-10-25 21:39] horpto commented on #2241
Hi, @MOSSupport
I've checked your data and found that first doc contains a some NaN (number that not a number)
19440 and 19442 indexes of first doc is wrong. I think other docs also contain float-s

[2018-10-25 21:42] MOSSupport commented on #2241
Thanks for your comments, actually I did dropna(), but I will look over again.
Best regards,
MOSSupport

[2018-10-25 21:57] MOSSupport commented on #2241
Dear horpto,
I checked nan from texts.out, so I will check my data.
And thanks for your comments again.
Best regrads,
MOSSupport

[2018-10-25 21:57] #2241 closed

[2018-10-26 03:30] hallelujahdrive commented on #2181
I reproduced the problem with the following code.
I used sklearn.dataset.fetch_20newsgroups as the dataset.
[code]

[2018-10-26 17:35] halflings commented on #372
With 3.6 introducing the file-based training, this change would really be welcome.
Additional anecdote on my side: I can't use the file-based training because I can't make a full local copy of some data located in a data center; can only iterate over it (but this means I still need to use the queue-based system).

[2018-10-27 19:34] gokul-uf opened #2244 "Documentation: Unclear documentation for PoincareRelations"
#### Description
The [documentation](https://radimrehurek.com/gensim/models/poincare.html#gensim.models.poincare.PoincareRelations) for `PoincareRelations` specifies that the input should be a file with one relation per line. In case the relation is assymetric (as is the case with hypernymy) it is not clear whether the pairs should be
a. (u, v) where u is a v ex. u = cat, v = mammal
b. (u, v) wher

[2018-10-27 19:39] gokul-uf commented on #2244
Update: From https://github.com/RaRe-Technologies/gensim/blob/920c029ca97f961c8df264672c34936607876694/gensim/test/test_data/poincare_hypernyms_large.tsv it is clear the relations should be of form u is a v. It would be better to mention a link to the above in the documentation itself :)

[2018-10-28 05:45] aquatiko commented on #2025
@menshikh-iv I would like to solve this, Should a log be added or an exception when no new vocabulary is added?

[2018-10-29 18:11] Naba7 commented on #1322
can I take up this issue ?

[2018-10-30 05:46] menshikh-iv commented on #1322
@Naba7 of course, feel free to contribute!

[2018-10-31 10:41] Naba7 commented on #2228
Can I be assigned this issue?

[2018-10-31 13:33] ailsamm commented on #2175
@gojomo @menshikh-iv How exactly would I go about implementing this "as a single short method in KeyedVectors" (as you say @gojomo ). Excuse the question - I'm very new to Gensim. Thanks!

[2018-10-31 17:41] brianayoung opened #2246 "indptr, indices, and data in stochastic_svd"
When I try to run stochastic_svd (from models.lsimodel.py) on its own, I get "has no attribute" error messages with regard to indptr, indices, and data (lines 926-927 and 958-960). It works fine when I run the LSI model as a whole. Where are these defined?

I realize this is a question and not an issue; tried posting on the Google group with nothing yet. Think it might be a bit technical for that

[2018-10-31 18:20] piskvorky commented on #2246
@brianayoung what are you running, with what results, what are you expecting?

Please follow the [issue template](https://github.com/RaRe-Technologies/gensim/blob/develop/ISSUE_TEMPLATE.md). Thanks.

[2018-11-01 20:04] ailsamm commented on #2175
@gojomo Thanks so much! I got it working now.

[2018-11-01 22:20] adrianog opened #2253 "Dockerfile doesn't build"
#### Description
dockerfile doesn't build

#### Steps/Code/Corpus to Reproduce
cd docker
docker build .

#### Expected Results
build comples succesfully

#### Actual Results
[code]

#### Versions
develop branch @ 20181101_2219

[2018-11-02 01:56] hcji opened #2255 "How to save a dictionary for later using?"
#### Description
Is there any way to save a dictionary for later using?

[2018-11-02 05:38] menshikh-iv commented on #2255
Of course, see `save` and `load` methods in documentation https://radimrehurek.com/gensim/corpora/dictionary.html#gensim.corpora.dictionary.Dictionary.load

[code]

Next time, please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for questions, github only for bug reports/feature requests.

[2018-11-02 05:38] #2255 closed

[2018-11-02 17:10] iamyevyev commented on #1844
So I think I am having a similar issue to Hambath and it would've been just great if he actually outlined what he changed in order to fix it instead of 'oh my fault I fixed it'.

Here is where I am at with this

---------------------------------------------------------------------------
CalledProcessError                        Traceback (most recent call last)
<ipython-input-50-dc35c1ce9e35> in <

[2018-11-02 17:16] iamyevyev commented on #1844
I believe this one is similar to Hambath's... but can't figure out how to fix it

import os
os.environ.update({'MALLET_HOME':r'C:/Users/c17999/Desktop/zResearch/1Projects In Progress/Sensors Project/mallet-2.0.8/'})

mallet_path = 'C:\\Users\\c17999\\Desktop\\zResearch\\1Projects In Progress\\Sensors Project\\mallet-2.0.8\\bin\\mallet' # update this path

ldamallet = gensim.models.wrappers.LdaMall

[2018-11-02 23:39] andifunke commented on #217
Try to increase the internal precision by providing dtype=np.float64 as an argument to the LdaModel (default is np.float32). This will prevent the model from truncating very low values to .0, resulting in np.log(.0) = -inf, which then triggers this warning.

However, I'm not sure if some values are supposed to be as low as 1.219e-47, so maybe there is indeed some underlying issue with the implemen

[2018-11-04 09:54] 1049451037 opened #2257 "FastText Bug"
I want to iterate a file several times so I made a class called MyLineSentence. When I train it in FastText, I get an error and the code aborted. **However, when I just replace FastText with WordVec, it is OK. So I think it is a bug of FastText.**

Environment: Windows 10.

[code]

[2018-11-04 20:38] menshikh-iv commented on #2257
Hello @1049451037, what's exactly error you get? Please put full stack-trace here.

[2018-11-04 21:11] 1049451037 commented on #2257
When running on Linux, no error.

When running on Windows, just process aborted and no error info so I also don't know why.

[2018-11-05 16:10] joelkuiper opened #2258 "Integer overflow during `FastText` training with `corpus_file`"
#### Description

`model = FastText(corpus_file="sentences_norm.txt.gz", workers=14, iter=5, size=200, sg=1, hs=1)`

with the following sizes

[code]

yields

[code]

on all workers. Note that the sg and hs parameters seem to have no relation to this, also happens without them.

### Steps to reproduce
`model = FastText(corpus_file="sentences_norm.txt.gz", workers=14, iter=5,size=200)`

#### Expect

[2018-11-06 10:43] timbicker opened #2260 "doc2vec/word2vec/fasttext models do not appear to improve if similarities checked mid-training epochs"
#### Description
I am training a doc2vec model on a large corpus. I need to observe the model for more detailed statistics for my supervisor/boss.
The problem is similar to the problem below where I just slightly modified the [Doc2Vec Tutorial on the Lee Dataset](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-lee.ipynb). The model does not improve its recommendatio

[2018-11-06 13:19] timbicker commented on #2260
It turns out
[code]
has to be called before each call `model.docvecs.most_similar`.
Then the program works as expected.

[2018-11-07 16:51] piskvorky commented on #2260
If that's the case, then that's definitely a bug.

You're saying you have to call `init_sims()` before each call of `most_similar`? If that's so, please reopen this ticket.

[2018-11-08 06:58] monajalal commented on #1497
@bittlingmayer do you know how I can fix this?

[code]

[2018-11-09 18:59] timbicker commented on #2260
Well, yes and no.
`most_similar()` uses `vectors_docs_norm` that are called by `init_sims()`. Also, `most_similar()` does call `init_sims()`, but `vectors_docs_norm` are only recalculated if they are `None`. So yes, this looks like a bug. I would like to fix it then, if that is fine for you.

[2018-11-09 21:34] johann-petrak commented on #2115
I just got the same problem, out of the blue, running gensim version 3.4.0.
[code]
I have run the same task without problems with slightly different versions of the corpus.
So it seems there is some very specific situation here which cannot be easily be reproduced by a minimal test case. I sadly also cannot share the corpus as it is licensed.

I do not really understand the code enough to be of mu

[2018-11-09 21:44] johann-petrak commented on #2181
Could somebody in the know please explain what the intended use of this function is (see my previous comment) i.e. is it supposed to work for a corpus that is not absolutely identical to the training corpus?

As pointed out, this seems to happen whenever a corpus word present in the topics does not exist in the corpus passed to the method.

Why I also find very confusing is that the function retur

[2018-11-11 09:47] kothiyayogesh commented on #2137
@Abhishek-Bisht : Thanks it works for me :)

[2018-11-12 01:39] gojomo commented on #2260
`train()` could null the normed vectors, if any, so that they're recalculated to reflect the updated non-normed vectors. (The prior working assumption had been that `most_similar()` would only be run on a model that had finished trained.)

[2018-11-12 08:18] johann-petrak commented on #2115
OK, I checked and in my case there are many values in `self.state.sstats` which are zero.
Then ` self.expElogbeta = np.exp(dirichlet_expectation(self.state.sstats))` and ` diff = np.log(self.expElogbeta)`  and then taking the mean of anything that has at least one Inf value in it causes the topic diff to be Inf.

Now, I do not know exactly what the implications should be if some sstats are zero, b

[2018-11-12 14:21] rawannasser commented on #2175
Hi dear ailsamm
I need to implement the same measure, can you provide me the code please since it works with you
I really need it :(

[2018-11-13 09:19] ailsamm commented on #2175
@rawannasser Sure! How should I send it?

[2018-11-13 17:02] rawannasser commented on #2175
@ailsamm
Thanks so much!
 I don't know if I can write my email here but maybe you can upload it in your GitHub?

[2018-11-14 23:21] andifunke opened #2265 "LDA Diff and Convergence metrics: inefficient memory consumption and file size"
#### Description
The current implementation of the DiffMetric and ConvergenceMetric callbacks has some severe drawbacks with respect to memory consumption and file size when persisting an LdaModel.

**Details:** The two callback metrics call the LdaModel.diff() method which requires a second model as an argument. Therefore, the callbacks make a deep copy of the model when initializing the callback

[2018-11-15 12:52] JrSurapaneni opened #2266 "How to handle word out of vocabulary in word2vec?"
#### Description
How to handle word out of vocabulary while using word Word2vec keyed vector approach?

[2018-11-15 22:07] gojomo commented on #2175
@ailsamm Can you submit your implementation as a pull-request for potential integration to the project?

[2018-11-16 00:19] hcji commented on #121
any update?

[2018-11-16 09:51] DanielDIQA opened #2268 "Word2VecKeyedVectors (& maybe other KeyedVectors) give AttributeError if you try to add()"
Hi there,

excuses for cross posting with your news group!
Thank you for the superb gensim-module which we find extremely helpful for our text analytics projects!

#### Description
We stumbled upon an issue when we load the pre-trained google news word vectors:
we are unable to add random word vectors to the map because the "add"-method is not provided.

#### Steps/Code/Corpus to Reproduce
`import

[2018-11-17 07:07] bittlingmayer commented on #1497
@monajalal Is the .vec actually there?

[2018-11-17 20:45] adrianog commented on #2253
What packages should be installed on my machine?
Do you mean on the host machine that's trying to build the docker Container? Why would that matter?

[2018-11-18 00:22] horpto commented on #2253
Packages wget and locales have updated recently to versions wget 1.17.1-1ubuntu1.4 (https://packages.ubuntu.com/xenial/wget) and locales 2.23-0ubuntu10 (https://packages.ubuntu.com/xenial/locales). So of course everything is broken.

@adrianog you can get around by specifying current version of wget and locales.

[2018-11-18 09:47] adrianog commented on #2253
[asking with a certain degree of ignorance]
Are we not able to pin to specific versions _that are also located at download urls that don't change_? So that the build doesn't break over time (it might become out of date, but it's always possible to rebuild the container).

[2018-11-19 15:11] aneesh-joshi commented on #2257
@1049451037 Maybe try running with `python -Wall your_file_name.py` and post the warning here along with the stack trace.

[2018-11-20 16:14] raviolli opened #2270 "DeprecationWarning: numpy sum :: np.sum(generator) is deprecated - LDA"
**Warning:**
score += np.sum(cnt * logsumexp(Elogthetad + Elogbeta[:, int(id)]) for id, cnt in doc)
/usr/local/lib/python2.7/dist-packages/gensim/models/ldamodel.py:1077: DeprecationWarning: Calling np.sum(generator) is deprecated, and in the future will give a different result. Use np.sum(np.from_iter(generator)) or the python sum builtin instead.
  score += np.sum(cnt * logsumexp(Elogthetad + El

[2018-11-21 07:06] phoenixzxj opened #2272 "questions about self.vocabulary"
![image](https://user-images.githubusercontent.com/19839217/48824010-e7d5d880-ed9d-11e8-982d-102c5e80da75.png)
In the script base_any2vec.py, the class BaseWordEmbeddingsModel has a mthed named "build_vocab" (as the picture showing above). I just wonder why the instance self has the attribute "vocabulary". I can't find the place where it is introduced in. It appears as the function of the class Wo

[2018-11-21 13:01] timbicker commented on #2260
This is an excellent idea imo. I implemented it in this way.

[2018-11-21 14:53] robguinness commented on #2149
Thanks, @jenishah !

[2018-11-21 19:49] drozzy commented on #2062
Any progress on this?

I hoped that saving in gensim format and loading would result in faster load times. Alas, `load` fails:

[code]

[2018-11-22 06:47] CuriousG102 commented on #2258
I see a similar error in Doc2Vec. I an verify that total_words is larger than a 32 bit integer. There's not an easy solution to this since training on a corpus_file will throw a different exception if total_words isn't present.

Traceback (most recent call last):
  File "/usr/local/Cellar/python3/3.5.2/Frameworks/Python.framework/Versions/3.5/lib/python3.5/threading.py", line 914, in _bootstrap_in

[2018-11-22 14:01] piyushsharma1812 commented on #2163
@vivek2589 thank you. i am wondering why it was not working when i unzipped in a different drive

[2018-11-23 09:35] bunyamink commented on #2235
Same thing for me. When trained my wiki corpus with word2vec, I got 37% from analogy questions. But when I trained the same corpus with fasttext result is 3.3% from same analogy questions. Is there a problem in fasttext?

Gensim version: 3.6.0
Python Version: 3.6.4
Windows 10

[2018-11-23 16:01] durszlaczek opened #2276 "`FastText.wv.word_vec` word vectors with Polish character are different than the Facebook's"
#### Description
Facebook's and Gensim's word vectors are different for words with Polish characters.

#### Steps to Reproduce

Example (I'm using Polish common crawl vectors):
[code]

Gensim's (1)
[code]
Facebook's (2)
[code]

Oh, and 'głowa' is present in both vocabularies
[code]

Seems like an encoding issue (?)

#### Expected Results
Values in both vectors (1), (2) are different.

#### Actual

[2018-11-24 01:17] horpto commented on #2257
Ok, I 've tried to train on 20_news_groups_dataset as @1049451037 don't specify the dataset. And almost always it's crached with MemoryError with empty error message and this traceback:

[code]

`self.bucket == 2000000` and `wv.vector_size == 1000`

`np.empty((2000000, 1000), dtype=np.float32)` is also failed if I try to run manually.

environment: Windows 8.1, python v.3.7.1

[2018-11-24 15:18] ChaitanyaKolluru1 opened #2277 "assert self.projection.u is not None, "decomposition not initialized yet" AttributeError: 'NoneType' object has no attribute 'u'"
I aim to implement lsa similarity based on wikipedia to find the similarity among my questions and answers. I wrote the coed below but it gives me this error recently when I started run it on hpc. It works without error on my pc  with gensim 0.3.4 but with the same version of gensim I get the below error on hpc. Any help is appreciated.

`#load the corpora created in the previous notebook
tfidf_co

[2018-11-24 15:33] Golnoush123 opened #2278 "assert self.projection.u is not None, "decomposition not initialized yet""
I aim to implement lsa similarity based on wikipedia to find the similarity among my questions and answers. I wrote the coed below but it gives me this error recently when I started run it on hpc. Any helpis appreciated. I do not get any error when run this program on my pc with the same version of gensim 3.4.0

`# load the corpora created in the previous notebook
tfidf_corpus = gensim.corpora.MmC

[2018-11-26 11:40] may215 opened #2279 "LDA get topic words return only id's"
Hi,
I am trying to get the words from the topic models, and I only get the id's and values:

[code]
Output:
[code]
Python: 3.5.2
Linux-4.15.0-39-generic-x86_64-with-Ubuntu-16.04-xenial
[GCC 5.4.0 20160609]
NumPy 1.15.4
gensim 3.6.0
FAST_VERSION 1

Thanks.

[2018-11-26 16:52] Saftophobia commented on #1159
@GeneralSemantics I'm working on it, waiting for PR review now.

[2018-11-27 01:37] menshikh-iv commented on #2279
@may215 that's expected: model knows nothing about your dictionary. To get words in output (instead of numbers), just pass dictionary when you create `LdaModel`: `lda = LdaModel(common_corpus, num_topics=10)` -> `lda = LdaModel(common_corpus, num_topics=10, id2word=common_dictionary)`

Please, next time use [mailing list](https://groups.google.com/forum/#!forum/gensim) for QA (GitHub only for bug

[2018-11-27 01:37] #2279 closed

[2018-11-27 01:53] GeneralSemantics commented on #1159
@Saftophobia Awesome, thanks for the update!

[2018-11-27 02:18] JoyeBright opened #2280 "What does total_examples actually use for?"
Hello,

As I know, in the previous version of Gensim, using `total_example` was not compulsory but in the latest version, it should be declared explicitly.
I am interested to know what it means and how I should reach the appropriate value.
Is it a figure of rows in the raw or the pre-processed dataset?

Thanks in advance

[2018-11-27 02:30] gojomo commented on #2276
Just guessing: maybe one of the libraries is calculating the character n-grams differently/wrongly? (Perhaps, as @durszlaczek speculates, due to an encoding issue.) A 1st step in debugging could be to verify that the raw full-word vector for 'głowa' is identical. If so – and I'd expect it to be – look closer at how subword n-grams might be handled differently.

[2018-11-27 22:35] gojomo commented on #2268
Gensim's various `KeyedVectors` classes con't support individual additions, via either any `add()` method or other methods. (Did you see something in some docs/examples that suggested they did?)

At best, this is a feature-request for a new capability.

The shortest-path to achieving it yourself might be to convert the on-disk file to an easier-to-edit format (like the text alternative), then expl

[2018-11-27 23:07] gojomo commented on #1159
While I still find this technique interesting, as per my comment <https://github.com/RaRe-Technologies/gensim/issues/1159#issuecomment-283459976> I'm still wondering if there's any cases where it really shines.

And I'd prefer any implementation of this still-rather-obscure mode to avoid adding complexity/overhead to the mainline modes. That's hard, because the prior code is already a mess, and in

[2018-11-28 07:44] AliceGab commented on #2268
Hi, I have a similar issue :
I want to load only the first 100,000 words of the model and add a few useful words from the complete model that are not present in the 100,000 subset, therefore use add.
This link shows add functions... [https://radimrehurek.com/gensim/models/keyedvectors.html](url)

[2018-11-28 17:02] maribethrc commented on #321
I am still getting the same error as @luopuya with the following versions:
Genism 3.4.0
Python 3.6
Numpy 1.15.4

@luopuya where did you put your hashfxn? somewhere inside word2vec.py?

[2018-11-28 21:14] justinas-kazanavicius commented on #2134
Any plans for this?

[2018-11-28 23:06] kramer425 commented on #2136
What about going the keras route and manually specify the callbacks during load?:
https://github.com/keras-team/keras/issues/5916#issuecomment-300038263

------------------------
I'm having weird behavior like JensMadsen, but importing the custom callbacks inside my class does not work.

[code]
Gives me:

    return _pickle.loads(file_bytes, encoding='latin1')
AttributeError: Can't get attribute '

[2018-11-30 07:13] zkwhandan commented on #2115
I find a solution to solve this problem.
At line 666 in ldamodel.py, there is a TODO.
`# TODO treat zeros explicitly, instead of adding epsilon?`
`eps = DTYPE_TO_EPS[self.dtype]`
`phinorm = np.dot(expElogthetad, expElogbetad) + eps`

this eps is too small. When I increase it, non disappear.

create a file:
[code]

Usage:
[code]

[2018-12-01 18:04] nlstmn commented on #198
Hi everyone.
I'm using Python, Django, IDE PyCharm. I imported Gensim for my project, however, seems like Django does not recognize it. Here are my versions: gensim-3.6.0 numpy-1.15.4 scipy-1.1.0 python 3.7.1

The following error is:

I'm using Python, Django, IDE PyCharm. I imported Gensim for my project, however, seems like Django does not recognize it. Here are my versions: gensim-3.6.0 numpy-1

[2018-12-02 04:11] ismskd commented on #2137
dear @Abhishek-Bisht
i followed ur instruction but still have same error
my code is
`import os
from gensim.models.wrappers import LdaMallet

os.environ['MALLET_HOME'] = 'C:\\mallet-2.0.8'
mallet_path = 'C:\\mallet-2.0.8\\bin\\mallet'
ldamallet = LdaMallet(mallet_path, corpus=corpus, num_topics=20, id2word=id2word)`
and error is
`CalledProcessError: Command 'C:\mallet-2.0.8\bin\mallet import-file -

[2018-12-02 04:39] ismskd commented on #2163
Dear @vivek2589
 I copied your code but still facing same problem. I also used single quotes as well as double quotes.
My code is
`import os
from gensim.models.wrappers import LdaMallet

os.environ.update({'MALLET_HOME':r'C:/mallet-2.0.8/'})
mallet_path = 'C:\mallet-2.0.8\bin\mallet' # update this path

ldamallet = LdaMallet(mallet_path, corpus=corpus, num_topics=20, id2word=id2word)

result=(ldam

[2018-12-02 06:55] domingo-han commented on #2163
Dear @vivek2589,
thank you.

I did that copied your code below but still facing same problem.   i am wondering why it was not working when i unzipped in a same drive and provided path for the same.

----------------------------------------------------------------------------
import os
from gensim.models.wrappers import LdaMallet

os.environ.update({'MALLET_HOME':r'C:/new_mallet/mallet-2.0.8/'})
ma

[2018-12-02 14:20] horpto commented on #198
Hi, @nlstmn
I'm not sure that problem is in django. Can you import gensim (and scipy) from the python shell ? If no, so scipy maybe has not installed properly. Otherwise, it's really problem in django or venv. Maybe something is wrong with sys.path.

[2018-12-02 16:16] ismskd commented on #2163
@vivek2589 thank you so much

[2018-12-02 19:50] nlstmn commented on #198
@horpto Thank you for your response. Importing gensim from python sheel gives exactly same error above, however with a command updating or installing it again it says that requirement is already satisfied. I checked sys.path, it doesn't give me any result at all, just three dots. I documentation it says that it suppose to give "False", if there are any errors with path.

[2018-12-03 02:37] ismskd commented on #1128
@tmylk dear
my spyder hangs whenever i use coherence='c_v' in CoherenceModel

`
Lda_Model = LdaModel(corpus=corpus, id2word=dictionary, iterations=50, num_topics=2)

cm = CoherenceModel(model=Lda_Model, texts=texts, dictionary=dictionary, coherence='c_v')
print( cm.get_coherence())`

plz guide me if u have any idea about this issue

[2018-12-03 04:49] amartyaamp commented on #2112
I think the [documentation page](https://radimrehurek.com/gensim/similarities/docsim.html) still shows the old type - _corpus (iterable of list of (int, float))_

[2018-12-03 05:29] shravik commented on #2270
I am facing the similar problem for LDA using gensim, Hope to receive some help for this.

**Code:**
lda_model = gensim.models.ldamodel.LdaModel(corpus=doc_term_matrix,
                                           id2word=id2word,
                                           num_topics=20,
                                           random_state=100,
                                           update_ev

[2018-12-03 06:41] horpto commented on #198
@nlstmn pip as a many others package installers has an option to force reinstall already installed package. pip has an option `--force-reinstall`. Please, try to reinstall with this option, or else you can just load a wheel from https://www.lfd.uci.edu/~gohlke/pythonlibs/ and install manually.

[2018-12-03 07:34] neowangkkk commented on #2137
Hi @Abhishek-Bisht ,

I  second @ismskd  that I met the same issue using mac OS. If you could shed lights on this it would be very appreciated.

[2018-12-03 08:37] MorenoLaQuatra commented on #2139
I'm stuck on this problem, the issue seems to be solved, do we need to recompile gensim?

[2018-12-03 21:26] gojomo opened #2283 "SECURITY: api.load() recklessly downloads & runs arbitrary python code"
The `api.load()` utility will grab fresh Python code, in the form  of an `__init__.py` file inside the Github project `gensim-data` download area, and then run it at the user's machine.

This form of dynamic code loading & execution:

* violates user expectations: requesting a dataset should not run arbitrary new code that was never explicitly installed on the user's machine. Further, there's no i

[2018-12-04 04:50] Naba7 commented on #2228
@menshikh-iv I have opened a pr.

[2018-12-04 06:42] ronykroy commented on #2163
Not sure why.. but this worked..

[2018-12-04 08:41] wandabwa2004 commented on #1376
@menshikh-iv  any timelines for version 3.7.0?

[2018-12-04 09:54] gojomo commented on #2283
This is far more subtle and dangerous than that typical risk. With a normal package - like gensim itself - you only get fresh code when you `pip install`. As a result, there are more eyes on code as it enters the release branch, then gets approved for release, then winds up at a package repository. Even if all those steps fail, you're getting the same code as all others who install the same-versio

[2018-12-04 11:00] piskvorky commented on #2283
If I understand you correctly, you'd like the code delivered separately (installed via `pip install`, followed by `api.load()`) as opposed to together (current, just `api.load()`).

As long as the releases are immutable, this difference is purely cosmetic / documentation. So the real question is, how can we ensure that releases stay immutable?

I don't know what you mean by "revving" – there's no

[2018-12-04 12:21] aakash086 commented on #2139
Hi ,

I am stuck with this issue for few days now , can someone please tell in which gensim fastext version would this fix be available . ?

[2018-12-05 04:42] jenishah commented on #2175
Hi,
Is anyone working on this?
If not, I would like to take this up.

[2018-12-05 08:21] aakash086 commented on #2139
Hi ,
Have you got your query resolved ? Please share if you got something on this .

Thanks !

[2018-12-05 08:59] piskvorky commented on #2175
@jenishah go ahead please :)

[2018-12-05 09:42] MorenoLaQuatra commented on #2139
I don't solve it but referring to the #2215, it seems to be already solved. My question was about the need of a gensim update for that.

[2018-12-05 13:42] idoDavid commented on #2069
@menshikh-iv is there any update on this? what is this bug fix priority? Thanks :)

[2018-12-06 01:40] horpto commented on #2069
I start to work on this issue.

[2018-12-06 17:20] johann-petrak opened #2285 "Puzzling deprecated warnings"
I am using word vectors with gensim 3.4.0 and I am genuinely puzzled by the warnings I get when I try to load and use embeddings created with possibly older versions of gensim.
All of the models get loaded using `gensim.models.KeyedVectors.load(file, mmap='r')`

When I create a completely new instance using `model=gensim.models.Word2Vec()`:
* the model does not have a `vectors` or `vectors_norm` a

[2018-12-06 18:13] JosephPB opened #2286 "DtmModel error"
#### Description
When running DtmModel on a dataset of size 1.5M documents, after about 1 hour it raises this error:

[code]

This same DtmModel works on smaller datasets I've tried.

#### Versions
[code]

Thanks for your help

[2018-12-06 18:53] horpto commented on #2286
@JosephPB

Check your dmesg. Linux must be abort dtm/main. Also this issue probably do not linked with gensim itself as it is [dtm ](https://github.com/blei-lab/dtm) implementation bug.

[2018-12-07 01:25] gharelim opened #2287 "Saving a Doc2Vec model failed.error says that the model is not UTF-8 encoded"
I am failing to save a trained Doc2Vec model that analyses Tweets.When i save it and try to open the content of the model it says that :saving is disabled and that the model is not UTF-8 encoded.Any idea about the error?
 **i create the model as follows:**
_model_ug_dbow = Doc2Vec(dm=0, size=100, negative=5, min_count=2, workers=2, alpha=0.065, min_alpha=0.065)_

**training:**

for epoch in range(

[2018-12-07 10:49] rsdel2007 opened #2289 "Flake8 Errors: W605 and W504"
I have cloned the repository in my ubuntu machine according to the steps provided [here](https://github.com/RaRe-Technologies/gensim/blob/develop/CONTRIBUTING.md).<br>
I run the flake8 test and getting these errors: **W605** and **W504**
Here is the screenshot of the log :
![log](https://user-images.githubusercontent.com/39291744/49643804-af402b00-fa3c-11e8-9572-f4edd123646f.png)<br>
These errors

[2018-12-07 15:50] Elpiro commented on #2069
I tested @horpto fix locally and it works

Thank you !

[2018-12-07 22:20] JosephPB commented on #2286
@horpto

Thanks for your comment. After doing some more testing it seems to be a memory issue, however, I just loaded in my dataset and ran the DTM on it. It's a big dataset but I'm using an AWS instance with 60G of memory so I'm not sure why that should be a problem unless there is some major memory leak.

[2018-12-08 15:07] arshjat commented on #1641
Hi! @menshikh-iv, I think this issue should be closed now since though the right place of the notebook is in gensim/docs/notebooks (as structured so) but It is also seemingly correct to place the quick start at gensim/ for the newcomers.

[2018-12-08 15:48] arshjat commented on #2280
@JoyeBright  Here is the documentation. [https://radimrehurek.com/gensim/models/word2vec.html#gensim.models.word2vec.Word2Vec.train](link)

[2018-12-08 16:08] arshjat commented on #2107
@menshikh-iv,  I would like to start working on this. Can I know what advancements have already been made?

[2018-12-09 13:20] mpenkov commented on #2276
I think this may be a duplicate of https://github.com/RaRe-Technologies/gensim/issues/2059

[2018-12-09 16:42] khng90 opened #2291 "CoherenceModel with coherence='c_v' restarts Python"
#### Description
CoherenceModel with coherence='c_v' crashes

 on Windows when attempting to evaluate get_coherence().

Attempted to play around with freeze_support() as it seems like a forking issue, but doesn't seem to solve it.

PS. Will be gone for the week, please allow for a bit of time for me to respond to queries.

#### Steps/Code/Corpus to Reproduce

(https://github.com/RaRe-Technologies/

[2018-12-10 05:30] menshikh-iv commented on #2276
@mpenkov yes, you are right
@durszlaczek thanks for the report, we know about it and I hope we'll fix it soon

Closed, because this is a duplicate of #2059

[2018-12-10 05:30] #2276 closed

[2018-12-10 05:42] AliceGab commented on #2268
Sorry for the late reply @gojomo.
[code]

Getting this error
[code]

[2018-12-10 05:54] menshikh-iv commented on #2287
Hello @gharelim,

- You no need to control alpha manually, set `epochs=30` - model automatically do the same thing (if you use not an old version of gensim)
- Show exact stack trace that you get

example below works correctly
[code]

[2018-12-10 08:37] severinsimmler commented on #2137
In Python it is generally recommended to use modules like `os` or `pathlib` for file paths – especially under Windows. Since @bbiney1 is already importing `pathlib`, he should also use it:

[code]

So, no more issues handling slashes. And if I remember correctly, one should not use the file `mallet-2.0.8\bin\mallet` under Windows, but `mallet-2.0.8\bin\mallet.bat`.  I have also found that MALLET g

[2018-12-10 18:03] gojomo commented on #865
There's a report of a recurrence even after the fix: https://groups.google.com/d/msg/gensim/f2AO-wJZexs/qY_1YNQDDwAJ

[2018-12-11 16:45] gojomo commented on #865
Never mind; reporter was using an ancient version of gensim.

[2018-12-11 16:45] #865 closed

[2018-12-12 00:04] anuragreddygv323 opened #2293 "How to give weights to different words and also how to add global context while training"
I have to give importance to a few words while training. In skipgram model, I use the central word to predict the neighbouring words. I also want to predict the global context like a theme word in every single window size.

Is there a way to do it  ?

[2018-12-13 08:18] horpto commented on #2289
I think this issue can  be closed due to this [PR](https://github.com/RaRe-Technologies/gensim/pull/2256l).

@rsdel2007 you should rebase your branches to the develop and repush it.

[2018-12-13 08:19] menshikh-iv commented on #2289
Thanks @rsdel2007 @horpto: Issue fixed by #2256

[2018-12-13 08:19] #2289 closed

[2018-12-13 09:59] menshikh-iv commented on #2224
I close an issue because of the lack of information.

[2018-12-13 09:59] #2224 closed

[2018-12-13 10:01] menshikh-iv commented on #2222
I close an issue because of the lack of information. Feel free to re-open when an example is ready

[2018-12-13 10:01] #2222 closed

[2018-12-13 10:05] menshikh-iv commented on #2257
In that case, just not enough RAM (i.e. not a bug), @1049451037 try to increase RAM on your machine or reduce `size` or `bucket` parameters of `FastText`.

[2018-12-13 10:05] #2257 closed

[2018-12-13 10:08] menshikh-iv commented on #2115
Nice catch, thanks @zkwhandan :+1:

[2018-12-13 10:21] #2230 closed

[2018-12-13 10:21] gojomo commented on #2285
A simple `model=gensim.models.Word2Vec()` won't have yet created the internal `model.wv.vectors` property – since that requires the vocabulary-survey to have completed (as after calling `build_vocab()`).

A full Word2Vec model is different than just a set-of-word-vectors – and indeed it *contains* a set-of-word-vectors, in its `wv` property. So If you're loading either GloVE vectors, or a plain se

[2018-12-13 10:46] menshikh-iv commented on #2236
Hello, thanks for report @johann-petrak, I agree, documentation is not quite.

About `0.0` - I'm not sure, what's a reason. I'm +1 for returning "as many tuples as topics", wdyt @piskvorky?

[2018-12-13 11:09] menshikh-iv commented on #818
As I know, nobody works on it now @cbjrobertson

[2018-12-13 11:42] cbjrobertson commented on #818
@menshikh-iv setting the prefix to an appropriate place in my model estimation call has solved this for me in any case.

[2018-12-13 11:45] menshikh-iv commented on #2000
@manneshiva nice catch, you are correct!

[code]

[code]

example above works correctly, no issues here.

[2018-12-13 11:45] #2000 closed

[2018-12-13 11:55] menshikh-iv commented on #2244
Thanks for report @gokul-uf :+1:

[2018-12-13 11:58] menshikh-iv commented on #2253
So, I think this has the sense to unpin apt packages in `Dockerfile` to avoid this issue in the future (I already saw almost same issue some time ago).

[2018-12-13 12:00] menshikh-iv commented on #121
unfortunately we still have no implementation of sLDA in gensim @hcji

[2018-12-13 12:05] menshikh-iv commented on #2246
@brianayoung `stohastic_svd` is an internal function (i.e. not for public usage), please use `LsiModel` instead.

[2018-12-13 12:05] #2246 closed

[2018-12-13 13:05] menshikh-iv commented on #2272
Hi @phoenixzxj ,

`self.vocabulary` introduced in child classes of `BaseWordEmbeddingsModel`, like `FastText`

https://github.com/RaRe-Technologies/gensim/blob/6fb086f3df289f9ea3ba6b651984a77a21a6567f/gensim/models/fasttext.py#L391-L393

`Word2Vec`
https://github.com/RaRe-Technologies/gensim/blob/6fb086f3df289f9ea3ba6b651984a77a21a6567f/gensim/models/word2vec.py#L772-L774

 and so on.
`BaseWordEmb

[2018-12-13 13:05] #2272 closed

[2018-12-13 13:15] #2111 closed

[2018-12-13 13:45] adrianog commented on #2253
I don't like unpinned packages as it makes the build less deterministic. I want the same output irrespective of when I run it, and if the location of the pinned packages has changed, so let it be (and fail) - update the dockerfile to the new location.

And of course when you have new / updated dependencies because Gensim requires a new version, update the dockerfile. But if I checkout the repo as

[2018-12-13 14:38] menshikh-iv commented on #416
This means that overflow happens somewhere (typically - division by "almost-zero" value) -> model breaks (produce inf\nans). Related issue: #2115

[2018-12-13 14:40] menshikh-iv commented on #2265
Hello @andifunke, thanks for the report. I agree we should set callbacks to None always before saving the model (same for *2vec models of course).

[2018-12-13 14:43] menshikh-iv commented on #2265
I close this as "almost duplicate" of #2136, we'll fix it, don't worry @andifunke.

[2018-12-13 14:43] #2265 closed

[2018-12-13 14:56] menshikh-iv commented on #2062
@drozzy I hope that this will be fixed soon by @mpenkov, is it?

[2018-12-13 14:59] menshikh-iv commented on #2270
@raviolli thanks for the report!

@shravik looking into your stack trace, something goes wrong with your numpy, try to re-install it together with gensim.

[2018-12-13 15:01] menshikh-iv commented on #2062
Can be related to #2160

[2018-12-13 15:02] menshikh-iv commented on #2258
Thanks for the report @joelkuiper!

[2018-12-13 17:35] menshikh-iv commented on #2278
Hi @Golnoush123, looks a bit suspicious, can you please share all the models that mentioned in your post, please? I need to reproduce your issue first.

[2018-12-14 02:19] zjzh opened #2294 "using skip-gram of word2vec"
Hello,
        I want to predict context words given a word using skip-gram algorithm.
        I check gensim doc about [word2vec ](https://radimrehurek.com/gensim/models/word2vec.html),  but I can't find the API about predicting context words.
        Does the API exist?

[2018-12-14 06:03] menshikh-iv commented on #2294
Hello @zjzh,

we only have [predict_output_word](https://radimrehurek.com/gensim/models/word2vec.html#gensim.models.word2vec.Word2Vec.predict_output_word) method that predicts center word by context words (inverse op to what you want). You should implement it yourself in this case (that's not hard, check the implementation of the mentioned method and write your own).

Next time, please use [mailin

[2018-12-14 06:03] #2294 closed

[2018-12-14 07:20] menshikh-iv commented on #2235
Thanks for report @daridar, especially (3) makes me think that we have an issue with `save` method (i.e. this change a current model somehow).

[2018-12-14 07:20] menshikh-iv commented on #2235
CC @mpenkov

[2018-12-14 07:51] menshikh-iv commented on #2228
@Naba7 of course, feel free to contribute (continue with your #2247)

[2018-12-14 08:00] menshikh-iv commented on #1519
I fixed almost all of it in #2191

[2018-12-14 08:00] #1519 closed

[2018-12-14 08:09] menshikh-iv commented on #2294
BTW we already have a feature request for it #2152

[2018-12-14 08:17] dhariyalbhaskar opened #2295 "Deprecation Warning while performing topic modelling"
I trying to use LDA model in gensim. I am getting mentioned, I recently installed the gensim package.
[code]

[2018-12-14 08:19] dhariyalbhaskar commented on #2295
It is already mentioned as a bug in issues. Therefore closing it.

[2018-12-14 08:19] #2295 closed

[2018-12-14 08:20] menshikh-iv commented on #2295
related to #2270

[2018-12-14 08:30] menshikh-iv commented on #2270
This can happen if you don't pin seed, i.e. expected situation.
The warning can be easily fixed in the way that mentioned directly in warning. Feel free to contribute!

[2018-12-14 08:47] menshikh-iv commented on #2283
I partially agree with @gojomo, this is really security risk (exactly by reason that "GitHub release" have no guarantees to immutability, this guarantee exist only by our agreement).

I'm +1 for:
- move "load" code to git (for better tracking & real guarantees), stay "data files" in releases
- clarify documentation of `api.load` (describe process "how that works" in details)

I'm not sure about "g

[2018-12-14 08:51] menshikh-iv commented on #2253
@adrianog

I don't know too, not sure about apt repo :( maybe @horpto can give us an advice?

For this one, we can unpin all stuff, build an image and push it to docker-registry: if you pull image instead of building your own - this will be deterministic.

[2018-12-14 09:00] menshikh-iv commented on #2266
Word2Vec can't handle OOV, you need to use FastText for example
[code]

More information in [documentation](https://radimrehurek.com/gensim/models/fasttext.html)

Next time, please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for questions, GitHub for bug reports and feature requests.

[2018-12-14 09:00] #2266 closed

[2018-12-14 09:02] menshikh-iv commented on #1641
@arshjat I don' think so, duplicates still here and tutorial not re-worked.

[2018-12-14 09:12] menshikh-iv commented on #2286
@JosephPB gensim just a wrapper for https://github.com/blei-lab/dtm (we run like subprocess), in that case, this is some issue with dtm itself (not a gensim bug).

[2018-12-14 09:12] #2286 closed

[2018-12-14 09:14] menshikh-iv commented on #2280
@JoyeBright I confirm @arshjat comment: this needed for calculating learning rate decay.

Next time, please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for questions, GitHub for bug reports and feature requests.

[2018-12-14 09:14] #2280 closed

[2018-12-14 09:35] menshikh-iv commented on #2291
@khng90 This is really multiprocessing windows issue.

To avoid that -  wrap your code to `main`, i.e.

[code]

I checked this code works correctly on Windows, hope that helps!

[2018-12-14 09:35] #2291 closed

[2018-12-14 10:11] menshikh-iv commented on #2137
Fix of this issue should be in proper checking what exactly we called (related to all `gensim.models.wrappers`, not only Mallet), this is exactly #1485, for this reason, I close that.

@Abhishek-Bisht you variant looks good :+1:

[2018-12-14 10:11] #2137 closed

[2018-12-14 10:39] menshikh-iv commented on #2268
@DanielDIQA @AliceGab @yucc2018 sorry, but it works as expected (issue not reproduced)

python2.7, gensim3.6

[code]

BTW, attribute really exists

[code]
Try to re-install latest gensim.

[2018-12-14 10:39] #2268 closed

[2018-12-14 10:42] menshikh-iv commented on #2293
Hello @anuragreddygv323,

we have no "weighting" functionality for window-words.
About predictions, we only have [Word2Vec.predict_output_word](https://radimrehurek.com/gensim/models/word2vec.html#gensim.models.word2vec.Word2Vec.predict_output_word) method.

Next time, please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for questions, GitHub for bug reports and feature reques

[2018-12-14 10:42] #2293 closed

[2018-12-14 10:47] menshikh-iv commented on #2112
@amartyaamp no, documentation website updates when the new release happens. Last was the 20 of September. Fix was merged 7 of Oct -> documentation will be updated when new release happens

[2018-12-14 10:48] menshikh-iv commented on #1128
@ismskd this related to Windows + Multiprocessing issue, see #2291

[2018-12-14 10:52] horpto commented on #2112
@menshikh-iv As I see, many peoples use a dev version of gensim. Maybe is it good idea to show and release version docs and dev version docs?

[2018-12-14 10:54] menshikh-iv commented on #2112
@horpto we have no way to do that now, but I'm +1 for "documentation versioning" idea (possibility to choose old versions & current `develop`).

[2018-12-14 12:41] adrianog commented on #2253
It won't be possible to know what versions were used in building the container image just by looking at the dockerfile if you unpin. So I am definitively in favour of keeping everything pinned, in a conceptual level.

On a practical level, your suggestion makes perfect sense to move on from this. Also, it is good in general for something (excellent) like Gensim to have an "official" image from RaR

[2018-12-14 12:48] rsdel2007 commented on #2270
I would like to contribute :smiley: .

[2018-12-14 12:49] menshikh-iv commented on #2270
@rsdel2007 you are welcome :)

[2018-12-15 06:41] mpenkov commented on #2062
@drozzy FYI (and for my record-keeping), the bug you've reported is captured as https://github.com/RaRe-Technologies/gensim/issues/1994

[2018-12-15 06:41] mpenkov commented on #2062
@drozzy FYI (and for my record-keeping), the bug you've reported may also be related to https://github.com/RaRe-Technologies/gensim/issues/1994

[2018-12-15 07:03] neowangkkk commented on #2137
@severinsimmler Thanks a lot. I have looked into the command line and did find out the problem.
@ismskd I found the problem is that Mac needs set up for running Mallet:
https://programminghistorian.org/en/lessons/topic-modeling-and-mallet#mac-instructions
After I downloaded the Java SE Development Kit 11 and refreshed (Command + R), my script worked well.

[2018-12-15 07:11] mpenkov commented on #2258
@menshikh-iv Since this is tagged "easy", I'm guessing the fix is to replace the int declaration [here](https://github.com/RaRe-Technologies/gensim/blob/c3d2299b74d30b54659ba3274b6f79253a33ff93/gensim/models/fasttext_corpusfile.pyx#L136) with something like a long?

[2018-12-15 07:18] menshikh-iv commented on #2258
@mpenkov yes, something like this (`int` -> `longest_int_type` for all variables that can be "large")

[2018-12-15 08:40] #2270 closed

[2018-12-15 08:47] menshikh-iv commented on #2253
@adrianog original intent of `Dockerfile` was related to "wrappers" (like mallet, wovpal, etc) & manually testing, it's a bit tricky to install all "deps" to run all tests.
Gensim itself can be easily installed from pip on linux/osx/windows, so, no reasons to worry about it too much.
This `Dockerfile` more for contributors (not for users). If you need "determinism" as user - you can easily create

[2018-12-15 15:55] piskvorky commented on #2236
Yeah, the docs could be improved. It lists three options in the `Return` section… which one is it then? How do I choose?

Values of 0.0 cannot be returned in **sparse** output. It would break various invariants and likely lead to segfaults.

If you want the full distribution (incl. zeroes), convert from sparse to dense with [gensim.matutils.sparse2full](https://radimrehurek.com/gensim/matutils.htm

[2018-12-15 17:57] adrianog commented on #2253
I would politely disagree. You could say this of a lot of software, does it mean there is no need to provide a docker image in those case.

I think there is still value in producing an official image for users that "just works". The amount of dependencies (wrappers) available / officially tested in the container can vary, according to level of trickiness. But if it is tricky it's especially import

[2018-12-16 04:38] arshjat commented on #1641
@menshikh-iv  So would it help if the first is removed and the extra 'how-to' introduction moved to the tutorial notebook?

[2018-12-16 07:00] menshikh-iv commented on #1641
@arshjat I don't think so, this "tutorial system" need full re-work first.

[2018-12-16 12:13] rsdel2007 commented on #2166
@menshikh-iv, is this issue solved? Can I work on this?

[2018-12-16 16:39] neowangkkk commented on #1846
Thanks for everyone. But I have not found the solution for this issue. Could @menshikh-iv not close it so quickly? I have seen you closed another post quickly recently and it was not the same issue you referenced. If there is any pressure you need to close some threads (maybe KPI?), please let us know. Thanks.

[2018-12-17 02:10] zjzh commented on #2294
Thank you very much.  I'm sorry for the wrong place I am writing.
Now I am thinking whether it doesn't need to implement the inverse of method  `predict_output_word`. we can set the context is one word. The top-n words is our contexts word.
Because  the skip-gram or cbow both collect pair word to complete training, they basically same except the input layers.

[2018-12-17 02:48] arlenk commented on #1846
are you sure you replied to the correct issue?  this thread was regarding an issue in numpy 1.13.3.  As the issue was in numpy (and was fixed in later numpy releases), there's really nothing gensim (or any other library) can do.  Your best bet is moving to a more recent version of numpy, unfortunately,

[2018-12-18 11:30] rsdel2007 commented on #2175
If anyone is not working on this can I contribute?

[2018-12-18 16:10] rsdel2007 opened #2301 "Found a broken link in Tutorials.md"
In tutorials.md, link to the __America's_ Next topic Model Slides_ is **broken.** This is the [link](https://speakerdeck.com/tmylk/americas-next-topic-model?slide=6).
It should be replaced by the correct one.

[2018-12-19 04:30] menshikh-iv commented on #2175
feel free to contribute @rsdel2007

[2018-12-19 04:32] rawannasser commented on #2175
@rsdel2007 yes, please

[2018-12-20 07:17] Gautamshahi opened #2304 "ValueError: too many values to unpack (expected 3)"
Please help me to resolve the issue.

![image](https://user-images.githubusercontent.com/3966230/50269735-405bcc80-0455-11e9-8bc3-dd62c84dd5ee.png)

[2018-12-20 18:45] horpto commented on #2304
Hi, @Gautamshahi
Try to something like this:

[code]

By your a piece of code, I have assumption that doc_term_matrix is actually not a one doc but a corpus.
Yeah, it's a bug.

[2018-12-20 21:07] Esco0823 commented on #2188
Hello, I am still receiving this error. My versions are:
Python - 3.7
numpy - 1.15.4
gensim - 3.6.0

this is the code I am trying to run:
![image](https://user-images.githubusercontent.com/22353149/50310772-11535400-0471-11e9-86f3-f3d5de2baf06.png)

this is my output:
![image](https://user-images.githubusercontent.com/22353149/50310835-41025c00-0471-11e9-949f-a822225834c0.png)

 I am new to gensim

[2018-12-21 15:09] frx08 opened #2305 "Save gensim model in binary format .bin with ngrams"
I'm able to save the model in binary format without ngrams (.vec like object) so is not possible to query oov words, is there a way to save the model in binary format with ngrams and open it?
(if I try to load a bin model generated with facebook fastText gives me following expection: Supervised fastText models are not supported, even if the model got unsupervised training.

[2018-12-23 06:21] senjed opened #2306 "get_document_topics returns and empty list"
I trained the lda model and want to get topic distribution for a new document. However, for some documents the get_document_topics function returns and empty list and I get this warning:

/home/anaconda2/lib/python2.7/site-packages/gensim/models/ldamodel.py:676: RuntimeWarning: overflow encountered in divide
  gammad = self.alpha + expElogthetad * np.dot(cts / phinorm, expElogbetad.T)

This is the

[2018-12-23 14:51] horpto commented on #2306
Hi @senjed

What does  `self.ldamodel.inference([new_doc_bow])` return ?
If this expression returns empty list, so what is the value of `self.ldamodel.num_topics` ?

[2018-12-23 22:54] senjed commented on #2306
Hi,
It returns (array([[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan]], dtype=float32), None)
and num_topics is 20.

[2018-12-24 04:08] horpto commented on #2306
@senjed
Please, try to increase epsilon in `gensim/models/ldamodel.py` likeit is said in https://github.com/RaRe-Technologies/gensim/issues/2115#issuecomment-443113360

[2018-12-24 05:35] senjed commented on #2306
it worked thanks!

[2018-12-24 05:36] #2306 closed

[2018-12-25 12:42] ibrahimsharaf opened #2309 "Can't import gensim in Windows"
#### Description

I have a problem importing gensim, I use Anaconda in Windows (separate virtualenv), find below the traceback and the dependencies versions.

#### Steps/Code/Corpus to Reproduce

`import gensim`

#### Actual Results

[code]

#### Versions

Windows-10-10.0.15063-SP0
Python 3.7.1
NumPy 1.15.4
SciPy 1.2.0
gensim 3.6.0

[2018-12-25 12:45] ibrahimsharaf commented on #2309
My conda list output, for a detailed look on versions:
[code]

[2018-12-25 16:05] JB0urne commented on #2188
Well, the Fix was implemented on 3rd Oct - the last release was 3.6.0 (September '18), so I think you have to wait for the next release-date ;)

[2018-12-25 23:00] lambdaofgod opened #2310 "Document pretrained word embeddings"
#### Description
Documentation doesn't seem to contain information on pretrained models - I can't find any information on them other than getting keys from

`gensim.downloader.models.keys()`

Is there a reason to not contain this information in documentation?

If there is no such reason, then wouldn't it be beneficial to document these models?

I'd be happy to help with adding this information. Bu

[2018-12-26 11:33] ibrahimsharaf commented on #2309
Same problem? @menshikh-iv

[code]

[2018-12-27 00:35] Vichoko commented on #2309
I have the same exact problem running Python 3.6 on a docker container with Django + Gensim.

Gensim==3.6.0
Numpy==1.14.2

Stack

[2018-12-27 12:32] menshikh-iv commented on #2309
@Vichoko sorry, it works for me (no exceptions). Can you try to uninstall `pyemd` and try again?
@ibrahimsharaf How exactly you install gensim (pip or conda?), can you enable verbosity and show log of the installation process? Exact steps for reproducing an error can be really useful!

[2018-12-27 13:21] himanshu-doi opened #2311 "Get text embeddings using LDA"
Im pretty new to NLP and I've ran an LDA model using bag of words embeddings and it gives me an output of the topics and the important words related to those topics. I wanted to know if there is a way to get the document embeddings out of the LDA model to further use them elsewhere. Say for finding out similar documents.
Any help would be much appreciated. Thanks

[2018-12-27 20:15] piercefreeman commented on #2309
@menshikh-iv Minimum reproducible case on my end:

*Dockerfile*

[code]

*app.py*

[code]

[code]

[2018-12-28 05:52] ibrahimsharaf commented on #2309
I uninstalled numpy, scipy, gensim and reinstalled gensim again using `conda install genism` instead of pip and now everything works fine, but gensim version is 3.4.0 not 3.6.0.

[2018-12-28 05:52] ibrahimsharaf commented on #2309
I uninstalled numpy, scipy, gensim and reinstalled gensim again using conda install genism instead of pip and now everything works fine, but the newly installed gensim version is 3.4.0 not 3.6.0.

[2018-12-28 15:51] Gilgames000 commented on #2309
+1

[2018-12-28 17:55] prerna135 commented on #1376
@menshikh-iv @piskvorky Sent you an email regarding this.

[2018-12-28 19:40] lifengjin commented on #2258
I am experiencing this same bug as well when training Word2Vec with a large corpus. There has been a pull request for this bug [https://github.com/RaRe-Technologies/gensim/pull/2239](here) for a couple of months. Would you please fix this one? Thanks.

[2018-12-29 00:44] mpenkov opened #2312 "Poor separation of concerns in fasttext design"
The architecture consists of several classes:

- FastTextKeyedVectors (embeddings)
- FastTextTrainables (neural network)
- FastText (the actual model)

The [separation of concerns](https://en.wikipedia.org/wiki/Separation_of_concerns) between the classes is poor. For example, the FastTextTrainables neural network knows far too much about the implementation details of FastTextKeyedVectors embedding

[2018-12-31 13:57] wakamd commented on #2187
Nice!!!.
Also worked for me

[2019-01-03 07:55] mpenkov opened #2315 "Poor reproducibility of out-of-vocab word vectors after loading native model"
See this unit test for reproduction:

https://github.com/mpenkov/gensim/blob/0d30caeb8c6d165d63c050de4bf32a0eab241d48/gensim/test/test_fasttext.py#L891

The test passes only if the tolerance is very high (0.1). For lower tolerance values (e.g. 0.01 and below), the test fails.

[2019-01-06 09:55] Jcvizon06 commented on #1844
Me too same CalledProcessError

[2019-01-07 01:08] gojomo opened #2316 "No documentation for how tags assigned in Doc2Vec w/corpus_file"
Although the new `corpus_file` mode ostensibly works with `Doc2Vec`, there's no documentation about how per-document `tags` are set in that mode. Is it still possible to set string tags, or more than one tag per document? (Or are documents just given the single tag for their line number in the file?)

At the very least, the docs for the `corpus_file` parameter in the class documentation – https://

[2019-01-07 01:11] gojomo commented on #2316
cc @persiyanov

[2019-01-07 04:04] menshikh-iv commented on #2315
Thanks @gojomo

Already yes, @mpenkov on it, see #2313

[2019-01-07 05:11] gojomo commented on #2315
From the descriptions of #2313/#2160, it's not clear they'd verify same-results from a loaded FT model, though it would separately be good if we had a test for that, independent of any other functionality.

[2019-01-07 08:01] robguinness opened #2317 "LSI worker getting "stuck""
#### Description

When building an LsiModel in distributed mode, one of the workers gets "stuck" while orthonormalizing the action matrix. This stalls the whole process of building the model, as the dispatcher hangs on "reached the end of input; now waiting for all remaining jobs to finish".

#### Steps/Code/Corpus to Reproduce

[code]

LSI dispatcher and workers are initialized in separate bash s

[2019-01-07 12:46] persiyanov commented on #2316
Yes, document's tag equals its number of a line as if you are using `TaggedLineDocument` class.

[2019-01-07 12:47] menshikh-iv commented on #2316
@persiyanov can you update docs, please?

[2019-01-07 19:34] rsdel2007 commented on #2113
Fixes this issue in #2319.

[2019-01-07 20:50] persiyanov commented on #2316
sure, here is the PR https://github.com/RaRe-Technologies/gensim/pull/2320

[2019-01-08 01:57] menshikh-iv commented on #2309
Workarounds for (2)
- Use `--pre` flag explicitly, in that case, you'll have  `numpy==1.16.0rc2` for both (build & install) -> no errors
- Install `numpy` first and gensim after (even without `--pre` flag), in that case -  `numpy==1.15.4` will be installed and used for both (build & install) -> no errors

[2019-01-08 02:06] menshikh-iv commented on #2309
In that case, I close this issue, if workarounds don't help - feel free to re-open and fill the issue with new details.

[2019-01-08 02:06] #2309 closed

[2019-01-08 03:09] #2316 closed

[2019-01-08 14:33] #2069 closed

[2019-01-09 05:52] #2115 closed

[2019-01-09 10:19] DreamFlasher opened #2324 "similar doc tags from new documents"
There is `model.docvecs.most_similar('doctorwho')` to obtain similar docs. Is there any way to retrieve similar docs (doc tags) for a new document? Or is the `TODO: Accept vectors of out-of-training-set docs, as if from inference.` indicating that exactly this is not possible yet? Is there a way to do that manually?

[2019-01-09 13:48] #2123 closed

[2019-01-09 17:43] menshikh-iv commented on #2228
Fixed by #2240

[2019-01-09 17:43] #2228 closed

[2019-01-10 06:07] gojomo opened #2325 "Unimportant 'Warning' in phrases.py"
Upon 1st use of `PhrasesTransformation.__getitem__()`, there's a UserWarning issued "For a faster implementation, use the gensim.models.phrases.Phraser class". See:

https://github.com/RaRe-Technologies/gensim/blob/7fca36f3eb0df70e5f823e2fb4852193b4ad7393/gensim/models/phrases.py#L655

It's kind of excessive/alarming to display a "warning" to deliver a low-severity usage recommendation - thus lead

[2019-01-10 07:33] menshikh-iv commented on #2253
up to us, I think

Yes, I definitely agree with this point

[2019-01-10 07:38] menshikh-iv commented on #2310
@lambdaofgod

Yes, because this is really dynamic (independent repo) + all info stored in `gensim-data` repo (no reason to duplicate it). See https://radimrehurek.com/gensim/downloader.html for usage.

All additional information about models / datasets available through `.info()` or in https://github.com/RaRe-Technologies/gensim-data repository