[2021-03-16 08:43] evangeliazve commented on #3075
I am looiking for a solution that clusters texts automatically. I know LDA does the job. But for the other ones, I have to build it on my side.
From your exeprience what is the LSI advantage ? From what I know LSI has a similar usage.

[2021-03-16 10:26] MatthieuMontecot commented on #2172
Thanks for this reply, what I want in the case you are talking about is that I want the network to be trained with 'a' as input and 'b' as target but NOT the opposite (I don't want it to train it with 'b' as input and 'a' as target which I think it still does if I give a sentence  ['a','b'] in the current implementation.
(in IP2Vec, this asymetry helps to distinguish between sources and destinatio

[2021-03-16 10:52] jonaschn commented on #3074
I tried the following:

[code]
and received following error:
`TypeError: expected str, bytes or os.PathLike object, not StreamReader`
It seems like tarfile does not support this way of streaming or did I misunderstand you?

[2021-03-16 12:01] mpenkov commented on #3074
My example was incomplete. If you look at the reference for the tarfile submodule [1], you'll find that the open function accepts a fileobj parameter. So, the working code would be:

[code]

The other important point is to open the outer file object for reading in binary mode as opposed to text.

[1]: https://docs.python.org/3/library/tarfile.html

[2021-03-16 18:10] BaljinderSmagh opened #3079 "getting disk quota exceeded error while using this ldamallet[doc_term_matrix]"
#### Problem description

What are you trying to achieve? What is the expected result? What are you seeing instead?

#### Steps/code/corpus to reproduce

Include full tracebacks, logs and datasets if necessary. Please keep the examples minimal ("minimal reproducible example").

If your problem is with a specific Gensim model (word2vec, lsimodel, doc2vec, fasttext, ldamodel etc), include the follow

[2021-03-16 19:04] piskvorky commented on #3079
Missing issue description, closing.

[2021-03-16 19:04] #3079 closed

[2021-03-17 03:57] gojomo commented on #3068
That *shouldn't* be a problem, as Gensim intends to support the full-featured loading of such models – as long as they're not `-supervised`-mode. But of course, until we find out what's going wrong, it's possible some other bug unique to that train-save-load path is contributing.

That the previously-failing comparison (`['.gamma.-amino', 'Polypeptides', 'containing']` vs `['Two-Dimensional', 'Con

[2021-03-17 04:35] gojomo commented on #2172
I can't think of a way to simulate that in `Word2Vec` without code-changes. (But also, I'm not sure if in practice it'd make that much difference. If it trains 'b' to be good at skip-gram predicting 'a', but they you never really care about the 'b' input-vector... your results might still be fine in the 'a'->'b' direction. You'd just be doing some unnecessary work. I'd be tempted to try it, just i

[2021-03-17 06:15] jonaschn commented on #3074
Thanks, I didn't know about the fileobj parameter.
Your suggested solution works but is slower than the proposed workaround (downloading the .tar archive):
[code]
On my local machine the workaround needs only:
CPU times: user 4.27 s, sys: 197 ms, total: 4.47 s
Wall time: 7.22 s

The filestream method is ~10x slower:
CPU times: user 8.81 s, sys: 940 ms, total: 9.75 s
Wall time: 1min 9s

I assume th

[2021-03-17 12:52] MatthieuMontecot commented on #2172
Thank you for your reply, I'm gonna try the Doc2Vec approach!

[2021-03-17 14:38] mattkoehne commented on #3068
@gojomo 🎉 The token `#` is the origin of the trouble. The distance calculation (`distance1`) without the token `#` is working. The calculation (`distance2`) isn't working.

Is this easy fixable in gensim?

I think for my calculation I will write a workaround like this:
[code]

Token `#`:
[code]

[2021-03-17 14:53] mpenkov commented on #3074
Perhaps... can you try disabling the sorting and re-measure the time?

It's likely the sorting is there to make the processing order predictable for anybody eyeballing the intermediate result (e.g. log statements, etc). If it does not affect the final result, it isn't strictly necessary.

[2021-03-18 00:29] gojomo commented on #3068
I think a workaround that leaves out origin-vectors is reasonable - since no fasttext vector is possible for a token that was neither in training, nor shares any minimum-size character n-grams with tokens in training.

(Of course, if that token is believed to be meaningful & important, you should try to include examples of its meaningful use in the training data, so it gets a useful vector.)

Gens

[2021-03-18 15:29] nikchha opened #3081 "Memory leaks when using doc_topics in LdaSeqModel"
#### Problem description

I trained a large LdaSeqModel with 53,000 documents, 3 topics, and 18 timeslices.
I saved the model to disk because it ran for 7 days.

When extracting topic probabilities for 53,000 documents, memory usage rises above 120GB.
However, only extracting probabilities for 1,000 documents works flawlessly.
#### Steps/code/corpus to reproduce

1. Train LdaSeqModel
2. Save LdaSe

[2021-03-19 02:10] #2182 closed

[2021-03-19 04:55] #2852 closed

[2021-03-19 06:33] charanrajt commented on #2172
@MatthieuMontecot did Doc2Vec approach work for IP2Vec?

[2021-03-19 06:54] charanrajt commented on #2172
@gojomo where can find the skip-gram or CBOW implementation in the code base?

[2021-03-19 12:37] jonaschn commented on #2903
As gensim dropped the support for the Mallet wrapper, I will close this issue.
You can find the improved and fixed (!) version of the Mallet wrapper for LDA and Labeled LDA here:
https://github.com/jonaschn/gensim/tree/labeled-lda

I further improved the documentation of Mallet's hyperparameter optimization as well as "gensimified" the parameter usage of alpha and eta.
There was a conflict in how

[2021-03-19 12:37] #2903 closed

[2021-03-19 12:47] jonaschn commented on #3074
My guess was correct and without sorting it also takes around 7 seconds.
I opened a PR. How do I generate the other documentation files (.ipynb etc.)?

[2021-03-19 12:49] mpenkov commented on #3074
Please see the READMEs in docs/src/gallery.

[2021-03-19 12:58] mpenkov opened #3083 "Handle migration away from travis-ci.org"
They are expecting projects to migrate from travis-ci.org to travis-ci.com. It looks like a free process for open-source projects.

We should consider whether to continue using Travis (and move to travis-ci.com) or use the opportunity to migrate everything possible to GitHub Actions.

We probably can't leave Travis entirely, because they support some platforms that GHA does not (IIRC).

[2021-03-19 13:24] piskvorky commented on #2903
That's great, thanks! Is your `labeled-lda` a full replacement for the Mallet wrapper that used to be in Gensim?

If so, we could link to it from the Gensim documentation.

[2021-03-19 13:26] piskvorky commented on #3074
@jonaschn please see https://github.com/RaRe-Technologies/gensim/wiki/How-to-author-documentation (especially the Technical section at the bottom).

[2021-03-19 13:29] piskvorky commented on #3083
Really? What are we using Travis for now?
I thought it was already gone entirely.

[2021-03-19 14:00] jonaschn commented on #3074
I pushed the other doc build artifacts.
Do I always need to run and build the whole documentation?
Actualy, some dependencies are missing, e.g. nmslib
It is not very convenient to contribute such fixes if the whole process around building the docs is so much effort and needs so much time.

[2021-03-19 14:11] mpenkov commented on #3083
Right now the gensim-wheels repo is entirely Travis-backed. I'd have to search through past discussions to find the cases that Travis covers that GHA doesn't.

[2021-03-19 14:12] mpenkov commented on #3083
https://github.com/RaRe-Technologies/gensim-wheels

[2021-03-19 15:41] piskvorky commented on #3074
AFAIK the build shouldn't do anything for files that didn't change. Only the artifacts for files you actually changed (or created) should be created.

@mpenkov is that accurate?

[2021-03-19 19:15] jonaschn commented on #2903
It makes definitely sense to keep compatibility with gensim's API.
I never published a package to PyPI.
I am not sure how to deal with the Java dependency and it's build tool (Mallet and ant).

[2021-03-19 19:48] piskvorky commented on #2903
We didn't deal with that either. Installing Mallet was outside of Gensim's purview.

[2021-03-19 21:06] gojomo commented on #2172
@charanrajt Search for `cbow` and `sg` in the `word2vec.py` file, and especially the optimized cython `word2vec_inner.pyx` file (where the serious tight loops are done).

[2021-03-20 08:36] mpenkov commented on #3074
It's in the ballpark, but not entirely. Yes, only files that changed will be regenerated. However, regenerating them requires the entire documentation build to be triggered (so e.g. make -C docs/src html). The build is then clever enough to skip over the parts that haven't changed.

This is not ideal for contributions like this, as @jonaschn has pointed out. It would be more convenient if they cou

[2021-03-20 08:58] piskvorky commented on #3074
Wait, I see two separate concerns:

A. Changing one tutorial caused rebuilding of **all other tutorials & how-tos** (takes forever)
B. Changing one tutorial caused rebuilding of **that tutorial + building docs** (takes ~ a minute or two extra)

I thought we're talking about A, where @jonaschn had to wait hours. Is the complain actually about B?

If so, I'm definitely for your option 1) @mpenkov.

[2021-03-20 13:20] mpenkov opened #3085 "Prepare 4.0.0 release candidate 1"
https://github.com/RaRe-Technologies/gensim/issues/2963

Gentlemen, could you please review the https://github.com/RaRe-Technologies/gensim/tree/4.0.0.rc1 tag and let me know if you spot anything out of the ordinary?

It looks like the wheels are building fine on CI, so we can make this release pretty much any time from now.

[2021-03-20 13:27] piskvorky commented on #3085
Not sure what to look for in the tag, but all the Milestone tickets are gone, so good to go! 🚀

[2021-03-20 16:19] jonaschn commented on #3074
Actually the final build of the docs didn't take forever but at least it was pretty confusing and time-consuming for myself to figure out how to contribute such an easy fix.
Most surprising to me was that I needed so much more dependencies and one (nmslib) was actually missing in the `requirements_docs.txt`. Installing these dependencies was neither mentioned in the contributor guide nor the wiki.

[2021-03-21 02:26] mpenkov commented on #3074
OK, so it sounds like we could improve our developer documentation a little bit and go with option 1, then.

[2021-03-21 12:05] piskvorky commented on #3085
I cleaned up the [4.0.0rc1 release text](https://github.com/RaRe-Technologies/gensim/releases/tag/untagged-93c99785187f9733da4c) a bit. Also edited all PRs titles, so they look consistent next time they're regenerated.

@mpenkov I see the release text is a "delta" = only changes since 4.0.0beta, right? For the full 4.0.0, IMO we include all changes since 3.8.3, not only since 4.0.0rc1. Do you agre

[2021-03-21 13:14] mpenkov commented on #3085
Yes, for the proper release, we should make the release notes complete. We should do this before the actual release, because changing them after the wheels are made isn't ideal (the wheels are made from a tag, any changes we made afterwards won't be part of the tag).

I think this is good to release. @gojomo Can you give it a once-over? If not, I'll let the cat out of the bag sometime tomorrow or

[2021-03-21 13:40] piskvorky commented on #3085
@mpenkov if the `4.0.0rc1` release went well (wheels, PyPI, etc), let's do the full release right after. We don't want to postpone that any more.

RC1 is just to double check the release process internally (4.0.0beta was quite tricky IIRC). I'm not even going to promote 4.0.0rc1 to users.

[2021-03-22 09:15] mpenkov commented on #3085
OK, we're good for RC1: https://pypi.org/project/gensim/4.0.0rc1/

[2021-03-22 09:21] mpenkov opened #3086 "Release 4.0.0"
- [x] Update CHANGELOG.md (@piskvorky)
- [x] Build wheels, release to PyPI (@mpenkov)
- [x] Champagne and cigars (everyone)

[2021-03-22 09:22] mpenkov commented on #3086
@piskvorky Please let me know when the change log is in the shape we want it to be for the final release. Once that's done, it'll take a few hours to get the wheels built and finalize the release.

[2021-03-22 09:35] #3066 closed

[2021-03-22 09:36] #3074 closed

[2021-03-22 09:38] mpenkov opened #3087 "Streamline documentation contributions"
OK, so it sounds like we could improve our developer documentation a little bit and go with option 1, then.

_Originally posted by @mpenkov in https://github.com/RaRe-Technologies/gensim/issues/3074#issuecomment-803501251_

[2021-03-22 09:42] mpenkov commented on #2903
It's a lot easier than you think. I'd encourage you to do it simply for the learning experience.

Probably nothing as far as packaging goes. You could have a script in your package that runs a sanity check (ensures that java and mallet executables are available, and maybe even runs mallet to check its version), but it'd be diminishing returns beyond that.

[2021-03-22 13:00] jonaschn commented on #2903
Thanks for your advice!

[2021-03-23 06:52] gojomo commented on #3085
Sorry, I haven't had a chance to try exactly RC1 by either tag or via `pip`, and wouldn't be able to for another couple days.

The beta found enough useful things that making a formal RC1 announcement, & giving expert/attentive users at least a week to try RC1 in their environments, might also find some last-minute glitches or regressions – saving us from any quickie `4.0.1` release. Isn't the cal

[2021-03-23 08:19] piskvorky commented on #3085
@gojomo okay. I'll tweet & post on the mailing list.

However, I did a test today on my OSX and `gensim==4.0.0rc1` from PyPI installs but doesn't work for me:

[code]

This was on numpy 1.18.4. Numpy 1.19 fails in the same way (1.19.0 through 1.19.5).

Only numpy 1.20 (the latest release) works. It looks like numpy 1.20 changed the C API, broke binary compatibility: https://github.com/numpy/numpy/

[2021-03-23 08:47] piskvorky commented on #3085
OK, reading the numpy discussion linked above:

So what we should do, now and in general, is to build with the oldest numpy we support, which is `1.11.3`. The wheels should then work across all versions, including 1.20+.

@mpenkov are you able to add such constraint to our CI + wheel builds?

[2021-03-23 09:27] mpenkov commented on #3085
I think so. I've pushed a commit to test such a build: https://github.com/RaRe-Technologies/gensim-wheels/commit/fe0b85f4aa48466eb184cf546925cd611973214b

The wheels will be on S3 here: http://gensim-wheels.s3-website-us-east-1.amazonaws.com/

They will overwrite the RC1 wheels, but that doesn't matter, since the wheels are already on PyPI.

[2021-03-23 09:47] mpenkov commented on #3085
It turns out things aren't so simple. The [numpy wheels for 1.11.3 aren't available](https://pypi.org/project/numpy/1.13.3/#files) for the platform/pythonversion combinations that we're building gensim wheels for. So our CI has to do its own build of numpy from source, and that's a giant can of worms that we don't want to open (have a look at the build output above, if you dare).

So, instead of t

[2021-03-23 09:59] piskvorky commented on #3085
And what does the literal `oldest-supported-numpy` (linked above) do? Does that include support for wheels?

[2021-03-23 10:12] mpenkov commented on #3085
I think it uses a rolling version of numpy. So older Python versions use an older numpy version.

I'm not sure if we can actually use it directly, because its an additional package (as opposed to an actual numpy pin). I'll give it a try.

[2021-03-23 12:31] mpenkov commented on #3085
Good news @piskvorky , using the oldest-supported-numpy as build dependency worked, and the wheels got built on the first try. I don't think that's ever happened before ;)

[2021-03-23 17:21] gojomo commented on #3085
Was this numpy-incompatibility unique to OSX, and that's why the Linux/Windows builds/tests didn't trigger the same error?

[2021-03-23 17:29] piskvorky commented on #3085
I suspect the tests ran in environments with matching numpy versions (wheel built with numpy==1.20.0, tests ran with numpy==1.20.0), so the error never materialized.

[2021-03-23 17:43] gojomo commented on #3085
If we were claiming, in install specs, to have supported `numpy-1.11.3` – such that an install to a developer machine with `numpy-1.11.3` thought it didn't need anything else and broke on import – it seems that should've been discovered by automatic tests.

If we roll back the build/test machine to specify an older numpy, we'll miss any bugs/incompatibilities with the latest numpy.

If we only tes

[2021-03-23 17:46] piskvorky commented on #3085
IIRC there was a discussion about using a more complex testing matrix. Testing against the "oldest supported version of dependencies" was definitely planned, but not sure if implemented.

[2021-03-23 18:12] piskvorky commented on #3085
@mpenkov so can we close this now, ready for "full 4.0" tomorrow? Any other rough edges, reasons to postpone?

4.0 is not the final dot anyway, there are `post` releases etc.

[2021-03-23 23:33] mpenkov commented on #3085
Yes, I think we can go for 4.0.

Did you want to announce RC1 and give people a chance to play with it for a day or two?

[2021-03-24 00:10] piskvorky commented on #3085
I already announced RC1 yesterday. "People playing" not necessary IMO; no major change since 4.0.0beta, which had been out for 4 months.

Let me clean up (merge) the changelog and we're good to go.

[2021-03-24 00:13] piskvorky commented on #3085
Actually, can you generate the 4.0.0 change log since 4.0.0rc1 please? After that I'll edit it, so that 4.0.0 changelog = 4.0.0beta + 4.0.0rc1 + 4.0.0 (all changes since 3.8.3).

[2021-03-24 00:56] mpenkov commented on #3085
There's only one PR merged since RC1 that's worth mentioning - I just documented it now.

[2021-03-24 12:58] #3085 closed

[2021-03-25 15:58] piskvorky commented on #3086
Only the champagne & cigar left :)

Great job @mpenkov!

How did the latest release go, relative to 3.8.3, 4.0.0beta and 4.0.0rc1?

[2021-03-25 16:02] piskvorky commented on #3086
I see the last two steps from the release plan are missing: https://github.com/RaRe-Technologies/gensim/wiki/Developer-page#update-gensim-version-to-report-the-next-release

Should I do update `setup.py` (an omission), or did you have other plans, still in progress?

[2021-03-25 17:00] nerdizzyz opened #3089 "Using corpus_file does not speed up while the CPU utilization seems full."
#### Problem description

I'm struggling with the issue of speeding up a doc2vec training using `corpus_file` after my institution introduced a new computing server system. With the previous system, I had/have no problem, but I found that the same script takes drastically different times, and I'm not enjoying the quasi-linear speed-up with the number of threads/cores anymore. I have not been able

[2021-03-25 17:09] piskvorky commented on #3089
Hmm, what changed between the new and old servers, specifically?

Do the two systems link a different BLAS library? (`numpy.show_config()`)

At runtime, is the setting for BLAS threading different? (e.g. `OMP_NUM_THREADS`, or similar depending on your BLAS vendor)

[2021-03-25 18:01] nerdizzyz commented on #3089
@piskvorky Thanks for your quick response!!

1. I heard that the new system changes the file storage system which aims to improve file I/O performance. Two main changes: 1) HDD to SSD; 2) bundling metadata and files for small files. But I do not think this was the issue.

2. I'm putting the results from `numpy.show.config()`. I find the difference between the two.

From the new system:

[code]

Fr

[2021-03-25 19:46] piskvorky commented on #3089
This is an environment variable. You set it *before* you launch your process (python interpreter, script). You can check its value from `os.environ`. For MKL BLAS that you have, the variable seems to be called `MKL_NUM_THREADS`:

[code]

Or else the CPUs (their caches, architectures) are sufficiently different that the results are "real".  But I'd first try to rule out the BLAS threading differenc

[2021-03-25 20:22] nerdizzyz commented on #3089
1. I'm sharing the output from `print(os.environ.get("MKL_NUM_THREADS", "not set"))`

From the new system:
[code]

From the old system:
[code]

Does this mean that I have not been using BLAS even from the previous system?

2. The result for numpy.dot

From the new system
[code]

From the old system

[code]

Note that I used a single core/thread from both system to produce the results above.

[2021-03-25 20:24] kmurphy4 opened #3090 "KeyError in LsiModel constructor"
#### Problem description

Hi, I'm trying to use an `LsiModel` to reduce a corpus.  When constructing the `LsiModel`, I sometimes see `KeyError`s raised by logging code (specifically, [here](https://github.com/RaRe-Technologies/gensim/blob/f8110c036f30e030e4c27101398e076cd1254819/gensim/models/lsimodel.py#L673) via [here](https://github.com/RaRe-Technologies/gensim/blob/f8110c036f30e030e4c27101398e

[2021-03-25 20:36] piskvorky commented on #3089
No, it means the BLAS was using default threading. I don't know what that is for MKL – probably "no thread limit, let MKL decide".

How did you ensure that?

[2021-03-25 20:43] piskvorky commented on #3090
As far as I can see, this can only happen with super small dictionaries: `len(id2word) < topn`.

The default `topn=20`, so is it the case your dictionary has less than 20 terms in it? Is that expected?

[2021-03-25 20:44] nerdizzyz commented on #3089
As for the thread/core number, I'm using the slurm scheduler(Or sbatch) so I set the number of nodes/tasks/CPUS explicitly. I set it as `--ntasks=1 --cpus-per-task=1` for the both systems for the numpy dot product test.

[2021-03-25 20:47] kmurphy4 commented on #3090
I believe this can happen even for larger corpora if you see lots of repeats at the beginning.

[2021-03-25 20:47] piskvorky commented on #3089
Can you try running it in the exact same way you run your doc2vec code?

[2021-03-25 20:51] kmurphy4 commented on #3090
For example, I get the same error for a corpus like this:
[code]

[2021-03-25 20:57] piskvorky commented on #3090
That dictionary is still smaller than 10, `len(id2word) == 2`.

But I think you may be right, this can happen when the the trained model hasn't seen at least 10 terms so far. For example, when the first 20000 documents (default `chunksize=20000`) contained less than 10 unique terms.

Still a pretty weird setup, but it can happen. We should detect when that happens, and output only the top `min(top

[2021-03-25 21:02] kmurphy4 commented on #3090
In this contrived example, yep.

Yeah, I think we're on the same page.  I was looking for something like `actual_active_terms`, but I didn't see it being tracked anywhere.  I think that would solve the issue, yes.

[2021-03-25 21:04] piskvorky commented on #3090
Can you open a PR that replaces that line with `return [(self.id2word[val], 1.0 * c[val] / norm) for val in most if val in self.id2word]`?

And verify that it fixes your original problem. I'm still not clear about where such issue could realistically appear – <10 unique words in 20k documents is definitely not common. Are you sure your document pipeline is OK?

[2021-03-25 21:19] kmurphy4 commented on #3090
I've verified the fix I posted above locally.  I can open a PR in a moment ..

Here's another example that repro's the problem with > 10 terms:
[code]

Haha good question.  This is definitely not a common case (< 1 in 10k).  I think we could see the issue if clients uploaded lots of empty documents or small, duplicate documents, though.

[2021-03-25 21:26] piskvorky commented on #3090
That's exactly 10 unique terms (not *more than 10*) in the first 20k docs.

OK, please send the PR. Use my version though – we don't want to output tokens that do not exist at all. We do not want to output `<None>` for them.

[2021-03-25 22:09] nerdizzyz commented on #3089
Okay... I wrote a quick script as below and ran it by submitting it within the two systems, using `--ntasks=1 --cpus-per-task=24` as arguments in SBATCH.

[code]

The result from the old system was

[code]

The result from the new system was

[code]

[2021-03-25 22:12] piskvorky commented on #3089
And this (`--ntasks=1 --cpus-per-task=24 as arguments in SBATCH`) is how you got the Doc2Vec timings in your original post?

[2021-03-25 22:27] nerdizzyz commented on #3089
Okay, I find it as

[code]

which might have been an issue.

So, I tried the same script with

[code]

But the result was the same as I'm pasting here

[code]

[2021-03-26 00:22] mpenkov commented on #3086
About the same as RC1 (everything built on the first attempt, very little intervention). Slightly better than the beta, and miles ahead of 3.8.3.

Yes, please update setup.py - I missed that step.

[2021-03-26 02:08] nerdizzyz commented on #3089
Hello, I'm writing this to report because I faced with the same issue with another machine independent from the two systems I've been describing.

#### 1. The environment is as below
[code]

#### 2.  The result from numpy.show_config()
[code]

#### 3. Training performance

##### 3.1 workers =1

![image](https://user-images.githubusercontent.com/18064995/112565123-80cff080-8daa-11eb-92a9-e2a116281c

[2021-03-26 07:50] piskvorky commented on #3089
Thank you for the detailed reports.

I'm not sure what the problem is – this will have to wait until someone has the time to reproduce & dig deeper.

[2021-03-26 15:16] nerdizzyz commented on #3089
@piskvorky Thanks for all the responses. I will post further here if I find something worthwhile sharing.

[2021-03-26 19:11] nerdizzyz commented on #3089
@piskvorky I'm sharing this to ask if [this](https://github.com/RaRe-Technologies/gensim/issues/1988) might be related with the current issue. Thanks.

[2021-03-26 19:32] piskvorky commented on #3089
Well that's exactly what we were checking above – whether your BLAS is parallelized.

I'm not familiar with `slurm`, but my understanding of the experiments you reported is that your trouble persists even when you use a single core.

That is, the doc2vec training is slower even when restricted to single core. So it cannot be an issue of multithreading / multiprocessing.

[2021-03-26 19:55] nerdizzyz commented on #3089
@piskvorky I see. (Just to remind, the third experiment was conducted under a server machine without using any `slurm` scheduling.) I will dig a bit more about the previous system's configurations from which I can benefit from the multicores. This is interestingly confusing!

[2021-03-27 05:22] piskvorky commented on #3086
That's good to hear.

Closing here – big thanks to you and @gojomo for getting 4.0.0 through. It was a major cleanup of accumulated mess, much needed.

Smoother sailing from here on :)

[2021-03-27 05:22] #3086 closed

[2021-03-27 23:18] mpenkov commented on #3083
@piskvorky Can you please perform the migration process detailed [here](https://docs.travis-ci.com/user/migrate/open-source-repository-migration/#migrating-a-repository)? The organization owner for RaRe-Technologies needs to do it.

[2021-03-28 08:44] piskvorky commented on #3083
The authentication / migration was a mess. I *think* I did all the steps, working around various errors and inconsistencies in the documentation.

In the end I manage to migrate: https://travis-ci.com/github/RaRe-Technologies/gensim/settings

<img width="1295" alt="Screen Shot 2021-03-28 at 10 40 46" src="https://user-images.githubusercontent.com/610412/112746876-34570180-8fb2-11eb-8470-ba9020a698

[2021-03-28 10:26] mpenkov commented on #3083
Thanks @piskvorky, that looks sufficient.

@janaknat We migrated to .com, but there are still problems. Can you please have a look?

https://travis-ci.com/github/RaRe-Technologies/gensim/jobs/494302890

[2021-03-28 10:43] piskvorky commented on #3083
Hm, is this experimentation happening over the main branch? Visible to all visitors?

<img width="947" alt="Screen Shot 2021-03-28 at 12 42 15" src="https://user-images.githubusercontent.com/610412/112749533-1f369e80-8fc3-11eb-82db-801102b69ea9.png">

[2021-03-28 12:41] mpenkov commented on #3083
OK, I will disable the build on the develop branch while we work this out.

My expectation was that the build pass (because of the previous history of the PR), but it appears there's still some work to be done.

[2021-03-28 13:17] mpenkov commented on #3083
The migration is complete, so I'm closing this ticket. @janaknat and I will deal with the failing Travis build in a separate ticket.

[2021-03-28 13:17] #3083 closed

[2021-03-28 13:20] mpenkov opened #3092 "Fix broken Travis CI build"
Continued from #3083. The Travis build (for aarm64) is [failing](https://travis-ci.com/github/RaRe-Technologies/gensim/builds/221428340) for multiple reasons:

- Python 3.6: passes
- Python 3.7: failed unit test: TestTranslationMatrix.test_persistence, numpy raises ValueError
- Python 3.8: failed unit test, as above
- Python 3.9: missing BLAS/LAPACK

@janaknat Can you please investigate?

[2021-03-28 21:00] nnadine25 opened #3093 "randomness array in each execusion using gensim 4.0.0 r"
hi,

i have the problem of random values of the wor2vec numpy array in each iteration i have differents values and the values look like this

[-8.2428008e-03  9.2994776e-03 -1.9798672e-04 -1.9678262e-03
  4.6040486e-03 -4.0951525e-03  2.7427832e-03  6.9398358e-03
  6.0658492e-03 -7.5107692e-03  9.3822163e-03  4.6720100e-03
  3.9662290e-03 -6.2438129e-03  8.4602311e-03 -2.1501693e-03
  8.8252556e-0

[2021-03-28 21:04] piskvorky commented on #3093
Hi, please see the FAQ and the issue template you deleted..

[2021-03-28 21:04] #3093 closed

[2021-03-28 22:39] nnadine25 commented on #3093
can you give me the link

[2021-03-29 05:05] notonlyvandalzzz opened #3094 "Update self.vectors_lockf in models/keyedvectors.py"
Both lines containing `vectors_lockf` variable should be:
[code]
Current (4.0.0) version is:
[code]
And this gives us IndexError trying to make `intersect_word2vec_format()`

[2021-03-29 07:18] piskvorky commented on #3094
Thanks for reporting. @gojomo can you please check the intent of that change in 4.0?

And ideally add a test for this.

[2021-03-29 18:29] janaknat commented on #3092
@mpenkov python 3.9 wheels for numpy and scipy were released in v1.19.3 and v1.5.4. With that change I am seeing the same 5 unit tests failed as seen with python 3.7 and 3.8.

Build logs python 3.9: https://travis-ci.com/github/janaknat/gensim/jobs/494600398

[2021-03-29 22:45] gojomo commented on #3094
Ugh, my optimization to keep the advanced/experimental `lockf` function from taking memory, in the overwhelmingly-common case where it's unused, broke this other essentially-experimental method.

@notonlyvandalzzz, a temporary workaround would be to manually expand that array before calling `.intersect_word2vec_format()`. This may do the trick, for a usual `KeyedVectors`, before trying the import:

[2021-03-30 00:16] mpenkov commented on #3092
OK, so if we fix the numpy/scipy versions for python 3.9, we'll have the same result as 3.7 and 3.8.

How do we fix 3.7 and 3.8 builds?

[2021-03-30 08:27] Bomme opened #3095 "import gensim fails on Windows with numpy 1.19.5"
#### Problem description

After I upgraded to gensim `4.0.0` from `4.0.0beta`, I was no longer able to do `import gensim` (see numpy error message below). When I upgraded to numpy `1.20.2` the problem was solved.

#### Steps/code/corpus to reproduce

[code]

#### Versions

[code]

[2021-03-30 12:05] piskvorky commented on #3095
Thanks for reporting @Bomme . How did you install Gensim 4.0.0?

Probably related to the C API change in Numpy==1.20.0: https://github.com/numpy/numpy/pull/16938. Previous discussion https://github.com/RaRe-Technologies/gensim/issues/3085#issuecomment-804710317 .

[2021-03-30 13:35] Bomme commented on #3095
I installed it simply through: `pip install gensim~=4.0.0`

[2021-03-30 15:27] TimotheeMickus opened #3096 "Segfault when training FastText model"
#### Problem description

Some hyper-parameter configurations for FastText seem to produce segfaults.

#### Steps/code/corpus to reproduce

Data & MRE available [here](https://github.com/TimotheeMickus/temp-git)

MRE:
[code]

The above does not segfault with other configurations. Similar issues have been encountered with different hyper parameter configurations, the configuration in this MRE is ju

[2021-03-30 15:46] piskvorky commented on #3096
Thanks for reporting.

Is the result the same with Gensim 4.0.0 (the latest release)?

[2021-03-30 16:38] TimotheeMickus commented on #3096
Seems so. I just did a fresh install on another hardware, segfaulted as well.

Exact steps:
[code]

Versions info for that second machine:
[code]

[2021-03-30 18:19] TimotheeMickus commented on #3096
If it may help:

Other segfaulting hyper-parameter configurations, with which I've been able to reproduce the segfault: [configs.zip](https://github.com/RaRe-Technologies/gensim/files/6231083/configs.zip).

It seems to be sensitive to the data as well:
| config | `head -10000` | `head -1000` | `head -100` | `head -10` |
|-------:|----:|---:|---:|---:|
| 2933177 | **KO** | _ok_ | _ok_ | _ok_ |
| 29

[2021-03-30 23:47] mpenkov commented on #3095
Yes, we can see from [here](https://ci.appveyor.com/project/piskvorky/gensim-wheels-2x1bk/build/job/7bhvjbjhcr9mivx7#L1372) that 1.20.1 was used.

[2021-03-31 13:40] norbertgieruc opened #3097 "Can't import gensim library - Python 3.8.5"
Hi,

I was trying to run script that I created some time ago on Python 3.6.5 and it seems to don't work anymore. I can't import the library. Upgrading numpy didn't help. Can I ask for a solution to this problem?
[code]

Best regards,
Norbert

[2021-03-31 14:07] piskvorky commented on #3097
That's weird – my understanding was that upgrading numpy should help.

Related to #3095.

@mpenkov could you have a look please? This numpy's incompatibility fuckup seems critical, will hit a large percentage of Gensim users.

[2021-03-31 14:53] norbertgieruc commented on #3097
Current:
Windows 10
Numpy 1.20.2

If you are asking what Numpy version were working previously I don't remember. I created that code like 1 year ago and just wanted to rerun it now and failed.

[2021-03-31 18:08] janaknat commented on #3092
Looks like numpy is having issues. I don't remember seeing this when I made the PR.

[2021-04-01 00:47] mpenkov commented on #3092
Yes, numpy is having multiple issues. Are you able to investigate?

[2021-04-01 00:55] mpenkov commented on #3097
@piskvorky Something really strange is happening with numpy.

In this ticket, the user is still unable to import gensim even after upgrading numpy to 1.20.2, when using Python 3.8.5 on Windows. For that configuration, Appveyor built the wheels using numpy 1.20.1 (see https://ci.appveyor.com/project/piskvorky/gensim-wheels-2x1bk/build/job/7bhvjbjhcr9mivx7#L1372). If numpy version 1.20.2 is incompat

[2021-04-01 04:24] gojomo commented on #3089
The third experiment is strange in that both `workers=1` & `workers=20` finish in ~111s, while `workers=5` finishes in exactly twice as long. Are you sure they were all run with otherwise-identical settings? Are you sure nothing else was running on the machine? Does repeating each run give a similar time?

Is `window=240` really what you need for you actual project training? (By making individual

[2021-04-01 05:29] gojomo commented on #3096
How quickly does the segfault occur? Can you share a log from one of the configs that segfaults promptly?

It's hard to understand why your `Restartable` and `get_sentences_in_file` work the way they do. Will the problem reproduce without them - for example, by using them once to just write the tokens to space-delimited lines, then reading with a utility iteratable from Gensim like `LineSentence`?

[2021-04-01 07:12] piskvorky commented on #3097
Indeed. I'll open a ticket at numpy, but can you clarify one thing for me? How come the wheels used numpy 1.20.1, when you switched to using `latest-supported-numpy`? I don't understand how that can be.

BTW, Numpy have a nice signpost page for new issues: https://github.com/numpy/numpy/issues/new/choose
Let's see how they did it and do it for Gensim too :) Many don't read / respect our current is

[2021-04-01 07:20] piskvorky opened #3098 "Signpost page for new issues"
BTW, Numpy have a nice signpost page for new issues: https://github.com/numpy/numpy/issues/new/choose
Let's see how they did it and do it for Gensim too :) Many don't read / respect our current issue template.

_Originally posted by @piskvorky in https://github.com/RaRe-Technologies/gensim/issues/3097#issuecomment-811699331_

[2021-04-01 09:23] mpenkov commented on #3097
It could be a bug in oldest-supported-numpy. It's choice of versions for Windows builds is quite strange:

- Py3.6: [numpy 1.19.5](https://ci.appveyor.com/project/piskvorky/gensim-wheels-2x1bk/build/job/g29rnelxy9rn3alt#L1376)
- Py3.7: [numpy 1.20.1](https://ci.appveyor.com/project/piskvorky/gensim-wheels-2x1bk/build/job/b0hqpmy6svto37k6#L1374)
- Py3.8: [numpy 1.20.1](https://ci.appveyor.com/proje

[2021-04-01 09:38] mpenkov commented on #3097
No, wait, the problem is that Windows builds happen using Appveyor, not Travis CI, and that uses a different build mechanism. This mechanism isn't picking up oldest-supported-numpy. I'll build new wheels and do a bugfix release. That should fix the wheels for Windows users.

Have non-Windows users reported similar problems?

[2021-04-01 09:42] piskvorky commented on #3097
Oh crap, I just submitted the ticket :)

[2021-04-01 09:51] mpenkov commented on #3097
I think the Numpy ticket is still valid. We built the wheel using 1.20.1, and the user is unable to use it with numpy 1.20.2 installed. Is that expected? We built with an older version than what they have, so things _should_ work, right?

[2021-04-01 10:16] piskvorky commented on #3097
I think so. @norbertgieruc how did you install Gensim? Was it standard `pip` from PyPI?

Because I see some `Anaconda` in your stack trace, I'm not sure what these guys do exactly, we do not support non-standard 3rd party repositories.

[2021-04-01 10:47] norbertgieruc commented on #3097
@piskvorky Yes, it was standard pip install via anaconda prompt.

[2021-04-01 11:21] llunn commented on #3097
We're also experiencing this error in one of our projects that uses gensim, but I don't think your lib is the issue here.  Our source of the problem is coming from a scikit-learn package: hdbscan (https://github.com/scikit-learn-contrib/hdbscan)

Problem occurs in both Windows (python 3.8.8) and macOS (python 3.8.5).

I'm not able to disclose the full stack, but the snippet that matters:
[code]

I

[2021-04-01 11:30] piskvorky commented on #3097
@llunn it's possible the issue with HDBScan is a separate one. Do they use `oldest-numpy-version`? Probably best to open a ticket at HDBScan, or chime in at https://github.com/numpy/numpy/issues/18709, so the numpy devs have a bigger picture.

[2021-04-01 11:40] llunn commented on #3097
@piskvorky honestly I'm not sure what HDBScan does or how to check on that `oldest-numpy-version`.  Will be amplifying your issue at numpy; intent here was to let you know it isn't specific to this project.

[2021-04-01 11:53] TimotheeMickus commented on #3096
Seems like there are various patterns leading to segfaults; cf. this trace: [logs.txt](https://github.com/RaRe-Technologies/gensim/files/6243256/logs.txt).

Traces have been realized with the following script:
[code]

Exact call:
[code]

[2021-04-01 13:02] mpenkov commented on #3095
I've initiated the 4.0.1 release. Should be ready within an hour or so.

[2021-04-01 13:10] mpenkov commented on #3097
Please mention the numpy versions for each of your environments (Windows/Mac, Python version, etc) that exhibit the problem. I'm trying to pin down the cause, seeing a matrix with what works and what doesn't would be helpful.

[2021-04-01 13:45] piskvorky commented on #3095
Could also be a post release (`4.0.0.post0`). No functionality changed IIRC, just a packaging issue.

[2021-04-01 13:50] mpenkov commented on #3095
I've already made the appropriate commits and started building the wheels. If it's not critical, I'd prefer to release it as 4.0.1 in the next hour or so.

If you have a strong preference for 4.0.0.post0, I'll deal with it tomorrow.

[2021-04-01 13:51] piskvorky commented on #3095
No, not strong preference :) Thanks for the prompt re-release!

[2021-04-01 14:16] mpenkov commented on #3095
https://pypi.org/project/gensim/

[2021-04-01 14:17] mpenkov opened #3099 "Fix badge in PyPI"
Probably comes from the README. Needs to point to Github Actions, not Travis.

[2021-04-01 14:18] mpenkov commented on #3097
https://pypi.org/project/gensim/4.0.1/

[2021-04-01 15:27] llunn commented on #3097
@mpenkov Full disclosure here, our project is unlikely be a good case study to use.  We have had to drop our gensim version to < `4.0.0` due to breaking changes in another dependency ( [top2Vec](https://github.com/ddangelov/Top2Vec) ) that imports gensim.

**Completely recognize that our problem is completely outside of your area of concern** and it is almost certainly unrelated to gensim.  That b

[2021-04-01 15:58] Bomme commented on #3095
I can confirm that gensim==4.0.1 and numpy~=1.19.5 seem to work together nicely! 🚀

[2021-04-01 15:58] #3095 closed

[2021-04-01 16:07] bluekura opened #3100 "word-vectors outside `train()`-update tokens being changed; also, `vectors_lockf` 0.0-values don't suppress changes"
#### Problem description
I have a task to update small numbers of words from the trained word2vec model.
Only a small number of target words should be updated. Thus, I trained the base model, then try to suppress update non-target vectors for the additional training with ```trainables.vectors_lockf=0```.
However, the behavior is wired and does not work as I expected.
Even if I set the ```vectors_l

[2021-04-01 16:20] jonaschn commented on #399
I find this resource helpful: https://vb-learning-rate-demo.herokuapp.com to see how the parameters offset (tau) and decay (kappa) affect the learning rate of the online VB method

The source code by @ecoronado92 could be found [here](https://github.com/ecoronado92/towards_data_science/tree/master/apps/vb_learning_rate).

[2021-04-01 17:40] piskvorky commented on #3097
Seems fixed now with 4.0.1. @llunn I'd recommend you urge your dependencies (top2vec etc) to upgrade using the [Gensim 4.0 Migration Guide](https://github.com/RaRe-Technologies/gensim/wiki/Migrating-from-Gensim-3.x-to-4). Because 4.0.0 is miles ahead of 3.8.5 in terms of performance and memory, and also fixed a number of important bugs.

[2021-04-01 20:15] gojomo commented on #3096
Thanks! If a mere `list` is enough to trigger, no need to involve `LineSentence` at all.

Logging output at the INFO level from a crash, rather than anything with a progress bar, will be more helpful in narrowing the moment & contributing factors.

[2021-04-01 20:43] TimotheeMickus commented on #3096
Using the provided logging snippet to generate logs for  the zipped configs: [logs.zip](https://github.com/RaRe-Technologies/gensim/files/6246385/logs.zip)

[2021-04-01 20:58] gojomo commented on #3100
Note that the `lockf` functionality is an experimental & advanced function, that's essentially "use at your own risk & source-code level understanding". Further, in gensim-4.0.0, it's been further stripped-down, to avoid memory-overhead costs in the overwhelmingly common case where it's not being used. It might not survive in future versions at all, unless there's some published work reporting it

[2021-04-01 22:13] gojomo commented on #3096
Thanks! Looks like usually, the crash occurs right after training begins, without even the 1st second's progress log-line. But on one occasion most of the 1st epoch completed (about 5 secs of training), and once, got about a third into the second epoch (after ~7 seconds of training).

[2021-04-01 22:43] nerdizzyz commented on #3089
@gojomo Thanks for your detailed response. I'm sharing with you what I rechecked.

**1. Rechecking the running time**

- I rechecked the running times using 1, 10, 20 cores with the third machine. I believe I ran them with identical settings. I'm attaching the

**1.1 1 workers**

[code]

**1.2- 5 workers**

[code]

**1.3 20 workers**
[code]

[2021-04-02 10:14] mpenkov commented on #3097
@norbertgieruc Can you please try gensim 4.0.1 and let us know whether the problem still persists?

[2021-04-02 12:47] bluekura commented on #3100
Thanks for the fast response.

I re-tested with gensim 4.0.1 (most recent version) without setting ```vectors_lockf```.
I generate random numbers between [0, 551000) for the update, and thus, the words larger than 551000 should not be updated, and the maximum number of the updated vector should be less than 551000. However, in this trial, 858,825 vectors were updated.
Specifically, the vectors upd

[2021-04-02 17:27] gojomo commented on #3100
Thanks for MRE code - but can you show your cod that concludes out-of-range vectors change, too?

What's the smallest `vocab_max_number` you can find that shows this (out-of-range) problem? (Spinning up a 200GB RAM machine for verification is harder than if it can be seen anywhere smaller.)

That a part of your config is Intel-MKL on an officially-unsupported processor is a concern. Is that necess

[2021-04-02 17:38] bluekura commented on #3100
Here it is:

[code]

Maybe somewhere between 50,000,000 and 10,000,000. I think it requires 100GB of RAM. There was no problem at vocab size of 10,000,000.

I am not sure, yet I will try on the other system.

[2021-04-03 00:40] jorendorff opened #3101 "Segfault running run-core-concepts-py against first lines of Shakespeare's sonnets"
*(Hi! Thanks for putting so much effort into the tutorials! Gensim looks amazing and I'm looking forward to experimenting more. Happy to help debug--anything you need. I know Python, CPython, and C/C++ pretty well, and I can drive GDB.)*

`run-core-concepts.py` crashes with `Segmentation fault (core dumped)` when I replace `text_corpus` with a list of first lines of Shakespeare's sonnets.

#### St

[2021-04-03 02:37] bluekura commented on #3100
Never mind. I was confused. In this test, I used basic BLAS and LAPACK, instead of MKL.

[code]

[2021-04-03 07:06] bluekura commented on #3100
As you requested, I tested with the other machine with following spec.

[code]

Detailed dependent package versions are as follows:

[code]

I changed random seed, thus the number is not so exactly matched with old test (with Threadripper 3990X)
[code]

The updated words are also distributed uniformly
[code]

Regarding the gensim's internal index, the abnormally updated vector is distributed as fo

[2021-04-03 07:54] piskvorky commented on #3101
The `index` in that tutorial has a hardwired number of features: `num_features=12`.

When you change your TFIDF corpus, you'll need to adapt the number of features too. That's the cause of the crash.

You log says `calculated IDF weights for 18 documents and 15 features (39 matrix non-zeros)` so you could do `num_features=15`, but IIRC you can use `num_features=max(tfidf.dfs) + 1`, more generally.

[2021-04-03 11:33] jorendorff commented on #3101
Yes, that change fixes the crash.

[2021-04-03 11:58] mpenkov commented on #3101
@piskvorky Perhaps in the tutorial code, we can set the number of features dynamically, based on the dictionary size? There's no need to hard code it, and it will prevent other people from tripping over a similar problem.

[2021-04-03 12:54] piskvorky commented on #3101
Definitely.

[2021-04-03 16:35] BaljinderSmagh opened #3102 "Getting CalledProcessError while getting each document topic probability from LdaMallet model"
#### Problem description

What are you trying to achieve? What is the expected result? What are you seeing instead?

#### Steps/code/corpus to reproduce

Include full tracebacks, logs and datasets if necessary. Please keep the examples minimal ("minimal reproducible example").

If your problem is with a specific Gensim model (word2vec, lsimodel, doc2vec, fasttext, ldamodel etc), include the follow

[2021-04-03 16:40] piskvorky commented on #3102
Ticket not intelligible. Please fill in the template and try again if you want help.

[2021-04-03 16:40] #3102 closed

[2021-04-03 16:49] BaljinderSmagh commented on #3102
I have updated the template, can you please check the issue?

[2021-04-03 16:56] piskvorky commented on #3102
Thanks for filling in the template. We removed Mallet from Gensim, so it's no longer supported.

But if you want to continue using it (via older versions of Gensim), you can. From the error you shared, I'd try running the same command from the command line, to see why / with what error Mallet failed. But unfortunately we cannot support Mallet tickets any more.

[2021-04-03 17:01] BaljinderSmagh commented on #3102
Hi RaRe-Technologies/gensim,

Can you help me in knowing the date at which the mallet model was removed
as I was using this model in my research project.It will be really helpful.

Thanks & Regards
[image: NJIT logo] <https://www.njit.edu/> *Baljinder K Smagh*

***@***.***

On Sat, Apr 3, 2021 at 12:56 PM Radim Řehůřek ***@***.***>
wrote:

[2021-04-03 17:05] piskvorky commented on #3102
Mallet was removed in Gensim 4.0. So you'll need to use Gensim < 4.0.

[2021-04-03 17:07] BaljinderSmagh commented on #3102
if you check my template , I am using the gensim 3.8.3 still getting this
error.

[image: NJIT logo] <https://www.njit.edu/> *Baljinder K Smagh*

***@***.***

On Sat, Apr 3, 2021 at 1:05 PM Radim Řehůřek ***@***.***>
wrote:

[2021-04-03 19:19] ccastroh89 commented on #3040
I have also come into this issue when trying to calculate C_V coherence on held out documents. Although I overcame it by adding the EPSILON value in cases where the denominator was 0, that is the direct_confirmation_measure.log_ratio_measure would look like:

[code]

I wonder if the approach of @Jobtimize would work well in cases where the number of documents is low, i.e. lower than 10, 20, 100? s

[2021-04-04 07:12] bluekura commented on #3100
Last shot: AMD 3990X with intel MKL

[code]

* With vocab size of 100000000
[0:551000): 237083 vectors changed
[551000:max_val): 620760 vectors changed

[code]

It seems that both MKL and OpenBLAS have similar problem

[2021-04-05 17:03] gojomo commented on #3100
Thanks for all your work reproducing this under multiple configurations! The main thing that would help now, given the rarity of debugging machines with over 100GB RAM, is to determine the true *minimum RAM* in which this problem can be shown - even if, for example, it takes a larger random dataset.

It seemed above it was reliably triggered at a 50,000,000-size vocabulary, with 100-dimensional ve

[2021-04-05 22:00] mdkabirrana commented on #2515
I am getting same issue.

[2021-04-06 08:54] robguinness opened #3104 "lsi_dispatcher is not working from command-line when not specifying maxsize argument"
#### Problem description

When running `lsi_dispatcher` from the command-line, if you don't specify the `maxsize` argument explicitly, you get an error for the missing positional argument:

[code]

According to the documentation, this argument should be optional.

The issue seems to be that the nargs argument to `add_argument` is missing:

[code]
In order to make this argument optional, this shoul

[2021-04-06 09:16] piskvorky commented on #3104
Thanks Rob.

Quite possible – the distributed stuff in Gensim is not under automated testing.

Are you able to open a PR?

[2021-04-06 11:47] robguinness commented on #3104
Sure, I can do that.

[2021-04-06 12:39] robguinness commented on #3104
See PR #3106. I hope I did it right. :-)

[2021-04-06 20:50] nadiafelix commented on #2711
I have the same problem:
What is the solution?

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
/usr/local/lib/python3.7/dist-packages/gensim/models/coherencemodel.py in _ensure_elements_are_ids(self, topic)
    438         try:
--> 439             return np.array([self.dictionary.token2id[token

[2021-04-06 22:10] bluekura commented on #3100
* Openblas, **2dim**, 50,000,000 unique words

  [0:551000): 551000 vectors changed
  [551000:50,000,000): No vectors changed

* Openblas, **100dim**, 50,000,000 unique words
  [0:551000): 473421 vectors changed
  [551000:50,000,000): 152512 vectors changed

Interestingly, there is no problem with 2-dim vectors.

[code]

[2021-04-06 23:54] gojomo commented on #3100
Thanks! That a (50M * 2 dims * 4 bytes) 400MB set of vectors doesn't show the problem, but a (50M * 100 dim * 4 bytes) 20GB set does is informative.

Given the kinds of power-of-2 thresholds often involved with pointer-type errors, it'd similarly be useful to probe around the 3GB-or-5GB, or 15GB-or-17GB thresholds. Specifically:

(around)3GB: (50M words * 16 dims * 4bytes), and/or (7.5M words * 10

[2021-04-07 07:03] robguinness commented on #3014
I can confirm that the sparsetools DeprecationWarning still exists in gensim 4.0.1. Would it make sense to just squash this warning by surrounding the import with a try/except? The warning is certainly relevant to gensim maintainers, but for gensim users, it's mainly just an annoyance.

[2021-04-07 07:38] piskvorky commented on #3014
Getting rid of (not showing) the sparsetools warning makes sense. But I don't think try-expect will help here – it's not an exception.

As far as I'm aware scipy doesn't offer any alternative for the deprecated (but still functional) sparsetools module. So "fixing" it properly is not possible.

[2021-04-07 10:22] FredHappyface commented on #3014
I seem to remember there is a way to achieve this sort of thing

I think using `warnings.carch_warnings()`

https://stackoverflow.com/questions/9134795/how-to-get-rid-of-specific-warning-messages-in-python-while-keeping-all-other-wa

[2021-04-07 12:07] robguinness commented on #3014
Update from me: So it turns out that Python's default warning filters will actually filter out DeprecationWarnings, so if you don't for some reason override this, gensim user's won't see these warnings. For some reason though pytest will show these warnings, which is where I was seeing it (see https://stackoverflow.com/a/53218641/896660). I don't really understand why pytest is not using the defau

[2021-04-07 16:03] janaknat commented on #3092
I can create a patch with oldest-supported-numpy and see if that helps.

[2021-04-07 22:39] mpenkov commented on #3092
Sure, give it a shot.

[2021-04-08 07:18] piskvorky opened #3108 "For sponsors"
## Thank you for your sponsorship!

Please leave your desired Twitter handle here as a comment, for a mention in the monthly [@gensim_py](https://twitter.com/gensim_py) tweet.

If you chose one of the tiers where I send you stuff, contact me [via email](mailto:me+sponsorship@radimrehurej.com) with your mailing address and T-shirt sizes.

Thanks again!

[2021-04-08 14:42] plauthor opened #3109 "cannot import name 'softcossim' from 'gensim.matutils'"
I get the following error when trying to running a tutorial script. First I attempted to upgrade gensim:

pip3 install --upgrade gensim
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: gensim in ./.local/lib/python3.7/site-packages (4.0.1)
Requirement already satisfied: smart-open>=1.8.1 in ./.local/lib/python3.7/site-packages (from gensi

[2021-04-08 14:49] piskvorky commented on #3109
There is indeed no `softcossim` in `gensim.matutils`, so the error is expected.

@Witiko was there ever `softcossim` there? Do you know what this might be about?

[2021-04-08 15:07] Witiko commented on #3109
The `softcossim` method has been deprecated in favor of `inner_product` and removed in Gensim 4.0.0. Please, see [our up-to-date tutorial](https://radimrehurek.com/gensim/auto_examples/tutorials/run_scm.html).

[2021-04-08 15:10] #3109 closed

[2021-04-08 15:24] plauthor commented on #3109
The code comes from https://www.machinelearningplus.com/nlp/cosine-similarity/

Thank you.

[2021-04-08 22:18] muhlbach opened #3110 "Cannot load pretrained Doc2Vec: AttributeError: Can't get attribute 'DocvecsArray' on <module 'gensim.models.doc2vec'"
#### Problem description

I'm trying to load a pre-trained Doc2Vec model from this [https://github.com/jhlau/doc2vec](https://github.com/jhlau/doc2vec)

#### Steps/code/corpus to reproduce

`
from gensim.models.doc2vec import Doc2Vec;
model = Doc2Vec.load("enwiki_dbow/doc2vec.bin")
`

This throws the following error:

`AttributeError: Can't get attribute 'DocvecsArray' on <module 'gensim.models.do

[2021-04-09 03:49] gojomo commented on #3110
As noted on that page's 'Requirements' section:

Specifically: those were created with, and can only be loaded into, a nonstandard Gensim fork that diverged about 5 years ago. You wouldn't be able to load them into either an official Gensim release of the same era (v `0.12.4`), or the much-later current version of Gensim (`4.0.1`).

You will likely want to train your own model with the latest Gens

[2021-04-09 03:49] #3110 closed

[2021-04-09 11:33] ihavemanyquestions opened #3111 "Coherence key error on held out set"
Hi, I am trying to train a LDA model on a train set (80% of the data):

[code]

And get the coherence on a test set (20% held out test):

[code]

I run this for n_topics from 1 to 30.
However, it keeps crashing on random n_topics, with the error outlined below. The Key Error number changes all the time. Any help would be appreciated.

[code]

Versions used

#### Versions
[code]

[2021-04-09 11:52] piskvorky commented on #3111
Thanks for reporting.

I think this is a duplicate of #2711, hopefully resolved in #2830.

[2021-04-09 12:33] bluekura commented on #3100
Here are the result @gojomo requested:

Dims: 16, Vocab Size: 50000000, OPENBLAS
[0: 551000): 551000 vectors changed
[551000: vocab_max_number): 0 vectors changed

Dims: 24, Vocab Size: 50000000, OPENBLAS
[0: 551000): 551000 vectors changed
[551000: vocab_max_number): 0 vectors changed

Dims: 75, Vocab Size: 50000000, OPENBLAS
[0: 551000): 551000 vectors changed
[551000: vocab_max_number): 0 vecto

[2021-04-09 13:42] #3090 closed

[2021-04-09 17:21] jay2017-git opened #3112 "No module named 'gensim.summarization'"
i'm using gensim version 4.0

from gensim.summarization.bm25 import BM25

How do I implement BM25 or summarization using Genism.

[2021-04-09 18:27] piskvorky commented on #3112
Gensim 4 removed summarization altogether. See https://github.com/RaRe-Technologies/gensim/wiki/Migrating-from-Gensim-3.x-to-4#12-removed-gensimsummarization.

[2021-04-09 18:27] #3112 closed

[2021-04-11 13:02] ihavemanyquestions commented on #3111
Hi, thank you for quickly picking this up and being so quick to have another look at this!

I tried to test the latest update (by @pietrotrope from 2 days ago) from #2830  today on a few of my datasets, and it still randomly throws the same error I outlined above , so given the fix I am not sure why it would keep happening; or whether my bug is of a different nature.

[2021-04-11 13:44] ihavemanyquestions commented on #3111
Hi the fix from #2830 did work; so i can say my current issue can be closed! thank you for this.

My (new) problem now seems to be linked to #3040 , so I will move on to seeing potential fixes for that.

[2021-04-11 19:44] LostInDarkMath opened #3114 "AttributeError: 'KeyedVectors' object has no attribute 'next_index'"
#### Problem description

I try to add new vectors to a given model.

#### Steps/code/corpus to reproduce
Relevant traceback:
[code]

My code:
[code]

#### Versions

[code]

[2021-04-12 13:04] robguinness commented on #3104
Please see #3115 instead. :-)

[2021-04-12 16:49] gojomo commented on #3114
Thanks for your report! I suspect you're loading an instance of `KeyedVectors` from an earlier version of Gensim, when adding of vectors was handled differently.

It may be enough of a temporary workaround for you to manually patch `self._model.next_index = len(self._model)` after it is loaded.

The proper fix for the project is likely to extend the `KeyedVectors._load_specials` method to detect w

[2021-04-13 06:23] bluekura commented on #3100
@gojomo

This will be the last test on my side.

Dims: 84, Vocab Size: 50000000, RealVocabSize: 50000000, OPENBLAS
Dims: 84, [0: 551000): 551000 vectors changed
Dims: 84, [vocab_max_number: 551000): 0 vectors changed

Dims: 85, Vocab Size: 50000000, RealVocabSize: 50000000, OPENBLAS
Dims: 85, [0: 551000): 551000 vectors changed
Dims: 85, [vocab_max_number: 551000): 0 vectors changed

Dims: 86, Voc

[2021-04-13 11:23] LostInDarkMath commented on #3114
Hi @gojomo! Thank you for your fast reply. Yes, I build my model with Gensim 3.8.3 before.

I solved my problem by rebuilding it via
[code]

Luckily, I didn't changed it in the past so rebuilding was the preferred option for me.

[2021-04-13 16:45] gojomo commented on #3114
Yes, if you had the same vectors in plain 'word2vec_format', just reloading from there is a good workaround, too.

[2021-04-13 18:07] gojomo commented on #3100
Thank you; this is great focusing-in on the threshold of the problem. I'd been mistakenly using decimal GB when binary GiB (pedantically, 'gibibytes') are the relevant numbers for this sort of addressing.

That the errors begin as soon as the array is larger than 2^32 total floats strongly hints some erroneously-narrow pointer calcs are happening, and/or some high-bytes in a properly 64-bit pointe

[2021-04-15 15:56] jonaschn opened #3119 "Partially missing documentation of __getitem__"
#### Problem description

I am wondering why some models have documented the `__getitem__` function and others are missing.
See below for a list of the models that provide the documentation of this function online.
I am confused because most (if not all) models provide this shortcut usage of `model[bow]` and have a docstring in the source code but it is not visible on the API docs website.

Furthe

[2021-04-16 09:32] uomodellamansarda opened #3122 "Link in documentation Removed"
The tutorial in the link inside the documentation for doc2vec  [here](https://radimrehurek.com/gensim/models/doc2vec.html#gensim.models.doc2vec.LabeledSentence) redirect to GitHub, but in that page the tutorial was removed.

[here](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-lee.ipynb)

Best,
Andrea

[2021-04-16 10:27] piskvorky commented on #3122
Thanks – can you open a PR, to update the link?

[2021-04-17 17:58] gojomo commented on #3114
PR #3117 may be a minimal fix for the absence of `next_index` - but there's not yet a test case to prompt this error, & verify expected behavior across whole ops - so there could be other issues with older loads, that only show with load-and-add.

[2021-04-19 12:18] AdityaSoni19031997 commented on #3122
Ahh, I can send the PR but i am not able to figure out where exactly i should change that URL? Thanks;

[2021-04-19 12:55] #3122 closed

[2021-04-19 13:11] AdityaSoni19031997 commented on #3015
Is this still being considered as a wishlist? I can try to spend some time to fix this;
Thanks.

[2021-04-19 15:27] AdityaSoni19031997 commented on #2986
First of all, thanks for a helpful discussion and comments;

I am curious, If there's an easy way to launch a Grid-Search on your custom task? [within Gensim itself? or outside?]
Secondly, let's say that your # sequences of tokens length is 50% of the time less than the context_word value; what does wor2vec does in such scenarios?

Thanks,
Aditya.

[2021-04-19 15:49] piskvorky commented on #2986
Closing as "not a bug" here, but feel free to continue the discussion at the [Gensim mailing list](https://groups.google.com/forum/#!forum/gensim).

And of course, for complex optimizations / commercial uses, please consider [becoming a Gensim sponsor](https://github.com/sponsors/piskvorky) :)

[2021-04-19 15:49] #2986 closed

[2021-04-19 19:31] gojomo commented on #3015
Yes.

[2021-04-19 22:35] fredzannarbor commented on #2592
There are still a lot of places on the web that recommend using gensim.summarization, so this was not super helpful.

[2021-04-20 00:30] gojomo commented on #2592
@fredzannarbor It'd be helpful if you let those places know they now need to make some other better recommendation!

[2021-04-20 18:00] aloknturing opened #3124 "Phrases model's saved connector_words not getting loaded, while loading saved phrases model"
#### If we have saved the trained phrases model in this version i.e gensim version 4.0.0 or 4.0.1, while giving non empty connector_words. And If we try to load the saved model in this version itself. Then the connector_words of the loaded phrases model will be wrongly assigned empty frozen set. This is a functional bug and will result in some of the words not getting grouped in ngram

PR has been

[2021-04-20 18:03] piskvorky commented on #3124
I don't understand. Are you reporting an issue that already has a fix submitted? Or did you find some problem with the fix?

[2021-04-20 18:08] aloknturing commented on #3124
Yes I am trying to report this issue whose PR fix was submitted. In the guidelines its mentioned that issue needs to be raised before sending PR

[2021-04-20 18:09] aloknturing commented on #3124
Let me delete it. I think its not required

[2021-04-20 18:09] #3124 closed

[2021-04-20 18:10] piskvorky commented on #3124
Yeah I don't think this adds anything here.

"Issue before PR" makes sense for a discussion whether something is a bug, and what the solution should be. We're past that stage now.

[2021-04-22 13:42] ontocord commented on #3108
Thanks for all your hard work Radim! @ontocord

[2021-04-24 15:28] symt3xx commented on #1038
Hey guys, would also be interested in the current progress.
Currently writing my master thesis about topic analysis of Twitter data and would prefer using python if possible.

[2021-04-27 06:30] sagol opened #3127 "AttributeError: 'Doc2Vec' object has no attribute 'dv’"
#### Problem description

A simple call to model.docvecs.most_similar results in an error. Seems to have forgotten about 'dv' as model.dv.most_similar results in a similar error:

```<ipython-input-8-051320dcdf92>:4: DeprecationWarning: Call to deprecated `docvecs` (The `docvecs` property has been renamed `dv`.).
  model.docvecs.most_similar(app, topn=topn)
----------------------------------------

[2021-04-27 10:02] estamos commented on #1035
I see that issue is closed but I think it's the best place to ask you,

Is it possible to **convert my saved model into tf form** _so I can use Google's [Embedding Projector Visualizer](https://projector.tensorflow.org/)_ ?

I have saved my model as below
[code]
having the following word vectors files
[code]

I have trained my model for a quite big corpus so I would prefer to not train again and c

[2021-04-27 13:52] piskvorky commented on #3127
Minimal reproducible example please.

[2021-04-27 13:54] piskvorky commented on #1035
Please use the mailing list for questions. Don't hijack existing tickets.

[2021-04-27 14:21] sagol commented on #3127
[code]

[2021-04-27 14:59] piskvorky commented on #3127
Loading from 3.8.3 should work, that's the last release before 4.0.0.

@gojomo can you think of what's wrong here?

[2021-04-27 16:01] gojomo commented on #3127
While it was proposed to have specific prior-version models as part of the test suite, for each prior-version intended as 'supported-to-load', it doesn't look like that happened.

Look in the `test_data` or `test_data/old_d2v_models` - there's nothing past v 3.4.0.) Any test methods to test such older-version models were disabled, crudely, with the expectation they'd be replaced with a smaller set

[2021-04-27 17:04] sagol commented on #3127
After `model.dv = model.__dict__['docvecs']` :

[code]

[2021-04-27 18:03] piskvorky commented on #3127
Never mind tests; I can see no migration code in `Doc2Vec.load()` at all.

Of course having automated tests for loading older versions would be great, but it looks nobody is up for implementing that.

But breaking prior-version compatibility, with or without tests, is not acceptable. Such code should never have been merged (and yes, tests would have discovered it instantly).

Anyway, what now:
1.

[2021-04-28 02:27] spate141 commented on #400
Is there any progress made with `build_vocab()` in 4.0 release? I just started with 105B tokens file and planning to train few versions of embedding models. Seems like _build_vocab_ is rather more expensive than actual training.

I'm setting following variables related to this function:
[code]

Any suggestion to speed this up? I'm not sure on how should I use Honnibal's code.

[2021-04-28 05:22] #3104 closed

[2021-04-28 06:03] piskvorky commented on #400
`build_vocab` is still pure Python = slow. Essentially it does this:

[code]

I see two avenues to speed up `build_vocab`:

1. Optimize LineSentence or the loop above with Cython / C. Especially for the `corpus_file` code path, where we know the input is a file on a local disk (rather than any iterable or remote data stream), we should be able to do much better.

2. Plus, in case of `corpus_file`,

[2021-04-29 11:52] duhaime commented on #2884
@gojomo I get the error reported by @datistiquo in [this minimal Colab notebook](https://colab.research.google.com/drive/1cQUMqfCxQLEc2PfJoQFvSQfE4rssTaro?usp=sharing), where I'm trying to retrain a pretrained model...

[2021-04-29 15:45] TheCidRMC opened #3130 "NameError: name 'Nmf' is not defined"
#### Problem description

Trying to run NMF using gensim, but it doesn't work.

#### Steps/code/corpus to reproduce

I tried to run what documentation suggests:

[code]
but it throws the error in subject.

I tried to inspect the package and it seems it's not installed or doesn't exist. I don't understand why.

#### Versions

gensim 3.8.3

[2021-04-29 15:50] mpenkov commented on #3130
You're not importing the Nmf class anywhere.

What documentation are you getting this from?

[2021-04-29 15:52] TheCidRMC commented on #3130
Hey there, I was looking at

https://radimrehurek.com/gensim_3.8.3/models/nmf.html

[2021-04-29 18:09] piskvorky commented on #3130
Thanks for reporting. NMF is a contributed module, sorry about this.

@TheCidRMC can you open a PR fixing the docs? The solution is of course to import `Nmf` first.

[2021-04-29 19:12] gojomo commented on #2884
Looking at that notebook, I see no such error - training appears to occur without error.

(Separately: it'd be good to correct the deprecation-warning that notebook is getting, as it suggests the exact new method that should be called instead. And, I personally would not assume such incremental-training of another model with a relatively-small amount of new data is a good idea. Any words/fragments

[2021-04-30 01:45] duhaime commented on #2884
Ah sorry, I ended up correcting the syntax in the notebook!

The data here is just a toy example to show the syntax to a student. That said, I appreciate your words of wisdom on the deprecation warning @gojomo!

[2021-05-03 03:21] properGrammar commented on #3130
I've submitted a PR for this, @piskvorky: [https://github.com/RaRe-Technologies/gensim/pull/3131](url)

[2021-05-04 18:30] T0admomo opened #3132 "Coherence Score Nan's Gensim LDA"
Hello, I am working on my first topic modeling project with the gensim library. I am having an issue where the coherence score only returns a NAN,

# model
`lda_model = gensim.models.ldamodel.LdaModel(corpus = corpus,
                                            id2word= id2word,
                                            num_topics = 3,
                                            random_state = 1

[2021-05-07 15:05] rqueraud opened #3134 "Wrong data in the topic_methods notebook"
I am looking at the example notebook [topic_methods](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/topic_methods.ipynb).

In the [get_term_topics](https://render.githubusercontent.com/view/ipynb?color_mode=auto&commit=0be98916dc2af5943696dd9a7efa8104f445e2a0&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f526152652d546563686e6f6c6f676965732f676

[2021-05-07 15:10] piskvorky commented on #3134
Oh that's not good. Thanks for reporting.

@mpenkov I don't remember what happened there – I think we transformed the notebooks to our [doc gallery](https://radimrehurek.com/gensim/auto_examples/index.html#documentation), right? Is it worth keeping these (old, unmaintained) notebooks around?

[2021-05-07 20:35] mpenkov commented on #3134
With this particular notebook, no, we did not migrate it to the gallery. I went through my notes and the reason was "unable to reproduce notebook results". We have two options:

1. Remove the notebook. Not good if the notebook contains valuable documentation that isn't available elsewhere. This part is questionable.
2. Author a new notebook as part of the gallery. The better option in the long run

[2021-05-08 05:24] #3130 closed

[2021-05-08 09:05] piskvorky commented on #3134
@rqueraud since you're on the topic (no pun intended), can you look into fixing the notebook, making it reproducible?

It's contributed code, but if you find it useful, maybe we could convert the cleaned-up notebook into our doc gallery (as opposed to remove it).

[2021-05-08 18:56] abu-rayyan commented on #3109
I uninstalled the gensim using `pip uninstall gensim` and reinstalled using conda: `conda install -c anaconda gensim` and it worked!

[2021-05-09 18:43] plauthor commented on #3109
Thank you.

[2021-05-10 00:23] mpenkov commented on #3109
`pip install gensim==3.8.3` would have also "worked"

[2021-05-10 02:31] chenjinhongv opened #3135 "demo in help documents of the class WmdSimilarity did not work"
#### Problem description

I try to run the demo in help documents of the class WmdSimilarity, it did not work and put out an exception below:

AttributeError: 'Word2Vec' object has no attribute 'wmdistance'

the code I run in jupyter notebook below:

from gensim.test.utils import common_texts
from gensim.models import Word2Vec
from gensim.similarities import WmdSimilarity

model = Word2Vec(common_

[2021-05-10 03:22] mpenkov commented on #3135
What version of gensim?

[2021-05-10 03:35] chenjinhongv commented on #3135
gensim-4.0.1

[2021-05-10 04:31] mpenkov commented on #3135
Please post the full exception stack trace. Without it, it isn't obvious what part of the code is raising the exception.

[2021-05-10 04:36] chenjinhongv commented on #3135
AttributeError                            Traceback (most recent call last)
<ipython-input-166-89a12527fc34> in <module>
      7 index = WmdSimilarity(common_texts, model)
      8 query = ['trees']
----> 9 sims = index[query]

~\software\anaconda3\lib\site-packages\gensim\interfaces.py in __getitem__(self, query)
    335                 else:
    336                     query = matutils.unitvec(qu

[2021-05-10 04:37] chenjinhongv commented on #3135
![image](https://user-images.githubusercontent.com/44344942/117606464-7ddb6480-b18c-11eb-8d06-94415e14068e.png)

[2021-05-10 04:43] mpenkov commented on #3135
OK, thank you, looks like a bug. We will investigate.

[2021-05-10 14:24] shakhat opened #3137 "Minimum required numpy version needs to be bumped to 1.17.0"
#### Problem description

gensim is declared to work with numpy >= 1.11.3, however it doesn't work with any version below 1.17.0.

#### Steps/code/corpus to reproduce

Install gensim and non-recent version of numpy:

[code]

Run python interpreter with the following code
[code]

Observed error:
[code]

The solution is to bump the minimum version of numpy to be at least 1.17.0: https://github.com/R

[2021-05-11 00:40] mpenkov commented on #3137
I think this is the discussion here: https://github.com/RaRe-Technologies/gensim/issues/3085

We did it for gensim-wheels, but not for gensim proper. It's a slightly different problem. I think we can bump the minimum version to 1.17.0 as mentioned in this ticket.

[2021-05-11 02:28] chenjinhongv commented on #3135
hey man, I think i may have solved this issue and it may not a bug. I try to pass an object of gensim.models.keyedvectors.KeyedVectors but not gensim.models.word2vec.Word2Vec as kv_model to build the object of WmdSimilarity, and it works. code and output below:
code:
`from gensim.test.utils import common_texts
from gensim.models import Word2Vec
from gensim.similarities import WmdSimilarity

# the

[2021-05-11 13:54] Ismail-Ham commented on #2592
Do you have any recommendation for bm25 ? There is a tuto that I want replicate in a my use case and It still uses BM25

[2021-05-11 16:47] jonaschn opened #3138 "Wrong LDA hyperparameter offset (downweighting factor tau0)?"
I observed that the hyperparameter `offset` (introduced as `downweighting` factor in https://github.com/RaRe-Technologies/gensim/commit/aa56561a5c2e49ba699ba0f3468aa762112ad761) which corresponds to tau_0 from [Hoffman et al.](https://papers.neurips.cc/paper/2010/file/71f6278d140af599e06ad9bf1ba03cb0-Paper.pdf) is set differently compared to the [original algorithm](https://github.com/blei-lab/onl

[2021-05-12 16:04] gojomo commented on #3100
In trying to understand the proposed fix in #3136, it occurs to me that the triggering code here may not be shoing quite what we thought. Notably, because the vocabulary is by default frequency-sorted, a low number (like `'1'`) is unlikely to actually be in position `1`. In fact, given the flat random distribution of synthetic terms, it may be equally likely to be anywhere. Thus *I think* that the

[2021-05-12 17:32] gojomo commented on #2592
If a tutorial/approach worked well with the older Gensim version, you can always choose to install & use that older version, for example in an isolated, project-specific virtual environment. Only if you also need closely-integrated later-version features or fixes would there be any complications.

(And, if you really like some of the removed code, & are sure it meets your needs, you can always cop

[2021-05-12 22:13] bluekura commented on #3100
The numbers (like 551000) is worked as string vocab, not about the position (index).
As you cans see in the test code (as I shown already) I tested using the number as "word".

[code]

The numbered words <551000 certainly can be anywhere regarding position, of course. I generated random sequence to be ease with the numbers.

No. it eliminates the moving of words >551000, which indeed can be anywhe

[2021-05-13 01:16] #3100 closed

[2021-05-14 07:32] BrandonKMLee commented on #2506
Having the same issue atm.

[2021-05-14 07:35] BrandonKMLee commented on #2506
[code]
Result
[code]

[2021-05-14 09:13] mpenkov commented on #2506
From a superficial examination, it sounds like the check should be `if document is None`. Anyone in this thread interested in investigating and making a PR?

[2021-05-14 14:32] piskvorky commented on #2506
Didn't we remove `sklearn_api`?

[2021-05-14 14:34] piskvorky commented on #2506
@BrandonKMLee seems unrelated, you are supplying the wrong input to `gensim.models.LsiModel`. This ticket was about an sklearn wrapper `gensim.sklearn_api.lsimodel.LsiTransformer` (deprecated and removed since).

[2021-05-14 14:34] #2506 closed

[2021-05-15 08:49] Pikamander2 commented on #2438
This appears to be an easier workaround:

[code]

Basically, the pattern code will fail the first time you run it, so you first need to run it once and catch the Exception it throws.

It's worked well enough for my own scripts, but I don't know if it fixes every possible issue.

Ideally though, somebody should fork the clips/pattern project since it's no longer maintained.

[2021-05-15 09:12] mpenkov commented on #2438
We removed the pattern dependency, so this problem is no longer relevant to gensim.

[2021-05-15 15:09] Witiko commented on #2541
@piskvorky Two years later and I came across a simple solution, which should reduce the complexity of our kNN algorithm over the Levenshtein distance from O(M²) to O(M log M), where M is the number of indexed words. The solution would use [the ball tree from scikit-learn](https://github.com/scikit-learn/scikit-learn/discussions/20097#discussioncomment-742090), which is a structure for indexing met

[2021-05-15 18:12] rohit901 opened #3144 "Fix documentation link to mycorpus.txt download"
#### Problem description

Trying to reproduce Corpora and Vector Space tutorial given in the documentation, but the link to download txt file is not working. The link given in the tutorial [here](https://radimrehurek.com/gensim/auto_examples/core/run_corpora_and_vector_spaces.html#corpus-streaming-one-document-at-a-time) is giving 404 error.

#### Steps/code/corpus to reproduce

Just visit this [l

[2021-05-15 20:22] piskvorky commented on #2541
Sure, if that works. I vaguely remember trying ball-tree and it didn't work well, but that was in a different context. I'd have to "load up" this thread into my memory to remember what it's about, but I'm sure you already did that :-)

Let me know when you get some numbers!

[2021-05-15 20:26] piskvorky commented on #3144
You're right, the link should be https://radimrehurek.com/mycorpus.txt.

@rohit901 Can you open a PR with a fix? Thanks.

[2021-05-15 20:40] mpenkov opened #3145 "The wiki page should be presented more prominently"
@mpenkov Thanks. The wiki page should (in my opinion) be presented more prominently.
I totally missed this benchmark page although I am using gensim for a while.

_Originally posted by @jonaschn in https://github.com/RaRe-Technologies/gensim/issues/3141#issuecomment-841700119_

[2021-05-15 20:52] Witiko commented on #2541
Today, I played around with the ball tree a bit. However, I was disappointed to discover that sklearn's Ball tree assumes Euclidean vectors and uses centroids to represent intermediate nodes, which rules out non-vector metric spaces such as strings over the Levenshtein distance.

I discovered a number of metric tree implementations in Python. However, I only managed to double the speed, which is a

[2021-05-15 21:02] piskvorky commented on #2541
Pity. I don't remember the particulars of the problem you're solving here, but searching for "similar strings", where similar = "Damerau-Levenshtein within a given distance", can be done extremely fast, using trie and DAWG automata. I see that as a more viable approach than fancy clustering over metric spaces.

[2021-05-15 21:44] Witiko commented on #2541
I was curious how much speed we could gain with metric indexing, which is a nice general technique. I tried the DAWG automata as implemented by [lexpy][1]: we get 2x speed-up when finding strings within edit distance 2 (i.e. roughly the same as VT-Tree) and up to 10x speed-up when finding strings within edit distance 1. We would need ca 100x speed-up to be rougly in the same ballpark as vector spa

[2021-05-15 22:18] piskvorky commented on #2541
10x speed-up compared to brute-forcing each comparison `query_string x lexicon_string`? That doesn't sound right.

I'd expect the speed up to depend on the number of answers = words within the lexicon that are actually within distance N. Any fixed number is suspicious. We're probably talking about different algos here.

[2021-05-15 22:20] Witiko commented on #2541
This speed-up is with regards to the small benchmark I set up at https://github.com/RaRe-Technologies/gensim/pull/3146.

[2021-05-15 22:26] piskvorky commented on #2541
OK I'll check #3146, to see how the overall problem is formulated, what is being measured.

[2021-05-15 22:38] Witiko commented on #2541
I am getting better results with the bigger [text8][2] corpus (100MB):

- ca 500 it/s with `WordEmbeddingSimilarityIndex`
- ca 0.8 it/s with the current brute-force kNN
- ca 1.6 it/s with VP-Tree kNN
- ca 8 it/s with DAWG searching for words within edit distance 2
- ca 80 it/s with DAWG searching for words within edit distance 1

This is already arguably quite nice, although still way too slow.

[2021-05-15 23:05] mpenkov commented on #3145
It doesn't look like https://radimrehurek.com/gensim/wiki.html is accessible anywhere from the top level documentation (and if it is, then it should be more obvious). I'm not sure of what the best place to link these docs is. It's definitely not a good fit for the gallery because it takes over 9 hours to run, according to itself.

[2021-05-16 01:50] piskvorky commented on #2541
See my comment there – I got several times faster results by using an automaton, in pure Python.

[2021-05-16 02:24] greenary-John opened #3147 "code run in gensim3.7 'Word2VecKeyedVectors' object has no attribute 'vocab'"
Errors will occur in the **embed_table** in the code,
When I use gensim versions 3.7 and 3.8, I encountered the following error
'Word2VecKeyedVectors' object has no attribute'vocab'
In order to fix this problem I tried to use the latest 4.0 version of gensim. Similar errors
TypeError:'Word2Vec' object is not subscriptable

source code detail:
the type of **embed_table** is <class 'gensim.models.wo

[2021-05-16 04:34] rohit901 commented on #3144
done, please check.

[2021-05-16 06:13] jonaschn commented on #3145
Maybe it could also be renamed to https://radimrehurek.com/gensim/wikipedia.html
My first impression was, that this wiki(**pedia**) page is somehow similar two the [Github wiki](https://github.com/RaRe-Technologies/gensim/wiki). This is a bit misleading.

[2021-05-16 06:49] mpenkov commented on #3145
How did you initially find this page, @jonaschn ?

[2021-05-16 10:11] aayushchimurkar7m opened #3149 "Python int too large to convert to C long"
import cv2
import numpy as np
import matplotlib.pyplot as plt

def make_coordinates(image, line_parameters):
    slope, intercept = line_parameters
    y1 = image.shape[0]
    y2 = int(y1 * (3/5))
    x1 = int((y1 - intercept)/slope)
    x2 = int((y2 - intercept)/slope)
    return np.array([x1, y1, x2, y2])

def average_slope_intercept(image, lines):
    left_fit = []
    right_fit = []
    for li

[2021-05-16 10:20] mpenkov commented on #3149
Not related to gensim.

[2021-05-16 10:20] #3149 closed

[2021-05-16 10:55] piskvorky commented on #3147
AFAIR `Word2VecKeyedVectors` no longer exists. Did you follow the [migration instructions](https://github.com/RaRe-Technologies/gensim/wiki/Migrating-from-Gensim-3.x-to-4)? Hard to say what's happening without seeing your code.

[2021-05-16 12:29] rohit901 opened #3150 "Outdated Attribute in Word2Vec Documentation"
#### Problem description

I'm following the tutorial for Word2Vec given in the documentation [here](https://radimrehurek.com/gensim/auto_examples/tutorials/run_word2vec.html#word2vec-demo).

There is this code snippet there.
[code]
Running this gives an error saying

I used `dir(wv)` and found that using the attribute `wv.index2word` will give the results as shown in the documentation instead of t

[2021-05-16 12:35] #3150 closed

[2021-05-16 13:24] greenary-John commented on #3147
Thank you very much for your attention, I have posted the context of the error code

[2021-05-16 14:38] piskvorky commented on #3147
Please post the code & traceback from the latest Gensim (v4.0.1), and after applying the migration notes.

[2021-05-16 14:46] #3147 closed

[2021-05-16 18:53] piskvorky commented on #2541
For future reference – if we only look for `k=1` (not larger `k`), we can probably bypass automata altogether, and generate the candidate words directly instead, to look up in the dictionary exactly.

This should be pretty fast; I just tried [TinyFastSS](https://github.com/fujimotos/TinyFastSS) and on text8 (253,854 terms in the dictionary) I'm getting ~700 `max_dist=1` queries per second. Pure Py

[2021-05-17 09:26] jonaschn commented on #3145
Actually, not at all.
@dymil found this page and replaced the link to the online LDA paper (in #3141) which I already replaced previously in the LDA implementations (#3133)
I really was astonished that I was not aware of this page (although it is linked in LdaMulticore for benchmarking reasons).

[2021-05-17 13:46] 0x0badc0de commented on #3097
gensim 4.0.1 fails on python 3.9.5 with the same error when installed with `pip install --no-cache-dir -r requirements.txt`. If gensim is removed from `requirements.txt` and installed later with `pip install gensim` - works as expected.

[2021-05-17 16:52] piskvorky commented on #3097
Hm. Maybe something to do with the fact we don't distribute Python 3.9 wheels yet?

Although I don't see how that could affect whether you use `requirements.txt` or not. Weird.

[2021-05-17 17:21] 0x0badc0de commented on #3097
Did some testing. Changing packages order in `requirements.txt` doesn't help. Also, we don't install `numpy` explicitely - it's brought in by some other packages. What works: using python 3.8, installing gensim after numpy, installing numpy==1.20.3. Doesn't work: installing gensim==4.0.1 along with numpy==1.19.5 (requirement of other packages) on python 3.9.

Reproducing with docker:

Works python

[2021-05-17 21:09] serenalotreck commented on #3127
Until the bug is resolved, should we downgrade to 3.8.3 if we need to use doc2vec now?

[2021-05-17 21:11] piskvorky commented on #3127
I'd prefer you add the attribute migration to `load` (open a PR), so we can make a bugfix release.

[2021-05-17 21:12] serenalotreck commented on #3127
I don't feel sufficiently familiar with the code base to make any changes (today is my first day using gensim at all), but I will take a look!

[2021-05-17 21:25] serenalotreck commented on #3127
Update: I have 3.8.3 installed, not 4.0.0, and am still having this issue. How far back does it go?

[2021-05-18 01:12] jvahl opened #3151 "Fix FastText documentation to reflect changed parameter names"
The docstring of `gensim.models.fasttext.FastText` says:

Should be changed to:

[2021-05-18 03:56] mpenkov commented on #3151
Thank you. Are you interested in making a PR?

[2021-05-18 13:40] gojomo opened #3152 "standardize 'corpus_iterable' (over 'sentences') everywhere"
I'd thought that after our discussion on the merits of changing `sentences` to `corpus_iterable` during other renaming/refactoring, I'd changed it everywhere. But after this SO question – https://stackoverflow.com/q/67573416/130288 – I see that `sentences` persists a bunch of places, like the `Word2Vec`/`FastText` initializers & some of the doc-comment examples, including the `FastText` doc-commen

[2021-05-18 15:26] piskvorky commented on #3152
Pity this didn't get in for Gensim 4.0.0. Now we're stuck supporting both, even if we deprecate `sentences`.

My preference would be nr. 1 `corpus` (simple, standard), nr. 2 `corpus_iterable` (more descriptive), nr. 3 `sentences` (status quo, not consistent / misleading).

[2021-05-19 22:08] Dino1981 opened #3154 "Yes, thanks. If it's really a bug with the FB model, not much we can do about it."
Yes, thanks. If it's really a bug with the FB model, not much we can do about it.

_Originally posted by @piskvorky in https://github.com/RaRe-Technologies/gensim/issues/2969#issuecomment-799811459_

[2021-05-19 23:05] #3154 closed

[2021-05-20 02:53] Cyclopstark commented on #3151
@mpenkov I would love to make a PR on this.

[2021-05-20 03:07] Ansh-Sarkar commented on #3151
@mpenkov I would love to work on this and create a PR for the same.

[2021-05-20 10:14] #2541 closed

[2021-05-25 01:54] #3151 closed

[2021-05-25 06:14] pabs3 commented on #2948
@mpenkov looks like this weird 8.6 tag has re-appeared, although the 0.8.6 tag still exists. Could you delete the 8.6 tag again and try to figure out why it came back?

[2021-05-25 09:08] mpenkov commented on #2948
@piskvorky @gojomo Could you guys please check that your local clones do not have an 8.6 tag? I suspect one of us has this tag lying around somewhere, and pushes it upstream occasionally.

Nobody else is able to push to upstream (right?) so I think it's one of us, anyway. I'll check my other machines for traces of this tag, too.

[2021-05-26 10:01] SphtKr commented on #2418
I have far less experience than the other reporters (i.e. it could be something I'm doing wrong), but I'm seeing the same thing--one or more topics with near-zero probabilities, and the terms are usually alphabetically contiguous. My corpus is derived from the Yelp Dataset Challenge licensed for academic use...I _may_ be able to share the contents but unsure, I'll have to read closely. However, it

[2021-05-26 10:15] SphtKr commented on #2418
Here's the requested version output, sorry, missed that:

[code]

[2021-05-28 03:40] gohjunlin opened #3158 "doc2vec's infer_vector has `epochs` and `steps` input parameters - `steps` not in use"
Refer to doc2vec.py, `infer_vector` function seems to be using `epochs` for the number of iterations and `steps` is not in used.

However, in the `similarity_unseen_docs` function, `steps` is used when calling the infer_vector function.

![image](https://user-images.githubusercontent.com/62754326/119926239-9085d400-bfa9-11eb-838b-dae98da26c3f.png)

[2021-05-28 09:23] M-Demay opened #3159 "Enable to master the window size variations during training"
**Context:** I am trying to use `gensim` on a corpus in which the order of words has no importance at all. So my idea is to give the constructor of the class `Word2Vec` a large window size, so that it trains each word with the full rest of the sentence (the iterable I give as parameter `sentences` to the `Word2Vec` constructor yields sentences in which word order is irrelevant).

I noticed [here](

[2021-05-29 16:55] gojomo commented on #3159
This request comes up from time-to-time, or other variants for customizing the window behavior - assymetric or 1-way windows (#1600, #2172), or other influence/sampling weights per position (#2114 or the learned-weighting of @Witiko in #2840).

As you've noted, setting a very-large window, where nearly every random draw will be larger than your actual texts, should approximate a 'whole text' windo

[2021-05-29 17:21] gojomo commented on #3158
Yes, that's broken - `steps` is the older name for that parameter, & pre-4.0 would be accepted & copied into `epochs`. It looks like it's now just ignored by `infer_vector()`, thus this caller thinks it's doing the right thing, but isn't. The fix will be to:

* eliminate `steps` entirely from the signature of `infer_vector()` (as was intended)
* correct `similarity_unseen_docs()` to use `epochs`

[2021-05-29 17:43] piskvorky commented on #3159
It makes sense to me, but I worry the (optimized) code paths are already convoluted enough. Adding another param would need to be done with care – easy to miss some code path, apply it inconsistently across the already existing param combinations: `corpus_file`, `skip gram`, `negative sampling`… at least we got rid of the Python code paths already!

[2021-05-29 18:36] gojomo commented on #3159
FWIW, the reason the `reduced_windows` values are done in a batch here is that in an earlier version, of generating a reduced window each loop through, my profiling showed a lot of time doing that - a batch per text gave a noticeable speedup. There's likely potential for further optimization here, perhaps via an even-faster PRNG or reuse of some rarely-refreshed buffer of values, etc - that's stil

[2021-05-30 19:46] recepsirin opened #3160 "Inconsistency between versions 3.2.0, 3.8.1 and 4.0.1"
Phrases and Phrases classes of the "models" package cannot be used; It is not accessible in the versions that specified the issue's title, at least in the latest version, this inconsistency should be removed.

[2021-05-30 20:04] piskvorky commented on #3160
Please describe your issue clearly, fill in the issue template fully, and include a minimal reproducing example.

[2021-05-31 20:24] #3160 closed

[2021-05-31 21:23] gojomo commented on #319
Clarifying prior comments: `Word2Vec` requires **at least** 2 passes - exactly one pass for surveying the vocabulary, then at least one pass (but usually more, and by default `epochs=5` five passes) to train.

Let's say you hav a corpus sequence in a variable like `corpus_sentences`. You can check if it's suitably re-iterable by ensuring it always prints the same count when running the following 3

[2021-06-01 01:24] mpenkov commented on #3152
There's always 5.0 ;)

[2021-06-01 01:46] #3144 closed

[2021-06-01 17:34] gojomo commented on #3152
Yes, incrementing release numbers are free, and should be done for any convenience.

But also: Gensim hasn't historically been completely-rigorous in its semantic-versioning, *and* it was definitely the intent to remove `sentences` for 4.0.0 - so its persistence is a bug, not a promise to leave a mistake in indefinitely. So I'd think it OK to correct such oversights in 4.0.2 or 4.1.0.

[2021-06-01 18:35] piskvorky commented on #3152
Hmm, how did we all miss this? We had several review cycles, how come no one spotted this :( In Word2Vec and FastText, the most exposed classes, no less.

Anyway, it does look like a bug. I'm always loath to break compatibility, would prefer deprecation… WDYT @mpenkov?

[2021-06-02 00:28] mpenkov commented on #3152
Personally, I have no objections about breaking backwards compatibility, if we do it responsibly - using semantic versioning. My preference is for 5.0 over 4.1, because this would be a breaking change, and could annoy people who have already put in the effort to migrate from 3.x to 4.x.

If we spotted this shortly after releasing 4.0, then it wouldn't be a problem IMHO. Right now, however, the sit

[2021-06-02 01:04] gojomo commented on #3152
These hypothetical "people who have already put in the effort to migrate from 3.x to 4.x", in a way that's relying on this parameter name, could be zero in number.

And, *if* there are any such people, this is the most simple thing to change: you get an error the 1st time your run under the old name, you look in docs/release-notes and see "use NEWNAME instead of OLDNAME", change the code.

I think

[2021-06-03 09:13] jonaschn opened #3161 "Add homepage in Github About section"
Do you consider adding https://radimrehurek.com/gensim to the about section of the Github repo?

See https://stackoverflow.com/questions/7757751/how-do-you-change-a-repository-description-on-github

[2021-06-03 09:17] piskvorky commented on #3161
Done :) Thank you!

[2021-06-03 09:17] #3161 closed

[2021-06-03 09:18] jonaschn commented on #3161
Thanks!

[2021-06-04 05:54] espdev opened #3162 "Doc2Vec: when we have string tags, build_vocab with update removes previous index"
#### Problem description

I'm trying to resume training my Doc2Vec model with string tags, but `model.build_vocab` removes all previous index from `model.dv`.

#### Steps/code/corpus to reproduce

A simple example to reproduce this:

[code]

Output:
[code]

And we have an interesting behavior:
[code]

The tag seems still exists in the model after updating, but `len` and `index_to_key` do not show

[2021-06-04 21:00] gojomo commented on #3162
I don't think `build_vocab(... update=True)` has ever reliably worked for `Doc2Vec` models:

* The original implementation was only focused on `Word2Vec`, with no real testing/demos/verification done on `Doc2Vec`.
* There are zero unit tests of `update=True` functionality, either for minimal non-error behavior or meaningful results, in our [`test_doc2vec.py`](https://github.com/RaRe-Technologies/g

[2021-06-05 10:34] espdev commented on #3162
@gojomo,

Thanks for your answer. I think at the moment disabling update flag for doc2vec model and fix the documentation is reasonable action.

However, this functionality is important and for my case also. Currently, I have almost 10M documents in the index and every year almost 1M documents will be added (new doc bulks are adding every week). I need to add these docs to the index for searching

[2021-06-05 13:50] piskvorky commented on #3162
Would you be able to quantify this? What are the expenses: CPU times, wallclock, $$$…

I'm only asking because the training is pretty fast, so having some hard numbers from a real-world use case will help motivate any work here. 10M documents doesn't strike me as a particularly large corpus.

[2021-06-05 20:27] gojomo commented on #3162
Indeed, I believe people tend to spend a lot of effort trying to improvise/debug an incremental-update process, which then has never-quantified impacts on overall results quality. (Any time/compute savings you get from not re-presenting old texts includes with it a risk that the model's understanding of those old texts will be subtly diluted/erased by training only on a tiny number of different ne

[2021-06-06 10:14] raffaem opened #3164 "mycorpus.txt gies 404"
The link:

https://radimrehurek.com/gensim/auto_examples/core/mycorpus.txt

provided [here](https://radimrehurek.com/gensim/auto_examples/core/run_corpora_and_vector_spaces.html) returns a 404 error

[2021-06-06 10:18] piskvorky commented on #3164
Thanks for reporting! Duplicate of #2872.

[2021-06-06 10:18] #3164 closed

[2021-06-06 10:19] piskvorky commented on #2885
Thanks for reporting; closing as duplicate of #2872.

[2021-06-06 10:19] #2885 closed

[2021-06-06 12:03] piskvorky commented on #2872
Fixed by #3148.

[2021-06-06 12:03] #2872 closed

[2021-06-06 12:53] raffaem commented on #2872
The research paper here:
https://nlp.fi.muni.cz/~xrehurek/nips/rehurek_nips.pdf
is also on 404

[2021-06-06 13:00] piskvorky commented on #2872
You're right :( Could you update that link to https://arxiv.org/abs/1102.5597 please?

[2021-06-06 13:09] raffaem commented on #2872
On this webpage:

https://radimrehurek.com/gensim/wiki.html#wiki

The Hoffman reference is broken both in pdf and in code

[2021-06-06 13:48] piskvorky commented on #2872
Is that the one fixed in #3133?

@mpenkov let's plan the next Gensim release, the fixes and reports are starting to overlap :)

[2021-06-06 14:04] jonaschn opened #3165 "Streaming instead of online LDA"
The current implementation of LDA in gensim is not actually well suited for streaming.

Here is an interesting publication:
Theis, Lucas, and Matt Hoffman. "A trust-region method for stochastic variational inference with applications to streaming data." International Conference on Machine Learning. PMLR, 2015.

All LDA implementations can be found here: https://github.com/lucastheis/trlda/

[2021-06-06 17:42] raffaem opened #3166 "LSI gets stuck and connection to Jupyter is lost"
#### Problem description

I want to achieve a LSI. But it gets stuck midway at every chunk, no matter how small the chunk size

#### Steps/code/corpus to reproduce

[code]

Here is the log from loglevel=DEBUG:

[code]

Then it gets stuck and after some time Jupyter shows me the following error message:
[code]

#### Versions

[code]

### Additional info

[code]

[2021-06-06 19:17] piskvorky commented on #3166
How much (free) RAM do you have?

My guess is a RAM issue; a vocabulary of 1,542,840 with 400 dimensions will need a lot: https://github.com/RaRe-Technologies/gensim/wiki/Recipes-&-FAQ#q5-i-am-getting-out-of-memory-errors-with-lsi-how-much-memory-do-i-need

[2021-06-06 19:45] raffaem commented on #3166
I have 10 GB of free RAM

Where does the 400 comes from?

I will try to remove tokens that occur only once in the corpus from the dictionary, as illustrated here:
https://radimrehurek.com/gensim/auto_examples/core/run_corpora_and_vector_spaces.html#corpus-streaming-one-document-at-a-time

[2021-06-06 19:55] raffaem opened #3167 "Initialize id2token when it is called directly"
#### Problem description

Given an id I want to retrieve the token from the dictionary.

There is a `dictionary.id2token` dictionary but it's empty.

The documentation [says](https://radimrehurek.com/gensim/corpora/dictionary.html):

[code]

I think that if the user calls it directly, it should be initialized

#### Versions

[code]

[2021-06-06 20:15] piskvorky commented on #3167
You can use `dictionary[token_id]`.

[2021-06-06 20:15] #3167 closed

[2021-06-06 20:19] piskvorky commented on #3166
Yeah, 10 GB of free RAM won't be enough.

Oversampling. By default, the stochastic SVD algo uses oversampling of 100 (300+100=400) and two power iterations.

[2021-06-06 20:20] #3166 closed

[2021-06-09 06:00] santoshbs opened #3168 "Error with older wiki dumps"
#### Problem description

I am trying to load wiki dump and extract articles for word2vec training. This works well for more recent dumps. But for older dumps (e.g., 2010 dump), it fails.

#### Steps/code/corpus to reproduce

Include full tracebacks, logs and datasets if necessary. Please keep the examples minimal ("minimal reproducible example").

If your problem is with a specific Gensim model (

[2021-06-09 08:21] piskvorky commented on #3168
Looks like the old wiki dumps have a different XML (Media Wiki) structure, so the parsing fails.

Why do you need these older (10 years+) dumps?

If you manage to implement support for both formats, and the fix doesn't add too much complexity, and we could accept it as a PR. Thanks!

[2021-06-09 08:29] santoshbs commented on #3168
Thank you, @piskvorky. I am studying how semantic spaces evolve in Wiki over time using word2vec. That is the reason for using year dumps (those available) from 2007 onwards.

[2021-06-09 08:32] piskvorky commented on #3168
I see. That's a very direct and clear (if narrow) use case :)

We don't need a PR then, I doubt other people have the same need. Still, if you manage to parse the older format, feel free to post your solution here. Just in case someone stumbles on it in the future.

[2021-06-10 19:25] espdev commented on #3162
@piskvorky @gojomo

Sorry for not replying you earlier. Thanks for your replies and the explanation.
Probably you are right. Premature optimization is not required mostly.

Currently, our model training for about 8 hours on 12 CPU cores. I guess we can afford to do it every week. And I agree, full trained model will be better than incremental trained model... probably.

[2021-06-11 03:00] gojomo commented on #3162
Thanks for the extra context! A few other things that often help speed such jobs, if you haven't tried these already:

* if using an iterable corpus, ensure your iterable isn't repeating expensive steps (like regex-based preprocessing) each iteration - and even if you have 12 cores, testing fewer than 12 workers (because often the fastest training throughput with that mode uses fewer threads)
* or

[2021-06-11 14:38] espdev commented on #3162
@gojomo

Currently, we use `iterable_corpus` because we use string identifiers for the documents, but the iterator is just a generator with minimum overhead for reading prepared/normalized `TXT` (or `txt.gz`) file something like this:
[code]

[code]

Yes, I try to play with these parameters also.

[2021-06-11 17:35] gojomo commented on #3162
OK, you're already doing the key things. One last consideration: if your `doc_corpus` is a path to anything that reads slowly - remote volume, spinning disk, compression-that-decompresses-slowly – then adjusting that has a chance of a noticeable speedup. (For example, moving the corpus to a local SSD, testing against a uncompressed or alt-compressed file, or even bringing the full corpus into RAM

[2021-06-12 18:04] gojomo opened #3171 "make `remove_stopwords()` behavior more consistent"
(triggered by SO question: https://stackoverflow.com/questions/67944732/using-my-own-stopword-list-with-gensim-corpora-textcorpus-textcorpus/67951592#67951592)

Gensim has two `remove_stopwords()` functions with similar, but slightly-different behavior that risks confusing users.

`gensim.parsing.preprocessing.remove_stopwords` takes a space-delimited string, and always consults the *current* valu

[2021-06-15 21:01] canmingh opened #3173 "Gensim 4.0 loading Phraser trained from Gensim 3.x"
#### Problem description

Gensim 4.0 cannot load Phraser model from Gensim 3.x

#### Steps/code/corpus to reproduce

[code]
Will not be able to load phraser trained in gensim 3.x due to a bug in source code. See below.

#### Versions
This line of code from 4.0.1 (and also current development branch) need to be fixed:
https://github.com/RaRe-Technologies/gensim/blob/4.0.1/gensim/models/phrases.py#L

[2021-06-15 21:46] piskvorky commented on #3173
You're right, thanks. Can you open a PR?

[2021-06-15 22:44] canmingh commented on #3173
Just created a pull request. See above. Thanks.

[2021-06-16 08:42] #3173 closed

[2021-06-16 19:59] bwindsor22 commented on #546
Resurrecting this thread -- [ 15+ threads on this question ](https://www.google.com/search?q=gensim+set+seed&rlz=1C1GCEB_en&oq=gensim+set+seed&aqs=chrome..69i57j0i22i30j69i60l4.2575j0j7&sourceid=chrome&ie=UTF-8), and I'm also seeing the same as divineSix despite setting PYTHONHASHSEED.

A lot of threads mention os scheduling, though "parallel" does not have to mean "randomized": you can paralleliz

[2021-06-16 20:18] bwindsor22 commented on #2592
:(
@gojomo so if I need, e.g. [text split by sentences](https://radimrehurek.com/gensim_3.8.3/summarization/textcleaner.html#gensim.summarization.textcleaner.get_sentences), I need a dependency on something like NLTK?

Would having more maintainers help in a decision like this?

[2021-06-16 20:31] gojomo commented on #2592
Yes, if you need a text split by sentences, using a project that has well-maintained code for doing that is wise.

That's what Gensim itself would want to do, if any of its current algorithms needed to split text into sentences. (In general, they don't.)

The prior code for this in `gensim.summarization.textcleaner.get_sentences()` wasn't very good, given other better options just a `pip` install

[2021-06-16 20:46] gojomo commented on #546
@bwindsor22 As with the prior report, you would need to show a code example demonstrating your problem to guess what's going wrong. (How exactly did you set PYTHONHASHSEED? Are the exact same steps being followed each run? etc.) Working through such an issue should also be done on the project discussion list, https://groups.google.com/forum/#!forum/gensim, unless/until it's shown to involve some b

[2021-06-16 21:42] brenorb commented on #2438
For sure it did not ask for pattern as a dependency, but trying to run `gensim.utils.lemmatize("The quick brown fox jumps over the lazy dog!")` and it won't if I don't have pattern installed. And then I got here with the same problem...

[2021-06-17 11:18] rock420 commented on #3171
Hi @gojomo, I would like to work on this issue.
I need some clarification regarding this -

Should we keep two different names for the above two functions? For example, we can keep the name of the function in `gensim.corpora.textcorpus` as **remove_stopwords_token()** or something more understandable to the user.
Or
Taking the `gensim.parsing.preprocessing.remove_stopwords` as standard and using i

[2021-06-17 14:14] cjfarnold opened #3175 "Issue importing gensim utils package"
I am getting the following error while importing gensim utils package below is the error

 File "C:\ProgramData\Anaconda3\lib\site-packages\gensim\parsing\preprocessing.py", line 26, in <module>
    from gensim import utils

  File "C:\ProgramData\Anaconda3\lib\site-packages\gensim\utils.py", line 62, in <module>
    default_prng = np.random.default_rng()

AttributeError: module 'numpy.random' has

[2021-06-17 15:57] piskvorky commented on #3175
Gensim requires numpy >= 1.17, as per https://github.com/RaRe-Technologies/gensim/blob/develop/setup.py#L318.

Not sure how you installed Gensim, but you could let the maintainer of your packaging system know something's wrong with their packaging.

[2021-06-17 15:57] #3175 closed

[2021-06-17 16:40] gojomo commented on #3171
It'd be good to have @piskvorky's preferences here, but my rough approach might be:

* see which one is more used in more places throughout our code - let that one keep its existing name/signature (principle of: cause minimal adjustment pain for others) - I suspect that will be the `preprocessing` one, as that *sounds* more generic/central.
* try to redefine the other one to be more clearly named,

[2021-06-17 17:58] piskvorky commented on #3171
I wasn't aware of `gensim.corpora.textcorpus.remove_stopwords`, which seems to have been added in https://github.com/RaRe-Technologies/gensim/pull/1459

Yes, IMO such functions should live in `gensim.preprocessing` – and better yet, outside of Gensim. I'd prefer Gensim to be pre-processing free, for reasons stated in the tutorials:

1) (primarily) Preprocessing is domain-specific and (similarly to

[2021-06-18 04:54] rock420 commented on #3171
Thanks, @gojomo, and @piskvorky for this detailed explanation.

So, I will rename the function in `gensim.corpora.textcorpus` and will put that into the `preprocessing` module, as it's only used in the `textcorpus` module.

There are other generic preprocessing function in `gensim.corpora.textcorpus` ( [remove_short()](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/corpora/textcor

[2021-06-18 05:34] piskvorky commented on #3171
Yes. Such one-liners are weird, but if they must exist, let them exist under `preprocessing`.

[2021-06-18 05:41] rock420 commented on #3171
ok, I will make those changes and link a PR soon.

[2021-06-18 16:08] gojomo commented on #3171
When it's working in its new location, there may be bettr ideas on clear naming. @piskvorky - do you suggest  the 1-liners that move into `.preprocessing.` need deprecated aliases passing through from their old names in `.textcorpus.`?

[2021-06-18 19:23] piskvorky commented on #3171
Is an alias even needed? `from gensim.preprocessing import X, Y, Z` ought to do the same job.

[2021-06-18 20:57] gojomo commented on #3171
If they all keep the same names, sure. But if usage from the disfavored place is to be discouraged and even eventually removed, aliases would be required to attach the deprecation warnings.

[2021-06-19 06:41] rock420 commented on #3171
In that case, should I keep the function names in `.preprocessing` **same as** in `.textcorpus`?
Also there are some functions, like, `strip_multipl_whitespaces()` which exist in both [textcorpus](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/corpora/textcorpus.py#L117) and [preprocessing](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/parsing/preprocessing.py#L2

[2021-06-19 06:59] gojomo commented on #3171
If the functions are truly identical in signature & functionality, I think the approach you've shown, with a deprecating-forwarding-function, is the diligent incremental improvement that's sure to warn, rather than break, any uses of the `.textcorpus.` versions. (Of course, there might be zero users-in-the-field calling those. It's unfortunate the duplicate behavior slipped in, making more work no

[2021-06-19 07:43] piskvorky commented on #3171
I don't get it. If the signature & functionality is the same, what's the deprecation for? No code will break, so why bother users with some warnings?

[2021-06-19 09:31] gojomo commented on #3171
If it was an error to have duplicated (or misplaced) such functions, I'd have thought that we'd want to eventually fix the error, and shrink the module where they don't belong.

It's a 'code smell' to leave such redundant cruft in place indefinitely, making source files & API docs larger without tangible benefit, and at a cost in code readability. There might well be zero outside users who are cal

[2021-06-19 11:53] piskvorky commented on #3171
I still don't get it. TextCorpus needs to import these functions anyway, because its code is making use of them.

So the imports will be there either way. My question was why re-wrap them in a deprecation? How does that help us, or the users?

[2021-06-20 16:17] rock420 commented on #3171
Yes, we need to imports those functions in Textcorpus thus any `user code` using the previous implementation will not break. Technically it will be correct and users will not face any issue.

According to @gojomo and what I have understood (please correct me if I am wrong) -
If we let users call those functions directly from textcorpus (like `textcorpus.strip_multiple_whitespaces()`) without any d

[2021-06-21 18:08] gojomo commented on #3171
Aha. OK, **if** the functions keep the same name & merely move to a more-sensible place (`preprocessing`), then I'm overthinking this, since anywhere that imports a function also unavoidably exports it. (Though then, without appearing in the module docs.)

But the concern remains with the `textcorpus.remove_stopwords()` function itself. If it both *moves* and its name *changes* for clarity - which

[2021-06-21 18:25] Witiko opened #3177 "Incompatible types of unicode strings in `gensim.similarities.fastss.editdist`"
#### Problem description

In #3146, a new algorithm for fast Levenshtein distance computation has been added. However, the algorithm currently cannot cope with different internal representations of Unicode strings, resulting in cryptic errors:

#### Steps/code/corpus to reproduce

[code]

#### Suggested patch

See #3178.

#### Versions

[code]

[2021-06-21 19:46] piskvorky commented on #3171
Yeah, I don't think anyone's using `textcorpus.remove_tokens`. And if they do, the update to their code should be trivial.

So let's do whatever makes sense to us. IMO that means giving the functions suitable names and moving them under `preprocessing`.

[2021-06-21 19:48] piskvorky commented on #3177
+1 on the patch. I thought this "kind" value was constant across a Python installation (some compile-time setting). But apparently I was wrong, sorry.

[2021-06-21 20:16] Witiko commented on #3177
It's surprising to me as well. Apparently, Cython uses a single byte per a character for ASCII strings, whereas it uses wider characters for non-ASCII Unicode strings: https://stackoverflow.com/a/46289090/657401

[2021-06-21 21:41] Witiko commented on #3177
I have tested the patch and created a pull request for it in #3178.

[2021-06-22 01:55] mpenkov opened #3179 "Gensim's FastText model reads in unsupported modes from Facebook's FastText"
In gensim/models/fasttext.py:

[code]

[2021-06-22 02:58] amin110314 commented on #3179
may I work on this?

[2021-06-22 06:30] mpenkov commented on #3179
Sure.

[2021-06-22 09:42] silviatti opened #3181 "Mismatch get_coherence_per_topic and get_coherence for single topic"
#### Problem description

Hi! I am using Gensim to compute the NPMI coherence for each of my topics. I used the method `get_coherence_per_topic()` and also `get_coherence()` (in this case, just passing a list with a single topic), and I noticed that the coherences per topic do not match with the ones returned by `get_coherence()` of the corresponding topics. In my understanding, the NPMI of a topi

[2021-06-23 12:38] Witiko commented on #2592
Although I agree with the removal of the `gensim.summarization` module, Okapi BM25 is the standard baseline for question answering and information retrieval, which outperforms TF-IDF and Log-Entropy even with parameter tuning.

Is there any suitable replacement for `gensim.summarization` in the context of information retrieval at the moment? I am aware of [the `rank-bm25` library](https://pypi.org

[2021-06-23 13:29] piskvorky commented on #2592
+1 on including BM25 in Gensim. We'll just need to vet the code better.

But I don't expect it will a problem with your code.

[2021-06-23 19:36] mbecuwe commented on #3097
I still have a compatibility issue when running : pip install numpy==1.19.4 pip install tensorflow=2.5.0 pip install gensim==4.0.1

On Ubuntu 18.04, with Python 3.9.5 (installs made inside docker container).

I get the following exception when trying to import gensim: ValueError: numpy.ndarray size changed, may indicate binary incompatibility. Expected 88 from C header, got 80 from PyObject.  Not

[2021-06-28 01:17] griff4692 commented on #2983
is there a solution here?  I am getting a training loss of 0 for every epoch and after the first epoch, the results are pretty nice but after the second, they are terrible.  Yet it's a black box and I have no ability to monitor the loss.  thoughts?  is there another implementation of Word2Vec outside of gensim?

[2021-06-28 01:33] griff4692 opened #3183 "Doc2Vec loss always showing 0"
[code]

[code]

Each time the callback prints, it prints 0.  The second issue is that after the first epoch, the model seems pretty good according to calls to most_similar.  Yet, after the second it appears random.  I have a fairly large dataset so I don't think dramatic overfitting is happening.  Is there a bug after the first epoch or is the learning rate getting messed up?  It's tough to know w

[2021-06-28 01:36] griff4692 commented on #3183
[code]

To be clear, here is a log of the model loss

[2021-06-28 05:23] ashish-interns commented on #2000
I'm using gensim==3.8.1,
I got this error
AttributeError: 'Word2VecKeyedVectors' object has no attribute 'key_to_index'

[2021-06-28 17:46] gojomo commented on #3183
As per #2983, `Doc2Vec` loss-tracking has never been implemented. Closting this as duplicate; will discuss further there.

[2021-06-28 17:46] #3183 closed

[2021-06-28 17:57] gojomo commented on #2983
@griff4692 - There are other word2vec options; but I'm not familiar with an alternate Python implementation of `Paragraph Vectors` (aka `Doc2Vec`), much less one with loss-reporting.

If results after one epoch are good, but after more epochs are bad, there are probably other serious errors in your code which would need to be reviewed to be discovered. (That is: improvising an early-stop via loss-

[2021-06-29 00:55] #3158 closed

[2021-06-29 01:44] #2961 closed

[2021-06-29 05:00] #2711 closed

[2021-06-29 05:00] #3111 closed

[2021-06-29 05:23] #3177 closed

[2021-06-29 05:44] mpenkov opened #3184 "Reduce duplication in word2vec.pyx source code"
OK, we can deal with this separately.

_Originally posted by @mpenkov in https://github.com/RaRe-Technologies/gensim/pull/3169#discussion_r660297089_

[2021-06-29 06:09] #3159 closed

[2021-07-01 05:07] mylanalana commented on #1129
When I use relative path `~/analysis/model_index` ,  this issue will arise. Try many times, failed. And the path is correct.
Finally i found that if I use absolute path `/home/lana/analysis/model_index`, it will succeed.  It's weird. Hope it can help someone!

[2021-07-01 06:04] piskvorky commented on #1129
The tilde `~` is an OS-specific construct, Python doesn't understand that. Try using [os.path.expanduser](https://docs.python.org/3/library/os.path.html#os.path.expanduser) first.

[2021-07-02 11:49] morkiid opened #3186 "fasttext: KeyError raised for OOV words in predict_output_word"
`predict_output_word` with fasttext model behaviour on OOV words is not consistent with word2vec, since `w in self.wv` always returns `True` for fasttext.

[code]

#### Versions

[code]

[2021-07-02 12:03] piskvorky commented on #3186
Correct. This is intended behaviour.

Closing here but let me know if you see a bug somewhere. Be sure to include a minimal reproducing example + motivating description of the reported bug.

[2021-07-02 12:03] #3186 closed

[2021-07-03 11:45] rock420 commented on #3015
I can take this issue if no one is working on it.

Some observations why users want this feature (in the context of finding document similarity)  -
1.  While doc2vec is a good option for this but in the case of small corpus or shorter documents, it becomes hard for doc2vec algorithm to generate some meaningful embedding for docs. Averaging the word2vec of words in the doc outperform in some cases

[2021-07-03 15:33] gojomo commented on #3015
I like the ideo of providing all those options, so long as the method names & doc-comments properly set expectations.

For example, I'd not want to give the impression that a basic average-of-word-vectors, especially from any arbitrary pretrained word-model, is **the** recommended way to get a vector from a sentence or text – as opposed to just something that's simple and works well in some contex

[2021-07-04 10:59] rock420 commented on #3015
Ok

[2021-07-05 07:34] rock420 commented on #3015
In the current implementation of KeyedVectors, it has `get_vector` as a function to get the vector representation of a key. Should we use something similar to it like `get_avg_vector` (implying the fact that we are taking the average (weighted or non-weighted) for a bunch of given keys) as the function name for our implementation of `get_sentence_vector`?

And regarding the input format, the funct

[2021-07-05 07:56] piskvorky commented on #3015
The former (sequence of tokens). We're phasing out preprocessing from Gensim completely, so we definitely don't want to introduce any new preprocessing options. Thanks!

[2021-07-06 02:53] gojomo commented on #3015
I'd propose:

* because the official FastText Python binding have a `get_sentence_vector()` method, we should define one on the specific `FastTextKeyedVectors` class also, which precisely mimics its behavior - and its doc-comment should note it intends to be a workalike for that
* separately, we should have a utility method on `KeyedVectors` for averaging a bunch of word-vectors from a list of key

[2021-07-06 10:02] wqh17101 opened #3187 "how to use FastTextKeyedVectors.load_word2vec_format"
#### Problem description

error to use FastTextKeyedVectors.load_word2vec_format to load word vector.

#### Steps/code/corpus to reproduce

Hi, i train a fasttext model and save wv by
[code]
when i use
[code]
i get
![image](https://user-images.githubusercontent.com/26429138/124581702-e771a980-de83-11eb-98e8-8382fc920416.png)
i don`t know how to make it work

However, this can load
[code]
but can n

[2021-07-06 11:57] mpenkov commented on #3187
Please direct questions like this at the mailing list. Github tickets are for bug reports only.

[2021-07-06 11:57] #3187 closed

[2021-07-08 07:58] silviatti opened #3189 "cannot import name 'nmf' from 'gensim.models'"
#### Problem description
Hi!
When I try to import NMF from gensim (version 3.6.0) using colab, I get an ImportError exception. It seems to happen on colab and not on Windows. And it doesn't happen if I use version 3.8.0.

#### Steps/code/corpus to reproduce

[code]

I get this error:
[code]

#### Versions

[code]

[2021-07-08 08:22] piskvorky commented on #3189
NMF probably wasn't there in 3.6.0? That release is 3 years old.

Please use a recent release, ideally 4.0.0+.

[2021-07-08 08:22] #3189 closed

[2021-07-13 15:41] Rutvik-Trivedi opened #3191 "Similarity Interface of Gensim giving low similarity score for exact same documents with TfIdf + LdaModel"
#### Problem description

I am trying to implement a document similarity API using the LDA Model of Gensim. To experiment with the performance, I tried implementing it by training the LDA Model with TfIdf vectors instead of the normal BoW corpus as described in the documentation. The problem which I am facing is that while using the Similarity API of Gensim for creating the index and finding out t

[2021-07-13 17:31] gojomo opened #3192 "FastText models `.save()`d from 4.0+ slower to load; gain less benefit from 4.0"
[Reported in forum thread: https://groups.google.com/g/gensim/c/xaGvo0j8yv0/m/VI74_Fp7AAAJ]

User identically-trained models in `gensim-3.8.3` and `gensim-4.0.1`. As expected, the files on disk from from 4.0.1 save are much smaller. Unexpectedly, loading the 4.0.1 save, using the `mmap` option, takes a few minutes, while the 3.8.3 save loads in a matter of seconds.

The likely cause is a change to

[2021-07-13 21:52] dmitra79 opened #3193 "doc2vec not producing all document vectors"
#### Problem description

I am trying to train doc2vec and running into a couple strange things. I have a collection on 128032 documents (derived from MIMIC CXR reports), but when I train doc2vec, I end up with just a fraction of the vectors:
[code]
produces:
[code]
According to documentation at: https://radimrehurek.com/gensim/models/doc2vec.html   'dv' is supposed to have document vectors. Why a

[2021-07-14 16:20] gojomo commented on #3193
Does your `model.dv.index_to_key` list just have 10 individual one-character digits in it?

If so, it's likely that for each document's `tags` you've supplied a single numeric string, instead of the expected list-of-distinct-tags. (That list, in the classic case, will only have a single tag per document.)

Supplying a string-of-a-number will make each document look like it has a list of multiple t

[2021-07-14 16:36] dmitra79 commented on #3193
That was the problem - thank you!

[2021-07-14 16:36] #3193 closed

[2021-07-19 22:24] negar-mokhberian opened #3195 "Updating W2V"
#### Problem description

I am trying to update the pre-trained word2vec Google News model based on a corpus that I have.
This code used to work when I was using gensim v3.x. After reading the [migrate notes](https://github.com/RaRe-Technologies/gensim/wiki/Migrating-from-Gensim-3.x-to-4#4-vocab-dict-became-key_to_index-for-looking-up-a-keys-integer-index-or-get_vecattr-and-set_vecattr-for-other-p

[2021-07-20 08:45] ginward opened #3196 "Gensim sort_by_descending_frequency changes most_similar results"
#### Problem description

It seems that when retrieving the most similar word vectors, sorting by word frequency will change the results in `Gensim`.

#### Steps/code/corpus to reproduce

Before sorting:

    from gensim.models import FastText
    from gensim.test.utils import common_texts  # some example sentences
    print(len(common_texts))
    model = FastText(vector_size=4, window=3, min_coun

[2021-07-21 14:35] Freakwill opened #3198 "How do I predict a vector as a word?"
How do I predict a vector as a word?

If I have a vector, not equal to one of the vectors of the words in the model, then how do I find the best word for the vector? Dose there exists some API for that? For example `model.predict(v) -> w`

[2021-07-21 16:44] gojomo commented on #3196
Also discussed at: https://stackoverflow.com/q/68451937/130288

Most importantly: the words are already sorted in descending frequency by default - so a workaround for any case where this is happening, just like this, is: just don't call `sort_by_descending_frequency`, it can only hurt.

From followup there, it seems the current sort is non-stable - which is suboptimal here, as it'd be preferable

[2021-07-21 18:08] piskvorky commented on #3198
Please follow the issue template.

[2021-07-21 18:08] #3198 closed

[2021-07-22 12:24] mpenkov opened #3199 "Review change log for 4.1.0"
Gentlemen, I'm planning to do the next release in the immediate future.

One thing I'd like to do differently for this release is to review the change log _before_ we do the release. Previously, we updated the change log as part of the release project, which made review of the change log itself impossible, because by the time the changes were visible, the new version was already on PyPI and it was

[2021-07-22 12:27] piskvorky commented on #3199
Release \o/

IIRC we have a script for listing all tickets + PRs since the last release (which also formats them nicely). I'll start from there and then edit the items where the original ticket had a bad / inconsistent / too vague title.

[2021-07-22 12:27] mpenkov opened #3200 "Complete triage of PRs for version 4.1.0"
Gentlemen, there are 6 in-progress PRs that I initially marked for inclusion into the 4.1.0 release [here](https://github.com/RaRe-Technologies/gensim/projects/9).

I propose that we deal with them after the release, as they do not appear to be critical, and need not hold back the release. Can you please have a look at let me know?

[2021-07-22 12:29] piskvorky commented on #3200
I don't see anything under that link. Wrong URL?

[2021-07-22 12:29] mpenkov commented on #3199
Yes, this is the script here: https://github.com/RaRe-Technologies/gensim/blob/develop/release/generate_changelog.py

[2021-07-22 12:35] mpenkov commented on #3200
Hmm, works for me. Maybe github is having some sort of glitch.

Another way to get to it is to go to https://github.com/RaRe-Technologies/gensim/projects and click on the first project in the list (PR triage 2021-06).

[2021-07-22 13:44] piskvorky commented on #3200
Yes, it loads now. Weird.

By "in-progress", you mean the "Needs work before merge" column, right?

If so, the only PR worth considering as "urgent" (to be included in 4.1.0) is https://github.com/RaRe-Technologies/gensim/pull/3000. That's because it changes / cleans up the API, and these things are always better done sooner rather than later.

[2021-07-22 16:02] gojomo commented on #3199
Looking at existing decriptions, my main thought is that the summaries should be more detailed to be useful in release notes - especially to the extent that they name specific errors/failures a user would observe if lacking these fixes.

For example, #3136 "Fix indexing error in word2vec_inner.pyx" hides the important aspect for users: training was incomplete/corrupted in models with >4GB of word-

[2021-07-22 17:02] gojomo commented on #3195
I note that your report mentions an error in `intersect_word2vec_format()` (which has a known issue, with possible temp workaround, as per #3094). But your displayed error-stack shows a different, earlier error. Is that stack generated from exactly the code you've provided?

While we want everything that used to work pre-4.0 to still work, I should also note that your recipe here may not be sensib

[2021-07-22 18:08] piskvorky commented on #3199
It does, and has for many months now. That's why I always try to edit titles of tickets & PRs.

I'd like each title to capture the "gist" of the change, so a user can quickly decide whether it's relevant to them (=> *click and investigate the full description*) or not (*something was fixed in a module / functionality I don't care about, OK whatever*).

Whether I manage or not is another question :

[2021-07-22 19:11] gojomo commented on #3199
If there's some way to deduce (even if it requires extra manual markup) that a certain PR definitively closed a certain Issue, then pulling both into the changelog would be nice, and we could more firmly pursue a policy of: "make sure the issue describes symptom in ways a user would understand/search for, and the final PR title describes the fix/change well for devs & users".

EG:

[2021-07-23 01:23] mpenkov commented on #3199
It's possible to do automatically. The tickets and PRs are linked together in github's data model, with the exception of the rare PR that does not address an existing issue.

[2021-07-23 07:37] mpenkov commented on #3199
How do we want to handle the minor backward incompatibilities? Do we want to mention them somewhere?

The ones I can see so far are #3000 and #3176.

[2021-07-23 07:43] piskvorky commented on #3199
Yes. All backward incompatibilities warrant an example of "before => after", but if it's minor, let's just mention the example in the release docs.

[2021-07-23 07:46] mpenkov commented on #3200
OK, I'll push #3000 over the line, and then after we complete #3199 we can initiate the release.

[2021-07-23 07:46] #3200 closed

[2021-07-23 09:02] raffaem opened #3201 "Web documentation don't correpond to Jupyter notebooks"
I noticed that the web documentation sometimes don't correspond to what I see in the Jupyter notebooks.

For example, that's how I see it on the web:

![image](https://user-images.githubusercontent.com/54762742/126760168-4afdcf37-43f0-47c9-bd04-02385eecd5d7.png)

And that's what I see on the Jupyter notebooks:

![image](https://user-images.githubusercontent.com/54762742/126760216-3d56f98e-b130-4a8

[2021-07-25 11:14] ginward commented on #3196
Is it possible that model loaded via load_facebook_model is not sorted by default? I did not see an option to sort vectors after loading Facebook models though ...

[2021-07-25 11:46] nershman opened #3202 "KeyedVectors KeyError.args has incorrect/undesired behavior"
#### Problem description

Based on the [Python documentation](https://docs.python.org/3/tutorial/errors.html) KeyError.args should contain relevant arguments and KeyError.message should contain the formatted error message to display.

The current implementation has the formatted error message string output to KeyError.args. This adds unnecessary steps if one wants to keep track of problematic keys

[2021-07-26 20:18] gojomo commented on #3196
It's possible, as there's no *guarantee* any given model is so sorted - you'd have to check with the creators of the model, or inspect it. But I'm pretty sure Fastbook's code also default to such a sort, so it'd be an odd choice *not* to sort the words in this traditional way.

(Still: no matter its original sort, or whether our re-sort is stable or not, the pairwise similarity calcs for any 2 wor

[2021-07-27 11:32] ginward commented on #3196
In this case, is this a possible bug of gensim then? 😂

[2021-07-27 16:29] gojomo commented on #3196
Yes, that's what it meant when I said: "Still, the the code's intent was to handle reorderings even in such cases, and it's clearly not - the pairwise similarity of any 2 words shouldn't be changed by this operation." (Given the rarity of truly needing such a re-sort after training, it's still possible the "fix" is just to declare such an operation isn't supported.)

[2021-07-28 16:28] nako21 opened #3204 "mallet falls asleep"
i'm using mallet-2.0.8 with Python 3 and Jupyter Notebook. Recently it worked just fine. But now it falls asleep while showing it's still working even with a small dataset.
The problem is with following function:
def compute_coherence_values(dictionary, corpus, texts, limit, start=2, step=1):
    """
    Compute c_v coherence for various number of topics
    Parameters:
    ----------
    dictiona

[2021-07-28 16:34] piskvorky commented on #3204
Hi, sorry, we removed Mallet from Gensim in Gensim release 4.0 and no longer support it.

[2021-07-28 16:34] #3204 closed

[2021-07-29 00:22] gojomo commented on #3202
While the idea that the `args` to a `KeyError` might usefully & locgically be only the exact key(s) that aren't valid, as far as I can tell:

* it's very common for the sole argument to an exception-initializer to be a descriptive message;
* the page you've referenced isn't specific about what the `args`/`message` of a `KeyError` should be; and
* the actual practice of the Python project is all-ov

[2021-07-29 05:29] bwang482 opened #3205 "Continue training existing fasttext model on multicore"
Is it possible to specify `workers` when continue training an existing fasttext model?

[code]

It doesn't seem I can change the parameter of this existing model. Any advice would be much appreciated! Thanks!

[2021-07-29 09:25] piskvorky commented on #3205
Please use the mailing list for questions (its link was in the issue template).

[2021-07-29 09:25] #3205 closed

[2021-07-29 22:16] mohzhang commented on #515
Any update to speed up infer vector call?

[2021-07-29 22:47] kevinmneal commented on #1296
ConceptNet has since come out with a new version (19.08), available in multilingual and English-only. Would it be possible to add this?

[2021-07-30 02:55] gojomo commented on #515
The code in the `gensim-4.0.1` release is the same as the current `develop` trunk, and no optimization work is currently underway. A theoretical future update to the interface to allow batches of docs to be inferred together might give somewhat of a speedup, for users who have large batches of new documents.

In the meantime, calling `.infer_vector()` from multiple threads or processes might offer

[2021-07-30 22:30] mohzhang commented on #515
Batch process is good for inferring multiple vectors. Is there any plan to improve single long document?

[2021-07-31 04:45] iamnothingCC opened #3207 "has anyone tried changing this codes to inverted dirchlet instead of just dirchlet?"
would like to ask if has anyone tried changing this codes to inverted dirchlet instead of just dirchlet?
[dirichlet_expectation.txt](https://github.com/RaRe-Technologies/gensim/files/6910689/dirichlet_expectation.txt)
[update_dir_prior.txt](https://github.com/RaRe-Technologies/gensim/files/6910690/update_dir_prior.txt)

[2021-07-31 07:29] piskvorky commented on #3207
Please follow the issue template.

[2021-07-31 07:29] #3207 closed

[2021-08-02 14:59] gojomo commented on #515
INference uses the same code as training, andI don't know any pending unimplemented ideas for making that code run any faster at the level of individual texts. So no such plans currently, and any such plans would require a theory for how the code might be faster.

[2021-08-02 20:04] gojomo commented on #2283
With regard to the potential addition of HuggingfaceHub-specific downloading functionality in #3206, @piskvorky writes:

I'm against integrating the PR in #3206, for the [reasons outlined in a comment there](https://github.com/RaRe-Technologies/gensim/pull/3206#issuecomment-891254273).

`gensim.downloader` violates a bunch of good project-hygeine practices that should be rarely if ever violated, s

[2021-08-02 21:31] piskvorky commented on #2283
That's the option 3) I guess.

[2021-08-03 00:24] gojomo commented on #2283
Indeed, we should 'replace' if possible - but an easy way to do that is to set up a replacement web page, with all the same info as in the `gensim-data` `list.json`, including direct-download links for the datasets.

The key value of the collection – reliable download URLs for known useful datasets – will remain, needing just a few extra clicks from users to use.

And those extra explicit steps wo

[2021-08-03 07:23] piskvorky commented on #2283
The difference between such version of `replace` and actually rearchitecting seems so small that it probably makes sense to got the full way: add some API / process to load those "static packages" in a standardized way. Possibly as wheels, spacy-style.

But either `replace` or `improve` is an improvement over the current `keep`. My objection is to `axe`.

[2021-08-03 12:10] jexterliangsufe opened #3210 "Doc2Vec.load didn't work with xxx.dv.vectors.npy"
#### Problem description

I used Dov2Vec.save to save my model on Linux and it generated three files which can't be loaded by Doc2Vec.load on Windows

#### Steps/code/corpus to reproduce

My codes are:

[code]
It generated three files:
doc2vec_400w_epo10_size100,
doc2vec_400w_epo10_size100.dv.vectors.npy,
doc2vec_400w_epo10_size100.syn1neg.
And when I wanted to load them, error came out.
[code]
**

[2021-08-03 12:14] jexterliangsufe commented on #3210
Sorry that I didn't see doc2vec_400w_epo10_size100.wv.vectors.npy.
I made a stupid issue~

[2021-08-03 12:14] #3210 closed

[2021-08-03 20:11] gojomo commented on #2283
re: <<add some API / process to load those "static packages" in a standardized way. Possibly as wheels, spacy-style.>>

Is this likely to ever happen? No one's touched this hairball in years. No users seems to be clamoring for a Gensim-specific dataset library, either in the form of `gensim.downloader` as it exists, or some vaguely-specified future version. It's unclear if anyone is actually getti

[2021-08-03 21:42] piskvorky commented on #2283
The datasets have hundreds of thousands of downloads, according to Github stats. They are useful to many people, myself included. I wish I had time to properly prepare and add more datasets.

Don't let the fact that some users complain fool you – that's always the case.

Your vitriol toward `gensim-data` is well established. But so is the field's appetite for simple data sharing and ease-of-(re)us

[2021-08-04 00:42] gojomo commented on #2283
That's useful info; I'd been looking for stats & couldn't find them. Are they only available to project maintainers? Are they broken down by 'asset' downloaded?

It's not so much that they complain - but they are confused by the underdocumented behavior, & stay ignorant of what file-formats, & APIs, they're actually using.

There are lengthy custom iterator classes inside some of the `__init__.py`

[2021-08-04 03:12] jexterliangsufe commented on #3162
I'm new to use doc2vec and have a question for this. If I can't train my model on total data, then each time I input 10% data and build a completely new vocabulary for it. Will it work?

[2021-08-04 07:44] piskvorky commented on #2283
I googled up [this](https://githubstats0.firebaseapp.com/).

The stats difference between `__init__.py` and its data file is interesting – I interpret that as "user cancelled the download mid-way" (almost half of Wiki corpus downloads).

Staying ignorant is a desirable state for many :-)

That users *don't have to care* about file formats and APIs is a victory. That's the main appeal of `gensim-da

[2021-08-04 16:32] gojomo commented on #3162
The supported way of using it, derived from published work, is to (1) do initial vocabulary-discovery & training on as much relevant data as possible, after which the set of known-words is frozen; (2) if new texts arrive later, infer vectors for them from the frozen model, with the limitation that any all-new words will be ignored. That works.

Any other mode of use would be an ad hoc improvisatio

[2021-08-04 17:43] jexterliangsufe commented on #3162
Thank you very much! Actually I used TaggedLineDocument to solve my problem after I commended. But I still have a little problem about the second point of what you said. If my target is to compute similarity of different docs, will training new docs and using Doc2Vec.docvecs[tag] work better than using infer_vector? I have not seen the codes behind infer_vector and just think it can't considerate

[2021-08-04 18:03] gojomo commented on #3162
Looking in `model.docvecs[tag]` can only give you a vector for a tag that was part of original training. For new texts, you'd need to use `.infer_vector()` - which analyzes new texts in exactly the same way as training-texts were analyzed, except with the whole model (except for the vector to be returned for the new text) frozen against changes. (You can also use `.infer_vector()` on training text

[2021-08-04 19:31] gojomo commented on #2283
Very interesting, thanks!

But, I think most of those large numbers may be artifacts of automated processes. For example, the `__testing*` bundles have over 50k downloads, but aren't even listed on the `gensim-data` README or of real interest to users. They're just downloaded as part of our automated testing.

The top downloads, like `glove-wiki-gigaword-100.gz` (209k downloads) or `word2vec-googl

[2021-08-05 05:16] jexterliangsufe commented on #3162
Thank you very much!

[2021-08-05 08:06] piskvorky commented on #2283
I hope not! That's a >1 GB download :)

For the more niche models, I consider 10k, or even "mere" thousands of downloads a success. That's what I'd expect from such published corpora or models – useful to a niche community of hundreds-to-thousands of researchers, most of whom download one particular dataset a few times, during the course of their project.

Relentless :)

I think I understand your

[2021-08-05 20:43] gojomo commented on #2283
A few thousand real users would be plenty. Even a few dozen, especially if it's key work/learning that wouldn't happen otherwise!

I just know that *any* hit-count could be entirely artificial, without other confirmation of real usage. In particular, regarding:

Isn't doc-comment example code like this...

https://github.com/RaRe-Technologies/gensim/blob/b287fd841c31d0dfa899d784da0bd5b3669e104d/ge

[2021-08-06 08:28] piskvorky commented on #2283
@mpenkov are we downloading these files regularly as part of our CI / testing?

Hm, what's the difference to the current system? If a malicious person takes over `assets`… can't they still do the same thing still?

At that point, we could also make that code a part of `gensim` proper – no `gensim-data` at all.

Frankly, I see PyPI as a bigger risk vector than any of this `gensim-data` / github stu

[2021-08-06 12:33] mpenkov commented on #2283
Sometimes. Not all of the gensim doctests code actually gets run. From what I understand, most of it actually does not, because of large data dependencies like this.

[2021-08-06 13:32] piskvorky commented on #2283
And what determines whether something gets run or not?

[2021-08-06 19:49] gojomo commented on #2283
It's about as bad, from security risk, if the bundle is still downloaded/exapnded/executed inside a `.load()` call.

It's slightly better in that the Python code is under real version-control before being bundled, & would be slightly better again if the user has to explcitly download/expand the bundle & then choose-to-run a new `.py` file that they *know* has arrived.

But putting the code in an e

[2021-08-07 01:32] mpenkov commented on #2283
I had a closer look at the repo and it doesn't look like _anything_ is getting automatically doctested.

My previous reply ("sometimes") was due to confusion with smart_open. Over there, we _do_ have doctests, which we run prior to each release.

[2021-08-07 02:11] km5ar opened #3211 "NameError: name 'Similarity' is not defined"
#### Problem description

What are you trying to achieve? What is the expected result? What are you seeing instead?
1) I'm trying to use Similarity from the offcial document
2) but it shows the NameError: name 'Similarity' is not defined
3) I used the latest version of genism 4.0.1
<img width="1114" alt="WeChat6b985efad4404452e7652c9a65ae08cd" src="https://user-images.githubusercontent.com/5401547

[2021-08-07 03:44] km5ar commented on #3211
`from gensim.similarities import Similarity` solved the problem

Please add this line to the official tutorial

[2021-08-07 03:44] #3211 closed

[2021-08-07 11:46] piskvorky commented on #3211
Which tutorial are you talking about?

Added a comment into the Python `docsim` module in https://github.com/RaRe-Technologies/gensim/pull/3203/commits/11c3fba58872cbfbf7256fe68d40deec760c1fbd#diff-da5f51494aa51bd7240e8a97bccf242a7ac3146bddc793f52f73b2a13971a6b7R30 .

[2021-08-07 20:08] km5ar commented on #3211
This one
https://radimrehurek.com/gensim/similarities/docsim.html

![image](https://user-images.githubusercontent.com/54015474/128612678-b9aa6c4d-a7c8-47af-9d29-93d5982fee18.png)

Thank you so much for your help!!!

[2021-08-09 10:45] piskvorky commented on #2283
OK, thanks. That's what I thought too – we check docs for syntax, at most. We don't actually run the code there.
(invalidating the theory of "bogus downloads driven by our own CI")

[2021-08-09 16:35] gojomo commented on #2283
The `__testing` assets still have 54K+ downloads which are CI-driven - & even if it's not our own doc-comments, other projects' automated fetches may be the overwhelming bulk of other downloads.

[2021-08-09 16:38] piskvorky commented on #2283
That is of course possible. We have no control / reliable stats over who or why downloads from `gensim-data`. Or `gensim` itself for that matter – Gensim's sustained "7M+ monthly download" are of course nonsense, of course.

[2021-08-12 01:16] mpenkov opened #3213 "summarize the way we update dependencies across the different files / subsystems in [Gensim & Compatibility](https://github.com/RaRe-Technologies/gensim/wiki/Gensim-And-Compatibility)."
Thanks! Shouldn't these versions match `setup.py` though?

I forgot what exactly needs to be updated where, so everything's in sync… @mpenkov could you please summarize the way we update dependencies across the different files / subsystems in [Gensim & Compatibility](https://github.com/RaRe-Technologies/gensim/wiki/Gensim-And-Compatibility).

_Originally posted by @piskvorky in https://github.com/

[2021-08-12 02:11] #3171 closed

[2021-08-13 12:00] #2998 closed

[2021-08-14 01:33] mpenkov commented on #3199
Reopening for #3214

[2021-08-14 10:55] #3199 closed

[2021-08-14 15:08] yudhiesh commented on #3040
Any update on this issue? I am facing it

[2021-08-15 04:51] matthewcn56 commented on #1851
So to do this I should just pickle and unpickle the model instead of using the default gensim save/load methods?

[2021-08-16 06:34] GYHHAHA commented on #2884
Thanks for your explaination, I indeed feel confused when I first noticed both two keywords can be set with non-zero value. Maybe some notes on this can be added to docs to inform users that they actually use seperate steps instead of training a single model with both two methods combined.

[2021-08-18 08:23] sandrastampibombelli opened #3216 "Number of workers when working on multicore systems"
Hello,

I am trying to run FastText on huge corpus of newspaper text, and on a multicore server at my University. I have requested 48 cores to run this operation, and I wondering if in the FastText parameters I have to specify workers=48 too. I don't understand from the documentation whether it has to be like this.

`bsub -W 12:00 -n 48 -N -B -R "rusage[mem=8GB]" python scriptname.py`

Thanks a lo

[2021-08-18 09:48] piskvorky commented on #3216
Please follow the issue template – don't just delete.

[2021-08-18 09:48] #3216 closed

[2021-08-18 12:20] mpenkov opened #3217 "Get travis-ci.com working with this repo"
@piskvorky Could you please go through the steps described in the tutorial below? Only the project owner can do it, unfortunately.

https://docs.travis-ci.com/user/tutorial/#to-get-started-with-travis-ci-using-github

We need TravisCI to build for certain platforms that github actions does not support yet (e.g. aarm64).

[2021-08-18 12:54] piskvorky commented on #3217
AFAIK all these steps were already done, a while ago. What specifically doesn't work, which step is missing?

[2021-08-18 12:57] mpenkov commented on #3217
TravisCI isn't picking up new gensim builds. The last time it ran a build was half a year ago, which was still under the old .org platform.

[2021-08-18 13:21] piskvorky commented on #3217
OK. I'll try talk to Travis support, to see what's wrong.

[2021-08-19 03:20] mpenkov commented on #3217
We still need TravisCI for some platforms that GHA does not support, like aarm.

Yes.

https://www.travis-ci.com/github/RaRe-Technologies/gensim

That build is "disabled" for develop only. It should still run for the release branches.

[2021-08-19 03:34] mpenkov commented on #3217
Ah, I see what's going on. The release branches weren't being pushed to github for some reason.

It looks like travis is working as expected now.

[2021-08-19 03:34] #3217 closed

[2021-08-23 04:53] KarthikRaja2k1 commented on #3179
Since there is no commits for a month, can I take up this task?

[2021-08-23 22:51] ihavemanyquestions opened #3218 "seed for lda multicore not possible."
Hi!

I don't seem to be able to set a seed for LDA multicore. This makes me get different cv coherence scores every time I run the model. I am using the following code. I am unsure whether this is a bug or if there are certain random processes which cannot be bypassed with a random seed. Please let me know what is happening!

[code]

[2021-08-28 23:46] mpenkov opened #3221 "Migrate windows wheel building from gensim-wheels"
We can build Windows wheels under Github Actions now:

https://blog.devgenius.io/write-your-github-actions-workflow-for-build-windows-application-94e5a989f477

Currently, those wheels get built using Appveyor for the gensim-wheels repo.

[2021-08-29 02:20] patcollis34 commented on #1141
I can't find docs on how to be allowed to push to a branch to make this suggestion/diffs more readable. but I'm thinking you could delete all .gets in the [_learn_vocab](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/phrases.py#L593) for loop  and have func return only the joined words and then rely on the stdlib Counter to do the counting and joining for you. sorry for the

[2021-08-29 11:34] piskvorky commented on #1141
Why, what would that give us?

[2021-08-29 12:51] patcollis34 commented on #1141
This makes it more map/"reducey" and pushes everything to the stdlib/c. removing 2 gets and +'s here makes this code a good bit faster. I was seeing about ~2x speedups with smaller corpus(~30k sentences) I was using. I forgot the single token append(426) in the first version. IMO this also paves the way for some to multiprocess it in an afternoon or so
![image](https://user-images.githubuserconten

[2021-08-29 15:37] piskvorky commented on #1141
Thanks, a 4x speed up sounds promising. Can you open a PR, to explore your ideas?

I looked up the PR where I cleaned up the code. It includes some timings too: https://github.com/RaRe-Technologies/gensim/pull/2976#issuecomment-705501446 . Let's try your PR on the same corpus (text8), for easy comparison.

[2021-08-30 16:35] Tewatia5355 commented on #3179
#3222 I have tried to add error handling before loading another fasttext model to gensim/fasttext

[2021-08-30 21:15] SagarDollin commented on #2782
Hi @piskvorky,
The [PR](https://github.com/RaRe-Technologies/gensim/pull/3220) is ready for review.
I have resolved all the dependencies on `RandomState`.
Note: I had to change few test files as well, as some tests were relying on hardcoded variables, and since we are using a new Random `Generator`, they tended to fail. So I have updated these tests. However, I'm not an expert in all the models im

[2021-08-31 08:21] karan121bhukar commented on #3179
@mpenkov this is my 1st contribution to this project, can you take a look at PR #3223 and let me know if it's good to go?

[2021-08-31 13:17] om-hb opened #3224 "Can't add vector to pretrained fasttext model via .add_vector"
#### Problem description

I'm trying to add a new vector to a pretrained fasttext model via `.add_vector`. However, it seems like the vector is not added if I check via `.has_index_for`.

#### Steps/code/corpus to reproduce

[code]

#### Versions

[code]

[2021-08-31 16:22] icanhasmath opened #3225 "AttributeError: 'dict' object has no attribute '__NUMPY_SETUP__'"
Building gensim from source on Python 3.9 I consistently get this error:
[code]

My current workaround is this:
https://github.com/RaRe-Technologies/gensim/blob/919b4154a5696a544b87f792992f25f5e4d59d3e/setup.py#L109

[code]

[2021-09-01 09:09] martinobertoni opened #3226 "numpy 1.19.2 incompatible with gensim 4.1.0"
#### Problem description

When importing gensim I get the following error

[code]

#### Steps/code/corpus to reproduce
[code]

#### Versions

Linux-5.11.0-25-generic-x86_64-with-debian-bullseye-sid
Python 3.7.11 (default, Jul 27 2021, 14:32:16)
[GCC 7.5.0]
Bits 64
NumPy 1.19.2
SciPy 1.7.1

[2021-09-01 10:12] GuillemGSubies commented on #3226
Same error here, any plans to solve it soon?

[2021-09-01 11:47] subbuvidyasekar commented on #3226
I also have the same issue.
umap package requires numpy 1.19.2.

It works for me initially. it didnt work from 29th August in importing gensim

[2021-09-01 11:57] piskvorky commented on #3226
Possible duplicate of #3097.

@mpenkov I thought we fixed this in #3095 (Gensim 4.0.1). Is this some regression?

[2021-09-01 13:01] mpenkov commented on #3226
Hard to say at this stage. The previous fix may have been incomplete (e.g. https://github.com/RaRe-Technologies/gensim/issues/3097#issuecomment-867105479).

We'll need to investigate.

[2021-09-01 13:57] piskvorky commented on #3226
Maybe something to do with conda? I see that mentioned above – it's like a separate distribution center, so god knows what they do. We only support standard packages (PyPI).

[2021-09-01 21:10] lkcao commented on #1545
same question here!

[2021-09-02 08:38] martinobertoni commented on #3226
Hi and thanks for looking into this
Avoiding conda and using venv give the same error

[code]

[2021-09-02 08:39] martinobertoni commented on #3226
found a fix, let me know if it works for you:

[code]

this apparently recompile stuff using whatever numpy on the system

[2021-09-02 10:01] piskvorky commented on #3226
Thanks @martinobertoni . According to https://github.com/scipy/oldest-supported-numpy/blob/master/setup.cfg#L46 , the binary wheel for Gensim on Python 3.7 should be compiled against numpy 1.14.5. Is that correct @mpenkov ? And since 1.14.5 < 1.19.2 (backward compatible), the wheel should work… but doesn't.

I forgot what the numpy kerfuffle was, they changed their binary compatibility somehow. I'

[2021-09-02 12:51] mpenkov commented on #3226
Yeah, I've purged that information from my mind since the previous release, so it'll be a fresh start for me too. I'll try to cut out some hours during the weekend (or next week) and sit down to deal with this.

[2021-09-06 09:01] piskvorky commented on #3226
Another report: https://twitter.com/nutniti1/status/1433702323335749637

Looks like this affects many people.

[2021-09-08 11:34] J535D165 commented on #3226
Yes, I can confirm. 4.0.1 works fine on Python 3.8 on Ubuntu, however 4.1.0 fails. The Numpy version is 1.21.2.

[2021-09-08 12:30] mpenkov commented on #3226
Thank you everyone for your patience.

I think I've tracked down the problem. Our github actions workflow (a recent contribution 959f2dde5) was not using oldest-supported-numpy. I think this is what caused the problem.

Can you please confirm that the wheels built off the most recent develop head work?

http://gensim-wheels.s3-website-us-east-1.amazonaws.com/

[2021-09-08 15:44] ginward opened #3228 "get_latest_training_loss returns 0"
#### Problem description

It seems that the `get_latest_training_loss` function in `fasttext` returns only 0:

[code]

[code]

#### Versions

Please provide the output of:

[code]

[2021-09-09 04:02] ginward opened #3229 "Word2Vec model callbacks property not accessible"
#### Problem description

It seems that the callbacks property in the Word2Vec model is not callable:

#### Steps/code/corpus to reproduce

[code]

#### Versions

[code]

[2021-09-09 12:26] mpenkov commented on #3226
Unfortunately, my efforts did not help resolve the issue. I can still reproduce the problem, even with the newly built wheels.

I'm not sure what's going on here. We're _definitely_ using oldest-supported-numpy to build the wheels:

[code]

(from https://github.com/RaRe-Technologies/gensim/runs/3545153699?check_suite_focus=true#step:6:109)

but it doesn't seem to be helping:

[code]

[2021-09-09 12:49] piskvorky commented on #3226
Yeah that's weird. Does it work with numpy 1.14.5 (used during wheel building here), instead of numpy 1.19.2?

[2021-09-09 13:27] piskvorky commented on #3226
I don't that's a problem; 1.19.2 >= 1.17.0.

Unless someone has an idea, we might have to open a ticket at numpy again, ask what's going on.

But seeing as we had the same problem with 4.0.0 (fixed in 4.0.1), I suspect the same fix would help 4.1.0 too. @mpenkov do you remember what you did there?

[2021-09-09 13:41] mpenkov commented on #3226
The windows wheel build was ignoring the oldest-supported-numpy dependency

https://github.com/RaRe-Technologies/gensim-wheels/commit/ad9fbf1397f99f030647ff1c2987da510e5c5052

[2021-09-10 03:51] ginward commented on #3228
This is related to #2658, which probably should not be closed.
It seems that currently fasttext would not return the correct loss using `get_latest_training_loss`.

[2021-09-10 03:55] ginward commented on #2658
Please see #3228. It seems that this issue is not fully resolved.

[2021-09-10 07:39] gojomo commented on #2658
This issue is closed because a better discussion of the needed fixes is in #2617 - which remains open, because noone has been able to tackle these gaps.

[2021-09-10 07:56] gojomo commented on #3229
Effective starting Gensim 4.0, any `callbacks` provided are *not* stored in the model, but only applied for duration of the exact method where the callback was provided. Storing the callbacks presented a lot of usability problems when saving/reloading models = see #2136 for the discussion leading to the change.

You should have seen a warning message explaining this when supplying the callbacks as

[2021-09-10 07:57] gojomo commented on #3228
#2658 is closed as a duplicate, because #2617 is a more comprehensive discussion of what broken (or simply never implemented) in the *2Vec models.

The docs are wrong to imply there's any loss-tallying in `FastText` - it's never been implemented. That could be corrected right away, by overriding the superclass method with another that documents/warns that there's no loss-tracking yet for the `Fast

[2021-09-10 08:37] ginward commented on #3228
I see. But if loss training has never been implemented, how do we know if the training needs to be early stopped, or if the training needs more epochs?

[2021-09-10 11:59] mpenkov commented on #3226
There are several potential problem points, in order of rabbit-hole depth:

- our build system
- multibuild
- manylinux
- oldest-supported-numpy
- numpy
- pip
- python

The most likely by far is our build system (scripts we use for building wheels). It uses multibuild, which in turn uses manylinux.

One thing to try would be to try reproduce the problem with the least number of moving parts:

- Bu

[2021-09-10 18:27] gojomo commented on #3228
You'd have to use other heuristics. AFAIK, neither the original Google `word2vec.c` (on which Gensim's original implementation of the word2vec algorithm was closely based) nor the Facebook `fasttext` tool even offer early-stopping as an option: you pick you `epochs` & live with it, and if you later suspect it was too little or too much, you try another value in a separate run.

They do each, howev

[2021-09-10 21:35] mpenkov commented on #3226
@piskvorky @gojomo I've reproduced the problem locally, without using our CI/multibuild/multilinux. I think something is wrong with our build.py and we need to look there.

The steps are:

1. Build wheel against oldest_supported_numpy under Py3.7 (build env)
2. Test wheel against numpy==1.19.2 under Py3.7 (test env)
3. boom!

Can you please try reproducing this?

build.sh

[code]

test.sh

[code]

[2021-09-11 05:25] mpenkov commented on #3226
I've tried building against various versions of numpy locally (MacOS, Py3.7) and then testing with 1.19.2:

- 💥 1.14.5 (same as oldest-supported-numpy)
- 💥 1.15.1
- 💥 1.16.1
- 💥 1.16.5
- 🎉 1.17.0
- 🎉 1.17.1

(the above is purely trial and error)

This is surprising to me. According to [the official numpy recommendation](https://numpy.org/devdocs/user/depending_on_numpy.html#adding-a-dependency-on-

[2021-09-11 08:05] menshikh-iv commented on #3226
I also made some tests on Ubuntu with py3.7 and I'm +1 for using `1.17` as base build

[2021-09-11 08:34] mpenkov commented on #3226
Do we build against numpy 1.7.0 for all Python versions, on all platforms? Or is there a better way to go?

[2021-09-11 08:55] menshikh-iv commented on #3226
Logic from `oldest-supported-numpy`
[code]

[2021-09-11 18:47] mattip commented on #3226
If you wish to build and test against NumPy 1.14.5, you cannot use `numpy.random.default_rng` that was introduced in NumPy 1.17.

[2021-09-11 23:29] mpenkov commented on #3226
After some digging, here is the PR that bumped the numpy version and its associated discussion:

https://github.com/RaRe-Technologies/gensim/pull/3156

[2021-09-12 00:30] mpenkov commented on #3226
OK, I've updated the build matrix: https://github.com/RaRe-Technologies/gensim/blob/develop/.github/workflows/build-wheels.yml

It's a bit of a pain because we have to specify the numpy version for each OS and Python version (4 x 4 = 16 times), but it seems to work. I've tested locally on MacOS against Py3.7 and numpy==1.19.2 and the new wheels (http://gensim-wheels.s3-website-us-east-1.amazonaws.

[2021-09-12 14:07] piskvorky commented on #3226
Thanks so much @mpenkov! @martinobertoni and others, can you down the Gensim for Linux with [Python 3.7](http://gensim-wheels.s3-website-us-east-1.amazonaws.com/gensim-4.1.1.dev0+20210912001819-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl#sha256=6e779aa19570ae728d38c13a18526b802aa1332f7f9cf15ecf4da15b4e43181e) or [Python 3.8](http://gensim-wheels.s3-website-us-east-1.amazonaws.com/gen

[2021-09-13 12:28] Witiko commented on #3064
Since `summarization.bm25` has been removed from Gensim 4, this issue can be closed.

[2021-09-13 12:28] Witiko commented on #2662
Since `summarization.bm25` has been removed from Gensim 4, this issue can be closed.

[2021-09-13 12:28] Witiko commented on #2609
Since `summarization.bm25` has been removed from Gensim 4, this issue can be closed.

[2021-09-13 12:28] Witiko commented on #2380
Since `summarization.bm25` has been removed from Gensim 4, this issue can be closed.

[2021-09-13 13:16] #2380 closed

[2021-09-13 13:16] #2609 closed

[2021-09-13 13:16] #2662 closed

[2021-09-13 13:16] #3064 closed

[2021-09-13 16:12] edg-stg opened #3232 "Negative exponent with value -1 (minus one) raises error"
#### Problem description

I try to vary the value of the negative exponent parameter. When I use a value of -1, training works fine, but prediction afterwards with infer_vector does not work and raises the error "ValueError: Integers to negative integer powers are not allowed."

This is due to the following line: https://github.com/RaRe-Technologies/gensim/blob/266a01455ade51a93a08dba5950e87b4d98e

[2021-09-14 05:01] JoshuaMathias commented on #3226
I just had this error with the following specs:

1. Linux
2. Python 3.8.0
2. numpy==1.19.1
3. gensim==4.1.0

After uninstalling gensim and installing gensim-4.1.1.dev0+20210912002013-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl I no longer had an error, so the fix worked.

[2021-09-14 11:12] piskvorky commented on #3137
Fixed in #3156.

[2021-09-14 11:12] #3137 closed

[2021-09-14 11:13] piskvorky commented on #3226
Some more reports of Gensim 4.1.0 installations blowing up:
https://groups.google.com/g/gensim/c/jC0-J-PBHzw

[2021-09-14 12:26] martinobertoni commented on #3226
@piskvorky Thanks for the fix! It works with my desired configuration:

[code]

[2021-09-14 12:49] mpenkov opened #3233 "Ask travis-ci.com for more credits"
Sounds like RaReTech ran out of Travis credits again:

https://app.travis-ci.com/github/RaRe-Technologies/gensim/requests

Can you please ask them for more? It's not urgent, we only need travis for aarch64 wheel builds, and we can deal with them later, but it'd be good to have that working soon.

[2021-09-14 12:56] piskvorky commented on #3226
Thanks go to @mpenkov :) Let's release Gensim 4.1.1 now.

[2021-09-14 12:57] piskvorky commented on #3233
Oh wow. OK, I'll write to them again.

[2021-09-14 13:03] dwyane1023 commented on #3094
Hi,

Any update on this.

When I run code below

`w2v_model.wv.intersect_word2vec_format(third_model_path, binary=True)`

I got IndexError: index 2 is out of bounds for axis 0 with size 1

[2021-09-14 13:45] mpenkov opened #3234 "Update release instructions"
https://github.com/RaRe-Technologies/gensim/wiki/Maintainer-page is out of date

- We don't use gensim-wheels repo anymore - everything happens in the main gensim repo
- Wheel building is less of a pain now - GHA takes care of most things
- Some release scripts appear out of date, e.g. prepare.sh
- A general description of what we're doing and why wrt to the wheel builds (interplay between manylin

[2021-09-14 13:53] mpenkov commented on #3226
Alrighty then!

https://pypi.org/project/gensim/4.1.1/

Thank you everyone for your patience and your help in pinning this thing down.

[2021-09-14 17:44] gojomo commented on #3232
Yes - I'd expect if `count` (which may have only recently became a `numpy`-typed int rather than a generic Python int) were converted to a float (either Python `float()` or `np.float32()`), this error would be eliminated.

Can you share the full error stack traceback? I'm curious why this only shows on `.load()`, not earlier – and while the fix is likely just a few characters, ideally we'd want a

[2021-09-14 17:47] #3229 closed

[2021-09-14 19:42] gojomo commented on #3094
As far as I know the [workaround suggested above](https://github.com/RaRe-Technologies/gensim/issues/3094#issuecomment-809763444) should work.

[2021-09-15 11:33] cpuodzius commented on #3228
After reading out some replies here and on stackoverflow, I'm aware that loss-tallying is yet to be implemented.
However, the running loss after each epoch - differently than said [here](https://github.com/RaRe-Technologies/gensim/issues/3228#issuecomment-917119337)- is also always zero to me.

I'm running `gemsim==4.0.1` and my example code is:

[code]

[code]

Why the `model.get_latest_training_

[2021-09-15 13:34] PrimozGodec commented on #3226
Hej. I am still getting this issue on macOS, Python 3.8.8, NumPy version is 1.19.5.
The reason for this may be that Gensim for the macOS -- Python 3.8 and 3.9 are built with NumPy 1.21:

https://github.com/RaRe-Technologies/gensim/blob/1a10f14dc532f9711ea9a608f7ea7c57a18305aa/.github/workflows/build-wheels.yml#L72-L82

What is the reason for selecting 1.21?

[2021-09-15 15:16] piskvorky commented on #3226
@mpenkov what went into 4.1.1? Are these the wheels from #3231 (`oldest-supported-numpy`)?

[2021-09-15 15:59] gojomo commented on #3228
Gensim *2Vec model oss-tallying is...
...in `Word2Vec`, buggy (but somewhat usable w/ workarounds).
...in `Doc2Vec`, never yet implemented, hence always 0.
...in `FastText`, never yet implemented, hence always 0.

[2021-09-16 11:24] mpenkov commented on #3226
We selected 1.21.0 based on this logic from [oldest-supported-numpy](
https://github.com/scipy/oldest-supported-numpy/blob/1ca6bc97ef57ad152e83881436a4cbe296ca4aeb/setup.cfg#L38-L41):

[code]

It sounds like they have a valid reason for selecting 1.21.0, but I do not know the details.

[2021-09-16 12:00] PrimozGodec commented on #3226
@mpenkov, but you are not building `arm64` (new apple processors) wheels as I can see you build only `x86_64` (intel processor in Mac). For those oldest-supported-numpy is:

[code]
So 1.17.3 for Python 3.8 and 1.19.3 for Python 3.9

[2021-09-16 12:22] mpenkov commented on #3226
Argh, in that case, I misread the configuration file from oldest-supported-numpy when translating it to our build config.

Are you able to double-check the versions and make a PR? I'll merge it in and re-release.

[2021-09-16 15:48] PrimozGodec commented on #3226
I double-checked and proposed a PR https://github.com/RaRe-Technologies/gensim/pull/3236

[2021-09-17 00:25] mpenkov commented on #3226
Thank you @PrimozGodec!

https://pypi.org/project/gensim/4.1.2/

[2021-09-17 00:28] mpenkov opened #3237 "Clean up gensim project on PyPI"
We've hit the 10GB limit for projects on PyPI. This is preventing some of the 4.1.2 wheels from being uploaded.

https://pypi.org/help/#project-size-limit

We need to clean up the project area before we can upload new wheels.

[2021-09-17 00:31] mpenkov commented on #3237
I think the safest thing to do immediately is to delete all 4.1.0 and 4.1.1 wheels because they are buggy. That would allow the 4.1.2 wheels to be uploaded properly.

I'd do this myself, but I don't have the permissions.

[2021-09-17 07:42] piskvorky commented on #3237
Oh wow. That's weird, where did 10 GB go? I'll have a look. Thanks for reporting!

[2021-09-17 07:51] piskvorky commented on #3237
@mpenkov I requested a quote increase on PyPI: https://github.com/pypa/pypi-support/issues/1315

[2021-09-17 09:21] mpenkov commented on #3237
OK, thank you.

I uploaded the remaining wheels, so the 4.1.2 release contains all the wheels that it needs now, including aarm64.

[2021-09-17 09:21] #3237 closed

[2021-09-17 09:23] mpenkov opened #3238 "Investigate wheel filesize"
We build wheels for 4 platforms x 4 Python versions = 16 wheels per release. Each wheel is 25 MB (why so large?), so that's > 400 MB per release! I can see 10 GB disappearing quickly.

How do other projects with extensive wheel support (scikit-learn?) solve this?

_Originally posted by @piskvorky in https://github.com/RaRe-Technologies/gensim/issues/3237#issuecomment-921580397_

[2021-09-17 10:16] Polindem opened #3239 "ImportError: cannot import name 'lemmatize' from 'gensim.utils'"
Hi!

I'm having this issue:  **ImportError: cannot import name 'lemmatize' from 'gensim.utils'**
Could it be that you changed the name and it's not possible to import it as 'lemmatize'? Needed to post it here since I didn't find any information in the internet. Some people mentioned incompatibility with numpy though.
Thank you in advance for your response!

**What I use**:
macOS
Python 3.8.2
[Clan

[2021-09-17 12:24] xei commented on #2463
It's quite natural when you are evaluating the LDA model on some unseen data (test/validation set) since there might be some latent topic keywords not appearing in the unseen dataset.
So, you have to tune the parameter `topn` while creating the `gensim.models.CoherenceModel` instance. It can resolve the issue.

`def compute_topic_coherence(lda_model: gensim.models.ldamodel.LdaModel,

[2021-09-17 13:47] piskvorky commented on #3239
That's right. Gensim used the Pattern library for lemmatization, but Patern proved an unstable dependency. So we dropped Pattern (and hence lemmatization) from Gensim in https://github.com/RaRe-Technologies/gensim/pull/3012. There's no `gensim.utils.lemmatize()` since Gensim 4.0.0 – gone forever.

[2021-09-17 13:48] piskvorky commented on #3237
Are you sure? Github still reports 4.1.1 as the latest:
https://github.com/RaRe-Technologies/gensim/releases/

[2021-09-17 21:24] gojomo commented on #2260
I believe this issue is moot given changes that eliminated so much normed-vector caching in Gensim-4.0.

[2021-09-17 21:37] gojomo commented on #3238
Somewhat of a duplicate of #1783.

Much of the `test_data` may not even be currently used. In #2967 I suggested:

This could be as simple as doing it one time on a developer machine where the filesystem tracks `atime` (last-accessed time), then deleting all files not accessed during a full-run. *If* the CI build/test machine filesystems support `atime` (or would allow other hooks to be added someh

[2021-09-17 21:58] gojomo commented on #3226
@PrimozGodec Do you happen to know if this updated constraint in #3236 allows the build to work on the new Apple processors (M1 etc)? (Or, if this doesn't do it, any ideas on the minimal build-params update that might help that work?)

[2021-09-17 22:16] gojomo commented on #3233
Earlier this month, Travis-CI had a bug where anyone's PR against a project could potentially access the project's build secret environment-variables:

https://arstechnica.com/information-technology/2021/09/travis-ci-flaw-exposed-secrets-for-thousands-of-open-source-projects/

I see that we do have two project secrets there - WHEELHOUSE_UPLOADER_USERNAME &  WHEELHOUSE_UPLOADER_SECRET. I'm not sure

[2021-09-18 09:10] piskvorky commented on #3238
Oh wow,  I clean forgot about that thread. Thanks for the link.

I'll revisit https://github.com/RaRe-Technologies/gensim/issues/2967#issuecomment-791358743 and clean up / drop the test data as part of the solution there.

Closing this ticket – nothing more to investigate here.

[2021-09-18 09:10] #3238 closed

[2021-09-18 09:20] piskvorky commented on #3233
Thanks. @mpenkov do we actually still need Travis CI? That's not a flattering write-up, looks like a shit show.

Github actions (Microsoft) might not be that much safer, but at least it's just one service, not two.

[2021-09-18 09:21] #2260 closed

[2021-09-18 13:50] mpenkov commented on #3233
We use TravisCI for aarch64 wheel builds. Github actions does not support that platform yet.

In our case, TravisCI never runs for PRs (other from the original contributor of the aarch64 code), so it's likely the other PRs were unable to take advantage of the vulnerability even if they wanted to.

In practice, leaked AWS credentials would give an attacker access to our AWS account. They could use

[2021-09-18 13:51] mpenkov commented on #3233
Good idea. @piskvorky Can you rotate the AWS keys? From memory, the account belongs to RaRe.

[2021-09-18 14:22] mpenkov commented on #3237
Not sure why it was missing, but I manually pushed the tag and updated the release, so it's there now.

https://github.com/RaRe-Technologies/gensim/releases/tag/4.1.2

[2021-09-19 08:02] piskvorky commented on #3233
I cannot find it. Is there any way to check which key / user / org the Github secret uses?

[2021-09-19 10:30] JamieSlome opened #3240 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-19 11:23] mpenkov commented on #3240
Thank you so much for pointing this out. We've added a draft policy. Please use the contact details there.

@piskvorky Could you please review the policy?

https://github.com/RaRe-Technologies/gensim/blob/develop/SECURITY.md

[2021-09-19 13:41] piskvorky commented on #3240
For me, a standard Github issue with a `security` label is the best. Private emails will definitely end up in spam.

If the report's compelling, we can follow-up with details through email afterward. Thanks!

[2021-09-21 07:15] PrimozGodec commented on #3226
@gojomo it is something new to me, I noticed that the separate wheels for new Mac processors exist during this conversation. I googled a bit and it seems that the x86_64 that most of the packages provide are not compatible with these processors. Packages that build platform-specific wheels will slowly need to start building arm64 wheels. Currently, users of computers with new processors will need

[2021-09-21 07:31] piskvorky commented on #3226
@gojomo IIRC Gensim already builds aarm64 wheels – is that not enough?

[2021-09-21 10:44] marziehoghbaie commented on #2748
Hi, I had the same problem but I solved it by installing Java and setting the java_home path same as [https://vitux.com/how-to-setup-java_home-path-in-ubuntu/](url).

[2021-09-21 11:02] mpenkov commented on #3226
They are for Linux. We don't build them for MacOS yet.

[2021-09-21 13:44] piskvorky commented on #3226
Okay. Is it a matter of just building them, or something more fundamental?

@gojomo did you try building those wheels, any errors? I see some work was done in #3026 but not sure how deep this goes, I have no way to test.

[2021-09-21 15:37] arlenk commented on #1889
The mmCorpus file (path_to_mm_file) should just be a plain text file.  Have you tried looking at the file to make sure the transfer from linux didn't somehow corrupt the file?

[2021-09-21 17:26] aristila commented on #1889
I compared checksums and they match, at least.

One thing that caught my eye is `encoding='latin1'` in the second try. I have been using `encoding='utf-8'` everywhere I can, but here the code seems to just guess. That's probably not the cause of this problem though, just thought I'd mention.

[2021-09-21 18:43] piskvorky commented on #1889
The first way is correct and should work:

The error `ValueError: need more than 0 values to unpack` is weird though, I cannot reproduce it. What Python are you using?

Seems unrelated to this ticket. Please open a new ticket, with the necessary info, thanks.

[2021-09-21 23:56] mpenkov commented on #3226
It may be as simple as just building them. The devil's always in the details, though, and once we start it's possible that previously unseen obstacles will come up.

If there's demand, we can start looking into it for the next release.

[2021-09-22 19:16] jmichaelschmidt commented on #3226
This solution worked for me too...

[2021-09-22 20:10] piskvorky commented on #3226
@mpenkov can we close this? IMO Gensim 4.1.2 fixed all the numpy issues. Support for Apple's M1 is a separate issue (assuming it is an issue at all, pending @gojomo feedback).

[2021-09-22 22:29] WildZes commented on #2826
Hello.

Are any else solutions to such a problem?
Tried different ways to solve my problem and still getting
`Requirement already satisfied: gensim in /home/mrp/anaconda3/lib/python3.7/site-packages (4.1.2)
Requirement already satisfied: numpy>=1.17.0 in /home/mrp/anaconda3/lib/python3.7/site-packages (from gensim) (1.21.2)
Requirement already satisfied: scipy>=0.18.1 in /home/mrp/anaconda3/lib/py

[2021-09-23 05:46] mpenkov commented on #3226
I think so.

[2021-09-23 05:46] #3226 closed

[2021-09-23 22:34] gojomo commented on #3226
I've never built wheels, nor do I have an M1 processor. But people with M1 processors have asked on the project discussion list, and M1 processors (& their imminent followups coming in newer Macs) are reported to have some exciting performance gains – so it'd be a good thing to get/confirm working, as soon as a capable dev with the right system/tools can do so.

If `pip install gensim --no-binary

[2021-09-27 19:32] gojomo commented on #3036
The suggestion in #3226, that a MacOS installation using `pip install gensim --no-binary :all:` fixed some compatibility mismatches, might be worth trying in other cases of problems on M1 systems. (I'm not sure what other prereqs that might need for local recompilation.) Please let us know if that helps make Gensim usable on any M1 Macs!

[2021-09-27 19:46] gojomo commented on #3240
If possible, sure. But some security bugs are a sufficient combination of (SEVERE x RIPE-FOR-EXPLOITATION) that documenting them in a public report worsens the impact significantly. Hence, security-bug-reporting best-practices usually offer some mechanism for private disclosure to resppnsible parties, to give them a chance to correct *before* widespread exploitation.

The PSF has a fair discussion

[2021-09-27 21:15] piskvorky commented on #3240
My comment takes everything you said already into account.

[2021-09-27 21:19] piskvorky commented on #3036
Also, please try with a recent version of Gensim (4.x). The old Gensim 3.8.3 is no longer supported.

[2021-09-27 22:10] gojomo commented on #3240
Trying to make the report 'compelling' could be a risk! The policy could make it clear that a thin & opaque report of the form - "I have something important but believe all details should remain private at 1st" – is OK.

Do we yet know the specific concern that motivated the opening of this issue, and whether it plausibly requires secrecy?

[2021-09-28 06:59] JamieSlome commented on #3240
https://huntr.dev/bounties/48ba0e7c-fc25-4cf7-b00d-85458c87b6b7/ - this is the report.

[2021-09-28 13:03] mpenkov commented on #3240
I had a read through the report. Personally, I don't think this particular case warrants the amount of secrecy we've given it so far. I think the ideal outcome would be a PR that fixes that issue. Failing that, authoring a github ticket that describes the issue in full.

I could be wrong, of course. @piskvorky @gojomo what are your thoughts?

[2021-09-28 14:15] #3233 closed

[2021-09-28 15:24] piskvorky commented on #3240
I only see a blurred image, but it looks like some ineffiient regexp construct, right? Maybe in our Wikipedia parsing?

A PR would be ideal, yes. If it's really some generic regexp corner case, I'd consider this a performance ticket (of almost no impact), rather than a security one.

[2021-09-28 21:12] gloriamacia opened #3241 "I cannot import remove_stopword_tokens"
#### Problem description
Following the [documentation ](https://radimrehurek.com/gensim/parsing/preprocessing.html) I attempt to import in Colab as follows:
`from gensim.parsing.preprocessing import remove_stopword_tokens
`
#### Steps/code/corpus to reproduce

[code]
I observe also the same problem with `remove_short_tokens` for which also no example is provided in the docs.

#### Versions

[code]

[2021-09-29 06:47] mpenkov commented on #3240
Yeah, it's the wikipedia submodule.

If you login to the site using your github credentials (a separate security risk in itself, lol), you'll be able to read the full report.

I don't see an attack vector, but I guess it'd be something like:

1. Attacker posts a wikipedia article with the exploit
2. Target downloads the wikipedia dump and runs it through gensim
3. The exploit causes the target to

[2021-09-29 06:58] piskvorky commented on #3241
Can you try upgrading Gensim? The documentation is for version 4.1.2, but you're using Gensim 4.0. IIRC there were some changes to `preprocessing` in between.

[2021-09-29 08:03] JamieSlome commented on #3240
@mpenkov - the details of the report are only visible to those who have write permissions to the repository in question.

With regards to the report itself, I believe your assessment is accurate, but I'd recommend just seeking this clarity from the researcher themselves.

Hope this helps.

[2021-09-29 09:07] piskvorky commented on #3240
@JamieSlome I see you're the founder at huntr.dev / 418sec. I understand you want to go viral with your outreach model, but IMO sending vague reports for essentially non-threats (like some ?automatically-repository-scanned? inefficient regexp), risks annoying / alienating your user base.

Thanks for pointing out the missing `SECURITY.md` policy but I'm going to close this ticket here, because I do

[2021-09-29 09:07] #3240 closed

[2021-09-29 09:32] gloriamacia commented on #3241
Thanks a lot @piskvorky, for the great library as well as for your help in the issue. It works now.

I would suggest maybe updating the red banner from the docs saying that it is for version 4.1.2 (it currently says 4.0.0) to avoid users facing this kind of issues in the future.

[2021-09-29 09:32] #3241 closed

[2021-09-29 09:56] piskvorky commented on #3241
Good point. @mpenkov how about we get rid of the banner altogether? The 4.0 migration is successfully behind us, hopefully.

[2021-09-29 14:51] JamieSlome commented on #3240
@piskvorky - thanks for your feedback, and I agree, we are constantly working to improve the quality of the reports, and hope to work together with you again in the future.

[2021-09-30 17:13] gojomo commented on #3240
@JamieSloame @huntr-helper Your report appears to be a duplicate of a prior issue, #3029, reported by someone likely using the same or similar analysis code as your service, over 8 months ago - and triaged then as "near zero" priority.

So the unthinking application of this regex-efficiency check has now wasted our attention twice!

Implying a need for secrecy, or requiring a visit to an outside s

[2021-10-01 08:21] erehulka opened #3242 "Computing WmdSimilarity each-with-each"
Right now I am working on a model, where for a given dataset of sentences I need to compute WmdSimilarity between each of them. Thus the result is a (n x n) matrix, that is **symmetric**. Right now the only way is to compute similarity for each sentence with each sentence in the dataset. But half of the steps is reduntant, because the matrix is symmetric, so we only need to compute the _lower tria

[2021-10-05 00:49] zakarich commented on #2539
I think u should just add java (jdk) to google colab and then work with mallet as at your local server I propose this code for installing java but I'm not sure with your case u can change it as u need :
[ ] Code :

  !apt-get install -y openjdk-8-jdk-headless -qq > /dev/null      #install jdk
  #here u set the environment
  os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
  #then chec

[2021-10-05 07:54] petershan1119 opened #3243 "default estimation method of gensim's word2vec skipgram?"
I am now trying to use word2vec by estimating skipgram embeddings via NCE (noise contrastive estimation) rather than conventional negative sampling method, as a recent paper did (https://asistdl.onlinelibrary.wiley.com/doi/full/10.1002/asi.24421?casa_token=uCHp2XQZVV8AAAAA%3Ac7ETNVxnpqe7u9nhLzX7pIDjw5Fuq560ihU3K5tYVDcgQEOJGgXEakRudGwEQaomXnQPVRulw8gF9XeO). The paper has a replication github reposi

[2021-10-05 08:09] piskvorky commented on #3243
Hi, please use the mailing list for questions. The link and instructions were in the issue template (that you deleted).

[2021-10-05 08:09] #3243 closed

[2021-10-05 08:09] faustusdotbe commented on #3224
Hi! Have you found a solution yet? I encounter a same issue with a 4.x-trained (cf https://github.com/RaRe-Technologies/gensim/issues/3114) Word2Vec:

When adding new vectors:
- using `m.wv.add_vector(word, vector)` works, **BUT** after saving to disk and reloading,
    - `m.wv.get_vector(w)` does return the vector
    - `m.wv.has_index_for(w)` does return True
    - `m.wv.most_similar(w)` returns

[2021-10-05 08:18] piskvorky commented on #3224
Thanks for reporting. @gojomo any ideas? IIRC you rewrote this part for Gensim 4.0.

[2021-10-05 23:00] cosmozhang opened #3244 "Self provided normalization function is not used."
https://github.com/RaRe-Technologies/gensim/blob/5bec27767ad40712e8912d53a896cb2282c33880/gensim/models/tfidfmodel.py#L525

`self.normalize = matutils.unitvec` does not allow users to use self-defined normalization function.

[2021-10-05 23:12] cosmozhang opened #3245 "Log level control"
https://github.com/RaRe-Technologies/gensim/blob/5bec27767ad40712e8912d53a896cb2282c33880/gensim/models/tfidfmodel.py#L447

I think it a good idea to control this logger output (give an option to disable) to avoid spamming the terminal.

[2021-10-06 06:28] piskvorky commented on #3244
Correct! If you found a bug, please fill in the issue template fully. Otherwise I'll close this.

[2021-10-06 06:36] piskvorky commented on #3245
Each Gensim module has its own logger. So you can disable the `tfidf` logger, even temporarily:

[code]

For such generic questions, please use the mailing list (see the link in the issue template, that you deleted).

[2021-10-06 06:36] #3245 closed

[2021-10-06 22:35] gojomo commented on #3244
@cosmozhang Yes - PRs for consideration should generally be against the `develop` branch. Unless the problem & fix is trivial/self-evident, it may also help to include inside the PR a test case that fails before, and succeeds after, the fix is applied.

[2021-10-09 11:31] dchaplinsky opened #3246 "Partial support of compressed corpora in FastText model"
#### Problem description

Seems that vocab part of the FastText model are totally fine with compressed files. I.e you can pass bzipped file to `build_vocab` method and be perfectly fine. Until you try to train the model on the same file. It seems that `train_epoch_sg`/`train_epoch_cbow` (or more precisely, `CythonLineSentence`) doesn't support the same logic and only can accept text files.

Nevert

[2021-10-10 08:59] dchaplinsky commented on #3246
Hello Radim and thanks for the prompt reply!

Ideal solution for me is of course support of compressed files in compiled code (actually I just bought 2TB of space for my google colab exactly because of this :)). Working with compressed files might be faster, especially on slow io, when reading is a bottleneck.

But I understand, that probably this might be too much of burden to add the proper supp

[2021-10-10 12:28] piskvorky commented on #3246
Okay, thanks. Are you able to open a PR?

[2021-10-10 13:53] dchaplinsky commented on #3246
I do not have a solution yet (otherwise I'd opening PR rather than reporting an issue). Will look into it.

On a similar note, when I'm initializing training like this:
[code]

I'm receiving strange log messages like this:
[code]

[2021-10-10 14:02] piskvorky commented on #3246
This is still for the case where your `settings.corpus_path` is compressed?

If so, nonsensical log statistics are expected: the (correct) `model.X` stats created in `build_vocab()` do not match the (incorrect) stats that `train()` calculates from the mishandled binary stream.

[2021-10-10 14:06] dchaplinsky commented on #3246
No, I'm not :) Everything is uncompressed now :)

Okay, deal.

[2021-10-13 05:40] KEDSARAMAY opened #3248 "LdaMallet error returned non-zero exit status 1."
I'm using LdaMallet to my project. It'd worked well until I used it with some corpus(Thai language).but it kinda confusing cause with other Thai,English corpora it can work.

The Error is:
CalledProcessError: Command '/content/mallet-2.0.8/bin/mallet import-file --preserve-case --keep-sequence --remove-stopwords --token-regex "\S+" --input /tmp/6d3068_corpus.txt --output /tmp/6d3068_corpus.mallet'

[2021-10-13 06:21] #3248 closed, assigned to nobody

[2021-10-16 16:55] pranav1610 commented on #3232
@edg-stg I would love to work on this issue. Is it available to assign?

[2021-10-20 12:37] kathrynNL opened #3249 "Installing older version of Gensim gives a newer version"
I tried installing an older versions from gensim due to the older version being able to run a LDA Mallet topic model using "gensim.models.wrappers.LdaMallet". I used the following:

[code]
However, when I test the version by using:

[code]
I receive version: 4.1.2. I already tried uninstalling gensim and re-installing, but I still receive the newer version.

[2021-10-21 12:59] kathrynNL commented on #3249
Both of you, thank you! Managing the package outside indeed fixed the problem!

[2021-10-21 13:58] #3249 closed, assigned to nobody

[2021-10-26 03:19] rchurch4 opened #3256 "FastTextKeyedVectors.load_word2vec_format() does not initialize correctly."
#### Problem description

What are you trying to achieve? What is the expected result? What are you seeing instead?
I have been trying to load my own trained FastText vectors into a FastTextKeyedVectors model (trained in Gensim).  The expected result is to load the saved vectors without flaw.  Instead, the error below occurs at initialization of the instance.

I investigated, and this occurs becau

[2021-10-27 15:34] yurivict opened #3260 "Documentation should explain how to run tests"
The [Testing Gensim](https://radimrehurek.com/gensim/#testing) section of the documentation doesn't explain how to run tests.

Running ```python -m pytest``` fails:
[code]

[2021-10-28 08:16] Joozty opened #3261 "Add `CITATTION.cff` file to repository"
Github has a built-in support for citation. Can you please consider adding CITATTION.cff file to your repository so we can easy cite your work?

Info:
https://citation-file-format.github.io/
https://twitter.com/natfriedman/status/1420122675813441540?lang=en

[2021-10-29 07:06] raccoon-science opened #3262 "Adding new tags in doctag_vectors in"
Hello!

I am training a doc2vec model on a tagged docset.
I need to update it on new sets that contain new tags. Is there a way to update docvectors in gensim.doc2vec? How can I do it?

There is an old issue https://github.com/RaRe-Technologies/gensim/issues/1019 on the same topic, but it didn't help me as there were many changes in gensim. Maybe there is another way?

[2021-10-30 00:45] gojomo commented on #3262
Expanding the set of known doctags hasn't been supported; the work allowing expanding the `Word2Vec` vocabulary (via `build_vocab(..., update=True)` was never tested/completed for `Doc2Vec`, with intermittent crashing bugs like #1019.

Note that even if supported, such incremental expansions of a model are fraught with difficult tradeoffs. To the extent a new batch contains a different mix of word

[2021-11-01 11:10] GBR-613 commented on #3256
I get the same error with v4.1.2 using Python 3.7 on Windows.
The only difference is that the exception occurs in line 1969 in my version.

The line `kv = cls(vector_size, vocab_size, dtype=datatype)` creates an instance of the class which is FastTextKeyedVectors, however the list of parameters suits KeyedVectors and does not suit the former.
Loading of the same file into KeyedVectors works fine.