[2017-03-03 21:39] tmylk commented on #1180
Thanks. are you working on a fix or should I submit a pr?

[2017-03-03 21:54] piskvorky commented on #1180
@tmylk what is the explanation for this bug making it past the unit tests?

[2017-03-03 21:57] gojomo commented on #1180
Not currently working on this; just wanted to make sure there was an issue that could be triaged/assigned. Not sure the understanding above is fully correct - the code looks broken, but I would have expected any save/load that involves a (default) negative-sampling model to have triggered the error, so aspects of the problem as-reported are still unclear.

[2017-03-03 21:59] gojomo commented on #1180
To be clearer: any [save, load, train] should trigger the error - perhaps no existing tests try training after load? Adding either a `train()` or some other set of 'model is healthy' assertions after `load()` may make for better tests.

[2017-03-03 22:00] tmylk commented on #1180
There is no unit test that covers training after load in either doc2vec or word2vec. Adding them now.

[2017-03-03 22:41] #1180 closed

[2017-03-03 22:53] piskvorky commented on #1157
@Threynaud these progress snapshots seem to be taken at different times, and near the beginning of the training.

They all sound rather low too (I'd expect 10x faster progress).

So my suggestion would be to compare the same data (single file vs. the same file split across many smaller files), and report the speed at the same training point (such as from the end of training).

Otherwise I agree, t

[2017-03-03 23:35] tmylk commented on #1162
It is not an issue but a better error message is needed.

[2017-03-04 00:34] tmylk commented on #814
Fixed in gensim 1.0.1 available on PyPI

[2017-03-04 05:46] gojomo commented on #1157
@Threynaud - it takes a while for training to reach peak rate, and the rate can vary based on the text (rare vs common words, length of examples, etc), and those displayed rates are only for the last reporting period (default 1 second, across which rates can jitter somewhat) – so for a true comparison you'd want to ensure you were taking a longer sample, over the exact same kind of text, with abso

[2017-03-04 07:24] pranaydeep-af commented on #1171
Hi, I am looking to fix this issue. Could I get some directions as to where this particular functions are implemented in the code base?
Thank you.

[2017-03-04 07:55] pranaydeep-af commented on #1171
So I looked around and it seems that the load() function loads a pickle whereas the serialize() function calls save_corpus() which does not store a pickle at all but stores in plain text with a .vocab and a .index file if I am not wrong. The fix would be to either change the load() function to read the plain text format or the serialize function calls save() instead of save_corpus() as save() stor

[2017-03-04 08:01] pranaydeep-af commented on #1171
Everything works fine if instead of using the load() function you use the __init__ method from BleiCorpus ie.
`a = corpora.BleiCorpus('/home/artemis/Desktop/test_corpus-mult.dat')`
This uses the same format to load as the save_corpus() function. So to sum it up, the save_corpus() is analogous to the default constructor of the class and load() function stores in pickle and is analogous to the save(

[2017-03-04 10:29] piskvorky commented on #1171
Does this mean the issue is resolved? Can we close?

[2017-03-04 10:36] pranaydeep-af commented on #1171
@piskvorky Maybe we can change the save() and load() functions to save_as_pickle() and load_pickle() so the behaviour is clear.
Also, if both ways to store are not needed. Maybe we can implement one common way to save and load?
Awaiting confirmation of my findings from @tmylk

[2017-03-04 17:29] sherlockhoatszx commented on #1178
Hi, I studied the Radim's paper in detail, and found one picture to show your functions
![lsa_algorithms_comparition](https://cloud.githubusercontent.com/assets/14892920/23580643/8e61c656-0140-11e7-85e1-790d777f44ed.jpg)

If the genesim incremental(stream) LSA code was designed as the last row(rehurek2011b), It seems that genesim's LSA support add new documents ,but don't support add new features.

[2017-03-04 20:00] piskvorky commented on #1171
-1 on `save_pickle` and `load_pickle`. The pickle format is only incidental, and it's not even true it's always pickle. We already store (sub)attributes in various ways, such as direct .npy files for memory-mapping.

There is only one way to load/save objects in gensim (called `.load()` and `.save()`), so not sure what you mean there.

[2017-03-04 21:03] pranaydeep-af commented on #1171
Ah, So how about if we catch the unpickling error in the load() function and write an error message which suggests the user to try the default constructor for loading instead?
@piskvorky

[2017-03-05 00:58] tmylk commented on #1171
A warning on the load, the same way as on the [save](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/interfaces.py#L58) would be good. @piskvorky What is the use case of the save/load of an iterator for a corpus? can it be better isolated?

[2017-03-05 01:53] pranaydeep-af commented on #1171
Should I add a warning and send a PR or are we looking for a better solution?

[2017-03-05 07:45] piskvorky commented on #1171
@tmylk I don't think there's any use case for pickling iterators... in fact, I don't think it can even be done. It's pretty much always an error.

[2017-03-05 12:43] tmylk commented on #1171
@pranaydeep-af Can you experiment and see what is actually saved in the save() method? To confirm that it is not a useful method. If confirmed then please add an exception to load and save methods.

[2017-03-05 14:37] #1138 closed

[2017-03-05 14:38] tmylk commented on #1138
Thanks for reporting this.

[2017-03-05 14:44] tmylk commented on #1178
@sherlockhoatszx You are right that LSI doesn't support vocabulary expansion. Option 3 is best. N-gram methods like FastText work relatively well with out-of-vocabulary words. There is also a little-researched way to increase the vocabulary though it hasn't been shown to work better than Option 3.

By the way such open-ended questions are better suited for the mailing list. Closing this issue to c

[2017-03-05 14:44] #1178 closed

[2017-03-06 00:33] pranaydeep-af commented on #1171
Sure thing, @tmylk

[2017-03-06 07:05] gabbifish opened #1184 "MmCorpus init attempting to cast string of format '0.xxx...' into int unsuccessfully"
I'm attempting to load a tfidf.mm file into an MmCorpus object, and the format of the .mm file is as follows:

[code]

I get the following error:
[code]

It looks like matutils.MmReader.__init__(self, fname) in the MmCorpus class init function is attempting to cast '0.0305010044907' into an int, which
a) would not work after .split() is called by MmCorpus.init on the lines of the .mm file, which o

[2017-03-06 09:39] pranaydeep-af commented on #1171
The exception in load() would be for an Unpickling Error.
What sort of exception is desired in the save() method since it does not generate an error?
@tmylk

[2017-03-06 10:54] pranaydeep-af commented on #1171
@tmylk Basic PR with try-catch block for load() function has been submitted.

[2017-03-06 12:11] tmylk commented on #1184
Hi @gabbifish ,

May I ask about the origin of this MM file? Maybe something changed in the format.

The first non-commented line of an MM file should contain number of rows, columns, and number of non-zero entries - all ints. The `num_nnz` is the number of non-zero entries. That is according to the [Coordinate MM format spec](http://math.nist.gov/MatrixMarket/formats.html)

[code]

[2017-03-06 12:13] tmylk commented on #814
Fixed in #1176

[2017-03-06 12:13] #814 closed

[2017-03-06 12:31] tmylk commented on #1171
@pranaydeep-af What is actualy saved and loaded with the save/load methods in the corpus? Is it useful?

If they are not useful, then my request above was to throw(not catch) an exception in the corpus load and save methods to alert the user that they are not useful methods.

[2017-03-06 15:50] #1142 closed

[2017-03-06 15:55] tmylk commented on #1142
Did you find a way to resolve this problem?

[2017-03-06 16:00] spearsem commented on #1142
I'm still working on it. I think part of the problem is how the LSI model's transformation gets applied. It assumes you're given a corpous to iterate through in chunks, and apply the transformation to each chunk. During that process, it seems like it's not possible to provide the base corpus in an already-csc format. It will still apply the `corpus2csc` logic to it no matter what you do or what da

[2017-03-06 17:48] gabbifish commented on #1184
Hi @tmylk! I was following this guide: https://radimrehurek.com/gensim/wiki.html#id6

Which generates a tfidf.mm file using the script gensim.scripts.make_wiki. I took a look at the make_wiki script, which seemed to create the tfidf.mm in the expected manner:

`MmCorpus.serialize(outp + '_tfidf.mm', tfidf[mm], progress_cnt=10000)`

Should I run this script again on a subset of data to see if I get

[2017-03-06 18:02] spearsem commented on #1142
@tmylk I think I can articulate the problem a bit better now.

Suppose you have trained an `LsiModel` object and saved it to disk. Now you want to load it and produce a `SparseMatrixSimilarity` based on the documents underlying the trained `LsiModel`.

If you do something like,

[code]

this will be incredibly slow and memory intensive. The reason is that `__getitem__` from `LsiModel` uses an inhe

[2017-03-06 18:45] piskvorky commented on #1142
Combining LSI and sparse vectors is not a good idea. LSI vectors are dense, so this will cost you a lot of memory and performance.

But even then, a conversion between the corpus format (list of tuples) and CSC shouldn't be that slow, I don't think. When you say "incredibly slow and memory intensive", what numbers do you have to back that up?

[2017-03-06 18:50] spearsem commented on #1142
I think you're misunderstanding. The source data (~25 million input documents, which is actually a subsample of a ~100 million document sparse matrix that this will be extended to) starts out as a sparse matrix. There's no way to change that. I'm not choosing this, it's just the format of the data based on all the other applications that use, and which any gensim-based LSA model would have to inte

[2017-03-06 18:53] spearsem commented on #1142
It's also confusing when you say, 'combining LSI and sparse vectors is not a good idea.' The code I'm talking about, [linked here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/lsimodel.py#L440) implies that when transforming the bag of words documents into LSI topic representation, gensim will *always* convert to a sparse format before hand.

[2017-03-06 19:07] piskvorky commented on #1142
I'm talking about scipy sparse. The transformation is pretty cheap AFAIK, so I wonder what numbers you're seeing.

Streamed iteration should definitely not consume double the memory -- its overhead is ±0 (just one chunk at a time). So I suspect the extra memory is coming from somewhere else.

[2017-03-06 21:22] tmylk commented on #1184
Unfortunately can't reproduce with the small wikipedia fragment we have in automated tests
`make_wiki.py test/test_data/enwiki-latest-pages-articles1.xml-p000000010p000030302-shortened.bz2 /tmp/wiki/`  produces

[code]

Had to modify the script to not filter rare words because the corpus is so small,
`wiki.dictionary.filter_extremes(no_below=0, no_above=0.1, keep_n=DEFAULT_DICT_SIZE)`

Please let

[2017-03-06 23:18] piskvorky commented on #1150
@tmylk why the param name inconsistency?

[2017-03-07 08:59] prakhar2b opened #1187 "build_vocab fails when calling with different trim_rule for same corpus"
[code]
Now, if we try to build vocabulary for the same model with a different trim_rule

[code]
we get error that "must sort before initializing vectors/weights"

[code]
####  Isn't it a bug ? Vocabulary should get updated according to the new trim_rule provided.

[2017-03-07 13:05] sherlockhoatszx opened #1188 "value error report during training the lsi model"
Traceback (most recent call last):
  File "generate_model_andindex.py", line 25, in <module>
    lsi = models.LsiModel(corpus_tfidf, id2word=dictionary, num_topics=500)
  File "/usr/local/lib/python2.7/dist-packages/gensim/models/lsimodel.py", line 331, in __init__
    self.add_documents(corpus)
  File "/usr/local/lib/python2.7/dist-packages/gensim/models/lsimodel.py", line 390, in add_documents

[2017-03-07 20:17] gojomo commented on #1187
I believe you'd get that same error even without `trim_rule` specified.

In general, triggering `build_vocab()` more than once, without the (un my opinion experimental/sketchy) `update` parameter, isn't a supported/well-defined operation. The best it could do (and what I believe it used to do) is completely clobber the existing vocabulary & model state – essentially starting a new model. Now, it a

[2017-03-07 20:30] prakhar2b commented on #1187
@gojomo  Yes. Thanks for specifying that. I was trying to solve another issue involving trim_rule when I encountered this issue. I'll update the error message and submit a PR.

[2017-03-07 23:06] tmylk opened #1192 "Sphinx warnings"
Sphinx 1.5.3 [raises 108 warnings](https://gist.github.com/tmylk/11d42f19c2acabbcf9aac466e204dc5f) when generating gensim docs when running
[code]

All the files are generated correctly even though Sphinx labels some of the warnings as `errors`.

The easiest warnings to fix are in the `rst` files of type `Title underline too short.`

The warnings in the `py` file are hard to fix because the line n

[2017-03-07 23:11] #824 closed

[2017-03-07 23:17] tmylk commented on #1187
Fixed in #1190

[2017-03-07 23:17] #1187 closed

[2017-03-08 03:19] gabbifish commented on #1184
Resolved by not filtering rare words with smaller test corpora. Thank you so much!

[2017-03-08 03:19] #1184 closed

[2017-03-08 09:04] jaksmid opened #1196 "Gensim error when loading FastText"
Hello,

I downloaded fasttext [English wikipedia](https://s3-us-west-1.amazonaws.com/fasttext-vectors/wiki.en.zip)

I simply executed `model = FastText.load_fasttext_format('/Users/smidj/Repositories/snippetbot/data/fasttext/wiki.en/wiki.en')`

I got an error:
[code]

I use Mac OS Sierra, python 3.6 (in virtaulenv), and gensim version 1.0.1.

Thanks,
Jakub

[2017-03-08 11:26] chinmayapancholi13 commented on #999
Hey @tmylk, I would like to work on this issue. I have gone through the relevant code in the ``` train_sg_pair ``` function and also seen the earlier discussions in this thread as well as the Google group mailing list. This is the solution that I think could work.
We can add a boolean parameter ``` enable_loss_logging ``` in the function ``` train_sg_pair ``` to toggle whether we want to log the l

[2017-03-08 11:52] chinmayapancholi13 commented on #746
Hey! I found the following resources to be relevant as well.
https://github.com/alexandres/lexvec
http://cistern.cis.lmu.de/meta-emb/
https://github.com/icoxfog417/fastTextJapaneseTutorial
https://levyomer.wordpress.com/2014/04/25/dependency-based-word-embeddings/
http://www.socher.org/index.php/Main/ImprovingWordRepresentationsViaGlobalContextAndMultipleWordPrototypes

[2017-03-08 12:05] markroxor commented on #1196
The corpus seem to be very large to download and hence hard to reproduce. Do you get the same error at a reasonably sized corpus as well?

[2017-03-08 12:19] tmylk commented on #1184
Hi, could you please post your solution here so that future users don't get tripped by it? I am not sure I understand your solution

[2017-03-08 14:19] markroxor commented on #1150
Everything seems alright here https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/ldamallet.py#L237

[2017-03-08 17:55] markroxor opened #1197 "Error while installing gensim"
While installing gensim for my branch [TF](https://github.com/markroxor/gensim/tree/TF). I came across this error

running bdist_egg
running egg_info
writing requirements to gensim.egg-info/requires.txt
writing gensim.egg-info/PKG-INFO
writing top-level names to gensim.egg-info/top_level.txt
writing dependency_links to gensim.egg-info/dependency_links.txt
reading manifest file 'gensim.egg-info/SOU

[2017-03-08 18:30] gojomo commented on #1197
Is the error reproducible? (What precise command did you run, from which exact branch/revision, and do you get the error every time from that directory/command?)

The error message reads like it was attempting to make a ZIP file, but with a timestamp before 1980. Is there a chance that either (1) your system clock was wrong; or (2) some file in your working directory has a fake pre-1980 creation/m

[2017-03-08 18:40] markroxor commented on #1197
I don't think so. I executed `sudo python setup.py install` from my branch https://github.com/markroxor/gensim/tree/TF . No that is not the case anymore.

I suspected the same. I've dual boot configuration I generally use Ubuntu but occasionally switch to Windows. My system clock for Ubuntu is correct but is messed up in Windows (because of an issue with Win10) but in either case both clocks are 5

[2017-03-08 20:26] chinmayapancholi13 commented on #863
Hey @gojomo I would like to work on this issue. If I understood it correctly, once the model has been learned and we are given a set of context words, we need to predict the most probable center word. To do this, we could create a function as follows :

[code]
Here, `context_words_list` is a list containing unicode encoded context words.

Could you please guide me regarding the approach that I am

[2017-03-08 21:41] tmylk opened #1198 "LdaMallet show_topic should use topn parameter name to match other topic models"
There is an inconsistency between `show_topic`-`topn` and `show_topics`-`num_words` in `LdaModel` which is replicated along other topic models in order to standardise the api.

`show_topics` and `print_topics` were standardised among topic models in #755 to match `LdaModel` to use `num_words` as the argument names were confusing.
Later #771 changed `show_topic` and `print_topic` to use `num_words`

[2017-03-08 21:42] tmylk commented on #1150
Closing issue as fixed in #1066.

@piskvorky There is an inconsistency between `show_topic`-`topn` and `show_topics`-`num_words` in `LdaModel` which is replicated along other topic models in order to standardise the api.

`show_topics` and `print_topics` were standardised among topic models in #755 to match `LdaModel` to use `num_words` as the argument names were confusing.
Later #771 changed `sho

[2017-03-08 21:42] #1150 closed

[2017-03-08 22:48] tmylk commented on #1052
wip in #1139

[2017-03-08 23:20] tmylk commented on #911
Original issue fixed in #1191
The issue by @akcom is also closed "as an incorrect usage issue."

[2017-03-08 23:20] #911 closed

[2017-03-09 01:22] tmylk commented on #1196
Does a simple `file.read(model_file)' work for you? It might be related to a [bug](http://bugs.python.org/issue24658) with reading large files on osx

[2017-03-09 04:15] piskvorky commented on #1150
Alright, makes sense, thanks. Let's make it consistent, definitely.

[2017-03-09 08:29] jaksmid commented on #1196
@tmylk Indeed, it does produce the same error. Good catch!

[2017-03-09 11:02] bhargavvader opened #1199 "Wiki Changes"
The [roadmap](https://github.com/RaRe-Technologies/gensim/wiki/Roadmap) page seems to be outdated, and the [Word2Vec & Doc2Vec Wishlist](https://github.com/RaRe-Technologies/gensim/wiki/Word2Vec-&-Doc2Vec-Wishlist) also seems redundant.

[2017-03-09 12:52] tmylk commented on #999
@chinmayapancholi13 Thanks for your suggestion. Could you please add coments to your code and submit a PR? It's easier to leave comments that way.
Also what is the reason for not using the existing `score_sentence_*` code?

[2017-03-09 12:53] tmylk commented on #1197
Closing as not reproduced.

[2017-03-09 12:53] #1197 closed

[2017-03-09 12:57] tmylk commented on #1196
Thanks for reporting it. Could you please post a fix or workaround that you find here? Do we need to add `chunksize` to `read`? We need to make it work on OSX.

[2017-03-09 13:18] tmylk commented on #746
More pre-trained word2vec models from @akutuzov

http://ltr.uio.no/semvec/en/about#models

[2017-03-09 15:13] Sandy4321 commented on #639
Lev
thank you very much for you tube video in Russian
only may youhelp find notbook file you used with code
Spasibo
Sander

On Wed, Nov 9, 2016 at 12:01 PM, Lev Konstantinovskiy <
notifications@github.com> wrote:

[2017-03-09 18:24] gojomo commented on #999
@chinmayapancholi13 - I would ask some of the people who've requested variants of this for what kind of info they expect. I'm not sure if it's just an occasional log-line of a single skip-gram example – it may be more of a running-average, including something that can be read from the model, as opposed to just logged.

@tmylk - the `score` code may work as a model for inspiration, but using it dir

[2017-03-09 18:49] chinmayapancholi13 commented on #999
@gojomo I agree. But the previous relevant discussions (both on Github as well as on the Google mailing list) that I have come across haven't been conclusive as such. As soon as we are able to decide on the exact manner we want the loss value to be utilized, we could progress further.

[2017-03-09 20:01] gojomo commented on #999
Yes, more clarity is required. I think that only people who've been positively craving this feature, for specific uses, can provide it – so we've got to find them and have them express their motivations in more detail. Otherwise we may dream up something that's a waste of effort, or even worse, an extra bit of drag/complication in the code that fits no-one's actual need.

[2017-03-10 06:12] gojomo commented on #1196
It may be enough to just use `np.fromfile(file_handle, dtype=dtype)` in place of the wasteful read-it-all-via-a-string `fromstring`/`read`.

[2017-03-10 11:30] piskvorky commented on #1141
Phrases are quite slow now, because they're written in pure Python. As such, word2vec training consumes its input faster than phrases can supply it (likely reason for the empty queues), so the word2vec training is "starved for data" and slower than it could be.

Rewriting the phrases in Cython/C for performance is pretty easy and high on our TODO list, a much needed feature.

If you want to help o

[2017-03-10 11:30] #1141 closed

[2017-03-10 20:51] petabyte commented on #372
was this resolved? what version?
This is is what I get when I pass a file object to load
  File "Lib\site-packages\gensim\models\word2vec.py", line 1470, in load
  File "Lib\site-packages\gensim\utils.py", line 264, in load
  File "Lib\site-packages\gensim\utils.py", line 329, in _adapt_by_suffix
AttributeError: 'file' object has no attribute 'endswith'

[2017-03-10 21:10] icepieces opened #1203 "No inference method for ldamallet (pyLDAVis gives an error)"
I am trying to use the pyldavis for visualizing my LDA models built by the wrapper for mallet. The only way I can have the visualization to work is to convert the malletlda to a ldamodel. This doesn't allow to use the Gibbs Sampling Inference in mallet and also somehow ignores my stopwords.

[2017-03-10 21:47] pgroth commented on #372
No I don't think so. I never submitted a pull request

[2017-03-10 23:03] barryef opened #1204 "cannot import KeyedVectors in Python 3.5"
Error if I try to import from gensim.models, as was in the original code.

Also error when I tried to import from gensim.keyedvectors based on the page below.

https://radimrehurek.com/gensim/models/keyedvectors.html

Thx much ...

[2017-03-11 06:27] prakhar2b commented on #1204
@barryef could you show the error log please

[2017-03-11 23:01] aditya-iitd commented on #1140
Just type -:" sudo chown -R $USER c:\\program files (x86)\\python36-32\\Lib\\site-packages\\numpy"
in the command prompt. It happens because you are not checking if you have permissions to open that path. This command will change the permissions on those folders.

[2017-03-11 23:02] aditya-iitd commented on #1140
If this does not work tell me I have another way that might work!

[2017-03-12 01:14] tmylk commented on #1204
What gensim version are you using?

[2017-03-12 01:19] tmylk commented on #1203
Hi, Conversion from mallet wrapper format to ldamodel is one way so mallet-specific features Like Gibbs Sampling Inference can no longer be used.
However the stopwords should not be dropped. Do you have a small corpus and code to reproduce?

[2017-03-12 04:25] piskvorky commented on #576
What's the status here?

[2017-03-12 04:39] piskvorky commented on #1021
My 2 cents: we definitely don't want to add a hard dependency on spaCy. It's compiled, slow to load, requires lots of memory and, like @ELind77 and @rpedela say, users may prefer other tools/approaches, for whatever reason.

Apologies for the poor code quality and design of this module (API, comments, documentation etc). It was a student contribution and perhaps our checks weren't as thorough as t

[2017-03-12 04:42] piskvorky commented on #1168
We're moving away from hand-written distributed computation, ala the distributed cluster LDA in gensim.

Integrating with a proper distributed platform, like Spark or TensorFlow, is much preferable.

[2017-03-12 04:53] piskvorky commented on #1188
My guess is something is wrong with your data -- did you check what's inside your `corpus`?

infs and NaNs imply some sort of subtly empty/degenerate input. I say subtly because there are checks in gensim which would output a saner error message, if the input was flat out empty.

[2017-03-12 15:38] barryef commented on #1204
Hi prakhar2b and tmylk,

My gensim version is 0.13

The traceback is below. The original code is line 14. I am now using lines 13 and 15 without apparent problem, so I have a workaround.

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-51-f96276386a43> in <module>()
     12
     1

[2017-03-12 15:44] barryef commented on #1204
Actually, workaround is not working futher along in the code.

The code asks for KeyedVectors.load_word2vec_format

I can't find this function in either
gensim.models.KeyedVectors or
gensim.models.keyedvectors.KeyedVectors.

[2017-03-12 15:59] chinmayapancholi13 commented on #1204
Hey @barryef! The function `KeyedVectors.load_word2vec_format` has been defined in the file **gensim.models.keyedvectors** as a method of the class `KeyedVectors`. Could you please check again if you are looking in the correct file? If you still face an issue, I'd be happy to help further. :)

[2017-03-12 16:15] barryef commented on #1204
OK, I've found my solution. There's an updated version of the markroxor ipynb that only imports Word2Vec and runs without breaking at

https://markroxor.github.io/gensim/static/notebooks/Word2Vec_FastText_Comparison.html

Thanks for being around on the weekend ...

[2017-03-12 16:15] #1204 closed

[2017-03-12 17:28] tmylk commented on #1204
@barryef The 1.0.0 version of gensim contains `KeyedVectors.load_word2vec_format`. Is there a reason for using 0.13.x?

[2017-03-12 17:30] barryef commented on #1204
No. I used pip to install and assumed I had the most recent version. I’ll update.

Thx

From: Lev Konstantinovskiy <notifications@github.com>
Reply-To: RaRe-Technologies/gensim <reply@reply.github.com>
Date: Sunday, March 12, 2017 at 12:28 PM
To: RaRe-Technologies/gensim <gensim@noreply.github.com>
Cc: barryef <bf@imci.us.com>, Mention <mention@noreply.github.com>
Subject: Re: [RaRe-Technologies/g

[2017-03-12 17:35] tmylk commented on #1204
Are you using Anaconda? If yes, need to ping them to update.

[2017-03-12 18:26] tmylk commented on #576
This has indeed become an error in numpy 1.12 and was fixed in #1146

[2017-03-12 18:28] #576 closed

[2017-03-12 19:31] barryef commented on #1204
Miniconda. I don’t know how to ping them.

From: Lev Konstantinovskiy <notifications@github.com>
Reply-To: RaRe-Technologies/gensim <reply@reply.github.com>
Date: Sunday, March 12, 2017 at 12:35 PM
To: RaRe-Technologies/gensim <gensim@noreply.github.com>
Cc: barryef <bf@imci.us.com>, Mention <mention@noreply.github.com>
Subject: Re: [RaRe-Technologies/gensim] cannot import KeyedVectors in Python 3

[2017-03-12 19:49] barryef commented on #1204
Lev, I checked on pip, and pip install gensim is indeed at 0.13 but pip install –U gives gensim 1.01.

From: Lev Konstantinovskiy <notifications@github.com>
Reply-To: RaRe-Technologies/gensim <reply@reply.github.com>
Date: Sunday, March 12, 2017 at 12:35 PM
To: RaRe-Technologies/gensim <gensim@noreply.github.com>
Cc: barryef <bf@imci.us.com>, Mention <mention@noreply.github.com>
Subject: Re: [RaRe

[2017-03-13 02:15] #1162 closed

[2017-03-13 13:00] jaksmid commented on #1196
In that case I am getting
[code]
in the next line of `fasttext.py` - `self.wv.syn0_all = self.wv.syn0_all.reshape((num_vectors, dim))`

[2017-03-13 16:17] jaksmid commented on #1196
I see, so the functionally equivalent is ```np.fromfile(file_handle, dtype=dtype, count=num_vectors * dim)```. Let me check whether it works (it takes some time to load the model).

[2017-03-13 16:29] jaksmid commented on #1196
This works, however I noticed a strange thing. Do we set model size correctly?
The following lines ```model = FastText.load_fasttext_format('/Users/smidj/Repositories/snippetbot/data/fasttext/wiki.en/wiki.en')
print(str(model.vector_size))
print(str(model["hello"]))```
print 100 (should be 300) and then vector of size 300 (correct).

[2017-03-13 19:08] tmylk commented on #999
Anything that helps users decide on the number of epochs and alpha is useful.

Two people in this thread and one person on the mailing list have requested a "cumulative loss after each epoch". @gojomo What more information is needed from them? Starting with a log output is a good first step. If there are requests to store it as dict Keras-style later than that is an easy update.

[2017-03-13 19:24] tmylk commented on #1203
Closing as abandoned. Please re-open when the details are available.

[2017-03-13 19:28] gojomo commented on #1196
Seems `vector_size` mayalso need to be explicitly set. I would definitely do some sanity checks (or unit tests) bases on tiny example fasttext exports, to be sure there's no mis-sizing/mis-alignment happening (that risks leaving everything free of raised exceptions but totally confused//corrupted about real values).

[2017-03-13 19:32] gojomo commented on #999
"Cumulative loss after each epoch" is a good start at more specifics! Do they want it just logged, or stored somewhere in the model for programmatic access? (I think many times people want this to drive their own alpha-decisions or choice-to-stop.) Is a comparable value printed from another implementation (like say fasttext), such that when running in a similar mode, we'd receive confirmation the

[2017-03-13 19:38] tmylk commented on #999
Lets just have it logged at first. We don't have any other standard way yet in gensim to report back on loss/perplexity during training. Getting a dict back as on keras would be good, but that's another pr/issue

[2017-03-13 19:40] icepieces commented on #1203
Hey Sorry but I was in meetings all day, I will try to get a dummy corpus and upload he code later.

[2017-03-14 10:00] jaksmid commented on #1196
The problem seems to be at `fasttext.py` in `load_model_params`.

The `dim` argument is assigned to `self.size`, which does not exist yet. I think this line should be as follows
[code]

Regarding the suggestion of @gojomo, do we have some reasonable sized fasttext model somewhere or do we need to train it?

[2017-03-14 10:11] jaksmid commented on #1196
I am also thinking that the current functionality does not allow to load just vector file together with the `vector_size`.

We load the `vector_size` in `keyedvectors.py.load_word2vec_format`, but we do not store it anywhere. Maybe we can add also create `self.vector_size` in this file and save it for later use in case you just want the model, not the retraining.

What do you think?

[2017-03-14 10:27] jaksmid commented on #1196
I have created the pull request here -
https://github.com/RaRe-Technologies/gensim/pull/1214

[2017-03-14 16:26] already-taken-m17 commented on #814
Hi,
Not sure if this is the right place to put up my doubt, but asking that anyway.
Does trained .bin file of fasttext contains ngram vectors of sizes [3-6] only or ngram vectors of all sizes ? Upon loading the model with gensim and iterating through ngrams, I found that ngrams of all sizes are present.
If ngrams of all sizes are present, then my another doubt is which ngrams are used to make vect

[2017-03-14 16:55] jayantj commented on #814
Hi @already-taken-m17
It depends on the hyperparameters the model was trained with - the default values of `min_n` and `max_n` are 3 and 6.
Which model are you loading?

For out-of-vocabulary words, again, ngrams of sizes [`min_n`,`max_n`] are used (and only those ngrams which were present in the ngram vocabulary of the training data)

[2017-03-14 21:33] markus-beuckelmann commented on #1196
I agree that we should add some unit tests to double–check. How about using `lee_fasttext.bin` which is already included in `test/test_data`, that should be of reasonable size?

[2017-03-15 03:47] already-taken-m17 commented on #814
Hi @jayantj , thanks for the reply.
I trained the model with original C++ fasttext implementation [fastText Github repo](https://github.com/facebookresearch/fastText)
I used following command to train:
`./fasttext skipgram -input data.txt -output model`
This must take default parameters and store ngrams of sizes [3,6].
For iterating through ngrams, I am using model.wv.ngrams after loading the mode

[2017-03-15 09:09] jaksmid commented on #1196
I am looking at the current unit tests and seems like there is already a test for the `load_fasttext_format` in the `test_fasttext_wrapper.py` with some sanity checks. @gojomo, @markus-beuckelmann are those the sanity checks you had in mind or do you suggest adding extra checks?

[2017-03-15 18:57] ajkl opened #1216 "Wrong calculation for max_iter_dump"
In
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/wordrank.py#L144
Shouldnt this line `max_iter_dump = iter / dump_period * dump_period - 1` just be
`max_iter_dump = iter - dump_period` ?

To reproduce try these parameters:
`model = Wordrank.train(wr_path, data, out_dir, iter=100, dump_period=5)`
It will error out with -
[code]

Mainly because `max_iter_dump = iter

[2017-03-15 18:59] pranaydeep-af commented on #1171
@tmylk Apologies for the delay. Had to deal with some college course work.
I went through the save() and load() methods and did a few experiments. The save() method stores a pickle dump of the particular object. So in the case of a corpora.dictionary object that is rendered useless due to the presence of a superior method ie. save_corpus(), however the function may be handy when used for saving pi

[2017-03-15 19:58] tmylk commented on #1216
Cc @parulsethi

[2017-03-15 21:05] parulsethi commented on #1216
Actually WordRank dumps the current iteration's file with the start of next iteration. So basically, we need to do 101 iterations for getting 100th iter file. And hence, the corresponding `max_iter_dump`. though I just noticed that `dump_period` division is redundant.

I've mentioned this thing under **Train Model** in [wordrank quickstart](https://github.com/RaRe-Technologies/gensim/blob/develop/

[2017-03-15 21:28] gojomo commented on #1196
I'm not sure that any of the existing tests verify that the values loaded into gensim for particular words are the same as they would be in the original package. (For example, if vectors for both 'and' and 'the' were similarly corrupted by misaligned-reading, the existing tests of their relationships might still pass.) The verification I'm thinking of could 1st be done just manually, on some known

[2017-03-15 21:56] akutuzov commented on #746
@tmylk the preferred link to the WebVectors service has changed:
http://ltr.uio.no/semvec/ is deprecated, the correct URL now is http://vectors.nlpl.eu/explore/embeddings/

[2017-03-16 03:31] ajkl commented on #1216
Just saw your note in the quickstart notebook. Thats implicit knowledge and i think the code should handle it or warn and not crash.
About your `add 1 to iter` comment, wont that mean you end up making n+1 iterations than n (since iter is 0 indexed) ? Thats not ideal behavior either although you can argue its just 1 more iteration than what the user specified. I dont think its accurate though.
On

[2017-03-16 12:29] jaksmid commented on #1196
So I updated the unittest with the expected values taken either from the vec file or obtained via the original package. Please @gojomo review the updated `load_fasttext_format` whether it is something you had in mind.

Thanks,
Jakub

[2017-03-16 12:55] parulsethi commented on #1216
Yep, I still think if someone input, for ex. 100 iterations, they should get the result of 100th iter only, and not 95 (am I missing any drawback of doing n+1 iteration? as if it's time then there would already be 5 redundant iterations in case of 95)
And in case, the iter%dump_period is not zero, then that extra iteration is not needed, as wordrank would already be doing those extra iterations it

[2017-03-16 19:32] tmylk commented on #1171
@pranaydeep-af Could you please be more explicit and provide code samples when save/load are useful and when they are not? Having difficulty understanding you

[2017-03-17 00:44] tmylk commented on #1196
Potential fix in https://github.com/RaRe-Technologies/gensim/pull/1214

[2017-03-17 06:48] ajkl commented on #1216
sounds good, updated the PR

[2017-03-17 07:38] gabbifish commented on #1184
^ Following up: I stopped filtering rare words given the small size of the corpus. Instead of using the DEFAULT_DICT_SIZE  of 100000 words in the script gensim.scripts.make_wiki, which seems to have surpassed the number of words that actually existed in the corpus, I started with 10000 words and eventually tested larger dict sizes with larger training corpuses.

Hope this helps! 👍

[2017-03-17 19:49] fnielsen opened #1219 "Model saving with gzip gives TypeError in Python 2"
Latest pip-version model saving with gzip gives TypeError in Python 2. It works (as far as I can determine) in Python 3.5.2.
[code]
I was expecting that the model would be saved in a file 'word2vec.pkl.gz'. This happens with Python3 but with Python 2 I get:

[code]
Version information:
[code]

[2017-03-17 19:53] tmylk commented on #1219
Hi, please update smart_open to 1.5.1. It's fixed there

[2017-03-17 20:07] fnielsen commented on #1219
I can confirm that smart_open upgrade make it work. Thanks!

[2017-03-17 20:07] #1219 closed

[2017-03-17 21:11] gojomo commented on #1196
Yes, verifying that the same vector is observed for a test word whether loaded in the original native code, or gensim, addresses my concern.

[2017-03-18 01:46] pranaydeep-af commented on #1171
@tmylk What I meant was, save() load() methods are not useful for corpus maybe, but they are part of the larger SaveLoad class which many derived classes use. As an example, the DocVecsArray() class which saves Doc2Vec arrays after the model is generated also is a base class of utils.SaveLoad.
`model = Doc2Vec(sentences)
...
# store the model to mmap-able files
model.save('/tmp/my_model.doc2vec')

[2017-03-18 06:52] pranaydeep-af commented on #1129
@tmylk Is anyone working on this? Would you like me to add code to create folders?

[2017-03-18 06:57] pranaydeep-af commented on #1136
@tmylk Reproduced. Looking into this.

[2017-03-18 13:43] vlejd commented on #1022
I  think the problem is related to pandas. Please check how does the  ds_sentences.iloc[10]  look like. In my case It converted all sentence tokens into one string "['some','tokens']".  When wmdistance tries to compute len  of this object, it returns 1. Iteration over this object returns only one element which is the "['some','tokens']" string. This string is obviously not in the vocabulary so the

[2017-03-18 13:49] vlejd commented on #1022
I suggest using `ds_sentences.to_csv('/path/to/file)` and `pd.Series.from_csv('/path/to/file')`.

[2017-03-19 01:04] tmylk commented on #1171
Are you saying that corpus should not inherit from SaveLoad?

[2017-03-19 01:16] tmylk commented on #1022
Thanks for the investigation @vlejd . Closing as not related to Gensim. Probably printing oov words in debug logging is a good idea.
Hope @slavadubrov agrees with the resolution above.

[2017-03-19 01:16] #1022 closed

[2017-03-19 02:24] bojone opened #1221 "Can gensim.word2vec implement an activation function in hidden layer?"
the CBOW + HS model has 4 layers:
one hot -- embedding -- sum -- predict proba

the Skip-Gram + HS model has 3 layers:
one hot -- embedding -- predict proba

I want to add an non-linear activation on embedding or sum layers. Is it easy to be implemented? I suggust that gensim.word2vec can give us such an option. It has some special useful application.

[2017-03-19 02:35] pranaydeep-af commented on #1171
@tmylk Yes, that would work because corpus already have independent functions for saving loading. Should I go ahead with that then?

[2017-03-19 21:58] #671 closed

[2017-03-20 05:45] yuquanle opened #1223 "doc2vec"
hi,everyone！
I have read the doc2vec original paper, but I still do not understand how to generate the document vector for the test set.

[2017-03-20 20:07] #1216 closed

[2017-03-20 20:11] tmylk commented on #1082
@ibrahimsharaf It is strange that it can't be reproduced - trying to use an unpickled object that doesn't have a required field should cause an error. what is your code to reproduce?

[2017-03-20 21:17] tmylk commented on #1129
@pranaydeep-af that would be great

[2017-03-20 21:32] gojomo commented on #1221
There's no existing interface for specifying a different activation function, so you'd have to review the code yourself, with a full understanding of what you want to achieve, to see if it's easy. (I'm not sure what benefits you'd be expecting, over the typical word2vec approach. Are you basing this request on some project that's proven benefits of such a change, based on their own implementation/

[2017-03-20 22:02] #863 closed

[2017-03-20 22:19] ibrahimsharaf commented on #1082
here's it (http://codepad.org/EvBkXSgm), I am using PyCharm, changing Gensim versions via project interpreters (I created a simple LDA model in 0.12.0 version then saved it, loaded it in 0.13.3 version at it worked fine!).

[2017-03-20 22:38] tmylk commented on #1105
Closing as fixed

[2017-03-20 22:38] #1105 closed

[2017-03-20 23:09] tmylk opened #1224 "PySpaRNN indexer"
Add and bechmark new Approximate nearest neighbours library from Facebook [PySpaRNN](https://github.com/facebookresearch/pysparnn)

The code needed is the same as for [Annoy integration](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/annoytutorial.ipynb).

[2017-03-21 05:24] pranaydeep-af commented on #1223
Hi,
Try this I-Python Notebook for a detailed guide on using doc2vec with gensim.[Link](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-IMDB.ipynb)
Also have a look at this detailed explanation. [Link](https://rare-technologies.com/doc2vec-tutorial/)

[2017-03-21 06:07] pranaydeep-af commented on #1129
@tmylk Snet PR #1225

[2017-03-21 10:02] markus-beuckelmann commented on #1224
I can work on this. Just to make sure we're on the same page: This would involve implementing a `PySpaRNNIndexer` class (or similar) in `gensim/similarities/index.py` that essentially implements the same interface as `AnnoyIndexer`, querying `PySpaRNN` under the hood?

Additionally, we should probably add a unit test in `gensim/test/test_similarities.py` I guess.

[2017-03-21 12:43] tmylk commented on #1224
Confirm. And a benchmark ipynb is needed too

[2017-03-21 15:42] known-ai commented on #1224
Hi - the way I did it was to modify the PySpaRNN itself to create a method most_similar. See
https://github.com/known-ai/KeyedVectorsANN
 But what I should have really done is create a subclass that adds this method.

Will have to get around to this unless you guys get to it first.

What motivated this was that I couldn't get Annoy to work on my windows machine running Anaconda so I had to find an

[2017-03-21 16:36] markus-beuckelmann commented on #1224
I already wrote most of the code this morning. Will submit a PR either tonight or sometime tomorrow.

[2017-03-21 16:44] known-ai commented on #1224
Nice, I would love to use it!

[2017-03-21 18:48] korostelevm commented on #1019
I ran into this also.. Was taking a look at how updating vocabulary worked in the online for word2vec and tried to replicate the update for doc2vec's doctags.

It seems to work - as in I can train the model with a few examples and then load it, train it more and it will return new doctags and vocabulary in the similarity functions. When storing the updated model I do have to give it a different fi

[2017-03-21 19:43] markus-beuckelmann commented on #1224
I submitted a PR on this that is ready for review ([#1227](http://github.com/RaRe-Technologies/gensim/pull/1227)). A benchmark notebook will follow...

[2017-03-21 22:37] gojomo commented on #1019
As @tmylk notes, the existing vocab-expansion feature (`build_vocab(..., update=True)`) wasn't yet designed/tested for Doc2Vec use – so it might work (because of the significant code overlap), or fail in either subtle or extreme ways (lke a SegFault)... it's an unknown.

The times that it's *not* SegFaulting, there may still be silent corruption – just no memory accesses so bad that they trigger t

[2017-03-22 08:20] knownact opened #1230 "1.0.1 reset_from bug"
code should be:

def reset_from(self, other_model):
        """
        Borrow shareable pre-built structures (like vocab) from the other_model. Useful
        if testing multiple models in parallel on the same corpus.
        """
        self.wv.vocab = other_model.wv.vocab
        self.wv.index2word = other_model.wv.index2word

[2017-03-22 08:32] knownact opened #1231 "DocvecsArray getitem int64 bug"
def __getitem__(self, index):
        """
        Accept a single key (int or string tag) or list of keys as input.

        If a single string or int, return designated tag's vector
        representation, as a 1D numpy array.

        If a list, return designated tags' vector representations as a
        2D numpy array: #tags x #vector_size.
        """
        if isinstance(index, string_types

[2017-03-22 11:55] korostelevm commented on #1019
Thats what it seemed like to me, I forced into the slow mode to debug it -
At the top of doc2vec.py:
[code]

Then replaced the `train` function from word2vec and changed `if FAST_VERSION < 0: ` to always run the python threading.

After this instead of getting a segmentation fault I get this in the traceback:
[code]
Which I think was trying to tell me the index 10 of my doctags is more than the 3

[2017-03-22 14:09] tmylk commented on #1223
Please continue on the mailing list

[2017-03-22 14:09] #1223 closed

[2017-03-22 14:44] chinmayapancholi13 commented on #999
@tmylk @gojomo Here, we want to compute the loss value for EACH EPOCH i.e. the granularity that we are looking for is '1 EPOCH'. However, currently for training the model we first create jobs (using the function `job_producer`) where each job is a collection of sentences and has maximum `MAX_WORDS_IN_BATCH` number of words. And then we create `self.workers` number of threads to take up these jobs

[2017-03-22 15:14] tmylk commented on #1203
@icepieces do you have more exact details to reproduce?

[2017-03-22 15:26] known-ai commented on #1224
I should mention that I had submitted some bug fixes to make PySpaRNN compatible with Python3/Anaconda to their developers and they said the fixes were integrated. I haven't checked this.

[2017-03-22 15:43] chinmayapancholi13 commented on #465
Hey @gojomo . I want to work on this issue but I was hoping to get a little clarity regarding the finer details of our objective. I understood that we want to select a value of `min_count` by ourselves when the user passes the desired value of the max vocab size that he/she wants. But what would we want to do in a case like : count[word1] = 2, count[word2] = 2, count[word3] = 2, count[word4] = 2 a

[2017-03-22 16:39] gojomo commented on #1231
Why? Do you have an example where the chabge works better? Does the change still support indexed-lookup of string doctags?

[2017-03-22 16:42] john-jh-lee commented on #1140
Many thanks to those who have commented. I was finally successful to get GenSim using Anaconda. I think my major problem was that I didn't have Administrator's write permission on some of the folders on my machine. Anyways, thank you all very much!

[2017-03-22 20:25] shubhvachher opened #1233 "testTrainingSgNegative is possibly incorrect"
**File :** gensim/test/test_word2vec.py
**Method :** testTrainingSgNegative
[code]

**Lines that read :**  model = word2vec.Word2Vec(size=2, min_count=1, hs=0, negative=2)
**Should read :** model = word2vec.Word2Vec(size=2, min_count=1, sg=1, hs=0, negative=2)

New testMethod does pass unittests.

Is my assumption correct? If so, should I go ahead correcting this line and submitting?

[2017-03-22 20:53] Kreiswolke commented on #1230
Hi,
I've fixed that bug in my fork 1230. I've tested it in a simple notebook, it works and is ready to pull.

Thanks!

[2017-03-22 21:35] tmylk commented on #1230
@Kreiswolke Thanks. please submit a pull request and include unit tests

[2017-03-22 22:32] gojomo commented on #1233
Yes - it should be teting `sg=1`, both for `model` and `model2`, thanks! Do you see any similar mismatches between intent-of-method, and what's actually tested?

[2017-03-22 22:34] gojomo commented on #1140
Glad to hear that! Good luck!

[2017-03-22 22:34] #1140 closed

[2017-03-22 22:40] gojomo commented on #465
I think it would be a defensible/consistent choice to make the interpretation of `max_vocab` be: "automatically pick a `min_count` for me that results is vocabulary no larger than this value".

In your example, the only `min_count` which could match the `max_vocab=4` constraint would be 3.

If both a `min_count` and `max_vocab` are specified, they should both be satisfied - which in practice would

[2017-03-22 22:44] shubhvachher commented on #1233
Well, I'm trying to familiarize myself with your codebase for GSoC! I'm going through it all anyway :D
Meanwhile, adding fix to PR #1229.

[2017-03-23 02:19] chinmayapancholi13 commented on #465
@gojomo Thanks a lot for the explanation. So, I'll get started with this then.

[2017-03-23 05:34] knownact commented on #1231
it is because index here may be the numpy.int64 type, and the code here will hurt the indexed-lookup of string doctag, so maybe add a addition compare is ok, like:

from numpy import integer:

    if isinstance(index, string_types + (int,)) or isinstance(index, integer + (int,)) :
        return self.doctag_syn0[self._int_index(index)]

[2017-03-23 09:54] nuttyartist commented on #814
@jayantj I'm getting the same error when trying to load "wiki.he.bin" using this command:
`embedding_dict = gensim.models.KeyedVectors.load_word2vec_format(args.embedding_dictionary, binary=True, unicode_errors='ignore')`

I'm getting this error:
[code]

[2017-03-23 09:55] dimeldo commented on #814
@jayantj I'm getting the same error when trying to load "wiki.he.bin" using this command:
`embedding_dict = gensim.models.KeyedVectors.load_word2vec_format(args.embedding_dictionary, binary=True, unicode_errors='ignore')`

I'm getting this error:
[code]

[2017-03-23 09:56] piskvorky commented on #814
@jayantj @tmylk we have a new 10TB disk on `h2` -- feel free to download these "large fastText files" there, for testing.

[2017-03-23 09:56] evanmiltenburg commented on #814
The `.bin` file is *not* in word2vec binary format. Use the `.vec` file and load it with the flag `binary=False`. Or use the FastText wrapper.

[2017-03-23 10:01] dimeldo commented on #814
@evanmiltenburg will definitely try that, thanks.

[2017-03-23 10:14] kris-singh commented on #903
I would work on this if its okay. But i need a to read the paper first. Any other blog that expalins this.

[2017-03-23 10:29] bhargavvader commented on #903
What exactly do you want explained?

[2017-03-23 11:24] jplu opened #1236 "Gensim error when loading French FastText"
Hello,

I'm trying to use the fasttext wrapper in order to load the French model that one can find [here](https://s3-us-west-1.amazonaws.com/fasttext-vectors/wiki.fr.zip). Unfortunately I get the following error:

[code]
I'm using the following environment:

[code]

Steps to reproduce the error:

[code]
I don't know if it is a bug from gensim or an issue from the used model. Any help would be appr

[2017-03-23 12:35] pranaydeep-af commented on #1171
@tmylk How do I proceed with this?

[2017-03-23 18:07] akutuzov opened #1238 "Subsampling in fastText wrapper"
The fastText wrapper currently accepts training hyperparameters as stated by the user and passes them to the fastText binary.  However, there is a problem with `sample` parameter. It specifies the probability of discarding words during training based on their frequency. In the word2vec algorithms it can be safely set to 0 (no subsampling, for example, if one removed stop words from the training co

[2017-03-23 19:12] akutuzov commented on #1236
Try the develop branch of Gensim, I think #1189 has something to do with your problem.

[2017-03-23 19:33] jplu commented on #1236
Unfortunately I get the exact same error, here the steps I have done:

[code]

[2017-03-23 19:49] tmylk commented on #1236
Thanks for reporting. The error is different from `ValueError: invalid vector on line 12898` fixed by @jayantj in #1189.

It might be accidentally fixed in #1214 branch - you are welcome to clone that code.

It would be easier to fix if there was some smaller model to reproduce... Unfortunately the download takes many hours.

[2017-03-23 19:54] gojomo commented on #999
I'm not sure that the people who want this need it strictly "per epoch" as opposed to "recently" or "for the last call to `train()`", etc. – so before implementation focuses too much on that level-of-granularity, I'd prefer more feedback from people eager to use this value.

Currently we don't provide any way to perform reporting/other-tasks between epochs, unless the user is calling `train()` rep

[2017-03-23 19:56] gojomo commented on #1231
I see. A PR with a test for the new case this enables, & the fix, would be welcome.

[2017-03-23 19:59] gojomo commented on #1233
Thanks! Note both sets of changes can be easier to review in separate PRs.

[2017-03-23 20:03] tmylk commented on #1236
Can you partially load the model with `model = FastText.load_word2vec_format('FILENAME.vec')`?

The failing part is `model.load_binary_data('FILENAME.bin')` but you might not need that, depending on your use case.

[2017-03-23 20:14] tmylk commented on #999
Let's log it for the last call to `train` first and then see if there is any feedback after that.

[2017-03-23 20:33] tmylk commented on #1233
@shubhvachher Thanks for your contribution. Please email me/chat on gitter about GSOC.

[2017-03-23 20:34] shubhvachher commented on #1233
@gojomo, Thanks for the advice!
I'm (quite stupidly) working on branch develop in issue #1229. Error on my part!
I have added this minor change there and I acknowledge the difficulty in review. Sorry for that.

[2017-03-23 20:36] shubhvachher commented on #1233
Doing that now @tmylk. I actually do have things to ask! Thanks

[2017-03-23 20:50] jayantj commented on #814
Thanks for the update, good to hear it worked.

[2017-03-23 20:51] jayantj commented on #1236
I've managed to download the model, looking into the bug.

[2017-03-23 23:36] Arcady27 commented on #1019
I use ddd to debug Cython code and it seems that the segmentation fault appears at line 123 of doc2vec_inner.pyx: `g = (1 - word_code[b] - f) * alpha`

[2017-03-24 00:30] tmylk commented on #1019
An appropriate hotfix would be to disable vocabulary expansion for doc2vec models, but a proper fix would be better

[2017-03-24 00:35] tmylk commented on #1171
@pranaydeep-af Could you please investigate what is actualy saved and loaded with the save/load methods in the corpus?

[2017-03-24 00:55] tmylk commented on #1236
Thanks for looking into this @jayantj . I will make a new release after this is fixed.

[2017-03-24 01:29] gojomo commented on #1019
Yes, and the proper fix will require figuring out why the model, post-vocab-update, is using some older or incorrect arrays or sizes, and thus making an improper/illegal memory access.

[2017-03-24 08:20] pranaydeep-af commented on #1171
@tmylk I did that in a comment 9 days ago. Here's the comment again:

 I went through the save() and load() methods and did a few experiments. The save() method stores a pickle dump of the particular object. So in the case of a corpora.dictionary object that is rendered useless due to the presence of a superior method ie. save_corpus(), however the function may be handy when used for saving pickle

[2017-03-24 08:42] jplu commented on #1236
@tmylk your proposal to ```FastText.load_word2vec_format('FILENAME.vec')``` is working.

[2017-03-24 09:33] chinmayapancholi13 commented on #999
@tmylk So does "last call to `train()`" mean that we sum the loss for all the epochs together and log this overall value?

[2017-03-24 10:13] dietmar commented on #999
IMHO it is reasonable that you can only get this if you have your own loop that repeatedly calls `train()`. The "shortcut" of just calling the constructor which does everything for you is there for convenience; People who want more control / more details can live with giving up some convenience.

I would prefer the possibility of getting the loss value programmatically over just producing a log li

[2017-03-25 01:04] gojomo commented on #999
@chinmayapancholi13 If some sort of running-average loss is simply accumulated in one place, oblivious to the epoch, whatever that value is when `train()` ends may be what's of use. (There's no epoch-specific losses to be summed.)

[2017-03-25 01:10] chinmayapancholi13 commented on #999
@gojomo Got it. Thanks a lot for clarifying. Also, as @dietmar mentioned, he'd prefer the loss value to be available programmatically instead of just writing the value to a log. So, should the `train` function return the loss value or should we log it?

[2017-03-25 01:55] robotcator opened #1242 "word2vec's reset_from() raise an AttributeError"
#### Description
The word2vec module's function reset_from(other_model) thrown an AttributeError, the sample code are below.

#### Steps/Code/Corpus to Reproduce

[code]

#### Actual Results

the output:
[code]

#### Versions

Linux-3.13.0-24-generic-x86_64-with-Ubuntu-14.04-trusty

('Python', '2.7.6 (default, Jun 22 2015, 17:58:13) \n[GCC 4.8.2]')

('NumPy', '1.11.0')

('SciPy', '0.13.3')

('gens

[2017-03-25 02:02] gojomo commented on #1242
Duplicate of #1230, fix in progress at #1234.

[2017-03-25 02:07] gojomo commented on #999
`train()` already returns a count of the words-trained-over, so adding a loss to what's returned would require redefining the method signature. Accumulating a value in the model, to be retrieved later when needed as in @dietmar's example code, seems of most general use. (If it's a running value available when existing log lines are generated, maybe it's added to those lines informationally as well

[2017-03-26 15:43] parulsethi commented on #1020
For the implementation, we can add a parameter for user to define the words to be deleted and then the code for the deletion can be added in `scan_vocab()` as @gojomo suggested. (by deleting corresponding word key from `raw_vocab`)

@gojomo @tmylk does this approach sound correct?

[2017-03-27 01:12] gojomo commented on #1020
There's already `trim_rule`, and I believe that it's already safe to manually call `scan_vocab()`, then modify the `raw_vocab` however desired, then the other steps. So I don't think the library needs any more parameters/functionality here – there's already plenty (maybe too many) hooks to allow users to do what they need.

[2017-03-27 14:09] jdchoi77 commented on #814
I tried to load using the [`load_fasttext_format`](https://github.com/RaRe-Technologies/gensim/blob/2a70e3a726404cd4230542a35cfd2dc4d63da6f1/gensim/models/wrappers/fasttext.py#L220) function, which takes forever to read the `.vec` file.  It seems like [`fastText`](https://github.com/salestock/fastText.py) manages to load all vectors by just reading `.bin` file, which is much faster.  Would it be p

[2017-03-27 19:08] tmylk commented on #965
Thanks to @SamriddhiJain adding Hanging Indent to pycodestyle in #1202, we can add a check to Travis.

Remaining items:

- [ ] Fix existing 237 hanging indent violations either by hand or by adding hanging indent to `autopep8` package
- [ ] Fix other issues with autopep8
- [ ] Add automatic pycodestyle check to travis

[code]

[2017-03-27 21:18] #1230 closed

[2017-03-27 21:18] tmylk commented on #1242
Fixed in #1234

[2017-03-27 21:18] #1242 closed

[2017-03-28 17:13] Tixierae opened #1245 "Unexpected behavior of intersect_word2vec_format()"
#### Description
According to the [doc](https://radimrehurek.com/gensim/models/word2vec.html#gensim.models.word2vec.Word2Vec.intersect_word2vec_format), I was expecting in-vocabulary words without an entry in the binary file to be removed from the vocabulary:

However, it seems that those words are kept, and their vectors are initialized in some way...

#### Reproducible example
[code]
#### Expect

[2017-03-28 19:30] gojomo commented on #1245
The fact that the documentation says "non-intersecting words are left alone" was intended to communicate that the words remain exactly as they would normally be, at the end of `build_vocab()`. What about that made you think they'd be deleted?

They are randomly-initialized exactly as all vectors have already been, in the usual case of simply preparing them for fresh training, by `build_vocab()` (s

[2017-03-28 19:44] Tixierae commented on #1245
Thanks much for the very quick reply and the clear explanations and tips!

[2017-03-29 12:42] qingfengpai opened #1246 "the return value of model score is not a number"
#### Description

in the document, the use of `model.score()` is below

[code]

it return an array when i use, and the number is negative

#### Code

[code]
#### chain.txt content
[code]

#### Expected Results

#### Actual Results

[code]

#### Versions

- platform: Linux-4.4.0-63-generic-x86_64-with-Ubuntu-14.04-trusty
- sys: Python 3.4.3, GCC 4.8.4
- numpy 1.12.0
- SciPy 0.19.0
- gensim 0.13.4.1

[2017-03-29 20:01] gojomo commented on #1246
Since `score()` can take a sequence of multiple sentences, and returns scores for each of them in order, its return values are also sequences. Since you're providing a list with one sentence, you're getting back an array with one score. (If you provide a list with two sentences, you'll get back an array with two scores, etc.)

Also, since the scores are the *log*-likelihood of a sentence, negative

[2017-03-29 20:18] mataddy commented on #1246
sounds perfect to me @gojomo

[2017-03-29 23:37] tmylk commented on #1246
Closing as "not an issue".
BTW please consider upgrading to 1.0.1

[2017-03-29 23:37] #1246 closed

[2017-03-30 06:41] qingfengpai commented on #1246
@gojomo thanks for your help

 i am still have some question, i want get the probability of a sentence under this model, how can i get a probability of number bewteen 0 - 1

this is my code

[code]
but the result is

[code]

Look forward to your reply

[2017-03-30 13:50] #1052 closed

[2017-03-30 14:03] #1196 closed

[2017-03-31 15:30] Poincare opened #1253 "Error in the doc2vec-lee Python notebook"
#### Description
There's an error in the doc2vec-lee Python notebook due to the fact that `epochs` is not a valid parameter for `model.train` anymore.

#### Steps/Code/Corpus to Reproduce
Run the doc2vec-lee Python notebook, specifically this cell:

[code]

#### Expected Results
Should run the model training.

#### Actual Results
Gives an error:

[code]

#### Versions
On master.

[2017-03-31 18:31] prakhar2b commented on #1238
@tmylk  I'll work on this

[2017-03-31 19:08] tmylk commented on #1253
@Poincare it is valid on the `develop` branch and will be in the 2.0.0 release this week.

[2017-03-31 19:08] #1253 closed

[2017-03-31 19:08] #1245 closed

[2017-03-31 20:00] gojomo commented on #1246
I'm not sure that's strictly possible. The example notebook considers the case where a sentence *definitely* fits into one of the 5 classes (models). So it considers the 5 different log-likelihoods, after scaling and exponentiation, to result in probabilities totaling 1.0. Perhaps in that case the resulting per-class probabilities are realistic, or at least the largest one, and rank ordering, are

[2017-04-01 02:12] prakhar2b commented on #74
@tmylk I would like to work on this. @piskvorky the link above is broken, could you brief me what it was about ?

[2017-04-01 21:49] prakhar2b commented on #1188
@tmylk @piskvorky Above code works completely fine on my system. Indeed, there must be something wrong with the data only. As for ```infs and NaNs``` , and other data sanity checks, another issue is already open #74

[2017-04-03 08:00] robotcator opened #1257 "Monte Carlo Word Mover Distance"
This [repo](https://github.com/jwbaum91/MCWMD) have an implementation of Monte Carlo Word Movers Distance in Python with TensorFlow. Would it be integrated as a new feature in gensim?

[2017-04-03 20:53] gojomo commented on #1257
What kind of tasks does it work well on? Is there a paper/evaluation highlighting its advantages?

[2017-04-03 23:37] piskvorky commented on #74
@prakhar2b I think it was a scipy crash (segfault) when using sparse arrays and indexing an element out-of-bounds.

I wouldn't say this issues is "easy" -- it will need some careful thinking and planning. We definitely don't want to slow down processing too much, by (for example) requiring an extra data pass just to check for bad values.

[2017-04-03 23:42] piskvorky commented on #814
@tmylk how does that SaleStock load its data? We definitely don't want to be slower than other Python tools/wrappers.

[2017-04-04 14:03] alexgarel opened #1258 "Adding common-words to Phrases"
I have a proof of concept of Phrases class managing stop words, but before doing a pull request, I would be glad to know if there is interest and how to integrate it.

That is currently if you are searching to reveal ngrams like "car with driver" and "car without driver", you can either remove stop words before processing, but you will only find "car driver", or you won't find any of those forms (

[2017-04-04 18:25] gpassero opened #1259 "Train a Random Indexing model (RpModel)"
Documentation about the use of RpModel is scarce. Currently, I'm using these docs:
https://radimrehurek.com/gensim/models/rpmodel.html and https://radimrehurek.com/gensim/tutorial.html

I successfully built a LSI model and now I am testing RpModel and LdaModel. However, RpModel seems not to be working. It took some time to generate a TFIDF matrix from portuguese Wikipedia text dumps, but only few

[2017-04-04 18:43] gojomo commented on #1258
Sounds useful, so I would welcome it as an option.

If adding to the existing class could be a small change, and it leaves behavior of 'classic' mode unchanged when not activated, that seems an OK way to add it. But I know there may be some other efforts in progress to optimize (or Cythonize) `Phrases` – so @tmylk may have other preferences about a 1st implementation. (I suppose the other alternat

[2017-04-04 20:46] gpassero opened #1260 "LDA returns only one topic probability"
I trained a LDA model on portuguese Wikipedia texts dump. It worked partially. The problem is that when I use LDA model to transform a TFIDF  bag of words only one topic is returned with probability < 1. Therefore the sum of probabilities of topics is < 1. Did I do anything wrong?

[code]
The only way I could get it to return more than one topic was adding more words.

Am I doing anything wrong?

[2017-04-04 21:39] gpassero commented on #1259
Also, I'd like to reproduce S-Space package RandomIndexing model, which have a parameter "window_size". How can I reproduce window_size=2 in RpModel?

[2017-04-04 22:15] tmylk commented on #1260
Glad you are looking into Brazilian wikipedia!

LDA model takes in a document in bag of words format that is different from TF-IDF. The built-in way to get topics for a term is [`lda_model.get_term_topics('carnaval')`](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/ldamodel.py#L945)

[2017-04-04 22:43] tmylk commented on #1259
RP model takes a simple BOW(not TF-IDF) as input, please try `self.model[dictionary.doc2bow(['cão'])]`.  Tt is fast to initallize because it is [random](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/rpmodel.py#L67). The context in gensim is the whole document so there is no way to choose the window.

There is more information and useful wrapper around this model in https:/

[2017-04-04 22:44] gpassero commented on #1260
@tmylk unfortunately that didn't work. I got no results when I use get_term_topics. If I set the minimum probability I get this:

[code]

Is it ok to have so low probabilities?  The probabilities returned for 'animal' doesn't totalize 1.

I am rebuilding the model with these parameters:

[code]

The parameters I set previously:

[code]

Currently I am not lematizing or stemming tokens. So the matr

[2017-04-04 22:46] tmylk commented on #1260
[PyLdavis](https://github.com/bmabey/pyldavis) and the graphs in #1243 are good general ways to assess an LDAModel.

[2017-04-04 22:49] tmylk commented on #1260
Assume you trained it as in the wiki tutorial and as in this [ipynb](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Topics_and_Transformations.ipynb)

[2017-04-04 22:50] tmylk commented on #1260
As this is not a bug report, suggest to continue the discussion in the mailing list https://groups.google.com/forum/#!forum/gensim

[2017-04-04 22:50] #1260 closed

[2017-04-04 22:53] tmylk commented on #1258
It is a needed functionality and a Pure Python implementation is a good place to start. Please make it optional though.

[2017-04-04 23:10] gpassero commented on #1259
@tmylk I built RpModel just like showed in this notebook https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Topics_and_Transformations.ipynb (with TFIDF on training matrices), except that I had to built the BOW matrices from Wikipedia.

I tried 300, 500 and 2000 topics, but results are awkward. Here is a comparison of the models I built up to now. Take Word2Vec results as refe

[2017-04-04 23:12] tmylk opened #1261 "Improve FastText loading times"
Consider reading just the `bin` file as sugested in https://github.com/RaRe-Technologies/gensim/issues/814#issuecomment-289464725

Compare to C++ code in https://github.com/salestock/fastText.py/blob/77bdf69ee97a7446e314b342b129c5d46e9e4e29/fasttext/fasttext.pyx#L143

[2017-04-04 23:12] tmylk commented on #814
SaleStock is using C++ code closer to original FastText. Created #1261 wishlist issue.

[2017-04-05 02:14] prakhar2b commented on #1261
@tmylk  I would like to work on this

[2017-04-05 12:21] alexgarel commented on #1258
Hello, thanks for the comments, I will begin by providing a pure python stand-alone implementation.

@gojomo, +1 to use common_words as a name.
For your seconde point, I 'm not sure I understand the question !
phrase[["we", "provide", "car", "with", "driver"]] would yield:
["we", "provide", "car with driver"]

[2017-04-05 15:11] tmylk commented on #1259
what is the size of the corpus that you trained it on?

[2017-04-05 16:52] gojomo commented on #1258
Per the example on the elasticsearch page (about "the quick brown is a fox"), I would expect:

input: ["we", "provide", "car", "with", "driver"]

…to yield…

output: ["we", "provide", "car", "car_with", "with", "with_driver", "driver"]

That might be ideal for search-indexing, and some gensim users, but would be unexpected (with unclear implications) for something like Word2Vec neighboring-word co

[2017-04-05 17:34] alexgarel commented on #1258
@gojomo - clearly I just draw inspiration from the common word filter, but it is an adaptation (yielding only car_with_driver)

[2017-04-06 02:13] gpassero commented on #1259
Approximately 1 million documents and more than 100 million tokens (stopwords considered). It's the whole Brazillian Wikipedia.

[2017-04-06 17:56] gojomo commented on #1258
Despite the difficulties for later order-sensitive windows, the elasticsearch approach seems potentially more valuable to me, in that all possibilities are generated, then only some might survive some later frequency- or salience-check. Combining the common-word on both-sides, always, seems likely to create overlong phrases.

For example, what would (or should) happen in longer common-uncommon-com

[2017-04-06 20:55] tmylk opened #1265 "faiss integration similar to annoy"
Integrate Facebook's L2 and dot product similiarity search for dense vectors in a similar way to Annoy
https://github.com/facebookresearch/faiss/

[2017-04-07 04:50] martianmartian commented on #541
so can you only do this?
[code]

[2017-04-07 05:03] chinmayapancholi13 commented on #541
@martianmartian You can initialize the class, build the vocabulary and train the model in 3 different steps as follows :

[code]

[2017-04-07 17:22] KiddoZhu opened #1266 "Segmentation Fault when calling build_vocab()"
I am trying to apply pretrained word2vec weights to doc2vec, but it exits with segmentation fault if I called `build_vocab()` after reseting the weights. There isn't any traceback printed. Perhaps the runtime error is caused by Cython code.

	doc_vectors = Doc2Vec(...)
	pretrained = Word2Vec.load("wiki-sg/word2vec.bin"))
	super(Doc2Vec, doc_vectors).reset_from(pretrained)
	doc_vectors.wv.syn0 = pr

[2017-04-08 00:00] gojomo commented on #1266
This appears to be a duplicate of #1019, so further discussion/investigation/fixing should happen there.

Note that the `update=True` incremental vocab-expansion feature has so far only been implemented/tested with a focus on Word2Vec – so could be crashy-buggy if applied to Doc2Vec.

Similarly, `reset_from()` was intended to borrow properties from a same-type model, so might not work in this fash

[2017-04-08 00:00] #1266 closed

[2017-04-08 02:54] robotcator commented on #1257
@gojomo No, I just found it on a post and didn't find any paper about it.

[2017-04-09 00:47] bruderjakob12 opened #1268 "word2vec.py - reset_from bug"
#### Description
gensim.models.word2vec: reset_from seems to use the wrong variables for vocab and index2word

#### Steps/Code/Corpus to Reproduce
[code]
#### Expected Results

new_model initialized with settings from model

#### Actual Results

Traceback (most recent call last):
  File "test.py", line 8, in <module>
    new_model.reset_from(model)
  File "/usr/local/lib/python2.7/dist-packages/ge

[2017-04-09 01:18] piskvorky commented on #1268
@tmylk needs unit test.

[2017-04-09 01:33] piskvorky commented on #1129
We should definitely **not** create any new folders. That would be unintuitive and against best practices.

I agree with @spearsem that the code apth for `save` is too convoluted. It looks like that function, which started out simple, accumulated too much cruft. @tmylk please simplify and clarify what arguments it accepts: if string, we can afford to save extra files like `.projections` etc. If fi

[2017-04-09 02:46] piskvorky commented on #814
If it's really that annoyingly slow, we could read the code in C (Cython-compiled) -- seems easy enough.

[2017-04-10 05:53] prakhar2b commented on #814
@piskvorky @tmylk Cythonizing would be fine, but as of now, we are first getting info from ` .vec` file and then while reading `.bin` file, we use ```assert``` statement to confirm that there is no mismatch in the info obtained from ```.vec and .bin``` file. This seems unnecessary.

[2017-04-10 06:43] jayantj commented on #814
Yes, it should be possible to load the model only from the `.bin` file without having to read the `.vec` file.
As of now, the `.vec` file is used to initialize the `KeyedVectors` instance, which include:
1. The vocabulary (words and counts)
2. The vectors for the in-vocab words

The `.bin` file contains the in-vocab words too (loaded in `FastText.load_dict`), however the word vectors will have to

[2017-04-10 10:10] shubhvachher commented on #1233
Fixed above.

[2017-04-10 10:10] #1233 closed

[2017-04-10 11:19] shubhvachher opened #1269 "Word2Vec model to dict; Adding to the word2vec to production pipeline"
A lot of users use their trained `word2vec` model in production environments to get `most_similar` words to (for example) words in a user's entered query, or words in complete documents, on the fly. In times like these, using the word2vec model becomes very cumbersome, *often taking the most amount of time in the pipeline.* [1]

What I propose is a `model_to_dict` method, to be used right at the e

[2017-04-10 13:19] amueller opened #1270 "conversion function naming"
Hey. I'm trying to go from the CSR format used in scikit-learn to the gensim for mat and I'm a bit confused.
There is some instructions here:
https://radimrehurek.com/gensim/tut1.html#compatibility-with-numpy-and-scipy

But the naming seems odd. Why is "corpus to CSC" the inverse of "sparse to corpus"?
Looking at the helper functions [here](http://radimrehurek.com/gensim/matutils.html) is even mor

[2017-04-10 13:41] tmylk commented on #1270
In this context corpus is a list/iterator/generator of tuples in bag of words format.

`any2sparse`[https://github.com/RaRe-Technologies/gensim/blob/3d9c5f4a234e1704e30da95aff0d8f0fef5c3740/gensim/matutils.py#L160]

What is the context of this conversion?
We have sklearn pipeline interface for LDA and LSI in gensim as described in this [ipynb](https://github.com/RaRe-Technologies/gensim/blob/devel

[2017-04-10 13:50] amueller commented on #1270
I want to use the word2vec though ;)
Maybe it would be good to have a general wrapper that can be applied to any transformation?

The context is that I'm trying to teach my students about word2vec using gensim and we have only used the sklearn representation so far. I think I got the representation but I'm still confused by the naming.

So in ``any2sparse``, ``sparse`` again means the gensim forma

[2017-04-10 13:57] tmylk commented on #1270
The input to [word2vec](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/word2vec.ipynb) is not a corpus aka a list of tuples, but an iterable of lists of words -  [sentences](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py#L372).
For example [LineSentence](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py#L

[2017-04-10 14:00] tmylk commented on #1270
Actually the simplest gensim - sklearn word2vec integration code is in shorttext package
https://pythonhosted.org/shorttext/tutorial_sumvec.html

[2017-04-10 14:01] amueller commented on #1270
I only want to transform, not train, so then the interface is word-based, right?

[2017-04-10 14:05] amueller commented on #1270
thanks for the hint for shorttext. That doesn't have paragraph2vec, though, right? Btw, is there a pretrained model for that?

[2017-04-10 14:13] tmylk commented on #1270
`model.wv[['office', 'products']]` returns the vector representation as in shorttext [here](https://github.com/stephenhky/PyShortTextCategorization/blob/d95a4de67a03d1b5d5897ff677f37f2fead200b2/shorttext/classifiers/embed/sumvec/SumEmbedVecClassification.py#L107)

Not aware of large doc2vec pre-trained model. This week there will be a small trained doc2vec model with tensorboard viz in this [PR](h

[2017-04-10 14:15] amueller commented on #1270
@tmylk awesome, thanks!
Still think you need to work on your conversion function naming ;)

[2017-04-10 14:20] amueller commented on #1270
pretrained doc2vec here: https://github.com/jhlau/doc2vec though unclear if that's applicable to other domains.

[2017-04-10 14:22] amueller commented on #1270
somewhat unrelated, have you thought about including the feature of using a pretrained word model for the doc2vec as done here https://github.com/jhlau/gensim/commit/9dc0f798f46713c4efadf5a9953d929b9ee0b073 ?

[2017-04-10 14:59] tmylk commented on #1270
Initialization of word vectors by pre-trained is possible to do manually in the main branch without that fork. Though it's debated on the mailing list by @gojomo whether that's helpful or not.

[2017-04-10 18:47] amueller commented on #1270
wv doesn't exist. Which version was it introduced?

[2017-04-10 18:50] amueller commented on #1270
hm upgraded to 1.0.1 ``model.wv`` still doesn't exist.

[2017-04-10 19:10] tmylk commented on #1270
That is strange
[code]

[2017-04-10 19:14] amueller commented on #1270
ah, It's probably because I load the model?
[code]

[2017-04-10 19:14] tmylk commented on #1270
that is not the model, that is just the vectors from the model :)
`w['first'] ` will work then

[2017-04-10 19:15] bruderjakob12 commented on #1268
I guess it is fixed by #1230

[2017-04-10 19:15] #1268 closed

[2017-04-10 22:38] amueller opened #1272 "Monitoring training in word2vec and doc2vec"
Is there any way to monitor training and / or estimate convergence or how long it's gonna run?
There seems to be no verbosity, and I'm not sure how you set the maximum number of iterations in the examples.

[2017-04-11 05:06] rpedela commented on #1258
What about bigrams where one of the words is a stopword and it is actually a phrase? This happens in legal documents such as "Side A" or "Exhibit A". Would the CommonGrams Phraser help with that case?

[2017-04-11 07:23] alexgarel commented on #1258
@rpedela in the implementation I proposed in #1263 no. Common grams are just considered between too *normal* words.

[2017-04-11 08:12] geilerloui opened #1273 "Permission denied when loading DtmModel"
Hi,

I've launched the following code on linux

`
model = DtmModel(dtm_path,
                 corpus,
                 time_seq,
                 num_topics=2,
                 id2word=corpus.dictionary,
                 initialize_lda=False
                )
`

It loads until

INFO:gensim.corpora.bleicorpus:no word id mapping provided; initializing from corpus
INFO:gensim.corpora.bleicorpus:stori

[2017-04-11 12:59] tmylk commented on #1273
@geilerloui Do you have the same error when running the command from the command line?
`'/home/app_ab_bigdata/lgeiler/NPS/bin/dtm-linux64', '--ntopics=2', '--model=dtm', '--mode=fit', '--initialize_lda=false', '--corpus_prefix=/tmp/f50515_train', '--outname=/tmp/f50515_train_out', '--alpha=0.01', '--lda_max_em_iter=10', '--lda_sequence_min_iter=6', '--lda_sequence_max_iter=20', '--top_chain_var=0.

[2017-04-11 13:00] tmylk commented on #1272
There is a request for logging some kind of loss in #999 but it's not implemented yet.

[2017-04-11 13:53] amueller commented on #1272
thanks, closing as duplicate.

[2017-04-11 13:53] #1272 closed

[2017-04-11 17:04] geilerloui commented on #1273
Yes it is the same erorr, actually I've solved it with a chmod but now I have a dependency problem, I can not find "libflags.so.0"  on the internet, I tried to install another version like .2.1 but it doesn't work out.

[2017-04-11 17:44] tmylk commented on #1273
Hi,
Have you tried using DTM [binaries](https://github.com/magsilva/dtm/tree/master/bin)?
Also there is a [pure python DTM](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/ldaseqmodel.ipynb) in gensim.

[2017-04-11 17:44] #1273 closed

[2017-04-11 21:05] tmylk opened #1275 "Port metrics to select number of LDA topics to Python from R"
An R package [ldatuning](http://rpubs.com/siri/ldatuning) implements 4 metrics to select the best number of topics.
The metrics are quite easy to implement.
An ipynb with graphs implementing those metrics would be great.

Also see MDL for LSI ticket #28

[2017-04-11 22:26] gojomo commented on #1270
Looking at this issue history, I see @amueller comments that *seem* to be reating to @tmylk answers... but no @tmylk comments at all. Some github bug?

If you're loading directly into a KeyedVectors, no need to access the `.wv` property - your object is already the vectors.

There's experimental support for merging some pretrained-word-vectors into a prediscovered vocabulary, in `intersect_word2ve

[2017-04-11 22:36] gojomo commented on #1269
I can see this being useful. However, it could take a lot of time/memory to compute. And, it seems like a 1-liner:

    most_similars_precalc = {k : model.wv.most_similar(k) for k in model.wv.index2word}

(The variants would be slightly different if working with some subset of the vocabulary.)

So, this might be more appropriate as some examples in one of the documentation notebooks (with proper c

[2017-04-11 23:54] jhlau commented on #1270
We've done just that. It's all documented in this paper: https://arxiv.org/abs/1607.05368

[2017-04-12 00:04] piskvorky commented on #1270
I can also see only @amueller 's side of the conversation.

`Sparse2Corpus` should probably be called `Scipy2Sparse`, for consistency.

The confusion comes from the fact that both scipy and gensim have been calling their data structure "sparse", for almost a decade now... :( In scipy, it denotes a sparse matrix (CSR, CSC, whatever); in gensim it's anything that you can iterate over, yielding itera

[2017-04-12 00:21] gojomo commented on #1270
@jhlau Thanks for your comment & analysis - but I found some of the parameter-choices and evaluations/explanations in your paper confusing, to the point of not being convinced of that conclusion. Some of my observations are in the gensim forum messages at <https://groups.google.com/d/msg/gensim/MYbZBkM5KKA/lBKGf7WNDwAJ> and <https://groups.google.com/d/msg/gensim/MYbZBkM5KKA/j5OKViKzEgAJ>. As an e

[2017-04-12 01:04] jhlau commented on #1270
Not sure what you are confused about, but looking at your comments:

That seems to correspond to my understanding of doc2vec. What we found is that pure PV-DBOW ('dm=0, dbow_words=0') is pretty bad. PV-DBOW is generally the best option ('dm=0, dbow_words=1'), and PV-DM ('dm=1') at best performs on-par with PV-DBOW, but is often slightly worse and requires more training iteration (since its paramet

[2017-04-12 04:51] piskvorky commented on #1270
Nice thread hijacking! 😆

Perhaps mailing list better?

[2017-04-12 09:24] luoyangen opened #1276 "wordrank_comparisions typeerror"
hi,
    I'm trying to run the [wordrank_comparisions](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Wordrank_comparisons.ipynb), but while training the wordrank model, got the error: TypeError: train() takes at least 4 arguments (7 given).
    I can't figure out whether the code error or my python environment, but other wordrank models is successes trained. waiting for he

[2017-04-12 09:47] medamm1993 opened #1277 "Adapt the online w2v approach to doc2vec"
Is it possible to adapt the online w2v approach to support the doc2vec algorithm ?

[2017-04-12 11:26] tmylk commented on #1277
Vocabulary expansion for doc2vec is not a supported feature. The reason is that the value of this feature is not clear. There hasn't been a study on how useful are the results of this vocab-expansion technique.

Some people got it to work with hs=0 while other modes gave errors. See discussion in #1019

[2017-04-12 11:26] #1277 closed

[2017-04-12 11:28] tmylk commented on #1276
Hi, could you please past the exact line and the full error message?

[2017-04-12 11:36] luoyangen commented on #1276
@tmylk the line is
`get_ipython().magic(u'time wr_model = Wordrank.train(WR_HOME, corpus_file,  **wr_params); wr_model')`

the error log is:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-2-680aa3ec029d> in <module>()
     75         print('\nUsing existing model file {:s}.vec'.f

[2017-04-12 14:06] amueller commented on #1270
Can you give a reference for that - even how that works? That's not described in the original paper, right? [Sorry for highjack-continuation, I'm already on too many mailing lists. maybe separate issue?]

[2017-04-12 20:51] gojomo commented on #1270
@piskvorky - Could discuss on gensim list if @jhlau would also like that forum, but keeping full context here for now.

@jhlau -

For background, I am the original implementor of the `dm_concat` and `dbow_words` options in gensim, and the `intersect_word2vec_format()` method.

I didn't see any specific measurements in the paper about pure PV-DBOW – am I misreading something? (There, as here, I onl

[2017-04-12 21:17] gojomo commented on #1270
@amueller –

The original Paragraph Vectors paper *only* describes that PV-DBOW mode: the doc-vector-in-training, alone, is optimized to predict each word in turn. It's not averaged with any word-vectors, nor does the paper explicitly describe training word-vectors at the same time – though it's a naturally composable approach, given how analogous PV-DBOW is with skip-gram words, with the PV-DBOW

[2017-04-12 23:09] jhlau commented on #1270
Indeed. Its performance is far worse than PV-DBOW with SG so we omit from including them entirely.

I disagree that is a fairer comparison. What would be a fairer comparison, though, is that you are extracting the most optimal performance from both methods. If PV-DBOW without SG takes longer to converge to optimal performance, then yes I agree that one should train it more (but not arbitrarily set

[2017-04-13 01:14] gojomo commented on #1270
My concern is that without seeing the numbers, & knowing what parameters were tested, it's hard to use this observation to guide future work.

Sure, never mind any default epoch-counts (or epoch-ratios). The conjecture is that even though PV-DBOW-without-SG may benefit from more epochs, these are so much faster (perhaps ~15X in the `window=15` case) that a deeper search of its parameters may still

[2017-04-13 02:59] amueller commented on #1270
@gojomo Ah, in the original paper i thought they implemented Figure 2 but they actually implemented Figure 3 (I only skimmed).

[2017-04-13 03:49] gojomo commented on #1270
@amueller - I'd describe it as, figure-2 is PV-DM (available in gensim as `dm=1`, with potential submodes controlled by `dm_mean` and `dm_concat`), and figure-3 is PV-DBOW (available in gensim as `dm=0`, with potential skip-gram training interleaved with `dbow_words=1`).

[2017-04-13 20:14] souravsingh commented on #1275
Do we make use of the rpy2 bridge or write the code in Python from scratch?

[2017-04-13 20:30] tmylk commented on #1275
It is easier to write in Python from scratch

[2017-04-14 13:20] shashankg7 opened #1279 "File not found error in wordrank wrapper"
Hi,

When I try running the wordrank wrapper on a sample corpus, I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/gensim/models/wrappers/wordrank.py", line 105, in train
    utils.check_output(w, args=command, stdin=r)
  File "/usr/local/lib/python2.7/dist-packages/gensim/utils.py", line 1167, in che

[2017-04-15 20:48] AaronWang30 opened #1280 "Phrase Detection"
Suppose we have a sentence with 3 words ABC and both (A_B) and (B_C) could be a phrase based on their frequency. It looks like the algorithm now will not output a sentence (A_B) (B_C) but (A_B) C. Why did we design like this or is that a bug?

[2017-04-15 22:22] gojomo commented on #1280
I believe the code is based on the phrases feature that was released with Google's word2vec.c - and so operates in the same way, and in a greedy left-to-right fashion. (That is, phrase-promoting `A_B` precludes `B` from being available for consideration as part of `B_C`, even if the frequency-based analysis suggests `B_C` is a stronger phrase than `A_B`.)

Also, many downstream uses wouldn't expec

[2017-04-15 23:47] tmylk opened #1281 "Average Topic Coherence over several values of topn"
"In contrast to the standard practice of using a fixed value of N (e.g. N = 5 or N = 10), our results suggest that calculating topic coherence over several different cardinalities and averaging results in a substantially
more stable and robust evaluation"
See paper
["The Sensitivity of Topic Coherence Evaluation to Topic Cardinality"](http://people.eng.unimelb.edu.au/tbaldwin/pubs/naacl2016.pdf
)

[2017-04-17 08:04] yunhenk opened #1282 "how do i keep the sentence and paragraph information while processing wiki corpora?"
I want to train the word2vector model with wiki data.So I'd like to keep the sentence and paragraph splitting information when processing the wiki corpora. How should i modify the code to do so? Thanks very much!

[2017-04-17 16:13] nazandr opened #1283 "Strange vector Doc2vec"
some vectors looks like
[code]
but for some sentence return
[code]

[2017-04-17 18:24] gojomo commented on #1283
That's just a different form (scientific notation) of displaying floating-point numbers. For example, the 1st number in your top vector could have been displayed as `-7.33526e-03` – same number, different print-format.

I'm not sure what rule numpy's ndarray class uses to choose one form or the other; it might be a matter of a single (or few, or early) values in a vector being larger than some thr

[2017-04-17 19:27] #1283 closed

[2017-04-18 22:43] tmylk commented on #1282
Please see relevant code [here](https://groups.google.com/forum/#!topic/gensim/fVIgE6orinI)

Let's continue this discussion on the mailing list where this question is a better fit:
https://groups.google.com/forum/#!forum/gensim

[2017-04-18 22:43] #1282 closed

[2017-04-19 05:09] shashankg7 opened #1284 "Error on Word2vec training on tweets"
Hi,

I am trying to train wor2vec embeddings on tweets. I defined the sentence class as follows:

[code]

Voacb. building from this class runs fine. But when I try running the train method, I am getting the following errors:

ValueError: You must specify either total_examples or total_words, for proper alpha and progress calculations. The usual value is total_examples=model.corpus_count.

Not sure

[2017-04-19 05:17] chinmayapancholi13 commented on #1284
@shashankg7 Which version of Gensim are you using? As per the latest release, one would need to explicitly pass epochs parameter and an estimate of corpus size while calling the `train` function. So you would have to pass these parameters like : `vec_model.train(sentences, total_examples=self.corpus_count, epochs=self.iter)`. You could read about this [here](https://github.com/RaRe-Technologies/ge

[2017-04-19 05:29] shashankg7 commented on #1284
@chinmayapancholi13 I see. It was a silly mistake then. Thanks for your help !

[2017-04-19 05:29] #1284 closed

[2017-04-19 05:32] chinmayapancholi13 commented on #1284
@shashankg7 No problem! :) Let me know if you face any other problems. I'd be happy to help.

[2017-04-19 11:27] tmylk commented on #1279
Hi, do you get the same result when running the command from the command line?
If yes, then it is probably to do with user permissions.
The command is printed after "Prepare training data using glove code " in the INFO log

[2017-04-19 16:07] squall-1002 opened #1285 "TypeError: 'int' object is not iterable [LsiModel]"
Hello,

I am trying to create an LSI model on a larger dataset where words are already numerically encoded and available in a numpy array. Thus, I used your tutorial example (https://radimrehurek.com/gensim/tut1.html) as a starting point, but always fail with a **TypeError** when I try to instantiate the LSI model. I can't find my mistake and don't get any helpful input from the provided documenta

[2017-04-20 05:18] tmylk commented on #1280
Closing as resolved if @AaronWang30 allows.

[2017-04-20 05:18] #1280 closed

[2017-04-20 05:22] tmylk commented on #965
Automatic checks added in #1287. It doesn't include hanging indent yet.

Expecting it in a couple of months when https://github.com/PyCQA/pycodestyle/pull/632 is merged in, and flake8 updates its' pycodestyle version.

[2017-04-20 07:50] tmylk opened #1288 "Create a single notebook for all Tensorboard visualisations"
Tensorboard visualisations are now supported for word2vec and [doc2vec](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Tensorboard_doc2vec.ipynb) by @parulsethi

It would be good to combine them all in a sinlge notebook.

Adding a way to visualise LDA, LSI and sklearn NMF vectors would be good too.

[2017-04-24 04:09] danielbdias commented on #497
Hi guys !

Giving some updates on this issue after a while: I've updated the dockerfile to support WordRank, MorphologicalPriorsForWordEmbeddings, DTM and Mallet.

Is there a issue yet with the FAST_VERSION... some dependency broke the version.

Fixing this problem, I'll be able to upload a version to docker hub and create a gensim user there.

Feel free to comment any issue or give any suggestion

[2017-04-24 13:12] sridharmalepati opened #1290 "Error installing gensim on windows : ImportError: cannot import name 'add_newdocs'"
Hi,

Am trying to install gensim on windows 10 under anaconda, am getting the following error:
I did try all the options, pip and easy install. None of them is working.

[code]

Regards
Sridhar

[2017-04-24 17:42] gojomo commented on #1290
The exception actually appears to be happening in a `numpy`-related step – but maybe that's a side-effect of the attempted `easy_install` – which is very strongly deprecated in favor of using `pip`.

Can you try starting with a fresh conda/anaconda environment, be sure to uninstall gensim (if present), then simply use `pip install gensim', and see if that works, or gets a similar error?

[2017-04-24 17:48] sridharmalepati commented on #1290
Thanks @gojomo for your response !!...

Infact i had tried this already...it says installed...but when i do a "import gensim" i get a error again :-(
See below. Just to show you I re-ran it. See two screen shots below!
[code]

[2017-04-24 22:24] arashsa commented on #814
I am having some issues reading fasttext files.

[code]

The above code works, but with that I'm not able to get oov words.

[code]

With the above code I get the error:

`AttributeError: 'FastTextKeyedVectors' object has no attribute 'load_binary_data'`

There are no examples in the documentation as to the best way to read a fasttext file and get oov vectors.

[2017-04-25 00:41] piskvorky commented on #814
@tmylk if so, please update the docs with your team.

[2017-04-25 02:02] gojomo commented on #1290
It again seems like a problem with the numpy installation.

Are you using a fresh, independent (ana)conda environment? (That may not be the case; it looks like packages are being used from a sitewide `site-packages` instead of a specific conda environment. An isolated conda environment to control what is installed for a specific project is often a good idea.)

Have you tried uninstalling and reins

[2017-04-25 08:00] sridharmalepati commented on #1290
Thanks @gojomo , its working now!

I uninstalled numy and gensim and then installed numpy and gensim and it works now!

[code]
Regards
Sridhar

[2017-04-25 12:10] #1290 closed

[2017-04-25 14:30] tmsimont opened #1291 "Word2Vec original C is faster"
Cython is installed, gensim is version 0.12.1
[code]
says `1`

To generate the gensim results, I have run this:
[code]

I ran the c-implementation like this:
[code]
(I looped this script and passed in `seq 48`)

The c version was built with these flags:
[code]

The machine is a single node that has 2 Intel Xeon E5-2650v4 Broadwell-EP CPUs with 24 total cores (12 cores per processor). The cpu's sup

[2017-04-25 14:38] tmsimont commented on #1291
I should note that I am using `virtualenv`... I'm not sure if that affects the speed?

[2017-04-25 14:41] tmsimont commented on #1291
output log attached, too
[ns.log.orig.txt](https://github.com/RaRe-Technologies/gensim/files/955436/ns.log.orig.txt)

[2017-04-25 15:06] tmsimont commented on #1291
It seems the key is the compiler optimizations on the C program. Without them, gensim is much faster than the C implementation. It seems then that gensim is only faster than C without compiler optimization?

[code]

[2017-04-25 17:27] gojomo commented on #1291
It's a known issue that gensim's Cython routines don't get the same nearly-linear speedup with the number-of-cores.

A major factor is that some portions of the implementation are still in pure Python, or otherwise still hold the "GIL" – notably the corpus iteration/tokenization, parcelling of job-sized chunks to threads, and lookup of word-tokens to array-indexes. All such sections are still limi

[2017-04-25 17:30] gojomo commented on #1291
Also: running in a virtualenv shouldn't affect performance. The only thing 'virtual' about such an environment are its paths for discovering executables/modules/libraries – there's no virtualization-of-other-services overhead.

[2017-04-25 17:49] tmsimont commented on #1291
Is this iterator not optimized?
[code]

I'm not familiar with how to do as you say with the optimization of this iterator.

Could it be possible that the compiler optimization simply makes the C code run faster than the gensim python implementation?

[2017-04-25 18:29] gojomo commented on #1291
Here's the Text8Corpus code:

https://github.com/RaRe-Technologies/gensim/blob/14357c182a61c319f591de2cd03b440105144d3a/gensim/models/word2vec.py#L1477

What kind of 'optimized' do you mean? It's still just doing pure-Python (single-threaded) IO and string operations. And for the default `iter=5` it will have to do those things 5 times. If you have the memory, try...

    sentences = list(word2vec

[2017-04-25 18:30] tmsimont commented on #1291
Yes I'm sure that the threading limitations are the largest factor for more than 12 cores, but even for 12 and under, and even just for 1 core, the C implementation is faster. I will try turning the sentences to a list first. and re-run the test.

[2017-04-25 18:35] gojomo commented on #1291
Updated my comment above to add point that Cython code is compiled by the same C-compiler, likely with same optimization level.

Things to try include:
* in-memory corpus
* larger corpus (perhaps just by using a larger `iter` value)
* more compute-intensive parameters (to extend the time spent in nogil blocks): size++, negative++, window++

The interthread handoffs in gensim – a single producer-th

[2017-04-26 15:01] arashsa opened #1292 "Word Mover's Distance slow for fasttext"
I am testing the fasttext wrapper:

[code]
Then I am trying the Word Mover's Distance function. In comparison with the doc2vec format, it is very slow. Is there a way to make this function faster?

[2017-04-26 17:09] kalinkirev opened #1293 "Gensim Doc2Vec most_similar crashes when executed inside Celery Task"
#### Description
I have and trained a doc2vec model. and a simple method that calls the most_similar function. When there is new text, i am inferring the vector from the trained model and then passing it on to most_similar function. It all works as expected. However, if i pass this function to Celery+Redis server it throws an exception. Please note that that Celery is Celery Flask_SQLAlchemy optim

[2017-04-26 18:48] gojomo commented on #1292
Word Mover's Distance inherently requires a lot of computation. There might still be possible optimizations in the library gensim uses (PyEMD) or what gensim does – but there are no easy switches to throw for extra speed.

My only suggestions are to ensure you're caching reusable values in your application, and figure ways to only calculate pairwise WMDistances among likely candidates.

[2017-04-26 19:06] gojomo commented on #1293
Are you sure the error is occurring in `most_similar()`? You may want to split the `return` line to do the `most_similar()` separately, and print debug info if it's completed, to be sure that's where the segfault occurs.

How large is your model, and what does memory usage look like on the worker-machine, just before the operation is attempted? Can you test with a tiny model, and see if the same e

[2017-04-26 19:23] arashsa commented on #1292
@gojomo

Yes, I am aware of the computational complexity. What I don't understand is why it is slower for fasttext vs word2vec. I assume that it might have something to do with fasttext's ngrams, and that the word mover algorithm is computing for each ngram. However, that should still not warrant the overall speed increase when compared to the word2vec class.

Do both classes share the same underl

[2017-04-26 19:43] gojomo commented on #1292
How much slower are you seeing?

Yes, native FastText word-vectors need to be composed from the full-word-token and all subgrams – so each access will be a bit slower. Also, looking at the gensim WMD code (https://github.com/RaRe-Technologies/gensim/blob/7127eeef8304852da589465b338e2bba14e881f1/gensim/models/keyedvectors.py#L414), I see that each word-vector is re-accessed many times during calcul

[2017-04-26 21:03] arashsa commented on #1292
@gojomo Unfortunately I did not time the functions. There was a substantial increase though. I will time them later and report back.

Will examine the code and see if there is a possible increase.

[2017-04-27 01:09] tmylk opened #1294 "Support sparse input in interfaces_getitem when num_best is not None"
Sparse input is ony supported when num_best=None, otherwise errors.
Raised on the mailing list https://groups.google.com/d/msg/gensim/-PhUHorj9-E/N6apxcqnHQAJ

[code]
returns
[code]

[2017-04-27 02:08] tmylk commented on #1292
RWMD should be much faster than WMD but gives similar results. For example it is used in R text2vec package.
However previous attempts at RWMD in gensim have not been performant, but it's on the roadmap.

[2017-04-27 02:15] tmylk commented on #814
@arashsa The code has been updated since the comment above, please use [load_fasttext_format](https://github.com/RaRe-Technologies/gensim/blob/ed49ea63fb0e49450e9219423d19b929e0402ec8/gensim/models/wrappers/fasttext.py#L225) now

[2017-04-27 02:18] tmylk commented on #497
@danielbdias Thanks a lot. Let's wait for FAST_VERSION to be fixed and then publicize it.

[2017-04-27 02:47] tmylk commented on #1285
Hi,

The corpus needs to be transformed first
[code]

[2017-04-27 02:47] #1285 closed

[2017-04-27 16:03] souravsingh commented on #1294
@tmylk I am interested in working on the issue. We basically have to add a check for ``num_best``, correct?

[2017-04-27 16:15] kalinkirev commented on #1293
Thank you for your quick reply. My model is relatively small about 20mb.  First I did try your suggestion and ran ```doc2ve_clf.docvecs.init_sims(replace=True)```, but that still didn't work out.

Then, I ran [Doc2Vec Tutorial on the Lee Dataset.ipynb](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-lee.ipynb) as a separate project. Trained the model and wrapped it

[2017-04-27 16:15] #1293 closed

[2017-04-28 04:01] mchen24 commented on #1159
Thank you all for the interest in the work. The main motivation of the work is to address the scalability issue of PV, in particular, parameters grows with training corpus, as well as inefficiency in generating representation of unseen documents. We found the new method also improves the quality of the learned representation. There's only one additional hyper-parameter for Doc2VecC, which is the c

[2017-04-28 04:07] macanv commented on #1111
I use the IDE of pycharm, in the console, it works well, but in IDE the follow error will be throw:
Traceback (most recent call last):
  File "E:/pro/python/topic_model/gensim/train_word2vec.py", line 9, in <module>
    from gensim.corpora import WikiCorpus
ImportError: No module named 'gensim.corpora'

about load model i use:
from gensim.corpora import WikiCorpus
 my python version is anaconda3(3

[2017-04-29 15:22] marco-c commented on #1292
Yes, I think this is unrelated to fasttext. WMD is slow no matter the embedding algorithm.
There's an open PR about using RWMD and WCD, but it looks like it stalled: https://github.com/RaRe-Technologies/gensim/pull/800.

[2017-05-01 17:00] souravsingh opened #1296 "Integrate Conceptnet in Gensim"
I have found a package for creating a semantic network of common sense knowledge- https://github.com/commonsense/conceptnet5

The word embeddings for the project are available here- https://github.com/commonsense/conceptnet-numberbatch

For a demo on Conceptnet, See here- http://conceptnet.io/

Integrating Conceptnet in Gensim would be really nice feature to have.

[2017-05-02 12:42] jim-kukla commented on #1253
For those still trying to run this example on 1.0.1, you can simply remove that parameter and the rest of the code produces similar results to the saved notebook.

[2017-05-02 18:51] #1231 closed

[2017-05-02 22:15] tmylk commented on #1292
Confirm that is the current status.
Closing as resolved

[2017-05-02 22:16] tmylk commented on #1294
@souravsingh Need to add a new code path when num_best is not None and input is sparse

[2017-05-02 22:19] tmylk commented on #1291
Current status: Awaiting a benchmark on a large in-memory corpus.

[2017-05-02 22:19] tmylk commented on #1288
CC @parulsethi Please comment if you are interested in working on this issue

[2017-05-02 22:20] tmylk commented on #1279
Closing as abandoned.

[2017-05-02 22:20] #1279 closed

[2017-05-02 22:25] tmylk commented on #1270
Closing as resolved open-ended discussion.

[2017-05-02 22:25] #1270 closed

[2017-05-02 22:44] tmylk commented on #1276
Thanks for spotting this. Agree that a positional argument is missing
`Wordrank.train(WR_HOME, corpus_file, 'output_dir', **wr_params)`

CC @parulsethi

[2017-05-02 22:46] tmylk commented on #1269
@shubhvachher Suggest adding it to https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/word2vec.ipynb

[2017-05-02 22:48] tmylk commented on #1257
It would be a very nice addition if it works faster than current Gensim's WMD

[2017-05-02 22:50] tmylk commented on #1019
Current status: only works for hs=0.
Hotfix needed: disable for hs > 0.

[2017-05-02 23:06] tmylk commented on #1259
Switched to mailing list https://groups.google.com/d/msg/gensim/1dBA0ez14rA/nAVU_bXcGQAJ

[2017-05-02 23:06] #1259 closed

[2017-05-02 23:07] tmylk commented on #1261
@prakhar2b that would be great

[2017-05-02 23:07] tmylk commented on #1188
Closing as not reproduced

[2017-05-02 23:07] #1188 closed

[2017-05-02 23:08] tmylk commented on #1238
CC @prakhar2b

[2017-05-02 23:12] prakhar2b commented on #1238
looking into it asap. Thanks

[2017-05-02 23:18] tmylk commented on #1020
Closing as "wont' implement"

[2017-05-02 23:18] #1020 closed

[2017-05-02 23:40] tmylk opened #1298 "Tutorial page overhaul"
The tutorials page at the gensim page http://radimrehurek.com/gensim/tutorial.html
should be re-structured to resemble https://github.com/RaRe-Technologies/gensim/blob/develop/tutorials.md

The tutorials in the MD file should also be structured better according to features.

[2017-05-02 23:41] #1203 closed

[2017-05-02 23:54] tmylk commented on #1082
Current status: awaiting a code fix

[2017-05-02 23:58] tmylk commented on #1236
There is a mismatch in vocab between .bin and .vec files. We should raise it with FastText project that created the model. CC @prakhar2b

[2017-05-03 00:00] tmylk commented on #999
Current status: the running-average loss stored in a field has been specced enough to be implemented.

[2017-05-03 03:41] tmsimont commented on #1291
Changing the input to a list first helps a little bit, but it's still falling short of the C implementation.

I'm using less cores now for better comparison. I'd rather not distract everyone with scalability issues. All of these 12 cores are on a single chip with shared L3 cache, private L1 and L2 caches.

Is there really just a single producer thread? That seems like the most likely bottleneck he

[2017-05-03 04:37] gojomo commented on #1291
There is a single producer thread, and only some of the (most-compute-intensive) code is eligible for full multithreading – with the pure Python parts still subject to the Python GIL. These two factors seem sufficient to me to explain the shortfall, and core utilization readouts may help confirm this... but I'm repeating myself. Trying other variations of parameters or corpus, as suggested above,

[2017-05-03 04:44] gojomo commented on #1292
As implied by original reporter, and noted in my comment, the access pattern used by gensim's WMD code is particularly costly for fasttext vectors that need to be repeatedly re-composed from character ngrams.

While reporter hasn't quantified magnitude of fasttext-specific slowdown, that shouldn't be hard AND the fix is easy. (This would be a good student/1st-timer test & fix.)

[2017-05-03 08:06] jplu commented on #1236
Thanks for the update!

[2017-05-03 10:56] chinmayapancholi13 commented on #999
@tmylk I plan to resume working on this issue starting this weekend. Thanks for your patience.

[2017-05-03 14:04] parulsethi commented on #1288
Sure, I'll take this up

[2017-05-03 21:45] guybartal opened #1301 "Gensim error while loading Hebrew"
#### Description
Gensim error while loading Hebrew

#### Steps/Code/Corpus to Reproduce
[code]
#### Expected Results

#### Actual Results
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
<ipython-input-11-edebc82131f5> in <module>()
      2
      3 #num_dims = 300
----> 4 model = FastText.load_fa

[2017-05-04 19:43] jlorince opened #1302 "Documentation error in Doc2Vec"
This is super simple, but the documentation says the default value of the `sample` parameter in Doc2Vec is 0:

default is 0 (off), useful value is 1e-5.

But the actual default value is 1e-3 (0.001), based on the fact that the DocVec inherits from WordVec, where sample is set to 1e-3. See: https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py#L367

I can confirm this b

[2017-05-05 10:59] dorba opened #1303 "Why does the parameter update order differs from original source code in word2vec model ??"
#### Description
**Original Source code : **
					for (c = 0; c < layer1_size; c++) neu1e[c] += g * syn1neg[c + l2];
					for (c = 0; c < layer1_size; c++) syn1neg[c + l2] += g * syn0[c + l1];

**gensim code :**
                                        l2b = model.syn1neg[word_indices]  # 2d matrix, k+1 x layer1_size
		                        fb = expit(dot(l1, l2b.T))  # propagate hidden -> output

[2017-05-05 15:57] #1303 closed

[2017-05-05 21:27] gojomo commented on #1302
The comment should accurately reflect the current inherited default.

[2017-05-07 10:44] matanster commented on #1301
Looks a bity like https://github.com/RaRe-Technologies/gensim/issues/1236.
The error message might seem to imply a problem with fasttext. I am not sure whether fasttext is embedded/bundled with gensym or whether a newer version of fasttext might be tried as a workaround.

[2017-05-07 12:30] arashsa commented on #814
@tmylk when I try the load_tasttext_format method I get this error:

`AssertionError: mismatch between vocab sizes
`

[2017-05-07 13:52] #1302 closed

[2017-05-08 07:34] tmylk commented on #814
@arashsa There is an actual mismatch in the sizes of vocab in `.vec` and `.bin` sizes. So it is possible it's there for Norwegian. Please report it to FastText for french.

[2017-05-08 12:37] christinazavou commented on #532
My code also does not parallelize.

"""--------------------------------------------My inputs----------------------------------------------------"""
class LabeledLineSentence(object):
    def __init__(self, filename, field):
        self.filename = filename
        self.field = field

    def __iter__(self):
        df = read_df(self.filename)
        for idx, row in df.iterrows():
            text

[2017-05-09 13:27] akutuzov commented on #1238
Thanks! We definitely need a warning here.

[2017-05-09 20:17] mohammad1234 opened #1310 "File not found in wordrank wrapper"
I've been trying to train a wordrank model with the provided text8 data with the workrank package using gensim wrapper, but getting `No such file or directory` error, which is unusual cause  I've verified my wordrank installation by running the demo script provided with wordrank package which runs without any issue. Also i checked the permission on the wordrank installation directory, which should

[2017-05-09 21:21] yangkky opened #1311 ""RuntimeError: release unlocked lock" in numpy mtrand.RandomState.randint while training doc2vec"
#### Description
I'm trying to train a doc2vec model on a set of protein sequences divided into k-mers. With some datasets/divisions into k-mers, the training completes successfully. However, sometimes, I get a RuntimeError:

[code]

#### Steps/Code/Corpus to Reproduce
Unfortunately, I don't know how to reproduce this on a smaller corpus. I've attached the training code (in a Jupyter notebook).
[b

[2017-05-10 08:04] kewlcoder commented on #1236
Has this issue been resolved?
If yes, can you please share the reference?

[2017-05-10 08:04] kewlcoder commented on #1301
Has this issue been resolved?
If yes, can you please share the reference?

[2017-05-10 08:25] Deepak- opened #1312 "Unexpected keyword argument 'doctag_vec' in Tensorboard_doc2vec tutorial"
I  am trying to follow the [Tensorboard_doc2vec](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Tensorboard_doc2vec.ipynb)  tutorial, however when I am trying to save the document embeddings:

`model.save_word2vec_format('doc_tensor.w2v', doctag_vec=True, word_vec=False)`

I get the following error:

    ---------------------------------------------------------------------

[2017-05-10 09:47] #1276 closed

[2017-05-10 09:49] #511 closed

[2017-05-10 10:04] tmylk commented on #1301
Hi @kewlcoder This is not an issue with gensim wrapper but an issue with the trained FastText model as there is a mismatch in vocab between .bin and .vec files. @prakhar2b , could you please investigate and raise an issue in FastText repo?

Please use `FastText.load_word2vec_format('FILENAME.vec')` as a workaround for now.

[2017-05-10 10:04] tmylk commented on #1236
@kewlcoder replied to the same question in #1301

[2017-05-10 10:39] tmylk commented on #532
@christinazavou Try `inputs = list(LabeledLineSentence(self.filename, self.field))` to make sure that it is pre-loaded in memory and exclude any I/O bottlenecks.

[2017-05-10 11:40] Deepak- commented on #1312
@parulsethi Okay thank you, I  will try that!

[2017-05-10 11:48] menshikh-iv commented on #1312
@Deepak- If you would use this now, you can clone `develop` branch from gensim repo.
Another way is wait 1 week, release soon.

[2017-05-10 11:48] #1312 closed

[2017-05-10 12:02] menshikh-iv commented on #1310
@mohammad1234 Can you run command from `utils.check_output(w, args=command, stdin=r)`, you need `command`

@parulsethi Can you add logging running command before run `utils.check_output` [here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/wordrank.py#L102) [example](https://github.com/RaRe-Technologies/gensim/blob/b6c3c2decd8b7b819fcb4d957c0d1dfc484970f5/gensim/m

[2017-05-10 12:24] prakhar2b commented on #1301
@tmylk The mismatch is not only for the pretrained models released by facebook, we are getting this error for all the models trained by fasttext, which was not the case earlier. Something might have changed in the fastText, looking into the code to see if it's intentional, then I'll raise an issue in the fastText repo.

[2017-05-10 14:27] jayantj commented on #1301
The assertion to check for mismatch between vocab sizes between the `.vec` and `.bin` file was written as part of a defensive approach to make sure there weren't any "silent" bugs.
In case the mismatch doesn't make an actual difference, and it is possible to proceed with loading the model, changing the assert to a warning log would be a decent solution.

[2017-05-10 14:54] jm-huang opened #1315 "How to compiler word2vec_inner.c into word2vec_inner.pyd?"
I make some modify on word2vec_inner.c(gensim/models/word2vec_inner.c) but I have no idea of how to compiler it into word2vec_inner.pyd. Can anyone tell me that how to compiler it into word2vec_inner.pyd?(Platform: windows10, 64bit)

I have tried:
gcc word2vec_inner.c -o word2vec_inner.pyd -IC:/Python/include -LC:/Python/libs -lpython27
and get the errors below:
C:\Users\Jimmy\AppData\Local\Temp\c

[2017-05-10 15:21] dgg5503 commented on #1301
About 8 days ago, fastText added two additional int32_t's to the .bin model header. These are "magic" and "version." As of right now, fasttext.py does not account for these integers when reading in model parameters causing it to be off by 2 integers for the rest of the reads. Take a look at the "checkModel" function in https://github.com/facebookresearch/fastText/blob/master/src/fasttext.cc to see

[2017-05-10 15:37] menshikh-iv commented on #1315
`word2vec_inner.c` is autogenerated file from cython, don't change `word2vec_inner.c` manually (you should change `word2vec_inner.pyx` and generate .c file from it with `cython word2vec_inner.pyx`)

[2017-05-10 19:26] christinazavou commented on #532
@tmylk Thanks! This reduces time (1st way was 7 minutes now it's 1 minute and 2nd way was 26 minutes and now it's 7 minutes). However it still utilizes only one core.

[2017-05-11 02:33] groceryheist opened #1316 "Feature Request: Learning symmetric LDA priors from data"
It is great that gensim makes it easy to learn asymmetric alpha and eta priors from data.  However, http://dirichlet.net/pdf/wallach09rethinking.pdf recommend using an asymmetric prior for alpha and a symmetric prior for eta to obtain the best quality topics. Gensim does not support learning symmetric priors. It would be a great and useful feature to have.

[2017-05-11 13:09] menshikh-iv commented on #1316
It's a good idea, thank you @groceryheist, I add this to wishlist

[2017-05-11 13:19] menshikh-iv commented on #1316
LdaModel from gensim support symmetric/asymmetric alpha and symmetric eta
You can see it [in docstring](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/ldamodel.py#L212)

[2017-05-11 13:24] menshikh-iv opened #1317 "Refactor "release part" of Developer page"
Fix incorrect links & add more information about process

[2017-05-11 13:44] menshikh-iv commented on #1316
Small example

[code]

[2017-05-11 13:44] #1316 closed

[2017-05-11 16:25] groceryheist commented on #1316
Thanks.

[2017-05-12 04:31] prakhar2b commented on #1301
@dgg5503 @tmylk @jayantj  struct_unpack for models trained by fastText -
```(self.wv.vocab from .vec file, nwords & vocab_size from .bin using struct.unpack)```

parameter  | fastText (old) | fastText(new)
-------------  | ----------------  | ----------------
len(self.wv.vocab) | 71290 | 71290
nwords | 71290 | 1058682594
vocab_size | 71290 | -350469331

It's not because of addition of `magic` and

[2017-05-12 09:18] menshikh-iv commented on #1311
Thank you @yangkky, you can use external file store service like dropbox, google disk or something else for share your corpus

[2017-05-12 19:25] chinmayapancholi13 commented on #1082
@tmylk @menshikh-iv On running the code below :

[code]

I get the following error :

[code]

So, I believe, I am able to reproduce the issue. However, I wanted to verify the solution that we want here. So while saving, we save a separate file on disk for `self.random_state` (with extension ".random_state"). And while loading, we check if such a file is present on disk. If is it not, we set `self.

[2017-05-12 21:40] jayantj commented on #1301
@prakhar2b Are you sure about this? Looking at those values, it seems very likely to me that we are reading the wrong bytes for the values of `nwords` and `vocab_size`.

Also, on a different note: the issue raised about the model trained on French wiki is quite old, before the FastText `magic` or `version` variables were added. I believe they are probably two different issues.

[2017-05-12 21:49] jayantj commented on #1261
My thoughts about loading the FastText model using only the `.bin` file -
1. Definitely doable, the `.bin` file contains all information about the model
2. The `.vec` file was used mainly to be able to reuse code from `KeyedVectors`, changing to use simply the `.bin` file would require some architectural changes.
3. The next step should be clearly benchmarking the FastText loading times for gensim

[2017-05-13 03:00] prakhar2b commented on #1301
UPDATE : I've solved this. I'll submit a final PR asap. @dgg5503  Indeed magic and version variable caused this error. Thanks for pointing this out.

[2017-05-14 10:01] jli05 opened #1320 "WikiCorpus processes lock-up when run from command line"
When we run the following function from within `iPython`, it runs successfully with multi-processes enabled by the `processes` argument when constructing `WikiCorpus`. However when we put this function in a `.py` file and use `python3 xxx.py` to invoke it, it never processes more than 200 documents, when we press Ctrl-C, there seems to be a semaphore lock-up caused by multi-processes.

[code]

[co

[2017-05-14 11:15] olivierhub commented on #1301
The problem looks deeper than an offset problem.
French embeddings ( and probably hebrew ones also ) work with utf-8, and the dictionary code:
https://github.com/facebookresearch/fastText/blob/master/src/dictionary.cc
does not seem to be utf-8 aware:
in the ::save and ::load methods,
End of word is marked / detected with a (char) 0
save:
out.write(e.word.data(), e.word.size() * sizeof(char));

[2017-05-14 21:17] manneshiva commented on #1294
@tmylk I have fixed this issue and am submitting a PR for the same. Instead of having a separate code path for sparse input and num_best not None, I have added another function, any2sparse_clipped() in matutils and replaced full2sparse_clipped with this function in interfaces.

[2017-05-14 22:50] gojomo commented on #794
As reported on discussion list (https://groups.google.com/forum/#!topic/gensim/N0nMD95N6Iw), the fix as applied wasn't really effective. I think my suggestion is still valid: the line just needs to be at the end of the loop, *outside* any conditionals. (Specifically, de-indented two levels.) The test-for-two-returned-phrases that was added didn't really probe the behavior of `export_phrases()`, bu

[2017-05-14 23:06] prakhar2b commented on #794
@gojomo  I think I should take a shot at this

[2017-05-14 23:08] gojomo commented on #1311
Note the actual error is occurring inside numpy code – and gensim's use of numpy on that `doc2vec_inner.pyx` line (https://github.com/RaRe-Technologies/gensim/blob/fdc01ab1ee350ce223ab9209e911352fba5d4290/gensim/models/doc2vec_inner.pyx#L428) is pretty straightforward. Even though it's in cython, we haven't yet entered a `nogil` section. That makes me suspect a numpy/anaconda bug rather than gensi

[2017-05-14 23:28] joernhees opened #1322 "wiki examples: sample code to get from tfidf doc to wikipedia title/uri and vice versa"
I very much like the LSI and LDA [wiki examples](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/src/wiki.rst), but one aspect that i think is missing is: how to get from tf-idf doc vectors (or later LSI / LDA vecs) back to Wikipedia URIs (or titles if easier) and vice versa?

Am i missing something obvious, or do i have to run another pass over the wiki dump, as the titles aren't sa

[2017-05-15 06:16] yangkky commented on #1311
@gojomo Do you mean Numpy 1.12+?

I'll try updating jupyter and see if it still fails. I'll also upload the corpus soon.

[2017-05-15 08:04] menshikh-iv opened #1323 "Fix wrapper tests"
After running all tests I found some problems

1. [ldavw wrapper](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_ldavowpalwabbit_wrapper.py#L223)
(replace assertEqual to assertAlmostEqual for second element)
[code]

2. [ldamallet wrapper](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_ldamallet_wrapper.py#L110)
(replace assertEqual to assertAlm

[2017-05-15 14:13] sdll opened #1324 "Add Morfessor and Sklearn to Test Requirements in setup.py"
#### Description

1. **testAddMorphemesToEmbeddings** imports `morfessor`, but the module is not declared as a dependence for testing in setup.py. Will adding a try-except loop help?
2. Similarly, **test_sklearn_integration** imports `sklearn`, but it is not mentioned in setup.py.

#### Steps/Code/Corpus to Reproduce

[code]

#### Expected Results

Clear installation.

#### Actual Results

[code]

[2017-05-15 14:23] menshikh-iv commented on #1082
You are right,  @chinmayapancholi13. Just add `logger.warning` if file not present on disk

[2017-05-15 14:32] chinmayapancholi13 commented on #1082
@menshikh-iv However, when we save an LDA model, only 4 files get created currently : *model_name, model_name.expElogbeta.npy, model_name.id2word* and *model_name.state*
But we want to create another file for storing the `random_state` value. So, we then need to modify both `save` and `load` functions. Is this correct?

[2017-05-15 14:38] menshikh-iv commented on #1082
@chinmayapancholi13 yep

[2017-05-15 14:40] chinmayapancholi13 commented on #1082
@menshikh-iv Great! I'll submit a PR for this shortly then.

[2017-05-15 18:16] gojomo commented on #1311
Yes, sorry, I meant Numpy 1.12 or later. (Also beyond non-Anaconda Python, a later Anaconda could also be worth trying while the problem is still recurring.)

[2017-05-15 18:22] yangkky commented on #1311
Here is a link to the corpus:
https://drive.google.com/file/d/0BzIF1ox2Vmq5RkUyU2dNWkswS2s/view?usp=sharing

[2017-05-15 19:20] alekol opened #1326 "Issues with cyrillic (utf-8) when training"
#### Description
I'm training word2vec with Bulgarian Wiki corpora. I am using python 3.5 and during training I'm getting errors in word2vec.update_weights() and word2vec.reset_weights() because implicit concatenation of byte array and strings isn't possible:

[code]
[code]

The exceptions are thrown on the last line of each of the samples above

#### Steps/Code/Corpus to Reproduce
[code]
The Bulg

[2017-05-15 19:30] chinmayapancholi13 commented on #1082
@menshikh-iv For pre-0.13.2 versions, two files are created while saving the model : *model_name* and *model_name.state*. In the post-0.13.2 versions, at the time of loading, the `load` function checks if a `.id2word` file exists on the disk or not. It if doesn't exist, then `result.id2word` is set as `None`. But after this, if one calls the `show_topics` function for the model, we get an error li

[2017-05-15 19:46] tmylk commented on #1324
After this change
https://github.com/RaRe-Technologies/gensim/commit/d3db946bc1a3fd3e22b97c4f85f669398f06ee4b
`pip install gensim[test]` installs them.

However the tests for sklearn and varembed/mofressor shouldn't run when they are not installed, same way as WMD tests. TODO: skip tests if sklearn or morfessor not installed.

[2017-05-15 21:01] tmylk commented on #1082
Yes, `id2word` was moved to separate file in #1039 to work around a Python 2/3 bug. Can we load from the main pickle in in pre-0.13.2?

[2017-05-15 21:04] tmylk commented on #1326
Closing as it's being discussed on the mailing list.

[2017-05-15 21:13] yangkky commented on #1311
Upgrading to numpy 1.12.1 did not resolve the issue.

[2017-05-15 21:36] chinmayapancholi13 commented on #1082
@tmylk Yes. We are able to load from the main pickle for pre-0.13.2 versions. So, `result.id2word` seems to be getting overwritten to `None` while loading a model, using a post-0.13.2 version, which has been saved using a pre-0.13.2 version. Thus, we actually want to execute this code in the `load` function :

[code]

only when loading a model which has been saved using a post-0.13.2 version.
Is t

[2017-05-15 21:57] tmylk commented on #532
@christinazavou That sounds like an issue. Could you please post more about your config?
[code]

[2017-05-15 21:58] tmylk commented on #1315
Modifying the C code is not supported. Cython code should be modified instead.
Closing as not an issue.

[2017-05-15 21:58] #1315 closed

[2017-05-15 21:59] tmylk commented on #1320
@jli05 May I kindly ask about the resolution of this issue in case it comes up in the future here?

[2017-05-15 22:00] tmylk commented on #1312
Released in 2.1.0

[2017-05-15 22:01] tmylk commented on #1082
Looks goodin theory, but waiting for the unit tests :)

[2017-05-15 22:12] chinmayapancholi13 commented on #1082
@tmylk Great! Then I'll try to address both these issues (one of `id2word` and one of `random_state`) in the same PR. Thanks for your feedback. :)

[2017-05-15 22:14] gojomo commented on #1311
I recommend separately reporting to [Numpy's issues](https://github.com/numpy/numpy/issues); I don't see any error in how gensim is calling this method, and the error arises in that code, with regard to locks it manages.

[2017-05-15 22:25] yangkky commented on #1311
@gojomo ok I will do that.

[2017-05-15 22:26] gojomo commented on #532
@christinazavou This would be better discussed on the [project discussion list](https://groups.google.com/forum/#!forum/gensim), as it does not appear you're hitting the known issue tracked here that gensim doesn't parallelize as much as we'd like beyond 2-8 cores, but rather something specific to your usage. That said, there's no surprise that "2nd way" is slower - every call to `train()` will it

[2017-05-16 17:48] jayantj commented on #1236
The issue for loading the French wiki is most likely due to a FastText bug - reported here - https://github.com/facebookresearch/fastText/issues/218

The issue with loading the latest FastText models (including the Hebrew model) is due to a change in the way the new models are stored, and will be fixed in #1319

[2017-05-16 18:15] HarryBaker opened #1328 "Calculate Similarity of Distinct LDA Models"
This is a slightly modified version of topic2topic_difference found here: https://github.com/RaRe-Technologies/gensim/pull/1243

Rather than comparing the similarity of a single LDA model across training iterations, I want to compare the similarity of two distinct LDA models after training. The idea behind this is to calculate the similarity of two distinct LDA models trained on the exact same dat

[2017-05-16 18:50] rasto2211 commented on #74
I would like to work on this issue. Could you please give me some pointers to the code where to start?

[2017-05-16 20:12] Chanchal-Hasan opened #1329 "Not being able to get a FAST VERSION of Gensim"
#### Description

I have installed the C compiler, set path variable, installed cython, and then upgrade the gensim. But still I am not geting the FAST VERSION of gensim. Can you guys help me to find what I am missing here.

#### Steps/Code/Corpus to Reproduce

#### Expected Results

1

#### Actual Results
-1

#### Versions
Cython version 0.25.2
Python version 2.7.13
gensim version 2.0.0
scipy ver

[2017-05-16 21:20] prakhar2b commented on #1329
@Chanchal-Hasan please check that there is a `word2vec_inner.so` file generated after installation. There must be a compilation error.

[2017-05-16 21:45] gojomo commented on #1329
What operating system are you using? How are you installing gensim, and are you installing into a virtual environment? Are there any errors shown when you install gensim?

(When using `pip install gensim`, with the required system development tools available, you usually won't even need cython to be installed. Similarly, if using a conda-based environment, `conda install gensim` won't need cython,

[2017-05-16 23:30] tmylk commented on #1323
Best way to test this fix is in the docker container in #1121

[2017-05-16 23:36] tmylk commented on #74
@rasto2211  Adding a warning to `LdaModel.init` when the input is a list is a good way to start ( item 4 above)

[2017-05-16 23:39] tmylk commented on #1328
Hi, visualisations are the top priority on our roadmap so it would be very welcome.
Just painting the all vs all distance matrix is a good start. But some one number of "best alignment distance" would be nice, very similar idea to [word movers distance](https://markroxor.github.io/gensim/static/notebooks/WMD_tutorial.html)
How do you suggest to match the topics between models?

[2017-05-16 23:41] tmylk commented on #1329
we have wheels for windows and osx that come with pre-compiled C, so there FAST_VERSION should be 1

[2017-05-17 07:31] alekol commented on #1326
Well, there are 3 distinct py3 and unicode-related bugs that I have found and fixed locally so far.

Could you please reopen the issue? I'd like to contribute back the fixes for these

[2017-05-17 11:06] tmylk commented on #1326
Looking forward to the fixes

[2017-05-17 12:54] Chanchal-Hasan commented on #1329
@prakhar2b I have not found any such .so file. I could see the .pxd, .pyx., and .c extensions of word2vec_inner

[2017-05-17 13:13] Chanchal-Hasan commented on #1329
Hi @gojomo I am in Windows7, and not installing into any virtual env. I have downloaded and unzipped the tar.gz source for gensim and installed through "python setup.py install", and no errors shown. Actually gensim is working fine, except that parallelizing word2vec is not happening.

@tmylk  I have not found any such wheels. Can you help me where can I get that.

[2017-05-17 13:21] HarryBaker commented on #1328
I am going to write a script that uses a modified topic2topic_difference to return the all vs all distance matrix of two topic models. I will use this to pair each topic in model 1 with it's most similar topic in model 2, along with it's distance score. I sort this list by distance, and start assigning the most similar topics as matches. If I run into a collision (that is, a topic that has already

[2017-05-17 15:01] gojomo commented on #1329
On Windows, using the 'conda' packager and alternate Python distribution from Continuum Analytics is often a good choice, as they handle many Windows-specific compilations/optimizations well. It's a free product from a commercial entity. (Also both preferring installations from 'pip'/PyPI, and using project-specific vertual environments, are good habits to get into unless you have strong reasons f

[2017-05-17 15:38] parulsethi commented on #1310
The `out_path` is actually a directory that is created inside the wordrank directory to save all the meta data and embedding dumps. It has to be at first level in wordrank directory for handling further file creations/processing, ex. it can be `word_rank_out/`, not `/mnt/word_rank_out/`.

I think `out_path` is a misleading parameter name, `out_name` could be a better option to indicate just the di

[2017-05-17 15:42] tmylk commented on #1329
@Chanchal-Hasan please try installing with `pip install gensim` that will download the pre-compiled wheels from PyPi.

[2017-05-17 15:46] tmylk commented on #1328
Please have a look at the Word Movers Distance code in gensim referenced above - the "minimal transport search" algorithm can be re-used from that package

[2017-05-17 15:55] Chanchal-Hasan commented on #1329
Hi @gojomo , thank you for your follow up on this. However, the problem is, due to the firewall protection, I cannot use Conda on this occasion.

[2017-05-17 17:12] Chanchal-Hasan commented on #1329
Hi @tmylk  I have done that but only with following results. Can yo help me what it means.

![image](https://cloud.githubusercontent.com/assets/28740547/26166637/1d6795ba-3b02-11e7-946c-dfe302627019.png)

[2017-05-17 21:25] jli05 commented on #1320
There remains problem with WikiCorpus multi-processing.

If we run with `p` larger than `l`, the hanging up happens at the exit of function `dump_bow()`.

Could we do some fix to it?

[code]

The code `dump_bow.py` is as below:

[code]

[2017-05-18 04:46] iarroyof commented on #361
I was wondering if there is an efficient method to load only metadata (pointers, probably) of the word vectors file.. Even for smaller corpora loading all vectors into RAM is very time consuming. Currently I have the same problem issue herein reported.

[2017-05-18 13:29] piskvorky commented on #1291
The biggest difference (in favour of gensim) is the BLAS library used. Which I do not see mentioned in this thread.

[2017-05-18 14:02] HarryBaker commented on #1328
Ok, I will check it out. Thanks!

[2017-05-18 15:25] TamouzeAssi opened #1335 "keyedVectors import unresolved"
Hello,

I installed gensim  in Anaconda using the command:

conda install gensim

with conda list command we can see that gensim 1.0.1 is installed.
So, Im using eclipse (Pydev) as an editor.

In the code, i can import gensim normaly. But when i write:

from gensim.KeyedVectors import keyedVectors

I get the following exception:
Traceback (most recent call last):
  File "C:\Users\user\workspace\Te

[2017-05-18 15:30] chinmayapancholi13 commented on #1335
Hey @TamouzeAssi. You'd have to write : `from gensim.models.keyedvectors import KeyedVectors`

[2017-05-18 15:45] TamouzeAssi commented on #1335
Hello @chinmayapancholi13
Thank you. using the line of code that you provide i can call correctly keyedvectors.

My mistake was that i used the same line in:
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/keyedvectors.py

for calling keyedvectors.
Thank you again

[2017-05-18 15:45] #1335 closed

[2017-05-18 16:12] chinmayapancholi13 commented on #1335
@TamouzeAssi Ah. Thanks a lot for pointing that out. :) I'll go ahead and fix this right away so that this doesn't cause any further confusion.

[2017-05-18 17:13] HarryBaker commented on #1328
Word Mover's Distance does seem to work better than the other metrics so far. For the most similar topics it aligns identically with jaccard and kl, but for the "fuzzier" topics I think it does a better job of matching them.

Here is my fork of the project. It's still a work in progress. I need to add in sanity checks and make it fit with gensim's style, but it shows how my code works.

https://gi

[2017-05-18 17:29] tmylk commented on #1328
Thanks for looking into it. Could you please add an ipynb illustrating this point?

[2017-05-18 17:33] HarryBaker commented on #1328
I can't publish the data I'm studying now, but tomorrow I will try to find public data to demonstrate with.

[2017-05-18 18:06] gojomo commented on #361
@iarroyof - Is your issue hitting memory limits while scanning a corpus to discover its vocabulary (this issue), or loading a prebuilt vector set? If the latter, note there's an optional `limit` parameter to `load_word2vec_format()` for just loading some early subset of a Google word2vec.c-format file. (That's usually the most-frequent words, so those that would survive any discarding of less-freq

[2017-05-19 13:11] bgokden opened #1338 "Using pre-trained word2vec models in doc2vec"
Is there a practical way of using pre-trained word2vec models in doc2vec?

There is a forked version of Gensim that does it but it is pretty old.
Referenced here: https://github.com/jhlau/doc2vec
Forked Gensim here: https://github.com/jhlau/gensim

Otherwise I would like to add this feature as jhlau did and merge it back.

[2017-05-19 17:04] gojomo commented on #1338
You can manually patch-up a model to insert word-vectors from elsewhere before training. The existing `intersect_word2vec_format()` may be useful, directly or as an example - it assumes you've already created a model with its own vocabulary (including the frequency info needed for negative-sampling or frequent-word-downsampling), but then want to use some external source to replace some/all of the

[2017-05-19 21:15] tmylk commented on #892
@menshkih-iv let's rebuild conda forge recipe with the recent changes to the test_requires

[2017-05-19 21:54] souravsingh commented on #892
The PR for Conda-forge recipe is here- https://github.com/conda-forge/staged-recipes/pull/1689.

It is currently facing problems with running ``unittest`` tests, otherwise rest looks good.

If we skip the test in the ``test`` section, we can get the recipe to pass all the tests.

[2017-05-19 22:33] tmylk opened #1339 "Add security and update checks from PyUp"
See https://pyup.io

[2017-05-19 23:49] tmylk commented on #892
The tests absolutely must pass in conda.

[2017-05-20 18:24] souravsingh commented on #892
@tmylk I have updated the recipe to reflect the new version of Gensim here- https://github.com/conda-forge/staged-recipes/pull/1689

[2017-05-22 09:20] jasminezz opened #1340 "'ConcatenatedDoc2Vec' object has no attribute 'corpus_count'"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-05-22 13:22] menshikh-iv commented on #1340
Thank you @jasminezz, I reproduce this bug
@robotcator could you please fix this bug in [this notebook](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-IMDB.ipynb)?

[2017-05-22 13:35] macks22 opened #1342 "Allow use of truncated Dictionary for coherence measures"
#### Description
I used the `make_wikicorpus.py` script to parse the latest English Wikipedia. This script filters the extremes in the `Dictionary` using `wiki.dictionary.filter_extremes(no_below=20, no_above=0.1, keep_n=100000)`. I then trained an LDA model on the corpus (see code below). Afterwards, I tried to compute the `c_v` coherence on this corpus using the `Dictionary` produced by the `mak

[2017-05-22 13:44] beeva-enriqueotero opened #1343 "FastText model gets error with typical methods"
#### Description
I get an error with (Spanish) FastText model and methods `doesnt_match`, or `most_similar`:

`AttributeError: 'FastTextKeyedVectors' object has no attribute 'syn0_all'`

#### Steps/Code/Corpus to Reproduce
Download pretrained [(Spanish) .vec](https://s3-us-west-1.amazonaws.com/fasttext-vectors/wiki.es.vec)
[code]

#### Expected Results
`patata`

#### Actual Results
[code]

#### Ve

[2017-05-22 14:34] menshikh-iv commented on #1342
Hello @macks22, thank you for your report. I need some time to reproduce the bug.

It seems to me that the problem in the `texts` variable (i think it contains tokens that not exists in the dictionary, because of `dictionary` parameter in `gensim.corpora.WikiCorpus` used only when you called method `__iter__` (not `get_texts()`) for returning `doc2bow` representation)

Could you please filtering `

[2017-05-22 15:41] macks22 commented on #1342
I'm fairly certain that is the issue; I've modified the `topic_coherence.probability_estimation.p_boolean_sliding_window` method to only try to convert words to their ids if they are actually in the set accumulated from the topics. So far, this appears to have fixed the issue, though I can't be sure until the `get_coherence` method finishes. It is slow on the full wikipedia corpus of texts.

[2017-05-22 16:06] menshikh-iv commented on #1342
@macks22 `coherence="c_v"` so slow, you can try `coherence="u_mass"` (it works significantly faster).

[2017-05-22 17:10] HarryBaker commented on #1328
Do you know if there's been any papers written on measuring the reproducibility of LDA models? I've tried to find papers on the subject, and it doesn't seem like it has been studied. This is surprising, because I would think that guaranteeing reproducibility would be a major part of academic research.  If this hasn't been studied, my department might look into putting out a research paper on the s

[2017-05-22 18:28] HarryBaker commented on #1328
https://pdfs.semanticscholar.org/d6d4/3ee873e40c3186f6313028ef1a4c08225c96.pdf

Seems like it's covering a similar issue. Weirdly, this is the only paper I've found on measuring the stability of LDA topics.

[2017-05-22 20:15] macks22 commented on #1342
@menshikh-iv thank you for the suggestion, but unfortunately the code path for `coherence=u_mass` does not use `p_boolean_sliding_window`, which I suspect is why it is much faster.

[2017-05-22 20:22] prakhar2b commented on #1343
@beeva-enriqueotero For fastText trained models, parameter `syn0_all` is loaded using `.bin` file. See [this line](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/fasttext.py#L304) for context.

A proper way of using `doesn't match` or `most_similar` would be -
[code]

[2017-05-22 20:32] chaitaliSaini commented on #1265
I would like to work on this issue.

[2017-05-22 21:00] tmylk commented on #1265
Great!

[2017-05-22 21:27] macks22 opened #1351 "Scale topic coherence by adding a means to build an on-disk inverted index"
#### Description
The `gensim.models.CoherenceModel`'s probability estimation phase builds an inverted index of terms that occur in the topics. With a few hundred topics, this can be several thousands of terms, each occurring in tens of thousands of documents. To evaluate coherence on, e.g. the entire Wikipedia corpus, requires building an inverted index over the whole corpus for just these terms.

[2017-05-22 21:37] tmylk commented on #965
It seems that  PyCQA/pycodestyle#632  is not moving. An alternative is to use yapf from google. That has a lot of indent flags

[2017-05-22 21:38] tmylk commented on #1351
cc @dsquareindia

[2017-05-22 21:39] tmylk commented on #1342
c_v is the best/recommended coherence so we should make it as fast as possible

[2017-05-23 02:41] robotcator commented on #1340
@menshikh-iv  okay, thank you. And I will fix it.

[2017-05-23 10:40] gauravsaxenaiiit opened #1357 "loading ensemble embeddings take wordrank .word and context file where these files are located i did'nt get this. Is this embeddings are generated by demo script given in wordrank or by your train function given in wordrank wrapper"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2017-05-23 12:14] jayantj commented on #1343
To load the full FastText model, you need the `.bin` file as well as the `.vec` file. The correct usage if you wish to make use of the full model (allowing you to use out-of-vocabulary words) would be -

[code]

If you only wish to use the `.vec` file, the correct usage would be -

[code]

Note that using only the `.vec` prevents you from obtaining vectors for out-of-vocabulary words.

[2017-05-23 12:42] viciousstar opened #1358 "the doc of gensim.matutils.kullback_leibler is wrong"
it should be
Returns a distance value in range **<0,+∞>**

[2017-05-23 14:01] macks22 commented on #1351
Some other options:
1.  [Sqlite FTS tables](https://sqlite.org/fts5.html); the Peewee ORM offers [simple bindings for this](http://docs.peewee-orm.com/en/latest/peewee/playhouse.html#FTS5Model).
2.  Make use of one of the 3rd party libraries that tackles this problem; some good options I found include [chest](https://github.com/blaze/chest) and [shove](https://bitbucket.org/lcrees/shove/src).
3.

[2017-05-23 15:55] macks22 commented on #1351
The PyLucene API is a little painful; lupyne is a project that improves on this situation. [Some examples illustrate this](https://pythonhosted.org/lupyne/examples.html).

[2017-05-23 16:42] gojomo commented on #1343
@jayantj - should 2nd line of your 1st "use of the full model" code block really be `load_word2vec_format()`?

[2017-05-23 16:55] tmylk commented on #1357
CC @parulsethi Let's add more comments in the docstring

[2017-05-23 17:08] jayantj commented on #1343
Thanks - fixed.

[2017-05-23 17:15] shubhamjain74 commented on #1323
In 4th, get_attribute is an attribute of wiki_corpus, not mmcorpus. Also mmcorpus doesn't have any similar attribute that would get the text from the document. How to got about this?

[2017-05-23 20:45] souravsingh commented on #1358
@viciousstar Can you make a PR regarding the change?

[2017-05-23 21:51] tmylk commented on #794
Fixed in #1362

[2017-05-23 21:51] #794 closed

[2017-05-23 22:15] #1198 closed

[2017-05-23 22:59] parulsethi commented on #1357
@gauravsaxenaiiit You can set `cleanup_files=False` to keep the .word and .context files generated by wordrank, and then they can be located in wordrank directory. And embeddings are generted by gensim wrapper's train() not demo script.

@tmylk Sure

[2017-05-24 04:53] viciousstar commented on #1358
@ @

[2017-05-24 04:56] viciousstar commented on #1358
@souravsingh Sorry I do not know how to fix doc, can you make it?

[2017-05-24 22:53] michaelwsherman opened #1363 "models.Phrases only supports word2vec paper's method of scoring potential n-grams"
Based on [this mailing list discussion](https://groups.google.com/forum/#!topic/gensim/6ftKTlIGwJo), it seems desirable if models.Phrases supported alternative methods of scoring potential n-grams instead of forcing the use of the metric in [the original word2vec paper](https://papers.nips.cc/paper/5021-distributed-representations-of-words-and-phrases-and-their-compositionality.pdf) (Section 4).

[2017-05-24 23:07] michaelwsherman opened #1364 "Better support for training word2vec models on a corpus consisting of multiple files"
models.word2vec.LineSentence offers a simple generator that takes either a file object or a path to a single object and reads each line as a sentence where the tokens are separated by whitespaces. This assumes that the corpus to be trained on is all in a single file, which may not be the case. And adding additional files to a word2vec model after its been trained is very complex, requiring multipl

[2017-05-25 00:16] gojomo commented on #1363
Pluggable scoring sounds interesting and useful. The docs and refactoring of Phrases/etc would have to be handled carefully to avoid user confusion or a drag on performance for people using the classic scoring.

I believe there may be a Google Summer-of-Code project to make improvements to gensim's Phrases support – which may be focused on optimizations but might be able to consider other features

[2017-05-25 04:27] piskvorky commented on #1363
One thing to look out for: objects must be serializable, so the "injected function as a parameter" must be named (pickle cannot handle lambdas).

[2017-05-25 05:51] manneshiva commented on #1261
I was looking to use fasttext in python and the gensim wrapper seems to be considerably slower than salestock/fasttext.py . The gensim wrapper takes around 35seconds to load a moderately large(~200K vocab) pre trained model (.bin-1Gb, .vec-0.2gb) while the fasttext.py takes just above a second to load the same model. Posting the cProfile stats for both the runs/loads below:
`Gensim Wrapper`
![imag

[2017-05-25 06:07] piskvorky commented on #1343
@jayantj I've seen several questions about this functionality now.

Worth adding to the [gensim FAQ](https://github.com/RaRe-Technologies/gensim/wiki/Recipes-&-FAQ)?

[2017-05-25 06:28] jasminezz commented on #1340
@robotcator If you fixed it ,please let me know, thank you

[2017-05-25 06:40] menshikh-iv commented on #1364
Hi @michaelwsherman, I think this will be useful. Please, submit your PR

[2017-05-25 06:44] beeva-enriqueotero commented on #1343
Thanks for your answers!

However when I tried `model = FastText.load_fasttext_format('wiki.es')` I've got `AssertionError: mismatch between vocab sizes` :(`

I guess this issue is related to https://github.com/RaRe-Technologies/gensim/issues/1236

Any further advance regarding this error?

Regards

[code]

[2017-05-25 06:44] menshikh-iv commented on #1363
Maybe create PMI & NPMI as methods in Phrases and pass a string with a name to constructor (and match it to the method in `__init__`). This is less flexible, but avoid serialization problems

[2017-05-25 06:47] menshikh-iv commented on #1358
@viciousstar You can change docstring [here](https://github.com/RaRe-Technologies/gensim/blob/df1663fb4dc200d054110aa6f59782e8fa40d966/gensim/matutils.py#L449) and create PR with this change

[2017-05-25 07:04] prakhar2b commented on #1343
@beeva-enriqueotero PR #1319 (supporting both old and new fastText model) resolves this mismatch error. It should be merged very soon.
cc @tmylk

[2017-05-25 07:19] jayantj commented on #1343
@piskvorky Yes, that would be a good idea. Let's wait for #1319 to be merged though, as the version in master/develop right now doesn't have the latest changes required to load the newer FastText models.

[2017-05-25 07:44] jayantj commented on #1261
Hi @manneshiva , thanks for the profiling report.

It could be possible to reduce the time required for loading the .bin file further by optimizing the bottlenecks (we could rewrite them in Cython if required), but we should definitel get rid of the call to `load_word2vec_format`.

Does the profiling report also include what exactly is slow inside the `load_vectors` function? That would be helpful

[2017-05-25 07:59] menshikh-iv commented on #1323
Fixed in [PR1359](https://github.com/RaRe-Technologies/gensim/pull/1359)

[2017-05-25 07:59] #1323 closed

[2017-05-25 08:46] #1301 closed

[2017-05-25 08:49] menshikh-iv commented on #1343
Fixed in [#1319](https://github.com/RaRe-Technologies/gensim/pull/1319)

[2017-05-25 08:49] #1343 closed

[2017-05-25 09:31] ltn614 commented on #1340
I came across the same bug, python 3.5 on ubuntu 16.04

[2017-05-25 09:32] ltn614 commented on #1340
@robotcator , hope you fix it ASAP

[2017-05-25 13:09] beeva-enriqueotero commented on #1343
Thank you very much for your quick and efficient answers! :)

[2017-05-25 14:28] michaelwsherman commented on #1364
Ok, give me a week or two, I've never submitted anything to open source before and I want to make sure I don't create extra work for others by messing something up. But it will come.

Right now its a separate method that just assumes all files in a directory are text files. Should I add some improvements (gzip support? merging it into the LineSentence method and adding input detection?) or just st

[2017-05-25 14:43] michaelwsherman commented on #1363
Right now the code is what @menshikh-iv to try--the scoring methods are specified with a text parameter that needs to be either 'mikolov' or 'npmi'. If this is a good starting point I'll make the pull request--give me a week or two to figure things out since this is the first time I'll be contributing to open source.

@piskvorky, you raise a good point. Is there any easy way to test if a function

[2017-05-25 14:48] menshikh-iv commented on #1364
It's better to start with what you already have, we discuss about another features after your PR

[2017-05-25 17:20] chaitaliSaini commented on #1265
Can you please clarify these two doubts
1. I have to make a new class in index.py file called faissIndexer?
2. I have to use IndexIVFFlat index?

[2017-05-25 21:19] gojomo commented on #1364
When the work is in a single git branch, you can create the PR, get feedback, and continue to update the branch/PR with improvements – so always OK to start with something rough. (You won't mess anything up unless/until it's reviewed and accepted, and you can mark it as 'in progress'/'for review' to indicate it's not yet ready.)

You should use the `smart_open` package for file-opening - it will a

[2017-05-25 22:45] manneshiva commented on #1261
@jayantj
Here is the profiling report on `load_vectors`.
![image](https://cloud.githubusercontent.com/assets/26998249/26469410/84a98984-41b7-11e7-8e4e-ea254d94bfb5.png)

The main bottleneck seems to be the `ft_hash` function. We could also look at ways to optimize `compute_ngrams`(takes ~3.2secs compared to 11secs taken by `ft_hash`). Would Cythonizing `ft_hash` and `compute_ngrams` be sufficient?

[2017-05-26 02:34] robotcator commented on #1340
@jasminezz Sorry for the late reply, cause I have some other things to do these days. Can you post your doc2vec_train_test.py file and tell me your version of gensim?

[2017-05-26 03:34] tmylk commented on #1265
1. Yes. Confirm.
2. Let's start with that one and see how it goes.

[2017-05-26 05:46] menshikh-iv commented on #1082
Fixed in [1327](https://github.com/RaRe-Technologies/gensim/pull/1327)

[2017-05-26 05:46] #1082 closed

[2017-05-26 08:35] robotcator commented on #1340
Hi, the old version of word2vec train method did not provide the parameters of  count and epochs. But the new version of word2vec force the user to calls the train() using explicit count, epochs(https://github.com/RaRe-Technologies/gensim/pull/1237/commits/5e9529b83c6b73d57d71b1794f26a7d5992b899a).  And  in fact the 'ConcatenatedDoc2Vec' object didn't have attribute 'corpus_count'(refer to line 39

[2017-05-26 08:40] robotcator commented on #1340
@menshikh-iv is there need to do modify the class ConcatenatedDoc2Vec's train to provide these parameter to be compatible with the new version word2vec train method (https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_doc2vec.py)

[2017-05-26 16:48] chaitaliSaini commented on #1265
Except save and load functions, i have competed the code. So should i send a PR so that you review and tell if I am on the right track(this is my first contribution to an open source project) .

[2017-05-27 20:57] menshikh-iv opened #1370 "Fasttext incorrect shape in test"
I run all tests and get this error (any python version, `develop` branch)
CC @prakhar2b @jayantj
[code]

[2017-05-28 05:41] prakhar2b commented on #1370
@menshikh-iv yes, we need a test for `training` new fastText model too. In PR 1319, only  test for `loading` new format was required. I'll write the code asap.

[2017-05-28 07:30] menshikh-iv commented on #1340
@robotcator yes

[2017-05-28 16:55] deliciousowl opened #1372 ""Is this really the text format?""
model.wv.save_word2vec_format('occult1.bin', binary=True)
model = KeyedVectors.load_word2vec_format("occult1.bin",binary=True)

Why would this not work? Gensim is honestly the least intuitive library i've ever used

[2017-05-28 17:11] parulsethi commented on #1372
@deliciousowl Please paste the error log you get.

[2017-05-29 04:05] piskvorky commented on #1363
-1 on passing strings instead of functions. Just pass the function as parameter directly.

@michaelwsherman no check is needed. Python uses duck-typing, so it's up to user to pass parameters of the correct type. And I can imagine use-cases where no serialization is needed (user doesn't need to save/load), so a forceful check would be harmful.

[2017-05-29 05:29] gojomo commented on #1363
@michaelwsherman I believe functions are serializable if-and-only-if they're defined globally (at the 'top level'). In that case pickle manages to write them as their global name; then if during unpickling the same function is (already imported) as the same global name, all works as expected.

[2017-05-29 11:46] viciousstar commented on #1358
OK, I had create a PR #1373.

[2017-05-29 15:15] menshikh-iv commented on #1372
@deliciousowl Also please write your python version and gensim version

[2017-05-29 15:31] #1370 closed

[2017-05-29 15:54] menshikh-iv commented on #1370
Fixed in [#1371](https://github.com/RaRe-Technologies/gensim/pull/1371)

[2017-05-29 19:59] tmylk commented on #1372
Closing as this issue is not reproduced in the relevant tests
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_word2vec.py#L232

Please provide code snippets to re-open.

[2017-05-29 19:59] #1372 closed

[2017-05-29 22:54] tmylk commented on #1261
@manneshiva Your help will be very appreciated here as it's a very needed feature. Cython rather than C/C++ is preferred. Happy to mentor it via our incubator programme. CC @menshikh-iv

[2017-05-29 23:30] gojomo commented on #1261
Optimizations of `init_ngrams` & `compute_ngrams` & `ft_hash` short of cythonization might also yield a big speedup. (Avoid the `seterr` toggling every ngram; avoid reconstructing the constants; maybe finding overflow-oblivious approach; maybe inlining ft_hash; restructuring the loops to avoid the `+=` appends and `set()`; maybe even reusing available prefix ngram hashes; etc.)

(Separately: the c

[2017-05-30 00:38] tmylk commented on #1328
@HarryBaker Stability under different random seeds is indeed an important issue. There is also inherent non-determinism in multithreading in MulticoreLDA vs single core LDAModel that would be nice to measure.

BTW see two model comparison graph in #1374

[2017-05-30 11:00] murhafh opened #1375 "Error with model.infer_vector"
#### Description
I trained a doc2vec model and I was using it on my local machine with no issues, then when moving the model and trying to find similarities on a VM I got the following error. Even though I'm using the same version of gensim and Python 2.7

[code]

#### Steps/Code/Corpus to Reproduce
Running this code:
[code]

#### Expected Results
get the similarities

#### Actual Results
The erro

[2017-05-30 11:16] tmylk commented on #1375
what is the gensim version on your local machine where the model was saved?

[2017-05-30 11:28] murhafh commented on #1375
The version is 1.0.1 on my machine and the server I used to train the model, however on the server I used to train the model I used Python 3, although this was not an issue on my local machine when tried to load the model with Python 2.7. Could this be the reason for this error?

[2017-05-30 13:46] murhafh commented on #1375
Actually same result with Python3

[2017-05-30 13:53] murhafh commented on #1375
Another strange thing is that if I change the text to more than one word string it works

```doc_text = "test test"```

No errors.

[2017-05-30 16:23] gojomo commented on #1375
`neg_labels` is only used by the pure-Python code path – so the machine where you're getting this error doesn't have the optimized-cython versions of gensim word2vec/doc2vec training available. You'll want to be sure that the machine has system tools for compilation and for python-extensions – often these are system packages named 'build-essentials' and 'python-dev' – and then re-install gensim, p

[2017-05-30 17:12] shrutiag95 commented on #419
Slow version of gensim.models.doc2vec is being used........ i got this error even after having gcc/g++....
how can i install gcc python plugin...?
pls help me!!

[2017-05-30 18:22] shrutiag95 commented on #910
i got Slow version of gensim.models.doc2vec is being used error....pls help

[2017-05-30 19:32] gojomo commented on #419
@shrutiag95 An old, closed, different issue is the wrong place to ask questions. Please ask on the project discussion list, <https://groups.google.com/forum/#!forum/gensim>, and describe your specific setup (python version, operating system, etc) and what you've already tried.

[2017-05-31 12:40] murhafh commented on #1375
Thank you, it seems like it was due to multiple attempts to install gensim so it lead to some mismatch, I did fresh new OS install and it worked with no issues on the VM

[2017-05-31 12:40] #1375 closed

[2017-05-31 14:04] bhargavvader opened #1376 "sent2vec in Gensim"
The EPFL ML group have come up with a sentence embedding technique, [sent2vec](https://arxiv.org/abs/1703.02507). The repo with the code can be found [here](https://github.com/epfml/sent2vec).

It would be interesting to have this feature in Gensim, either with a wrapper or otherwise.

[2017-05-31 16:57] jayantj commented on #1261
@gojomo Those ideas sound good to me.

About the unused vectors being discarded - the native FastText code doesn't do that. The default value for bucket size is quite large (2 mil) and according to the original comment from the PR for the fastText wrapper - https://github.com/RaRe-Technologies/gensim/pull/847#issuecomment-269330468 - 1.6mil of them are unused even with a mid-sized corpus (text8).

[2017-06-01 04:31] piskvorky commented on #1184
MmCorpus format should always be correct, even if you pass in an empty corpus. Otherwise it's a bug.

So I'm still unsure what the cause of the originally reported error was (trying to parse float as int).

[2017-06-01 10:56] jamesoneill12 commented on #310
I had thought about this as well for a problem I'm working on where it is necessary to incorporate the whole corpus vocabulary.

My initial thought was given an unseen term, find the minimum edit distance to a word that is present in your word2vec vocab. Although this is a naive approach.

[2017-06-01 12:35] bhargavvader commented on #1376
@menshikh-iv could you please add the appropriate labels for this?

[2017-06-01 12:36] piskvorky commented on #310
@jamesoneill12 a little more sophisticated approach has been implemented in fastText (now also integrated into gensim): break the unknown word into smaller character n-grams. Assemble the vector from vectors of these ngrams.

The intuition is similar to your idea -- find similarity in the surface form, and assume similarity on semantic level from that.

[2017-06-01 15:03] menshikh-iv commented on #1376
@bhargavvader of course :)

[2017-06-01 16:02] macks22 opened #1380 "Add a new indirect confirmation measure based on word2vec similarity"
#### Description
As introduced in [1], topic coherence can be computed using word2vec similarity of terms. This is roughly compatible with the coherence evaluation framework posited by [2] and currently implemented in gensim. The probability estimation phase will involve training a word2vec model on the given corpus, and the confirmation measure will use the average cosine similarity between conte

[2017-06-01 16:30] jamesoneill12 commented on #310
@piskvorky That sounds reasonable. If I would add to this, leveraging information about lexical units might be something to consider when choosing the character n-grams, although this might be a bit too expensive with little gain in comparison to a fixed n-gram.

[2017-06-01 20:56] gojomo commented on #1261
IMO text8 is a tiny corpus - it'd be most relevant to see the bucket-load in actual vector sets, like those FB pretrained & released.

Also, even though when we do local training, we may know for sure that an ngram's vector slot has never been trained, it's theoretically plausible that in a file-being read, even slots for ngrams that never appear in the declared vocabulary might have been trained.

[2017-06-02 01:59] shashankg7 opened #1384 ""TypeError: __init__() takes exactly 1 argument (4 given)" error when calling Wordrank"
Hi,

I am trying to run wordrank method on a sample corpus (text8) as described on the documentation page.

I am getting the following error when I run this command:

TypeError: __init__() takes exactly 1 argument (4 given)

[2017-06-02 05:11] gojomo commented on #1384
It looks like the example in the class doc-comment is wrong. From a quick glance through the source (https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/wordrank.py), it appears the class method `train()` has the parameters matching that example. So please try replacing `Wordrank(` with `Wordrank.train(`. (We'll still need to fix the docs.)

[2017-06-02 06:40] shashankg7 commented on #1384
Thanks for your reply. You are right. Using Wordrank.train seems to be working.
Although, for users which don't have Intel libraries installed, slight tweaking needs to be done.

1. Changing compiler from 'ipcc' to 'gcc' in the install.sh script.
2. In wordrank.cpp, removing the code block containing the error message - ""MPI multiple thread not provided!!! (" (I was getting this error when I was

[2017-06-02 07:35] jayantj commented on #1261
I agree, that would be an interesting experiment to do (checking if vectors with no ngrams mapped are within the max-range of randomly initialized vectors).

This discussion about keeping/discarding vectors also directly affects the work on improving loading times - in case the impact (memory-wise) of retaining all vectors is not significant, the loading time automatically improves tremendously, s

[2017-06-02 10:10] souravsingh commented on #1376
I am interested in working on the issue.

[2017-06-02 13:19] macks22 opened #1386 "CoherenceModel save fails if texts or corpus is generator"
#### Description
The `CoherenceModel` fails to save when `texts` or `corpus` is a generator object. This is particularly common for the texts, since that is often produced from the `get_texts` method.

My initial take on a fix: require the user to pass something compatible with the interface of `gensim.corpora.textcorpus.TextCorpus`. This can replace the arguments `texts` and `dictionary`. Then th

[2017-06-02 13:44] colmantse commented on #1376
I am also interested, but I am new on GitHub. Would be great if this could be my first contribution.

[2017-06-02 16:05] macks22 opened #1387 "Add `TextDirectoryCorpus` that yields one doc per file recursively read from directory"
#### Description
Plain text corpuses are sometimes represented using a directory structure with, for instance a top-level directory and subdirectories that represent categories. Then within each subdirectory, each file might be a document. The nesting may run deeper in such directory structures to reflect additional categorization. The popular 20 newsgroups dataset has such a structure. Here is a

[2017-06-02 21:02] sletovsky commented on #198
I think I have solved this. It is a problem with how Anaconda handles cyclic dependencies in imports. [This](https://stackoverflow.com/questions/744373/circular-or-cyclic-imports-in-python) article has a discussion of some of the issues, and gave the critical hint, which is to rewrite problematic  lines such as "from gensim import interfaces" lines to
try:
    from gensim import interfaces
except

[2017-06-02 22:38] parulsethi commented on #1384
Thanks for catching incorrect doc example. fixed in https://github.com/RaRe-Technologies/gensim/pull/1378

[2017-06-03 05:12] shashankg7 commented on #1384
Thanks. I have one more doubt.

Training wordrank model is taking unusually very large time, even for a relatively smaller corpus (brown corpus). Any idea why?

It is utilizing all cores of my machine, still training time is very large. (

[2017-06-03 12:29] piskvorky commented on #1387
I'm not sure this is something we want in core gensim... there's no end to number of similar utility functions we could support, a Pandora's box.

I summarized my thoughts on this topic in this blog post:
https://rare-technologies.com/data-streaming-in-python-generators-iterators-iterables/

@menshikh-iv @gojomo @cscorley @tmylk your thoughts?

[2017-06-03 15:01] menshikh-iv commented on #1358
Fixed in #1373

[2017-06-03 15:01] #1358 closed

[2017-06-03 15:53] menshikh-iv commented on #1387
I think It's a useful feature. I have written similar wrappers many times.
Moreover, it seems this is one of the most popular use-cases.

I understand your position @piskvorky, but where is the line after which we no longer want to add new features?

[2017-06-03 16:03] menshikh-iv commented on #1384
Unfortunately, WordRank fits very slowly, you can try other models if you are not comfortable with the learning time @shashankg7.

[2017-06-03 21:04] macks22 commented on #1387
I can certainly understand not wanting to bloat a code base. I've also written similar wrappers many times. I figured since there's already a `TextCorpus`, this is a similar thing and likely just as useful. However, I can also conceive of a separate repo that aggregates together corpus classes for parsing various data sources in a variety of formats. I would think that if this shouldn't be in gens

[2017-06-04 02:35] piskvorky commented on #1387
Yeah, a separate subpackage (or even a repo) that focuses on various efficient, streamed (parallelized?) readers, for sundry data formats, sounds good to me.

I don't mind including this "subdirs reader" as a blueprint example, it's a common use case as you say. But I'd be -1 on adding many such readers in an ad-hoc manner, at ad-hoc locations, throughout gensim.

[2017-06-04 10:02] quole opened #1391 "sed command in Wiki is Darwin specific. Fails on Linux."
On the [developer wiki page](https://github.com/RaRe-Technologies/gensim/wiki/Developer-page), there's instructions to "re-generate Cython files" which includes the following `sed` commands, which probably run fine on OSX / Darwin:

[code]

However, on Linux with GNU `sed`, each of these commands gives an error:

`sed: can't read : No such file or directory`

But they run successfully if the `''`

[2017-06-04 13:48] macks22 commented on #1387
Having a dedicated subpackage opens up some interesting options. What do you think of the following proposal? It's a tad bit long, but I hope it's closer to a clear structure and plan.

(1) Add a new `datasets` subpackage that will provide various `Dataset` classes. The `Dataset` class will be a simple extension of the corpus interface that includes a URL (or list of URLs) where a dataset can be o

[2017-06-04 17:10] menshikh-iv opened #1393 "Fix CI configs (Travis, Appveyor)"
Need to remove manually `test_req` installation (like [this](https://github.com/RaRe-Technologies/gensim/blob/develop/.travis.yml#L17) and [this](https://github.com/RaRe-Technologies/gensim/blob/develop/appveyor.yml#L69)), because all test dependensies will be installed when we run `python setup.py test`

[2017-06-04 17:15] menshikh-iv commented on #1391
Thank you @quole, I think the best choice is

[2017-06-04 17:26] menshikh-iv commented on #1386
Thanks @macks22, unfortunately, generators can not be serialized. But I do not really understand what for I should serialize `CoherenceModel`?

[2017-06-04 19:10] macks22 commented on #1386
At the moment, it's not important, but if #1349 gets merged, the cached accumulator is worth serializing to avoid accumulating word occurrences over an entire corpus again.

[2017-06-05 01:06] piskvorky commented on #1387
Awesome! Thanks for the thoughtful investigation @macks22 .

Since this looks like an architectural change, let's also include the bundling of datasets and models into the discussion. We've been wanting to include some common datasets and trained models for playing around in gensim (beyond the tiny data we have as part of unit tests now).

It's related to how we handle the corpus inputs, so I thin

[2017-06-05 15:53] macks22 commented on #717
Some good candidate datasets are:
* [20 Newsgroups](http://qwone.com/~jason/20Newsgroups/)
* [NSF Research Award Abstracts 1990-2003](https://archive.ics.uci.edu/ml/datasets/NSF+Research+Award+Abstracts+1990-2003)
* [Reuters-21578 Text Categorization Collection](https://archive.ics.uci.edu/ml/datasets/Reuters-21578+Text+Categorization+Collection)
* [Reuters Corpus Volume I (RCV1) v2](http://www.jm

[2017-06-05 16:53] macks22 commented on #1387
So you want to discuss how to include pre-trained models or make them accessible for download? For the datasets, I would think you could just provide code to download them from public URLs (as scikit does). For models, I'm not sure what the best approach is. It might be worth checking out how SpaCy handles that, since they do have some mechanism for [loading pre-trained GloVe word vectors](https:/

[2017-06-06 03:15] #1384 closed

[2017-06-06 18:20] macks22 commented on #1380
I'm working on an implementation of this, but it will build on #1349.

[2017-06-06 19:30] josephcc opened #1397 "Doc2Vec Searching for both similar words and labels"
#### Description
Unable to search for most_similar labels using neither 1) a set of (non-label) words, nor 2) a vector.

version: 2.1.0

#### Steps/Code/Corpus to Reproduce
If I understood doc2vec correctly, it projects both labels (such as 'SENT_0') and words into the same semantic space. In theory I should be able to search for both words and labels at the same time, as also shown here by @piskv

[2017-06-06 19:36] josephcc commented on #1397
Ok I found the solution from these two links:

https://github.com/RaRe-Technologies/gensim/issues/453
https://groups.google.com/forum/#!msg/gensim/Fujja7aOH6E/C3WArofWbNIJ

and here's how to search for similar labels using words:

[code]

closing for now.

[2017-06-06 19:36] #1397 closed

[2017-06-06 22:27] manneshiva commented on #1261
@gojomo @jayantj
The table below summarizes the memory profiling results on pre-trained fasttext english vectors with default bucket size(2Million), Text9(with default bucket size) and Text9(retrained with bucket size 1Million):
![image](https://user-images.githubusercontent.com/26998249/26853940-a4495a8e-4b31-11e7-80de-cc1faa03f80d.png)

We have 2 options to solve this issue:
1. Loading from .bin

[2017-06-07 02:04] piskvorky commented on #1397
@menshikh-iv @gojomo is the doc2vec documentation clear on this?

I don't see it in the quick-start on the top either, it only shows load/save:
https://radimrehurek.com/gensim/models/doc2vec.html

[2017-06-07 14:48] menshikh-iv commented on #1397
@piskvorky What do you think about common cheat-sheet for most popular models (see an [example from plotly](https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAfoAAAAJDUwYmYxYzZmLTc1ZGEtNGI5My1iMmEyLWQwZjQ5OTdjZjYwNQ.jpg)) ?

[2017-06-08 02:56] piskvorky commented on #1397
That's a good idea!

But we need a proper, inter-linked documentation structure anyway, so people can actually find that information -- no matter if it's in API docs or cheat-sheet or a tutorial...

[2017-06-08 14:53] macks22 commented on #717
Some nice references for how to implement:
* [scikit 20 newsgroup fetch function](https://github.com/scikit-learn/scikit-learn/blob/14031f6/sklearn/datasets/twenty_newsgroups.py#L154)
* [streaming file download in Python](https://stackoverflow.com/a/5397438/2486302)
* [nltk downloader code](https://github.com/nltk/nltk/blob/develop/nltk/downloader.py)

[2017-06-08 15:27] vlejd commented on #56
I would like to work on this. I will try to make the load_from_text work, optimally without breaking the backward compatibility.

[2017-06-08 18:39] jeremybmerrill opened #1401 "different Phrases behavior for same code/corpus between 0.13.4.1 and 2.1.0"
#### Description
Hi friends -- I've been using gensim 0.13.4.1 to generate bigrams and trigrams (Phrase model), then to train a word2vec model on a stream of sentences run thru the trigrams phrase model. Works great.

But I've tried to upgrade to 1.0.0 and 2.1.0 and the results are way way worse -- with the exact same code. I've scoured the release notes but haven't found an explanation. Don't see

[2017-06-09 00:51] gojomo commented on #1401
Certainly a concern and maybe a worrisome regression.

Without yet looking deeply into specifics of your process, some things worth checking:

- do you see a similar discrepancy with plain `most_similar()` (as opposed to `most_similar_cosmul()`)?
- with logging on (say to INFO level), is there anything different/fishy about the reporting/progress-stats/timing when running the 2.0.1 variant – perha

[2017-06-09 13:08] jeremybmerrill commented on #1401
Hi @gojomo; thanks. Answers inline, but out of order.

This one is easy to check. `load`ing a model in 2.0.1 that I `save`d in 0.13.4.1 gives the "right" answers. I.e. "queen" not "chernow".

I will check on the rest of the stuff.

[2017-06-09 13:36] jayantj commented on #1261
@manneshiva Thanks for the analysis. How exactly has the "Memory saved by only selecting ngrams of vocab words" been calculated?
I'm curious because the difference in the number of of unused vectors for `wiki.simple` and `Text9` (with bucket size 2mil) seems low (1.4mil vs 1.16mil), but the difference in memory saved is very high (1100 MB vs 440 MB).

Maybe initially we could load all ngrams and n

[2017-06-09 13:52] maedoc commented on #557
In recent versions of NumPy, you can roll CSR operations with e.g. `numpy.add.reduceat` in a fairly efficient manner.  It'd be parallelizable too. For example, csr matrix-vector dot product looks something like
[code]
there's some overhead with the `vec[col_idx]` expansion, but if `vec` isn't changing often, it can be cached.  In any case, it's nice to have a NumPy fallback which isn't hideously s

[2017-06-09 13:52] manneshiva commented on #1261
@jayantj

I looked at the memory taken by `self.wv.syn0_all` before and after reassigning it with `self.wv.syn0_all.take(ngram_indices, axis=0)`.

This is because of the difference in embedding size. The words are 300 dimensional in case of `wiki.simple` while they are 100 dimensional for `Text9`(should have mentioned this, apologies for the confusion).

[2017-06-09 14:56] jeremybmerrill commented on #1401
Yes, it turns out.

[code]

Looks like quite the hint. I train the model like this (which presumably calls `train()` internally):
[code]
I'm trying right now to train it without the ngram stuff, just the plain sentences iterator.

[2017-06-09 16:12] CrispMoon commented on #244
Hi,
I have found the same problem today.
My code:
`
a = csvtodoc(nrows=1000)
a_cleaned = cleandata(a)
a_corpus = getcorpus(a_cleaned)
a_id2word = getid2word(a_cleaned)
ldares = gensim.models.ldamulticore.LdaMulticore(corpus=a_corpus, num_topics=10, id2word=a_id2word)
`
but it takes too long time and can not output anything ..
When I use LdaModel, it works...

[2017-06-09 16:14] CrispMoon commented on #244
Hi,
I have found the same problem today.
My code:
`ldares = gensim.models.ldamulticore.LdaMulticore(corpus=a_corpus, num_topics=10, id2word=a_id2word)`

but it takes too long time and can not output anything ..
When I use LdaModel, it works...

[2017-06-09 17:56] jeremybmerrill commented on #1401
You are right about the ngrams -- removing that and throwing in the plain sentences iterator on 2.1.0 works fine.

Any idea what might have caused the change?

[2017-06-09 19:56] ayush488 commented on #447
So was the issue solved. Can I get deterministic results from doc2vec infer_vector() now? ANd how? I am trying to do:
[code]

but still some the same sentence: "This is a sample sentence", I get diff vectors every run.

[2017-06-09 23:22] gojomo commented on #447
@ayush488 - `infer_vector()` needs a list-of-tokens, not a string. You'll still get slightly-different vectors on each invocation in many modes, though, for the reasons discussed above. As the comment directly above yours observes, a forced-reseeding should provide deterministic results. Did you try it and it not work?

[2017-06-09 23:42] gojomo commented on #1401
This is helpful narrowing. It might be a Phrases regression, we'll have to take a look at recent changes there, especially around https://github.com/RaRe-Technologies/gensim/commit/34759be7af4394a48a0627ad4b21ffd7869ba464 @tmylk @ELind77

A practical workaround could be to apply the (two-level) phrase-ification just once, writing the results to a new file – which is then iterated over multiple tim

[2017-06-10 01:34] piskvorky commented on #1401
Thanks a lot @jeremybmerrill ! And @gojomo .

Whatever the root cause is, it implies our tests are insufficient, if they allow something like this slip by.

[2017-06-10 13:35] ayush488 commented on #447
Yes I tried forced seeding such as m.random.seed(42) just below where I
initialize m. But still I was getting different vectors.

On Jun 9, 2017 6:23 PM, "Gordon Mohr" <notifications@github.com> wrote:

[2017-06-10 15:56] vlejd commented on #308
`random.sample(population, k)` is (very) silently expecting a list. It calls `len(population)` and `population[i]` so it does not work on streams. To be honest, the implementation of `random.sample` is quiet bad. I will implement the algorithm that does work on streams. I will use reservoir sampling.

[2017-06-11 19:38] gojomo commented on #447
@ayush488 You would need to re-seed it before every call to `infer_vector()`, as suggested above. Is that what you tried?

[2017-06-11 20:34] ayush488 commented on #447
Can you send me the code snippet how to do. I just did the seeding once
when I initialized the model.
I am doing something like this:

import gensim.models as g
start_alpha=0.01
infer_epoch=1000
model="\\apnews_dbow\\doc2vec.bin"
m = g.Doc2Vec.load(model)

m.random.seed(42)

text='this is a sample text'
vec=m.infer_vector(text,alpha=start_alpha, steps=infer_epoch)

can you tell in which line I sho

[2017-06-12 00:40] gojomo commented on #447
@ayush488 - The re-`seed()` must precede every `infer_vector()`. Where are you performing a 2nd `infer_vector()` and seeing different results? (Put another re-`seed()` there.) You'd need to provide more detailed code of what code you've tried, and has still proven a difference in results, for us to make any more specific suggestion. (I have also answered at [your SO question](https://stackoverflow

[2017-06-12 01:32] ocsponge commented on #217
hi, AndreasMadsen, I got the same warning, how did u solve the problem?

[2017-06-12 01:49] ocsponge commented on #416
I got the same problem when I set topics=1000

[2017-06-12 06:53] AndreasMadsen commented on #217
I don't think I did.

[2017-06-12 10:36] menshikh-iv commented on #1324
All fixed, now you can run `pip install .[test]; python setup.py test` and tests will run correctly.

[2017-06-12 10:36] #1324 closed

[2017-06-12 16:51] souravsingh commented on #1393
@menshikh-iv I think the issue can be closed.

[2017-06-12 16:54] souravsingh commented on #1339
This would involve getting a token from the repo settings, something which repo maintainer should be able to do.

[2017-06-12 17:14] menshikh-iv commented on #1393
@souravsingh  No, previous PR only for Travis.

[2017-06-12 23:55] gojomo commented on #1261
Text9 is still pretty small, and 100-dimensions (despite being the default) may not be a representative size for serious users. The effects on the pre-trained FB FastText vectors (of Wikipedia in many languages) may be more representative of what real users will experience.

(Are you sure the memory accounting is counting the cost of the dictionary mapping ngrams to remembered, rather than hash-di

[2017-06-13 06:19] menshikh-iv commented on #1265
Close this issue (because faiss license isn't suitable for us)

[2017-06-13 06:19] #1265 closed

[2017-06-13 06:30] menshikh-iv opened #1412 "Evaluate similarity search libraries (annoy, faiss, etc)."
It would be nice if we did a benchmark and compare popular libraries like annoy, faiss, nmslib, FLANN, etc.

A good reference is [/erikbern/ann-benchmarks](https://github.com/erikbern/ann-benchmarks) and [/piskvorky/sim-shootout](https://github.com/piskvorky/sim-shootout).

See also [this topic](https://github.com/RaRe-Technologies/gensim/pull/1367#issuecomment-306012642).

[2017-06-13 09:49] Saftophobia commented on #1159
I used the [C implementation](https://github.com/mchen24/iclr2017) of the corruption model, which gave me some very interesting results.
However, It's not convenient since I use a single core to avoid dirty writes, and I would love to extend it beyond the random corruption.

So I wonder if someone started implementing it in gensim? if not, is it okay for me to start it (from licensing/copyrights p

[2017-06-13 19:15] gojomo commented on #1159
@Saftophobia I don't know of anyone working on adding the 'Doc2VecC' method to gensim. It looks valuable and seems eligible for re-implementation in Python/Cython. (I see no IP claims and the paper author's own edits to Mikolov's sentence-vectors word2vec.c patch are marked as Apache-licensed.)

So I'd say it'd be a good thing for you to work on!  When a PR is started – even one that's rough/in-pr

[2017-06-14 09:27] rasto2211 commented on #74
@menshikh-iv  Do you also want to close this issue since you closed my PR without merging?

[2017-06-14 09:36] menshikh-iv commented on #74
@rasto2211 No, because the remaining points are important (see [radim comment](https://github.com/RaRe-Technologies/gensim/pull/1392#issuecomment-308373375))

[2017-06-14 09:48] #1342 closed

[2017-06-14 18:22] gojomo opened #1415 "duplicate annoy tutorials - annoytutorial.ipynb & annoytutorial-text8.ipynb ?"
There seem to be two (nearly?) identical ANNOY tutorial notebooks:

https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/annoytutorial-text8.ipynb

https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/annoytutorial.ipynb

Maybe a merge error retained the file under an older name? Seems there should be only one, probably the one with the longer more-detailed na

[2017-06-15 03:57] menshikh-iv commented on #308
Resolved in #1408

[2017-06-15 03:57] #308 closed

[2017-06-15 07:10] menshikh-iv opened #1418 "Benchmark "gensim vs ..." on different cloud platforms"
We are very interested in a quality large benchmark.

__Short description:__ compare w2v (or d2v) from gensim with the same model from other popular frameworks on different cloud platforms

__Questions we want to answer:__
---
 - What are the fastest implementations?
 - What are the memory-efficient implementations?
 - Which cloud platform is the best for learning?
 - Which implementation is most

[2017-06-15 07:19] manneshiva commented on #1418
@menshikh-iv Sounds very useful. I am interested to work on this issue.

[2017-06-15 18:58] gojomo commented on #308
I see I'm late but a couple thoughts:

Finding the length can require an initial extra full-scan of the texts – allowing a knowledgeable caller to optionally pre-specify a length could skip this potentially costly operation.

Using the global `random` means any one sampling isn't easily reproducible from run-to-run – adding an optional random seed parameter would allow samples to be reproduced.

[2017-06-15 19:20] jayantj commented on #1418
Other potentially useful evaluations of word embeddings (along with code) can be found here - https://github.com/mfaruqui/eval-word-vectors

[2017-06-15 19:47] macks22 commented on #1328
@tymlk @HarryBaker
[This paper evaluates a variety of techniques for topic similarity](http://www.aclweb.org/anthology/E14-4005), ranking average PMI between top-N representations of the topics as one of the best techniques, along with Explicit Semantic Analysis (ESA). The average PMI approach can easily be implemented using the same code as the `CoherenceModel`.

The Jaccard similarity between to

[2017-06-15 19:59] macks22 commented on #1281
With the recent improvements to coherence evaluation introduced by #1349, it should be straightforward to implement this. Simply start with the largest `topn` (e.g. 20 when using 20, 15, 10, and 5, as the paper did), then work down to the smallest. The computation for the largest one is guaranteed to have a set of relevant ids that is a superset of all the others, so the accumulated counts can be

[2017-06-16 04:06] WenchenLi commented on #547
just a quick catch up on anyone ported wang2vec to gensim?

[2017-06-16 09:04] aneesh-joshi opened #1419 "Word Embedding Visualizer"
Currently, there is no direct way to visualise word embeddings made by the gensim word2vec model.
I have made a visualiser using matplotlib.
It uses Incremental PCA to reduce to manageable dimensions and then uses tSNE to bring it down to 2 dimensions.

Note: I have taken some of my code from https://github.com/jeffThompson/Word2VecAndTsne

This will be my first contribution (if at all), so please

[2017-06-16 16:55] gojomo commented on #1419
Word2vec visualizations are very useful, this seems like a very good contribution idea!

It might work best as a demo notebook, or as extensions to the existing word2vec notebooks – though of course if a few general-usefulness methods support the visualizations, they could become improvements to existing gensim classes/modules. (For example, perhaps new utility functions on the `KeyedVectors` clas

[2017-06-16 17:02] vlejd commented on #308
I believe that global random actually means better reproducibility! If you manually set the random.seed() in your script, it will set the seed for the library as well. I have tested it only on a toy example so maybe I am horribly wrong, but it should work.

Regarding the length. We should at least mention it in documentation. There are two options. Ask user, to manually set the self.length variabl

[2017-06-16 17:32] vlejd opened #1421 "Add style checking for docstrings"
#### Description
Gensim does not have set up style checks for documentation to match format desired by #1411 .

Here are some options:
- pydocstyle: can check basic docstring format (coma on the end of first line, spaces)
- pylint: with `load-plugins=pylint.extensions.docparams` it can check if docstring contains Args: and Returns: or Yields: clause. It cal also check if all function parameter wer

[2017-06-16 17:32] vlejd commented on #1421
@menshikh-iv Any thoughts?

[2017-06-16 18:14] gojomo commented on #308
If people try pre-seeding the global random to try to achieve reproducibility in this function, it will have side-effects on other consumers of random numbers, and potentially suffer interference from any global-random-consumers in other threads, or in the (interleaved) processing of each `next()`-offered text. Using a local random instance, explicitly seeded (if a seed provided) ensures no side-e

[2017-06-16 18:57] jax79sg commented on #447
Hi @gojomo , i was following this thread's issue and tried your solution. Within the same runtime, the re-seed does work, but it doesn't if you restart the runtime. This is a code extract of how i implemented based on my understanding on above posts. I hope you might be able to advise.

`
#Training

self.__model = Doc2Vec(size=10,alpha=0.025,min_alpha=0.025,min_count=1,dm=0)
documents = load.get_d

[2017-06-16 19:29] gojomo commented on #447
@jax79sg Are you in Python 3.x? If so it's likely related to the new PYTHONHASHSEED option, which (if not explicitly set) randomizes string-hashing between runtime launches, to prevent a certain kind of denial-of-service attack possible against services with predictable string-hashing. You can specify PYTHONHASHSEED env var if you want deterministic string-hashing; if for some reason you still wan

[2017-06-16 19:45] vlejd commented on #308
Ou I see. To be honest this will the first time I will use random.Radnom :) . I will add an optional paramer. If set, it will initialize it's own random stream with that seed, otherwise it will use global random.

Setting length should be enough, because __len__ is overridden at TextCorpus to use self.length if defined or to compute it. However another optional parameter should not hurt. @menshikh

[2017-06-16 20:49] rasto2211 commented on #1421
@tmylk opened a similar issue couple months ago (issue #1192). Sphinx runs also some checks on docstrings. The sad thing about gensim documentation is that it throws over 100 warnings at the compilation. @souravsingh made PR which got rid of couple warning but it seems that since that time new code brought additional warnings. When I try to compile the documentation I see 112 warnings. Maybe it is

[2017-06-16 22:24] michaelwsherman commented on #1364
Pull request at https://github.com/RaRe-Technologies/gensim/pull/1423 . Would love to hear any feedback--first time OSS contributor.

[2017-06-17 04:39] aneesh-joshi commented on #1419
tSNE can do the work but it tends to be pretty slow. I have set a flag so that the user can decide whether they want to use PCA first. If it is not set, tSNE will be used throughout.

Plotting the visualisation in Jupyter Notebooks takes away the ability to scroll, pan and zoom.
Unless there is a work around for that, it might have to be implemented as a script.

My script only requires the path t