[2018-02-24 15:39] menshikh-iv commented on #1929
Sounds reasonable, thank you for report @altescy: +1:

This problem slightly deeper: API looks like sklearn, but use non-sklearn types (as input & output), IMO - this is serious problem that limit usage of current API.

IMO, better to pass/return scipy/numpy arrays only, wdyt @altescy ?

[2018-02-24 15:39] menshikh-iv commented on #1929
CC: @chinmayapancholi13

[2018-02-24 17:42] altescy commented on #1929
Good point.

That looks a nice idea to avoid confusion.
I don't know why current API has two data types of documents :thinking:

If there is no problem, it is better to use only scipy/numpy arrays.

[2018-02-24 18:12] menshikh-iv commented on #1929
I think this should be maximum consistent with Sklearn API  (only arrays), wdyt @piskvorky?

[2018-02-24 19:41] piskvorky commented on #1929
Sklearn doesn't support streaming at all, so in-memory matrices are probably fine.

If people need the more performance / scalable implementations, they'll have to avoid these wrappers and use Gensim directly.

[2018-02-26 06:59] dotslash opened #1936 "Gensim's load fails to load a saved model"
#### Description
I was trying to load fasttext embedding into Word2Vec. The load time is very slow. (10 mins). So I was trying out if saving and loading the model will be faster. However the load step is failing.

#### Steps/Code/Corpus to Reproduce
model_file = '/path/to/original'
saved_model = '/path/to/save'
model = gensim.models.KeyedVectors.load_word2vec_format(model_file)
model.save(saved_mo

[2018-02-26 07:01] dotslash commented on #1936
If it helps, this is exactly what i was doing.

https://github.com/dotslash/Ganymede/blob/ac9a852e716c79d03490845ba8113a13f32a5da4/fasttext_word_to_vec/playground-fb.fasttext-word2vec.ipynb

[2018-02-26 08:34] JohnRGermany commented on #999
Hi,

I have the same question as @giahung24 . Is it now possible to access the loss eg. by callbacks?

[2018-02-26 08:39] menshikh-iv commented on #1936
@dotslash all right, this shouldn't work, because `gensim.models.KeyedVectors.load_word2vec_format(model_file)` - is only word-vectors in word2vec format (this isn't a full w2v model, word2vec needs some additional matricies & parameters for training, that doesn't contain in `model_file`), for this reason, you can't load it.

[2018-02-26 08:41] menshikh-iv commented on #999
@JohnRGermany yes, callback receive `model` as input parameter -> you have access to all fields (including `running_training_loss` that you need).

[2018-02-26 08:43] JohnRGermany commented on #999
@menshikh-iv but there is no `running_training_loss` in doc2vec yet, right?

[2018-02-26 08:46] vasu-dev commented on #1789
hey ,
what the progress on the issue, is no one is working i'll like to take this up.

[2018-02-26 08:48] menshikh-iv commented on #999
@JohnRGermany right, this is only for w2v.

[2018-02-26 08:49] menshikh-iv commented on #1789
@vasu-dev this is almost done (in more global #1812), there's nothing more to do here

[2018-02-27 10:37] piskvorky commented on #1697
Another idea: can we stream directly from/tp the three CSC arrays? That would be the easiest solution, and most flexible (CSC/CSR are the most standard sparse matrix formats).

[2018-02-27 12:05] swierh opened #1937 "sklearn_api.d2vmodel.D2VTransformer uses deprecated arguments size and iter"
#### Description
The D2VTransformer in `sklearn_api.d2vmodel` uses the deprecated arguments `size` instead of `vector_size` and `iter` instead of `epochs`. According to the warnings this will be breaking in version 4.0.0.

#### Code to Reproduce
[code]

#### Resulting warnings and errors:
[code]

#### Versions
[code]

[2018-02-27 13:55] menshikh-iv commented on #1937
Thanks for the report @swierh, the problem here with wrappers at all (deprecation works in the original model, but we didn't update wrappers)

Need to check wrappers at all (especially d2v, w2v) and add missing arguments.

[2018-02-27 14:41] fcharras opened #1938 "dictionnary.filter_extremes with no_above = 1 still filter words that appear in every documents."
#### Description
[`filter_extremes`](https://radimrehurek.com/gensim/corpora/dictionary.html#gensim.corpora.dictionary.Dictionary.filter_extremes) when `no_above = 1` still filters the words that appear at least one time in all the documents. It should filter no word at all (that means replacing a "greater or equal" with a "strictly greater" somewhere).

[2018-02-27 16:49] MritunjayMohitesh commented on #1938
Well, the documentation pretty much states that -
no_above : float, optional
         -- Keep tokens which are contained in no more than `no_above` documents
So, there should be a "greater or equal" sign rather than "strictly greater".If this's what you really want to know.

[2018-02-27 16:51] fcharras commented on #1938
I see, then I am probably wronged by the default value to `0.5`, I didn't think that `None` is a valid value.

[2018-02-27 17:11] fcharras commented on #1938
Sorry, reopening the issue because `None` is not a valid value, so it's not optional ?

[2018-02-27 17:21] MritunjayMohitesh commented on #1938
Of course , None is not a valid value. no_above being optional states only that you may or may not provide this value(default being 0.5). Specifying None should give TypeError.

[2018-02-27 17:27] MritunjayMohitesh commented on #1937
hey, what's the progress here? Can I take this up?

[2018-02-27 17:28] fcharras commented on #1938
Ok, I thought `optional` means that filtering tokens that are contained in more than `no_above` documents is optional, but it means that the function will run without error if it's not provided, while still filtering words. IMO it would be appreciated to have an option to disable either of the filters (`min_count` or `no_above`) as it is possible for `keep_n` :

[2018-02-27 17:34] swierh commented on #1937
I think I might have fixed it here: https://github.com/RaRe-Technologies/gensim/pull/1939

It works for me locally, but it seems to fail on a lot of tests, so it would be great if someone else could have a look at it too.

[2018-02-27 18:35] menshikh-iv commented on #1938
@fcharras all works fine, if you want to disable one (or both), you should use something like `dct.filter_extremes(no_below=0, no_above=1.)`

[2018-02-27 18:46] piskvorky commented on #1938
I agree, it is non-obvious. In what way is that parameter optional?

If optional is only a synonym for "keyword argument with default value", then that's just superfluous information. It's already obvious from the method signature (including the actual default value, which is "non-optional").

[2018-02-27 18:48] menshikh-iv commented on #1938
For me, "optional" is superfluous information, yes, or I didn't understand something? If yes - what's `optional` means?

[2018-02-27 18:48] piskvorky commented on #1938
Then we agree. Let's remove that confusing unnecessary information (here and elsewhere).

[2018-02-27 18:50] menshikh-iv commented on #1938
@piskvorky wait, first of all, we need to understand, what this means (before deleting something).

[2018-02-27 18:51] piskvorky commented on #1938
I don't know who wrote the documentation -- best ask them.

[2018-02-27 18:54] menshikh-iv commented on #1938
@piskvorky I ask you, in your opinion, what means "optional"?

[2018-02-28 05:24] menshikh-iv opened #1940 "FastText native VS original, different outputs"
## Intro

As the person mentioned in [mailing list](https://groups.google.com/forum/#!topic/gensim/zPp8vr4n8pI), he receives different result with a pre-trained model with gensim code & original facebook code.

## How to reproduce
1. Install Facebook FastText
[code]
2. Download pre-trained vectors from https://github.com/facebookresearch/fastText/blob/master/pretrained-vectors.md (I pick english,

[2018-02-28 09:34] piskvorky commented on #1938
It means different things in different context. Here, as a user, I'd expect "optional" to mean that if I don't supply it, no clipping is done (the clipping is optional). I wouldn't expect it to mean "has a default value that clips anyway even if not supplied".

Which is how @fcharras understood it too, if I'm reading this correctly.

Not a big deal, but that word is just adding potential confusion

[2018-02-28 09:42] fcharras commented on #1938
That was my point indeed thank you very much for clarifying.

If we agree on that, I'd like to highlight again why I opened the ticket: the option `no_above=1` still filter some words (the words that appear at least once in each document), and that added to my confusion, to I was suggesting to use a strict inequality, so that `no_above=x` keep only words that appear in stricly less than `no_above`

[2018-02-28 10:20] piskvorky commented on #1938
Yes, 1.0 should not filter anything IMO. If it does, then that is a bug.

[2018-02-28 12:32] menshikh-iv commented on #1938
@fcharras can you show me the small example? I can't reproduce your problem.

@piskvorky

In this case, this isn't clear for "common" case, where `optional` should be mentioned? This is same as "parameter can be None"?

[2018-02-28 12:41] drastorguev opened #1941 "IndexError when passing in num_features into MatrixSimilarity"
#### Description
Receiving error `IndexError: index 101 is out of bounds for axis 1 with size 100` when passing in number of features into gensim.similarities.docsim.MatrixSimilarity(model_tf_idf[model_corpus], num_features=100)`
`

#### Error
[code]

[2018-02-28 12:43] menshikh-iv commented on #1941
Hello @drastorguev, can you provide the full example?
I think that number of features from `tf_idf` is more than 100, for this reason, you receive this error.

[2018-02-28 12:51] drastorguev commented on #1941
Hey sorry - I can't provide a full example of data as its very long.

It works fine, when I pass in `gensim.similarities.docsim.MatrixSimilarity(model_tf_idf[model_corpus], num_features=len(model_dictionary))` but this file is too large, hence I want to make it smaller by reducing the number of features. `model_dictionary` has 243070.

To calculate `model_corpus `, `model_tf_idf `, `model_dictiona

[2018-02-28 12:55] menshikh-iv commented on #1941
`gensim.similarities.docsim.MatrixSimilarity(model_tf_idf[model_corpus], num_features=len(model_dictionary))` - this is right way, how to do it, `num_features` **must be equal** to size of your dictionary, that's bad place for reduce something here.

If you really want to reduce, you should reduce size of your `model_dictionary`, re-calculate  `model_tf_idf` based on this vocab and after - use new

[2018-02-28 12:56] #1941 closed

[2018-02-28 12:59] menshikh-iv commented on #1889
So, I investigate it again, the problem really with `serialize` + `load`, this is an incorrect way of usage.

You should call `MmCorpus.serizalize("file.mm", corpus)` and after - load it as `MmCorpus("file.mm")` (don't use `save`/`load` here, this have no sense).

[2018-02-28 12:59] #1889 closed

[2018-02-28 13:00] menshikh-iv commented on #1901
Another yet try to fix this problem: https://github.com/conda-forge/gensim-feedstock/pull/12

[2018-02-28 13:29] piskvorky commented on #1938
`Parameter can be None.` is not a meaningful message. The documentation is primarily there to describe what a parameter does (semantics), why it's there, what are its effects and reasonable values. As a user, seeing `Parameter can be None` tells me nothing.

[2018-02-28 14:13] anotherbugmaster commented on #1938
Hello everybody. We documented the function using numpydoc style, so here's the [link to the styleguide](https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt)

Here's the part concerning the `optional` keyword:

![image](https://user-images.githubusercontent.com/3992246/36791458-f624e6a4-1ca8-11e8-8795-0eaa26a6a375.png)

I think that the problem here is not with the optional keywo

[2018-02-28 15:16] talbaumel opened #1942 "Make add_word part of keyedvectors.py interface"
Hi, I think it would be very useful to define `add_word` inside the class instead of inside the `load` function in [keyedvectors](https://github.com/RaRe-Technologies/gensim/blob/7127eeef8304852da589465b338e2bba14e881f1/gensim/models/keyedvectors.py).

Thanks ✌🏻

[2018-02-28 15:31] MrMimic opened #1943 "[IndexError]"
Hi all,
I built a huge model (254Mb + 2x2Gb npy) and everything work fine.
However, when entering the term "matrix" in the model to query the top similar concept, it raises the following error.

I trie to go to the code see what's going wrong, but could not find why in

`result = [(self.index2word[sim], float(dists[sim])) for sim in best if sim not in all_words]`

[2018-02-28 15:41] menshikh-iv commented on #1942
Thanks for report @talbaumel, I saw some message in mailing list from users, who want to modify `KeyedVectors`, for me - sounds like a good idea, I'm +1 for this

[2018-02-28 15:43] menshikh-iv commented on #1943
Hello @MrMimic, can you provide the full code example (I should reproduce this error)? Also, please metion gensim/python/os version.

[2018-02-28 16:37] piskvorky commented on #1938
Default values will certainly be left as-is. This discussion is only about the documentation.

Repeating the same information twice (method and docstring) violates DRY, and for this reason I don't like it. It is a recipe for maintenance headaches.

If we really want to repeat the same information twice in different places, we should at least make the manual description sufficiently useful = like y

[2018-02-28 17:23] MritunjayMohitesh commented on #1942
Can I take this?

[2018-02-28 18:12] menshikh-iv commented on #1942
@MritunjayMohitesh yes

[2018-03-01 05:27] menshikh-iv commented on #1697
@piskvorky are you mean scipy sparse implementation of matrices or maybe "custom" solution?

[2018-03-01 06:46] pramod2157 commented on #1595
I am using gensim version 1.0.1
This version is neighter having PathLineSentences nor LineSentencePath
<ipython-input-5-489c646288b1> in <module>()
----> 1 from gensim.models.word2vec import PathLineSentences

ImportError: cannot import name PathLineSentences

Any version specific requirement?

[2018-03-01 06:49] menshikh-iv commented on #1595
@pramod2157 update your gensim version please

[2018-03-01 06:54] pramod2157 commented on #1595
upgraded to 2.1(pip install --upgrade gensim)
Still it's not there.
In [2]: import gensim

In [3]: gensim.__version__
Out[3]: '2.1.0'

In [4]: gensim.models.word2vec.LineSentencePath
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-4-048651babf04> in <module>()
----> 1 gensim.model

[2018-03-01 06:59] pramod2157 commented on #1595
Upgraded to 3.3.0, even it's not there.
In [3]: from gensim.models import  word2vec

In [4]: word2vec.LineSentencePath
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-4-cc570074ae40> in <module>()
----> 1 word2vec.LineSentencePath

AttributeError: 'module' object has no attribute

[2018-03-01 07:02] pramod2157 commented on #1595
Thanks, @menshikh-iv.
 It's working.

[2018-03-01 07:58] piskvorky commented on #1697
Nothing custom, I mean standard CSC (=three dense arrays).

[2018-03-01 08:01] MritunjayMohitesh commented on #1942
@talbaumel isn't it already done?

[2018-03-01 08:17] #1824 closed

[2018-03-01 09:44] Make42 commented on #1925
Regarding your first paragraph: To clarify what I meant by layer: Look at Figure 2 in https://arxiv.org/pdf/1405.4053.pdf. Here ParagraphID, "the", "cat", "sat", each get one layer - so I mean a matrix multiplication / lookup-by-key-and-index as a layer. Because of the learning, the implementation of gensim would not train for "the", "cat", "sat" against "on" at the same time, but one after the ot

[2018-03-01 11:47] talbaumel commented on #1942
It's defiened under `load_word2vec_format `, that means it's not visible to users...

[2018-03-01 12:16] abhijeetchauhan commented on #1697
If no one else is working on this issue. Please assign it to me.

[2018-03-01 12:39] menshikh-iv commented on #1697
@abhijeetchauhan if you are interested - feel free to submit PR.

[2018-03-01 13:12] MritunjayMohitesh commented on #1942
@talbaumel  please check this link out-
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/keyedvectors.py

I found this in the develop branch. That's why I think it's already been done. I think I am not getting you.Could you please elaborate?

[2018-03-01 14:55] manneshiva commented on #1940
This behavior is expected as pointed out by [this](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_fasttext.py#L205) comment in the unit test file. The vector for an OOV word in Gensim is likely to be slightly different compared to the vector obtained from the Original Fasttext implementation. This is because the Gensim code discards un-used ngram vectors (to save memory)

[2018-03-01 15:17] menshikh-iv commented on #1940
Thanks for detailed explanation @manneshiva :+1:

[2018-03-01 15:17] #1940 closed

[2018-03-01 17:18] gojomo commented on #1925
Skip-gram provides (word->word) training examples to the NN, CBOW provides (mean-of-words-in-window->word) examples. Thus one backprop updates one word in skip-gram, but all words-in-window in CBOW.

[2018-03-01 18:46] abedkhooli commented on #1824
Tried the case above on Gensim 3.4 and it worked. Great work. Thank you all.

[2018-03-01 20:45] marcoaleixo opened #1946 "scripts.segment_wiki invalid argument"
#### Description
segment_wiki.py: error: unrecognized arguments: -i

[code]

#### My output versions:

Linux-4.13.0-36-generic-x86_64-with-debian-stretch-sid

('Python', '2.7.14 |Anaconda, Inc.| (default, Dec  7 2017, 17:05:42) \n[GCC 7.2.0]')

('NumPy', '1.13.3')

('SciPy', '1.0.0')

('gensim', '3.1.0')

('FAST_VERSION', 1)

[2018-03-02 03:17] menshikh-iv commented on #1946
@marcoaleixo please upgrade your gensim version ("interlink parser" added in `gensim>=3.3.0`, look to [release notes (3.3.0)](https://github.com/RaRe-Technologies/gensim/releases/tag/3.3.0)

[2018-03-02 03:17] #1946 closed

[2018-03-02 07:56] abhijeetchauhan commented on #1697
I have to code this in cython right?

[2018-03-02 07:59] menshikh-iv commented on #1697
@abhijeetchauhan Cython/C/C++, pick any.
Potentially, this can be done on pure python, but it's not an easy task to make it fast enough.

[2018-03-02 10:00] menshikh-iv opened #1947 "AuthorTopicModel memory issue"
### Intro

Recently, I often get negative feedback about ATM.
Еhe main reason is memory issues (too much memory consuming), related mailing list threads (latest):
- https://groups.google.com/forum/#!searchin/gensim/author|sort:date/gensim/gG7aiNI1v-Y/SWPMuP8BAwAJ
- https://groups.google.com/forum/#!topic/gensim/wI3x1fqR5wk

I decided to figure out what was going on.

### Investigation

I run ATM b

[2018-03-02 13:25] englhardt commented on #1942
@MritunjayMohitesh
The `add_word` method that should be publicly exposed is in [utils_any2vec.py#L182](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/utils_any2vec.py#L182) in the development version of the code.

[2018-03-03 13:08] MritunjayMohitesh commented on #1942
Thanks @englhardt
As far as I understand, defining `add_word `outside the `load_word2vec_format` will require two additional parameters to be passed . Besides,I don't see this function being used anywhere else. So, I think defining outside would not be very much efficient. Please correct me if I'm still getting it wrong.

[2018-03-03 20:45] ashigirl96 opened #1948 "_pickle.PicklingError"
The gensim test cannot passed.

[code]

#### Versions

Linux-4.4.0-116-generic-x86_64-with-debian-stretch-sid
Python 3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 18:10:19)
[GCC 7.2.0]
NumPy 1.14.1
SciPy 1.0.0
gensim 3.4.0
FAST_VERSION 1

[2018-03-03 20:51] Semen52 commented on #1412
Latest benchmark : https://erikbern.com/2018/02/15/new-benchmarks-for-approximate-nearest-neighbors.html

[2018-03-04 01:35] #1412 closed

[2018-03-04 07:05] #1948 closed

[2018-03-04 08:09] talbaumel commented on #1942
I wanted to add a <PAD> and <EOS> tokens to pre-trained keyedvectors object.
It requiered some hacking since the function was not visible, I tought it might be a common scenario 🤷🏻‍♂️

[2018-03-04 09:58] pratikmjoshi commented on #1485
@menshikh-iv Can I go ahead with this?

[2018-03-04 20:58] stagOak opened #1951 "AttributeError: 'ConcatenatedDoc2Vec' object has no attribute 'save'"
I have trained the doc2vec model models_by_name['dbow+dmm'].

I have made predictions with it an I am satisfied with its performance.

I want it to persist. I tried to save it with the command below.

models_by_name['dbow+dmm'].save('dbow+dmm.doc2vec')

I got the following wrror message.

AttributeError                            Traceback (most recent call last)
<ipython-input-178-0cf08eda641e> i

[2018-03-05 04:47] JonathanHourany opened #1952 "AttributeError: 'DocvecsArray' object has no attribute 'vector_size'"
I have Doc2Vec models that were trained and saved before the Re-design "*2vec" implementations #1777 commit (specifically, they were trained in v3.2) . On trying to use them today, the above attribute error was raised when I tried to use `infer_vector`. This is because in gensim/models/doc2vec.py", line 543, in infer_vector the line:

```doctag_vectors, doctag_locks = self.trainables.get_doctag_tr

[2018-03-05 05:45] menshikh-iv commented on #1485
@pratikmjoshi of course

[2018-03-05 05:52] menshikh-iv commented on #1951
Hello @stagOak, `ConcatenatedDoc2Vec` is wrapper-only class, this doesn't provide `save/load` functionality.

https://github.com/RaRe-Technologies/gensim/blob/916e423a1654d87646fc522d8862a81c7a7cb4fc/gensim/test/test_doc2vec.py#L465-L484

If you want to save it, you can try to use pickle (or save all models from `self.models` calling `save` attribute for each model & load all models & create `Conc

[2018-03-05 05:52] #1951 closed

[2018-03-05 05:54] menshikh-iv commented on #1952
@JonathanHourany thanks for the report, yes, this looks like a bug.

Can you share your model for reproducing a problem?

CC: @manneshiva please fix it ASAP

[2018-03-05 06:00] menshikh-iv commented on #1794
Looks abandoned, I'll close this (anyway, very soon, this will be non-relevant, when we start the process of switching to sphinx-gallery & replace notebooks to good-testable small scripts).

[2018-03-05 06:00] #1794 closed

[2018-03-05 06:48] menshikh-iv opened #1953 "Support for OOV words using only word-vectors"
## Intro
The heavy limitation of word-vectors (Word2Vec, GloVe, etc) is "fix" vocab, i.e. if you have no word `"someword"` in the vocab of model - you have no vector for it.
This situation fixed for character n-gram embedding models like FastText, but we already have many pretty nice word-embeddings model that trained on large corpora and show exciting results on the bench.

This will be really ni

[2018-03-05 07:48] AjayP13 commented on #1953
[code]
Seeding the RNG with the hash(ngram), creates a random vector that is deterministic. If run on a different computer, the random vector generated for the same OOV word will be the same across computers with this method.

Explanation for `_db_query_similar_keys_vector`:
- **Input**: Out-of-vocabulary key
- **Returns**: Mean unit vector of 3 most similar keys  by string similarity
- **Basic Al

[2018-03-05 10:09] pratikmjoshi commented on #1485
@menshikh-iv Just to clarify, fix #1501 did not solve this issue, right? Am I supposed to add an exception and error message for an incorrect filepath to the FastText directory, and should it indicate that the path be changed to the executable? What should the error message look like?

[2018-03-05 11:32] menshikh-iv commented on #1485
@pratikmjoshi #1501 solved this issue, but partially
- the solution should work on main OS system (Linux, MacOSX, Windows)
- the idea is simple, before running anything, check that this path exists & executable

[2018-03-05 11:52] menshikh-iv commented on #1953
@AjayP13 about `random_vectors.append((np.random.rand(emb_dim) * 2.0) - 1.0)`, I wasn't clear, sorry, the question is why `* 2.0) - 1.0`, I don't catch this moment.

Thanks for detailed description of "ngram" search, I think it's possible to make it fast & efficient if we'll store only "hashes" & length for ngrams and perform the search by hashes only (or using some data-structures as Trie for the

[2018-03-05 11:58] menshikh-iv commented on #1947
Updates:
1. Unfortunately, Olavur have no time to resolve this issue
2. More information (about ATM) can be founded here: http://www2.imm.dtu.dk/pubdb/views/edoc_download.php/6971/pdf/imm6971.pdf

[2018-03-05 13:43] stagOak commented on #1951
Thanks! I should have checked out the code. Late last night I found a work around. Thought I would share.

I made the model with:
models_by_name['dbow+dmm'] = ConcatenatedDoc2Vec([simple_models[1], simple_models[2]])

I save the model with:
simple_models[1].save('toxic_1.doc2vec')
simple_models[2].save('toxic_2.doc2vec')

I loaded the model with:
model_1 = Doc2Vec.load('toxic_1.doc2vec')
model_2 =

[2018-03-05 16:15] gojomo commented on #1940
That we might throw out never-encountered (and thus never-trained) n-grams *might* be an acceptable optimization, for the case where a model is fully trained inside gensim. (After all, if needing arbitrary random untrained vectors for those n-grams later, they can be created later.)

But, to discard them from an externally-trained, loaded, static model, and thus get different vectors than the orig

[2018-03-05 16:54] AjayP13 commented on #1953
Ah, the `*2.0-1.0` just shifts the randomly generated vectors from values of 0.0-1.0 to values of -1.0-1.0.

Right, I thought about using a tree structure, but had trouble find a way to memory map it efficiently. (There doesn't seem to be a lot of Python libraries for this sort of thing) as I still didn't want to load the entire tree into memory.

[2018-03-05 18:04] aneesh-joshi commented on #1654
Hey @menshikh-iv @piskvorky
I would like to take this up.
(I hope it doesn't require any GPU support, etc.)

Could you direct me to a good point to start?
I am familiar with `word2vec.py`

[2018-03-05 18:39] nataliedurgin opened #1955 "SoftCosineSimilarity: Unexpected Behavior for Query Input"
#### Description
Expected SoftCosineSimilarity self[query] syntax to accept any iterable of list of (int, number) as indicated by: https://github.com/RaRe-Technologies/gensim/blob/f9669bb8a0b5b4b45fa8ff58d951a11d3178116d/gensim/similarities/docsim.py#L925

#### Steps/Code/Corpus to Reproduce
[code]

#### Expected Results
I believe that the TransformedCorpus tfidf[corpus] is an iterable of list of

[2018-03-05 18:42] Villuck commented on #447
I created a model from a corpus of documents (sentences) whit doc2vec. So, when I infer a vector of an identical phrase contained in the corpus, I would like to get the same embedding. But this does not happen. How can I do?
 In practice, I would like to eliminate indeterminism factor both in the training and in the inference. Is it possible?

[2018-03-05 19:46] piskvorky commented on #1940
In general we want to stick to the original, yes.

@manneshiva what does "unused" mean for externally loaded models? What exactly do we gain by modifying the static model's default behaviour there?

I don't have enough intuition about the trade-offs, the pros and cons.

[2018-03-05 21:25] gojomo commented on #447
@Villuck - read the above comments in this issue for an explanation of the indeterminism & possible workarounds. For initial training to be deterministic, you'd need to limit training to a single thread - which will be much, much slower.

But in general, because these algorithms inherently use randomness, it's often better to have your evaluation processes be tolerant of small jitter/variance betw

[2018-03-05 21:57] piskvorky commented on #1955
CC @Witiko

[2018-03-05 22:32] Witiko commented on #1955
Just to expand the original issue report, the `get_similarities` method of `SoftCosineSimilarity` was taken verbatim from `WmdSimilarity`. Any diversion from the expected behavior is likely to impact that class as well.

[2018-03-05 22:57] JonathanHourany commented on #1952
@menshikh-iv I wish I could, but the models are for a client that won't approve. If it would help though, I could train a model on a small open corpus like the lee corpus and post that some time today or tomorrow

[2018-03-05 23:00] pratikmjoshi commented on #1485
@menshikh-iv Sorry, but I've been getting a bit confused with the code. In utils.py, is a function like this for path checking ok? The code is basically from #1501 , but I've added a check for amending the path depending on the platform. What will be the Windows equivalent of /usr/bin/ (I've just put C:\\Users\\ ,pretty sure that its incorrect)? Am I missing anything else?

![screenshot from 2018-

[2018-03-05 23:13] pratikmjoshi commented on #1485
@menshikh-iv  After making the necessary changes, the respective error messages are raised as below:

![screenshot from 2018-03-06 04-40-03](https://user-images.githubusercontent.com/19923446/37005066-b48bd942-20f8-11e8-9ae6-fc0f573dffbe.png)

![screenshot from 2018-03-06 04-40-17](https://user-images.githubusercontent.com/19923446/37005084-bf83f5dc-20f8-11e8-8cc7-eddf9d5ad5d4.png)

However, after

[2018-03-06 03:26] menshikh-iv commented on #1654
Hello @aneesh-joshi,

1. This doesn't require GPU support, don't worry
2. Start from more simple variant - `gensim.corpora.Dictionary`, this looks like simplest variant.

[2018-03-06 03:30] menshikh-iv commented on #1952
@JonathanHourany yes, this is a great idea!

[2018-03-06 03:49] menshikh-iv commented on #1485
@pratikmjoshi about path (`/usr/bin`, etc): they can be many varieties only on Linux + user can have some custom path, and we have not started with other OS. IMO this way doesn't look like the right way.

Also, sometimes, wappers want to path to "folder" (and have hard-coded executable), please check, how it works for all wrappers (it's not so simple).

[2018-03-06 09:50] Villuck commented on #447
Ok, i've understand. But, is it possible in some way to eliminate indeterminism for obtaining the same embeddings every time?

[2018-03-06 11:19] Keramatfar opened #1956 "ValueError: You must specify either total_examples or total_words, for proper alpha and progress calculations. The usual value is total_examples=model.corpus_count."
I am trying to train a doc2vec model using gensim but i get some confusing errors. i get teh above error when i use this line in a for loop to train:
    model.train(it, epochs=model.iter, total_examples=model.corpus_count)

[2018-03-06 11:30] persiyanov commented on #1942
@menshikh-iv Greetings, does anyone work on this? If not, I could prepare a PR.

[2018-03-06 12:00] menshikh-iv commented on #1956
Hello @Keramatfar,
can you give a full example (code + data) for reproducing your problem?

[2018-03-06 12:01] menshikh-iv commented on #1942
@persiyanov hello, I see no PRs related with this change, feel free to contribute :+1:

[2018-03-06 12:26] Keramatfar commented on #1956
Definitely, but my data is in Persian.

My Code:
import csv
from gensim.models import doc2vec
from collections import namedtuple
from nltk import word_tokenize
from gensim.models.doc2vec import TaggedDocument
import gensim

LabeledSentence = gensim.models.doc2vec.LabeledSentence

docs = []
tags = []
analyzedDocument = namedtuple('AnalyzedDocument', 'words tags')

with open('all.csv', encoding = 'U

[2018-03-06 18:01] gojomo commented on #447
@Villuck - It's explained above, for `infer_vector()`. For training, it requires limiting to a single `worker=1` thread. And it's usually a bad idea. Good luck!

[2018-03-06 18:37] nataliedurgin commented on #1955
Not sure if this is the correct place to put this info, but I also noticed that these related unit tests do not seem to be run:

https://github.com/RaRe-Technologies/gensim/blob/f9669bb8a0b5b4b45fa8ff58d951a11d3178116d/gensim/test/test_keyedvectors.py#L30

And if they did, I am not sure this is correctly checking for ones on the diagonal of the term similarity matrix:

https://github.com/RaRe-Tech

[2018-03-06 18:47] Villuck commented on #447
It doesn't work. I create the model with this line:
`model = gensim.models.doc2vec.Doc2Vec(size=dim_latent_factors, min_count=2, iter=260, dm=0, workers=1)`
but the system returns a different embeddings of the same doc in every running.

[2018-03-06 19:51] Witiko commented on #1955
You are correct, @nataliedurgin. If the test were run, they would have failed at https://github.com/RaRe-Technologies/gensim/blob/f9669bb8a0b5b4b45fa8ff58d951a11d3178116d/gensim/test/test_keyedvectors.py#L38
since the up-to-date signature of `similarity_matrix` is `similarity_matrix(dictionary, tfidf, …)`. Do you have any idea why the tests are not ran, @menshikh-iv?

[2018-03-06 20:11] nataliedurgin commented on #1955
I think unittest might require methods to be prefixed by 'test_' in order to find them. The tests might be formatted like this:
https://github.com/nataliedurgin/gensim/commit/5bb6aea3a92b8e7ff7cecfca054a6057bb9b8fa8

All seem to pass in that case except for checking that there are ones on the diagonals. (Not to say they shouldn't be expanded.)

(Sorry I wasn't working on this issue. I was working

[2018-03-06 20:28] Witiko commented on #1955
Good catch. This seems to be a test case that I sketched and then forgot about, since the CI service was green.

[2018-03-06 20:47] gojomo commented on #447
@Villuck - Did you also read the part about PYTHONHASHSEED in Python 3.x, above? In any case, if you have continued problems related to training you should ask (with full code excerpts demonstrating the problem) on the project discussion list, <https://groups.google.com/forum/#!forum/gensim>, not this issue tracker for a specific unrelated feature request.

[2018-03-07 04:37] menshikh-iv commented on #1956
@Keramatfar this is not a problem that your data in Persian, please share `all.csv` file.

I already see several mistakes (looks like "old" approach")
[code]

should be
[code]

[2018-03-07 07:47] aneesh-joshi commented on #1654
hey @menshikh-iv

I am trying to apply bounter to [gensim.corpora.dictionary](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/corpora/dictionary.py) and had some doubts

https://github.com/RaRe-Technologies/gensim/blob/f9669bb8a0b5b4b45fa8ff58d951a11d3178116d/gensim/corpora/dictionary.py#L203

implies that the it will return index, frequency

But the example shows
https://github.co

[2018-03-07 07:50] menshikh-iv commented on #1654
@aneesh-joshi this is frequency in "current" document, i.e.

[code]

[2018-03-07 08:51] menshikh-iv commented on #1654
**important information**: for proper integration of Bounter, we need to create wheels for all platforms (in the same way as for gensim), because this will be "core-dependency".

[2018-03-07 09:10] piskvorky commented on #1955
@Witiko @nataliedurgin can you fix it?

[2018-03-07 09:33] ttpro1995 opened #1958 "gensim.scripts.word2vec2tensor TypeError: write() argument must be str, not bytes"
**How I make article_body_w2v_300.txt**

[code]

**Command I use to run gensim.scripts.word2vec2tensor **
python -m gensim.scripts.word2vec2tensor -i article_body_w2v_300.txt -o meow/
2018-03-07 16:30:29,484 - word2vec2tensor - INFO - running

Console output
[code]

[2018-03-07 09:36] Villuck commented on #447
@gojomo ok, thank you.

[2018-03-07 09:41] aneesh-joshi commented on #1654
I am still trying to find a proper place to apply Bounter.
Once that's done, will start work on core dependencies

[2018-03-07 10:20] menshikh-iv commented on #1654
@aneesh-joshi internal dictionaries in `Dictionary`, vocab in w2v maybe, etc

[2018-03-07 10:21] menshikh-iv commented on #1958
hello @ttpro1995, thanks for the report, can you try to run `gensim.scripts.word2vec2tensor` with `python2` (I have some ideas, what happens here)?

[2018-03-07 11:10] Witiko commented on #1955
@piskvorky Not earlier than this weekend. @nataliedurgin has already fixed the (unrelated) tests, but the original issue still needs fixing and making into a new test case.

[2018-03-07 11:38] Witiko commented on #1955
Most of the method should be directly reusable if you are going for the same greedy algorithm that achieves a constant number of non-zero elements per a row / column. If you are going just for a constant threshold, like Sidorov et al. (2014) did, you will end up with something much simpler. Building the similarity matrix off the Levenshtein distance achieved competitive results to word embeddings

[2018-03-07 14:13] nataliedurgin commented on #1955
Those actually were the relevant tests, but because the diagonals test case still needed to be corrected, I didn't necessarily want to take responsibility for it. I guess I've written that test for my purposes already too, so it won't be a bother. I'll open another ticket for just the tests and close it in my eventual pull request.

@Witiko Exactly my reasoning. I am implementing aspects of the Si

[2018-03-07 14:30] Witiko commented on #1955
I could be mistaken, but the issue seems to be related to the `SoftCosineSimilarity` class that handles bulk queries, whereas the tests you fixed are related to the `similarity_matrix` method, which is not the subject of this issue. These would be the related tests: https://github.com/RaRe-Technologies/gensim/blob/f9669bb8a0b5b4b45fa8ff58d951a11d3178116d/gensim/test/test_similarities.py#L373

Perf

[2018-03-07 18:00] nataliedurgin opened #1960 "similarity_matrix: suspicous column indexing logic when tfidf model supplied"
#### Description
Expected gensim.models.keyedvectors WordEmbeddingsKeyedVectors property similarity_matrix to respect the reordering of terms dictated by a supplied tfidf model. This does not seem to be the case.

#### Steps/Code/Corpus to Reproduce
This will be an unconventional bug report because I did not find this bug "in the wild".  In adapting the code for another purpose, I noticed some log

[2018-03-07 18:16] nataliedurgin opened #1961 "similarity_matrix: unit tests not run"
#### Description
The unit tests for the gensim.models.keyedvectors similarity_matrix cannot currently be found and are not being run.

https://github.com/RaRe-Technologies/gensim/blob/f9669bb8a0b5b4b45fa8ff58d951a11d3178116d/gensim/test/test_keyedvectors.py#L30

Fix is underway:
https://github.com/nataliedurgin/gensim/commit/5bb6aea3a92b8e7ff7cecfca054a6057bb9b8fa8

[2018-03-07 18:22] nataliedurgin commented on #1955
This issues surrounding unit tests for similarity_matrix can now be found #1961 and #1960.

[2018-03-07 18:54] piskvorky commented on #1955
@nataliedurgin sorry, I'm not familiar with the application here, but what edit distance functionality is actually needed (hot spot)?

Is it a string-string query, or string-set_of_strings query? Is there an upper threshold on the "maximum relevant distance"? Is it really Levenshtein, or would a better edit-distance model help (such as errors due to keyboard typos, syllables, pronunciation etc).

[2018-03-07 19:08] nataliedurgin commented on #1955
@piskvorky That would be fantastic if it exists. I couldn't find it in the repo. The application in SimBow at SemEval 2017 http://www.aclweb.org/anthology/S17-2051 (the paper mentioned by @Witiko) is constructing a word-word edit distance similarity matrix. I am not actually implementing levenshtein, but planned to use either pylev.levenshtein or distance.levenshtein (which would perhaps create un

[2018-03-07 20:45] nataliedurgin commented on #1955
Aside: every time I read "softcos" my brain turns it into "soft tacos" and I get hungry.

[2018-03-08 01:03] Witiko commented on #1960
Thank you for the report. So far, this does not seem to be a bug to me. Several things to note:

- If we pass the condition at the line that you mention in your report:
https://github.com/RaRe-Technologies/gensim/blob/f9669bb8a0b5b4b45fa8ff58d951a11d3178116d/gensim/models/keyedvectors.py#L515
  then the similarity matrix is actually of lower order than `nonzero_limit + 1` and we will process all c

[2018-03-08 05:13] nataliedurgin commented on #1960
It is entirely possible I am misunderstanding the purpose of the option of providing a tfidf model into this function. Let me offer a test case (this time in context) that highlights what believe its purpose to be.

[code]

My understanding is that a document vector, in this case, is a 3-dimensional vector, and the elements in the vector are values that are ordered according to the term order ['ab

[2018-03-08 06:41] menshikh-iv commented on #1961
@nataliedurgin nice catch, thank you!

[2018-03-08 07:14] rahulgithub commented on #1094
<img width="1170" alt="screen shot 2018-03-07 at 11 13 36 pm" src="https://user-images.githubusercontent.com/4360712/37138013-3ad2f494-225d-11e8-97bf-e1df45126884.png">

[2018-03-08 09:31] ttpro1995 commented on #1958
On **python 2.7**, it worked without need any fix.
[code]

On **python 3.6,** it need some fix.

[code]
`gensim.utils.to_utf8(word)` type is byte but `write()` need string. So I add decode("utf-8")

[code]

Then, it work on python 3.6. However, this fix **does not work on python 2.7**.
If run on python 2.7 with decode("utf-8")

[code]

[2018-03-08 11:06] menshikh-iv commented on #1958
@ttpro1995 aha, as awaited, big thanks, that's really a bug.

[2018-03-08 12:40] steremma opened #1964 "Improving Tutorials"
#### Documentation in general
In general, a well written and maintained documentation can be divided into 4 concrete elements as explained in this [talk](https://www.youtube.com/watch?v=azf6yzuJt54&feature=youtu.be&list=PLBQrpodM6rL-LDUw_gTZKhpYOidQXJNQe):
1. Reference
2. Discussions
3. Tutorials
4. How to Guides

**1** in our case is achieved with the docstrings and the Sphinx building the html c

[2018-03-08 12:52] piskvorky commented on #1955
Aha, so we're comparing two static sets of words?

And do we care about all the distances = filling this word x word distance matrix fully, or only a subset. such as only top-N closest in each row, or only cell values <= 3 etc?

[2018-03-08 12:53] piskvorky commented on #1955
@nataliedurgin none of that work is open sourced (yet). I'm just trying to figure out if it's worth it, what the actual use case is here :)

[2018-03-08 13:33] nataliedurgin commented on #1960
Thank you for your patience. I see now I had a misconception about the gensim tfidf transformation reordering features. I am not sure where that originated, but I am very glad to have it corrected!

Just to make sure I understand, the tfidf parameter here is not meant to restructure the output in any way, it is supplied as a means to improve performance?

[2018-03-08 13:51] Raghuvar commented on #1751
Had the same issue. Helped me a bit, still heading around.

[2018-03-08 13:52] menshikh-iv commented on #1751
@Raghuvar please update your gensim version to latest

[2018-03-08 15:09] menshikh-iv commented on #1964
Thanks for posting @steremma :+1:
Guys @yurkai @anotherbugmaster @CLearERR let's discuss current point!

[2018-03-08 15:45] Witiko commented on #1955
Definitely only top-N closest in each row.

[2018-03-08 16:44] piskvorky commented on #1955
Cool, that should optimize very nicely. Nothing urgent -- IMO let's get the algo correct first and check the performance. See if it's actually worth optimizing.

[2018-03-08 18:52] piskvorky opened #1965 "Faster SVD using sampling & GPU"
This looks like an interesting algo, exploring the use of sampling and GPU to compute truncated SVD (~LSI) quickly:

*Sampling Algorithms to Update Truncated SVD. 2017. Yamazaki, I., S. Tomov, and J. Dongarra.*
 [PDF](http://icl.cs.utk.edu/projectsfiles/magma/pubs/70-bd17.pdf)

The core algorithm is similar to what we already have in Gensim (randomized) and expands on it. SVD is such a core algo a

[2018-03-08 20:10] gojomo commented on #1094
@rahulgithub It's not clear to me from those examples that s1-s2 "should" be closest. And, it's not the "complete opposite" in your numbers - s1-s2 is in the middle position of pairwise distances (neither farthest nor closest). And, the full range of distances (1.84 to 2.44) isn't that great, so there's not a lot of contrast in this example. So not sure there's anything wrong here.

If you have op

[2018-03-08 21:35] Witiko commented on #1960
That is correct. Informally speaking, when the matrix is empty, we can take a row and just fill all columns corresponding to the closest terms in the embedding space. When the matrix is non-empty, however, some columns (that do not necessarily correspond to the closest terms) will already be pre-filled in a row (due to the symmetric `matrix[w2_index, w1_index] = element` assignment) and some colum

[2018-03-08 21:43] Witiko commented on #1960
However, the documentation should be reworded, since the rows are processed in _decreasing_, not increasing, order of importance. I will make a commit that clarifies the documentation and close this issue.

[2018-03-09 02:58] ttpro1995 opened #1967 "Need documentation about word2vec "# you can continue training with the loaded model!""
In documentation [models.word2vec](https://radimrehurek.com/gensim/models/word2vec.html), it said
`model = Word2Vec.load(fname)  # you can continue training with the loaded model!`

However, I did not see any official document (with example) about this.

There are a question on [stackoverflow](https://stackoverflow.com/questions/48443999/gensim-word2vec-continue-training-on-existing-model-attribut

[2018-03-09 05:09] menshikh-iv commented on #1964
Some thoughts:

About **2**: we almost ignore stack-overflow, this doesn't look like a good idea (because this is very popular QA service and significantly most popular than our mailing lists)

About **3, 4** (general view): we didn't split it, we have many notebooks that contain:
- tutorials
- howto guides
- benchmarks
- whatever

It's all in a heap and it's very difficult to find what you need.

[2018-03-09 06:38] menshikh-iv commented on #1967
Hello @ttpro1995 ,

you extract this line from our documentation, what do you mean as "official document" in that case?
FYI - almost all of our models can be trained after loading (because we support online-learning).

`total_examples` is number of sentences, this used for logging proposes only, read carefully docstring for train method, need informaton already described https://radimrehurek.com/g

[2018-03-09 06:38] #1967 closed

[2018-03-09 07:21] menshikh-iv commented on #1670
Fixed in #1859

[2018-03-09 07:21] #1670 closed

[2018-03-09 07:23] menshikh-iv commented on #1671
Fixed in #1729,  #1814 and  #1835

[2018-03-09 07:23] #1671 closed

[2018-03-09 07:25] menshikh-iv commented on #1666
Fixed in #1681 and #1910

[2018-03-09 07:25] #1666 closed

[2018-03-09 07:27] menshikh-iv commented on #1665
UPD: almost done in #1792, the latest thing that should be fixed is `make_wikicorpus`, but this is possible only with refactoring & breaks backward compatibility.

[2018-03-09 07:29] menshikh-iv commented on #1667
Related PR #1895

[2018-03-09 10:49] steremma commented on #1964
I agree with the points raised, especially the difficulties with keeping track of notebooks as I have experienced the same issues in my workplace. The linked PR will be a useful reference for working with `sphinx gallery`. I will start looking into it as soon as I complete my previously assigned tasks (probably in 1 week from now)

[2018-03-09 22:45] crypdick opened #1969 "How to adapt gensim.corpora.wikicorpus to work with full Wikipedia revision history?"
I am interested in using doc2vec to study Wikipedia revisions on a per-article and per-author basis.  According to [the docs](https://radimrehurek.com/gensim/corpora/wikicorpus.html#gensim.corpora.wikicorpus.WikiCorpus), Wikicorpus() only supports these dump formats:

Is it possible to adapt your code to work with `pages-meta-history.xml.bz2` files?

[2018-03-10 00:13] crypdick commented on #1969
From what I can tell, I'd have to add a few extra elements to [extract_pages()](https://github.com/RaRe-Technologies/gensim/blob/2ee7a2c3b376d62020992f4b31bdaa79cf9de8db/gensim/corpora/wikicorpus.py#L333) (e.g. author, revision id, parent), turn on `self.metadata` and update [get_texts()](https://github.com/RaRe-Technologies/gensim/blob/2ee7a2c3b376d62020992f4b31bdaa79cf9de8db/gensim/corpora/wikic

[2018-03-10 00:44] simongeek opened #1970 "Why i can't load model on Python 3.6 version?"
I have problem with loading model on Python 3.6 version:

  File "/Users/szymon/anaconda3/lib/python3.6/site-packages/gensim/models/word2vec.py", line 975, in load
    return super(Word2Vec, cls).load(*args, **kwargs)
  File "/Users/szymon/anaconda3/lib/python3.6/site-packages/gensim/models/base_any2vec.py", line 629, in load
    model = super(BaseWordEmbeddingsModel, cls).load(*args, **kwargs)

[2018-03-10 05:31] #1789 closed

[2018-03-10 05:41] menshikh-iv commented on #1970
Hello @simongeek,
1. What's Gensim version was used for training?
2. What's a current Gensim version?
3. Please share your model (very important for reproducing your error)

[2018-03-10 16:52] tvrbanec commented on #668
I have the same issue. 4 cores, and word2vec fast version use only 1. SSD, text is preprocessed, everything is in RAM, so there is no visible bottleneck.

[2018-03-10 21:46] anotherbugmaster commented on #1938
@piskvorky I mostly agree, though optional keyword next to an argument is IMHO more readable than [this](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html#sklearn.ensemble.RandomForestRegressor)

![image](https://user-images.githubusercontent.com/3992246/37246994-bf69ded4-24c4-11e8-9b43-4b11af71062f.png)

As for DRY, yes, in a perfect world those `optiona

[2018-03-11 08:35] sandyleong1007 opened #1973 "TypeError: doc2bow expects an array of unicode tokens on input, not a single string"
Hi I using gensim for topic modelling, i am experiencing some errors message that i dont quite understand it please help!

Error message
[code]

Here is my code

[code]

Here is the sample content of my txt file

[2018-03-11 18:24] sharanry commented on #1953
@menshikh-iv Can I take this up?

[2018-03-11 18:44] Raghuvar commented on #1751
@menshikh-iv Done it and got rid of the issues. Now it's working great.
Anyway, Thanks @menshikh-iv

[2018-03-11 21:34] jayrodge opened #1975 "Getting a problem regarding glove"
#### Description
I'm trying to implement Wordrank on a corpus, butting getting the following error.
[code]
Getting this error
[code]
Please suggest any changes so that it executes.
Thanks

[2018-03-12 04:03] menshikh-iv commented on #1969
Hello @crypdick, yes, you can modify `extract_pages`.
Also, please have a look at https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/scripts/segment_wiki.py script (probably, this will be useful for you).
FYI better to use [our mailing list](https://groups.google.com/forum/#!forum/gensim) for this type of questions.

[2018-03-12 04:03] #1969 closed

[2018-03-12 04:10] menshikh-iv commented on #1973
Hello @sandyleong1007,

your `doc` is `str` but should be a `list of str (tokens)`, you forgot to split your line into tokens.
In this case, if your `line` for example `hi draw date`, `doc` (from list comprehansion) will iterate over characters (i.e. `h` `i` ` ` `d` `r` `a` `w` ...).

Also, in your code sample, you create `Dictionary` based on one line from your file & after train `LdaModel`, I'm

[2018-03-12 04:10] #1973 closed

[2018-03-12 05:10] #1960 closed

[2018-03-12 06:06] #1955 closed

[2018-03-12 06:31] menshikh-iv commented on #1975
Hello @jayrodge, check that `wr_path` is an absolute path & `wordrank` folder contains `glove` folder with several binaries like this

[code]

[2018-03-12 06:31] #1975 closed

[2018-03-12 06:47] #1952 closed

[2018-03-12 07:08] menshikh-iv commented on #1953
@sharanry yes (but remember that this isn't easy addition).

[2018-03-12 07:11] menshikh-iv commented on #1751
@Raghuvar say thanks to @alexgarel (it's a fix from him) :)

[2018-03-12 09:43] sharanry commented on #1953
@menshikh-iv I did not get you. Should I wait for the benchmarks? or should I make the benchmarks? Are we going to use the algorithm as is?

[2018-03-12 09:49] menshikh-iv commented on #1953
@sharanry if you pick this one - we are waiting for benchmark from you :)
From start - as is, but probably we'll change some details (like search part or coefficients), but based on the benchmark of course (not random picking parameters).

[2018-03-12 20:19] abhishek021 commented on #1284
I'm trying to train on word2vec using
**model.train(sentences,total_examples=model.corpus_count,epochs=model.epochs)**
but i'm getting value error as
ValueError: You must specify an explict epochs count. The usual value is epochs=model.epochs.

[2018-03-13 02:01] gilgarad commented on #1970
I had a similar problem like this;
it seems like the version of python and gensim generated the model must be same as the one that is trying to access the model... Did you check them?

[2018-03-13 02:35] arlenk commented on #1697
@abhijeetchauhan if it helps and you are still interested, I have some code for exploring a few different options here: https://github.com/arlenk/gensim/tree/binary_corpus

I tested out the following:

- the python standard library's "struct" module.
Pros: no cython code, struct module is supported and well tested
Cons: binary file is not portable (hardware specific endian, packing, etc.).  C
- st

[2018-03-13 04:36] menshikh-iv commented on #1943
ping @MrMimic, we need a full example from you (code + data) for reproducing this error.

[2018-03-13 04:36] menshikh-iv commented on #1956
Ping @Keramatfar, we are waiting for `all.csv` file (needed for reproduce an error)

[2018-03-13 05:10] menshikh-iv commented on #1970
Hello @gilgarad,
can you give me needed information for reproducing the error https://github.com/RaRe-Technologies/gensim/issues/1970#issuecomment-372005079

[2018-03-13 05:12] menshikh-iv commented on #1284
@abhishek021 can you show, what's values of `model.corpus_count` and `model.epochs`?

[2018-03-13 05:35] abhishek021 commented on #1284
@menshikh-iv  corpus_count =128868 and epochs=5

[2018-03-13 05:39] Savaimaheshwari commented on #1284
model.train(sentences, total_examples=model.corpus_count, epochs=model.iter)

[2018-03-13 05:39] Savaimaheshwari commented on #1284
epochs=model.iter
 total_examples=model.corpus_count

[2018-03-13 05:40] menshikh-iv commented on #1284
@abhishek021 should definitely work, can you share your model & code & corpus (I'll try to reproduce your error).

[2018-03-13 05:42] Savaimaheshwari commented on #1284
model = word2vec.Word2Vec(sg=0, workers=3, size=300, min_count=3,
                                  window=4, hs=1, negative=0)
        model.build_vocab(sentences)
        model.train(sentences, total_examples=model.corpus_count, epochs=model.iter)

        if not os.path.exists("trained"):
            os.makedirs("trained")

        model.save(os.path.join("trained", "model.w2v"))
        model

[2018-03-13 05:46] abhishek021 commented on #1284
@menshikh-iv Now I'm facing issue with tsne.fit_transform() dimensionality reduction process.
please see my above reply

[2018-03-13 06:09] menshikh-iv commented on #1284
@abhishek021 TSNE from scikit-learn (not Gensim), possible solutions are
- use sample of word-vectors (because you have no enough of RAM)
- use simpler methods like PCA

@Savaimaheshwari what is it? Do you have some questions?

[2018-03-13 09:48] abhishek021 commented on #1284
@menshikh-iv  thanks for the information.
I think 8GB of ram is not enough for my dataset. So I reduced the corpus size and it's working now

[2018-03-13 11:05] sharanry commented on #1953
@menshikh-iv I have benchmarked the time, I am working on the memory benchmarking.
Here is the link to the notebook.
https://colab.research.google.com/drive/1p9UhVrCZFmIxiqyvOXEzGpqXayeblupl

[2018-03-13 11:16] menshikh-iv commented on #1953
@sharanry no need to benchmark magnitude now (this isn't our goal).

First of all,  you should implement very similar technique (algorithm) and check that this works correctly (tests).
The second - compare it by time with Magnitude implementation, optimize your implementation until performance not be a good enough.

[2018-03-13 13:00] #220 closed

[2018-03-13 13:18] fsfeng opened #1977 "Trouble re-loading Doc2Vec Model Generated In earlier Version"
I trained a Doc2Vec model in an earlier version of gensim and now can not load it. I tried both `Doc2Vec.load(fname)` and `Doc2Vec.load(fname, mmap = 'r')`. Both produce the same errors:

`AttributeError: Can't get attribute 'DocvecsArray' on <module 'gensim.models.doc2vec' from 'DIR/python/miniconda3/lib/python3.6/site-packages/gensim/models/doc2vec.py'>`

` AttributeError: 'Doc2Vec' object has n

[2018-03-13 13:37] gagangm opened #1978 "MmCorpus file attribute error"
Not able to serialize the corpus into a saved file.

corpora = [dictionary.doc2bow(text) for text in texts]
corpora.MmCorpus.serialize(os.path.join(TEMP_FOLDER,'deerwester.mm'), corpus) #store to disk, for later use
for c in corpus:
    print(c)

It is throwing a following error:

AttributeError                            Traceback (most recent call last)
<ipython-input-9-16983d1bfedb> in <module>

[2018-03-13 13:45] menshikh-iv commented on #1978
@gagangm your code is incorrect (list really have no attribute MmCorpus)
should be something like this
[code]

[2018-03-13 13:45] #1978 closed

[2018-03-13 13:47] menshikh-iv commented on #1977
Hello, can you share your model (or install current `develop` branch and check again), probably this already resolved in #1974  (but I'm not sure)

[2018-03-13 13:51] sharanry commented on #1953
@menshikh-iv Are we trying to use this algorithm directly on the vocabulary file, instead of first making a `.magnitude` file?  The bottleneck of magnitude from my understanding is mainly SQL queries.

[2018-03-13 13:55] menshikh-iv commented on #1953
@sharanry yes, we want to try to add this out-of-vocab feature to https://github.com/RaRe-Technologies/gensim/blob/122dad657688b51f0176a81a20bd1fa6d0986b8b/gensim/models/keyedvectors.py#L1051

[2018-03-13 14:05] sharanry commented on #1953
So basically input is out-of-vocab key and the output is the out-of-vocab vector?

this latter can be used for other features similarity, most similar, etc?

[2018-03-13 14:09] cgumpert opened #1979 "Chaining Phrases objects produces inconsistent scores"
#### Description
When using the `Phrases` model for finding collocations and chaining them (using `Phraser`) to not only find bigrams but also trigrams. The returned scores for the trigram model are wrong in specific cases (e.g. using NPMI as scorer and finding score > 1).

#### Code to reproduce
Please find below the code to reproduce the problem (apologies for the German example):
[code]

#### E

[2018-03-13 14:22] menshikh-iv commented on #1953
@sharanry exactly

[2018-03-13 15:51] fsfeng commented on #1977
Hi I tried with the `develop` branch install but am getting the exact same problem.

Not sure what you mean by sharing my model, but here's the code I used to create it.

[code]
This was done a few months ago and now when I try to re-load the model I'm getting the error reported above.

[2018-03-13 18:57] cgumpert commented on #1979
I realized that a fix might not be so difficult after all. My naive approach would be to use a tuple `(worda, wordb)` as key in the vocabulary instead of `delimiter.join([worda, wordb])`. If PR's are welcome, I could try to prepare a fix over the weekend.

Cheers,
Christian

[2018-03-14 03:55] menshikh-iv commented on #1977
@fsfeng about "sharing model" I mean load it `doc2vec_1030.model` to GitHub/google drive/etc and publish a link here (this needed for investigation & fixing).

What's a gensim version you are used?

CC: @manneshiva probably this is a bug, please fix it ASAP.

[2018-03-14 03:57] menshikh-iv commented on #1820
No more actual, because #1964 and sphinx-gallery will be very soon.

[2018-03-14 03:57] #1820 closed

[2018-03-14 04:17] menshikh-iv commented on #1979
@cgumpert thanks for the detailed description, exemplary report :+1:

You are right, `trigram` think that `guten_tag` is distinct token (and this is correct in that case).
From the one hand, I agree that this is a bug (because `nmpi` produce score not from a range), for the other hand - counter is **correct** in this case (because `guten_tag` for Phrases isn't a bigram, this is one more token from

[2018-03-14 05:05] gilgarad commented on #1970
I solved it by making them using all same version

[2018-03-14 07:19] gilgarad commented on #447
@jrieke Thank you~!! with the random seed 0, I get same result vectors as I expected

[2018-03-14 08:52] alexgarel commented on #1979
Really, I'm not a specialist of the statistic side but I think @cgumpert is right in the sense that actual `Phrases` implementation is unaware of chaining, which is misleading if you expect chaining to really detect 3-grams in their statistical sense of the original corpus.

I think using tuples is a good way to go, but I'm not sure if you can really generalise the Phrases to take this into accoun

[2018-03-14 11:25] menshikh-iv commented on #1979
@alexgarel one more idea (for discussion) - maybe add a parameter that will say about "what's the max number of words can be represented as n-gram", this allows applying phrases only 1 time (with trigrams immediately, or 5-gram, any). It this case, the current problem no happens more (because the user can parametrize it before fitting Phrases and have no sense to apply it twice or more times).

[2018-03-14 13:27] #1917 closed

[2018-03-14 18:20] ahmedahmedov commented on #1956
I have a similar problem. There is no way to reuse the pre-scanned vocabulary. I have explained the problem in the comments of the following code:
[code]

[2018-03-14 22:32] ahmedahmedov opened #1981 "Reusing Vocabulary built with scan_vocab is impossible"
I have a huge corpus which takes more than 3 days to build a vocabulary for. Thus, I really need to reuse the vocabulary. However, with the newer version it has become impossible to do so as explained in the code snippet below:
[code]

[2018-03-15 01:36] menshikh-iv commented on #1956
@ahmedahmedov unfortunately, you can't retrieve it correctly if you didn't call `build_vocab` (this attributes keeping directly by model, not in `Wod2VecVocab`).

[2018-03-15 01:43] menshikh-iv commented on #1981
Hello @ahmedahmedov, thanks for the report, this is a problem with API (and I don't know how this can be resolved in a good way without breaking backward compatibility).

@manneshiva any ideas?

https://groups.google.com/forum/#!topic/gensim/BqWh3l6C5J0 - similar discussion

[2018-03-15 09:30] #1667 closed

[2018-03-15 09:39] piskvorky commented on #1697
Does this follow the standard CSC format mentioned [above](https://github.com/RaRe-Technologies/gensim/issues/1697#issuecomment-368825707)?

Now that we have MmCorpus optimized, I'm -1 on introducing a new custom format, unless it adds additional capabilities, such as mimicking standard CSC layout and large arrays being directly mmap-able.

[2018-03-15 10:18] ahmedahmedov commented on #1981
Thanks for the reply.
I think the Vocabulary class needs to be modified to have total_examples and total_words as class fields, instead of merely returning these values.
Secondly, I don't think prepare_vocab belongs to the vocabulary class since it modifies Model's fields. So, a Word2VecModel.prepareVocab(Vocabulary) should take a Vocabulary object as an input and modify the internal state of itse

[2018-03-15 11:28] menshikh-iv commented on #1697
@piskvorky as I understand - no

I'm +1 for this change because this can give us the significant boost for performance `~2-4x` (even in comparison with optimized `MmCorpus`)

I see no serious difference between custom format & mmap for 3 dense numpy arrays.

[2018-03-15 12:37] piskvorky commented on #1697
Yes.

Advantages of using a standard format include easier interoperability, ability to use standard read/write tools, wider applicability and mmap.

I see no reason to create a new custom format for only a 2-4x improvement (to an already fast reader).

[2018-03-15 12:47] piskvorky commented on #1981
CC @manneshiva @janpom -- does this relate to the recent refactor?

[2018-03-15 13:19] menshikh-iv commented on #1697
@piskvorky did you know, how to write iterable as numpy array to disk in "streaming manner"? I never heard about it.

 I'm +1 for the standard format, but only if this works with approximately the same performance as custom solutions.

For me,  priorities are `read (speed)` > `write (speed)` > `file size`, I don't think that compression so important now (2018 year, HDD is really cheap, SSD is chea

[2018-03-15 14:34] #1710 closed

[2018-03-16 02:02] arlenk commented on #1697
It does not use scipy.sparse.save_npz and load_npz as I could not figure out an easy way to stream with those.  Under the hood, it looks like scipy just saves a sparse matrix as three numpy arrays (one with the data, and two with the indices that contain non zero values).

The formats I used here are similar.  For each document, we just store the docid, the number of elements, and then pairs of (t

[2018-03-16 02:08] arlenk commented on #1697
I ran an updated benchmark of fitting an LDA model with the nytimes corpus (300k documents, so large but not gigantic) and reading the corpus only takes 3% of the total time.  Do you know if there are other use cases I can try where the corpus is the bottleneck?

[2018-03-16 03:33] menshikh-iv commented on #1697
@arlenk so, you can try other topic models (like `AuthorTopicModel` or `LdaSeqModel`, but I don't think that results will be so different).

ping @persiyanov, please describe your results here too.

[2018-03-16 08:25] bringtree opened #1982 "dict2gensim"
#### Description
TODO: change commented example

i have a Word2Vec and it is saved by pickle. it's type is dict .
and now I want to know how can i do, to make the gensim load the dict .
thanks
#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-03-16 09:26] menshikh-iv commented on #1982
Hello @bringtree, we have special `save`/`load` methods that should be used for (de)serialization.
I don't understand, where did you get dict? We definitely do not have such a thing.

Please show a code that demonstrates, how you save your model and share this file too, I'll try to help.

FYI use [mailing list](https://groups.google.com/forum/#!forum/gensim) for this kind of questions, issues isn'

[2018-03-16 09:26] #1982 closed

[2018-03-16 16:11] piskvorky commented on #1697
I don't think we can use save_npz/load_npz, as these do not support mmap.

AFAIK, the numpy format (which can be memory-mapped) is more or less raw bytes, with a small header at the beginning.

[2018-03-17 09:50] persiyanov commented on #1697
@arlenk @menshikh-iv

@arlenk thanks for the good benchmark. I used it to experiment a bit.

I rewrote `python array` version with Cython. It gave a miserable boost and not worthy attention. I also compared this `cython array` version with yours `cython struct` on reading the corpus only (ran 5 times, then averaged and calculated std):

[code]

I agree that _corpus reading phase_ is actually done

[2018-03-17 12:03] swierh opened #1983 "Word2Vec and Doc2Vec do not update word embeddings if `negative` keyword is set to 0"
#### Description
Setting the `negative` keyword to `0` for Doc2Vec causes the training to not update word embeddings after the random initialisation.
This happens silently and is behavior I wasn't expecting.

#### Steps/Code/Corpus to Reproduce
[code]

#### Results
As can be seen below, the results for the models that have a `negative=0` show the same results after 1 or 2 epochs of training, where

[2018-03-18 11:36] #1961 closed

[2018-03-18 21:28] khulasaandh commented on #1019
Hi any update on this issue.

I am able to train doc2vec model with new documents in a 32 bit python(for 64 bit python, it still crashes), but cannot query **"model.docvecs.most_similar(["XXX"])"** for newly added documents. shows index out for range.

An online approach for doc2vec will be very helpful.

[2018-03-19 13:49] lwahedi opened #1986 "Gensim classifies a document as a certain topic despite having no words in common"
The topic id returned by print_topics is different from the topic id returned when looking at the categorized topics of a document.

I have trained an LDA model using a tfidf corpus. I then viewed the top 30 words for the top 10 topics with

`model.print_topics(10,30)`

As expected from the documentation, print_topics gives a list of of tuples, with the first value being the topic id. The first th

[2018-03-19 14:24] menshikh-iv commented on #1019
@khulasaandh as I know, you can `infer_vector` for new document & calculate needed similarity values.

[2018-03-19 15:04] khulasaandh commented on #1019
Hi @menshikh-iv , thanks for the reply.

I am using the same example posted by @danoneata, but have added a few more documents/lines in sentences_1 and sentences_2. As you mentioned, I am computing the infer vector for new document as mentioned below.

    infer_vector = model.infer_vector(token_list)
    print(model.docvecs.most_similar(positive=[infer_vector]))

It returns me most similar docume

[2018-03-20 02:47] rmalouf opened #1988 "LdaMulticore and OpenMP BLAS"
Many python installations these days use a version of numpy linked with a highly optimized BLAS that, by default, uses as many cores as are available.  This means that running `LdaMulticore` with `workers=5` on a six-core machine ends up trying to use 30 cores, with a pretty serious hit to performance.

Take this test program:
[code]

Run on a six-core CPU using the Intel Python distribution, I ge

[2018-03-20 06:59] marlohaering commented on #1977
I encountered the same error. I trained my model with gensim version 1.0.1 and I'm trying to reload it with gensim version 3.4.0. Unfortunately, I cannot share my model.

[2018-03-20 07:06] #1942 closed

[2018-03-20 07:48] menshikh-iv commented on #1977
@marlohaering that's expected behavior, we don't have so long backward compatibility for models.

[2018-03-20 07:54] menshikh-iv commented on #1988
Hello @rmalouf, I know about this problem (this is slightly wider, because many possible "backends"), as I know, "widest" variant  is
[code]
yes, we definitely need to add some "warning" about it to documentation + it will be pretty nice to have small "context manager" or something similar, that set up these variables (and re-store old after exit)

@piskvorky wdyt?

[2018-03-20 08:10] menshikh-iv commented on #1986
Hello @lwahedi, "topic" is distribution through all dictionary, i.e. that's OK that you have zero matches in this case (typically, only small number of words have large-enough probabilities in the topic). This means that document contains other words related to 13 topic (but not from top30).

[2018-03-20 08:10] #1986 closed

[2018-03-20 08:24] menshikh-iv commented on #1019
@khulasaandh looks really suspicious (your code is correct). Can you share data (traned model & token_list) for reproducing this error?

[2018-03-20 08:32] menshikh-iv opened #1989 "Benchmark Gensim vs Amazon SageMaker"
#### Description
We want to compare gensim and [SageMaker](https://aws.amazon.com/ru/sagemaker/):

- LSI (after #1896) vs https://docs.aws.amazon.com/sagemaker/latest/dg/pca.html
- LDA vs https://docs.aws.amazon.com/sagemaker/latest/dg/ntm.html

Metrics
- hardware performance:
  - time
  - memory
- algorithm performance (corresponding to a particular algorithm. for example - perplexity for LDA, et

[2018-03-20 10:36] lwahedi commented on #1986
It's not just one document. None of the top thirty words show up in any of the documents classified as a topic. It could be this was a fluke of my model, but it happened consistently enough that it seemed unlikely to be a coincidence.

[2018-03-20 11:38] menshikh-iv commented on #1983
Thanks for report @swierh :+1:

CC: @gojomo @manneshiva this is expected behavior or how this should works?

[2018-03-20 12:27] lwahedi commented on #1986
Did some more digging with some toy corpora so that it would be easier to confirm, and they do match up after all. Sorry, thought I'd tried enough examples before posting an issue, but it was just a coincidence with a poor set of topics.

[2018-03-20 13:20] menshikh-iv commented on #1986
@lwahedi don't worry, all fine, but please next time use mailing list :) Good luck with topic modeling:+1:

[2018-03-20 14:58] souravsingh commented on #1989
@menshikh-iv I am interested in pursuing the issue.

[2018-03-20 14:59] menshikh-iv commented on #1989
@souravsingh feel free to resolve it (but this not as simple as it seems, the results should be reproducible, this is important).

[2018-03-20 15:34] menshikh-iv commented on #1989
@souravsingh FYI pretty exiting benchmark from @manneshiva for inspiration: https://github.com/manneshiva/benchmark-word2vec-frameworks + https://rare-technologies.com/machine-learning-hardware-benchmarks/

[2018-03-20 15:42] piskvorky commented on #1988
Yes, good idea.

This topic is too obscure for most people, so a big warning "you're running parallelized LDA but your BLAS is already parallelized -- do X instead" would help. Or even better, an automated transparent choice of the number of workers / BLAS threads (which could be overridden by power users, if they want to).

[2018-03-20 15:44] johann-petrak opened #1990 "TextCorpus.sample_texts() does not use get_texts()"
The `sample_texts()` method is supposed to return sample documents but if an implementation derives from `TextCorpus` and overrides `get_texts()`, this is completely ignored by the implementation of `sample_texts()` which uses `getstream()` only.
This applies to the most recent develop (58d560b545e6df4cfc5fd3879f8647ba3a7a0e3b) and maste
(885430d136c87c613ab58ad6b1dc55fee47a43c7) branches.

[2018-03-20 16:43] menshikh-iv commented on #1990
Hello @johann-petrak
1. I don't see any connection between mentioned commits and your description
2. That's True: `sample_texts` use `getstream` only, but what's a problem to define `getstream`?

[2018-03-20 17:11] menshikh-iv commented on #1988
Hmm, that's really untrivial, how to pick optimal variant. When I stuck with this problem, I have simple "visual" criteria: If I see many "red" in htop output like (this is only viz example, not directly related to LDA)
![123](https://user-images.githubusercontent.com/15094669/37670411-0afe0d02-2c8b-11e8-8db0-7813c8e54c51.png)
this means that I need to export these variables and `=1`. Definitely,

[2018-03-20 20:55] johann-petrak commented on #1990
The commits just identify the versions of the repository I had been looking at for later. Essentially, it means I am talking of the version as of today.

As I said in the original report the problem is that the documentation claims that in order to make things work correctly, `get_texts()` need to get implemented. One reasonably would then expect that by doing this the method `sample_texts()` will

[2018-03-20 21:06] persiyanov commented on #1697
@arlenk @menshikh-iv @piskvorky

I've tested version based on `np.memmap` and `scipy.sparse.csc_matrix`. Here is the implementation: https://gist.github.com/persiyanov/5aed5165d7945c176a0f557a473ef848. I believe that `save_corpus` part could be optimized, but reading times are not very important right now. The main idea is to read `data, indices, indptr` dense arrays from disk and iterate over the

[2018-03-20 21:25] gojomo commented on #1983
I agree it could be surprising, and there should be a warning or exception when this error is made. (The chief hint currently is the near-instantaneous training. You might get a similar fast-but-useless result if setting `window=0` or `size=0` or `min_count` or `sample` at some extreme values that drop all/almost-all words.)

But note there's a level at which this behavior makes logical sense: wit

[2018-03-20 21:27] gojomo commented on #1019
@khulasaandh @menshikh-iv A separate non-segfault anomaly with `infer_vector()` would be best diagnosed on the discussion list, or a new issue dedicated to that specific problem.

[2018-03-21 06:00] menshikh-iv commented on #1990
@johann-petrak I partially agree with you, the main difference between `get_texts` and `getstream` in pre-processing step (subclass should override it user don't want to use it). Unfortunately, if we try to fix it now - we'll break backward compatibility.

From the other hand, I don't see any serious problems with the current implementation (but looks slightly strange, I agree).

CC: @piskvorky @v

[2018-03-21 06:05] menshikh-iv commented on #1697
@persiyanov thank you, looks significantly worse :(

The most interesting part is `__iter__` (as always): https://gist.github.com/persiyanov/5aed5165d7945c176a0f557a473ef848#file-python_memmap-py-L129

@arlenk have you any ideas why this solution so slow?

[2018-03-21 08:41] johann-petrak commented on #1990
Make `sample_texts()`  use the overridden ` text_texts()` would be the correct way and expected way for this to work, but if the risk of breaking backwards compatibility is too high then at least it would be necessary to document this and advise overriding/re-implementing `sample_texts()` if necessary.
I did not really need ` sample_texts()`  I merely used it when I was testing my code and when it

[2018-03-21 08:52] piskvorky commented on #1990
Looks like a bug to me.

@menshikh-iv what backward compatibility risks do you see here?

[2018-03-21 09:19] menshikh-iv commented on #1990
@piskvorky I read code more carefully and found that `sample_text` repeat same work as `get_texts` (like pre-processing), need to test it and compare, but probably, this will be fine (and don't break something), but I'm not 100% sure now.

Only one thing: this will be slower (because in the current implementation, `sample_text` using `preprocess_text` **only if this document will be yielded**, but

[2018-03-21 16:28] menshikh-iv opened #1991 "Word2Bits benchmark"
#### Description
Pretty interesting paper [Word2Bits - Quantized Word Vectors by Maximilian Lam](https://arxiv.org/abs/1803.05651), looks like it possible to apply "quantization" to the current w2v algorithm and receive a memory-compact representation without sacrificing quality.

#### ToDo
1. Make needed changes in current w2v code (according to this article), only for testing
2. Compare this app

[2018-03-21 20:02] khulasaandh commented on #1019
Hi @menshikh-iv and @gojomo even on **32bit python** that I am using,  sometimes the segmentation fault still occurs, but most of the time the code runs.

My python version -
Python 3.5.1 (v3.5.1:37a07cee5969, Dec  6 2015, 01:38:48) [MSC v.1900 32 bit (Intel)] on win32

please find the code below to replicate the issue.

-------------------------

import logging
from gensim.models.doc2vec import (

[2018-03-21 23:05] arlenk commented on #1697
@persiyanov, any chance you have the benchmark results for the "cython struct" (not the read only version).  Your results for python array already look much better than mine -- I wonder if that's because I'm running my tests on older hardware (a 2010 imac with a non SSD HD).

[2018-03-21 23:08] arlenk commented on #1697
I'll try taking a look.  I'm guessing there is still quite a bit of overhead in mumpy mmap.

[2018-03-22 06:31] menshikh-iv commented on #1991
Looks like very good task for you @persiyanov :)

[2018-03-22 09:06] narrowsnap commented on #1970
I meet the same problem.
I used gensim version 3.4.0, python version 3.5.2

[2018-03-22 09:59] adoniswu opened #1993 "add document to Lsi Model dynamically"
#### Description
gensim version：3.1.0
my code:
lsi = models.LsiModel.load(path)
lsi.add_document(corpus, chunksize=50000)

at the first time, the lsi model can add 50000 corpus in to lsi model,
but once more, report an error, i check the core file which shows the second line code running error
i tried to change the size of chunksize, but when reach the size of 50000, and then i got the same error!

[2018-03-22 11:53] menshikh-iv commented on #1993
Hi @adoniswu, please share your model & corpus, I'll try to reproduce.
I'll try to guess - the problem in `corpus` (this contains word index that doesn't contain in the model dictionary.

[2018-03-22 11:54] menshikh-iv commented on #1970
@narrowsnap maybe you'll give me needed information https://github.com/RaRe-Technologies/gensim/issues/1970#issuecomment-372005079?

[2018-03-22 12:36] adoniswu commented on #1993
hi, @menshikh-iv ,thanks for your reply，i just get bags(id2word) in the first 50000 corpus. that's to say the bags is not enough for the whole corpus. but the whole corpus dynamically increase.  i can not get the whole bags at the first time. how to deal with this problem.

[2018-03-22 12:40] menshikh-iv commented on #1977
@fsfeng I'm still waiting for a model from you (this needed for reproducing an error), also, what's gensim version you used for training?

[2018-03-22 12:41] lzfelix opened #1994 "'Word2VecKeyedVectors' object has no attribute 'vectors'"
I have a word2vec model which I was able to load into Gensim, normalize and retrieve word vectors with `model.init_sims(replace=True)` and `model[word]` previously. After updating to gensim 3.4.0 I'm receiving the following error messages for these operations:

[code]

and

[code]

[2018-03-22 12:46] menshikh-iv commented on #1993
@adoniswu
1. (best) Fit Dictionary only once on big data sample and use it later. Don't worry about tokens that you missed, that's fine for practical usage if your sample is large enough.
2. Use [HashDictionary](https://radimrehurek.com/gensim/corpora/hashdictionary.html), this based on hashing-trick (is subject to collisions)

Looks like I'm guessing a problem, so I close the issue.

[2018-03-22 12:46] #1993 closed

[2018-03-22 12:48] adoniswu commented on #1993
thanks

[2018-03-22 15:05] menshikh-iv commented on #1663
@jxub we'll make it after finishing all docstrings (that happens soon, I hope)

[2018-03-22 15:12] piskvorky commented on #1697
There is no overhead in mmap -- that's the whole point. The disk memory gets mapped into virtual memory instantly, and loaded into physical RAM by the OS when a page fault occurs.

Mmap bypasses OS file I/O (no buffering etc), which may be related to the performance.

[2018-03-22 16:40] epsilon64 opened #1995 "KeyError in the LDA model when log is showing the top 5 topics"
I am running the LDA multicore function using the logging function that will show the top 5 topics as the model passes through the corpus.
After a few passes (occurs randomly) I get the following error

      Traceback (most recent call last):
      File "C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2910, in
         run_code exec(code_obj, self.user_global_ns

[2018-03-22 17:15] fsfeng commented on #1977
Hi, I fixed this just by re-installing Gensim version 2.3.

On Thu, Mar 22, 2018 at 8:41 AM, Menshikh Ivan <notifications@github.com>
wrote:

[2018-03-22 17:16] fsfeng commented on #1977
I also cannot share the model unfortunately, all is stored on a secure
university virtual server.

On Thu, Mar 22, 2018 at 1:15 PM, Fiona Sijie Feng <fionafeng@nyu.edu> wrote:

[2018-03-22 18:24] #465 closed

[2018-03-24 12:04] menshikh-iv commented on #1994
Hello @lzfelix, can you say, what's gensim version you used before for training/saving of your model?

[2018-03-24 19:46] menshikh-iv commented on #1995
Hello @epsilon64,
probably you are right, the problem in your dictionary (gaps isn't a good idea), please call `your_dictionary.compactify()`, convert your data to BoW format with the compactified dictionary and train LDA again.

[2018-03-24 19:46] #1995 closed

[2018-03-24 19:48] menshikh-iv commented on #1977
@fsfeng thanks for the information, now I understand what happens.

[2018-03-25 10:21] ahmedahmedov opened #1997 "Feature Suggestion: Save intermediate states of the model while training."
When training a large model, it might take quite a while, sometimes several days, especially if you have set EPOCH to a higher value.
I think it would be much better if it was possible to save the model in an incremental fashion - that is, save it as soon as Epoch1 is completed, then when Epoch2 is completed and so on. This way, one doesn't have to wait for several days to experiment with the mode

[2018-03-25 17:22] KartikTaskhuman opened #1998 "OverflowError when loading a large term-document matrix in Matrix Market format"
#### Description
While loading the LSI vectors containing 4411273 documents and 500 terms in Matrix Market format , gensim complained the OverflowError.

#### Steps/Code/Corpus to Reproduce
[code]

[2018-03-26 04:16] KartikTaskhuman commented on #1998
I was debugging this and saw this old thread here: https://groups.google.com/forum/#!topic/gensim/UDAgP5rjCC8

As suggested in the thread I downgraded the gensim from 3.4 all the way to 0.8.9 and it passed without any OverflowError. Could someone comment why this is happening?

[2018-03-26 04:32] Li-JY commented on #1970
I also encountered the same problem. Did you solve it?

[2018-03-26 04:57] x13machine opened #1999 "gensim/docs/notebooks/word2vec.ipnb doesn't work out of the box"
I had to modify the code in order to get it to work

[2018-03-26 06:55] menshikh-iv commented on #1997
Hello @ahmedahmedov, this can be done easily like

[code]

Also (if we talk about w2v-based models like w2v, d2v, fasttext, etc), you should write the custom callback that will save your model each epoch.

Probably related issue #451.

[2018-03-26 06:55] #1997 closed

[2018-03-26 06:57] menshikh-iv commented on #1943
Closed (unreproducible)

[2018-03-26 06:57] #1943 closed

[2018-03-26 07:12] menshikh-iv commented on #1956
closed (unreproducible)

[2018-03-26 07:12] #1956 closed

[2018-03-26 08:25] menshikh-iv commented on #1999
Hello @x13machine, please add a description, what's exactly doesn't work (and feel free to submit PR if you already fix this)

[2018-03-26 08:31] menshikh-iv commented on #1970
Hello @Li-JY, we would like to fix it as soon as possible, but we can't reproduce an error now (not enough information), please share information suggested in https://github.com/RaRe-Technologies/gensim/issues/1970#issuecomment-372005079  with us

[2018-03-26 10:01] ahmedahmedov commented on #1997
@menshikh-iv Great, thank you!

[2018-03-26 10:20] narrowsnap opened #2000 "'Word2Vec' object has no attribute 'trainables'"
[code]

#### Description
I got this:
[code]

#### Versions
I used gensim version 3.4.0, python version 3.5.2

#### Please share your model (very important for reproducing your error)
What should I do for this?

#### What's a python and OS?
ubuntu16.04LTS

[2018-03-26 10:51] menshikh-iv commented on #1970
continued in #2000

[2018-03-26 10:51] #1970 closed

[2018-03-26 10:54] menshikh-iv commented on #2000
Thanks for report @narrowsnap, what I need now
1. Gensim version that was used for training (not for loading)
2. `myModel*` files (please add to google-drive or any file-sharing service and post a link here)

[2018-03-26 11:58] lzfelix commented on #1994
Hi @menshikh-iv, a colleague of mine has trained the model, so I'm not completely sure about the details. I know that it was trained using word2vec C implementation from Google and then I converted it to gensim binary format using gensim 3.1.0.

[2018-03-26 12:25] menshikh-iv commented on #1994
@lzfelix thanks for the info

[2018-03-26 21:01] lzfelix commented on #1994
@menshikh-iv, sure! Anything that I can help!

[2018-03-27 01:25] Li-JY commented on #2000
I have solved this problem and it is caused by the gensim version being too high. When I lower the gensim version, this error no longer appears

[2018-03-27 03:00] arlenk commented on #1998
sorry, made the silly mistake of using ints for all the numeric types.

PR version uses long longs for everything.  Presumably this is large enough (typically a 64 bit value).

I didn't use unsigned values because "previd" is set up -1 prior to the loop body and there are comparisons between previd and docid, so I didn't want to open the possibility for any signed vs. unsigned comparison bugs.

[2018-03-27 05:14] narrowsnap commented on #2000
I used other tutorial's trained model. And it's worked when I use gensim version 3.0.0.

[2018-03-27 06:43] x13machine commented on #1999
I dunno, I guess my setup was misconfigured or something

[2018-03-27 06:43] #1999 closed

[2018-03-27 08:33] piskvorky commented on #2000
@menshikh-iv @manneshiva there are many reported errors with Word2Vec compatibility. What is going on? Is it because of the refactoring?

[2018-03-27 09:21] markroxor opened #2002 "Use coveralls"
While contributing in gensim I felt a need of a automated system which can confirm whether I have written tests corresponding to **every line of code** of wrote. I propose the immediate use of https://coveralls.io/ for ensuring this.

Here is coveralls in action - https://coveralls.io/github/jellAIfish/omega?branch=master for my own repository.

[2018-03-27 17:00] vlurgio opened #2004 "Cannot load a saved model with fasttext"
#### Description
I have saved a trained fasttext model and want to load it however it seems the load is trying to use a deprecated class?

This is the code that created and saved the model
[code]

And this is the code I'm trying to use to load it
[code]

I then get this traceback:
[code]

### Note i get the same error when importing from gensim.models.fasttext.FastText as i do for gensim.models.wr

[2018-03-27 17:10] #2004 closed

[2018-03-27 20:44] menshikh-iv commented on #2000
@narrowsnap share model please, this is very important for us

@piskvorky I think so (but I'm not 100% sure because nobody shares a model yet, this is important for reproducing & fixing). Most of this report exactly similar (i.e. this is 1-2 bugs).

Testing is definitely insufficient, because:
- **[IMO main problem]** We have some "lazy" initialized attributes (i.e. not defined in `__init__`) -> t

[2018-03-27 20:50] menshikh-iv commented on #1994
related issue #2000

[2018-03-27 21:20] menshikh-iv commented on #1019
Big thanks @khulasaandh, reproduced with `Python 2.7.14 (default, Sep 23 2017, 22:06:14) [GCC 7.2.0] on linux2`

Segfault moment
[code]

[2018-03-27 21:25] menshikh-iv commented on #2002
Thank you @markroxor, it will be really good if you add an instruction (or links) how to add it to project

[2018-03-27 23:15] markroxor commented on #2002
First you need to link the organization with https://coveralls.io and activate coveralls for your repository.

I am using travis and tox configurations similar to that of gensim with little modifications since they are very efficient.

Here is the tox configuration https://github.com/jellAIfish/omega/blob/master/tox.ini#L22
Here goes the travis config https://github.com/jellAIfish/omega/blob/maste

[2018-03-27 23:43] Witiko commented on #1955
@piskvorky The fires have been extinguished. I am currently writing the code for building the Levenshtein similarity matrix. I will issue a pull request once the code is ready for review, but a parallelized naive implementation running at 32 cores builds a 462807² term similarity matrix in about eight days, which puts it at about 31K word pairs / second.

[2018-03-28 01:24] Witiko commented on #1955
Ping @nataliedurgin in case this is still relevant for you.

[2018-03-28 05:25] budhiraja opened #2005 "LDA Python3 - TypeError: '>' not supported between instances of 'float' and 'NoneType'"
I have trained an LDA model using gensim library and I am using it to extract topic vectors of a document and I am using the following code

    def clean_doc(data_string):
        global en_stop
        tokenizer = RegexpTokenizer(r'\w+') #Create appropriate tokenizer
        p_stemmer = PorterStemmer() #Create object from Porter Stemmer
        #clean and tokenize document string
        raw = d

[2018-03-28 05:33] narrowsnap commented on #2000
@menshikh-iv  the model
https://drive.google.com/open?id=1mdH9g4tfEo4Lp3fJkIkKzCypkJcKzuO6

[2018-03-28 06:12] menshikh-iv commented on #2000
@narrowsnap unfortunately, this not a full model, you need to share also `Word60.model.*` files (like `Word60.model.syn0.npy` and others).

[2018-03-28 06:28] #1998 closed

[2018-03-28 06:35] menshikh-iv commented on #2005
@budhiraja looks strange, can you print `s` and `bow_vector` please

[2018-03-28 06:40] budhiraja commented on #2005
re-installation fixed it.

[2018-03-28 06:40] #2005 closed

[2018-03-28 08:21] narrowsnap commented on #2000
@menshikh-iv  https://drive.google.com/open?id=1h_ybqS3ozjRqquesd5I7MHbwirXzDXzr
The whole model. Hope it is useful.

[2018-03-28 15:21] shubham0704 opened #2006 "Addition of entity embedding model"
It would be really nice to have the entity embedding model to become part of the family of algorithms
at gensim.
[Here](https://gist.github.com/shubham0704/78ffcb38756c7c0bcdf84e0d4f53baf8) is a short write up about the same.
Reference paper - > [link](https://arxiv.org/abs/1604.06737)

[2018-03-28 19:51] ParseThis commented on #1519
Is this still a good beginner contrib issue? Would like to have a look. @menshikh-iv

[2018-03-29 00:03] nataliedurgin commented on #1955
@Witiko Thanks so much! Definitely still interested. Out of curiosity, what do you feel is the bottle-neck for any given chunk with your naive implementation?  Is it the distance function itself? Or something else about the bookkeeping/fileio?

TL;DR: See bold text.
I also had a few questions related to performance of SoftCosineSimilarity. I know that the function requires the the index built can

[2018-03-29 06:31] eromoe commented on #1900
I think simply add
[code]

[2018-03-29 06:53] Witiko commented on #1955
To answer what I think your main question is – yes, `SoftCosineSimilarity` currently computes soft cosine measure on document basis by repeatedly calling `softcossim`. Yes, computing CMC^T, where C is the corpus, is going to be considerably faster and was discussed in the soft cosine measure pull request #1827. Yes, `SoftCosineSimilarity` is currently just a naive wrapper / toy that is ill-fitted

[2018-03-29 08:30] Darkdragon84 commented on #591
Hi guys! First of all thanks for the great library! I have also run into the issue that subsequent inferences on the same document are not deterministic and yield slightly different results every time.

Like @cscorley pointed out, that's due to the variational Bayesian inference done in LdaModel.inference. The document topic assignments gamma are randomly initialized from self.random_state, and in

[2018-03-29 10:18] shubham0704 commented on #2002
An official example is here - https://github.com/codecov/example-python

[2018-03-29 12:22] menshikh-iv commented on #1519
@ParseThis this is a good issue for start, but need to make many small changes (if you have enough time - you are welcome)

[2018-03-29 13:30] shubham0704 commented on #1981
Can I work on this -
Most desirably the features that I would like it to have would be -
1. The vocabulary class to be decoupled from the Word2Vec model until Training.

Reason -
In my project I was using a graph embedding model for which I had to create a vocab which was used to first create a graph of interconnected words. This served as a base where an better sampling strategy than the normal w

[2018-03-29 18:16] nataliedurgin commented on #1955
Oh Sweet! I hadn't seen this pull request. Great discussion.

[2018-03-30 13:17] budhiraja commented on #2005
Unfortunately the issue is back again.

[code]

[2018-03-30 14:38] budhiraja opened #2009 "LDA Python3 - TypeError: '>' not supported between instances of 'float' and 'NoneType'"
I had reported the same issues some time back and it was fixed by reinstallation but the issue has reappeared and reinstallation is not resolving it.

I have trained an LDA model using gensim library and I am using it to extract topic vectors of a document and I am using the following code

    def clean_doc(data_string):
        global en_stop
        tokenizer = RegexpTokenizer(r'\w+') #Create a

[2018-03-30 17:44] piskvorky commented on #1955
@menshikh-iv @Witiko where does this naive/toy wrapper live currently? Is it in experimental?

We don't want such things in core gensim.

[2018-03-30 17:57] Witiko commented on #1955
@piskvorky That would be the `SoftCosineSimilarity` class in gensim/similarities/docsim.py. Currently, the `get_similarities` method computes the similarities by one instead of performing a single matrix product on a corpus matrix like `MatrixSimilarity` currently does. This was made known in the soft cosine measure pull request, see the Future work section of the first post in #1827. The method c

[2018-03-30 18:01] Witiko commented on #1955
But I am all for migrating the soft cosine measure and the associated algorithms to an experimental branch of gensim, if that's where they will be useful to the community. This was never suggested before.

[2018-03-30 19:54] nataliedurgin commented on #1955
@Witiko I attended a talk last night that got me thinking. Maybe we don't need Levenshtein. The spirit of it's use in the Simbow paper is to account for noisy data, misspellings etc.

In my application of this paper, I had always planned on computing multiple sets of soft cosine similarity scores with M's coming from several different types of word-embeddings, including Fasttext. I was reminded th

[2018-03-30 20:47] Witiko commented on #1955
@nataliedurgin I experimented with several types of word embedding including fasttext embeddings in [my thesis](https://github.com/witiko-masters-thesis/thesis/blob/master/main.pdf), but I did not manage to achieve any significant improvement on the QA datasets from SemEval 2017, task 3 (see Section 4.7.3, results are in tables 4.1, and 4.2).

[2018-03-30 21:22] Witiko commented on #1955
@piskvorky All the parts of the implementation can be improved as discussed in #1827. The `softcossim` function relies on suboptimal SciPy dot product implementation, the `SoftCosineSimilarity.get_similarities` method does not use the opportunity to compute similarities in two matrix product operations, and the `similarity_matrix` method is subject to change, since the matrix building algorithm is

[2018-03-31 00:28] secsilm opened #2010 "Compatibility issue with pathlib"
#### Description
There is a `TypeError` when I try to get files from disk using `pathlib` library.

#### Steps/Code/Corpus to Reproduce
[code]

#### Actual Results
[code]

#### Versions
Windows-10-10.0.16299-SP0
Python 3.6.4 |Anaconda custom (64-bit)| (default, Jan 16 2018, 10:22:32) [MSC v.1900 64 bit (AMD64)]
NumPy 1.14.1
SciPy 0.19.1
gensim 3.4.0
FAST_VERSION 1

[2018-04-01 06:51] menshikh-iv commented on #2006
CC: @gojomo @piskvorky though?

[2018-04-01 06:55] menshikh-iv commented on #2009
@budhiraja looks like a bug (if `self.minimum_probability` is None), you can pass explicitly this parameter to avoid this error.

What's a gensim version you used for training/using LdaModel?

[2018-04-01 06:58] stanpcf commented on #388
I caused this error,  when a whitespace is the vocabulary. the w2v is 200-dim.
![error_line](https://user-images.githubusercontent.com/13925796/38170640-222a12ce-35bd-11e8-80b4-62874badde7f.png)

[2018-04-01 07:16] menshikh-iv commented on #388
@stanpcf please share your file

[2018-04-01 07:35] budhiraja commented on #2009
@menshikh-iv
I am using version '3.4.0'.
I did the following and its working temporarily:
`lda_model.minimum_probability = 0.001`

However, this error shouldn't be there, right?

[2018-04-01 08:29] menshikh-iv commented on #2009
@budhiraja right, and I don't understand how this happens (are you sure that you trained LDA with `3.4.0`?)

[2018-04-01 08:52] piskvorky commented on #2006
We already have embeddings in Gensim -- word2vec, fasttext etc. How is this different? Sorry, I didn't understand the write-up / motivation for this feature.

[2018-04-01 12:13] budhiraja commented on #2009
No I haven't trained these models on LDA on `3.4.0` but there should be backward compatibility, right?

[2018-04-01 12:21] lzfelix commented on #1994
Thanks a lot, @menshikh-iv, I'll start tracking the other issue, which already has a pull request referencing it. Maybe you can close this issue for now just to keep things in one place.

[2018-04-01 13:06] menshikh-iv commented on #1994
PR with fix -  #2012, @lzfelix I'll close issues when fix will be merged to `deveop`

[2018-04-01 13:20] manneshiva commented on #1994
@menshikh-iv This issue may or may not be related to #2012. @lzfelix Can you please outline the steps to reproduce this issue? More specifically, provide the file/similar file that you are trying to load and the code using which you are loading the file. Thanks.

[2018-04-01 19:45] lzfelix commented on #1994
Hi @manneshiva, after loading a word2vec binary (details on this later), I get the following error message if I try to pre-compute vectors similarity with `model.init_sims(replace=True)` or even retrieve a word-vector with `model[word]`. Namely:

[code]

**Details on the model:** This binary file was obtained from a model trained with Google's word2vec C code and then converted to Gensim format. S

[2018-04-02 07:33] menshikh-iv commented on #2009
@budhiraja yes, but backward compatibility can't be infinite, I need exact version of gensim when you trained model (and code for training if you have it)

[2018-04-02 07:45] menshikh-iv commented on #2009
For clarification, what happens here:
we have LDA with `self.lda_model.minimum_probability=None`, for this reason, the problem happens. But how we receive `self.lda_model.minimum_probability=None`? Good question, we need more information about versions from @budhiraja.

[2018-04-02 08:08] shubham0704 commented on #2006
## The inspiration

Whenever we work with data which is structured, for example
 We log the click stream data of users in some database for a task of say product recommendation. We use techniques like tf-idf or say tree based methods and some [other techniques.]( https://pdfs.semanticscholar.org/f70b/68ecc6b41839a94e0bbb73a8cb60c188b887.pdf)

 We are unable to make use of neural networks efficient

[2018-04-02 08:24] menshikh-iv commented on #2006
Probably "close" was a misclick

ping @piskvorky

[2018-04-02 10:21] dsindex opened #2013 "load_fasttext_model() -> save() failed with no attribute generate_tokens()"
- i trained a fasttext model(sent2vec) on huge corpus and got 15G model.
  - trained by sent2vec : https://github.com/epfml/sent2vec

- and tried to load the fasttext model and save it using bellow code
[code]

- but, i got following errors
[code]

- gensim, numpy version
[code]

- similar issue : https://groups.google.com/forum/#!topic/gensim/hHksTh8NIF4

[2018-04-02 10:31] menshikh-iv commented on #2013
Hello @dsindex,

can you re-install / downgrade numpy & check that `pattern` package isn't installed on your PC (this doesn't look like a gensim error).

[2018-04-02 17:05] piskvorky commented on #2006
@shubham0704 can you please give one **concrete** use-case?

I understand this is something to do with structured data and databases. But I still don't really understand the motivation -- what is the input of this technique, what is its output, when would I use this?

[2018-04-03 02:45] Gladysgong commented on #217
i've got the same warning, any idea of solving it?

[2018-04-03 02:50] dsindex commented on #2013
thank you @menshikh-iv

i installed `pattern` package. but i got the same errors.
....

after some inspection of the error strings and some related issues,
[code]

i noticed that i have a python file named `tokenize.py` in working directory.
i thought this file name is also used in `numpy`.
so changed the name to `tokenizer.py`.

now the situation differ from the previous.

[code]

[2018-04-03 03:28] menshikh-iv commented on #2013
@dsindex can you share `news_model_morph.bin` please (upload to any file-sharing service like google-doc and post link here)? I'll try to reproduce your error.

[2018-04-03 09:01] dsindex commented on #2013
@menshikh-iv

i don't have enough storage.
since `news_model_morph.bin` was trained by sent2vec.
you can try pre-trained models :

https://github.com/epfml/sent2vec#downloading-pre-trained-models

[2018-04-03 10:13] menshikh-iv commented on #2013
@dsindex please check that the error reproduced with concrete file and give me a link (this can be your file, any pre-trained model, it does not matter).

[2018-04-03 10:13] dsindex commented on #2013
@menshikh-iv

exactly same error can be reproduced by

sent2vec_wiki_bigrams 16GB (700dim, trained on english wikipedia)

[code]

- code
[code]

[2018-04-03 11:29] stanpcf commented on #388
@menshikh-iv I share the file in [url](https://drive.google.com/open?id=1kYY_qDteeN_bzRx_RpG4kjVt9pXm9K1q) .

[2018-04-03 11:55] menshikh-iv commented on #2013
I can't load dump (for memory reasons), sorry @dsindex.

[2018-04-03 13:22] dsindex commented on #2013
@menshikh-iv

no problem :)

i just found a related issue.

https://github.com/numpy/numpy/pull/10524

this issue for python 2.7.5 is very likely same as mine. but fixed version of numpy is 1.14.1

and i used numpy 1.14.2

so it make me confused.

anyway thank you for your kindly answers.

[2018-04-03 13:49] ahmedahmedov opened #2014 "model.wv.accuracy messes up the model object"
I was playing around with model.wv.accuracy to test the accuracy of my model. It worked fine when the only parameter I set was the filename:

`model.wv.accuracy("questions-words.txt")
`
Things get weird though when I set the 'most_similar' parameter of the function:

`model.wv.accuracy("questions-words.txt", most_similar=gensim.models.KeyedVectors.most_similar_cosmul)`

First, it gives an error sa

[2018-04-03 14:54] ahmedahmedov commented on #2014
I think I know why it happened. For some reason, when setting case_insensitive to True, the vocabulary is converted to upper case. model.accuracy should not make any changes to the internal state of the model.

[2018-04-03 15:14] piskvorky commented on #2014
Definitely a bug. I'd also expect this function to be 100% "const" (not modifying the object). Thanks for reporting!

[2018-04-03 15:22] shubham0704 commented on #2006
@piskvorky my apologies for not being very specific about this.

By concrete example I interpret you want to know about at least one use case whose input, output and results are properly defined accompanied by some code. In that case  -
The use-case we are considering here is  -  Time series prediction problem (Forecasting Sales)
 [here](https://github.com/fastai/fastai/blob/master/courses/dl1/les

[2018-04-03 16:00] menshikh-iv commented on #2013
Yes, as expected - this isn't Gensim problem.

I recommend you to create a clean virtual environment, install latest gensim and try again (if fail - try to downgrade numpy version by version), if not help - try to change python (from 2 to 3) and repeat.

[2018-04-03 17:08] piskvorky commented on #388
@stanpcf how did you generate this file?

[2018-04-03 17:31] ahmedahmedov commented on #2014
Can someone please explain me what is going in the following piece of code extracted from gensim.models.keyedvectors.py?

[code]
What is the logic behind this approach?

1. given the analogy,` a->b as c->d`, first, `sims = most_similar(self, positive=[b, c], negative=[a], topn=False, restrict_vocab=restrict_vocab` is obtained. The sims object contains the list of distances of the vector (b+c-a) to

[2018-04-03 18:42] menshikh-iv commented on #2014
Hello @ahmedahmedov

yes, the signature of `most_similar` function should be like https://github.com/RaRe-Technologies/gensim/blob/5677ab300e4e3dc4645806762b693902b97c13c3/gensim/models/keyedvectors.py#L363

more accurately (as this used in `accuracy`)
[code]
`most_similar_cosmul` doesn't match to this signature (probably should be, looks like a bug for me).
I also agree with Radim (about internal

[2018-04-03 20:06] ahmedahmedov commented on #2014
I would like to suggest to replace https://github.com/RaRe-Technologies/gensim/blob/5677ab300e4e3dc4645806762b693902b97c13c3/gensim/models/keyedvectors.py#L979-L992

with

[code]

The idea is, there is no need to calculate similarity stuff separately (unless there is an important reason behind this design choice). It is already done inside the `most_similar` method. Just set `topn=1` and see if th

[2018-04-04 02:29] stanpcf commented on #388
@menshikh-iv yes. When I find this problem. I removed this line and changed the vocabulary. all work fine.    @piskvorky I have some chinese document. I cut it with [jieba](https://github.com/fxsjy/jieba). and trained with gensim. this problem will not be caused if I clean data more careful. but I think whitespace may be useful in some case

[2018-04-04 09:26] ahmedahmedov commented on #2014
it seems that case_insensitive dictionary search is not that easy in Python. Any ideas how we might find a workaround to modify the most_similar method to be able to search in a case_insensitive manner without having to create an additional vocabulary?
[Python dictionary case_insensitive search](https://stackoverflow.com/questions/3296499/case-insensitive-dictionary-search/3296782#3296782)

[2018-04-04 10:26] dvaosta opened #2015 "AttributeError: 'Word2Vec' object has no attribute 'vector_size'"
#### Description
I'm trying to load an already trained word2vec model downloaded from [here](http://hlt.isti.cnr.it/wordembeddings/) by using the following code, as suggested by the aforementioned website:
`from gensim.models import Word2Vec
model=Word2Vec.load('wiki_iter=5_algorithm=skipgram_window=10_size=300_neg-samples=10.m')`
When I try to execute that code, I get the following error:
`UserWa

[2018-04-04 10:44] piskvorky commented on #2014
How does your suggestion handle the `ignoring OOV words and input words`?

[2018-04-04 10:46] piskvorky commented on #388
So the file was produced by gensim? That's not good.

I'd consider that a bug if gensim produces a file that it cannot read itself.

[2018-04-04 11:00] manneshiva commented on #2015
@dvaosta Thanks for the report. This is a known issue and is addressed in #2012. The PR addresses your issue so you can try using the code from the PR and see if it solves your issue. The fix will be merged soon.

[2018-04-04 11:07] ahmedahmedov commented on #2014
`if predicted not in ignore and predicted==expected` handles input words. If the word is not found in the vocabulary, we can simply skip it, right? Then, surrounding most_similar with` try-excep`t clause and ignoring when `KeyIsNotFound` exception is raised should solve the OOV case.

[2018-04-04 11:38] piskvorky commented on #2014
No, that would change the logic in a fundamental way. We want to keep the "standard" logic from the C tool, which looks for the nearest word that is not input/OOV.

[2018-04-04 16:20] dvaosta commented on #2015
Ok, now it works. Thanks.

[2018-04-04 16:21] #2015 closed

[2018-04-04 17:31] gojomo commented on #388
Whitespace *is* legal in the tokens for which vectors are learned - but causes problems if & only if using the original word2vec.c storage format. (I believe both its 'text' & 'binary' options have the problem, as both use a hard-coded `' '` to delimit end-of-token. Of course gensim's native pickle-based storage has no problems with token whitespace.) So some possible policies could be:

* loudly

[2018-04-04 18:03] piskvorky commented on #388
-1 on first option, because like you say, there's nothing wrong with having whitespace-containing keys per se.

The failure should happen when trying to serialize to this specific format that cannot handle whitespace. And I'm more in favour of failing hard, with an explicit (and concrete, including the offending key) error.

Ignoring the offending keys (with a clear warning/error), or hacking some

[2018-04-05 14:14] phdowling commented on #1940
I guess the expected behavior is that, if I load a model, all the vectors in that model are actually used in the end. I think deleting parts of a loaded binary model is not ideal, especially because it doesn't seem to be clearly pointed out anywhere. So the cons seem relatively clear - you are loading a model that may have been evaluated to have a certain quality, but under gensim you are no longe

[2018-04-05 15:02] manneshiva commented on #1940
1. In order to reduce the `ngrams` matrix size, the original `Fasttext` code (by `Facebook`) does not store a unique vector for each `ngram` but maps each `ngram` to a bucket using a hash function. The size of `ngrams` matrix is thus limited to `bucket_size` x `vector_size`. Due to this, there is no guarantee that all the vectors corresponding to each bucket is used/trained. The actual number of v

[2018-04-05 15:07] piskvorky commented on #1940
Ah, if it's just untrained garbage, we should definitely discard that. If someone relies on exact reproducibility from random/untrained vectors, their app is broken anyway. That's not the kind of compatibility we care about.

@manneshiva I assume the determination of used/unused is straightforward? Or is any guessing/heuristics involved, any room for error?

[2018-04-05 17:42] gojomo opened #2017 "`intersect_word2vec_format()` no longer works for Doc2Vec"
Recent refactors left `intersect_word2vec_format()` solely on `Word2Vec`, while its related-siblings `save_word2vec_format()`/`load_word2vec_format()` remain available elsewhere (`Doc2Vec`, `KeyeVectors`).

See discussion in project group thread: https://groups.google.com/d/msg/gensim/pHMCj3LvW1o/5Ns0jbs9BQAJ

[2018-04-05 17:54] gojomo commented on #1940
I would think that if some other FastText implementation (like the original) saves out 'untrained garbage' in its serialized model, and loads-and-uses such noise in its subsequent OOV calculations after re-loading, so that it affects (reproducible) evaluations of the frozen model, then we're not really format compatible if we make the independent decision to discard that noise. And, we'll get a co

[2018-04-05 21:58] pmbaumgartner opened #2018 "Word Embedding Models loaded through gensim.downloader crash when used in Celery Tasks"
#### Description
After loading models with the `gensim.downloader` api, using methods in a Celery task causes the worker to crash and the task to fail.

When running the function normally (not as a task), the function gives expected results.

When loading in models through `KeyedVectors.load_word2vec_format()`, the task executes without issue, both when using the original source files and the ones

[2018-04-06 02:49] qthurier opened #2019 "Dynamic Author Topic Model"
It would be nice to have a dynamic author topic model implemented in gensim. See an [example here](https://www.researchgate.net/profile/Shuo_Xu/publication/257836005_Author-Topic_over_Time_AToT_A_Dynamic_Users'_Interest_Model/links/00463525f3d6b42e65000000.pdf) using Gibbs sampling. Any plan to include something similar?

[2018-04-06 04:31] menshikh-iv commented on #2019
Hello @qthurier, we already have it (I'm not sure about exact version) as a wrapper: https://radimrehurek.com/gensim/models/wrappers/dtmmodel.html

[2018-04-06 04:52] menshikh-iv commented on #1940
@jayantj I agree with https://github.com/RaRe-Technologies/gensim/issues/1261#issuecomment-351020115 (looks like best variant for me).

We also definitely need to update documentation in this place (for avoid user confusion).

[2018-04-06 04:58] menshikh-iv commented on #2018
Thanks for the detailed description @pmbaumgartner, I'll try to reproduce it.
IMO looks like a wired side-effect (but why, I see no reasons now how SIGSEGV can be produced here).

[2018-04-06 06:47] #2019 closed

[2018-04-06 07:34] menshikh-iv commented on #2018
@pmbaumgartner try to make the same with standard python interpreter (not anaconda)

I checked both `google-news` & `gigaword-50` mentioned as "broken" in your code, but all works as expected (with celery pipeline). Unfortunately, the issue isn't reproducible, for this reason, I close it.

[2018-04-06 07:34] #2018 closed

[2018-04-06 07:58] piskvorky commented on #2018
Yes, I remember Anaconda had issues in the past (badly compiled BLAS, NumPy -- nothing to do with Gensim). Please try with a standard CPython interpreter and let us know if that solves the issue.

[2018-04-06 08:27] qthurier commented on #2019
Thanks menshikh-iv but I'm looking for something that would do both together time   + metadata (for example author) as in the link I mentioned. Maybe I'm missing something, but I don't think it's possible to have both at the same time with dtmmodel or atmmodel?

[2018-04-06 09:24] menshikh-iv commented on #2019
@qthurier atmmodel can handle only author names (i.e. one modality), about dtmmodel - check [original implementation](https://github.com/magsilva/dtm).

If you want to have any number of modalities for the document simultaneously (i.e. author name, time, special tags, anything else), have a look at [BigARTM](https://bigartm.readthedocs.io/en/stable/), this is slightly complicated from first sight

[2018-04-06 10:38] PeteBleackley opened #2020 "Fix implementation of smartirs Document Frequency n"
#### Description
tfidfmodel.updated_wglobal(docfreq, totaldoc, 'n') returns utils.identity(docfreq) instead of 1.
This means that all term frequencies will be multiplied by the document frequency. For a large corpus this is particularly bad and will cause normalisation to crash.

[2018-04-06 10:57] biltu926 opened #2022 "Gensim lda update gives index error expElogbetad = self.expElogbeta[:, ids]"
I am using gensim's lda model for topic modelling. I created the id to word mapping using the following :
dictionary = gensim.corpora.Dictionary(text_content), where text_content is a list of lists containing word tokens.
and then I am creating the model using the following:

[code]

the Model is working fine till this point. However, after updating the dictionary with new documents, when I attemp

[2018-04-06 11:08] menshikh-iv commented on #2022
@biltu926 that's expected behavior, you **shouldn't** update dictionary after Lda training (because all inner matrices already allocated and use previous dictionary size for it).

**Possible solutions**
1. (simplest, my recommendation) Fit dictionary only once (on all available data) and use it always (without updates)
2. Use [HashDictionary](https://radimrehurek.com/gensim/corpora/hashdictionary.

[2018-04-06 11:08] #2022 closed

[2018-04-06 11:26] biltu926 commented on #2022
Thank you for the comment, but is it possible to learn the Model once and keep the flow running so that the Model gets updated with new data. Although i'll try the HashDictionary.

[2018-04-06 11:30] menshikh-iv commented on #2022
@biltu926 this is possible, but you shouldn't update `Dictionary`. This is right way here: update LDA with **new data** using **old dictionary**.

[2018-04-07 09:25] markroxor commented on #2020
Please take a look at the model again `wglobal` is actually used [here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/tfidfmodel.py#L120)
[code]
`wglobal` **returns the normalized doc_freq it is not a normalizing factor** therefore when `tfidfmodel.updated_wglobal(docfreq, totaldoc, 'n')` is used it should return `docfreq`

[2018-04-07 09:25] markroxor commented on #2020
@menshikh-iv please close this issue.

[2018-04-07 17:34] PeteBleackley commented on #2020
@markroxor According to https://en.m.wikipedia.org/wiki/SMART_Information_Retrieval_System , df="n" should return 1. Returning docfreq causes serious problems with a large corpus (*nc crashes due to a numerical overflow), and it was because of this that I raised the issue and the PR.

[2018-04-08 07:04] markroxor commented on #2020
I have just used the terminologies and not the exact approach. Please go through the code bit by bit and you will understand.

[2018-04-08 07:07] piskvorky commented on #1967
I agree with @ttpro1995 that this is an issue: unclear documentation, no examples on how to continue training.

There probably should be an issue where we collect all such "missing or unclear pieces of documentation". Then this issue can be closed as "duplicate".

[2018-04-08 09:01] PeteBleackley commented on #2020
@markroxor I've just spent a week working out why my code kept crashing, and it turned out to be because the implementation of SMART doesn't match the published specification. I think you wanted "n" to mean "Do not modify the argument" in all positions, but that doesn't make sense for document frequencies, especially as you generally want smaller weights for larger DFs. It would make more sense to

[2018-04-08 13:38] markroxor commented on #2020
You are right but can you see the code flow and where exactly the function `updated_wglobal` is used?
It is used [here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/tfidfmodel.py#L120).

According to your modification `updated_global` will return 1, and therefore the `precompute_idfs` will return a dictionary with all values as 1. Please go through the code flow.

The pro

[2018-04-08 13:56] piskvorky commented on #1956
That sounds messy indeed. If what @ahmedahmedov writes is true, that's just bad API.

@menshikh-iv what should @ahmedahmedov 's example look like, "officially", according to you?

[2018-04-08 14:11] PeteBleackley commented on #2020
@markroxor Yes, precompute_idfs should return all ones if the df argument is n.

To reproduce the bug I encountered, use the following corpus class.

import nltk.corpus
import gensim

class BrownCorpus(gensim.corpora.TextCorpus):

    def __init__(self,input):
        self.corpus=nltk.corpus.brown
        super(BrownCorpus,self).__init__(input)

    def get_texts(self):
        for para in self.co

[2018-04-08 14:39] markroxor commented on #2020
If that is what is intended than I agree with your concern. I am going to review your PR suggesting the necessary changes.

[2018-04-08 15:57] ahmedahmedov commented on #1956
@piskvorky I also didn't understand why the example I provided is not reproducible. One can easily go thru the same steps by just initiating the `sentences` iterable.

[2018-04-08 17:42] gojomo commented on #1956
Yes, the `Word2VecVocab` class is too closely-coupled to `Word2Vec` to be properly reusable. It's now an 'attractive hazard' – it looks from its name like it might do something useful standalone, but doesn't quite.

There's no "official" way to prepare a vocabulary for `Word2Vec` separate from instantiating a `Word2Vec` class. After doing that, a sophisticated source-code reading user might be abl

[2018-04-08 18:29] piskvorky commented on #2014
I agree with your analysis.

Re. 4: in case of collisions, the original C tool simply keeps the most frequent candidate. Like you say, doing this without vocabulary copies (lots of RAM) is much preferable.

I also saw another technique to reduce memory / collisions, by collapsing similar words together (when vectors for `Apple` and `APPLE` are very similar, just keep one). Only tangentially relate

[2018-04-08 18:38] piskvorky commented on #1956
Yeah, we need some clarity around this. Both in terms of fixing the API (where needed), and definitely clearer ELI5 docs with examples / tutorials.

My feeling is that fixing the API needs @gojomo 's hand, or it will keep sinking further.

The tutorial could be written by anyone knowledgeable with the refactored code base (@manneshiva?), but is also non-trivial.

[2018-04-08 19:25] piskvorky commented on #1936
It doesn't look all right to me. Why should Gensim store a model that it cannot load back?

Or do you mean @dotslash should load the model differently? (using a different class, such as `KeyedVectors.load` instead of `Word2Vec.load`?)

[2018-04-08 19:39] mucun1988 opened #2023 "Adding quadratic regularizatioin?"
The recent paper [Revisiting Skip-Gram Negative Sampling Model with Regularization](https://arxiv.org/pdf/1804.00306.pdf) extends the original skip-gram negative sampling (SGNS) by adding simply quadratic regularization, which is reported to substantially boost Google’s analytical reasoning task.

I am wondering whether we can also incorporate this quadratic regularization feature into gensim's wo

[2018-04-08 19:39] piskvorky commented on #1920
@Make42 Some toy implementation of word2vec may be a better place for your studies. The Gensim implementation is highly optimized, plus it has been battle-hardened and extended by several additional functionalities (like scoring, newer models, parallelization) over the years.

[2018-04-08 19:39] #1920 closed

[2018-04-08 19:41] piskvorky commented on #2023
Sure! It's actually a good idea, I've heard similar reports.

@mucun1988 Do you want to take up this task and submit a PR?

[2018-04-08 19:49] piskvorky commented on #1783
Can't wait to finally ditch scipy!

[2018-04-09 04:33] piskvorky commented on #2023
Hi @mucun1988 , sure, sharing your implementation could help others pick this up.

But doing benchmarks and writing a clear description (docs) is really not that hard. And in our experience, it's best if it comes from the original authors (know the gotchas, hyperparameters…).

Let me know if you need any assistance with the PR., it would be great to include your work in Gensim so more people can a

[2018-04-09 05:38] menshikh-iv commented on #2023
@piskvorky are you sure that we really need this feature? Based on the evaluation from paper (this always will look good), this gives ~1% of performance, not more.
![aaaa](https://user-images.githubusercontent.com/15094669/38480938-d30fd482-3be1-11e8-8cb4-fb9ab88df410.png)

For me, this doesn't look like the really useful addition, a difference is too small.

[2018-04-09 05:44] menshikh-iv commented on #1936
@piskvorky

yes, user want to do `KeyedVectors.save` -> `Word2Vec.load`, this shouldn't work.

[2018-04-09 05:44] #1936 closed

[2018-04-09 05:49] menshikh-iv commented on #701
Thanks for example @rmalouf :+1:

[2018-04-09 07:07] piskvorky commented on #1936
OK. The answer didn't make that clear to me. @dotslash does that solve your problem?

[2018-04-09 07:13] piskvorky commented on #2023
Good point—hence the request for benchmarks :)

@mucun1988 can you speak to the practical effects of this change, from your experience? What kind of errors or mispredictions does this technique tend to remove? Where does it help the most? Can it hurt sometimes?

[2018-04-09 10:02] piskvorky commented on #1836
Potential cause of this regression identified in https://github.com/RaRe-Technologies/smart_open/issues/184 . Fix coming up. CC @mpenkov.

[2018-04-09 12:27] ahmedahmedov commented on #2014
https://github.com/RaRe-Technologies/gensim/blob/5677ab300e4e3dc4645806762b693902b97c13c3/gensim/models/keyedvectors.py#L979-L992

as far as I can see, OOV words are handled within model.wv.word_vec which throws KeyNotFound exception when a word is not found in the vocabulary:

https://github.com/RaRe-Technologies/gensim/blob/49e6abdde6bca55b7a5b263c01ecdc94a75fb1ab/gensim/models/keyedvectors.py#L

[2018-04-09 15:02] rmalouf commented on #701
Looking at `vwmodel2ldamodel` more closely, I think this is two separate problems.  In creating a new LdaModel object, it sets `expElogbeta`, but that's not what's used by `log_perplexity`, `get_topics` etc.  So, the LdaVowpalWabbit -> LdaModel conversion isn't happening correctly.

But, it's still also true that LdaModel's perplexity scores increase as the number of topics increases, so it looks

[2018-04-09 15:51] piskvorky commented on #2014
Here, OOV = words that are not a part of the subset of words we care about (because of vocabulary size restrictions; IIRC the C tool considers only the top 30k most frequent words and their vectors).

So, what happens in that loop is that `accuracy` searches for the first word (=highest similarity) that is **both** not OOV and not any of the 3 input words. Once it finds such word, it checks whethe

[2018-04-09 17:39] akutuzov commented on #1936
I also hit this problem and I also think it is weird that Gensim can't load the model it saved a minute ago :)
Once again, the situation is like this:

1. We have a vector model stored in word2vec format (binary or text, does not matter)
2. We load it into Gensim using `gensim.models.KeyedVectors.load_word2vec_format`
3. Then we save it to the native Gensim format using `model.save` (one of the re

[2018-04-09 17:48] akutuzov commented on #1936
Or at least Gensim should produce a warning is a user tries to use `models.Word2Vec.load` to load a model which lacks the necessary attributes. This warning can point the user to the `models.KeyedVectors.load` method.

[2018-04-09 18:05] piskvorky commented on #1936
@akutuzov the problem is saving an object of one class (`KeyedVectors`) and then trying to load from a different class (`Word2Vec`). That was never supposed to work, it's a mismatch. You might as well `LsiModel.save()` and then wonder why `Doc2Vec.load()` doesn't work.

The error message could better, though. If the unpickled object is not an instance of the class it was used on, which is easy to

[2018-04-10 03:00] menshikh-iv commented on #1936
@piskvorky maybe write explicitly in error message that "`kv` isn't `w2v` (this is only one matrix with some metadata, for loading full `w2v` model please use `w2v.save` -> `w2v.load`)"

[2018-04-10 06:53] piskvorky commented on #1936
Yes, people for some reason think that the key-vectors are the same as a full model, but they're not. A better error message could help.

[2018-04-10 09:03] #2020 closed

[2018-04-10 12:45] villmow opened #2024 "Word2Vec scan_vocab() pruning method"
Not really an issue, but i wondered why it is done that way.

In the word2vec scan_vocab() method the `min_reduce` count is increased after every pruning ([link to code](https://github.com/RaRe-Technologies/gensim/blob/06f5f5c4fa9fb54a169e53034a3bf3fa035cbc3c/gensim/models/word2vec.py#L1187)). New tokens, that appear late or evenly spreaded in the dataset will be very likely pruned out that way.

[2018-04-10 13:50] menshikh-iv commented on #2024
CC: @gojomo

[2018-04-10 14:35] ahmedahmedov opened #2025 "model.trainables.update_weights executes even when no new vocabulary is added"
This one is not a major issue, but I think it is important to fix in order to avoid confusion.

Even when there is no new vocabulary, `model.trainables.update_weights`  takes a while to execute because it doesn't check whether gained_vocab is greater than zero or not.

https://github.com/RaRe-Technologies/gensim/blob/06f5f5c4fa9fb54a169e53034a3bf3fa035cbc3c/gensim/models/word2vec.py#L1467

should

[2018-04-10 14:43] piskvorky commented on #1851
Ping @JensMadsen can you share the code? `separately=[]` shouldn't be creating two files IMO.

[2018-04-11 01:36] mucun1988 commented on #2023
HI @piskvorky  and @menshikh-iv

I am not sure whether 1% or 2% improvement is small or big.

As shown in the paper,  the original SGNS model is ill-posed, and the quadratic regularization proves to rectify the illness. The theory (rather than numerical experiment) is more focused on the paper. The abstract pretty much summarizes the contribution:

`We revisit skip-gram negative sampling (SGNS), a

[2018-04-11 06:37] piskvorky commented on #2023
I understand. The more principled regularization sounds good to me.

In words of Yogi Berra: "In theory, there's no difference between theory and practice. In practice, there is." :-)

That's why we require a practical benchmark and error analysis (on realistic data, with realistically set hyper-parameters) always.

[2018-04-11 06:48] piskvorky commented on #1844
We really should be producing a better error message for such (common, easy to test) scenarios.

[2018-04-11 07:02] menshikh-iv commented on #1844
@piskvorky in general I agree, good errors messages are important, but in the current case, we can't improve anything: if `Mallet` (or any binary from `wrappers`) failed silently - we can't know what's a reason.

[2018-04-11 08:37] ahmedahmedov commented on #1997
for ep in range(10):
    model.train(epoch=1)
    model.save("my_model_ep{}.model".format(ep))
[code]

[2018-04-11 08:41] menshikh-iv commented on #1997
@ahmedahmedov yes, this is an old headache for us (this was added a long time ago, not in latest refactoring). We definitely need to change it.

[2018-04-11 08:44] ahmedahmedov commented on #1997
Yeah, I know. thanks for replying.
I wanted to post it just in case someone else faces the same issue.

On the other hand, saving intermediate states using callables works like a charm.

[2018-04-11 09:11] piskvorky commented on #1844
The way I understood it, @Hambath was passing an incorrect executable path. We could definitely check that easily.

@Hambath what does `The reference to the Mallet programme was lacking a fullstop in the directory name.` mean exactly? Did you pass an incorrect path to the Mallet executable?

[2018-04-11 09:32] menshikh-iv commented on #1844
@piskvorky we already have an issue with checking the path/permissions to executable - #1485.

[2018-04-11 11:11] anhornsby commented on #1834
Hi. I'm still having this problem. Is the fix available via pip yet? Thanks in advance

[2018-04-11 12:24] gojomo commented on #2024
I agree that the escalating-floor pruning method is very crude. Not just does it  disadvantage later-arriving words, but each prune tends to eliminate 90% of all words. So when a prune comes close-to-the-end, you can wind up with a final vocab-size much smaller than your stated maximum.

So it's giving up a bunch of correctness (in which words should survive) for efficiency of pruning-less-often.

[2018-04-11 12:29] piskvorky commented on #2024
I'd much prefer to have Bounter properly integrated (PR #1962) than come up with more ad-hoc schemes.

[2018-04-11 21:22] nvnvashisth opened #2028 "TypeError: doc2bow expects an array of unicode tokens on input, not a single string"
Hello,

I looked for all suggestion, where everyone says to break the string into tokens by split function. All that has been done already, but still it seems to have same error again and again.

[code]

So now it gives below error.

and the output under "tokens" variable seems like this as below

`['becom', 'effect', 'willingli', 'without', 'need', 'obtain', 'knowledg', 'other', 'obtain', 'acquir

[2018-04-12 02:42] gojomo commented on #2006
I just noticed that the Facebook 'StarSpace' generalized-embedding tool has the option of continuous real-valued inputs & output targets, via its `useWeights` option. So the same features/flexibility in the training-core might enable both matching this model & StarSpace.

[2018-04-12 03:57] menshikh-iv commented on #2028
Hello @nvnvashisth, first - you need to tokenize your input and after - pass it to the dictionary, like

[code]

[2018-04-12 03:57] #2028 closed

[2018-04-12 03:59] menshikh-iv commented on #1977
fixed in #2012

[2018-04-12 03:59] #1977 closed

[2018-04-12 19:36] sashavor opened #2029 "word2vec2tensor.py : Number of tensors do not match the number of lines in metadata"
#### Description
When I used word2vec2tensor.py on my model, the resulting tsv files (_tensor and _metadata) have different dimensions: when I load them into TensorBoard, it tells me that "Number of tensors (10000) do not match the number of lines in metadata (25681)".

Is there a max limit in the number of tensors produced by the code?

#### Expected Results
tensor.tsv and metadata.tsv with the s

[2018-04-13 02:51] menshikh-iv commented on #2029
Hello @sashavor, please share your model (needed for reproducing).

[2018-04-13 02:52] menshikh-iv commented on #2009
ping @budhiraja, what's version you used for training?

[2018-04-13 03:37] menshikh-iv commented on #2025
looks good for me, thanks @ahmedahmedov, wdyt @gojomo?

[2018-04-13 03:40] menshikh-iv commented on #1994
@lzfelix please sent me a link to `ivan@rare-technologies.com` (don't worry, we will not share your file).

[2018-04-13 06:08] gojomo commented on #2025
Is `update_weights()` triggered other times? If it only runs when requested, and is simply a (slow) no-op if called when there’s no need for it to be called (because there’s been no vocabulary change), so what? An exception seems excessive - at most log a warning.

[2018-04-13 08:06] shubham0704 commented on #2006
What do you suggest @gojomo ? Do you want to have the Entity Embeddings model in gensim. Or do you want to augment/modify some model in gensim which could provide the same behaviour as StarSpace.

[2018-04-13 18:52] piskvorky commented on #1659
@menshikh-iv @manneshiva is this still unresolved?

[2018-04-14 04:28] menshikh-iv commented on #1659
I think that this is already resolved, but I can't check, because we have no original model / even gensim version that was used for training.

[2018-04-14 04:48] menshikh-iv commented on #1659
**UPD** I checked, the last version **without** `model_trimmed_post_training` was `0.13.3`, I save `0.13.3`, load in `3.4.0` and train again - all works fine (without any attribute errors).

The issue looks fixed, I close it.

[2018-04-14 04:48] #1659 closed

[2018-04-14 13:46] piskvorky commented on #1659
Thanks!

[2018-04-14 22:09] gojomo commented on #2006
A standalone implementation that repeats a lot of Word2Vec/Doc2Vec code would only be justified if there were good vivid examples of where this technique provides unique benefits (and thus significant demand for it). Are there such examples?

Adding what's special from this technique (and similarly seen in StarSpace) into some shared base would be preferable, but could be a bit harder to do. If it

[2018-04-15 13:59] lzfelix commented on #1994
HI @menshikh-iv, thank you. I have just sent the email.

[2018-04-15 14:15] menshikh-iv commented on #1994
@lzfelix reproduced, thanks! We'll fix it.

[2018-04-15 15:39] lzfelix commented on #1994
Great! Thanks a lot.

[2018-04-16 00:10] qthurier opened #2031 "How to use PerplexityMetric with LdaMulticore?"
How can I get the perplexity from LdaMulticore? Since the object doesn't have a callbacks attributes I don't see how to use PerplexityMetric.

[2018-04-16 01:29] menshikh-iv commented on #2031
@qthurier use this method https://github.com/RaRe-Technologies/gensim/blob/760c6f45420889a78ce5e872e604e3ab9ffb1853/gensim/models/ldamodel.py#L568

FYI [mailing list](https://groups.google.com/forum/#!forum/gensim) best place for this kind of questions.

[2018-04-16 01:29] #2031 closed

[2018-04-16 03:50] #1722 closed

[2018-04-16 14:30] sushionthefork opened #2032 "Word2Vec evaluate_word_pairs"
I am trying to get Pearsons and Spearmans correlation using the method evaluate_word_pairs.
When I run
`word_vectors.evaluate_word_pairs(os.path.join(module_path, 'test_data','wordsim353.tsv'))`

I get this error:
[code]

Versions:
Darwin-17.5.0-x86_64-i386-64bit
Python 3.6.1 (v3.6.1:69c0db5050, Mar 21 2017, 01:21:04)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]

NumPy 1.14.2
gensim 3.4.0
FAST_VERS

[2018-04-17 17:03] roxanaatt commented on #457
for some reason LDA in sklearn is dead slow for me and it takes at least a week to run LDA. What do you think the reason would be? I'm thinking that maybe sklearn on my computer is using only one core! How can I make it parallel??

[2018-04-17 17:31] chyikwei commented on #457
@roxanaatt
For parallel computing, you can change `n_jobs` parameter.
Also, try set `learning_method` to `online` and increase `batch_size`.

Reference:
http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.LatentDirichletAllocation.html

[2018-04-21 10:47] mirekphd opened #2034 "obsolete python-dateutil requirement"
#### Description
I had to remove your package from my Dockerfile modeled on the popular Kaggle/docker-python container, because gensim requires indirectly an obsolete version of python-dateutil  [required: <2.7.0,>=2.1]:

The dependency path looks like this:
gensim -> smart-open -> boto3 -> botocore -> python-dateutil

#### Steps/Code/Corpus to Reproduce
[code]

During container building I get thi

[2018-04-21 13:46] menshikh-iv commented on #2034
Hi @mirekphd,

you need to upgrade `botocore` to the latest `1.10.6` version for avoid this conflict
https://github.com/boto/botocore/blob/1e34b6be66635d5c1441b074967a38ab0f6b3f84/setup.py#L43

or simply upgrade `boto3` to latest version (dependencies will updated too)

[2018-04-21 13:46] #2034 closed

[2018-04-21 13:49] menshikh-iv commented on #2029
So, we have no needed information for reproducing an issue, for this reason, I close it.
@sashavor feel free to re-open when you share a model.

[2018-04-21 13:49] #2029 closed

[2018-04-21 13:50] menshikh-iv commented on #2032
ping @sushionthefork , can you share your model please?

[2018-04-21 16:12] #2032 closed

[2018-04-21 16:12] sushionthefork commented on #2032
I just reloaded my file with my model and it started working, weird.

[2018-04-23 03:34] nickkimer commented on #1166
has this been implemented?

[2018-04-23 06:38] menshikh-iv commented on #1166
@nickkimer now possible to infer vector for unseen author #1766 (in `develop` now), I think this addition resolve current issue, you can install current `develop` branch or wait next `3.5.0` release .

[2018-04-23 06:38] #1166 closed

[2018-04-24 10:56] DomHudson commented on #1559
I was just wondering if I could get some clarification on this. I'm getting this error when querying for the word vector for a quote character `“`. However, I do get a vector returned using the same model but facebook's python wrapper. Is this expected behaviour?

[2018-04-24 13:09] LukeB42 opened #2036 "Documentation on jointly learning feature representations with a higher task"
I can't find any documentation on training, say, FastText jointly with a classification task.

The `callbacks` parameter is mentioned in the API documentation but not explained.

[2018-04-24 13:38] menshikh-iv commented on #2036
Hi @LukeB42, we working on documentation now

will be fixed in #1944 soon

gensim is about unsupervised learning, you can use inferred vectors in any way (including for classification). Also, we have in plan to make "problem oriented" tutorial chain (including popular task like classification, clustering, etc).

[2018-04-24 13:38] #2036 closed

[2018-04-24 15:13] LukeB42 commented on #2036
@menshikh-iv Thanks for explaining that.

Thanks for hipping me to #1944!

For the problem-oriented tutorial chain do you plan on explaining that accuracy improvements might be obtained by regularising the unsupervised representation via the supervised task?

It'd be a good way to showcase the `callbacks` API, IMHO.

[2018-04-24 15:41] menshikh-iv commented on #2036
We already have an example from #1944, if needed, we'll show it in tutorials again

Hm, not sure what you exactly mean here

[2018-04-25 12:45] LukeB42 commented on #2036
Looking forward to the documentation update from what I can see in that PR there doesn't seem to be much of anything on the callbacks API.

I'm trying to regularise the word embeddings via a classification task.

Is there an example of **backpropagating through a classification task while fitting the FastText model**?

[2018-04-25 13:30] menshikh-iv commented on #2036
@LukeB42 oh sorry, my mistake, this fixed in different PR https://github.com/RaRe-Technologies/gensim/pull/2026/files#diff-f3f747c490afb30c4f40c2804e459b63R1

No, this is the really specific case (of course useful, but I don't think that we'll add it).

[2018-04-25 14:07] LukeB42 commented on #2036
Ah no worries. Again many thanks @menshikh-iv!

[2018-04-25 22:11] stevemarin commented on #416
Are there any updates on this issue?

[2018-04-27 16:25] muleyprasad commented on #1019
Does anyone have a workaround until this gets fixed?

[2018-04-28 07:09] zhangjiantong commented on #1970
window 64,python3.6,gensim 3.40 aslo have the same problem.

    new_model.min_alpha_yet_reached = old_model.min_alpha_yet_reached
AttributeError: 'Word2Vec' object has no attribute 'min_alpha_yet_reached'

[2018-04-30 03:42] RohitRaj2017 commented on #217
/opt/anaconda3/lib/python3.6/site-packages/gensim/models/ldamodel.py:775: RuntimeWarning: divide by zero encountered in log
  diff = np.log(self.expElogbeta)

This is the exact warning that I am getting

[2018-04-30 07:56] piskvorky opened #2037 "Documentation fixes"
This issue collects PRs related to improving the Gensim documentation.

Merged
--------

https://github.com/RaRe-Technologies/gensim/pull/1633
https://github.com/RaRe-Technologies/gensim/pull/1625
https://github.com/RaRe-Technologies/gensim/pull/1640
https://github.com/RaRe-Technologies/gensim/pull/1702
https://github.com/RaRe-Technologies/gensim/pull/1684
https://github.com/RaRe-Technologies/gens

[2018-04-30 08:27] menshikh-iv commented on #1322
Hello @AlokDebnath, feel free to contribute! The task is as https://github.com/RaRe-Technologies/gensim/issues/1322#issuecomment-322459901 suggested + some kind of mapping with vectors (as optional thing)

[2018-04-30 08:29] menshikh-iv commented on #1970
@zhangjiantong this was resolved in https://github.com/RaRe-Technologies/gensim/pull/2012 and will be available in next release `3.5.0` (or you can install gensim from current `develop` branch now).

[2018-04-30 19:53] mikkokotila opened #2038 "KeyError: "word 'གུ་རུ་' not in vocabulary""
#### Description

Regardless of trying out several answers from stackoverflow etc. I'm still getting the "word not found in vocabulary"

#### Steps/Code/Corpus to Reproduce

[code]

#### Actual Results

[code]

#### Versions

Darwin-15.6.0-x86_64-i386-64bit
Python 3.6.5 (default, Mar 30 2018, 06:41:49)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)]
NumPy 1.14.2
SciPy 1.0.1
gensim 3.4.0

[2018-04-30 20:16] mikkokotila commented on #2038
ok, I figured it out. The docstring actually says it clear enough, it's just the various infos online don't. So it has to be a list of lists where each list item is token (word).

[2018-04-30 20:16] #2038 closed

[2018-05-02 05:10] yu45020 opened #2039 "Differen values on "get_latest_training_loss" in Word2Vec"
I train a Word2Vec using the standard way described in the API document. To get loss of each epoch, I also train the same model with decreasing learning rate per epoch.
Based on the [source code](https://github.com/RaRe-Technologies/gensim/blob/916e423a1654d87646fc522d8862a81c7a7cb4fc/gensim/models/base_any2vec.py#L579), the internal learning rate is decreasing linearly per epoch, so I do the same

[2018-05-03 02:02] u17289077 opened #2040 "Forget my password"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-05-03 04:41] quandb opened #2041 "Can not build similarity matrix when the dictionary contains word indices are not continuous"
#### Description
For some reasons, the gensim.corpora.Dictionary contains word indices are not continuous. I met the `KeyError` in _similarity_matrix()_ function when it tried to re-index from 0 to n-1.

#### Steps/Code/Corpus to Reproduce
[code]

#### Expected Results
Term similarity matrix in `scipy.sparse.csc_matrix` format

#### Actual Results
[code]

#### Versions
('Python', '2.7.14 |Anaconda

[2018-05-03 05:06] #2040 closed

[2018-05-03 06:58] tanthml commented on #2041
Have same issue.

In my current system have already trained a vocabulary (word-index, word-term) the word-index is not a continuous series (1,2,3,4,5, ...) but it is (1,4,5,...) randomly , So what we want is: try to convert this vocab to the same format dictionary of gensim and get this error.

Thanks

[2018-05-06 11:27] DomHudson commented on #1261
Hi,
I'm just taking a look at this myself also, just posting some metrics here.
Loading a 1.2gb .bin file using the python wrapper in the original repository takes 2.078 seconds compared with gensim's load_fasttext_format taking 68.171 seconds.

The vast majority of time is in `init_ngrams_post_load`.
[code]

(Gensim Version: 3.4.0)

[2018-05-09 20:28] steremma commented on #2041
I could be completely wrong but this is an idea that comes to mind:

Words in the dictionary are indeed assigned continuous IDs, but some of them are filtered out by the default filters (i.e their occurence count is lower than the threshold). Could you check if the issue persists when disabling the filters?

[2018-05-09 23:04] darindf opened #2043 "Performance question on sorting on Dictionary.doc2bow and MmWriter.write_vector"
I have a question on performance. I have several large documents, on the order of several megabytes, and was performing some profiling and noticed some hot spots.

I see that the doc2bow on Dictionary on returning the result, i.e. list of tuples of tokenid's, and their frequency, sorts this list
[code]
What is more interesting is that this behavior is not defined in the documentation

[code]

Then

[2018-05-10 08:05] piskvorky commented on #2043
The fact that sparse vectors are sorted by id is an API requirement. It cannot be relegated to user-land.

Both list sorting and converting text to utf8 are extremely fast, I have doubts these are really the bottleneck. Can you share your profiling numbers?

[2018-05-10 11:42] Witiko commented on #2041
@piskvorky All my contributed code assumes that dictionaries are contiguous. I discussed this with @menshikh-iv to confirm that this is a correct assumption; the response was that in the current version of Gensim, dictionaries are automatically compactified on construction and that this assumption was valid.

[2018-05-10 15:19] piskvorky commented on #2041
@Witiko Yes, there are. For example `filter_extremes()` (the most common way to filter a Dictionary) will call `compactify()` automatically. But if the user implement their own filtering, it is a quite possible there will be gaps.

There is no API contract that the ids must be contiguous (though the typically are). Let's wait for @quandb and @tanthml 's reponse regarding their use case for having

[2018-05-10 16:18] darindf commented on #2043
It seems that sorted ordering is not well documented. Which API requires ordering?

[2018-05-10 17:43] darindf commented on #2043
Here's the MmWriter write_vector. This is tested with using 200,000 documents. The sorted function is taking 43.9% of the time.

[code]

[2018-05-10 19:28] darindf commented on #2043
Here's the timing for write_vector, slightly refactored to evaluate different expression times. Significant amount time is spent in sorting the list, note the non zero filter can be migrated to within the loop.

The other costly operations are the string operations, formatting a string and then it's conversion to binary. These 2 operations take 50% of the time. IO which is usually the slowest oper

[2018-05-10 20:36] darindf commented on #2043
Here's the results of profiling doc2bow. The 2 sorts account for 14% of the time.

Notes:  allow_update is true, return_missing is False

[code]

[2018-05-10 20:59] piskvorky commented on #2043
Thanks for investigating @darindf . What version of Gensim is this? There were some I/O optimizations recently in #1825.

I'm afraid not much can be done about the sorting. Bypassing such basic data sanity normalization, in favour of a corner case optimization, would lead to trouble elsewhere. Perhaps you can remove the sorting locally?

[2018-05-11 02:53] quandb commented on #2041
Hi all,

In summary: there is another app perform the mapping between word and id, some tokens have been removed due to some reasons. Then I have to build the Gensim `dictionary` from processed vocab (have word and id already).

In detail: the use case here is we build a product that includes multiple independent apps such as data ingestion, pre-processing, vectorization, topic modeling, etc.
The

[2018-05-11 07:04] menshikh-iv commented on #2039
Hello @yu45020, training is non-deterministic in this case (because you use multiple workers), for this reason, you receive different values even if you run same code twice (see Gordon answer https://groups.google.com/forum/#!searchin/gensim/word2vec$20workers%7Csort:date/gensim/t86BZUR8qa8/TlLsbHOpBgAJ)

[2018-05-11 07:04] #2039 closed

[2018-05-11 07:11] menshikh-iv commented on #2043
@piskvorky optimization from #1825 only for the reader (not for the writer), i.e. #1825 doesn't affect the current case.

@darindf I'm +1 for https://github.com/RaRe-Technologies/gensim/issues/2043#issuecomment-388184022, this is important "sanity normalization", if we drop it, I'm 100% sure that some cases (not trivial) can be broken after this change.

[2018-05-11 08:41] quajak opened #2045 "Importing fasttext models still not working"
from gensim.models.wrappers import FastText
fasttext_model = FastText.load_fasttext_format('wiki-news-300d-1M.vec')
print(fasttext_model("TestTest"))

results in: NotImplementedError: Supervised fastText models are not supported

Alternative approach:
from gensim.models import KeyedVectors
fasttext_model = KeyedVectors.load_word2vec_format('wiki-news-300d-1M.vec')
print(fasttext_model("TestTest"))

[2018-05-11 11:41] piskvorky commented on #2045
CC @manneshiva

[2018-05-11 14:16] Witiko commented on #2041
@quandb As a workaround, you can have both the original, and a compactified dictionary, and translate documents between them.

[code]

@piskvorky If we decide we want to support this, I will add proper support for non-contagious dictionaries to the methods related to the soft cosine measure. It will make the code a little less maintainable.

[2018-05-11 16:43] darindf commented on #2043
Thanks for the feed back. This version of gensim has [#1825](https://github.com/RaRe-Technologies/gensim/pull/1825) and is for the mmreader.

Performing benchmarks with the before/after case, I get approximately 20% time reduction processing 200k documents as this part of the program reads documents from the database, creates the bow (and updates the dictionary)  and writes the bow vector to the m

[2018-05-11 17:41] piskvorky commented on #2041
I think so, thanks. The other option is to enforce contiguous ids, but I don't think that's a good idea.

[2018-05-12 04:50] Faruman opened #2046 "Error while importing old wikicorpus"
#### Description
When I try to load the following Wikicorpus from 2010 ([Link](https://dumps.wikimedia.org/archive/enwiki/20100312/enwiki-20100312-pages-articles.xml.bz2)) I get an error (see bellow)

#### Code
[code]

#### Expected Results
Correct processing of the wikipedia corpus

#### Actual Results
C:\Users\fabiansvenkarst\Documents\BA\Wiki_py27\venv\Scripts\python.exe C:/Users/fabiansvenkars

[2018-05-13 16:59] sreenathelloti commented on #1889
Error while executing following command
 self.train_data = pickle.load(f,encoding='cp1252')
UnpicklingError: invalid load key, '\xd9'.

[2018-05-15 00:38] gilgtc commented on #1970
@menshikh-iv I attempted to install gensim 3.5.0 from develop branch but it is still 3.4.0

I used the following, is that correct?

`pip3 install git+https://github.com/piskvorky/gensim.git@develop`

[2018-05-15 04:31] JanmajaySingh opened #2049 "Issue in class HashDictionary"
My goal is to have a dictionary and a bag of words model by streaming over the corpus stream only once (fully online learning). For this, I looked at the Hashing trick described in the tutorials.

In `HashDictionary.add_documents()` method, there are [calls](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/corpora/hashdictionary.py#L188) to the `doc2bow()` method which forms a Bag o

[2018-05-15 05:31] Keramatfar commented on #1956
@menshikh-iv,
excuse me for delay, all.csv is about 600mb. but the file is a two column csv, the first column is id and the second abstract of a research paper:

6189 | مقایسه اثر گاماگلوبولین   وریدی با رژیم کتوژنیک در کودکان مبتلا به صرع مقاوم رژیم کتوژنیک  صرع     رژیم درمانی  گاماگلوبولین مجله   علمی دانشگاه علوم پزشکی و خدمات بهداشتی درمانی همدان با توجه به اینکه در 80   درصد بیماران اپی لپتی

[2018-05-15 10:43] jtlz2 commented on #1953
@menshikh-iv This is exactly what I have been searching for today - would be amazing - any idea of timescales? :)

[2018-05-15 11:00] piskvorky commented on #2049
`HashDictionary` is fully initialized from the start, it needs zero passes to "train" itself. You don't need to call `add_documents()` at all. I think it's there only for debugging reasons (to collect tokens if `self.debug` is set).

[2018-05-15 11:00] #2049 closed

[2018-05-15 19:41] darindf opened #2051 "Redundant get_Elogbeta calls in LdaModel"
In reviewing performance profiling I'm finding that get_Elogbeta is taking some time.

I notice that there are 2 calls to this function, one after the other, LdaModel.do_mstep

The first call is obvious, in LdaModel.do_mstep we have
[code]
But do you see the second call? In sync_state we have
[code]

The question then becomes does get_Elogbeta perform some side effect that the 2nd call would be di

[2018-05-16 03:26] JanmajaySingh commented on #2049
@piskvorky I understand that the HashDictionary is fully initialized from the start and it will not require any passes to train itself.
The control flow of HashDictionary when a new object is created is:
`__init__() —> add_documents() —> doc2bow() `

where `add_documents()` iterates over the input corpus. (Note: I don't call `add_documents()`, the `__init__()` method does if a corpus is provided)

[2018-05-16 05:31] piskvorky commented on #2049
Don't pass the corpus to `__init__`, so that `add_dictionary()` is not called. Also, set `debug=False` unless you need the reverse id=>word mapping (will save you a lot of memory).

[2018-05-16 09:59] piskvorky commented on #2049
I don't know what stream you're talking about. To get a stream of BoW (bag-of-word) vectors, use the dictionary's `doc2bow` method:

[code]

[2018-05-16 10:27] tanthml commented on #2041
Hi @piskvorky ,

For my case, I try out an ad-hoc solution: re-index term to new dictionary with continuous term-index.

Tks,

[2018-05-16 10:47] Witiko commented on #2041
@tanthml Please see if #2047 fixes your problem.

[2018-05-16 12:35] ouromoros opened #2052 "WikiCorpus scans corpus to determine vocabulary when an empty dictionary is provided"
I have the following code:

[code]

When I use it, it tries to scan through the corpus to determine vocabulary, while a dictionary **is** provided.

It clearly violates what is being said in the documentation:

[2018-05-16 13:36] NandanIITM opened #2053 "Correct way to use pos_tagger option in /summarization/keywords.py"
#### Description
While using "[keywords()](https://github.com/RaRe-Technologies/gensim/blob/8766edcd8e4baf3cfa08cdc22bb25cb9f2e0b55f/gensim/summarization/keywords.py#L200)" in summarization/keywords.py file, I am getting the same set of tags, no matter what value I choose for pos_tagger=['NN'], ['JJ'] or ['NN','JJ']

#### Steps/Code/Corpus to Reproduce

Example:
[code]

#### Expected Results
 If

[2018-05-16 16:26] piskvorky commented on #2052
@ouromoros please report the versions, as per our [issue template](https://raw.githubusercontent.com/RaRe-Technologies/gensim/develop/ISSUE_TEMPLATE.md).

@steremma this seems a bug to introduced here: https://github.com/RaRe-Technologies/gensim/pull/1821/files#diff-eece52d95c280dabe57c803c95d6bb96L335 . That commit changed the logic that worked and that is still documented.

[2018-05-17 04:05] ouromoros commented on #2052
@piskvorky  Sorry for not including the version, but you're right, that commit is the cause of it. @steremma  's code shoud fix it, so it seems this issue can be closed soon.

[2018-05-17 13:55] sroder opened #2054 "TypeError: '<' not supported between instances of 'str' and 'int'"
#### Description
gensim.model.docvecs.most_similar('A sample string')

#### Steps/Code/Corpus to Reproduce

[2018-05-21 05:12] yaoyao0830 commented on #853
hi can i know the steps to solve this error..?

[2018-05-21 06:13] MaggieMeow commented on #1583
I hope this issue could be attended to soon so as not to leave many developers confused and hunting for answers for bugs in an experimental subpackage.

Cheers.

[2018-05-21 08:38] Witiko commented on #2041
If you are using Git on the command-like, then as follows:
[code]
Please, let me know of your findings.

[2018-05-21 20:41] piskvorky commented on #1141
@mleue I think Cython is a great step. I wouldn't worry about parallelization (which is hard to do in Python). But see also #2048 .

Regarding Bounter: it helps with speed too (a little faster than dict). But  yes, lower memory footprint is its main advantage.

But simply rewriting Phrases (the slow inner parts) in Cython sounds like an awesome first step. Easy wins first :)

[2018-05-21 21:28] patcollis34 commented on #1141
The reason I gave up on this is waiting on #1477, refactor the base corpus structure. To do some better/more interesting sampling methods across cores and solve the other bottleneck of the .any2utf8. Do you agree with this @piskvorky?

But the bounter/cython stuff should be helpful also.

[2018-05-22 03:10] telkomops opened #2055 "Error on Gensim based Topic Modeling on Custom Corpus"
After segmentation, when calculating the **Step 2: Probability estimation**
The following error occurs
`per_topic_postings, num_windows = measure.prob(texts=train_texts, segmented_topics=segmented_topics,dictionary=dictionary, window_size=2)`

[code]

**Windows-8.1-6.3.9600-SP0
Python 3.5.5 |Anaconda, Inc.| (default, Apr  7 2018, 04:52:34) [MSC v.1900 64 bit (AMD64)]
NumPy 1.14.2
SciPy 1.0.0**

An

[2018-05-23 10:24] Syncrossus opened #2056 ""AttributeError: 'Doc2VecTrainables' object has no attribute 'syn1'" when verifying if model.syn1 is callable"
Here is a snippet of code that reproduces the issue:
[code]

Here's the stack trace:
[code]
As we can see from the result of the `print`, it is when callability of `model.syn1` is checked that the issue arises.

[2018-05-23 12:06] yananchen1989 opened #2057 "How can make the embedding values fall into [-1,1] after training the model ?"
I trained the embedding from model.train(train, total_examples=model.corpus_count, epochs=5).
But some of the values in the embedding are not fall into [-1, 1]. So is there any param to set for the range of the output values ?  Thanks

[2018-05-23 13:17] simonhessner commented on #1376
Just wanted to ask for updates regarding sent2vec in gensim. Is somebody currently working on it?

[2018-05-23 22:51] leezu opened #2059 "fasttext ft_hash and unicode handling"
Fasttext uses the hashing trick to map ngrams to a an index in [0, N]. Gensim supports loading models trained with original fasttext implementation from facebook research. It is therefore important that both gensims and the original implementation use the same hash function to make sure that ngrams are associated with the correct vectors.

The [original implementation](https://github.com/facebookr

[2018-05-25 04:25] SefaZeng opened #2060 "Why I got negative number of model.score(sentences)?"
I use Word2Vec model to get the word2vec,and want to classify whether it's a correct sentence or not.
And when i use model.score to get the log probability of this sentence,I got a negative score.Why?
Thx for answering this question:)

[2018-05-25 15:00] umangv opened #2061 "Doc2Vec.infer_vector learning rate decays extremely fast (non-linearly)"
I am working with a corpus of very short documents and noticed that the inferred vectors for the same document were very different.

[code]

[code]

More training steps makes things worse in this case:
[code]
[code]
Note: This is more extreme than what I'm seeing with more domain-specific sample documents, where start to get more consistent after about 5000 steps.

I believe this is happening beca

[2018-05-25 16:01] rpedela opened #2062 "'FastTextTrainables' object has no attribute 'vectors'"
Using the [pre-trained FastText English Wikipedia model](https://github.com/facebookresearch/fastText/blob/master/pretrained-vectors.md), I load it and then save it to gensim's format. When I load the new file, I get a ```'FastTextTrainables' object has no attribute 'vectors'``` error. I am using version 3.4.0.

[code]

**Saved Files**
[code]

**Error**
[code]

[2018-05-25 20:13] psorianom opened #2065 "scipy2scipy_clipped may return a matrix with a different shape to that of the input matrix"
#### Description
The function scipy2scipy_clipped may return a clipped matrix with a different shape if the last dimension item is not among the top similar items of any row of the input matrix. This is particularly possible while chunking in SparseMatrixSimilarity, as the similarity matrix is incomplete and thus we don't get to see the last column of the last row (which, being a similarity matrix

[2018-05-28 11:28] shivank01 opened #2067 "AttributeError: 'Word2VecKeyedVectors' object has no attribute 'train'"
I want to do Online Training/ Resuming training on my previously trained model. But it is showing the error `AttributeError: 'Word2VecKeyedVectors' object has no attribute 'train'` .

My code is:
`import gensim.models.keyedvectors as word2vec`
`model = word2vec.KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin', binary=True)`
`model.KeyedVectors.train("Hello")
`

[2018-05-28 11:31] menshikh-iv commented on #2067
For continue training, you should save **all** model, not only word vectors, i.e.
[code]

and after you can load it and continue training
[code]

Method `save_word2vec_format` save only word-vectors (not a full model) for later usage like similarity search or something else, but not for training.

[2018-05-28 11:31] #2067 closed

[2018-05-28 13:13] Shivansh7 opened #2068 "Gensim Summarizer Memory Error"
I am getting the Following error while using the Summarizer:
[https://stackoverflow.com/questions/50567108/gensim-summarizer-throws-memoryerror-any-solution](url)

Could you please tell me the workaroud of this problem.

[2018-05-28 18:28] Wolfi-101 opened #2069 "Incoherent topic word distributions after `malletmodel2ldamodel`"
Hi everyone,
first off many thanks for providing such an awesome module! I am using `gensim` to do topic modeling with LDA and encountered the following bug/issue. I have already read about it in the [mailing list](https://groups.google.com/forum/#!topic/gensim/ZesMoKZCf4c), but apparently no issue has been created on Github.

#### Description
After training an LDA model with the gensim mallet wra

[2018-05-29 12:07] Shivansh7 commented on #2068
I am trying to generate the summary of a large text file using Gensim Summarizer. I am getting memory error. Have been facing this issue since sometime, any help would be really appreciated. feel free to ask for more details.

`from gensim.summarization.summarizer import summarize

file_read =open("xxxxx.txt",'r')
from gensim.summarization.summarizer import summarize

def Summary_gen(content):

[2018-05-30 09:03] piskvorky commented on #2049
@JanmajaySingh do the documentation updates in #2073 make it clearer how to use HashDictionary in streaming mode?

[2018-05-31 07:02] JanmajaySingh commented on #2049
@piskvorky Yes, I submitted a review for the updates.

I was confused mainly because in both, `Dictionary` and `HashDictionary` classes, `doc2bow()` is called as soon as you create an object of the class and pass the _corpus_ parameter.

I thought that since for each document, a BoW was formed, it was also being stored in some variable (a list or other collection) and being returned somewhere. But

[2018-06-01 04:47] anujgupta82 opened #2075 "ZeroDivisionError: float division by zero"
Getting error :  ZeroDivisionError: float division by zero

https://github.com/RaRe-Technologies/gensim/blob/9481915915bf61aa6e4e719a2f26d509677e6779/gensim/summarization/pagerank_weighted.py#L53

![error](https://user-images.githubusercontent.com/11848354/40821543-3283e832-6585-11e8-9a66-3a4d8ba95eeb.JPG)

[2018-06-03 09:03] reneklacan commented on #2060
@SefaZeng see scoring implementation https://github.com/RaRe-Technologies/gensim/blob/49e6abdde6bca55b7a5b263c01ecdc94a75fb1ab/gensim/models/word2vec.py#L398-L410 - from my understanding as it's using `log`, negative values are expected

[2018-06-04 08:46] akoksal opened #2077 "Doc2vec most_similar method returns similarity score higher than 1"
#### Description
I have trained doc2vec model by following this tutorial for 500.000 documents.
https://github.com/abtpst/Doc2Vec/blob/master/trainDoc2Vec.py

However, when I try to find most_similar documents for a given document, the results have similarity higher than 1. As you can see in the code and the outputs, docvecs.similarity returns 0.246 and docvecs.most_similar return 9.996 for simila

[2018-06-04 14:39] vikash512 opened #2079 "Unable to save the Lsi model"
unable to save the LSI model
/usr/local/lib/python2.7/dist-packages/gensim/interfaces.py:101: UserWarning: corpus.save() stores only the (tiny) iteration object; to serialize the actual corpus content, use e.g. MmCorpus.serialize(corpus)
  "corpus.save() stores only the (tiny) iteration object; "
Code:
bow_vector1=[]
for X in tokenize_data:
    bow_vector1.append(dct.doc2bow(X));

tfidf_vector1=tf

[2018-06-04 14:45] vikash512 opened #2080 "how to give the lsi model as input to train an model in multi layer perceptron"
Here I took the amazon reviews dataset containing two features reviews and sentiment.I had made a model on this using LSI which gives feature vectors.Now I want this model to give as an input to train a model for sentiment analysis using multi layer perceptron. can you tell me the process

[2018-06-04 23:57] xiaoxiaofengzi opened #2082 "the probability distribution in LDA"
After I had trained an LDA model by gensim, I use the statement of get_topics to get the probability distribution of doc and topic. But I find most of them are 0.00, why does this happen? And will it
influence accuracy？ Thank you very much!

[2018-06-05 11:20] alexandry-augustin opened #2083 "Doc2vec fails to train when using build_vocab_from_freq()"
#### Description

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

<--! Now my questions are:
- What is the correct way of using build_vocab_from_freq() to get a valid model?
- Failling this, what is the best way to force gensim to include an unseen token at a specific index value in the vocabulary? -->

[2018-06-05 14:42] jvazquez2 commented on #64
I wanted to know if there was a way for the SIMILARITY class to accept other similarity functions besides the cosine similarity. For example, I want to write my own similarity function and substitute this function for the cosine similarity function in the gensim package.

Any help would be greatly appreciated. @piskvorky

https://github.com/RaRe-Technologies/gensim/issues/64#issuecomment-150719000

[2018-06-05 15:58] quajak commented on #2045
Has this been fixed?

[2018-06-05 17:19] andyhappy1 commented on #1970
i am running python 3.6 ...i have gensim 3.4 ...did
 pip3 install git+https://github.com/piskvorky/gensim.git#develop
under my active venv
it successfully rebuilt.
I still get

` from gensim.models.phraser import Phrases
ModuleNotFoundError: No module named 'gensim.models.phraser'`

[2018-06-05 17:22] andyhappy1 commented on #1970
Oh, i switched up Phrases with phraser.

It should be:
from gensim.models.phrases import Phraser...now it's running.  thx

[2018-06-06 01:21] xiaokc commented on #217
In  my project, alpha and beta are all defaults, but this problem occurred, I donnot know how to solve it

[2018-06-06 01:44] brycecf opened #2084 "Error in sklearn_api.ldamodel.LdaTransformer: Coherence scorer 'u_mass'"
**OS:** macOS High Sierra 10.13.4
**Python Version:** 3.6.5
**Gensim Version:** 3.4.0

I am using the `sklearn_api.ldamodel.LdaTransformer` in an sklearn RandomizedSearchCV:
[code]
Once the hyperparameter search hits `num_topics=20` and `decay==0.01`, I start getting these warnings:
[code]
Then, at the conclusion of the search, I get a very long stack trace for `TransportableException` for a `Zero

[2018-06-06 02:18] brycecf commented on #2084
Looking at #1445, it looks like the issue is that one of the top *n* words do not appear in the fold that was left out, which leads me to my next question: is there anyway to address this and still use kfold cross-validation?

[2018-06-07 07:55] piskvorky commented on #2079
Streamed corpora should be serialized with MmCorpus (not with `save()`). There is a warning that tells you as much if you try to run your code.

See also https://groups.google.com/forum/#!topic/gensim/jgVR5NX-4H0 .

[2018-06-07 07:55] #2079 closed

[2018-06-07 13:13] impulsecorp opened #2085 "Doc2Vec to wikipedia articles notebook error - object has no attribute"
For the Doc2Vec to wikipedia articles notebook (https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-wikipedia.ipynb) I get this error:

pre = Doc2Vec(min_count=0)
pre.scan_vocab(documents)
executed in 11ms, finished 09:09:33 2018-06-07
---------------------------------------------------------------------------
AttributeError                            Traceback (most re

[2018-06-07 13:46] akoksal commented on #2077
The problem is stem from the tutorial I followed. It is solved by following gensim's Doc2Vec notebooks.

Source:
https://stackoverflow.com/questions/50684894/doc2vec-most-similar-method-returns-similarity-score-higher-than-1?noredirect=1#comment88427535_50684894

[2018-06-07 13:46] #2077 closed

[2018-06-07 17:09] kikoaumond opened #2086 "NPMI scorer does not take into account `min_count`"
in phrases.py, npmi_scorer does not take into account min_count when scoring bigrams.

I suggest the following alternative for taking min_count into account when using NPMI scoring.  This function has yielded good results for me; however,  I have not explored other ways to  use min_count:

[code]

[2018-06-08 14:28] kirk86 commented on #1172
Can someone explain why the last training loss that I get is really so high no matter if I use `log-loss` or the `negative sampling`?

`loss: 8837240.0`

[2018-06-08 23:13] gojomo commented on #1172
@kirk86 If I remember correctly, the values reported are a tally of the loss over a full epoch, so its absolute value needn't necessarily become "small looking", just smaller at the end than the beginning. If you're not seeing it smaller at the end, you may be doing something wrong in your code, such as mismanaging the `alpha`/iterations such that it goes negative. Most users should never need to

[2018-06-09 07:01] harrypotter0 commented on #530
Hi guys, I am facing this issue
`import gensim from gensim                     ^
SyntaxError: invalid syntax
`
I am using Jupyter notebook with Python3 kernel for this and have tried above-mentioned methods. Please, can someone help. Thanks in advance.

[2018-06-11 03:19] menshikh-iv commented on #530
hi @harrypotter0, that's really `SytaxError`, `from` shouldn't be after `import`, should be like `from gensim.models import Word2Vec`

[2018-06-11 12:30] munichma commented on #2062
Same issue here, why does it save 3 different files and why do we get his error message? Pushing please!

[2018-06-11 14:18] piskvorky commented on #2062
CC @manneshiva

[2018-06-11 20:01] munichma commented on #2062
This is how my case looks like and the following error message (demonstrating from within iPython console):

`In [1]: from gensim.models.fasttext import FastText as FT_gensim`

In my directory I do have both files "wiki.en.vec" and "wiki.en.bin".

[code]
Note: I takes extremely long to load the model in the first place. It is really annoying is that normal? What is the binary file there for, loadi

[2018-06-11 20:52] gojomo commented on #2061
Wow, that's a *humongous* bug going back to my initial implementation of this 3+years ago!

It should have been linear from the start, and I'm surprised inference has worked as well as it has, with this error.

Thanks for finding this!

[2018-06-11 21:07] umangv commented on #2061
No problem! I stumbled on it by accident and I'm glad I caught it. My guess is that this problem is far more exaggerated for smaller documents.

[2018-06-12 06:25] matanster opened #2088 "aliasing chunkize to chunkize_serial warning, on Windows"
On Windows, I have it that after initial installation, when importing gensim for the first time in python (Jupyter Notebook) we get:

    warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

I've been unable to gather what trouble or missing functionality should we expect, the warning is rather opaque, yet I assume it is there in the code to tell us something, as API users. Whi

[2018-06-12 09:53] piskvorky commented on #2088
Yes, that warning is rather opaque, sorry about that.

Some algorithms in Gensim (mostly the distributed/parallelized versions) call a function called `chunkize`, which splits an input stream of records into batches. It works in a streaming manner (lazy batch iteration). `chunkize` has an optional parameter that can actively prepare and buffer data batches in advance: not quite lazy, but also not

[2018-06-13 06:46] INKWWW commented on #310
@piskvorky Very lucky to see this answer. It does help me a lot on handling the word not in my trained model. Thanks a lot.

[2018-06-13 20:46] fernandocamargoti opened #2090 "Gensim doesn't allow changing negative sampling distribution parameter"
#### Description
Like pointed out in the following article, the negative sampling distribution parameter, which is fixed as 0.75 in Gensim, is worth tuning, specially for other applications beyond NLP. So, I'd be very helpful to make it a parameter for the Word2Vec, instead of fixing it.

https://arxiv.org/abs/1804.04212

[2018-06-13 22:19] gojomo commented on #2090
Thanks for the pointer to that interesting paper! This sounds like an small & low-risk/high-benefit change, so a PR would be welcome.

[2018-06-14 04:27] yiranxijie opened #2091 "A bug aabout 'Doc2VecKeyedVectors' object has no attribute 'ffset2doctag'"
![image](https://user-images.githubusercontent.com/12460007/41391590-1b9089ac-6fce-11e8-8211-ec02072b1af1.png)
Maybe it is offset2doctag

[2018-06-14 16:54] adelabdelli opened #2092 "contradiction between the code comments and website tutorial"
Hi,
I found a contradiction between the code comments and the website tutorial, about the sg parameter, so if you look in the code comments you find that if **sg** parameter is **1**, **CBOW** is used, otherwise, **skip-gram** is employed :
![image](https://user-images.githubusercontent.com/15655871/41426402-65aa7ea8-6ffb-11e8-9265-4f21d2134849.png)

but when i checked [the tutorial website](https

[2018-06-14 17:46] fernandocamargoti commented on #2090
Hello, @gojomo. I'm preparing a PR, but I'm having some trouble with some tests falling. The following tests failed:

- TestWord2VecModel.testLoadOldModel
- TestDoc2VecModel.testLoadOldModel

Both had the same error:
E               AttributeError: 'module' object has no attribute 'Word2VecKeyedVectors'

I guess it's because of the new attribute I've placed in the Word2Vec. What am I supposed to d

[2018-06-14 18:06] piskvorky commented on #2092
Thanks; fixed in #2087.

[2018-06-14 18:06] #2092 closed

[2018-06-14 18:11] adelabdelli commented on #2092
Okey, So sg = 0 is the CBOW model right ?

[2018-06-14 18:21] #2084 closed

[2018-06-14 20:11] gojomo commented on #2090
Feel free to create the PR from your branch to gensim/develop even before it's fully ready - that'll make it easier for others to see the changes, and to see the unit-test results in the project's own continuous-integration setup. You can mark it "[WIP]" to be clear it's a Work-In-Progress.

In general, if a class gets a new (necessary) parameter, older saved (python pickled) objects of that type

[2018-06-14 20:33] fernandocamargoti commented on #2090
@gojomo
Thank you for your feedback. Is there a way for me to run just a specific unit test?

[2018-06-14 21:52] piskvorky commented on #2092
Yeah, sg = skip gram.

[2018-06-15 02:17] gojomo commented on #2090
There definitely is, I don't have the syntax handy, but IIRC it involves invoking the test_*.py file itself with command-line arguments naming the exact test(s)/test-suites to run.

[2018-06-15 10:14] alexandry-augustin commented on #2083
Thank you. In the scenario where I would be using `build_vocab()`:

- if the `<PAD>` token is **not** in the original dataset, I cannot add it later using `build_vocab(..., update=True)`. This will seg fault as Doc2Vec does not support vocabulary expansion (see https://github.com/RaRe-Technologies/gensim/issues/1019).

- if the `<PAD>` token **is** in the original dataset as an additional document

[2018-06-15 13:45] kuraga commented on #1900
any news?

[2018-06-15 19:36] fernandocamargoti commented on #2090
@gojomo, I fixed the problems and created the PR.

[2018-06-18 13:44] akutuzov commented on #1882
If `model.wv.vocab` is deprecated and we should always use `model.vocab`, why then `model.vocab` does not work for word2vec models saved in Gensim native format?
[code]
I use Gensim 3.4.0 both for training and for loading the models.

The funny thing is that if the same model is saved in word2vec format and loaded via `gensim.models.Word2Vec.load_word2vec_format`, then both `model.wv.vocab` and `m

[2018-06-18 18:20] gojomo commented on #2091
Looks like a problem in gensim 3.4.0 that was corrected in #1974, so will be fixed in the next release.

It's unclear how you triggered it; if you are calling `index_to_doctag()` yourself, can you either patch your installation, or mimic the correct code (per #1974 or this project `develop` branch), as a workaround until next gensim is available?

[2018-06-19 01:58] arlenk commented on #2051
From a quick look, I think you are right.

Out of curiosity, what version of gensim are you using and what parameters are you passing LdaModel?   I am asking because in my use cases, get_Elogbeta takes about 5% of the total run time, which isn't negligible, but it seems like get_Elogbeta is taking up a much larger percent of the total run time for you (if I am reading your profile chart correctly)

[2018-06-19 02:48] yiranxijie commented on #2091
Well, I modified the source code directly

[2018-06-19 17:09] darindf commented on #2051
I forget which version of gensim I was when I performed the performance but it was in the 3.x release. I'm currently using 3.4. I believe the performance will depend on the number of topics and number of terms (size of vocab), this may be run over my test case of 1.3 million documents with 55k unique terms for 16 topics,

Here is a patch to modify the LdaModel object. I have verified that self.sta

[2018-06-20 04:16] #2061 closed

[2018-06-20 11:17] #2052 closed

[2018-06-20 18:32] piskvorky commented on #2080
Hi, Github issues are for bugs and enhancements. For general user questions, please use the mailing list: https://radimrehurek.com/gensim/support.html

[2018-06-20 18:32] #2080 closed

[2018-06-20 19:40] zkurtz opened #2097 "ambiguous docvecs indexing"
#### Description
The tagging system for training corpora appears to result in ambiguous indexing on `model.docvecs`

#### Steps/Code/Corpus to Reproduce

This example is a lightly modified version of code snippets from [the main demo](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-lee.ipynb).
[code]
#### Expected Results
The only difference between the two models i

[2018-06-21 04:10] #2060 closed

[2018-06-21 04:14] menshikh-iv commented on #2045
@quajak
That's correct behavior: `NotImplementedError: Supervised fastText models are not supported` we really not support dumps of supervised fasttext.
For `KeyedVectors` - this stored words (not ngrams), word "TestTest" really missing.

[2018-06-21 04:14] #2045 closed

[2018-06-21 10:05] piskvorky commented on #2045
@menshikh-iv but Fasttext should support OOV words -- can you point @quajak to how to load the fasttext model (incl. OOV) properly?

[2018-06-21 10:18] menshikh-iv commented on #2045
@quajak you should use `FastText.load_fasttext_format` but with unsupervised model.

[2018-06-21 17:24] gojomo commented on #2097
This is as-intended and by-design. If you choose to use raw Python `int`s as doctags, no extra mapping of tags-provided to real-indexes is maintained, to save memory.

Instead, the provided ints are taken as your literally-requested indexes for each vector, and a backing vector array large enough to contain your largest index will be allocated, without regard to any missing indexes. If you leave s

[2018-06-21 17:41] piskvorky commented on #2097
@zkurtz where would you expect this information to appear? Where did you look for a solution / explanation first?

I'm asking because the same problem keeps appearing again and again (the int/str tag mismatch in doc2vec tripping up users), so we clearly need to improve the docs somewhere.

[2018-06-21 17:59] cmiram opened #2099 "BasedKeyedVectors functions using vocab field sometimes fail when called from Doc2VecKeyedVectors"
#### Description
[Link to original post in mailing list](https://groups.google.com/forum/#!topic/gensim/_udvKsdWZ6M)

To restate here:

When calling functions on a Doc2VecKeyedVectors model that are part of the base class BasedKeyedVectors (which appear to use entity1 and entity2 as their variable names) it throws a KeyError that it doesn't recognize the doc tag. Using the same doc tags on a funct

[2018-06-21 18:12] zkurtz commented on #2097
@gojomo I eventually deduced much of that (but "space for those is still allocated & even initialized with random low-magnitude vectors" was surprising to me). I don't know the reasons behind this being 'by design', but I suppose it will be less of a problem with some simple documentation updates.

@piskvorky My initial goal was simply to dump the trained doc vectors into a list which I would even

[2018-06-21 20:57] numericlee opened #2100 "wikicorpus"
see below

[2018-06-21 21:14] numericlee commented on #2100
in python3 over ubuntu

from gensim.corpora import WikiCorpus
wiki = WikiCorpus('enwiki-latest-pages-articles.xml.bz2')

when the program encounters the WikiCorpus command, it shows a dialog box to kill the program. it does this 5 times. it is not clear after the 5 times whether it is continuing to run the program

![screenshot](https://user-images.githubusercontent.com/32748976/41745770-1b85b7ae-

[2018-06-22 01:02] #2090 closed

[2018-06-22 02:07] menshikh-iv commented on #1970
@gilgtc yes, that's correct (because of `__version__` "bump" in the repository  happens in release time)

[2018-06-22 04:07] menshikh-iv commented on #2100
Hm, this is because you run it with IDLE (this window produced by them) if you run it from the console - you'll have no any windows.

Related discussions
- https://stackoverflow.com/questions/38028151/how-do-i-get-rid-of-the-the-program-is-still-running-are-you-sure-you-want-to
- https://stackoverflow.com/questions/15557242/why-the-window-the-program-is-still-running-do-you-want-to-kill-it-during-

[2018-06-22 04:07] #2100 closed

[2018-06-22 04:14] menshikh-iv commented on #2068
Unfortunately, current `summarizer` need to construct a graph from the text in RAM, this is a reason of `MemoryError`

You can try
- reduce the size of your document
- use https://radimrehurek.com/gensim/summarization/mz_entropy.html (but I'm not sure that this what you want)

[2018-06-22 04:14] #2068 closed

[2018-06-22 08:48] rahul-ka commented on #488
Do you have the original tar file that you downloaded? I think the download has since been changed and the notebook isn't working as intended anymore.

[2018-06-22 14:59] gojomo commented on #488
What error are you getting? (It appears to me <http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz> is still available.)

[2018-06-25 09:48] aimaaonline commented on #2038
i have the same problem.can u plz help me

[2018-06-25 09:50] mikkokotila commented on #2038
@aimaaonline can you share the contents of your documents list object. You probably don't have it as list of lists where each list item is a token (probably you have several tokens/word per list item).

[2018-06-25 21:19] EstevaoUyra commented on #2086
The default score also does not takes into account properly. Your function sadly does not correct the problem. The behavior is very strange, I think the min_count should be implemented in the analyze_sentence instead of appearing in the score

[2018-06-26 05:03] chaithanyateegala opened #2104 "trying to get percentage contribution of each topic"
Hi,
i built the LDA model and getting optimal no. of topics. now i want to get each topic percentage contribution. my first step is
[code]

but i am getting error  as `TypeError: '<' not supported between instances of 'int' and 'tuple'`

can anyone help me this issue.

Thank you,

[2018-06-26 05:49] rachhitgarg commented on #541
Please  Help ( Thanks in Advance )
I have processed the  data and made a text file for the articles.....but while training i am getting error
Here is my code that I am running and followed is error and log i am getting .....

import logging
import os.path
import sys
import multiprocessing

from gensim.corpora import  WikiCorpus
from gensim.models import Word2Vec
from gensim.models.word2vec import

[2018-06-26 07:57] menshikh-iv commented on #541
@rachhitgarg change  `min_count=5` -> `min_count=1`, this will help

[2018-06-26 08:03] menshikh-iv commented on #2104
This code correct and works with `gensim==3.4.0` and `python2.7`
Double-check that your `corpus` in the correct format.

I used
[code]

[2018-06-26 08:03] #2104 closed

[2018-06-26 09:15] rachhitgarg commented on #541
@menshikh-iv ...thanks for the help but even changes are not working.......i am confused what to do....?

[2018-06-26 09:22] rachhitgarg commented on #541
@RVKRM  can u resolved the vocab error
RuntimeError: you must first build vocabulary before training the model...

please help me also

[2018-06-26 09:38] menshikh-iv commented on #541
@rachhitgarg share your `inp` file please

[2018-06-26 09:38] DennisCologne opened #2105 "AssertionError: sparse documents must not contain any explicit zero entries and the similarity matrix S must satisfy x^T * S * x > 0 for any nonzero bag-of-words vector x."
Hello there,

Maybe you can help me out with this real quick. I cannot run any of your examples. Not the one from https://radimrehurek.com/gensim/similarities/docsim.html, nor the one from this repo. All of them give me the following Assertion.

[code]

This is not working (other similaritiy measures of this module work fine):

[code]

Neither is this from the repo (I followed all previous steps):

[2018-06-26 09:39] piskvorky commented on #541
@rachhitgarg this line `2018-06-26 11:07:41,762 : INFO : collected 0 word types from a corpus of 0 raw words and 0 sentences` suggests your training corpus is empty! No sentences at all.

Double check your `inp` file, and maybe print a few sentences from `LineSentence(inp)`, to make sure it contains what you think it contains.

[2018-06-26 10:34] rachhitgarg commented on #541
input file is wiki article

[wiki.en.zip](https://github.com/RaRe-Technologies/gensim/files/2136763/wiki.en.zip)
 file after processing wiki article 167MB data

[2018-06-26 10:54] menshikh-iv commented on #541
@rachhitgarg your file `wiki.en.text` have no content at all (only spaces)

[2018-06-26 11:38] rachhitgarg commented on #541
@menshikh-iv  Thanks a ton :+1:   buy why i am getting not content in wiki.en.text ...i processed it with the process_wiki.py...is there any mistake in that file ...because i am getting 40 KB file after processing this and even while execution it is showing (this much articles ) saved ......

[2018-06-26 11:40] menshikh-iv commented on #541
@rachhitgarg probably reason in
[code]
you write empty strings, that's all

[2018-06-26 11:52] menshikh-iv commented on #541
@rachhitgarg remove `b` from `b' '.join(...)`

[2018-06-26 12:18] rachhitgarg commented on #541
@menshikh-iv
Same Error i am getting

Traceback (most recent call last):
  File "process_wiki.py", line 37, in <module>
    output.write(' '.join(text).decode('utf-8') + '\n')
AttributeError: 'str' object has no attribute 'decode'

I have tried  by removing .decode('utf-8').... getting error

C:\Users\Neha>python process_wiki.py wiki.xml.bz2 wiki.en.text
C:\Program Files\Python36-32\lib\site-packa

[2018-06-26 12:29] rachhitgarg commented on #541
@piskvorky @menshikh-iv
I am not able to understand if a small data set is showing these kind of error , how can i check for wiki dumps.......

plz help me in creating vector file for wiki dumps of latest articles(12 GB) around.....

[2018-06-26 14:06] rachhitgarg commented on #541
@menshikh-iv  First of all I am very sorry...I am bothering you...you are such a nice person you are replying  to all my silly doubts...Thank You So So So... much......Seriously at this moment i really seeking for sum1 to help me.....Thanks once Again

Let me tell you that..... i am just using the wiki article dump downloaded from wiki......

enwiki-latest-pages-article.xml.bz2

[2018-06-26 14:21] rachhitgarg commented on #541
@menshikh-iv  did you try the code? I wud request you to please run it once and let me know if you get expected output.....

[2018-06-26 19:57] piskvorky commented on #2105
@Witiko can you have a look?

[2018-06-27 01:44] menshikh-iv commented on #541
@rachhitgarg I wrote example for you, hope that this is enough
[code]

[2018-06-27 05:01] rachhitgarg commented on #541
![error](https://user-images.githubusercontent.com/38308552/41953736-e2f73b6e-79f4-11e8-83c3-ebe1fb726f5c.png)

I tried it on 23 MB wiki article file
@menshikh-iv  I am sorry to say.......even this is not working for me...execution is in infinite loop....from the last 20 minutes the it is still in execution and showing execution error ......

[2018-06-27 05:57] menshikh-iv commented on #1665
for reason mentioned in my previous comment, I close issue

[2018-06-27 05:57] #1665 closed

[2018-06-27 06:03] menshikh-iv opened #2107 "Fix docstring examples"
Need to make **all** python examples in docstrings executable, i.e. possible to run with `python -m doctest`. For now, part of this work done, but not all.

Tasks:
- Investigate, what need to do with different output values for `py2`/`py3` (sometimes doesn't match, because matching are an exact (symbol to symbol), same issue with float values)
- Fix existing docstring examples
- Add `doctest` to T

[2018-06-27 07:35] piskvorky commented on #541
This is really a bad place for such support and open discussions -- please use the mailing list.

[2018-06-27 07:53] DennisCologne commented on #2105
Hi @Witiko,

thank you for your answer.

Actually, it is Python 2.7.14 with Gensim 3.4.0... after further investigation, the matrix-vector multiplication returns a negative value even though all of the values in both are positive.

But you are right, I just tried it on my Python 3.6 environment and there it works fine.
I guess I will use this environment than. But this problem might still be inter

[2018-06-27 08:37] #1663 closed

[2018-06-27 19:29] ahmedbhabbas opened #2108 "error i using mallet"
hi
 i installed mallet in c and it to variable environment in windows 10 and when use it by
ldamallet = gensim.models.wrappers.LdaMallet(mallet_path, corpus=corpus, num_topics=20, id2word=id2word)
i got the error
![image](https://user-images.githubusercontent.com/30591782/41995135-57f71b8c-7a59-11e8-87f3-693a29424513.png)

[2018-06-28 02:09] menshikh-iv commented on #2108
@ahmedbhabbas please publish
- full stacktrace (not screenshot, just copy it here)
- full code
- corpus/id2word

[2018-06-28 07:09] rachhitgarg commented on #541
@menshikh-iv   Thank You so much ....You helped me in very nice way...Thanks a ton....

problem solved with editing that process_wiki file by changing saving code for byte file  :)

[2018-06-28 12:19] ahmedbhabbas commented on #2108
its worked !!!!!!! i don't know whats the matter :)

[2018-06-28 12:20] ahmedbhabbas commented on #2108
menshikh-iv thank u somuch

[2018-06-28 12:20] #2108 closed

[2018-06-28 12:58] chandrtech15 opened #2109 "TypeError: '>' not supported between instances of 'function' and 'function'"
def makeSummary(sentences, best_sentence, query, summary_length, lambta, IDF):
    summary = [best_sentence]
    print("line 264  summary ",summary)
    sum_len = len(best_sentence.getPreProWords())

    MMRval = {}

    # keeping adding sentences until number of words exceeds summary length
    while (sum_len < summary_length):
        MMRval = {}

        for sent in sentences:
            MMRva

[2018-06-28 13:45] Aarboush opened #2110 "Wikipedia : TypeError: '<' not supported between instances of 'str' and 'int'"
Hi,

I am following the tutorial about train a doc2vec model with wikipedia corpus on this tutorial :
https://markroxor.github.io/gensim/static/notebooks/doc2vec-wikipedia.html
i used the function  `TaggedWikiDocument` without the `decode("utf-8")`  in the following manner :
[code]
After that i trained my model only on PV-DM and i have this problem at the step 10 when i want to use the similarity

[2018-06-28 14:12] piskvorky commented on #2109
Report unreadable. Please fix and reopen.

[2018-06-28 14:12] #2109 closed

[2018-06-28 14:16] piskvorky commented on #2099
CC @manneshiva

[2018-06-28 15:47] umangv opened #2111 "Phrases documentation for threshold argument is misleading"
https://github.com/RaRe-Technologies/gensim/blob/37e49971efa74310b300468a5b3cf531319c6536/gensim/models/phrases.py#L252-L255

It feels to me like this should have said the opposite: "**Heavily** depends on concrete scoring-function" rather than "**Hardly** depends on concrete socring-function".

For example, if you choose npmi instead of the default, the threshold has to between -1 and 1, which ma

[2018-06-28 15:50] menshikh-iv commented on #2110
@Aarboush hello, please add more information
- full code (that reproduced your error)
- full stack-trace
- OS / Python / Gensim version

[2018-06-28 15:53] menshikh-iv commented on #965
Done a long time ago (now PEP8 checked in the separate job in Travis)
https://github.com/RaRe-Technologies/gensim/blob/develop/.travis.yml#L15-L16

[2018-06-28 15:53] #965 closed

[2018-06-28 16:56] Witiko commented on #2105
Hey @DennisCologne,

this is definitely interesting, but I can't seem to reproduce your problem even with Python 2.7 and Gensim 3.4.0. Can you find a pair of document vectors `vec1`, and `vec2` that trigger the issue, call [`softcossim(vec1, vec2)`](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/matutils.py#L799), and share what the content of `vec1`, `vec2`, `dense_matrix`, `vec1

[2018-06-28 17:46] nooralahzadeh opened #2112 "`WmdSimilarity` corpus type mismatch in documentation"
#### Description
It seems that the  WmdSimilarity doesn't need the bow_corpus .
The corpus can be in token level, so the following code is not needed:
[code]

#### Versions
[code]