[2016-02-26 20:04] cscorley commented on #618
That's a similar/same idea as in #566.

[2016-02-26 23:45] piskvorky commented on #566
Agreed. More docs, with more examples, would be great.

[2016-02-29 12:46] aleissaf opened #621 "CalledProcessError"
I have been trying to use the wrapper as follows:

[code]

And I keep getting an error

*CalledProcessError: Command '/Users/f/Downloads/mallet-2.0.7/bin/mallet import-file --preserve-case --keep-sequence --remove-stopwords --token-regex '\S+' --input /var/folders/ml/xbzdgxlj3hv5j358pj82ktr80000gn/T/10cc8c_corpus.txt --output /var/folders/ml/xbzdgxlj3hv5j358pj82ktr80000gn/T/10cc8c_corpus.mallet' r

[2016-02-29 14:23] piskvorky commented on #621
What does the log say?

What do you see when you run the same command from CLI yourself (without gensim or Python)?

[2016-02-29 14:30] aleissaf commented on #621
sage: dirname path
usage: dirname path
Error: Could not find or load main class cc.mallet.classify.tui.Csv2Vectors

[2016-02-29 14:31] piskvorky commented on #621
No idea what "Csv2Vectors" is. This is the result when you run Mallet from command line, without any Python?

[2016-02-29 14:59] aleissaf commented on #621
That is what I get when I run this command
/Users/f/Downloads/mallet-2.0.7/bin/mallet import-file --preserve-case --keep-sequence --remove-stopwords --token-regex '\S+' --input /var/folders/ml/xbzdgxlj3hv5j358pj82ktr80000gn/T/10cc8c_corpus.txt --output /var/folders/ml/xbzdgxlj3hv5j358pj82ktr80000gn/T/10cc8c_corpus.mallet

[2016-02-29 15:25] piskvorky commented on #621
OK. Probably best to ask at the Mallet mailing list, as this is clearly not related to gensim (happens with plain Java too).

It could be some Java classpath problem or similar.

[2016-02-29 15:38] mataddy commented on #611
the error message is totally correct; the problem is that the default for word2vec changed from `hs` to `negative` and I didn't have this option fixed in the notebook.

It is fixed now, and I've updated the doc to highlight that score is only implemented for hs.  A pull request is forthcoming.

As an aside, I think that I could devise a score scheme for the negative sampling trained models.  It's

[2016-02-29 15:42] mataddy commented on #611
I've added the PR and the notebook runs fine for me now.  @aliozcan please close this issue when you get a chance.

[2016-02-29 17:00] aliozcan commented on #611
it works like a charm. thank you very much.

[2016-02-29 17:00] #611 closed

[2016-02-29 22:33] piskvorky commented on #611
Thanks a lot @mataddy!

[2016-03-02 16:10] kklw opened #623 "ImportError: cannot import name utils"
`from gensim.models import word2vec`

Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "C:\Program Files (x86)\JetBrains\PyCharm Community Edition 4.5\helpers\pydev\pydev_import_hook.py", line 21, in do_import
    module = self._system_import(name, *args, **kwargs)
  File "C:\Users\Kavan Koh\sports_news_virenv\lib\site-packages\gensim\__init__.py", line 6, in <module

[2016-03-03 02:21] piskvorky commented on #623
Can you paste the exact traceback, from when you do `from six.moves import xrange, zip as izip` in a clean Python shell?

[2016-03-03 09:57] kklw commented on #623
Hi. No error when i do `from six.moves import xrange, zip as izip`. I stopped using anaconda as my base interpreter and downloaded the binaries from http://www.lfd.uci.edu/~gohlke/pythonlibs/ and it is working now. Thanks.

[2016-03-03 09:57] #623 closed

[2016-03-03 11:48] piskvorky commented on #623
Oh ok. Thanks for reporting -- hopefully this will help someone in the future, if they google up this issue.

[2016-03-07 18:40] ajaanbaahu commented on #601
I have found the same issue and and agree with @voloviky , any idea when this can be fixed?

[2016-03-10 11:15] hwsamuel commented on #130
I'm having the following problem with bigrams that might possibly related to what @sumitborar noted. First of all, my objective is to get a vector representation of phrases within a corpus. I can create bigrams and then call `model = word2vec.Word2Vec(bigrams[sentences],min_count=1)`. The problem is that the model is filtering out many bigrams that are important. For example, I see "this_report" i

[2016-03-13 08:57] tmylk commented on #621
@aleissaf Did you find a resolution to this problem on the Mallet mailing list? Would appreciate a fix to share with other users.

[2016-03-15 13:52] hwsamuel opened #626 "Unexpected pruning in Word2Vec"
The Word2Vec model seems to be unexpectedly pruning some indexes. For reproducing, please see the function below:

[code]

The pruning is unexpected because I have set `min_count = 1` and also set `trim_rule = None`. The assertion for pruning can be checked via `len(model.vocab.keys()) != len(bigrams.vocab.keys())`. If my dataset is needed to reproduce this issue, I might be able to provide that.

[2016-03-15 22:28] gojomo commented on #626
I've commented on the list: https://groups.google.com/d/msg/gensim/lsDU42VksJA/ZasFdb21HAAJ

I don't think there's any bug here, so closing this issue.

[2016-03-15 22:28] #626 closed

[2016-03-16 11:43] hwsamuel commented on #626
Thanks for that, for future reference, the corrected solution code is below.

[code]

[2016-03-18 16:26] neufang opened #628 "I training on a work station, an the speed is lower than on my laptop, what can be the reason?"
I use the gensim 0.12.4
The only difference is I install every dependencies of gensim via anaconda on the workstation. while I dont use anaconda for installation on my laptop.
The log on workstation shows that the parallel queue is not used.
The workstation has  **Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz with 12 cpu, and 128gb memory**.
[code]
**It even slower when i set 12 workers**.
[code]
My l

[2016-03-18 17:11] gojomo commented on #628
Foremost: are you sure of the gensim version on the workstation? Anaconda sometimes only has an older version.

Latest released gensim has fixes which help somewhat for very-small text examples. (Yours appear to be on average 10 words, and perhaps just 3-4 words each after `min_count` and `sample` applied.)

Latest gensim also changes some of the default parameters, so unless you are being explici

[2016-03-18 22:06] neufang commented on #628
@gojomo  thank you for your quick answers.
I got rid of anaconda on the work station, ad install gensim using pip, now the speed is way faster.
I  gonna try setting only hierarchical-softmax .

[2016-03-19 01:06] gojomo commented on #628
You're welcome! In what I've observed, projects with a lot of training data tend to do negative-sampling only, and often fewer negative examples – eg `hs=0, negative=5` – though I've also sometimes seen 15-20 negative examples used with smaller datasets.

Closing this issue as there's no bug (or if there is, it's likely something in older gensim already improved). Please prefer to use the project

[2016-03-19 01:06] #628 closed

[2016-03-19 05:31] piskvorky commented on #628
@neufang can you raise this issue with Anaconda?

We've had quite a few issue reports because of their platform. This is worrying as Continuum are pushing Anaconda as "the" platform for package management in Python, but we do not have resources to do support for them.

[2016-03-21 10:04] tmylk opened #629 "Update doc2vec tutorial"
The [doc2vec tutorial](http://rare-technologies.com/doc2vec-tutorial/) is obsolete post release 0.12.0 but people still use it and report errors.

A notebook which is more introductory than [IMDB tutorial ](https://github.com/piskvorky/gensim/blob/develop/docs/notebooks/doc2vec-IMDB.ipynb) is needed,

[2016-03-21 20:16] gojomo commented on #629
Some ideas that could be in one or several improved demo/tutorial notebooks:

* a super-beginner demo, perhaps based on the same toy-sized bundled dataset used for unit-testing (lee_background.cor: 300 docs of a couple hundred words each) – would illustrate a few different options, highlight common points-of-confusion like:
 * can do it all in one step by supplying corpus to constructor, or manual

[2016-03-22 07:48] bhargavvader commented on #64
Hello, is there any particular reason the `cossim` method is not being used in `docsim`, and a simple dot product is used instead? Is it because the `cossim` method in `mathutils` is only for sparse vectors?

I looked at your stackoverflow answer and wrote a method for Hellinger- but it's very simple and I'm not sure if I'm going in the right direction.
[code]
If I am, I can write up some test cas

[2016-03-22 09:05] piskvorky commented on #64
@bhargavvader: Your version looks more generic that the one in the gist -- not sure what you mean there. It could be made even more generic if you accept more formats on input: dense (numpy), sparse (scipy.sparse), gensim vector (sequence of `(id, weight)`).

Ping @tmylk -- good intro test, adding tiny sim metrics like this into `matutils`.

[2016-03-22 09:09] piskvorky commented on #572
@niitsuma @bhargavvader Can't you just add the attribute yourself? `my_model.chunksize = 100`.

Adding random dead (unused) code to gensim just so other libraries work seems very strange. That's a very peculiar API that these other libraries enforce.

The link in the issue description doesn't work, so I can't check what this is about.

[2016-03-22 09:56] bhargavvader commented on #572
Makes sense. I made that addition because I figured it would be in more than one place, I was wrong. Do we just ignore this issue then?

[2016-03-22 10:17] ziky90 commented on #629
In addition to gojomo's ideas:

- If you'd be interested I can create small example of how to use Doc2Vec also on biological sequences, particularly protein primary structures. It would be more or less based on this paper: http://arxiv.org/abs/1503.05140

[2016-03-22 14:32] piskvorky commented on #629
@ziky90 sure! More docs are always welcome.

[2016-03-22 19:00] bhargavvader commented on #64
Hello, could you please have a look at this and tell me if I'm heading the right way?

[code]

This works fine for lda distribution vectors, for bag of words representations (I used an implementation similar to that in your `cossim` method, does it look ok?) , and matrices which have the same dimensions. If it's an ok way of going ahead, I'll try and fix the problem with dense and sparse matrices

[2016-03-23 05:20] ghost opened #632 "Error: from scipy.sparse import sparsetools"
Hello,

After installation into Python 2.7, WinPython version, I got this error:

import gensim

  File "D:\_devs\Python01\WinPython-64-2710\python-2.7.10.amd64\lib\site-packages\gensim\models\lsimodel.py", line 59, in <module>
    from scipy.sparse import sparsetools

ImportError: cannot import name sparsetools

How can I resolve the issue (it seems sparsetools is deprecated in Scipy)

Thanks so

[2016-03-23 08:05] bhargavvader commented on #64
If this approach is fine, I could also add something simple like Jaccard Coefficient for gensim vectors (bag of words).

[2016-03-23 10:07] piskvorky commented on #632
Related to #462 and #557 .

[2016-03-23 11:24] tmylk commented on #632
@arita291 Did you use anaconda, windows wheel to install or did you build from source?

Downgrading to scipy 0.16 is a temporary workaround.
A permanent fix would be https://github.com/scipy/scipy/issues/5348

[2016-03-23 11:42] tmylk commented on #621
Closing as abandoned.

[2016-03-23 11:42] #621 closed

[2016-03-23 15:04] arita291 commented on #632
Hi,
Winpython and install with  !pip install gensim  in Python 2.7

Best is to donwgrade to scipy 0.16 ?

[2016-03-23 15:21] erogol opened #635 "Garbage collector error with make_wiki script"
I call:
[code]

The only difference is I used trwiki dump

Here what I got:
[code]

[2016-03-24 02:12] piskvorky commented on #635
Oh wow. Wiki processing has nothing to do with CUDA or GPUs, so I'm not sure what this is.

Do you have Theano installed? Is it installed properly? (gensim does `import theano` in `gensim/corpora/sharded_corpus.py`, but nothing else)

[2016-03-24 09:56] erogol commented on #635
yeap theano works fine.

[2016-03-25 03:27] galaxyh opened #638 "Import gensim failed after upgrade to XCode Version 7.3 (7D175)"
Hi,

Before upgrading XCode to Version 7.3 (7D175), gensim works perfectly fine for me.
However, after the upgrade, I am not able to import gensim anymore.
For example, when executing <pre>python -c "import gensim"</pre> I get the following error:

<pre>Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/Steven/code/lib/python2.7/site-packages/gensim/__init__.py

[2016-03-25 03:36] galaxyh commented on #638
Sorry. I found the problem comes from Theano, not gensim.

[2016-03-25 03:36] #638 closed

[2016-03-25 11:28] dsquareindia commented on #69
@piskvorky can I take this up? Should I add another parameter to the Similarity constructor to include a `norm` parameter with default as `norm_l2` and other o? As you suggested, I'll implement l2, l1 and identity in matutils.

[2016-03-25 11:31] patwat commented on #574
Hi,

I've the exact same problem. What's wrong with OSX?

Regards,

Patrick.

[2016-03-25 13:14] tmylk opened #639 "Publish Linux wheels"
pip now supports wheels for Linux and we should add this support to make Gensim installation easier.

https://github.com/pypa/manylinux

[2016-03-25 22:33] Sandy4321 commented on #572
Thanks
On Mar 22, 2016 05:56, "bhargavvader" <notifications@github.com> wrote:

[2016-03-26 03:44] gojomo commented on #574
@patwat - do you get the exact same traceback? What are your versions of gensim & numpy, and what are your initialization parameters for the Doc2Vec model?

[2016-03-26 14:05] Piezoid commented on #629
@ziky90 I did some basic experiments with doc2vec on Uniprot sequences (same setup : 3 delayed frames yielding 3 characters words). I find it amazing because it doesn't require any prior knowledge about the amino-acids. (It can be applied to exobiology !)
I'm also interested in modeling sequences with gaps (for example, Pfam seeds) and annotated with active sites localization. I'm wondering how it

[2016-03-27 13:49] patwat commented on #574
Hi,

Thx for the answer. Something weird: it appears only in notebook. When I write the exact same code in a file and run it, nothing happens.

Here the error output:

`Exception in thread Thread-7:
Traceback (most recent call last):
  File "/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/threading.py", line 914, in _bootstrap_inner
    self.run()
  File "/opt/local/Libra

[2016-03-27 13:55] patwat commented on #574
Hello,

Something weird: the error only happens in notebook (python 3). When I run the exact same code from a file, everything is ok.

The code:

[code]

The error:

[code]

Patrick.

[2016-03-27 15:25] daniel-j-h opened #640 "Pre-computing L2-norm vectors forgetting the original ones in Doc2Vec no longer allows inference"
The documentation for [`init_sims(replace=True)`](http://radimrehurek.com/gensim/models/doc2vec.html#gensim.models.doc2vec.Doc2Vec.init_sims
) states:

After dropping the original vectors, we're not only no longer able to `train()`, but we can also no longer infer by means of [`infer_vector()`](http://radimrehurek.com/gensim/models/doc2vec.html#gensim.models.doc2vec.Doc2Vec.infer_vector
) (I learn

[2016-03-28 05:27] gojomo commented on #574
My guess would be that the environment where you're getting the error has some mismatch in the gensim & numpy versions, perhaps something has changed versions from when each's native code was compiled. In both the working and non-working environments, I would collect – (a) python version; (b) numpy version; (c) gensim version – and see if there are any discrepancies. But even if no discrepancy, it

[2016-03-28 15:30] gojomo commented on #640
@daniel-j-h – Please suggest as a PR the note that would have been most helpful to you!

[2016-03-28 16:18] samehif opened #641 "word2vec give inconsistent results"
I have installed gensim using pip install gensim. the version i have is the latest 0.12.4.

I have created a word2vec model from the same data and using the same parameters but every time i create the model it give different results. I have tried to use seed with fixed int when creating the model but it still behaves in the same way.

Here is some example code:

`>>> from nltk.corpus import brown

[2016-03-28 23:17] gojomo commented on #641
As soon as you use more than one worker thread, scheduling jitter from the OS means examples are trained in slightly different order. And, sources of randomness in the algorithm – like frequent-word downsampling – will be applied to different examples, meaning slightly different words chosen each run. (And even further, in Python3, PYTHONHASHSEED-controlled randomization on each interpreter-launch

[2016-03-28 23:17] #641 closed

[2016-03-28 23:19] gojomo commented on #640
I was touching up other doc-comments, and added a few words to this effect in the `Doc2Vec.infer_vector()` comment in #642.

[2016-03-29 01:54] sivasuryas opened #643 "word2vec model has `sg=1` as the default parameter"
In the tutorial it has been mentioned that,

When I initialised a word2vec model with the config `gensim.models.Word2Vec(min_count=5, window=10, size=400, iter=3, workers=40)`
During the training phase, I could see the following log, as I have enabled logging.

Does it mean that, the default model is skip-gram and for CBOW I need to set `sg=0`

[2016-03-29 02:54] gojomo commented on #643
Yes, you're reading that output right. The latest gensim release, 0.12.4, has a default of `sg=0` (CBOW) to match the default of the last version of word2vec.c from the original researchers. The documentation-comment matches. See:

https://github.com/piskvorky/gensim/blob/2b537271ce61aa29b0f4bfe107c1563e19fc23eb/gensim/models/word2vec.py#L346
https://github.com/piskvorky/gensim/blob/2b537271ce61aa

[2016-03-29 02:54] #643 closed

[2016-03-29 11:22] ziky90 opened #645 "Doc2Vec / Word2Vec example on biological sequences"
I have moved discussion about the doc2vec / word2vec ipython example from https://github.com/piskvorky/gensim/issues/629 as it was suggested by @Piezoid.

ideas:
- Doc2Vec on biological sequences, particularly protein primary structures. It would be more or less based on this paper: http://arxiv.org/abs/1503.05140 (I am working on this, though I'm realising, that more installed external libraries

[2016-03-29 13:44] hejunqing opened #646 "SystemError when using ldamulticore on big corpus"
I was running ldamulticore with default settings on a big corpus,and come up with following error:
Traceback (most recent call last):
  File "/home/nlip/anaconda2/lib/python2.7/multiprocessing/queues.py", line 268, in _feed
    send(obj)
SystemError: NULL result without error in PyObject_Call

The corpus was 533M,containing 5837527 documents,1037945 features, 77704086 non-zero entries.I have tried

[2016-03-29 13:49] VikingMew opened #647 "Adding cores leads pre built similarites error"
i tried to add one core in my virtual macine to speed up.
Then I found the cache in similarities is different from the vector calculated on demand.
When I remove the core, the behaviour is recovered.
Is there any ideas for the problem?

[2016-03-29 13:59] piskvorky commented on #647
I don't understand the report. Please follow the [bug reporting instructions](https://github.com/piskvorky/gensim/blob/develop/CONTRIBUTING.md) (always displayed when you create a new issue).

[2016-03-29 19:14] daniel-j-h commented on #640
Perfect, this hopefully clarifies things!

For the record, I found gensim a pleasure to work with _as long_ as one takes the time to read tutorials and 3rd party examples on it. In my case (using Doc2Vec) first reading Word2Vec docs, tutorials and examples, then the same for Doc2Vec and even reading the Paragraph Vectors paper made the interface clearer to me. For a complete beginner in this area,

[2016-03-29 19:28] tmylk commented on #640
Closing as resolved.

[2016-03-29 19:28] #640 closed

[2016-03-30 01:44] piskvorky commented on #640
Yes @daniel-j-h , we definitely need better docs, tutorials and examples all around (not just doc2vec).

The current phrasing too often targets gensim-experts and I'm not happy about that (contradicts the "for humans" tagline).

[2016-03-30 08:07] niitsuma commented on #572
I think it is better all tunable parameters(not only chunksize) are class member variables.
Let us consider the case model parameters are tuned by using sklearn GridSearchCV.
For example, in this code  https://github.com/niitsuma/word2vec-keras-in-gensim/blob/master/example/sentence-classify.py   the parameters of doc2vec  are tuned by using sklearn GridSearchCV.
sklearn GridSearchCV implicitly as

[2016-03-30 10:58] piskvorky commented on #572
Class member variables serve a special purpose in OOP and should definitely not be mixed with object variables.

I don't think sklearn expects any class variables either -- or I don't understand what you mean.

[2016-03-30 19:22] tmylk commented on #572
@niitsuma You are using `word2vec` instead of `word2veckeras` in the `doc2veckeras`. May I ask why?

If you used `word2veckeras` then we wouldn't have to change the non-GPU w2v.

[2016-03-30 19:47] tmylk commented on #640
@daniel-j-h Thanks a lot for describing your path to understanding the package.
We plan to spend all of our summer conference sprints writing docs at [SciPy](http://scipy2016.scipy.org/ehome/146062/332969/?&&) and [PyCon](https://us.pycon.org/2016/community/sprints/) and your feedback will help us to structure them.

[2016-03-30 19:53] tmylk commented on #646
LDAMulticore is a streaming algorithm so should be independent of corpus size.

Please provide full stack trace and code to reproduce. Our issue reporting guidelines in https://github.com/piskvorky/gensim/blob/develop/CONTRIBUTING.md

[2016-03-30 19:55] tmylk opened #650 "Add tests for wikicorpus and Wiki scripts"
It is a popular and frequently changing feature that deserves testing on a small 5Mb extract of a wikipedia dump.

[2016-03-30 20:39] daniel-j-h commented on #640
It's nice to see such a positive response! Keep up the good work! If it is of any help, this is my side project I did over the Easter weekend using gensim (and NLTK) for the first time: https://github.com/daniel-j-h/classyshoes

[2016-03-31 00:00] piskvorky commented on #646
@hejunqing this sounds like an issue with sending large objects during the parallelization.

Python has limitations for the size of objects it can pickle (and multiprocessing uses pickle internally), so if your object is too large, the `multiprocessing` parallelization will fail, with a rather unhelpful stacktrace.

See also the discussion in #377.

There's nothing much we can do in gensim about t

[2016-03-31 02:25] hejunqing commented on #646
@piskvorky Thank you ,I think that is the point.I do some preprocess to make the corpus smaller(450M),so that the ldamulticore finally running  without error.

But it is confusing that when I TOP,I find only one running python ,and the CPU doesn't come up.It should use 20 cpu cores as I set.For some reason it does not parallel processing.

According to [stackoverflow](http://stackoverflow.com/ques

[2016-03-31 03:35] niitsuma commented on #572
That is for debugging.
Maybe you see test code part which tests whether the results of word2veckeras and gensim  are close enough or not.

[2016-03-31 03:37] piskvorky commented on #646
I don't think you need the ShardedCorpus. Instead, try trimming your vocabulary by calling `filter_extremes()`: http://radimrehurek.com/gensim/corpora/dictionary.html#gensim.corpora.dictionary.Dictionary.filter_extremes

1.1 million features sounds excessive.

[2016-03-31 03:37] #646 closed

[2016-03-31 11:07] tmylk commented on #572
Just tyring to understand the reason for adding chunksize variable to Word2Vec. Is it to enable easier debugging/testing of Word2Veckeras?

[2016-03-31 12:55] nipunsadvilkar opened #652 "Intel MKL FATAL ERROR: Cannot load libmkl_avx.so or libmkl_def.so."
When I install **Gensim** using local python (/usr/local/bin/python2.7) it doesn't raise any errors. It installed smoothly and even when I import it doesn't raise any error.

`$ sudo pip install gensim`

Importing in local python :
[code]

 But,
 when I install using Anaconda python (/anaconda2/bin/python)

`root@localhost:/home/Downloads/gensim-0.12.4# python setup.py test`

Here, **python** is A

[2016-03-31 14:10] piskvorky commented on #652
Solution is to report this at Anaconda, as suggested on the [mailing list](https://groups.google.com/forum/#!topic/gensim/PAqtRG6nL5w).

[2016-03-31 14:10] #652 closed

[2016-03-31 21:01] brooksjd opened #653 "Potential bug in word2vec.py score_sg_pair and score_cbow_pair"
Hello,

I think there is a bug in word2vec.py in score_sg_pair and score_cbow_pair. Both functions run the line
`sgn = -1.0**word.code  # ch function, 0-> 1, 1 -> -1`

with the intention of converting the word's huffman encoding from an array of 0s and 1s to an array of 1s and -1s. However when I tested this line of code, the negation in the -1.0 happens after the exponentiation, so it actually co

[2016-03-31 22:26] gojomo commented on #653
attn: @mataddy

[2016-03-31 22:30] gojomo commented on #572
IIUC, it's because `chunksize`

[2016-03-31 22:44] mataddy commented on #653
@gojomo @brooksjd thanks!  that is indeed a bug, good catch.  @brooksjd can you add the parentheses and put in a PR?

[2016-04-01 15:14] brooksjd commented on #653
Yeah no problem, added.

[2016-04-01 16:03] mataddy commented on #653
awesome, thanks @brooksjd

[2016-04-02 13:24] cscorley commented on #562
Going to close this since there has not been an update in some time.

[2016-04-02 13:24] #562 closed

[2016-04-03 09:30] bhargavvader commented on #64
@tmylk , should I go ahead and submit a PR for this? And any suggestion on dealing with matrices of different dimensions?

[2016-04-03 19:36] #653 closed

[2016-04-04 12:42] Jianqiang commented on #287
@gojomo thanks!

[2016-04-04 12:42] #287 closed

[2016-04-04 15:19] hayj commented on #530
I finally solve the problem without using a virtual env, try something like this :

[code]

[2016-04-04 22:06] piskvorky commented on #530
Let me just add that the `sudo` dance above is **highly unrecommended** (in case you googled up this thread in the future).

[2016-04-05 09:47] rtkgupta commented on #229
How did you handle it ? im getting a similar error !
thanks in advance

[2016-04-05 21:40] ziyuang opened #660 "Per-document topic probabilities not summing to 1?"
gensim version: 0.12.4
I have a corpus and a LDA topic model trained from the corpus after tf-idf transform (downloaded [here][1]). To get the (sparse) document-topic matrix:

    from gensim import corpora, models
    from gensim.matutils import corpus2dense
    import numpy as np

    corpus = corpora.MmCorpus('corpus.mm')
    corpus_tfidf = models.TfidfModel(corpus)[corpus]
    lda = models.Lda

[2016-04-05 22:09] bndgyawali commented on #229
I put it inside `try ... except` statement
[code]

[2016-04-06 01:45] piskvorky commented on #660
Thanks for the detailed report. See #561 for explanation.

Closing as duplicate.

[2016-04-06 01:45] #660 closed

[2016-04-06 02:39] rtkgupta commented on #229
Thank you much !

[2016-04-06 15:47] GSingh2014 opened #661 "TypeError: startswith first arg must be bytes or a tuple of bytes, not str"
OS X 10.10.5
Python 3.5
gensim 0.12.4

Running the saved LDAMallet model on new documents is giving the error
2016-04-06 11:33:47,410 : INFO : **loading Dictionary object from /gensim_Mallet/gensim_Mallet_LDA.dict**
2016-04-06 11:33:47,411 : **INFO : loading LdaMallet object from /gensim_Mallet/gensim_Mallet_LDA.model**
2016-04-06 11:33:47,411 : INFO : loading id2word recursively from /gensim_Mall

[2016-04-07 02:02] d10genes opened #662 "Unable to reproduce Word2vec vectors with a given seed"
If I run the following snippet in the same IPython session, then  I get the same sum repeatedly. Each time I restart the IPython session, however, I get different results.

    import gensim

    sents = '''The Fulton County Grand Jury said Friday an investigation of Atlanta's recent primary election produced
    The jury further said in term-end presentments that the City Executive Committee , wh

[2016-04-07 04:42] gojomo commented on #662
Yes – and particularly if you're using Python 3.x, with `PYTHONHASHSEED`-controlled string-hash randomization on each launch, which will change the iteration-ordering of the vocabulary-dictionary keys. See https://groups.google.com/d/msg/gensim/7eiwqfhAbhs/qC0pmbw5HwAJ for more discussion.

Not a bug so closing this issue.

[2016-04-07 04:42] #662 closed

[2016-04-12 13:18] tmylk opened #665 "Find keywords using entropy with Montemurro and Zanette algorithm"
The algorithm identifies words that are significant to the structure of the document - these often correspond to the major themes. It does so independently of a corpus.

Dr Peter J. Bleackley has kindly suggested [his implementation](https://sourceforge.net/p/entropy-calculator/code/HEAD/tree/trunk/EntropyCalculator.py)

[2016-04-12 13:36] PeteBleackley commented on #665
However, I feel that it will need a few modifications to its API for fit in nicely with the rest of Gensim, and would like some advice form the core Gensim developers.
My questions are

1. Where would be the best place to fit this algorithm into the Gensim project structure?
2. In what format should the algorithm ingest data? The current implementation is designed for XML, mainly for historic reas

[2016-04-12 23:28] piskvorky opened #666 "Factor analysis algorithms and code"
Interesting new package at https://pypi.python.org/pypi?name=vbmfa (from  https://twitter.com/cangermueller/status/518882562748739585).

See how it works, compare to existing techniques, maybe get in touch for inclusion / robust reimplementation in gensim.

[2016-04-13 20:46] yitingyeh opened #667 "KeyError: Popping a non-existing value from `_keywords`"
OS X 10.11.1
Python 2.7.10
gensim 0.12.4

To reproduce this in Python shell:
[code]

[2016-04-13 23:02] gojomo commented on #515
As requested on the forum at https://groups.google.com/d/msg/gensim/IIumafg4WkA/Ua3FdeFCJQAJ `infer_vector()` could also allow known-doctags for the example text to be supplied. At least in some training modes (or if training code in DBOW  mode were slightly altered), this might lead to an inferred vector that better represents the 'residual' meaning not already captured in the other doctag(s).

[2016-04-16 04:27] srikar2097 opened #668 "word2vec gensim multi core training"
@piskvorky before stating my issue I wish to express my deep gratitude for creating this awesome port of word2vec. Humbled by the effort & depth in thinking (extends to tomas et al).

Coming to the issue, from the code & from other forum posts I gather that `model.build_vocab` is a single core but `model.train` should run on multiple cores. But on my 32-core EC2 instance it only takes 1 core in tr

[2016-04-16 08:02] piskvorky commented on #668
My guess is you're running the non-optimized Python word2vec.

What does `print gensim.models.word2vec.FAST_VERSION` say?

[2016-04-16 08:14] srikar2097 commented on #668
@piskvorky I have put that above. FAST_VERSION =1. gensim.models.word2vec.FAST_VERSION = 1
I have installed cython.
[code]
another behavior, when I load all sentences into RAM, & init word2vec like so. All cores are at work.
`model = word2vec.Word2Vec(cleaned_data, workers=u.ncores(), size=300, min_count=20, window=10, sample=1e-3)`

But when I start streaming data & feet it, it only uses 1 core.

[2016-04-16 09:27] piskvorky commented on #668
You don't need cython for gensim. `FAST_VERSION==1` should be fine.

Maybe your sentence iterator is too slow? What is the streaming speed, just going over the sentences, without any word2vec?

[2016-04-16 10:53] srikar2097 commented on #668
@piskvorky  Thanks again for taking time to reply.

What I don't get is, having specified workers = 32, shouldn't gensim spawn 32 processes (via multiprocessing)? Then these 32 would start reading off Sentence iterator which then could potentially cause I/O bottleneck.

In my case, only 1 process is reading off Sentence iterator, Why only 1 process? In this case should I/O speed matter? Why are th

[2016-04-16 10:59] piskvorky commented on #668
Word2vec uses multiple threads, not multiple processes. One thread is dedicated to reading your input iterator; see [parallelizing word2vec in gensim](http://rare-technologies.com/parallelizing-word2vec-in-python/).

Can you measure how long the plain iterator pass takes, just to be sure?

@gojomo , can you think of any reason why the same corpus should parallelize differently with `corpus_iterato

[2016-04-16 13:16] srikar2097 commented on #668
@piskvorky I do little bit of pre-processing on each sentence. lowercase, remove special chars etc. Here are the benchmarks for sample of **625K** sentences -

Benchmark code
[code]
No Preprocessing = 0m1.260s
With preprocessing (clean_data uncommented) = 28m4.144s

With no Preprocessing we see that it just takes 1.2 seconds to run through 625K sentences. With preprocessing it takes 29m. Either wa

[2016-04-16 16:26] piskvorky commented on #668
It looks like your input sentence iterator is the bottleneck then. It's too slow to feed the word2vec threads.

I'd suggest speeding up your corpus preprocessing code. Or perhaps storing the already-preprocessed corpus and using that, if possible.

I think this explains the discrepancy between `list(sentences)` and `sentences`, so I'm closing this. Let me know if you have other questions!

[2016-04-16 16:26] #668 closed

[2016-04-17 03:57] tengpeng opened #670 "ImportError: numpy.core.multiarray failed to import"
[code]

[2016-04-17 03:58] tengpeng commented on #670
[code]

[2016-04-17 06:11] tmylk commented on #670
Which version of gensim are you using? Are you using anaconda or virtualenv?

[2016-04-17 19:00] tengpeng commented on #670
I figured out the problem is due to incomplete installation of `Scipy`. On a fresh CentOS, two dependency of `Scipy` should be installed by hand.

[2016-04-18 09:25] aaajjj333 opened #671 "LDAmallet shows the same words repeated for all the topics"
I run the LDAmallet to generate topics. The results show problem in the implementation.

`# READ DOCUMENTS

[code]

`
However, the output shows the same words repeated for all the topics and a warning for division by 0 when tries to normalize the weights. The output looks like this

`Warning (from warnings module):
  File "C:\Python27\lib\site-packages\gensim\models\wrappers\ldamallet.py", line 23

[2016-04-18 10:06] tmylk commented on #671
Which version of gensim are you using?

It is better if you use named parameters in a function call.

The Mallet parameters have changed.

https://github.com/piskvorky/gensim/blob/3d7293f3831250a47cf8e85a7f493a87c7d6ac32/gensim/models/wrappers/ldamallet.py#L54

On Mon, Apr 18, 2016 at 10:25 AM, aaajjj333 <notifications@github.com>
wrote:

[2016-04-19 02:54] aaajjj333 commented on #671
I upgraded gensim, scikit-learn, scipy, and numpy

I changed the LdaMallet call to use named parameters and I still get the same results.

`ldamodel = gensim.models.wrappers.LdaMallet(mallet_path, corpus = mycorpus, num_topics = number_topics, id2word=dictionary, workers = 4, prefix = dir_data, optimize_interval = 0 , iterations= 1000)`

[2016-04-19 17:17] nick-magnini opened #672 "Converting from C word2vec to gensim model"
Hi,

I'm using this code to convert the original C word2vec model to the gensim one for fast loading.
`model = Word2Vec.load_word2vec_format(word2vec_model,unicode_errors='ignore')
model.init_sims(replace=True)
model.save(gensim_model)`

My original model is more than 30 GB and after converting to gensim model it's now less than 1 GB. Am I doing something wrong or this is a normal behaviour? Shoul

[2016-04-19 19:11] gojomo commented on #672
I wouldn't normally expect that much of a difference – but I haven't worked much with word2vec.c files.

Straining to think of possible explanations, perhaps if many words were very long and compressable, or if many words were corrupt unicode that became smaller due to the `unicode_errors='ignore'` setting. Or maybe something strange has happened during training that made the vectors far more spar

[2016-04-19 21:58] nick-magnini commented on #672
I just checked. I can't load the saved model. I used `model = Word2Vec.load(gensim_model,mmap='r')` and it returns this error:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "gensim/models/word2vec.py", line 1465, in load
    v.sample_int = int(round(v.sample_probability * 2**32))
AttributeError: 'Vocab' object has no attribute 'sample_probability'`
I tried to oth

[2016-04-19 23:03] gojomo commented on #672
Are you using the most recent gensim? A similar issue was fixed in #499.

[2016-04-20 07:27] Tensordry opened #673 "default-value of 'hs' (hierarchical-softmax) parameter changed w/o explicit warning in 0.12.4"
In vs. 0.12.4, the new default of 'hs=0' stays in accordance with the online documenation, but is in contrast to the default-behavior of versions <= 0.12.2.
If not set explicitely set to 'hs=1', the w2vec.score() function will fail with the error message "we have only implemented score for hs". In a productive environment, this error message might appear as not trivial, and is assumed to be more p

[2016-04-20 08:06] piskvorky commented on #673
Thank you for reporting @Tensordry! I agree the message is not very illuminating, especially if this comes up as "default" now.

@gojomo @mataddy can you look into this and suggest a fix?

[2016-04-20 09:07] gojomo commented on #673
@Tensordry – Would simply having the error repeat the same language from the doc-comment be sufficient? The doc-comment presently says:

    We have currently only implemented score for the hierarchical softmax scheme, so you need to have run word2vec with hs=1 and negative=0 for this to work.

[2016-04-20 09:43] bhargavvader opened #674 "Default of `initialize_lda` is false in DTM wrapper, usually leading to an exit error."
The default value of `initialize_lda` is `false` in the DTM wrapper, which means that it assumes an `initial-lda-ss.dat` exists in the output folder, but this usually does not exist - especially because the output folder is being created on the fly in `/tmp` by the wrapper code. When run without `initialize_lda` being set as `True`, it throws  `CalledProcessError` and  `returned non-zero exit stat

[2016-04-20 10:53] Tensordry commented on #673
Hello Gordon,

  * From my point of view: an additional reference to the changed default-value, as a likely
    cause for the surprising stopping behavior of the lib, would have been a time-saver for me.
    So I guess, the error message gets even more improved, by adding your proposal plus such a
    reference ... ;-)

Am 20.04.2016 um 11:07 schrieb Gordon Mohr:

[2016-04-20 14:57] tmylk commented on #674
Agree. Please submit PR changing default to True and will merge.

[2016-04-20 15:04] nick-magnini commented on #672
I used the latest and I was able to do the read the c word2vec and also I was able to save it and load it. However when I want to reload it with mmap I get this:
`model=Word2Vec.load(gensim_model,mmap='1')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "gensim/models/word2vec.py", line 1503, in load
    model = super(Word2Vec, cls).load(*args, **kwargs)
  File "gen

[2016-04-20 15:31] bhargavvader commented on #674
Yeah, will do.

[2016-04-20 17:56] gojomo commented on #672
(FYI I re-quoted your error with triple-backticks to preserve line-breaks.)

Why are you using `'1'` as the argument to `mmap`, where you were previously using `'r'`?

[2016-04-23 20:03] silentsnooc opened #680 "'Doc2Vec' object has no attribute 'corpus_count'"
Line 685 of word2vec.py throws
[code]

The code I used:

[code]

[2016-04-23 20:11] silentsnooc commented on #680
Is there a chance that `Doc2Vec#load_word2vec_format` should have assigned that at some point when it loads the word2vec model?

[2016-04-24 02:21] gojomo commented on #680
The word2vec.c format is just vectors – not all the state required for continued training. So `load_word2vec_format()` does not create (nor intend to create) a model on which training can continue – its return value should be considered 'read-only'. (And this is especially the case for Doc2Vec, which needs a bunch of other structures initialized based on the intended corpus.)

You could look into

[2016-04-24 02:21] #680 closed

[2016-04-24 09:07] silentsnooc commented on #680
Hi! Thank you for your fast response! I will take a look at that.

Regarding the use of already trained word vectors: What if I want to use a pre-trained w2v model? Why would I want to learn a complete dictionary and then learn the paragraph vectors with it? Aren't the word vectors and the document vectors two different sets here? After all I might want to test out different word vector models wit

[2016-04-24 14:21] ddofer commented on #645
I would love to see this.
(I did it myself with another library as part of my research. It gave very poor results unfortunately).

[2016-04-24 18:27] gojomo commented on #680
What benefit would you expect from using a pre-trained w2v model?

Word vectors are not a required input to the PV-Doc2Vec process: it requires *text*, not *text and candidate word-vectors*. The fastest-to-train (and sometimes top-performing) Doc2Vec training mode, DBOW (`dm=0`), doesn't involve Word2Vec-style word-vectors at all, unless you turn on extra Word2Vec training with a non-standard opti

[2016-04-24 23:41] jonasrla opened #682 "Tutorial fixes"
On line input 13 of [Notebook 1](http://radimrehurek.com/topic_modeling_tutorial/1%20-%20Streamed%20Corpora.html)
there's this function

[code]

And looking closely, stopwords is not used at all, instead it uses STOPWORDS.

Also, the corpora of the [Notebook 2](http://radimrehurek.com/topic_modeling_tutorial/2%20-%20Topic%20Modeling.html)
that is, this one simplewiki-20140623-pages-articles.xml.bz

[2016-04-25 01:29] piskvorky commented on #682
Yeah, sounds good. Can you submit a PR?

[2016-04-25 10:09] silentsnooc commented on #680
Okay, maybe I got that wrong but I was under the impression that doc2vec requires trained word vectors. What I was planning to do is trying to classify unlabeled sentences and test if different pre-trained word vectors perform differently well. E.g. using the pre-trained Google word vectors compared to a domain specific set of word vectors. I was under the impression hat I learn a vector for each

[2016-04-25 11:37] bhargavvader commented on #674
@tmylk , closing this issue since PR has been merged.

[2016-04-25 11:37] #674 closed

[2016-04-25 12:00] bhargavvader opened #683 "API call for Topic Distribution of words."
As discussed [here](https://groups.google.com/forum/#!topic/gensim/hgjQPqP-0JU) and [here](https://groups.google.com/forum/#!searchin/gensim/how$20to$20print$20topic$20distribution%7Csort:relevance/gensim/Vv7SSC8HR8k/b4knKmArX0MJ) in the mailing list, there is no current way to find the a `topic index` for a word - i.e the topic a word belongs to - basically the distribution over all topics for a

[2016-04-25 12:49] piskvorky commented on #683
I haven't given this API enhancement a deep thought, but I think a good way may be to add a new, optional parameter: `get_document_topics(per_word_topics=True)`.

- The default would be `per_word_topics=False`, so nothing changes unless the user specifically asks for those per-word topic assignments;
- but if `per_word_topics=True`, the method returns a 2-tuple: `(per-topic-probability-for-this-do

[2016-04-25 16:11] gojomo commented on #680
You're mistaken; doc2vec as described in the 'Paragraph Vectors' paper and implemented in gensim doesn't require word-vectors as an input.

You could imagine shoving some word-vectors in as a novel experiment. (This wouldn't have any effect in pure DBOW, which neither needs nor bootstraps any word2vec-like vectors per input word.) There are lots of such variants you could try: are the word-vectors

[2016-04-26 01:01] gojomo opened #684 "dm_concat mode & corpus with `'\0'` tokens gives error"
See https://groups.google.com/d/msg/gensim/8r0GOGif56U/KJ4mmQo6KQAJ

The creation of the null-word ignores whether there were any in the corpus, so seems to be clobbering necessary info for the case where `'\0'` does need to be a predicted-word.

As this is a final step, it can probably notice that such a word already exists, and perhaps log a warning that the same token is playing two roles (what

[2016-04-26 02:12] piskvorky commented on #684
I don't remember any "null word"... what is that for? Do we really need it?

[2016-04-26 02:22] gojomo commented on #684
The DM-with-concatenative-input-layer mode, where every doc-vec and word-in-the-window concatenate into an extra-wide input layer, needs something to be plugged into positions past-the-end of each example. The Paragraph Vector paper mentions padding with a special NULL token, so we're matching that. It's only needed and created in that mode.

[2016-04-26 13:10] RishabGoel commented on #599
@janrygl : I am trying to handle the above error. Could you please refer the parameters you used, while running gensim ??

[2016-04-26 13:36] janrygl commented on #599
@RishabGoel I am sorry but I don't remember exactly, I can guess some parameters from the source code, see following:

LdaMallet initialization:
[code]

Training:
[code]

[2016-04-27 16:47] #670 closed

[2016-04-27 22:58] nick-magnini commented on #672
I fixed it. Thanks. It's working now. The new version fixed the problem.

[2016-04-27 23:10] #672 closed

[2016-04-27 23:20] nick-magnini commented on #672
After I load a huge model and try model.most_similar() then I get this as error:

Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
  File "gensim/models/word2vec.py", line 1188, in most_similar
    self.init_sims()
  File "gensim/models/word2vec.py", line 1392, in init_sims
    self.syn0norm = (self.syn0 / sqrt((self.syn0 ** 2).sum(-1))[..., newaxis]).astype(REAL)
MemoryErr

[2016-04-27 23:29] piskvorky commented on #672
That line looks very memory-inefficient (temporary vars)... we should replace it by `numpy.empty()` + an explicit loop to initialize `syn0norm` row-by-row.

[2016-04-28 00:01] bhargavvader commented on #682
@piskvorky , I can't seem to find this in the code base of gensim... The only tutorials I can find are the four in `docs/notebooks`. Where are these notebooks found?

[2016-04-28 00:21] bhargavvader commented on #683
I'm still a little confused, because the initial question says:

" want to assign a topic index to each word in the corpus."

Can that not mean the vocabulary? Or does it mean every word of document in the corpus? If it is certainly the latter and it is like you said the dynamic `topic x document` words assignment, then your suggestion does seem like the way to go.

[2016-04-28 04:22] piskvorky commented on #682
Hmm, good question. I think @jonasrla is actually talking about this repo: https://github.com/piskvorky/topic_modeling_tutorial, and just opened this issue in the wrong github repository.

[2016-04-28 04:24] piskvorky commented on #683
If it's topic x vocabulary, then we don't need anything special. We already have the various `print_topics` etc methods.

What we need here are the topic x word assignments (assigning a topic to each word in a concrete document).

[2016-04-28 04:53] jonasrla commented on #682
Sorry, which repository should it be posted?

[2016-04-28 04:55] jonasrla commented on #682
Sorry

[2016-04-28 05:57] gojomo commented on #672
@nick-magnini - if you'll only be using the loaded model for `most_similar()`-type operations, you could explicitly call `init_sims(replace=True)` after loading, to do an in-place unit-normalization of the `syn0` vectors-array. (That'd avoid the surge in memory use from creating a separate `syn0norm`.)

@piskvorky, @tmylk – we can probably just reuse the loop above – the toggle on `replace` could

[2016-04-28 06:05] piskvorky commented on #672
Oh yes, that's right. The code is pretty much already there, right above, I didn't realize.

[2016-04-28 06:11] piskvorky commented on #682
Continued in https://github.com/piskvorky/topic_modeling_tutorial/issues/6.

[2016-04-28 06:11] #682 closed

[2016-04-28 16:05] nick-magnini commented on #672
So you suggest to do it this way:

`model=Word2Vec.load(gensim_model)`
`model.init_sims(replace=True)`
`similars=model.most_similar(text)`

[2016-04-28 16:38] nick-magnini commented on #672
Is this equal to `model=Word2Vec.load(gensim_model,mmap='r')` in practice?

[2016-04-28 18:19] gojomo commented on #672
@nick-magnini – yes, with an explicit `init_sims(replace=True)` call, so that a single in-place normalization occurs before doing any similarity-lookups. No, adding an `mmap` parameter to the `load()`  wouldn't cause any in-place normalization to occur. (In fact, `mmap='r'` would likely prevent the later `init_sims(replace=True)` from working, because it will have created a read-only array that ca

[2016-04-28 18:41] bhargavvader commented on #683
I've tried looking around the `ldamodel` class but I seem to be stuck... Exactly how will I be getting the value? Am I to use the `gamma` value returned in inference for that word and go ahead?

Have you mentioned the logic in a previous mailing list post? I can't find it.

[2016-04-28 18:48] nick-magnini commented on #672
So for faster most_similar its better to `init_sims(replace=True)`?

[2016-04-28 20:33] gojomo commented on #672
No faster - it just uses less memory, perhaps avoiding the MemoryError you encountered, by doing the conversion of raw vectors to unit-normalized vectors in-place. (If you don't do `init_sims()` yourself, it'll be done for you the first similarity-lookup you do and be cached thereafter – so you pay the time-cost either way.)

[2016-04-28 23:01] nick-magnini commented on #672
Thanks for the explanations.

[2016-04-29 12:18] bhargavvader commented on #683
I gave a bad example previously (especially with the `doc`).

If I say `phi_value` =  `lda.inference(doc, collect_sstats=True)[1][i][j]`, where `i` is the topic and `j` is the word - if I iterate over all values and find the topic where `phi_value` is highest for the `j` word, is that the `ith` topic which the `jth` word corresponds to?

If my explanation doesn't make sense or I'm missing out on s

[2016-04-29 15:18] tmylk commented on #599
@cscorley @RishabGoel has implemented good ways to find out Mallet version so trying to re-cap what is the best solution here.

Mallet 2.0.8 is always dense.

Mallet 2.0.7 can be either dense or sparse.

What is the flag that makes 2.0.7 sparse? @RishabGoel has been unable to reproduce the above output.

[2016-04-29 21:09] mmroden commented on #532
This is absolutely a problem for me.  I'm creating a doc2vec model using the command:

`NUM_WORKERS = multiprocessing.cpu_count()
NUM_VECTORS = 500

    sentences = list(LabeledSentence(clean_doc(key),
                                     value) for key, value in corpus)
    vector_count = NUM_VECTORS
    model = Doc2Vec(size=vector_count, min_count=1, dm=0, iter=1,
                    dm_mean=1,

[2016-04-29 21:36] gojomo commented on #532
How many examples and words are in your 'sentences'?

[2016-04-29 21:43] mmroden commented on #532
Here's a sample from when the code starts running:

    2016-04-29 21:27:07,360 - gensim.models.doc2vec - INFO - collecting all words and their counts
    2016-04-29 21:27:07,360 - gensim.models.doc2vec - INFO - PROGRESS: at example #0, processed 0 words (0/s), 0 word types, 0 tags
    2016-04-29 21:27:08,747 - gensim.models.doc2vec - INFO - PROGRESS: at example #10000, processed 6997928 words (50

[2016-04-29 22:25] mmroden commented on #532
Looking at this, I'm wondering if the 18 million words being constrained to 300k at a time might be a bottleneck.  I have more than enough RAM to handle more than that; any way to increase?  Or could there be something else at play?  If I set `dbow_words=0`, things are certainly faster, but still only use one core.

[2016-04-29 23:33] gojomo commented on #532
Where are you seeing a "300k at a time" constraint?

With all the version-variants you've tried, you may want to make absolutely sure of the effective FAST_VERSION value, by printing it just before the training. (Though, you should also see a logged warning if using the pure-Python fallback.)

Given how much of the process is still in Python and subject to the GIL, you're unlikely to see full 36-c

[2016-04-30 03:05] mmroden commented on #532
So I've tried dropping the number of workers to 1, 2, 4, etc, and they all go to the same speed as the 36 core instance, and htop shows a single core being used.  It just feels like, somehow, the threads are still being constrained to a single core.

I remember getting this to work before in the past, so I'm wondering if I was misremembering that, or if there is something that's changed in those a

[2016-04-30 05:27] ziaoang opened #685 "key error in doc2vec"
Hi,
I want to train a sentence to a vector, so I try to use doc2vec, but it seems wrong.

[code]

the output is
[code]

It seems I just get the word2vec, not the doc2vec.

Best.

[2016-04-30 17:17] cscorley commented on #599
@tmylk @RishabGoel I've never gotten sparse output from Mallet.  However, I'd think setting `--doc-topics-threshold` would do it.

[2016-04-30 17:33] RishabGoel commented on #599
I also feel the same thing. But by default the threshold is set to 0.0. I have checked the source code of mallet2.0.7.And as stated above by @janrygl  there is not such threshold set while running the mallet. So, might be, in the   mallet that @janrygl  used such threshold was set to some value.

[2016-05-01 15:38] arianhosseini opened #686 "how to compute the loss?"
Hi, I'm working on a paper, after reading the python code, it looks like the "**gradient** of loss" is calculated in:
`fb = 1. / (1. + exp(-dot(l1, l2b.T)))`
`gb = (model.neg_labels - fb) * alpha`

I want to be able to get the **loss** of an input and not the gradient of it, is there anyway to get that? is there any function that does so?

thanks for sharing

[2016-05-01 16:27] tmylk commented on #532
You have most probably checked this but maybe there was some cpu binding
setup using taskset command? Can you get a simple Python parallel process
example to use multiple cores?
On 30 Apr 2016 04:05, "mmroden" <notifications@github.com> wrote:

So I've tried dropping the number of workers to 1, 2, 4, etc, and they all
go to the same speed as the 36 core instance, and htop shows a single core
being

[2016-05-01 18:08] gojomo commented on #685
Doc vectors are accessed via the 'docvecs' component of the model:

    print(model.docvecs['SENT_1'])

[2016-05-01 18:08] #685 closed

[2016-05-01 22:05] lucasrodes opened #687 "Problems with installation"
Hi,
I am working on Mac OS El Capitan. I just cloned the "develop" branch and first did the test:
`$ python setup.py test`

Which seems that outputs some errors, find the last lines below:
[code]
Afterwards I install it:

`$ sudo python setup.py install`

And it looks like it finished correctly:
[code]

Once installed, I wanted to test it following the example published by Radim (http://rare-techn

[2016-05-02 01:18] piskvorky commented on #532
@tmylk don't use this style of (email?) replies -- it pollutes github with quoted texts and makes the conversation hard to follow.

[2016-05-02 02:38] gojomo commented on #532
`dbow_words=1` means you've already got the simultaneous word-training active (which would normally help parallelism a little).

Occasionally when people have more than one python/virtualenv, they're checking the FAST_VERSION in a different one than is running their application code – so I would make absolutely sure that the code that's running slow/single-core is reporting a non-negative FAST_VER

[2016-05-02 08:57] ddofer commented on #645
I wanted to do this myself but ran into trouble parsing the protein sequences into characters in a way amenable to Gensim. I'd love to help or learn how it's done, it would be very useful for a paper I had in mind. (Full credit ofc).

[2016-05-02 09:05] ddofer commented on #629
It would be useful to avoid too much "black box magic" when building the tutorials: i.e the data loading and format.

[2016-05-02 10:50] fnoyez commented on #574
I got once the same error with Word2Vec, it happens when using an option that necessitate the Huffman Tree, and when the vocabulary contains only one word / element to be assigned a code : in this case, the list containing its binary code is empty, and when we try to create an array in Cython from it, then the bug occurs.

When you changed the word embedding build option, and set min_count to 1, t

[2016-05-02 11:22] piskvorky commented on #645
Sounds good :) What specific issues did you run into?

[2016-05-02 11:59] ddofer commented on #645
Data munging, efficiently extracting from uniprot's file formats (fasta or
xml),
Using pure existing vectors ,
Ngrams vs unigrams x
And understanding general usage of gensim, e.g. "sentence labels".

(I haven't used the package before, only read your blog posts prior to
that  , and this was a while ago)
On May 2, 2016 2:22 PM, "Radim Řehůřek" <notifications@github.com> wrote:

Sounds good :) What

[2016-05-03 07:44] aaajjj333 opened #688 "word-topic assignment at the document level"
Can you add a function to produce the word-topic assignment at the document level similar to the mallat tool?

The file produced by Mallat looks like this

Thanks,

[2016-05-03 07:56] piskvorky commented on #688
Closing as duplicate of #683.

[2016-05-03 07:56] #688 closed

[2016-05-03 12:33] bhargavvader commented on #683
@piskvorky , could you have a look if I'm going the right way?

[2016-05-03 14:40] piskvorky commented on #683
I can maybe get to it at the end of this week; @tmylk should be able to assist you more swiftly.

Note: the VB algo assigns the word-topic distribution per *word type*, meaning each word type in a document gets the same distribution = will get the same "best topic". Example: in document `sentence within a sentence`, both of the two `sentence` occurrences will get the same topic.

This is in contra

[2016-05-03 17:41] mmroden commented on #532
What would I be looking for if some kind of `taskset`-- stye command were run?

For this provisioned instance (or in a local vagrant, whichever), there's only one venv, and gensim is only installed in the venv.  I can only import gensim to check `FAST_VERSION` in that venv, so I feel pretty confident that there's no pollution that way.

I tried to use 1.11 of numpy, but that didn't seem to allevia

[2016-05-03 18:38] tmylk commented on #532
Hi mmroden

There is a gensim doc2vec tutorial that  is parallelized at https://github.com/piskvorky/gensim/blob/develop/docs/notebooks/doc2vec-IMDB.ipynb

It is also easy to test if Python can parallelise some simple task, say x^2, on many cores on your instance.

[2016-05-03 20:05] mmroden commented on #532
It seems like it might be useful to have this kind of test available in general, if I'm not the one who opened the ticket.  Let me see what I can write up, but would it make sense to roll whatever I make as a potential contribution back?

[2016-05-03 20:14] tmylk commented on #683
@bhargavvader You are right. In a single document inference `lda.inference(doc, collect_sstats=True)[i][j]` [is just phi_ij](https://github.com/piskvorky/gensim/blob/develop/gensim/models/ldamodel.py#L468) approximating P(topic_i|word_j) in the document. For example see Figure 8 where words are colored according to their topic assignment in an inferred document in [this paper](http://www.jmlr.org/

[2016-05-03 20:18] tmylk commented on #532
It would be useful to have an example to test if any Python parallelisation is possible. It has a place in this issue and in FAQ for troubleshooting. But it is a general python thing, not particuarly related to gensim, so we would not merge it in as a PR

[2016-05-03 21:20] bhargavvader commented on #683
Great. I'll keep all this in mind and open a PR soon.

[2016-05-03 21:24] mmroden commented on #532
Here is my timing test code.  When it runs, I can clearly see all processors being used by htop.  When I run the model creation code above, I only see one core working (ie, the original problem).  So this isn't a general python/python multithreaded issue.

I'm running this locally, rather than in the ec2 instance, on a virtual machine with 4 cores.  The machine is provisioned using that exact same

[2016-05-03 22:28] gojomo commented on #532
Unfortunately `multiprocessing.Pool` uses full-blown processes, so isn't really testing the same sort of multithreading as gensim Word2Vec/Doc2Vec. Using a `ThreadPool` and numpy operations that will likely release the Python GIL (allowing multithreaded speedup) would be a better test.

Locally, when I run the following (in an ipython notebook on OSX), it takes about 18 seconds, and reported CPU u

[2016-05-04 02:24] mmroden commented on #532
So the posted code pegs all CPUs, and htop shows that one cpu is at max during gensim training.

Would there be a way to check that there could be some resource contention or locks?  I noticed some people using gdb to attach to the process at random intervals and found randint calls in the other ticket, could something like that be at work here as well?

[2016-05-04 05:45] gojomo commented on #532
The randint issue was fixed a few releases ago, so it's not (exactly) that. Does your `corpus` iterator return simple, in-memory lists-of-strings? Does the doc2vec-IMDB.ipynd demo notebook manage to utilize multiple cores on your system?

[2016-05-04 11:32] satarupaguha11 opened #690 "Size mismatch between document corpus and document vector"
I have a 90594 documents that I have for training doc2vec with 100 dimensions.. when I check the size of syn0 after training, it is (32592,100). The size of vocab is also 32592. I don't understand what is going on..

[2016-05-04 12:14] tmylk commented on #690
Hi,

vocab contains all distinct words in your corpus. It is different from number of documents in a corpus.

[2016-05-04 12:19] tmylk opened #691 "Force the pickle to be always under `index.output_prefix`"
Force the pickle to be always under `index.output_prefix`

See discussion in
https://groups.google.com/d/msg/gensim/W4iJRVoeiO8/EWkyuR1oKgAJ

[2016-05-04 13:08] mmroden commented on #532
More debugging: I do see that all cores are used when this step is shown:

    2016-05-04 02:56:20,311 - gensim.models.doc2vec - INFO - precomputing L2-norms of doc weight vectors

That leads me to believe that there's some hidden generator in my corpus.  I'm creating it like so:

    def clean_doc(doc):
        # return re.sub('[^a-zA-Z]', ' ', doc).lower().split()
        return doc.lower().spli

[2016-05-04 13:14] tmylk commented on #532
Regarding the side note: stack trace in a separate issue will be greatly appreciated.

[2016-05-04 15:14] mmroden commented on #532
I've removed all try/excepts-- I'm having a hell of a time reproducing.  If I see it again, I'll make the trace into another issue.

[2016-05-04 15:55] gojomo commented on #690
Also note that the doc-vectors (vectors learned for each unique doctag seen during training) are inside `model.docvecs.doctag_syn0`. If you've given each of your documents a single unique doctag, its size will be (90594,100).

[2016-05-04 16:17] gojomo commented on #532
Does the doc2vec-IMDB.ipynb demo notebook manage to utilize multiple cores on your system? This is an important question to resolve, since if it does, we know that the Python/numpy/scipy/gensim-cython code is working on your system, and don't need to do further investigation of those factors.

The "something broke in trial 0, continuing" message does not look like a gensim printout. What does it m

[2016-05-04 17:00] mmroden commented on #532
So it looks like the model training from the ipython notebook does run in parallel-- well, this line works:

    ...     shuffle(doc_list)  # shuffling gets best results
    ...
    ...     for name, train_model in models_by_name.items():
    ...         # train
    ...         duration = 'na'
    ...         train_model.alpha, train_model.min_alpha = alpha, alpha
    ...         with elapsed_time

[2016-05-04 18:20] gojomo commented on #532
`LabeledSentence` is a synonym for `TaggedDocument` retained for backward-compatibility, so it's not *that* change that's making a difference. It's instead the forcing of `tags` to be a simple list-of-strings. There was likely something indirect/laggy about the 'value' objects coming back from your `corpus` object.

Now that you've seen multiple cores engaged (in both the doc2vec-IMDB.ipynb exampl

[2016-05-04 19:19] gojomo commented on #687
You likely need to `import os` before where the `MySentences` class is defined. The tutorial should probably show that step. (cc @piskvorky)

[2016-05-04 20:02] mmroden commented on #532
I literally just swapped out `LabeledSentence` for `TaggedDocument`-- I made no other changes.  And the summation of CPU usage is still capped at 100%, it's just spread out over more cores.  I'm doing this on a 4-core local virtual machine, since running the 36 core machine for this is a bit too inefficient.  But I do get that there must be _something_ that's blocking using multiple cores for this

[2016-05-04 20:35] gojomo commented on #532
You may want to try the `sentences = …` line I suggested: the simple change from `LabeledSentence` to `TaggedDocument` can't possibly account for a change in htop readings – if you're truly seeing a difference in cores active, there must have been another simultaneous change that caused that.

By moving to a very different system – a four-core local VM instead of a 36-core ec2 VM – you're not real

[2016-05-04 21:23] mmroden commented on #532
To be perfectly clear, I've been running the same tests on both instances simultaneously, for exactly the reasons you described-- it may be an underlying problem on the machine and how it's set up.  I just stopped using the ec2 instance when it became clear that the local system was behaving in exactly the same way.

What I'm seeing is that there is some chokepoint in my data that is causing this.

[2016-05-05 00:27] #690 closed

[2016-05-05 00:36] piskvorky commented on #532
I think the issue should remain open -- we're really interesting in figuring this out. We'll assist you with the debugging any way we can.

The `sentences = ...` line that @gojomo suggested is a good starting point. Does that work = use more than 100% CPU with `workers > 1`? What is the distribution of document lengths & number of tags per document?

[2016-05-05 00:53] piskvorky commented on #687
@tmylk please fix it = add the import before `MySentences`.

Be careful that you **edit the blog post in "text mode"**, as Wordpress messes up raw formatting and inline tags if you switch to "visual". Double check that everything works after you save, including the demo app.

[2016-05-05 01:47] satarupaguha11 commented on #690
Thank you so much for making this clear.

[2016-05-05 13:24] mmroden commented on #532
This is the format of the data that goes into the corpus line:

    [u'Cancel\nA migrant runs away from tear gas during clashes with Macedonian police at the northern Greek border point of Idomeni, Greece, Wednesday, April 13, 2016. Thousands of migrants protested at the border and clashed with Macedonian police. (AP Photo/Amel Emric) The Associated Press\nBy COSTAS KANTOURIS, Associated Press\nID

[2016-05-05 17:13] tmylk opened #692 "Warning if vocabulary is entirely single character elements in doc2vec"
[Many users](https://groups.google.com/d/msg/gensim/YO6hRhFoB9c/dDVG427FCAAJ) on the mailing list pass strings to doc2vec instead of lists.
It results in poor results as vocab is single chars.

A warning will help detect that.

[2016-05-05 17:20] gojomo commented on #532
Please, on a system where you can confirm seeing the "only one core used" problem with the original `sentences = …` line,  try the alternate line I suggested. (In that line, the significant change was *not* the shift to `TaggedDocument`. You can leave it as `LabeledSentence` but make the other changes on that line.) Is that one change alone enough to change the number-of-cores-utilized (or change

[2016-05-05 17:22] dsquareindia commented on #692
I'll take this up :+1:

[2016-05-05 17:27] gojomo commented on #692
Yes! The test could be `words` is a true string type, and/or that the `vocab` keys are all single-characters, and/or that the `vocab` is "very small" (threshold TBD).

Other sanity checks based on frequent issues are also possible. A few ideas:

* model very large compared to single-pass training-data size (risks overfitting)
* `alpha` raised again after descending to `min_alpha` (may indicate con

[2016-05-05 21:27] mmroden commented on #532
I have done the alteration, no change.

I'm thinking that what we may need to do is set up some kind of remote debugging session, especially since you guys want to see this in action.  Would that work?  Who would I contact about doing that?  Best case scenario, after five seconds, it's obvious that I screwed something up, and that becomes apparent when the whole system is in view.

[2016-05-05 23:21] gojomo commented on #532
So was it "only one core" both before and after the change? Earlier you mentioned something changed the observed behavior from "only one core" to "many cores but still not more than 100% total". Can you still toggle between those two behaviors?

A more precise way to log core-utilization may be to use a command like `mpstat`. For example, `mpstat -P ALL 2 30` will print per-core utilization every

[2016-05-06 13:50] mmckerns commented on #558
Hi, I'm the `dill` author.  A typical, and fairly easy, choice that many packages (`IPython`, `mpi4py`, `Pyro4`, …) have made is to abstract the serializer.  That way, you keep your performance, but let the user override performance with robustness.  Both `cloudpickle` and `dill` provide drop-in replacement, while `dill` also has some additional features (e.g source code extraction) and serializat

[2016-05-06 20:46] Wolfi-101 commented on #671
Hi everyone,

I had the same problem while trying to do the Mallet tutorial on the Reuters dataset from [here](http://rare-technologies.com/tutorial-on-mallet-in-python/). Be sure to update the module path of LdaMallet to `model = models.wrappers.LdaMallet` if you want to run this example. It seems to have changed since then.

In `C:\python34\Lib\site-packages\gensim\models\wrappers\ldamallet.py`

[2016-05-07 01:03] piskvorky commented on #671
Oh wow, nice catch @Wolfi-101 ! I didn't know about this [single vs. double quotes issues](http://stackoverflow.com/questions/24173825/what-does-single-quote-do-in-windows-batch-files) in Windows.

@tmylk we should do a review of all process calls in gensim wrappers, to make sure the quotes are correct for Windows too.

[2016-05-08 05:59] piskvorky opened #693 "PyPI stats"
I just noticed gensim has had 0 downloads in the past week(s).

That is very unlikely, and probably points to some issue with download / install / PyPI repo / PyPI stats.

Look into what's happening & fix ASAP.

[2016-05-08 06:19] piskvorky commented on #693
Actually, it seems all PyPI packages have the same problem. I tried installing gensim and it worked fine... so probably just a bug in PyPI download stats, nothing critical.

I'll leave this open in case anyone knows what's going on.

[2016-05-08 15:56] cscorley commented on #693
PyPI seems to be aware of the issue: https://bitbucket.org/pypa/pypi/issues/396

[2016-05-09 17:26] lucasrodes opened #694 "ImportError: No module named six.moves"
Hi,
I am trying to install gensim in a remote server I do not have root privileges at and I am having some problems. By the way, it uses Linux:
[code]

As stated in [Installation](http://radimrehurek.com/gensim/install.html) (point 3 under **Install gensim**), I simply downloaded the file (i.e. i did a `git clone`) and changed the PYTHONPATH at the bash_profile file as:

[code]

where `directory`

[2016-05-09 18:10] lucasrodes commented on #694
# Solution

This can be easily solved by installing six in my user directory, i.e. :

[code]

Afterwards, I compiled the project using `$ python setup.py install --user`. Finally, I upgraded numpy since I had a very old version by typing `$ pip install --user numpy --upgrade`. Now seems to work.

[2016-05-10 08:29] davidleo4313 opened #695 "LDA Multi-core not using all cores"
Hi,

My current situation is that, I have a corpus with around 600.000 documents and I already zip it. My environment is an Amazon Linux EC2 c3.2xlarge which have 8 cores (4 real cores I presume). When I tried LdaMulticore with 3 or 7 workers, I only saw at most 2 cores working at 100%. The total hours for the model training is around 16 hours, which is a lot I think.

I have done some researches,

[2016-05-10 09:43] piskvorky commented on #695
Doesn't sound like iteration speed is the bottleneck then.

Not sure why it would max out at 2 cores... one I could understand (something went wrong with parallelization), but two is a strange number :)

Can you gist your log (DEBUG level) & paste the link here?

[2016-05-10 09:53] davidleo4313 commented on #695
Thanks for your response piskvorky. Could you please help me as how to get the log (DEBUG level)? Sorry I am new to this so if you could help, I will try and post it right away.

On the other hand, I tried to check the BLAS library with numpy.show_config() command and this is the result:

`lapack_info:
    libraries = ['lapack', 'lapack']
    library_dirs = ['/usr/lib64']
    language = f77
lapack

[2016-05-10 11:01] piskvorky commented on #695
BLAS would make some operations faster, but is not related to lack of parallelism in LdaMulticore.

[2016-05-10 17:00] davidleo4313 commented on #695
Please find the debug log here: [https://gist.github.com/davidleo4313/7e8ad26fcf6503a050033a3a40d87353](url)

As for only 2 cores running, below is the top 1 command:

Tasks: 154 total,   3 running, 146 sleeping,   5 stopped,   0 zombie
Cpu0  : 46.6%us,  0.7%sy,  0.0%ni, 52.7%id,  0.0%wa,  0.0%hi,  0.0%si,  0.0%st
Cpu1  : 81.5%us, 11.5%sy,  0.0%ni,  7.0%id,  0.0%wa,  0.0%hi,  0.0%si,  0.0%st
Cpu2

[2016-05-10 20:00] aaronpolhamus opened #696 "import gensim fails since updating to Xcode 7.3"
I just updated my version of Xcode to 7.3. When I run `pip install --upgrade gensim` the process completed without any issues. However, when I try `import gensim` within the python shell the terminal barfs a bunch of C++ output with a block of execution errors that begins with:

`Exception: Compilation failed (return status=1): clang: error: unsupported option '-b mi2'. clang: error: unsupported o

[2016-05-10 21:19] aaronpolhamus commented on #696
Updated to include a python trace of the error progression:

---------------------------------------------------------------------------
Exception                                 Traceback (most recent call last)
<ipython-input-1-0539d76422c6> in <module>()
----> 1 import gensim

/Users/aaronpolhamus/Documents/repos/gensim/gensim/__init__.py in <module>()
      4 """
      5
----> 6 from gensim im

[2016-05-10 21:40] aaronpolhamus commented on #696
Didn't anticipate that problems I was having in gensim would ultimately be related to theano, but calling `import theano` reproduced the error. Following the trace from `import gensim` you can see that's where the problem lies. Here's the steps I followed to debug.

    sudo pip uninstall theano
    sudo pip uninstall gensim
    sudo pip install --upgrade --no-deps git+git://github.com/Theano/Thea

[2016-05-11 00:38] piskvorky commented on #696
Yes, the ShardedCorpus, which is the only place where theano is imported, sometimes gives problems because of theano installation issues.

@tmylk when gensim install fails because of theano issues, can we somehow make it clearer that it's due to theano?

Or how about removing ShardedCorpus from `__init__`, so that it (and therefore theano) are not imported by default by `import gensim`? In other w

[2016-05-11 04:05] davidleo4313 commented on #695
Hi @piskvorky ,

I have attached the debug log & the top 1 command above. Could you please help to clarify the problem? Currently it takes 16 hours to train the model and it's a bit too long. Thanks in advance for your help.

[2016-05-11 04:17] piskvorky commented on #695
Thanks. The timestamps are missing from the log -- can you add `%(asctime)s` to your log format?

[2016-05-11 04:20] piskvorky commented on #695
But looking at the log, the number of features stands out. Do you really need 1 million features? What's really excessive for most applications, and will make your models larger (as well as slower to train).

[2016-05-11 05:19] dragonxlwang opened #697 "cbow cbow_mean?"
The code [Here](https://github.com/piskvorky/gensim/blob/develop/gensim/models/word2vec.py#L294):

[code]

Why average when ```not model.cbow```? I thought this should be ``model.cbow_mean`` instead.

Appreciate if someone can help me out.

[2016-05-11 06:41] gojomo commented on #697
This is the backprop step; in order for the correction to the summed vectors, in the non-mean case, to net-total to the right number, the error must be split over all the constituent summands. See also this recent thread: https://groups.google.com/d/msg/gensim/BtN7uB1vgpc/tlvkLXqzJwAJ (which would be a better place for further discussion/questions that aren't bugs/feature-requests).

[2016-05-11 07:07] dragonxlwang commented on #697
Hi, @gojomo  Thanks for pointing the thread.

I believe that this is a bug in the code (at least looks to me), which also appears in the word2vec code (actually at first I found suspicious about the Milokov's word2vec code, then I thought it might help if I check gensim's implementation...

Since I think this is a bug, I put my reason below here (sorry if you think I am abusing github):

1. ``neu1

[2016-05-11 07:25] dragonxlwang commented on #697
Another line of argument is (in your variables average case), if we are considering linear combination of variables ``w1 * x1 + w2 * x2 ... + w5 * x5``, and if not all ``w_i`` are equal, then it would be hard to generate your method of splitting anymore. However, multiplying each ``w_i`` would makes sense as it gives gradient direction.

[2016-05-11 09:48] davidleo4313 commented on #695
Thanks piskvorky. I have update the log with what you requested. Please find the link below

https://gist.github.com/davidleo4313/7e8ad26fcf6503a050033a3a40d87353

About features, is it the main reason? Because currently I only remove those token which appear less than 2 in each document, is this the reason why the feature is too large?

[2016-05-11 12:02] piskvorky commented on #695
Yes, the feature set size seems excessive. Unless you have a special reason not to, I'd suggest removing the most frequent and infrequent tokens with `filter_extremes`, e.g. `dictionary.filter_extremes(no_below=10, no_above=0.4, keep_n=5000)`.

This may be connected to the perceived lack of parallelism too.

From your log, it looks like a communication problem. A worker takes ~30 seconds to proces

[2016-05-11 16:14] gojomo commented on #697
Reopening to discuss.

My main thought is: when `model.cbow_mean` is False, `neu1e` is *not* "w.r.t the average of context words' `syn0`". The word-vectors were *summed* during the forward-propagation. So `neu1e` is with-regard-to their sum, and so any reasoning which discusses the 'average' is wrong (and only applies to the case where `model.cbow_mean` is True).

I would suggest:

* compose the p

[2016-05-11 16:25] dragonxlwang commented on #697
Thanks for reopening.

While, what I said above is mainly for the case when ``model.cbow_mean`` is  true.

If ``model.cbow_mean`` is false, however, currently the code would split the ``neu1e``, however, IMHO, this is not needed (nor should).

Haven't played with gensim yet. I will try it and see if it makes a difference.

[2016-05-12 09:39] Tesfamariam opened #698 "TypeError: a bytes-like object is required, not 'str'"
I am trying to implement dynamic topic modeling with python Anaconda 3.4 distribution on Linux OS.However, I am having the following error:
TypeError: a bytes-like object is required, not 'str'
Any idea how I could solve this problem?

[2016-05-12 15:49] davidleo4313 commented on #695
Hi @piskvorky ,

I have updated the features and the filter_extremes (37k features) in my corpus and dictionary as you suggested. However the result seems not different than before. Here's the link for the new log (please note that I have updated it to 7 workers)

https://gist.github.com/davidleo4313/fe85fc84de0f25ef289784e28384582f

Top 1 shell command linux showed the same results, only 200% CPU

[2016-05-13 04:05] gojomo commented on #698
The issue tracker is for bugs/feature-requests, not support questions – those are better handled at the project discussion list: https://groups.google.com/forum/#!forum/gensim

And, you'd have to provide a lot more context/code/logging-info for us to have any idea what line of your code is triggering that error. So if you ask on the list, please better describe what you're trying to accomplish, an

[2016-05-13 04:37] piskvorky commented on #698
Sounds like a bug report... but very incomplete.

@Tesfamariam, please review the [contributing guide](https://github.com/piskvorky/gensim/blob/develop/CONTRIBUTING.md). Add relevant information so we know what you're talking about.

[2016-05-14 13:04] gxyEPFL commented on #198
if already have theano installed, it may fail import interfaces.py. Use anaconda and pip uninstall theano and reinstall gensim, could solve the problem

[2016-05-14 18:04] bloody76 commented on #692
What about just checking the type of the argument passed ? I can imagine at the beginning of `train_document_*` functions something like:

[code]

[2016-05-16 18:51] Diyago commented on #530
What about solution on windows?

[2016-05-18 08:05] tmylk opened #701 "LDA: Increasing perplexity with increased no. of topics on small documents"
From the mailing list [here](https://groups.google.com/d/msg/gensim/SV0_XS-z148/q4dSE4_AKQAJ) and [here](https://groups.google.com/d/msg/gensim/SV0_XS-z148/q4dSE4_AKQAJ) and [here](https://groups.google.com/d/msg/gensim/h7rXcBWhSoI/LBG0OTp9nlgJ) and [here](https://groups.google.com/d/msg/gensim/Q6M6nwLzvUU/MvWjc1rH5OYJ)

In theory, a model with more topics is more expressive so should fit better.

[2016-05-18 15:13] Tesfamariam commented on #698
Sorry for the incomplete information! Sample dataset:
['lecture', 'notes', 'edited', 'goos', 'hartmanis', 'van', 'leeuwen', 'berlin', 'heidelberg', 'york', 'barcelona', 'hong', 'kong', 'london', 'milan', 'paris', 'singapore', 'tokyo', 'vassil', 'alexandrov', 'jack', 'dongarra', 'benjoe', 'juliano', 'renner', 'kenneth', 'tan', 'eds', 'san', 'francisco', 'usa', 'proceedings', 'volume', 'editors', 'v

[2016-05-18 15:32] #667 closed

[2016-05-18 15:33] tmylk commented on #667
Fixed in #681

[2016-05-18 18:33] bhargavvader opened #703 "Error details in wrappers."
Since all of the wrappers use `check_output` to run on command line, if an error does occur, there is no information apart from `subprocess.CalledProcessError` error message. The user must manually run the command on shell again to figure out what's wrong in these cases.

There should ideally be a way for the user to know what the exact nature of the error is, or at least be given instructions on

[2016-05-19 03:43] piskvorky commented on #703
Good idea!

[2016-05-19 10:16] tmylk commented on #698
Ping @bhargavvader

[2016-05-19 14:20] misguju commented on #530
please if there is other solution for window users for importError "cannot import name corpora"

[2016-05-19 23:26] piskvorky commented on #530
@tmylk is this a problem with anaconda again?

We'll have to detect this explicitly and give users more concrete warning & fix instructions, it keeps coming up.

[2016-05-20 11:33] misguju commented on #530
@Balachandhar777 when  I type "source venv/bin/activate" command it this error  'source' is not recognized as an internal or external command, operable program or batch file. solution????
under which directory should I type the command?

[2016-05-20 21:15] dsquareindia commented on #692
Just had a small doubt here: Should I be making an __init__(self, *args, **kwargs) for TaggedDocument to raise those warnings?

[2016-05-22 02:07] souravsingh commented on #639
I would like to work on the issue. How do I start?

[2016-05-22 09:39] midnightradio commented on #530
@misguju The command mentioned by Balachandhar777 for activating virtualenv or '.' you probably meet by googling for the same functionality only works on Unix shell environment but you are playing with Windows. Better to find Windows way with activating virtualenv, I'm not sure if there's any though. I would rather focus on finding root cause of the problem than trying if virtualenv solves it.

[2016-05-23 20:21] tmylk commented on #639
@souravsingh Thanks a lot for stepping up!

The task is to contribute a PR to this repo https://github.com/matthew-brett/manylinux-builds

You can use this [build](https://github.com/matthew-brett/manylinux-builds/blob/master/build_sklearns.sh) as a template. Also the [gensim on OSX](https://github.com/MacPython/gensim-wheels) repo might be relevant.

[2016-05-24 11:03] tmylk commented on #530
@misguju could you tell us more about the issue?  are you using anaconda? What is the error message that you are getting? Have you tried a virtual environment instead of anaconda?

[2016-05-25 19:08] tmylk commented on #661
Fixed in #702

[2016-05-25 19:08] #661 closed

[2016-05-26 19:59] mmroden commented on #532
I've looked further into this, and I think I have a potential solution (sorry for the delay, but, you know, life).

I'm seeing a single core being used when the number of sentences is near to the number of labels; that is, if I have 25k sentences and 10k labels, that uses one core.  But!  If I have 160k sentences and 1k labels, that uses all cores.

So this:

    10737 unique tags from a corpus of

[2016-05-27 03:17] piskvorky commented on #532
Interesting finding and good question, @mmroden! @gojomo ideas?

[2016-05-27 14:10] silentsnooc commented on #680
Hi! Sorry for the late reply but I didn't have time to investigate further.

So.. The thing is that if I use pre-trained word vectors e.g. by intersecting the set of pre-trained words with the vocabulary given in the corpus then I'd expect much better document vectors than if I just use the randomly initialized vectors from Doc2Vec.

I can actually test that and write down the results if you like.

[2016-05-27 14:13] dsquareindia opened #709 "nosetest failing on develop"
One test is failing on my local machine in the develop branch. It is up to date with upstream/develop. I'm using ubuntu linux. Here's the traceback:
[code]

[2016-05-27 15:52] tmylk commented on #709
Could you please post the pip freeze output as well?
On 27 May 2016 08:07, "Radim Řehůřek" <notifications@github.com> wrote:

[2016-05-27 17:10] dsquareindia commented on #709
@tmylk here's the output:
[code]

[2016-05-27 21:56] tmylk commented on #693
Fixed at pypi

[2016-05-27 22:01] tmylk commented on #698
@bhargavvader Do you have any thoughts on this?

[2016-05-28 02:19] piskvorky commented on #693
@tmylk I suggest we remove / comment out the "PyPI downloads" badge, until this is resolved.

Right now, it just looks weird and serves no purpose.

[2016-05-28 17:38] bhargavvader commented on #698
@tmylk will have a look.

[2016-05-30 05:09] vanechu opened #712 "How to obtain log_loss(or loss) of each iteration in skip-gram?"
Is there any way to output the loss value or some "verbose" option in training process? Thanks!

[2016-05-30 09:53] ankit-cliqz opened #713 "Scaling up Doc2Vec using Spark"
Is there a way to scale up doc2vec gensim implementation using pypark? I have looked at word2vec implementation using deepdist (http://deepdist.com/). Is it as straight forward as replacing the word2vec implementation using standard gensim doc2vec? Are there any examples, which I may refer to?

[2016-05-31 06:57] bhargavvader commented on #683
@piskvorky , we use VB, right? So a word type in a sentence will get only one topic (or _one_ distribution of likely topics)? For e.g, if the sentence is `the financial bank is by the river bank`, and there are two topics (one to do with financial banks, other with river banks), the word `bank`, since it's in a bow format, will be given only one list of likely topics, right?

What I intend to conf

[2016-05-31 07:07] piskvorky commented on #683
Yes, VB works over word types, it doesn't sample topics for individual words.

[2016-05-31 09:56] bhargavvader commented on #683
Cool. I think #704 is going in the right direction then.

[2016-06-01 01:16] tmylk opened #714 "Change word2vec default to avoid lowercasing"
Make default `model.accuracy("file", use_lowercase=False)`.
to fix the [mailing list question](https://groups.google.com/d/msg/gensim/Zq-ZAutQdF8/ORbw1KKBBAAJ)

See related PR https://github.com/piskvorky/gensim/pull/607

[2016-06-01 02:56] gojomo commented on #714
Even though this fixes things for the case of loading the GoogleNews vectors, I'm not sure this will improve things other common cases – people often lowercase their training data.

[2016-06-01 03:21] piskvorky commented on #714
What does the C tool do, these days? Let's emulate that.

[2016-06-01 14:52] dsquareindia commented on #69
can this be closed?

[2016-06-01 19:46] #69 closed

[2016-06-01 22:15] tinayliu opened #715 "Got AssertionError with Doc2Vec"
Hi,

I got AssertionError when running the following code snippet to train a doc2vec model.

from gensim.models.doc2vec import Doc2Vec, TaggedDocument

[code]

The outputs from above code:

[code]

Any help is greatly appreciated.

Thanks,
Tina

[2016-06-01 23:04] piskvorky commented on #69
Thanks a lot @dsquareindia !

Successfully closing a ticket from 2011, that's really rare :D Great job.

[2016-06-01 23:42] gojomo commented on #715
Probably caused by 32bit Python: 3+ trillion word corpus whose sampling-splits can't be stored in 32bit int cum_table array. See my forum post: https://groups.google.com/d/msg/gensim/AHRrlnZPYbg/1LmXkTvPOwAJ

We could potentially give a better error message - but in general working with this size corpus (or any large word2vec/doc2vec models) will require 64bit Python.

[2016-06-02 20:06] bartjkdp opened #717 "Getting started datasets"
The [tutorial dataset](http://radimrehurek.com/gensim/tut1.html) is rather small and the [Wikipedia dataset](http://download.wikimedia.org/enwiki/) is rather large. It would be nice to provide some datasets that are somewhere in between to help people getting started.

We could also provide a nice interface to download these datasets, similar to [scikit-learn](http://scikit-learn.org/stable/datase

[2016-06-02 22:50] tinayliu commented on #715
Hi Gordon,

Thank you for the quick reply.

I was already using 64-bits python.
$ python -c 'import struct;print( 8 * struct.calcsize("P"))'
64

I got the same error with a much smaller dataset.

2016-06-02 22:01:50,244 : MainThread : INFO : collecting all words and their counts
2016-06-02 22:01:50,245 : MainThread : INFO : PROGRESS: at example #0, processed 0 words (0/s), 0 word types, 0 tags
201

[2016-06-02 23:41] gojomo commented on #715
Hmm.

I don't recall a specific fix, but I would definitely try the latest released version. Note, though, that in the latest version you may need to explicitly state `hs=1` to cause simultaneous HS & negative-sampling training, to match what you're currently doing. (It's not typical to use both simultaneously, but it should still work.)

Could you print the value of `cum_table[-1]` after the erro

[2016-06-04 03:00] graychan commented on #683
I am a user of Gensim and need to compute {P(t|w), for any t and w where t is a topic and w is a word}. I took a look at the commit for #704 and saw that only topic index was returned in word_phi.

I wonder if you can also return phi_values that are, based on my shallow understanding the probabilities.

Thanks a lot.

[2016-06-04 05:56] bhargavvader commented on #683
Hey @graychan , I've been going back and forth with the idea of the amount of information I should return for this API... The current version of the PR I decided to return only the `topic_id`s because the phi_values are not exactly the probabilities, they are also scaled by `feature_weight`. That being said, the `phi_values` still gives a decent idea of the word-topic proportions though, so we cou

[2016-06-04 15:08] graychan commented on #683
Hey @bhargavvader, Thanks a lot for the quick reply.

I did notice that from the [source code](https://github.com/bhargavvader/gensim/blob/develop/gensim/models/ldamodel.py#L468) that phi_{dwk} is multiplied by n_{dw}. Forgive my ignorance, and could you please help me understand where phi_{dwk} is scaled by feature_weight in the code?

Thanks a million.

[2016-06-05 11:34] bhargavvader commented on #683
I'll need to dig around to find it out myself... But in the mean time, for a small example to maybe explain what goes on:

(assume a model is trained based on the corpus provided in notebook of #704)
if the bag of words is `('river', 'water')`  the `phi` value for `river` returned by `inference` for `topic_0` is `0.94561538`, and if you add another `river` in there, the bag of words `('river', 'wa

[2016-06-06 12:22] piskvorky commented on #695
Hi @davidleo4313 , I see the same thing in this log too.

Processing a chunk of 2,000 documents is pretty fast (~5s), but getting that chunk to the worker in the first place is super slow (~30s, the difference between "getting a new job" and "processing chunk" log lines).

That's very unusual and probably the root cause of the other issues, like the lack of parallelism. So I'd start debugging ther

[2016-06-06 22:40] gojomo commented on #714
A quick glance suggests compute-accuracy.c in the original package force-uppercases for all string-comparisons, with the effect that they count the analogy as 'correct' if the closest-word is any of the potentially case-varied versions in the vocabulary. Unfortunately, the `use_lowercase` parameter forced in either way doesn't quite emulate that behavior – the comparison of `predicted` & `expected

[2016-06-07 04:27] vampire1306 opened #737 "LDA and LSI consume so much RAM then makes my PC freeze"
Here is my gensim info:

Metadata-Version: 1.1
Name: gensim
Version: 0.12.4

number of docs in raw data: 10000
Raw data file size on disk: 59959967 bytes (59.96 Mb)
++++++++++++++++++++++++++++++++++
number of postID in list post ID file: 10000
Post ID file size on disk: 133709 bytes (0.13 Mb)
++++++++++++++++++++++++++++++++++
begin to load dictionary
loading dictionary runtime: 0.222123 seconds

[2016-06-07 14:46] tmylk commented on #737
Hi @vampire1306. This is very odd.
 Have you managed to successfully run the LDA tutorial as in https://github.com/piskvorky/gensim/blob/develop/docs/notebooks/Topics_and_Transformations.ipynb ?

Do you get any errors or exceptions in the log?

[2016-06-07 15:59] gojomo commented on #737
Also: What OS and how much RAM is available? What Python version?

[2016-06-07 16:43] graychan commented on #683
@bhargavvader, thanks a lot for your quick reply.

I did observe that phi values were scaled by word count in the Gensim source code and in my experiments. However, when I read the discussions among you, @tmylk, and @piskvorky , I got the impression that word count and feature weight were two different concepts, for instance, I saw @tmylk state [here](https://github.com/piskvorky/gensim/pull/704),

[2016-06-08 02:23] vampire1306 commented on #737
I update result of LSI first.
System Info:

Test with LSI:

Here's the log:

I run LSI successfully and but it takes 910 seconds (15 minutes) to handle 5000 documents.

[2016-06-08 02:35] vampire1306 commented on #737
Test with LDA:

Here's the log:
2016-06-08 09:27:36,094 : INFO : accepted corpus with 5000 documents, 58032 features, 1044099 non-zero entries
loading testing corpus runtime: 0.006650 seconds

[2016-06-08 04:45] vampire1306 commented on #737
I try to test LDA on Ubuntu's terminal mode.
The corpus is of 100.000 documents.
It consumes up to 7.5 Gb Ram, then throw Memory exception.
The demo in the docs, it is said that the data includes 3931787 documents.

The LDA test  with corpus of 10.000 is successful (no exception)

[2016-06-08 09:32] piskvorky commented on #714
OK, let's do that.

I'll leave this issue open with the `easy` label.

[2016-06-08 16:37] tinayliu commented on #715
Hi Gordon,

I got the same error with the latest gensim. The value of cum_table[-1] is '2147483648' right before the assertion.

Thanks,
Tina

[2016-06-08 16:53] graychan commented on #683
@bhargavvader , Thanks for your quick reply.

[2016-06-08 18:53] gojomo commented on #715
Aha. So the value which is expected to be (2**31 - 1) is instead 2**31. I suspect there's a bit of floating-point imprecision which only comes into play for certain corpus sizes – maybe extra-large ones, maybe those of particular distributions, maybe (less likely) on just some OS/python/CPU combos.

Not yet sure of the right fix.

@tinayliu - for my curiosity, what are the 'word types', 'unique ta

[2016-06-08 23:02] tinayliu commented on #715
Gordon,

The last few lines in the logging are:

collected 11982321 word types and 870629 unique tags from a corpus of 870953 examples and 557688958 words
min_count=1 retains 11982321 unique words (drops 0)
min_count leaves 557688958 word corpus (100% of original 557688958)
deleting the raw counts dictionary of 11982321 items
sample=0.001 downsamples 25 most-common words
downsampling leaves estima

[2016-06-09 00:52] tmylk commented on #683
It is a very important point by @graychan . We have to emphasize it clearly in docstring when we return `phi` in #704 that it is `multiplied by word count`

[2016-06-09 01:43] piskvorky commented on #683
...or, more generally, by the feature weight, in case someone submits tfidf vectors rather than plain bow word counts to LDA.

@bhargavvader @tmylk have you verified the `phi` topic sorting to get the "top topic" is correct, in the face of this feature weight scaling?

[2016-06-09 01:44] piskvorky commented on #683
Actually, that shouldn't matter, since all topics will be scaled by the same feature weight, for the particular feature, right?

[2016-06-09 04:40] piskvorky commented on #693
@tmylk ping. All the other badges seem broken too at the moment, not sure what's going on.

[2016-06-09 07:14] bhargavvader commented on #683
@tmylk , I'll make sure to add information about this.
@piskvorky , you are right, it doesn't matter - we are comparing among topics and they will all be scaled similarly.

[2016-06-09 12:38] graychan commented on #683
@bhargavvader ,@tmylk, and @piskvorky , thanks a lot for the clarification and quick reply.

Eariler, @bhargavvader pointed out,

So, can [get_document_topics(...)](https://github.com/bhargavvader/gensim/blob/0371aae00b729abe5e902a4fe2f1d74baeaedae6/gensim/models/ldamodel.py#L886)  be revised to return phi_values then? If two parameters `per_word_topics` and `per_word_phi_values` are too bloated,

[2016-06-09 12:48] bhargavvader commented on #683
@graychan , I just revised `get_document_topics` to return both sorted topics as well as `phi_values` if `per_word_topics` is true.

Do have a look at the notebook [tutorial](https://github.com/bhargavvader/gensim/blob/f5b38f2e334d815dd9efd1dcf542c1f5a414de6c/docs/notebooks/topic_methods.ipynb) - I've explained the new return format there. You can also follow the conversation at #704.

[2016-06-10 04:17] tmylk opened #740 "testGetDocumentTopics and testTermTopics fail in Appveyor and OSX in MultiCoreLDA"
See comments in https://github.com/piskvorky/gensim/pull/656 for details.

it is blocking the 0.13.0rc1 from becoming a release.

[2016-06-10 05:27] bhargavvader commented on #740
Do you mean #704 ?
It's weird that this is happening - it worked fine before. PR #741 addresses (hopefully!) `testGetDocumentTopics`, I'll open a PR to deal with `testTermTopics`.

[2016-06-12 09:00] bhargavvader commented on #740
@tmylk , any luck with this?

[2016-06-13 07:57] windj007 commented on #400
This night I realized that the dictionary building is very fast (faster than the variant with PreshCounter). The slow part is dictionary pruning (the procedure of removing words with counter of 1). If the number of unique tokens grows too fast, the dictionary is pruned on nearly every doc. To overcome this, it's better to remove all numbers, URLs and other special tokens from the corpus, e.g. by r

[2016-06-14 15:55] smagnan opened #743 "Word2vec n_similarity returning numpy matrix instead of float with empty list"
I don't know if this should be seen as a bug or not, but it the case where we give **at least an empty list** to `n_similarity` is not handled. (The result is not surprising tho)
[code]
I would have expected that to raise an exception but maybe it is not what was intended ...

Source code is rather simple:
[code]

[2016-06-14 17:54] tinayliu commented on #715
Gordon,

I can provide the data that caused the assertion for you to debug. The data file is 1.2G after compressed. if you are interested in it, please let me know how I send it to you.

Thanks,
Tina

[2016-06-14 21:02] boomsbloom commented on #698
Just a +1 -- also having this error.

[2016-06-15 00:56] piskvorky commented on #743
Yes, good catch. This is numpy trying to be clever and issuing a warning, instead of a normal exception for division by zero.

I agree that this is unintuitive, and we should detect this and raise an exception ourselves. Is `ZeroDivisionError` what you would have expected, @smagnan ?

[2016-06-15 06:14] piskvorky commented on #693
@tmylk PyPI still displays the download stats, even though the rc1 should have them already removed?

**Fix before the full release** -- we don't want to be displaying `0 downloads/month`, that's just silly.

[2016-06-15 09:01] duongtrung commented on #198
I am using windows, anaconda3. Here is the error:

Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\theano\gof\lazylinker_c.py", line 65, in <module>
    raise ImportError()
ImportError

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anaconda3\lib\site-packages\theano\gof\lazylinker_c.py", line 82, in <mod

[2016-06-15 18:10] boomsbloom commented on #698
`with utils.smart_open(self.ftimeslices(), 'wb') as fout:`
to
`with utils.smart_open(self.ftimeslices(), 'w') as fout:`

as in: http://stackoverflow.com/questions/34283178/typeerror-a-bytes-like-object-is-required-not-str-in-python-and-csv

[2016-06-16 00:53] piskvorky commented on #698
@boomsbloom that is not a good idea as `w` mode behaves differently on Windows.

Proper solution is to open in binary mode and store binary strings.

[2016-06-16 14:40] yih108 opened #744 "Is there a way to make word2vec result relatively deterministic?"
so every time word2vec is ran on the same corpus, the output vectors are slightly. is there a way to fix the output? or at least have categories of words (e.g. countries, cities, states, capitals, etc) always be in a certain area after embedding? right now every time word2vec is ran, the same categories of words are in different locations in the feature space, even though their relative cosine dis

[2016-06-16 17:53] gojomo commented on #744
Some notes on forcing a deterministic result are available in the forum post at <https://groups.google.com/forum/#!msg/gensim/7eiwqfhAbhs/qC0pmbw5HwAJ>. But note that among other things, any use of threading (which speeds training a lot in multicore systems) introduces random ordering and thus nondeterminism in final positions. (In all cases with sufficient data/iterations, though, relative differ

[2016-06-17 02:43] MingJiaAn opened #745 "In the model of DBOW,why didn't use the concatenation or mean of the paragraph vector with the word vectors to predict other words in a text window."
@gojomo ,Hi~gojomo ,i'm a novice of doc2vec,my understanding for DBOW of doc2vec is not very good.
In the model of DBOW,why didn't use the concatenation or mean of the paragraph vector with the word vectors to predict other words in a text window? I think it maybe add more semantics information to the paragraph vector.

[2016-06-17 16:15] gojomo commented on #745
Hi, @MingJiaAn. The project forum at https://groups.google.com/forum/#!forum/gensim is a better place for open-ended discussions/suggestions about the library. These issues are intended for specific bugs and feature-requests.

(With regard to your question: the original ['Paragraph Vectors' paper](https://arxiv.org/abs/1405.4053) defines PV-DBOW as only using the overall paragraph-vector to predic

[2016-06-17 16:15] #745 closed

[2016-06-17 16:38] yih108 commented on #744
thanks for all the information! i will take a look at the links you sent!

[2016-06-18 00:49] #744 closed

[2016-06-18 00:50] piskvorky commented on #744
@yih108 in case you have further questions, please use our mailing list:
https://github.com/RaRe-Technologies/gensim/blob/develop/CONTRIBUTING.md

[2016-06-18 06:13] piskvorky opened #746 "Link to common datasets"
There's a bunch of datasets and even trained models, that are suitable as gensim input.

Collect them and create and promote a page that links to these resources.

Example:
- GloVe vectors by NLP stanford: http://nlp.stanford.edu/data/glove.840B.300d.zip
- various LSI/LDA/word2vec models trained on Wikipedia (I think I saw English, German, Spanish)

[2016-06-20 14:59] pbellon opened #747 "Attribute naming inconsistency between HdpModel and LdaModel"
When using `model.show_topics` on these two different models there is an inconsistency between parameters names:
- In `LdaModel` we can see `num_topics`, `num_words`
- where in `HdpModel` those attributes are written `topics` and `topn`.

[2016-06-21 23:29] tmylk commented on #743
@smagnan Ping - is it ok if we implement `ZeroDivisionError` exception here? Or is there a better way?

[2016-06-22 03:58] bhargavvader commented on #64
@piskvorky , @tmylk , can this issue be closed now?

[2016-06-22 03:59] bhargavvader commented on #683
@tmylk , @piskvorky , can we close this issue?

[2016-06-22 04:03] bhargavvader commented on #740
@tmylk , has this been resolved?

[2016-06-22 07:42] smagnan commented on #743
Sorry for the delay to reply, I planned to do a patch at first but then forgot about it... Yes I guess a `ZeroDivisionError` is what I would have expected, or a specific `ValueError`. I am no python expert so I'm not sure about what's best: a custom error or a generic one

[2016-06-23 09:54] bhargavvader commented on #698
@piskvorky , could you elaborate a bit on your proposed solution? I tried poking around but am not too sure how to fix this.

[2016-06-23 09:56] bhargavvader commented on #683
Am closing this issue as all PRs to do with this are merged. Feel free to re-open if something comes up.

[2016-06-23 09:56] #683 closed

[2016-06-23 12:14] piskvorky commented on #698
I meant simply opening files in binary mode (`rb` or `wb`) and then storing binary strings into it. So, if the input is unicode, convert to e.g. utf8 (see `gensim.utils.to_utf8()`).

I am not familiar with this particular issue though, maybe it's something different. What is the actual problem, why are we storing unicode strings into binary files?

[2016-06-24 15:29] sauravbiswasiupr opened #752 "Getting the LSI vector representation for an arbitrary chunk of text."
Hi,
I was playing around with gensim a bit in order to get the LSI based vector representation from a chunk of text passed to the model. Currently one can do it for documents that are already in the index via a vec_by_id function. There seems to be no support for something like vec_by_text(text), or atleast I couldn't find it. Could someone provide some reference in this direction?

[2016-06-24 21:36] BoPengGit commented on #288
Did anyone solve this problem, and if so can you print the solution code?

Thank you.

[2016-06-25 00:28] #113 closed

[2016-06-27 11:05] adamcavendish opened #757 "Out of bound error when doing lda_mode.update()"
I got an error when calling `LdaModel.update(corpus)`.

My code's logic is:

[code]

But I got the following error. I wonder what is the correct way of updating LDA model. Is it because that I might have update my id2word dictionary?

[code]

[2016-06-27 13:34] sauravbiswasiupr commented on #752
Hi all,
Apologies as I had not investigated the issue in depth. Seems that one can easily get it for some sample text by using sth like:

index.stable.model.doc2vec({"tokens": gensim.utils.simple_preprocess(text_chunk)})

[2016-06-27 13:34] #752 closed

[2016-06-27 15:09] tmylk commented on #698
Ping @bhargavvader

[2016-06-28 02:37] document-distillery opened #759 "Inconsistent behavior between 0.12.1 and 0.12.3"
I'm running LdaMulticore on ~500k line corpus. On my laptop (gensim 0.12.3 installed), with 7 workers it uses about 1GB per worker and 2.5GB on the driver. When I move this to a hadoop cluster and run the same code with 7 workers (using a shell action in an oozie workflow) the memory blows out the YARN container with a whopping 80GB memory footprint. The hadoop cluster is running version 0.12.1.

[2016-06-28 07:21] iCoolchar opened #760 "questions-words.txt not available in google code repository"
in this file
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py
line 1567

the file mentioned in the comment is not available
I found one in
https://github.com/arfon/word2vec/blob/master/questions-words.txt
But I don't know if it's official, maybe you should update the comment to refer to a stable one.

Thanks!

[2016-06-28 23:16] tmylk commented on #760
Thanks. Fixed.
The official one is linked in our [tutorial](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/word2vec.ipynb) to  https://storage.googleapis.com/google-code-archive-source/v2/code.google.com/word2vec/source-archive.zip

[2016-06-28 23:16] #760 closed

[2016-06-28 23:19] tmylk commented on #759
@document-distillery There have been changes to LDA in 0.12.2 and 0.12.3 See [CHANGELOG](https://github.com/RaRe-Technologies/gensim/blob/develop/CHANGELOG.md)

Could you please run 0.12.3 on Hadoop and see if it is better?

If it is still using a lot of RAM then a log and code would be helpful. Thanks

[2016-06-28 23:22] tmylk commented on #757
Please see a [similar issue](https://groups.google.com/d/msg/gensim/T0GMxE7YZqM/7rY-sxwaMAAJ) raised on our mailing list.
If you have any more questions then please reply to that mailing list thread.
Hope it clarifies your concern!

[2016-06-28 23:22] #757 closed

[2016-06-28 23:23] tmylk commented on #747
Fixed in https://github.com/RaRe-Technologies/gensim/pull/755

[2016-06-28 23:23] #747 closed

[2016-06-29 19:32] tmylk opened #764 "MalletWrapper load_word_topics() to return value"
load_word_topics() doesn't return anything but stores the word topics internally in self.wordtopics.

It shouldn't set internal vars, but rather return the result to the caller (train), who should then assign it to internal object attributes.

https://github.com/RaRe-Technologies/gensim/commit/db70d04c650633cf2d1c0735c3cbd60cc3b36d77#commitcomment-18054588

[2016-06-29 21:27] masscognition opened #765 "LDA u_mass coherence calculation triggers numpy deprecation warning"
Using Python 2.7.11, latest gensim , latest numpy.

Line 41 of segmentation.py:

for w_star in top_words[:w_prime_index]:

triggers this warning from numpy:

DeprecationWarning: converting an array with ndim > 0 to an index will result in an error in the future

fix is to cast w_prime_index to int

Also via Devashish:

"the comment right next to

w_prime_index = np.where(top_words == w_prime)[0] s

[2016-06-30 02:29] dsquareindia commented on #765
Thanks for raising this issue! Would you mind raising a PR fix for this? You can follow a workflow similar to that given here: http://scikit-learn.org/stable/developers/contributing.html#contributing-code. Would be happy to help if you encounter any problems.

[2016-06-30 05:16] bhargavvader commented on #764
I'll take this up.

[2016-06-30 13:50] panamantis commented on #746
Here's another resource.  I'm still looking for a doc2vec
https://github.com/3Top/word2vec-api#where-to-get-a-pretrained-models

[2016-07-01 10:55] bhargavvader commented on #698
@Tesfamariam , do have a look at the PR, it will fix the problem.
I think this issue can be closed now.

[2016-07-01 16:25] tmylk commented on #698
Fixed in #768

[2016-07-01 16:25] #698 closed

[2016-07-02 09:36] bhargavvader opened #769 "Usage of topn in dtmmodel breaks print_topics and show_topics."
After #755 was merged, `topn` was changed to be `num_words`, but because this was not changed everywhere (line [283](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/dtmmodel.py#L283), line [300](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/dtmmodel.py#L300)) it would throw up `NameError: name 'topn' is not defined` whenever `self.p

[2016-07-02 12:31] piskvorky commented on #769
@tmylk how do you review these PRs before merging?

There are too many errors, we cannot merge code so carelessly.

[2016-07-02 12:52] bhargavvader commented on #769
No, this was after that in 0.13.2.
I noticed it because when I was testing the #768 solution, `print_topics` was failing.

[2016-07-03 13:08] bhashithe commented on #567
Hello,
Sorry for posting after even you have created the FAQ.
I trained a model with tweets which had some  undecodable unicode characters. When i train it and try querying the model with similarity and doesnt_match it works well enough.

Saving the model and opening it generates the problem discussed here, even with the unicode_errors='ignore' flag.

I checked whether sys.setdefaultencoding('utf8

[2016-07-04 00:07] gojomo commented on #567
The `unicode_errors='ignore'` option should make it impossible for the exact same error to occur; perhaps you're getting some other very-similar error?

What does your code do, exactly, and what error stack are you receiving, exactly?

Also if you are in fact training your own model rather than reusing someone else's, what makes you prefer to use 'save_word2vec_format()` and `load_word2vec_format(

[2016-07-04 02:11] bhashithe commented on #567
Hello @gojomo thank you for replying fast.
I have used save() to save the model and load_word2vec_format() to load the model. Thats where the problem was.
I am just experimenting with Machine Learning and NLP, thats why I had my own word embeddings. If i want to use word embeddings in an actual scenario i will use one which is already trained.

Thank you very much for pointing out the native save

[2016-07-04 13:00] piskvorky opened #773 "Add "release" badge"
How about adding a README badge to display the latest release version?

https://img.shields.io/github/release/rare-technologies/gensim.svg

[2016-07-05 14:48] gojomo commented on #567
It's very reasonable to do your own training – if you have enough data, it's often better than using someone else's vectors trained on less-relevant text! Glad to hear it was just a matter of using mismatched save/load formats.

[2016-07-06 07:27] tmylk commented on #665
Nice meeting you again yesterday. I will put this algo on our student page.

[2016-07-07 08:21] ankeshanand opened #775 "word2vec: Using google news vectors for online training"
I need to perform some online training on top of a pre-trained word vectors. I was planning to use the Google News vectors but it's available in the binary format and according to http://rare-technologies.com/word2vec-tutorial/, I can't use the `load_word2vec_format()`.

Is there any other way to build a model with pre-trained vectors and then perform online earning over more sentences?

Note: For

[2016-07-07 15:04] PeteBleackley commented on #665
I'll be happy to advise any student who takes this project on.

[2016-07-08 05:55] yutarochan commented on #449
I'd like to help contribute a PR for this. For implementation with the GPU, what sort of dependency constraints or preferences do you have?

So far, libraries we can potentially use to implement the GPU versions are:
* Gnumpy
* PyCUDA & PyOpenCL
* NumbaPro
* Theano

Although I already have an implementation for Theano, but I was wondering whether there were specific types of preferences you have i

[2016-07-08 15:59] tmylk commented on #449
@yutarochan Thanks for your interest. There has been an implemenation in Keras - would really appreciate if you could evaluate it and tell us what you think.
https://github.com/niitsuma/word2vec-keras-in-gensim

[2016-07-12 08:23] xchangcheng opened #785 "AttributeError: 'Doc2Vec' object has no attribute 'syn0' when call infer_vector"
I trained a model with the corpus, and saved it to the disk by:
mode.save(filename)

Then I load the model and try to call the 'infer_vector' to calculate the vector of a new sentence by:
model = Doc2Vec.load(filename)
words = ['This', 'is', 'an', 'example']
model.infer_vector(words)

However, I get an exception as:
AttributeError: 'Doc2Vec' object has no attribute 'syn0'

How can I fixed this? Th

[2016-07-12 09:49] piskvorky commented on #785
@xchangcheng can you explain your fix / reason for closing? Other people may google up this issue in the future.

[2016-07-12 09:56] xchangcheng commented on #785
@piskvorky  Sorry for closing it before.

As in the https://github.com/RaRe-Technologies/gensim/issues/483, I found that when I tried to load my model, I haven't loaded syn0 & syn1 successfully. I think the model I have trained before may have some problems.

So I retrained it and the problem gone. The following may be the output for a successful loading :)

2016-07-12 17:22:28,782 - gensim.utils

[2016-07-13 06:07] vsuriya93 opened #787 "TypeError: cannot concatenate 'str' and 'int' objects"
Hi, I am trying to build a word2vec model. When I am calling

model=Word2Vec(sentences,min_count=1)

It gives the following error.

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-19-d892adca4bd3> in <module>()
----> 1 model=Word2Vec(sentences,min_count=1)

/usr/local/lib/python2.

[2016-07-13 07:01] misguju commented on #530
@tmylk Yes I'm using anaconda specifically Jupyter Notebook. the error I got is importError "cannot import name similarity. I did not tried  virtual environment

[2016-07-13 11:28] piskvorky commented on #787
[code]

I don't see any such line in gensim. Please follow the bug-reporting-process from our [CONTRIBUTING.md guide](https://github.com/RaRe-Technologies/gensim/blob/develop/CONTRIBUTING.md).

[2016-07-13 12:33] misguju commented on #530
@tmylk now it is ok with anaconda specifically Jupyter Notebook. sorry it has no problem but I imported similarity instead of similarities. that is spelling error

[2016-07-13 16:18] gojomo opened #789 "Doc2Vec.DocvecsArray.doctag_syn0norm not ignored in save()"
Unlike with Word2Vec.syn0norm, oversized `doctag_syn0norm` arrays aren't ignored during native `save()`. As a result, even if they're a shared-reference to `doctag_syn0` after an `init_sims(replace=True)`, both `doctag_syn0` and `doctag_syn0norm` will be written and then read back in, using more storage/RAM than necessary. (See https://groups.google.com/d/msg/gensim/fCcHoZCyV3M/djEZgNWEAAAJ )

[2016-07-13 19:22] ankeshanand commented on #775
Bumping the issue.

[2016-07-13 23:59] gojomo commented on #775
Gensim's Word2Vec class will load vectors from the Google tool, including the 3M GoogleNews vectors, just fine. Just supply `binary=True`.

However, `load_word2vec_format()` does not proper initialize the model for further training, as that vector format doesn't include other data (such as word frequencies or the NN hidden-to-output weights) needed for a still-trainable model.

You can search the

[2016-07-14 07:37] carlos386386 opened #790 "Fail Update corpus"
hi,
I'm trying update the corpus

My code is:

ldamodel = gensim.models.ldamodel.LdaModel(corpus=corpus1, id2word=dictionary, update_every=500, passes=20)

ldamodel.update(corpus=corpus2)

but i catch this exception:
![image](https://cloud.githubusercontent.com/assets/10063469/16831691/a803e1cc-49a6-11e6-930f-5655cab1deca.png)

How can i solve?

Thank you in advance

[2016-07-14 15:17] tmylk commented on #790
@carlos386386 How did you resolve it? Interesting to know for future users.

[2016-07-15 06:22] carlos386386 commented on #790
Hy tmylk, i have posted in the next link:
https://groups.google.com/d/msg/gensim/T0GMxE7YZqM/7rY-sxwaMAAJ

[2016-07-15 07:54] carlos386386 commented on #790
Hy tmylk, i have posted in the next link:

[2016-07-15 09:03] hg-bauerc opened #791 "Error while iterating over SimilarityABC with chunk.shape[0] == 1"
Having this code section of **SimilarityABC.\_\_iter\_\_**
[code]
When running this code and **chunk.shape[0] == 1** (i.e. `else` path) I get a ValueError (too many values to unpack).
If I'm right the above code has to be simply replaced by
[code]
Thanks for verifying!

[2016-07-16 20:12] jeradf opened #794 "Bug in Phrases.export_phrases()"
A small bug in `bigram.export_phrases(sentences)`  causes it to return a maximum of one bigram per sentence.
For example:

[code]

Returns:

[code]

The last sentence has two bigrams, but only the first is returned. This happens because this line
https://github.com/RaRe-Technologies/gensim/blob/master/gensim/models/phrases.py#L216
prevents further iteration within a sentence.
If it's commented out

[2016-07-16 20:50] gojomo commented on #794
Good find!

I believe the intent of `last_bigram` is to prevent a word from being in two overlapping bigrams; the bug may be that `last_bigram` is not toggled back to `False` at the end of each non-bigram iteration.

So perhaps best fix is to add `continue` after the toggle-on, and at bottom of (non-continued/non-bigrammed) loop block, add a `last_bigram = False` line.

[2016-07-17 18:39] hg-bauerc commented on #791
The problem with the else-path can be seen in this demo session:
[code]
With chunksize == 3 the else-path is called for the last sim-vector and returns it inside a list.

[2016-07-17 22:41] gojomo opened #795 "Doc2Vec defaults shouldn't override Word2Vec defaults without good reason"
Following #534, Word2Vec matches the word2vec.c defaults (as of the time Google stopped updating/maintaining that code). However, where our Doc2Vec class takes its own parameters – `hs`, `negative`, `sample`, `window`, and `dm_mean` – it's still using the older defaults. There's not really any case that these older defaults are better – and in some cases they're probably worse.

Unless there's a r

[2016-07-18 18:35] dsquareindia commented on #765
Sorry @masscognition I addressed this issue in #793 since I happened to be working on the same thing. Thanks for raising the issue though!

[2016-07-18 21:46] SimonPavlik commented on #449
I've successfully tested `word2veckeras` using keras 0.3.1 with theano backend.
I'll try to make it compatible with the current version of keras.

I also want to rewrite a part of `Word2vec` training using theano functions.

[2016-07-19 09:36] #769 closed

[2016-07-19 09:38] dsquareindia opened #796 "LdaMallet wrapper giving AttributeError"
This is on `develop` and it is in sync with upstream. Here's the code:
[code]
Here's the traceback:
[code]
#767 might be causing this.

[2016-07-19 09:47] bhargavvader commented on #796
So the reason this is happening is because in line 207, `self.print_topics(15)` is called before `word_topics` is assigned to the `LdaMallet` object.

Working to fix this.

[2016-07-19 14:15] #796 closed

[2016-07-19 22:21] masscognition commented on #765
No problem :-)

On Mon, Jul 18, 2016 at 2:35 PM, Devashish Deshpande <
notifications@github.com> wrote:

[2016-07-20 18:06] bradhackinen commented on #785
I'm having a similar problem. I'm not sure exactly what steps are required to reproduce it because it doesn't seem to happen every time.

I have a script which trains a model on about 700,000 paragraphs, with a vocabulary of about 100,000 words and then immediately saves the trained model using model.save(). When I just run one epoch, everything works fine: The syn0 and syn1 matrices are saved and

[2016-07-20 23:26] gojomo commented on #785
The number of epochs shouldn't affect saving at all: the structures have the same size/shape no matter how much training has occurred.

If a `save()` is both failing, and leaving the model damaged, perhaps something odd caused a mid-save failure. But, that should be obvious from a thrown error, logging output, or both.

I suggest making sure you're using the latest gensim, enabling logging to the

[2016-07-23 08:13] DavidNemeskey opened #801 "WARNING : supplied example count did not equal expected count"
I tried to learn a word2vec embedding with gensim:

[code]

With logging switched on, I can see that the training stops after processing 10% of the corpus, and then I get this:

[code]

Why does this happen? I found nothing in the documentation that hints at gensim not processing the whole corpus.

[2016-07-23 17:25] gojomo commented on #801
Your `sentences` needs to be an *iterable* object, which ca be iterated over multiple times – not merely an *iterator* that is exhausted after one pass. For example, the following code should print the same count each time:

    print(sum(1 for _ in sentences))
    print(sum(1 for _ in sentences))
    print(sum(1 for _ in sentences))

In particular, if you're trying to use a generator, make sure y

[2016-07-24 01:17] jayantj commented on #714
Came across this issue too when I noticed the gensim word2vec model using a lower number of analogies for computing accuracy, as compared to some other implementations. It might not be as easy as making the comparison of `predicted` and `expected` case-insensitive.
[code]
[Source](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py#L1602-L1626)

The key check of the

[2016-07-24 04:07] gojomo commented on #714
In a sense, the `compute-accuracy.c` approach could even be considered a form of cheating on the analogies: all varied-case variants of a word survive, as repeat all-caps entries, and if any of them are the top-match for the target vector, it's counted as correct.

Still, I see the value in offering an option that mimics its calculation. It's typical to trim such tests to some set of most-frequent

[2016-07-24 11:24] jayantj commented on #714
Yep, it does seem a little like cheating. Best to make `case_insensitive=False`, by default?

I'll submit a fix for this then?

[2016-07-24 13:33] Waateur opened #802 "Make gensim not import theano"
Hello,
I'm looking for a way to not import theano when I import gensim.

Sometime I just want to import corpus made with gensim and if I import theano in the same script, gensim mess with my theano session.

Do you know any way to do this ?

[2016-07-24 17:09] asifm opened #803 "AttributeError: 'LdaModel' object has no attribute 'get_term_topics'"
gensim 0.12.4, Python 3.5.2, Windows 10 64-bit

I was learning gensim by following this tutorial [notebook](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/topic_methods.ipynb).
According to the notebook and the [documentation](https://radimrehurek.com/gensim/models/ldamodel.html), `LdaModel` should have the method `get_term_topics`. But mine doesn't.

![image](https://clou

[2016-07-24 17:17] asifm commented on #803
OK, I just found out this method was added in 0.12.5.

[2016-07-24 17:17] #803 closed

[2016-07-24 17:20] gojomo commented on #714
We've generally copied to word2vec-package defaults, for minimum surprise when converting over or comparing results. And, the main reason for this 'accuracy' being included is the way it was popularized as an evaluation by that paper/package.

So even though I'd personally consider  `case_insensitive=False` the more flexible/defensible choice, the actual default should be the same behavior as `com

[2016-07-24 19:41] piskvorky commented on #802
Yes, there's an open issue for not importing theano: https://github.com/RaRe-Technologies/gensim/issues/696#issuecomment-218332228

CC @tmylk , that ticket is very old and needs resolution.

@Waateur Not sure what you mean by "gensim mess with mu theano session"... how can importing  theano from gensim mess with your theano session?

[2016-07-25 08:38] Waateur commented on #802
As pointed out this was a theano related issue.
Re importing theano  raised an exception.
I updated theano  and it's working fine now.
Thanks for the pointer.

Also having a way to force the fall-back on the non theano methods can still be usefull is some case but way less important than I thought.

Anyhow problem solved, I close the issue.
Thanks again.

[2016-07-25 08:38] #802 closed

[2016-07-25 12:51] pedro-walter opened #805 "Error while summarizing text"
Hi,

I've received the following error when trying to summarize the body of this news article:

https://www.theguardian.com/media/2016/jun/19/sun-times-brexit-in-out-shake-it-all-about

The error follows:

  File "/home/apps/comment_parser/venv/local/lib/python2.7/site-packages/gensim/summarization/summarizer.py", line 202, in summarize
    most_important_docs = summarize_corpus(corpus, ratio=rati

[2016-07-27 09:07] ddofer commented on #482
Hi,
I heard yesterday from Gensim's community manager in Israel that you guys have added an implementation of WMD (atop Word Vectors) in Gensim; From what I see here it seems that it's not actually implemented yet in gensim itself?

[2016-07-27 09:37] olavurmortensen commented on #482
@ddofer This is partly true. Gensim prepares the text data to be input to a solver in the `pyemd` library. This solver finds the EMD distance (which inspired WMD), and essentially solves an optimization problem known as the "transportation problem".

To my knowledge there is no plan to implement a EMD solver directly in Gensim.

Did this answer your question @ddofer?

[2016-07-27 12:31] carlos386386 opened #807 "Lsi distributed fail"
Hi,
I've got a problem with the lsi distributed. When i executed the example:

https://radimrehurek.com/gensim/dist_lsi.html

First configure the server (enviroment variables), then i run  the server, worker and dispatcher.

And all without errros. But when i executed the code. I have this fail:
![image](https://cloud.githubusercontent.com/assets/10063469/17175207/799856c8-5406-11e6-8713-ca7ad342b

[2016-07-28 07:58] bhargavvader opened #808 "Topic Coherence for DTM (or any model)"
Wanted to know if there was any way to plug in the topics (topic-term distributions, doc-topic distributions, vocabulary counts, etc) to the coherence pipeline and get a measure.

Right now the [notebook ](http://nbviewer.jupyter.org/github/dsquareindia/gensim/blob/280375fe14adea67ce6384ba7eabf362b05e6029/docs/notebooks/topic_coherence_tutorial.ipynb) talks about using models (either the LdaModel

[2016-07-28 09:42] dsquareindia commented on #808
@bhargavvader thanks for raising the issue! I'll answer this in two parts.

__Plugging in another model__ :
Apart from accepting the different models and wrappers, the pipeline also takes as input a list of tokenized topics. Sorry for not putting this feature into the notebook yet. You can find a good example of how to do in the coherence pipeline tests ([this](https://github.com/RaRe-Technologies

[2016-07-28 10:13] bhargavvader commented on #808
Ah yes, this certainly clears things up, thanks @dsquareindia . :)
Would be awesome if you could do a notebook with more examples of both, will be helpful for other users as well!

[2016-07-28 10:22] dsquareindia commented on #808
Yeah I'll do that asap. Please keep this open so that I can reference this in my PR later.

[2016-07-29 06:31] piskvorky commented on #807
Hello @carlos386386 -- what version of pyro & gensim? (output of `pip freeze`)

See `https://github.com/RaRe-Technologies/gensim/blob/develop/CONTRIBUTING.md` for reporting issues.

[2016-07-29 06:37] carlos386386 commented on #807
Pyro4==4.46
gensim==0.12,1

[2016-07-29 17:30] fredtcaroli commented on #635
I had the same problem here. What I did to fix was disable the gpu.
For your case, you should run the script like so:
[code]

[2016-07-30 04:06] menshikh-iv commented on #807
I think adding `@exposure` decorator to methods that called remotely fix this problem

[2016-07-30 06:28] piskvorky commented on #635
@tmylk this is issue https://github.com/RaRe-Technologies/gensim/issues/696#issuecomment-218332228 again -- fixing urgent.

[2016-07-30 16:03] bhargavvader commented on #764
We can close this now.

[2016-08-01 06:41] carlos386386 commented on #807
Where is the decorator @exposure?? How can import??

[2016-08-01 07:21] menshikh-iv commented on #807
@carlos386386 Need to decorate methods that call remotely (some inner methods in lsi_worker) like [this](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/lda_worker.py#L42)

[2016-08-01 09:22] carlos386386 commented on #807
I have modify the file lsi_worker??

[2016-08-01 09:40] menshikh-iv commented on #807
@carlos386386  yes

[2016-08-01 10:24] piskvorky commented on #807
Must be some recent, breaking change in Pyro API.

Your Pyro version (4.46) doesn't indicate any major API change though. So not sure what's happened -- will need deeper investigation.

[2016-08-03 13:13] gojomo commented on #482
Noticed a small error in WMD_tutorial.ipynb: it currently suggests about the GoogleNews vectors: "It just so happens that the vectors we have downloaded are already normalized, so it won't do any difference in this case." In fact they're not natively normed – only a similarity-operation or explicit `init_sims()` creates the normed version.

[2016-08-03 17:00] droudy commented on #549
I'm working on it for #809

[2016-08-03 22:57] gojomo commented on #549
@droudy - Cool, let me know if I can help with any ideas/review.

[2016-08-04 14:19] puneetjindal opened #810 "topic document mapping output"
@dsquareindia : I have run LdaMulticore on my text data which has id as 1 column and text in other column and built BOW data structure and built the model. I want the output as topic number and document id mapping with probability
For eg output by R code here
https://eight2late.wordpress.com/2015/09/29/a-gentle-introduction-to-topic-modeling-using-r/

[2016-08-05 08:11] ljdawn commented on #28
@cperreault  Hi, can we use the automatic number of topics "chooser" now ?

[2016-08-05 09:21] dsquareindia commented on #810
Hey @puneetjindal from what I understood, you can simply use the [] feature of your `LdaMulticore` instance to get the document id->topic distribution mapping. Eg.
[code]
You will get an output such as
[code]
Did I understand your doubt correctly?

[2016-08-05 09:23] tmylk commented on #810
@puneetjindal Glad you are using gensim.

Such open-ended questions are better suited for th mailing list: groups.google.com/forum/#!forum/gensim

If you could post some code that you tried there, it would make it possible for the community to help.

[2016-08-05 09:24] dsquareindia commented on #810
We can close this since this isn't an issue

[2016-08-05 09:25] #810 closed

[2016-08-05 21:51] phunterlau opened #814 "Loading fastText binary output to gensim like word2vec"
Facebook's recent open sourced `fasttext` https://github.com/facebookresearch/fastText improves the `word2vec` SkipGram model. It follows a similar output format for `word` - `vector` key value pairs, and the similarity calculation is about the same too, but their binary output format is kind of different from that of the C version of `word2vec` binary format. Do we want to support loading `fastTe

[2016-08-05 23:38] gojomo commented on #814
Definitely! Reading/writing their word-vector format (the `.vec` and perhaps part of the `.bin`) would be an obvious 1st step.

(As a later step, the `.bin` might include enough extra info for models to continue training… though their classification modes might not map directly to the existing gensim output-layer models.)

[2016-08-06 04:31] gojomo commented on #814
It appears the `.vec` output of fastText is already compatible with the original word2vec.c text format, and readable in gensim by `load_word2vec_format(filename, binary=False)`.

The `.bin` output, written in parallel (rather than as an alternative format like in word2vec.c), seems to have extra info  – such as the vectors for char-ngrams – that wouldn't map directly into gensim models unless/unt

[2016-08-06 09:36] phunterlau commented on #814
@gojomo thanks. I can confirm the vec format is compatible with gensim

[2016-08-07 08:55] DavidNemeskey commented on #801
From the [this page](http://rare-technologies.com/word2vec-tutorial/) I gathered that the corpus is iterated twice -- once for `build_vocab()` and once for `train()`. Now I see that "The second+ passes train the neural model." -- so I guess this really must be the problem.

[2016-08-07 17:56] gojomo commented on #801
Yes, it's typical to do multiple training passes over a corpus – unless it is already gigantic. The original word2vec.c tool defaults to 5 training passes over a supplied input file; and the current version of gensim Word2Vec also defaults to 5 training passes over the supplied iterable corpus object.

The blog post is still a little unclear, given how atypical a single training pass is in practic

[2016-08-07 18:41] DavidNemeskey commented on #801
I reopened the issue because I believe @gojomo's suggestions make sense.

[2016-08-08 18:25] piskvorky commented on #801
@gojomo How about now?

[2016-08-08 20:05] gojomo commented on #801
Better! But I'd prefer to either eliminate or move-to-bottom the 'advanced users' stuff.

The overwhelmingly-common case seems to be (1) less-advanced-user; with (2) small-dataset; and (3) potential confusion about iterators-vs-iterables. In that case, the important thing to emphasize is that the corpus be multiply-iterable, and any other details around that point are just 'attractive hazards'.

[2016-08-09 04:59] davidjurgens opened #818 "Inferring doc topics from loaded LdaMallet fails due to missing corpus .mallet file"
I trained a LdaMallet model and saved the model.  I'm able to load the model from disk without issue, but when I try to infer the topics of a new document, I see errors like:

`2016-08-08 21:53:11,189 : INFO : serializing temporary corpus to /tmp/679c3f_corpus.txt`
`2016-08-08 21:53:11,190 : INFO : converting temporary corpus to MALLET format with`
`/<mallet_path>/bin/mallet import-file --preserve

[2016-08-09 08:16] piskvorky commented on #801
They are not overwhelmingly common -- just the most vocal.

[2016-08-09 10:38] tmylk commented on #818
@davidjurgens Thank you for reporting this. Could you post your Python code of how you train/save/load/infer the model so I could reproduce it?

I assume the same result  happens when you run the `import-file` command from the command line.

[2016-08-09 23:42] davidjurgens commented on #818
I generated some minimum working example code and it seems the bug is much stranger than I expected.  I can get it to reproducibly trigger if I do the following:

- Train the topic model
- Delete the mallet data stored in /tmp
- Load the model and run the inference

When I was seeing the issue originally, I had horrific problems trying to run LdaMallet in a multiprocessing setting, which produced

[2016-08-10 01:30] bkj opened #820 "Doc2Vec Convergence"
I'm trying to get intuition about how `Doc2Vec` works.  I started with a corpus of 10K sentences, and included every sentence twice, with a different tag:

[code]

I assume that a trained and converged `Doc2Vec` model would map `*-0` and `*-1` to the same vectors, but that does not appear to be happening.  Is there an algorithmic explanation for why this wouldn't work, or is there maybe something

[2016-08-10 02:05] bkj commented on #820
This behaves much closer to expected w/

[code]

[2016-08-10 05:43] gojomo commented on #820
There's randomness in the Doc2Vec algorithm - both starting initialization of vectors, and in training (which involves random sampling and window-sizes). So the two tags for the same texts will start from different random points, and receive slightly different training updates. Still, they should wind up close to each other, and moreso with more training iterations. (If each example is especially

[2016-08-10 06:59] tmylk commented on #814
See FastText comparison notebook in https://github.com/RaRe-Technologies/gensim/pull/815

[2016-08-10 14:22] piskvorky commented on #818
Yes, and that is the intended behaviour AFAIK.

Use the `prefix` parameter to specify path for Mallet to store files to, instead of temp.

Or what else should gensim do, what was the result you expected?

[2016-08-10 17:21] davidjurgens commented on #818
I guess I would expect gensim to store any necessary data for inference in the path specified by `lda.save(output_lda_file)` .  In the current implementation, any trained model cannot be used on a different system or if the computer restarts (and clears /tmp).  The python LDA implementation doesn't have this issue (afaik) because it stores all the data in various files when `save` is used, so I wo

[2016-08-10 17:47] piskvorky commented on #818
Thanks, I see. It makes sense to me.

I think we could cherry pick some of the mallet files and copy them over during `save` (assuming they are still there when `save` is called). Or maybe copy them even earlier, during training, into some internal binary attribute. Not sure about the API.

 @tmylk @cscorley comments?

[2016-08-11 05:22] davidjurgens opened #822 "LdaMallet inference breaks when run in multiprocessing"
I trained an LdaMallet model and was successfully able to use it to infer the topic distribution for new documents but when I try to parallelize the inference, the code crashes.

[code]

The code above works flawlessly if `n_jobs=1`, when it runs single process.  However, once `n_jobs` is set so the code runs in multiple processes, it crashes.  I've seen a few different errors; below are the final

[2016-08-11 09:50] prateekg commented on #787
Is the issue resolved or is it still showing any error ?
Can you provide a exact syntax error.

[2016-08-12 13:34] vpolevoy opened #824 "trim_rule doesn't work if model initialization and vocabulary building are separated"
Is it bug or feature?

[code]

[2016-08-12 14:43] vpolevoy commented on #824
I guess I got it:
trim_rule should be passed to model.build_vocab() NOT during model initialization

[2016-08-13 08:33] maximehe opened #825 "limam"

[2016-08-13 08:34] #825 closed

[2016-08-13 11:42] piskvorky commented on #824
Looks like a bug / documentation confusion to me.

At the very least, if the user tries the combination of `no corpus in init, but trim_rule in init`, we should log a warning that trim_rule is being ignored. Or even an exception.

I can see how the current API could be confusing. CC @gojomo

[2016-08-13 16:23] cscorley commented on #818
I think that makes sense.  There shouldn't be any reason to lose essential files. I think I'd be in favor of avoiding keeping the file in memory, unless it is typically small (I'm having trouble remembering what that file does). Not much you can do to help a user that's deleting a file before the chance to copy it during `.save` occurs, asides from keeping the file open for read.

[2016-08-14 19:10] #714 closed

[2016-08-16 08:18] madewild commented on #805
I am also affected by this bug...

[2016-08-16 09:14] tmylk commented on #805
@madewild could you post a code snippet to reproduce?

[2016-08-16 11:29] madewild commented on #805
Unfortunately the text fed to the summarizer is confidential, but my guess is that the error was triggered by an unusually high repetition of some sentences... I also notice now that the error raised was not exactly the same:
ValueError: k must be less than **rank**(A)-1, k=1

[2016-08-17 20:35] franciscovargas opened #827 "Different vectors for duplicate paragraphs"
I have the following text file (play4):

[code]

And its been read in and trained like this:

[code]

The three resulting vectors are rather different. Reading the paper behind it there is not enough specifics on how matrix D which equates to np.array(model.docvecs).T is initialised and updated.
The assumption ive made is that they are all initialised randomly ?

[2016-08-17 21:25] gojomo commented on #827
Yes, each doc-vector starts with random initialization, as in word2vec. And the process typically (in larger examples) includes other randomness, with each vector's updates during training cycles depending on the incrementally-different current state of the model at each example. Same texts should trend toward similar vectors over time.

But also, toy-sized tests often don't create typical or usef

[2016-08-17 21:25] #827 closed

[2016-08-18 13:19] tmylk opened #828 "Change some info messages from utils.py to warning"
Change some utils.py message from `logger.info` to `warn.warnings`. The exact messages are in this [mailing list message](https://groups.google.com/forum/#!topic/gensim/YivghXUh6Qo)

[2016-08-18 19:11] bhargavvader commented on #703
Would like to add here that having a way to print console log/messages while running wrappers would be very useful.

[2016-08-18 20:32] bhargavvader commented on #808
@dsquareindia any update on the tutorial notebook for this?

[2016-08-19 09:53] kudkudak commented on #336
Noticed that as well, run skipgram on EC2 cpu large instance on 64 threads and htop indicates 10% cpu usage per thread (word rate is 800k). Any progress on that?

[2016-08-19 18:49] gojomo commented on #336
64 threads is going to be a challenge given the amount of GIL-locked code that still needs to run: you may get higher utilization with fewer contending threads. If the texts are small, make sure you're using the latest gensim – older versions didn't bundle as many together to minimize GIL-noGIL transitions.

But also: make sure your corpus iteration isn't a bottleneck (it's still single-threaded)

[2016-08-19 19:04] kudkudak commented on #336
Thanks!

Ad latest gensim - yes, I used dev version
Ad in-memory - tried that, haven't profiled though
Ad parameters - used mostly default, as above - haven't checked that more thoroughly

In general, it is fast enough for me, just seemed like it could be like few times faster given CPU utilizations. I can share scripts to reproduce if that helps, I am actually fitting wikipedia corpus from gensim

[2016-08-19 21:02] gojomo commented on #336
Sharing the scripts could help to reproduce (or trigger other suggestions) – but even if available, might not have a chance to look at or run in a similar setup for a long while. But barring code optimizations, my main recommendations are to read pre-tokenized text from memory, and try fewer-workers-than-cores (because it seems the overhead of contention itself becomes an issue) if searching for m

[2016-08-19 23:45] gojomo commented on #814
@tmylk - we may want to keep this open for the larger issue of doing something with the `.bin` output. We might be able to map its weights (and word-frequency info) into gensim's objects, to support continued training, as a small translation-of-values patch. Loading the buckets-of-subword-vectors, and making them usable for OOV prediction, would require a bit more actual functionality... but would

[2016-08-20 23:40] ibrahim-amer commented on #109
I don't understand what you did exactly, even when navigating to the provided link. Please, could you provide me with more details ?

[2016-08-21 03:55] piskvorky commented on #703
Yes... especially if we can capture that output and direct it to log.

We definitely don't want to clobber our stdout with the subprocess's stdout, unless the user explicitly requests this. IMO logging is the right place for this output.

[2016-08-21 10:18] dsquareindia commented on #808
Sorry for the delay @bhargavvader. I'll also write a blog post soon for this.

[2016-08-22 07:02] dsquareindia commented on #808
Hey @bhargavvader I've also added a small gist [here](https://gist.github.com/dsquareindia/ac9d3bf57579d02302f9655db8dfdd55) where I have included a small snippet of how to make your own pipeline. Hope this helps too.

[2016-08-22 20:02] bhargavvader commented on #808
This is great! You should add it to the notebook.

[2016-08-23 16:31] inexxt opened #836 "Similarity between documents?"
What exactly is the procedure in calculating similarity between documents?
As I understand from docs, the algorithm uses cosine similairty

Running
[code]
I get
[code]
Which score is the correct one? (I need that number to cluster the documents set afterwards). What exactly are they representing?

[2016-08-23 19:53] gojomo commented on #836
The 2nd and 4th numbers are each the similarity between two 'Paragraph Vector' doc-vecs for the two texts. The 2nd should be roughly equivalent to what you'd also get from:

    model.docvecs.similarity_unseen_docs(simple_preprocess(l1), simple_preprocess(l2))

Why are the 2nd and 4th numbers different? Both the initial training and later inference aren't deterministic, unless you try really hard

[2016-08-23 20:17] inexxt commented on #836
Thanks, and sorry for cluttering the tracker.

[2016-08-23 21:57] bhargavvader commented on #808
Thanks for all the help. I'm closing the issue.

[2016-08-23 21:57] #808 closed

[2016-08-23 22:17] gojomo commented on #836
No worries! Reach me on the list for any followups.

[2016-08-23 22:17] #836 closed

[2016-08-25 09:30] jackyjwwang opened #838 "word2vec overflow when running"
/gensim-0.13.1/gensim/models/word2vec.py:296: RuntimeWarning: overflow encountered in exp
  fb = 1. / (1. + exp(-dot(l1, l2b.T)))  # propagate hidden -> output

how can fix it, thank you

[2016-08-25 13:58] bhargavvader opened #840 "Helping with Dynamic Topic Models"
Dynamic Topic Models is a variation of LDA by Blei et al which takes time-tagged data and allows one to Topic Model data over time-periods. I have described it more in a series of blogs [here](http://rare-technologies.com/author/bhargav/), and this is the PR ([#739](https://github.com/RaRe-Technologies/gensim/pull/739)) recently merged which implements it.

While the code is functionally correct,

[2016-08-25 14:56] MridulS commented on #805
@tmylk The reason for this failure looks like the number of nodes in the graph that is used to calculate the pagerank of the corpus graph, after removing unreachable nodes the graph is left with only 2 nodes and hence it builds a matrix of shape 2 * 2 (for which scipy.sparse.linalg.eigs() will fail for k=1). We should probably raise an error if number of nodes (after removing unreachable nodes) go

[2016-08-25 15:23] bhargavvader commented on #64
@piskvorky what are the steps ahead for this?

[2016-08-25 20:40] loisaidasam opened #842 "More detailed/consistent logging around word2vec words dropped"
[code]

On first glance, it shows that `98%` of the corpus is left intact. You feel all warm and fuzzy inside.

But just before reading that, in spite of telling us that it dropped `100,300` unique words, it doesn't tell us that this accounts for `37.9%` of our unique words! This should stand out.

[2016-08-26 01:32] piskvorky commented on #64
Deferring to @tmylk .

[2016-08-29 08:31] tmylk commented on #838
Have you tried using the compiled C extension? It is much faster than Python.

Could you please give more instructions on how to reproduce? A sample corpus would help.

[2016-08-30 01:14] piskvorky commented on #696
@tmylk this didn't make it to the release? We really don't want to be importing a beast like theano for no reason.

[2016-08-30 09:10] tmylk commented on #805
@MridulS could you submit a pr for this?

[2016-08-30 09:12] MridulS commented on #805
@tmylk What kind of error should I raise?

[2016-08-31 14:44] loretoparisi opened #846 "TypeError: cannot concatenate 'str' and 'int' objects"
[code]

Current version
[code]
This error does not happen for `gensim==0.10.2`

[2016-08-31 21:12] piskvorky commented on #846
Looks like old version of gensim (0.12.4) had some bug.

@tmylk is this covered by tests now? CC @gojomo

[2016-08-31 21:16] piskvorky commented on #846
Actually, looking at the code of 0.12.4, it says

[code]

which doesn't match your traceback.

So I don't understand this report -- @tmylk @gojomo ideas?

[2016-09-01 21:11] bkj opened #848 "Comparing document and word embeddings"
Hi All,

I've trained a `Doc2Vec` model and I'm trying to query the documents by keyword.

The word embeddings look pretty good:
[code]

but a strange thing happens when I use a word to find the most similar docvecs:

[code]

They're switched! This also happens for `(father, husband)`.  Does anyone have any idea why this would happen?  Perhaps the document vectors are slightly displaced relative t

[2016-09-02 12:20] tmylk commented on #805
The error should say "Please add more sentences to the text. The number of nodes is below 3"

[2016-09-04 16:18] tmylk commented on #848
Hi Ben,

Glad you are answered your question - can this issue be closed now?

Also such open questions are better suited for our Google Group mailing list.

[2016-09-04 16:22] bkj commented on #848
OK -- will post there in the future.  Thanks.

[2016-09-04 16:22] #848 closed

[2016-09-05 09:37] appierys commented on #846
Here is a test case that would trigger an error:

[code]

[code]

Apparently, to avoid this error @loretoparisi has modified the code and removed `str`. However, this would cause the reversed error `TypeError: cannot concatenate 'str' and 'int' objects` when input is strings.

For more information, see https://github.com/phanein/deepwalk/issues/3.

[2016-09-05 09:41] loretoparisi commented on #846
@appierys Hi, so what I did was changing
[code]

to
[code]

to fix it. Without the `str` I get the error.

[2016-09-05 09:52] appierys commented on #846
@loretoparisi
Deepwalk would fail if we have
[code]

Normal text-based word2vec would fail if we have
[code]

So the best solution should be what @tigerneil proposed:
[code]

[2016-09-05 09:59] loretoparisi commented on #846
weird! Ok I will change in that way, regarding gensym version it still need an update to have bot the `str` right?

[2016-09-05 10:45] piskvorky commented on #846
Word2Vec expects a sentence to be "list of strings", not "list of ints". I suspect you'll have other issues too, if you break that contract.

Can't you just make strings out of your ints (`'1'` instead of `1`)?

[2016-09-05 10:58] usmanshahid opened #850 "'iter' parameter is not passed on to word2vec"
Hi, I was just looking at the code of Doc2Vec class, it seems like it takes a parameter iter which is the number of iteration which should be used in the initialization of Word2Vec object but it is not passed on? Is this a bug in the code or something is wrong with documentation?

[2016-09-05 12:50] #850 closed

[2016-09-06 00:31] piskvorky commented on #850
@gojomo is this the case?

[2016-09-07 12:13] bofinbabu opened #851 "ZeroDivisionError: float division by zero in pagerank_weighted.py"
Got ZeroDivisionError: float division by zero in **pagerank_weighted.py**

Input Text: BYAnonymousArabe

Error thrown at:  `summarize(text_to_sum, word_count=50)`

![gensim error](https://cloud.githubusercontent.com/assets/5749350/18311490/44da660a-7522-11e6-8812-7390ebca8ef6.png)

I know word_count is 50 and I'm just giving a word. But ideally it should output that single word instead of throwing

[2016-09-07 18:17] gojomo commented on #697
(As just a note for others who come across this issue, I still believe there's no bug here – the code matches the gist of the algorithm and the behavior of the original word2vec.c implementation on which it was patterned.)

[2016-09-07 19:34] gojomo commented on #848
As you've observed, the word and doc vectors are stored separately and searched for lists-of-most-similar vectors separately. There's a [forum message](https://groups.google.com/d/msg/gensim/Fujja7aOH6E/C3WArofWbNIJ) with some examples that overlap with what you've discovered, as well as showing how to merge results.

But also note that tiny documents (of just one or a few words) are kind of chall

[2016-09-07 19:42] gojomo commented on #850
No. It's taken by `Doc2Vec.__init__()` in  `**kwargs`, and passed to `Word2Vec.__init__()` the same way.

[2016-09-11 20:08] jayantj opened #853 "Unpickling models across python3 and python2"
Training and saving the model with python3 -

[code]

Loading it with python2.6 or 2.7 -

[code]

Raises this error -

[code]

This goes the other way around too (loading models saved with python2.7 in python3), although with a different error -

[code]

[2016-09-12 05:35] jayantj commented on #853
The issue with unpickling a model pickled in python3 with python2.7 results from a bug in pickle which incorrectly maps `collections` to `UserList/UserString`
Here are some details - https://bugs.python.org/issue18473
The bug has been fixed in later versions of pickle, but python3.4 users are likely to run into issues.

The issue with unpickling a python2.7 model in python3 is because of encoding

[2016-09-16 17:20] tmylk commented on #853
Same question on the mailing list https://groups.google.com/d/msg/gensim/LNS8X84B0yE/B6PZKmDnBgAJ

[2016-09-18 13:48] tmylk commented on #64
Implemented in https://github.com/RaRe-Technologies/gensim/issues/656

[2016-09-18 13:48] #64 closed

[2016-09-18 13:54] tmylk commented on #807
@menshikh-iv Are you suggesting that we should add annotations to [lsi_worker](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/lsi_worker.py#L42) same way as [lda_worker](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/lda_worker.py#L42)? May I kindly ask for a PR for this?

[2016-09-18 13:58] tmylk commented on #790
Answered on the mailing list in https://groups.google.com/d/msg/gensim/T0GMxE7YZqM/7rY-sxwaMAAJ

[2016-09-18 13:58] #790 closed

[2016-09-18 14:00] tmylk commented on #759
Abandoned. Guessing it was fixed with 0.12.3

[2016-09-18 14:00] #759 closed

[2016-09-18 14:04] tmylk commented on #692
Left to implement:

- [ ] Raise warning if calling load() on an instance rather than the class.
- [ ] Raise warning if mismatch in expected count for train() and actual.

[2016-09-18 18:26] menshikh-iv commented on #807
@tmylk Yes, but a little later, right now I have no time :(

[2016-09-19 07:59] Ronggui opened #855 "add wordspace model?"
Hi, it seems that wordspace model is very useful (http://infomap-nlp.sourceforge.net/doc/algorithm.html and https://cran.r-project.org/web/packages/wordspace/index.html). It is  similar to the lsa model except that wordspace decomposes a co-occurrence matrix instead of term-document matrix.

[2016-09-19 12:02] einon opened #857 "DTM ldaseqmodel tutorial notebook - Corpus and cleaning instructions"
In code cell 2, neither of these files are available, with no instructions on how to obtain them:
# loading our corpus and dictionary

dictionary = Dictionary.load('Corpus/news_dictionary')
corpus = bleicorpus.BleiCorpus('Corpus/news_corpus')

[2016-09-19 12:55] bhargavvader commented on #857
Hello @einon , I didn't include these test files and they were just an example. You can find the data set here: [link](https://github.com/derekgreene/dynamic-nmf/tree/master/data).

Thanks for pointing this out, I'll add this information to the notebook as well.

[2016-09-19 13:23] jackyjwwang commented on #838
I'm sorry, it's long time to check the mail.

I can't use the C version, Because it depends the C complier lib\

best regards

thanks

2016-08-29 16:31 GMT+08:00 Lev Konstantinovskiy <notifications@github.com>:

[2016-09-19 15:15] tmylk commented on #857
Do you have the pre-processing code somewhere? It would be great to add it to the tutorial.

[2016-09-19 16:39] Max-programmer opened #860 "word2vec pickle error help"
Hello,
I am new to gensim and am trying to load an english word2vec model with my python script model.py and test it:

[code]

Now I googled and found out it is an error caused by pickling it. A suggestion is to use:
pickle.load(file_obj, encoding='latin1')

But how do I apply that suggestion? Or is there another way to solve the problem?

[2016-09-19 18:42] gojomo commented on #838
The necessary C compilation tools should be freely available on all platforms where gensim runs – and they can offer a 100X or more speedup. For example, they can turn runtimes that would be over 4 days (without) into under-an-hour. So, we highly recommend ensuring the optimized code is running.

Still, there shouldn't be any fatal warnings in the pure-python code. Does the warning actually cause

[2016-09-19 18:45] gojomo commented on #860
How was the model in file 'en.model' initially created and saved? (Was it using the same versions of Python, gensim, OS, etc?)

[2016-09-19 18:48] document-distillery commented on #759
Yes, that fixed it. Thanks

On Sunday, September 18, 2016, Lev Konstantinovskiy <
notifications@github.com> wrote:

[2016-09-20 09:19] Max-programmer commented on #860
I got the model from:
http://devmount.github.io/GermanWordEmbeddings/
I do not know of any specific versions that he used except that it was python and gensim.
Now I use python 3.5 on Windows 8 to load the model.

[2016-09-20 13:13] cdzech opened #863 "Adding Word Prediction"
Hi,

I have noticed that, at least for my use case, a crucial feature is missing in the Word2Vec module: Word prediction. There is no function that takes a context as an input and outputs the probability distribution for the center word (in CBOW).

For my project, I implemented such a function. Is there any interest of the community to provide such a method for the users? If so, I would look into

[2016-09-20 18:26] gojomo commented on #863
Yes! That capability has occasionally been requested, or been relevant to experiments people want to do, so a PR would be welcome.

[2016-09-20 18:33] gojomo commented on #860
Looking at their code (https://github.com/devmount/GermanWordEmbeddings/blob/c2b603a07d968146995ee9dde54a25fd0aa8586a/training.py#L56), I see they've saved the model via `save_word2vec_format()` - which means you'd need to use `Word2Vec.load_word2vec_format()` to have a chance of loading.

I can also tell from the included notebook that Python 2.7.6 was used. (See the bottom of: https://raw.github

[2016-09-20 22:23] pderkowski opened #865 "A numerical bug in word2vec make_cum_table"
A simple way of recreating:

[code]

On my computer assertion in the last line of make_cum_table fails because self.cum_table[-1] is 2147483646 instead of expected 2147483647. The reason for this is the accumulated numerical error in the computation of `cumulative`.

A simple way to fix this is to replace:

[code]

with:

[code]

[2016-09-21 06:00] zhangzibin opened #866 "Get IDF table from TfidfModel"
I wonder if I could get term->idf table from a trained TfidfModel?

[2016-09-21 08:19] zhangzibin commented on #866
Got it. Access attributes `idfs` and `id2word` directly.

[2016-09-21 08:19] #866 closed

[2016-09-22 07:17] cdzech commented on #863
Sounds good. I'll need some time, though. I'll get back when I'm ready.

[2016-09-22 11:56] nasacj commented on #591
Hi @cscorley
Could you please give a little bit more detailed reasons why the results are different each time I run the whole code? As my understanding, each time the computing reslut of the probability of each word should be the same, and the data (doc_set) was not changed, so I think it should be concrete and absolute same as previous result as math calculation.

[2016-09-22 12:13] cscorley commented on #591
@nasacj When [LDA initializes](https://github.com/RaRe-Technologies/gensim/blob/6a289fefd72f038c8cc14826f63624950f5de1f8/gensim/models/ldamodel.py#L342), and even during [inference](https://github.com/RaRe-Technologies/gensim/blob/6a289fefd72f038c8cc14826f63624950f5de1f8/gensim/models/ldamodel.py#L428), it uses randomized matrices that will introduce noise to the system.  This noise is tiny, and i

[2016-09-22 12:45] tmylk commented on #865
Thanks for reporting it and suggesting the fix. Confirm reproduced and fix works.
Leaving PR creation until tomorrow - it is a good beginner exercise for our sprint at PyCon India tomorrow.

[2016-09-22 12:47] tmylk commented on #860
@Max-programmer Did using Python 2 help? If yes, then I would like to close this issue.

[2016-09-22 13:02] tmylk commented on #855
Thanks. Looks interesting! Added to student projects https://github.com/RaRe-Technologies/gensim/wiki/Student-Projects#implement-wordspace-in-python

[2016-09-22 13:02] #855 closed

[2016-09-22 13:03] tmylk commented on #853
Strange that  it is a different error to https://github.com/RaRe-Technologies/gensim/issues/853

[2016-09-22 13:37] tmylk commented on #515
Madhumathi raised the question of `infer_vector` speed-up on the [forum](https://groups.google.com/d/msg/gensim/g-NOhS1hkLk/XJFPwlxIBAAJ)

He is suggesting simply locking all the pre-trained doc and word-vectors and then calling model.train() in order to take advantage of multiple workers and batching.

[2016-09-22 14:15] Max-programmer commented on #860
@tmylk: I got sick, will try it out tomorrow or saturday and will post about the results here. Thanks in advance!

[2016-09-22 17:36] gojomo commented on #515
Multithreading likely wouldn't offer much benefit for the case the method currently supports: a single new document. (Maybe with a really long document, but I doubt it.) It could definitely offer a benefit if inferring in large batches, as mentioned above.

Moving the loop inside the cythonized-methods might offer some benefit in the single-document case, especially with large documents are large

[2016-09-23 02:34] nasacj commented on #591
Hi @cscorley , this makes sence to me, it is the randomized noise that make the result slightly different.
Thank you for your explanation and suggestion.

[2016-09-24 09:42] Max-programmer commented on #860
Thanks, you can close the issue now.

[2016-09-24 17:48] AadityaJ commented on #794
Hi everyone!
Today I worked on this. I am sending a pull request.

[2016-09-25 06:50] #764 closed

[2016-09-25 07:00] tmylk opened #881 "Update wikipedia tutorial"
@mukulmalik18 had an idea to re-do the wikipedia tutorial with wikipedia-extractor package and then spacy/pattern parser.

It will be a nice new tutorial. Leaving to @mukulmalik18 to add some starting code and expand.

[2016-09-25 08:52] pranay360 commented on #558
@tmylk Is it required to change utils.pickle to accommodate dill and cloudpickle or is bench-marking done by @shirish93 sufficient to infer that due to speed issues both the libraries must not be used?

[2016-09-25 10:48] tmylk commented on #558
Hi @pranay360 The goal is to create an abstract serializer with default being pickle as it is now. Good implementation of this abstraction is in [Pyro](https://github.com/irmen/Pyro4/blob/2142cd8f6f1fbb0b5ffb5bb35c1eb663096a42e7/tests/PyroTests/test_serialize.py). Feel free to copy that approach.

[2016-09-25 11:02] #860 closed

[2016-09-25 11:35] tmylk commented on #846
@loretoparisi Did this issue disappear after converting input `int`s to `str`s?

[2016-09-25 11:42] tmylk commented on #842
@loisaidasam Could you please submit a PR for this containing the code from your commit?

[2016-09-25 11:44] tmylk commented on #785
Closing as abandoned

[2016-09-25 11:44] #785 closed

[2016-09-25 11:47] tmylk commented on #775
Closing as resolved.

[2016-09-25 11:47] #775 closed

[2016-09-25 11:52] aayush96 commented on #692
Working on fixing this but I'm not fully certain of how one might go about "calling `load()` by instance". Is there a previously known issue/error-report that I could refer to?

[2016-09-25 16:35] tmylk commented on #828
Looks good. Please add a line to CHANGELOG.md

[2016-09-25 16:41] tmylk commented on #692
@dust0x Class methonds and instance methods are different in python, so you can raise warning on one of them.

[2016-09-25 18:35] anmol01gulati commented on #805
Hi I worked on this issue. I have sent out a pull request for the same. Please review.

[2016-09-25 18:35] pranay360 commented on #851
@tmylk for changes to be made what should be the expected output should it raise an error saying "not enough text to summarize", or just output the single word as it is(if its length is > 10 i.e. INPUT_MIN_LENGTH)?

[2016-09-26 10:53] dust0x commented on #692
@tmylk yep, I see that. Could something go wrong when calling `load()` on instance?

What kind of warning should one be looking for here? A call to load by instance seems to be working fine for me.

[2016-09-26 11:37] tmylk commented on #692
Do you see the difference in behaviour of the two methods?

[2016-09-26 13:33] metalaman commented on #851
For Input Text : "Ab", build_probability_matrix method doesn't give any error, only keywords method is giving ZeroDivisionError.

[2016-09-26 14:08] tmylk commented on #851
Output less than word_count should be allowed

[2016-09-26 14:23] bofinbabu commented on #851
@tmylk Yes. I agree with you

[2016-09-26 17:59] loisaidasam commented on #842
@tmylk already done:

https://github.com/RaRe-Technologies/gensim/pull/843

[2016-09-27 00:05] gojomo commented on #692
Even though calling-on-an-instance might superficially succeed, often the user doing so doesn't realize they'll be getting a newly-loaded instance back as the return value. (Rather, their mental model is that a load is happening *into* the supplied instance.) To make this clear, and emphasize the intended/correct way to load, it'd be best if load-on-instance throws an error with helpful message th

[2016-09-27 02:15] cperreault commented on #28
@ljdawn @piskvorky. Hi! Sorry for my late response. I did not reworked on it and I don't expect to have time until a few months from now. However, if you think this could be useful, in the sort term I can explain the simple principle that guided "my" automatic number of topics (k) chooser. (It is explained in my Master's thesis in French (see link above)) A given corpus is analyzed (LSA) with an i

[2016-09-27 04:59] tmylk commented on #28
FYI @dsquareindia this is related to your recent work on selecting the number of topics through coherence.

[2016-09-27 05:10] tmylk commented on #692
Could it be easier then to not inherit from `utils.SaveLoad`?

[2016-09-27 05:22] #842 closed

[2016-09-27 05:47] tmylk opened #891 "Add MemoryMapping example to Annoy tutorial"
Add example to AnnoyTutorial where 2 parallel processes load the same model from disk and mmap the same index file.

[2016-09-27 06:18] dsquareindia commented on #28
Yes coherence can surely be used as an automatic "chooser" for LSA as well. We could choose the number of topics corresponding to the best coherence from 100 topics. I'll test it out on LSA and get back here. Currently I've only tested it out on LDA but I think with LSA it'll work better.

[2016-09-27 06:19] gojomo commented on #692
Sharing save/load utilities via callouts/composition, rather than inheritance, *might* be a better approach. But, that'd be a pretty big change at this point (and contrast with practices elsewhere in gensim). So, it could require a lot more thought/refactoring and perhaps synchronization with a major-revision-number increment.

[2016-09-27 06:24] tmylk commented on #28
It would be nice to compare coherence to the approach of @cperreault

[2016-09-27 10:27] tmylk commented on #693
No downloads info at https://pypi.python.org/pypi/gensim

[2016-09-27 10:27] #693 closed

[2016-09-27 10:39] markroxor commented on #838
Hello @gojomo ,
I think limiting the value of
`fb = 1. / (1. + exp(-dot(l1, l2b.T))) # propagate hidden -> output`
[here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec.py#L296)
will fix the issue, I am willing to send a PR but am quite not sure about the values to which I should limit it to. Any ideas?

[2016-09-27 11:02] tmylk commented on #838
If the values aren't too big then this [solution](http://stackoverflow.com/questions/9478663/logit-and-inverse-logit-functions-for-extreme-values) will help:
[code]

[2016-09-27 11:33] souravsingh opened #892 "Adding a conda-forge recipe for Gensim"
Adding a conda-forge recipe would help with installation of gensim across multiple platforms.

https://conda-forge.github.io/

[2016-09-27 11:57] tmylk commented on #892
BTW There is an Anaconda recipe by @ljstokes from #526 at  https://anaconda.org/ijstokes/gensim

[2016-09-27 12:48] olavurmortensen opened #894 "Use efficient normalization in LDA"
The Hierarchical Dirichlet Process model in Gensim uses a clever trick to efficiently normalize some variational parameters. It does this using a function called `log_normalize`, see [line 49](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/hdpmodel.py#L49) and [line 342](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/hdpmodel.py#L342) in the HDP code

[2016-09-27 13:01] markroxor commented on #838
That should do the trick as well. Sending a PR, merge if it helps.

[2016-09-27 18:35] mukulmalik18 commented on #881
Hey!
So I use word vectors a lot. One main issue i faced was with compound words.
Example:
-> Normally
most_similar( [ 'iron' , 'maiden' ] ) is 'copper'

-> Whereas if we use compound nouns
most_similar( 'iron_maiden' ) is 'judas_preists'

Now by default people use "make_wiki.py" ( 'gensim/scripts/' ) to clean the data.
The issues with that are as follow:
1. It cleans all the alpha-numerics like '

[2016-09-27 19:42] mukulmalik18 commented on #881
I had the opportunity to show @tmylk one such code. I have pasted that same code with its output below.

[code]

Output
[code]

Here words starting with '$' are nouns and compound nouns are combined using '_'

This is just one of the many experiments we can be done with Word2Vec.

[2016-09-27 20:44] gojomo commented on #838
Is there an example of a `p` value where `inv_logit(p)` gives a valid value, while the old code `1.0 / (1.0 + exp(-p))` triggers the error?

[2016-09-28 01:34] tmylk commented on #881
Thanks for sharing the code. It will be most useful in a context of a jupyter notebook where the compound words word2vec model is trained.

[2016-09-28 04:37] tmylk commented on #853
The answer to this question is in [Gensim FAQ](https://github.com/RaRe-Technologies/gensim/wiki/Recipes-&-FAQ#q9-how-do-i-load-a-model-in-python-3-that-was-trained-and-saved-using-python-2)
@jayantj is this answer sufficient to resolve the issue?

[2016-09-28 06:04] jayantj commented on #853
That sounds good, I'll add a small section for word2vec too (right now, it mentions only LDA models)

But this bug addresses loading models in Python 3, that were trained using Python 2.

The other bug is loading models trained in Python 2, that were trained using Python 3.

That results from a bug in versions of pickle pre-Python 3.5. It is fixable, but in case this isn't a common use case, we ca

[2016-09-28 09:31] markroxor commented on #838
@gojomo
Consider a large negative value. For instance -2000000000.

![image](https://cloud.githubusercontent.com/assets/11366315/18907987/7b405564-858b-11e6-8835-eea63b09696b.png)

Numpy will raise a warning, "RuntimeWarning: overflow encountered in exp".

Check [this.](http://stackoverflow.com/questions/4359959/overflow-in-exp-in-scipy-numpy-in-python)

[2016-09-28 09:37] tmylk commented on #838
Fixed in #895

[2016-09-28 09:37] #838 closed

[2016-09-28 09:41] tmylk commented on #846
Closing as abandone.

[2016-09-28 09:41] #846 closed

[2016-09-28 09:45] tmylk commented on #828
Fixed in #884

[2016-09-28 09:45] #828 closed

[2016-09-28 09:52] tmylk commented on #697
Hi @dragonxlwang Did you get a response in the word2vec-toolkit forum on this issue?
We would like to keep the implementations in sync.

[2016-09-28 09:53] #787 closed

[2016-09-28 09:54] tmylk commented on #787
Closing as abandoned.

[2016-09-28 09:55] tmylk commented on #820
@bkj Do you have more questions or can this be closed?

[2016-09-28 10:00] markroxor commented on #846
@tmylk I simulated the error and indeed "Word2Vec expects a sentence to be "list of strings", not "list of ints"."

[2016-09-28 10:01] tmylk commented on #846
Once ints are converted to strings, is there still an error?

[2016-09-28 10:20] loretoparisi commented on #846
@tmylk I did not converted the input actually, by the way it happens as @markroxor explains.

[2016-09-28 12:28] markroxor commented on #846
@tmylk I converted it to string and it works fine.

[2016-09-28 12:54] AritzBi opened #896 "Segmentation fault when creating a Word2Vec model."
Hi!

I am creating a Word2Vec model using gensim and after few minutes, the program crashes and returns a segmentation fault.  Is there any log where I can check what is happening? The same source code is working properly in other computers.

[2016-09-28 13:29] naveenreddy25 opened #897 "how to find to which topic query is similar (or) refering ?"
i have generated some 120 topics with lsi  now i need to find to which topic my query is similar  or refering

[2016-09-28 13:58] loretoparisi commented on #846
@markroxor so the solution will to convert to string the input? What about precision i.e. how did you convert to string?

[2016-09-28 14:33] trsherborne opened #898 "Gensim import failure on Debian"
I'm running a VM on Google Cloud Platform using Jupyter notebook with word2vec models.

I use a `virtualenv` environment in my setup to isolate my python packages and my import of gensim (i.e. `import gensim`) fails when I have checked all my dependencies should be the same.

The full trace of the error I see:
[code]

My system build is Debian GNU/Linux Jessie

Thanks

[2016-09-28 14:36] tmylk commented on #898
Hi, thanks for reporting. Does `import boto` work for you?

[2016-09-28 14:38] tmylk commented on #897
Answered on mailing list https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Similarity_Queries.ipynb

[2016-09-28 14:38] #897 closed

[2016-09-28 14:53] tmylk commented on #896
Hi,

How is logging configured? Is it something along these lines?

[code]

[2016-09-28 15:19] #820 closed

[2016-09-28 15:24] AritzBi commented on #896
Yep.

"""2016-09-28 17:22:07,320 : DEBUG : queueing job #6901 (9891 words, 84 sentences) at alpha 0.02481
2016-09-28 17:22:07,331 : DEBUG : queueing job #6902 (9893 words, 57 sentences) at alpha 0.02481
2016-09-28 17:22:07,346 : DEBUG : queueing job #6903 (9556 words, 90 sentences) at alpha 0.02481
2016-09-28 17:22:07,359 : DEBUG : queueing job #6904 (9881 words, 43 sentences) at alpha 0.02481
201

[2016-09-28 16:20] harshul1610 commented on #891
How can I save model to disk?

[2016-09-28 16:39] harshul1610 commented on #891
I did prepared the code to save and fetch the model from disk by 2 parallel processes. What do we mean by mmap the same index file? What is the use case for this scenario? I will add description too.

[2016-09-28 17:13] gojomo commented on #896
Does it always happen at exact 'same place'? How about if running with a different number of worker threads (including just 1)?

What Python version and how were Python, gensim, and supporting libraries installed?

What OS and what memory-usage is shown by the OS tools during running and leading up to the error?

[2016-09-29 03:30] tmylk commented on #891
@harshul1610 Thanks for taking this up. Could you please move `annoy_index.load('index')` into the thread and also output memory used? Memory should not increase much as the index stays on disk.

Also, it would be more professional to choose a less controversial word example instead of 'army'.

[2016-09-29 04:29] dsquareindia opened #901 "hdp_to_lda should return LdaModel instance"
I was recently using this feature and found that the documentation doesn't mention anything about what [this](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/hdpmodel.py#L510) function returns. It would also help if a short code snippet can be inserted telling that for using this in an LDA model, `alpha` can be set in the `LdaModel` init and `ldam.expElogbeta[:]` can be set

[2016-09-29 04:31] dsquareindia commented on #901
@tmylk I was wondering that wouldn't it be better to return a proper LdaModel instance itself as do in say `malletmodel2ldamodel`?

[2016-09-29 05:12] tmylk commented on #901
Agree that returning an actual `LDAModel` is more explicit. That would be a good improvement.

[2016-09-29 05:57] harshul1610 commented on #891
sure

[2016-09-29 05:59] dsquareindia commented on #901
Alright! I'll wait for a while for someone to take this up.

[2016-09-29 08:30] tmylk commented on #851
Fixed in #887

[2016-09-29 08:30] #851 closed

[2016-09-29 13:57] bhargavvader commented on #901
I don't mind giving this a shot! Though I can try some other issue if this would be a good `beginner` issue for someone else.

[2016-09-29 14:01] bhargavvader commented on #665
If there is interest for this and no one else wishes to take it up, I would like to give it a shot. :)

[2016-09-29 14:15] harshul1610 commented on #891
Is it good?

[2016-09-29 14:48] AritzBi commented on #896
No, sometimes occurs at the beginning, other times after some minutes. I've tried with 1 and 4 workers and the same problem happens.

Python: 2.7.12
Gensim: 0.13.2
scipy: 1.10.0
Cython: 0.24.1
numpy: 1.11.1

Ubuntu 16.04.1.

Before the error the memory usage was around 2GB.

[2016-09-29 15:02] bhargavvader opened #903 "Document Influence Model"
Document Influence Model is a modelling technique described [here](http://www.umiacs.umd.edu/~jbg/nips_tm_workshop/30.pdf) which allows us to identify which documents most influenced a topic.

The C++ implementation for the same is [here](https://github.com/blei-lab/dtm), same place where the Dynamic Topic Modelling code is.

During my implementation of python DIM, I sort of 'set up' the code for

[2016-09-29 15:02] bhargavvader commented on #903
@tmylk , could you add the appropriate labels for this?

[2016-09-29 16:15] tmylk commented on #891
To be more explicit Each process should have its own indexer

[2016-09-30 03:22] tmylk opened #905 "Update API ref documentation by adding RST files"
There are a lot of classes that are not in the official [API reference](http://radimrehurek.com/gensim/apiref.html).
RST files for them need to be added to [this folder](https://github.com/RaRe-Technologies/gensim/tree/develop/docs/src/).
They can be automatically generated with sphinx api-docs and manually editer later to fit the format.

The full list of files that need to be there is [here](htt

[2016-09-30 07:22] tmylk opened #907 "Documentation overhaul"
We need a new website hosted on github, for example on [github-pages](https://pages.github.com/).

Docs should be part of continuous integration, for example using [travis-sphinx](https://github.com/Syntaf/travis-sphinx). If a new python file is missing from API reference that it should be clearly seen. Probably Coala/gitmate can do that.

The actual tools are open to discussion. We don't have to

[2016-09-30 07:46] eshansingh commented on #121
What is the news so far on this issue?

[2016-09-30 08:16] tmylk commented on #907
@dsquareindia has expressed interest in this task

[2016-09-30 08:46] dsquareindia commented on #907
Yep I'll get to it in some time!

[2016-09-30 08:47] dsquareindia commented on #901
@bhargavvader are you taking this up? I'll take this up this weekend otherwise :)

[2016-09-30 14:46] harshul1610 commented on #891
Done

[2016-10-01 03:20] harshul1610 commented on #891
Is it good?

[2016-10-01 10:43] souravsingh commented on #892
@tmylk The Pull request for the conda-forge recipe has been sent here-https://github.com/conda-forge/staged-recipes/pull/1689

[2016-10-01 16:33] metalaman commented on #863
Are we looking at a language model implementation for this feature?

[2016-10-02 05:54] tmylk commented on #892
Thanks for taking it up @souravsingh . Please have a look at `install_requres` and `test_requires` in [setup.py](https://github.com/RaRe-Technologies/gensim/blob/develop/setup.py#L176) Some of them needed to be aded to the recipe.

[2016-10-02 06:02] tmylk commented on #891
Hi @harshul1610 The code looks good.
Could you please add some text above cell 10 to provide motivation for the code?
Best would be add a new cell where 2 separate indices are created and used without saving/loading. It should use much more memory than cell 10.
Your text will explain that memory mapping saves RAM.

[2016-10-02 06:03] tmylk commented on #891
Also, no need to create new pr to update code. you can just keep pushing to existing branch

[2016-10-02 06:49] anmol01gulati commented on #903
I would like to take this up.
@bhargavvader Yes you have already setup many of the method calls for DIM. I'll start with first implementing methods for DIM. Then we could look at speeding up DTM. Where exactly do you think it could be optimised?

[2016-10-02 06:57] tmylk opened #908 "per_word_topics for a corpus"
As reported on the [mailing list](https://groups.google.com/d/msg/gensim/RgiN22vtPKU/3K3TpxjKBgAJ)
`lda.get_document_topics(clipped_corpus, per_word_topics=True)` doesn't return per_word_topics.

This [line](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/ldamodel.py#L924) should be changed to pass all the params including `per_word_topics` through the `apply` call.

[2016-10-02 07:01] gojomo commented on #863
The Word2Vec model already is trained via implicit word-predictions, so no extra model implementation should be necessary – just providing another way to run the trained model and report the results (across all possible word-predictions).

[2016-10-02 07:21] bhargavvader commented on #903
@anmol01gulati , have a look at #840 and tell me if anything interests you!

[2016-10-02 08:08] harshul1610 commented on #891
@tmylk It is the time that surely increases when we don't use memory mapped index. But, memory space used by processes is approximately the same.

when Index file not memory mapped
[code]
Results are:
Process Id:  8348
('organisations.', 0.6213910579681396)
('klusener', 0.6172938048839569)
('version', 0.6145751178264618)
('beveridge,', 0.6114714741706848)
('silence', 0.6113320291042328)
Memory use

[2016-10-02 08:13] tmylk commented on #891
Let me understand correctly what you are saying:
"RAM used by 2 processes with memory mapping from disk" = "RAM used by 2 processes, each created its own index"
That means mmaping claim by Annoy is not true: ["It also creates large read-only file-based data structures that are mmapped into memory so that many processes may share the same data."](https://github.com/spotify/annoy)

[2016-10-02 08:59] harshul1610 commented on #891
@tmylk  updated the statistics

[2016-10-02 09:13] tmylk commented on #891
Thanks, that is more clear now. So it is using less memory in total, as it is shared. Shared memory is included in RSS so it was confusing before.

Please add some text and this output to the notebook.

[2016-10-02 10:37] markroxor commented on #846
For the sake of testing I manually converted each of the int to str. One should be careful while inputting "sentence" parameter to "Word2Vec" function.

[2016-10-02 12:02] tmylk opened #910 "Remove "No handlers could be found for logger "gensim.models.word2vec" message during import"
Instead print the actual message that word2vec is trying to print

[2016-10-03 01:40] gojomo commented on #896
(Is that an accurate scipy version? That'd be quite old compared to the other packages listed.)

The issue is probably some aspect of your machine or configuration outside of gensim. Most of what gensim does is in interpreted Python that (even when buggy) won't likely cause segmentation faults; the raw-memory accesses (in the optimized cython code) could theoretically trigger such errors – but are

[2016-10-03 03:47] tmylk commented on #121
Hi @eshansingh No one has taken up this issue yet.  A contribution will be welcome here. We provide support for such large features via our [Incubator program](https://rare-technologies.com/incubator/).

[2016-10-03 03:53] tmylk opened #911 "Distributed LDA "ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()""
Raised on the [mailing list](https://groups.google.com/d/msg/gensim/kMmLlD9lKGQ/Jur6yWkYIAAJ)

[code]

A potential fix suggested on the mailing list:

[code]

[2016-10-03 20:27] jlorince commented on #532
I'll just add to the discussion, noting that I'm having a similar issue. On both Windows and an Ubuntu box, I see no obvious evidence of Doc2vec parallelizing. I'm feeing the model with a `TaggedLineDocument` (~20M lines) like so:

    documents = TaggedLineDocument(abs_dir+'docs{}.txt.gz'.format(test))
    model = Doc2Vec(documents, size=200, window=5, min_count=5,workers=16)

This was originally

[2016-10-03 22:36] gojomo commented on #532
@mmroden - I can't think of a good reason that'd make a difference... and to the extent I can imagine possible relationships, I might expect the *alternate* relation to hold: more tags might parallelize better, because different cores (which might not share the same CPU cache) would be writing to overlapping memory ranges slightly less often.

The bigger difference I see between your two scenarios

[2016-10-03 22:43] gojomo commented on #532
@jlorince The 1st thing to check: are you sure the cython-optimized versions are running? (There's effectively no parallelism possible without them.) You can check this by ensuring `gensim.models.doc2vec.FAST_VERSION` > -1.

Next is whether your IO/decompression (which can only happen in the master thread) is the real bottleneck. If you have the memory to read all examples into a list, then use th

[2016-10-04 02:21] jlorince commented on #532
I checked on both systems, and got a `FAST_VERSION` of 1, so that doesn't seem to be the problem. I'll experiment with loading the data fully in memory if I can (would the simplest approach be as simple as `doclist = [doc for doc in documents]` where `documents = TaggedLineDocument(abs_dir+'docs{}.txt.gz'.format(test))`?

[2016-10-04 02:59] tmylk commented on #532
@jlorince Confirm that loading the docs into a list is the right approach to load into memory and exclude I/O

[2016-10-04 07:49] gojomo commented on #532
@jlorince Yes, `doclist = [doc for doc in documents]` should work, if you've got the memory. (And if not, on some large subset of the documents that does fit.) It may be interesting to time the construction of the list, just to get a sense of the IO/decompression overhead... for reference even if you later go back to repeated-iteration-from-disk.

[2016-10-04 09:46] anish9208 opened #917 "input and output matrix"
hi ,
I am  new  to gensim  and working with word2vec recently. Can anyone  tell  me  how  to get input  matrix and  output  matrix  for skipgram and  CBOW models (or  how  to  get  weights  of model )

(for example  in  cbow model input  matrix  is  of  size ( V x N)   N= size of hidden layer  , V = size  of Vocab  and  output matrix  would be NxV )

[2016-10-04 10:44] tmylk commented on #917
Hi, @anish9208
Such open ended questions are better for our mailing list https://groups.google.com/forum/#!forum/gensim

The matrices in question are  syn0 and syn1 attributes of the model.

[2016-10-04 10:44] #917 closed

[2016-10-04 14:00] tmylk opened #918 "Add tests for #837"
This PR is almost done, just needs tests https://github.com/RaRe-Technologies/gensim/pull/837

Great issue to fix while getting familiar with Gensim

[2016-10-04 15:17] tmylk commented on #743
Fixed in #883

[2016-10-04 15:17] #743 closed

[2016-10-04 15:57] jlorince commented on #532
Ok, just ran it on a subsample of documents, loading everything into memory, and I do see evidence of parallelization (in htop on linux, will test on Windows next). Regarding the discussion above of the pros/cons of multiple cores...*if* we have the memory to load all the raw data into RAM, is there still a downside to using as many workers as cores?

[2016-10-04 18:36] gojomo commented on #532
The optimal number of worker threads will probably still be somewhere between 1 and the number of cores. Pre-loading into memory eliminates the bottleneck of single-threaded IO/decompression as a cause of idle threads. There's still the issue of the Python GIL, which means the pure-Python portions of the process contend with each other, and beyond some count of workers, such contention can mean mo

[2016-10-05 06:46] tmylk commented on #532
@jlorince Thanks for testing it. Waiting for update on Windows. If it parallelizes there then will close the issue.

[2016-10-05 06:57] tmylk commented on #896
@AritzBi Have you tried it in a fresh env?

[2016-10-05 06:58] tmylk commented on #898
Closing as abanddoned

[2016-10-05 06:58] #898 closed

[2016-10-05 06:59] tmylk commented on #697
Closing as "won't fix"

[2016-10-05 06:59] #697 closed

[2016-10-05 07:00] mjawa commented on #840
I have been going through the code of ldasemodel.py and had following questions:

1. LdaSeqModel class doesn't have inferDIMseq method implemented yet.  I also see that this method cannot be invoked by any codepath in current implementation. Please let me know if this assumption is right ?

2. Also in this case e-step pretty much becomes inferDTMseq method, right ?

[2016-10-05 07:02] mjawa commented on #840
#903 answers my question.

[2016-10-05 07:16] tmylk commented on #822
@davidjurgens Thanks for reporting it.
What happens when you run several instances of this shell command in parallel? It will show the mallet error.
`bin/mallet import-file --preserve-case --keep-sequence --remove-stopwords --token-regex '\S+' --input /tmp/b40f33_corpus.txt --output /tmp/b40f33_corpus.mallet.infer --use-pipe-from /tmp/b40f33_corpus.mallet`

[2016-10-05 07:20] tmylk commented on #857
Ping @bhargavvader

[2016-10-05 07:37] tmylk commented on #801
Looking for volunteer to add these improvements to https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/word2vec.ipynb

[2016-10-05 08:08] harshul1610 commented on #911
@tmylk I am ready to take this up. How shall I proceed to solve this stuff?

[2016-10-05 08:22] tmylk commented on #911
There's a potential fix in the text above. Investigating if it actually works would be very useful

[2016-10-05 08:39] tmylk commented on #449
@SimonPavlik could you please post a link to the results of your experiments here?

[2016-10-05 08:40] #765 closed

[2016-10-05 08:52] tmylk commented on #482
@RishabGoel Could you please update the ipynb tutorial with this correction?

[2016-10-05 08:59] tmylk commented on #773
Added in https://github.com/RaRe-Technologies/gensim/commit/605139e46f858a225b08632f6364a38e1e4507cb

[2016-10-05 08:59] #773 closed

[2016-10-05 09:00] #696 closed

[2016-10-05 09:46] bhargavvader commented on #840
Yes, @mjawa , you're absolutely right with both points 1 and 2.
The way forward here would be to somehow replace the `lda_post` class with our existing `ldamodel` without breaking anything while giving similar results.
However I have concerns because some parts of `lda_post` are important for further implementing DIM later.

I think the steps ahead, in order, would be to first implement DIM, and t

[2016-10-05 11:54] tmylk commented on #558
This would fix #913

[2016-10-05 11:56] tmylk commented on #288
Closing as workaround suggested(ShardedCorpus) but then issue abandoned

[2016-10-05 11:56] #288 closed

[2016-10-05 12:01] tmylk commented on #695
Ping @davidleo4313, did manual pickling also take 30s here?

[2016-10-05 12:23] tmylk commented on #532
Leaving open to investigate relationship between parallelization and tags/docs ratio in https://github.com/RaRe-Technologies/gensim/issues/532#issuecomment-221977841

[2016-10-05 12:26] tmylk commented on #740
Fixed in #741 and #742

[2016-10-05 12:26] #740 closed

[2016-10-05 12:31] tmylk commented on #715
Duplicate of https://github.com/RaRe-Technologies/gensim/issues/865 resolved in #876

[2016-10-05 12:31] #715 closed

[2016-10-05 13:11] tmylk commented on #713
Hi @ankit-cliqz Did you find a way to do this? Spark integration is on our roadmap.

[2016-10-05 13:12] #712 closed

[2016-10-05 13:12] tmylk commented on #712
@vanechu You are more likely to get an answer to such open-ended questions at  the mailing list

https://groups.google.com/forum/#!forum/gensim

[2016-10-05 13:13] tmylk commented on #709
Closing as can't reproduce

[2016-10-05 13:13] #709 closed

[2016-10-05 13:16] tmylk commented on #639
@droudy has created the wheels in https://github.com/tmylk/gensim-manylinux

It needs some finishing touches

[2016-10-05 13:17] tmylk commented on #400
@windj007 Do you happen to have example code on replacing with placeholders? Assume it is some simple regexes. Would be great to add it to the documentation.

[2016-10-05 13:19] tmylk commented on #694
Can't reproduce. `six` is a dependency is in setup.py so should have been installed.

[2016-10-05 13:19] #694 closed

[2016-10-05 13:34] windj007 commented on #400
For Wikipedia, a regex like this one worked for me:

[code]

[2016-10-05 17:15] mjawa commented on #840
@bhargavvader : I see. I can start implementing DIM. I am new to gensim, can you please tell me some of the reasons why ldamodel was used instead of lda_post to begin with.

[2016-10-05 20:12] RishabGoel commented on #482
@tmylk Sure!

[2016-10-06 05:04] tmylk commented on #687
Fixed in https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/word2vec.ipynb

Such problems will be avoided in the future as we run ipynb code in CI.

[2016-10-06 05:04] #687 closed

[2016-10-06 05:09] tmylk commented on #635
Fixed in #919

[2016-10-06 05:09] #635 closed

[2016-10-06 05:12] tmylk commented on #746
Hi @panamantis Thanks for the link. Did you come across any pre-trained doc2vec models?

[2016-10-06 05:46] tmylk commented on #599
Fixed in #664

[2016-10-06 05:46] #599 closed

[2016-10-06 05:55] tmylk commented on #666
Added to wiki ideas page

[2016-10-06 05:55] #666 closed

[2016-10-06 05:56] tmylk commented on #572
Closing as abandoned.

[2016-10-06 05:56] #572 closed

[2016-10-06 06:06] tmylk commented on #629
Fixed in

https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-lee.ipynb
 https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-IMDB.ipynb
https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/doc2vec-wikipedia.ipynb
https://github.com/RaRe-Technologies/movie-plots-by-genre

[2016-10-06 06:06] #629 closed

[2016-10-06 06:07] tmylk commented on #650
Fixed in #723

[2016-10-06 06:07] #650 closed

[2016-10-06 06:13] tmylk commented on #647
Closing as abandoned