[2017-10-14 20:48] gojomo commented on #1623
Often a dependency's rapid releases (for improvements or bug-fixing) are a good thing! Or does Numba have a history of breaking backward-compatibility? (If so, isn't the simple and sufficient fix just to pin to known-working versions?)

[2017-10-16 20:18] souravsingh commented on #1623
@gojomo It's not as such breaking backward-compatibility, but occasional performance regressions when using ``@jit`` similar decorators. We should be fine regarding this issue as long as we don't use too much of the decorators and take advantage of the vectorization. I am in favor of using Numba not only for speeding up the Word2Vec, but also other algorithms like LDA and HDP. What do you think?

[2017-10-17 04:40] menshikh-iv commented on #1623
@gojomo

Re (1), we need to organize the flexible hierarchy of classes (many classes with 2-3 methods). I think this allows for us to reuse code efficiently and final class of model will be very clear and simple. Also, this approach gives modularity for (2) point.

Re (2), it will be very nice if our models will be a constructor, many blocks that can be combined. The good example is [BigARTM](http

[2017-10-17 04:59] menshikh-iv commented on #449
I don't know any GPU implementation that works faster as current CPU word2vec, if we have any benchmark results/good reference implementations - please post it here.

[2017-10-17 05:06] menshikh-iv commented on #113
@piskvorky yes (for multicore implementation only).

[2017-10-17 09:20] menshikh-iv commented on #589
Close, because it doesn't reproducible.

[2017-10-17 09:20] #589 closed

[2017-10-18 00:48] roopalgarg opened #1634 "TextCorpus doesn't provide a way to convert document text to indices as needed for say DL NLP models"
#### Description
TextCorpus doesn't provide a way to convert text in a document to indices per the dictionary as needed for say Deep Learning NLP models. TextCorpus uses Dictionary objects `doc2bow` function which is great for most ML models but for DL models where we need sequential indices for text its not usable in most cases.
#### Steps/Code/Corpus to Reproduce

sample.txt
[code]

code:
[code]

[2017-10-18 21:30] shenshifo commented on #1203
Hey lev,

how can I convert a ldamallet model to a ldamodel? I didn't find such method in ldamallet wrapper.  I want to visualize the topics from mallet wrapper using pyLDAVis.  Thanks.

[2017-10-18 21:39] hristo-vrigazov opened #1635 "Scoring function in Phrases model is hardcoded"
The [Phrases model](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/phrases.py) is based on word counting and bigram counting and it can process sentences by a given scoring function, which can be supplied via the construtor of `Phrases` (the parameter `scoring`). However, the field for scoring function is used only in the `export_phrases` method. Have a look here:
https://g

[2017-10-19 04:29] gojomo commented on #1635
@michaelwsherman thoughts?

[2017-10-19 06:54] menshikh-iv commented on #1634
Hi @roopalgarg, `doc2bow` returns data in BagOfWords format (**unordered**), this works fine for many models from gensim. Also, `doc2bow` returns frequency for each word in the document (second element in the tuple).

Add method `doc2idx` may be a good idea, wdyt @piskvorky @gojomo?

[2017-10-19 06:58] menshikh-iv commented on #1635
This problem fixed in https://github.com/RaRe-Technologies/gensim/pull/1573 from @michaelwsherman
Before merge #1573 I think we should merge #1568 -> resolve conflicts in #1573, wdyt @gojomo?

[2017-10-19 07:54] menshikh-iv commented on #1203
Hi @icepieces, [this function](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/ldamallet.py#L359) is needed for you. Example of usage [here](https://github.com/RaRe-Technologies/gensim/blob/db9e2303a84dd240970ca9188b6a18aba9c0ae00/gensim/test/test_ldamallet_wrapper.py#L106)

[2017-10-19 13:17] mcobzarenco commented on #10
This is not the case anymore, (e.g. pyflake shows 63 warnings for `models/wrappers/fasttext.py`). Happy to PEP8 the whole repo and create a pr if that's cool.

[2017-10-19 13:20] piskvorky commented on #10
@mcobzarenco what warnings are these? For example, we care more about readability than a strict 80-char-line limit.

But I also noticed some lapses (vertical indent in word2vec). @menshikh-iv what's the status on code style consistency in gensim?

[2017-10-19 13:24] menshikh-iv commented on #10
@piskvorky
[code]

[2017-10-19 13:47] mcobzarenco commented on #10
Right, fair enough, all of the warnings were of the types you ignore above. Do you think we could we add those ignored rules to `setup.cfg` so they're documented and also ignored by default? I created a PR here #1636

[2017-10-19 14:08] mcobzarenco opened #1637 "FastText wrapper returns inconsistent dtypes"
#### Description
`gensim.models.wrappers.FastText` returns inconsistent dtypes.

#### Steps/Code/Corpus to Reproduce
[code]
For an existing word:
[code]
For an "imputed" word (missing from the vocabulary). The word embedding is computed as the sum of embedding for n-grams:

[code]

The problem in `models/wrappers/fasttext.py::FastTextKeyedVectors.word_vec`. In the case of a missing word, the zero

[2017-10-19 14:26] piskvorky commented on #1637
Nice catch @mcobzarenco ! Thanks.

[2017-10-19 17:15] roopalgarg commented on #1634
awesome! excited to work on it... i will wait for a confirmation from your end if we are actually going to add the `doc2idx` feature.  I am assuming we would add it to the `Dictionary` class?

[2017-10-19 18:09] gojomo commented on #1635
I have no opinion on which should merge first.

[2017-10-20 13:38] souravsingh commented on #1610
Hello, Here is a basic badge which we can use- https://img.shields.io/badge/cite-paper-brightgreen.svg

[2017-10-20 17:20] kumargouravdas commented on #1284
vec_model.train(sentences, total_examples=self.corpus_count, epochs=self.iter.after writing this line i am getting the following error
word2vec_model.train(sentences,total_examples=self.corpus_count, epochs=self.iter)
NameError: name 'self' is not defined
pls give me some solution

[2017-10-20 18:39] menshikh-iv commented on #1610
Useful link: https://shields.io/

[2017-10-21 10:51] Karamax commented on #1415
Solved [1640](https://github.com/RaRe-Technologies/gensim/pull/1640).

[2017-10-21 10:54] #1415 closed

[2017-10-21 10:59] #1610 closed

[2017-10-21 11:16] xelez commented on #1576
Started investigation.

Test classes that use `TestBaseTopicModel`

 * `TestAuthorTopicModel`
 * `TestHdpModel`
 * `TestLdaMallet`
 * `TestLdaModel`
 * `TestLsiModel`

Went on to `LdaModel`.

Basically, numpy uses `float64` by default, and in `LdaModel` is never specified explicitly.

 * `LdaState.__init__()` uses `np.zeros()` for `sstats` (which then used for computing topics)
 * `LdaModel.__init

[2017-10-21 11:43] menshikh-iv commented on #1576
Good investigation, thanks @xelez.
I think the best solution is to add `dtype` argument in the constructor and **explicitly** set `dtype` everywhere when needed (instead of default `float64`). Potentially, we'll have same problems for another method (including for training). If this is true - we can easily reduce memory twice & speedup model :fire:

[2017-10-21 13:14] menshikh-iv commented on #1284
@kumargouravdas Typically, in python, `self` means link to the current instance of the object and used from within the class. Please remove self & check that all variables exist.

[2017-10-21 13:18] yurkai opened #1641 "Quick-start possible duplicate"
#### Description
Quick-start tutorial possible duplicated: [One](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim%20Quick%20Start.ipynb), [Two](https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/gensim%20Quick%20Start.ipynb).

Second is in tutorials folder and has links from [main](https://github.com/RaRe-Technologies/gensim) page and [tutorials](https://github.

[2017-10-21 13:22] xelez commented on #1545
Tried substituting `LdaModel` with `LdaMulticore` only to found that it doesn't change perfomance at all.

Started investigating, found several interesting things:

1)
[code]

2) `LdaModel` is used in:
* in __init__() to initialize DTM.. but you can train LDA yourself with `LdaMulticore`
* other places

It seems, that in other places it used just as Data Transfer Object, while all calculations is

[2017-10-21 13:27] menshikh-iv commented on #1641
Thanks for reporting @yurkai, I think we should rework our "quick start" tutors.

[2017-10-21 17:22] sammous commented on #1629
It's indeed an easy way to implement a word2vec model keeping similarities no matter the language and is a good introduction to cross lingual models.
The way I easily did it is too update the code where the *fast_sentence_sg* is done (beforehand updated to be able to process aligned sentences) ([here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/word2vec_inner.pyx#L391)).

[2017-10-22 11:24] xelez commented on #1320
Tried to reproduce on current develop branch with python3.6 and couldn't.

`WikiCorpus.get_texts()` is a generator function, so the problem may be because generator isn't closed and garbage collected correctly after `break` in a loop (although it's not clear why).

@jli05 can you do something like this and see if it fixes the hanging?

[code]

[2017-10-22 14:18] jli05 commented on #1320
It was too long ago and I'd have to re-download the data if I want to do what you ask. So I trust what you say.

[2017-10-22 17:40] Liebeck opened #1642 "fastText models from 2.3.0 can't be loaded in 3.0.0"
#### Description
I do have a compatibility issue with fastText and version 3.0.0. In version 2.3.0, I used the fastText C++ wrapper to train a model based on the code available at that time from
https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/FastText_Tutorial.ipynb

This code works in **2.3.0**
[code]

In **3.0.0** it fails due to

#### Expected Results
I expected the mode

[2017-10-22 17:50] Liebeck commented on #1642
Or another idea to solve this: Can you create a utilsscript that transforms a 2.3.0 model into a 3.0.0 model?

[2017-10-23 07:19] menshikh-iv commented on #1587
We filled out our list, for this campaign, the acceptance of applications is over.
Very soon we will start sending out gifts, I'll write about all updates here :hammer:

We'll repeat this next time when we reached 10k :star2:

[2017-10-23 07:29] mpenkov commented on #1587
Is there a way to check if my application made it? I sent the email, but didn't get a reply.

[2017-10-23 07:41] menshikh-iv commented on #1587
@mpenkov you are already in list:+1:
As I see, all persons that sent emails before current day already in list, don't worry :)

I think it will be a good idea to ping concrete persons here when we'll send a gift.

[2017-10-23 07:47] alekol commented on #1587
A bit late to the party... just saw the thread and sent an email. Any chance of making it? :D

[2017-10-23 07:48] menshikh-iv commented on #1587
Unfortunately not anymore @alekol

[2017-10-23 08:03] menshikh-iv commented on #1642
@Liebeck Thanks for the report

 I think possible to check this in `load` method, wdyt @chinmayapancholi13?

Can you fix this bug and create PR @Liebeck @chinmayapancholi13?

[2017-10-23 08:16] menshikh-iv commented on #1629
@sammous thanks, link updated

[2017-10-23 10:06] #1587 closed

[2017-10-23 10:06] menshikh-iv opened #1644 "Fix list of ignored problems for flake8"
Now we using `--ignore=E501,E731,E12,W503,E402` parameters for `flake8`, we can be more "strict" and reduce list of "ignored" checks

What this checks means (full list [here](http://pep8.readthedocs.io/en/latest/intro.html#error-codes))

| Code | Message | Action (from us)|
|---------|--------------|---------|
|E501|line too long (>80 characters)| remove (but need track size with adequate limit, l

[2017-10-23 12:04] ElSaico commented on #1498
Working on it!

BTW: the prefix for the labels is fully configurable in fastText (`-label` parameter, with `__label__` being the default), so we cannot rely on this particular pattern, but need a more generic rule such as "all mismatched words have the same prefix".

[2017-10-23 12:54] menshikh-iv commented on #1498
Thanks for the information @ElSaico, I did not know about it.

[2017-10-23 18:46] franklsf95 opened #1646 "Fix Regex Deprecation Warnings in Python 3"
#### Description

When I import gensim in Python 3, I get a lot of deprecation warnings like

[code]

which is a 2 to 3 issue which I believe can be fixed by adding a raw flag before the string.

#### Steps/Code/Corpus to Reproduce

On Python 3...

[code]

Observe the warnings.

#### Expected Results

No deprecation warnings.

#### Actual Results

Deprecation warnings.

#### Versions

Python 3.6.3

[2017-10-23 18:55] michaelwsherman commented on #1635
I'm of the opinion that #1573  should be merged first :), but I'll wait for #1568 -- just be aware that it could easily be a few weeks after #1568 until I merge the code--looks like it will be a meaty merge. If it's important that the merge happen quickly then maybe #1573 should merge first since #1568 looks more active right now. But happy to make whatever work if y'all don't mind the wait.

[2017-10-24 05:56] menshikh-iv commented on #1646
Thanks for report @franklsf95

[2017-10-24 09:58] menshikh-iv commented on #1635
Ok, let's merge #1573 first, thanks for clarification @michaelwsherman.

[2017-10-24 10:11] xelez commented on #1320
[code]
I could reproduce it on `2.0.0`.

Then I done `git diff 2.0.0 wikicorpus.py` to find out why.

Before https://github.com/RaRe-Technologies/gensim/commit/e06c7c3c53dcaebf727da89c9f24b0af790a9fce#diff-eece52d95c280dabe57c803c95d6bb96
exception handling was incorrect and `pool.terminate()` haven't always run, so workers didn't stop and python main process kept waiting for them.

So, this is al

[2017-10-24 10:27] menshikh-iv commented on #1320
@xelez thanks for investigation
This works correctly for the current version, for this reason, I close this issue.

[2017-10-24 10:27] #1320 closed

[2017-10-24 11:22] #1637 closed

[2017-10-24 12:22] #1533 closed

[2017-10-24 12:33] menshikh-iv commented on #1635
Resolved in #1573

[2017-10-24 12:33] #1635 closed

[2017-10-24 13:25] #1498 closed

[2017-10-24 16:08] xelez commented on #1576
@menshikh-iv Are there any plans on refactoring? If yes, I think this should be done with refactoring.
If no, well.. The only way I can see is to examine every line of code identifying places to apply `dtype`.

Well, I think I can do it for `LdaModel`, and maybe other models later. But if anyone will be working on it too, it could easily become a nightmare to merge.

[2017-10-24 19:07] franklsf95 commented on #1646
@menshikh-iv I can fix these warnings and put up a pull request, if you don't mind?

[2017-10-24 19:20] menshikh-iv commented on #1646
Of course @franklsf95, feel free to contribute :+1:

[2017-10-24 19:47] piskvorky commented on #1576
I believe the default should be `float32` everywhere. This means no difference to word2vec/doc2vec (which are float32 already), but potentially changing LSI/LDA etc.

[2017-10-25 07:14] Liebeck commented on #1642
I'm not sure if I understand enough of gensim's architecture to contribute a quick fix. I might be able to have a further look at in January :neutral_face:

[2017-10-25 08:02] xelez commented on #805
Hello everyone. I started investigating this issue and basically, this is the same one as @MridulS described, but in different function:

On text, given by @vitordouzi we end up with graph:
[code]
which ends in 2x2 matrix and pagerank fails.

But I'm not sure how to fix this. @vitordouzi, @menshikh-iv any ideas on the desired outcome? An exception this time doesn't feel right. Maybe set some prede

[2017-10-25 08:53] xelez commented on #805
Anyway, some notes about `weighted_pagerank`:

https://github.com/RaRe-Technologies/gensim/blob/9481915915bf61aa6e4e719a2f26d509677e6779/gensim/summarization/pagerank_weighted.py#L18-L26

1. Matrix can have complex eigenvalues and eigenvector, but we a finding the largest eigenvalue, which is proven to be real. (because `pagerank_matrix` is positive and [Perron–Frobenius theorem](https://en.wikipe

[2017-10-25 09:28] chinmayapancholi13 commented on #1642
@Liebeck Thanks for reporting this issue! Seems to be a problem in the load function.

@menshikh-iv Hey Ivan! I am a little occupied in this week. So I can take a look at this and try to get it resolved in the following week. I hope this is fine. I'll give an update about my progress here. :)

[2017-10-25 10:01] menshikh-iv commented on #805
About (1), (2) @xelez - need to handle special case, the comment from (3) should be useful too.

[2017-10-25 10:02] menshikh-iv commented on #1642
It will be great @chinmayapancholi13, I'm glad to see you here again :)

[2017-10-25 14:18] menshikh-iv opened #1651 "Mutable vector returned by KeyedVectors.word_vector"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

Method `KeyedVectors.word_vector` returned "mutable" vector if we call `model['anywords']` (for `model[['anywords']]` works correctly because [vstack make a copy.](https://github.com/RaRe-Technologies/gensim/blob/269028975e0db48e37e01edfb54e66018db7b61b/gensim/models/keyedvectors.py#L600)

Simple example

[code]

[2017-10-25 15:50] gojomo commented on #1651
What's wrong with providing a mutable vector? It's very rare to even try to mutate the result, so adding the overhead of a copy, on every access, seems a bad tradeoff to me, and returning a mutable view on the actual backing array the right default behavior.

[2017-10-25 16:11] menshikh-iv commented on #1651
@gojomo I was approached by a person from one company, they at work caught this bug. As for me, it's very strange if you change a vector - your `model` changed too.

About performance - yes, it will be slightly slower, but I don't think that it will be greatly affect performance, I benchmarked it

### Preparation
[code]

### Benchmark

Without any changes
[code]
`14.4 ms ± 300 µs per loop (mean ±

[2017-10-25 19:54] gojomo commented on #1651
I still don't think this is a bug; it's reasonable behavior. It doesn't strike me as 'strange' and those familiar with numpy slot-accessing will expect it.

If some particular uncommon usage needs a local mutable copy, they should create it themselves, in their own code.

Doing the copy by default is slower, uses more memory. It's unneeded by most uses/users. Since it's always worked the other way

[2017-10-25 20:05] piskvorky commented on #1651
I'm also -1 on this change. Without a compelling reason, making extra copies would be unexpected and is better left for user-land.

[2017-10-25 20:32] piskvorky opened #1654 "Use Bounter for approx frequency counting"
Multiple models in gensim do a full corpus scan as their first step, to get the vocabulary frequencies / counts: word2vec, doc2vec, tfidf, phrases, make_wiki...

This step can require a lot of memory and be slow, because it's typically not parallelized.

Replace all such scanning by [Bounter](https://github.com/RaRe-Technologies/bounter). Let users specify how much memory they want to dedicate in

[2017-10-25 20:38] poornagurram commented on #1519
@menshikh-iv I would like to submit a PR for this. I am a beginner contributor. can you elaborate on this?.

[2017-10-26 05:25] menshikh-iv commented on #1519
@poornagurram of course, I'll review #1655

[2017-10-26 11:08] #805 closed

[2017-10-26 11:36] Runingtime opened #1657 "word2vec.score returns negative values"
Hi, I've just trained a word2vec model on a Chinese corpus and the function _score_ seems to not work. It always returns a negative value given a sentence. Is this a bug or it just can't deal with such a  corpus?
Thanks in advance!

[2017-10-26 12:00] #1646 closed

[2017-10-26 12:05] menshikh-iv commented on #1657
Hi @Runingtime, thanks for the report.
Please share your code (for training/scoring) and dataset OR fitted model and code for scoring (it's needed for reproducing your problem).

[2017-10-26 12:58] Runingtime commented on #1657
@menshikh-iv thank you for the reply. But I can't upload the dataset or fitted model because they are two large (500+MB). I paste my code and sample text here, hope it helps :)
For training:
[code]

For scoring:
[code]
output>>[-736.7088623]

Sample text:
`工人 失足 摔伤   贵州 长顺 消防 成功 营救	图为 救援 现场 7 月 12 日 17 时 21 分 ， 贵州省 长顺县 消防 接到 群众 报警 称 : 在 长顺县 潮顺 洗车场 旁边 的 建筑工地 上 有 一名 工人 在 作业 时 不慎 坠入 房间 中 ， 房间 四周 无 门窗

[2017-10-26 13:16] poornagurram commented on #1519
@menshikh-iv I didn't get a clear idea about this issue can you elaborate more on this.

[2017-10-26 15:18] menshikh-iv commented on #1519
@poornagurram of course,

Firstly (for simple investigation) you need to run tests with python3 and enabled warnings, howto:
- Clone gensim repo
- Create clean venv
- `pip install -e .[test]` in gensim folder
- python -Wd -b setup.py tests

you'll see many different warnings (about unclosed files, division, etc), you need to go to concrete tests that generate this warning, fix warnings and submit

[2017-10-26 15:23] menshikh-iv commented on #1657
@Runingtime  as I understand, the score is "log probability", this means that this value in the range (-inf, +inf) and a negative value is OK (it isn't a bug).

[2017-10-26 15:42] asegrenev commented on #1651
Cought this bug/reasonable behavior while normalizing word vectors in sentence on tf_idf. Here is sample code:
sent_vec = np.zeros(100)
for word in sent.split():
	word_vec = model[word]
	word_vec *= tfidf[word]
	sent_vec += word_vec

Try to ask 10 experienced (or not?) python developers will this simple code work right or not. I'm new in python (and programming at all) - didn't expect to fail on t

[2017-10-26 20:01] gojomo commented on #1651
@asegrenev Thanks for the concrete example of a place where this caused a problem!

My suggestion would be to include a warning about this mutability in the doc-comments for both `__getitem__()` and `word_vec()`, and an example of how to work around. For example:

"Note that this method returns a reference to a row inside the vector model, and mutating this vector (as if scaling or normalizing the

[2017-10-27 10:04] piskvorky commented on #1651
Interesting idea, I didn't know you could do that.

@asegrenev for your particular case, I'd recommend a more "Pythonic" construction, which will also avoid the mutation issue automatically:

[code]

[2017-10-27 10:25] asegrenev commented on #1651
@piskvorky Thanks for  recommends. The case "sent.split() contains nothing" is already handled while prepocessing sentences.
Before contacting @menshikh-iv we've already found the problem and that was just something like "bug report" :)

[2017-10-27 11:28] piskvorky commented on #1651
Got it -- we welcome all discussions about what problems our users are facing. It helps us assess the prevalence of some issue over time, even if no action taken.

@menshikh-iv To me, that `setflags(write=false)` that Gordon suggested sounds like the ideal solution that combines the best of both worlds (assuming it works and has no negative side effects, like making a copy anyway; I haven't checke

[2017-10-27 12:04] menshikh-iv commented on #1651
`setflags` looks good for this situation (and allows to avoid this problem in future).

[2017-10-27 12:27] menshikh-iv commented on #1651
Updated `What needs to fix` section in head message (added info about `setflags`)

[2017-10-28 07:09] gojomo opened #1659 "model_trimmed_post_training not set on `load()`ed older models"
As seen at: https://stackoverflow.com/questions/46985320/gensim-word2vec-online-training-attributeerror-word2vec-object-has-no-att/46987193#46987193

User received an error because `model_trimmed_post_training` was not present on a model.

Either `load()` should impute this when missing, or some less-clunky way of tracking stripped-down model state be used, perhaps by testing for actual available

[2017-10-28 07:30] roopalgarg commented on #1634
@menshikh-iv @piskvorky @gojomo any updates on this?
my use case is mainly where we want to convert a document into a series of indices per a `word -> word_id` mapping as is needed for Deep Learning based NLP models.
I had a couple of questions around adding a `doc2idx` feature in the `Dictionary` class since the class itself does a lot of house keeping with the `allow_update` parameter in `doc2bo

[2017-10-29 07:43] piskvorky commented on #1592
I agree, the queue filling can be intensive, converting documents into CSC matrices, IIRC. The merging should be fast though (again, IIRC, it's been a while since I saw the code).

A good first step seems to be profiling where the time actually goes. Verifying the bottlenecks. After that we can discuss the best ways to optimize that.

[2017-10-29 20:41] piskvorky commented on #1453
@menshikh-iv I don't understand the English. What does `there is no single-valued` mean?

Same with `if I loaded a dataset, I think that all of them in memory (no open('...') that raise me StopIteration after one scan)`.

My suggestion was to return an open object for `return_model_path=False`, and a path otherwise.

[2017-10-30 04:45] #1651 closed

[2017-10-30 04:45] menshikh-iv commented on #1651
Resolved in #1662.

[2017-10-30 06:02] menshikh-iv commented on #1453
I mean that we have no universal solution, because
1. Dataset can be already split into several files, what's the file we should open?
2. Typical `open` allows you to read only once, this is not very convenient

[2017-10-30 09:47] janpom commented on #1624
done in #1643

[2017-10-30 09:47] #1624 closed

[2017-10-30 13:50] menshikh-iv commented on #1657
This isn't a bug, for this reason I close this PR.

[2017-10-30 13:50] #1657 closed

[2017-10-30 15:35] gojomo commented on #1657
That's my understanding as well; negative score is valid.

[2017-10-30 15:37] Runingtime commented on #1657
I see. Thank you! @menshikh-iv @gojomo

[2017-10-30 15:39] anotherbugmaster opened #1663 "Turn off support of Google Style docstrings"
**All docstrings should be refactored first**

To prevent contributors from using Google Style docstrings, we need to set

`napoleon_google_docstring = False`,

[like explained here](https://samnicholls.net/2016/06/15/how-to-sphinx-readthedocs/).

[2017-10-30 15:42] mataddy commented on #1657
yep, logs :-)

[2017-10-30 15:57] anotherbugmaster opened #1664 "Refactor API reference gensim.parsing"
**Check this PR for the soon-to-be-deprecated modules:** #1618

Documented submodules:

- [x] `__init__.py`
- [x] `porter.py`
- [x] `preprocessing.py`

[2017-10-30 16:10] anotherbugmaster opened #1665 "Refactor API reference gensim.scripts"
**Check this PR for the soon-to-be-deprecated modules:** #1618

Documented submodules:

- [ ] `__init__.py`
- [x] `glove2word2vec.py`
-  ~~`make_wiki.py`~~
-  ~~`make_wiki_lemma.py`~~
-  ~~`make_wiki_online.py`~~
-  ~~`make_wiki_online_lemma.py`~~
-  ~~`make_wiki_online_nodebug.py`~~
- [ ] `make_wikicorpus.py`
- [x] `word2vec2tensor.py`
- [x] `word2vec_standalone.py`
- [x] `segment_wiki.py`

[2017-10-30 16:12] anotherbugmaster opened #1666 "Refactor API reference gensim.similarities"
**Check this PR for the soon-to-be-deprecated modules:** #1618

Documented submodules:

- [ ] `__init__.py`
- [x] `docsim.py`
- [x] `index.py`

[2017-10-30 16:15] anotherbugmaster opened #1667 "Refactor API reference gensim.sklearn_api"
**Check this PR for the soon-to-be-deprecated modules:** #1618

Documented submodules:

- [ ] `__init__.py`
- [x] `atmodel.py`
- [x] `d2vmodel.py`
- [x] `hdp.py`
- [x] `ldamodel.py`
- [x] `ldaseqmodel.py`
- [x] `lsimodel.py`
- [x] `phrases.py`
- [x] `rpmodel.py`
- [x] `text2bow.py`
- [x] `tfidf.py`
- [x] `w2vmodel.py`

[2017-10-30 16:27] anotherbugmaster opened #1668 "Refactor API reference gensim.summarization"
**Check this PR for the soon-to-be-deprecated modules:** #1618

Documented submodules:

- [x] `__init__.py`
- [x] `bm25.py`
- [x] `commons.py`
- [x] `graph.py`
- [x] `keywords.py`
- [x] `pagerank_weighted.py`
- [x] `summarizer.py`
- [x] `syntactic_unit.py`
- [x] `textcleaner.py`

[2017-10-30 16:33] anotherbugmaster opened #1669 "Refactor API reference gensim.topic_coherence"
**Check this PR for the soon-to-be-deprecated modules:** #1618

Documented submodules:

- [ ] `__init__.py`
- [ ] `aggregation.py`
- [ ] `direct_confirmation_measure.py`
- [ ] `indirect_confirmation_measure.py`
- [ ] `probability_estimation.py`
- [ ] `segmentation.py`
- [ ] `text_analysis.py`

[2017-10-30 16:56] anotherbugmaster opened #1670 "Refactor API reference gensim.models.wrappers"
**Check this PR for the soon-to-be-deprecated modules:** #1618

Documented submodules:

- [ ] `__init__.py`
- [x] `dtmmodel.py`
- [x] `fasttext.py`
- [x] `ldamallet.py`
- [x] `ldavowpalwabbit.py`
- [x] `varembed.py`
- [x] `wordrank.py`

[2017-10-30 16:58] anotherbugmaster opened #1671 "Refactor API reference gensim.corpora"
**Check this PR for the soon-to-be-deprecated modules:** #1618

Documented submodules:

- [ ] `__init__.py`
- [x] `bleicorpus.py`
- [x] `csvcorpus.py`
- [x] `dictionary.py`
- [x] `hashdictionary.py`
- [x] `indexedcorpus.py`
- [x] `lowcorpus.py`
- [x] `malletcorpus.py`
- [x] `mmcorpus.py`
- [ ] ~~`shared_corpus.py`~~
- [x] `svmlightcorpus.py`
- [x] `textcorpus.py`
- [x] `ucicorpus.py`
- [x] `wikico

[2017-10-30 23:51] TC-Rudel commented on #416
@menshikh-iv , @tmylk , @piskvorky , I'm having the same issue and am including my dataset, dictionary, and code. This is a corpus pulled from gutenberg project, split into 3.5 M documents using a rather clipped vocabulary of ~66000 words. I did not have problems when trying a 400-topic version but did run into issues with 1000 topics.

Dataset is 2GB zipped and can be [downloaded from google driv

[2017-10-31 06:05] TC-Rudel commented on #416
Based on @ocsponge post, I tried modifying alpha and eta. I have found that in mine case the problem goes away if I set eta = 0.01 but persists if I set eta=0.001.  With 2000 topics, default alpha, and eta=0.01, my topics were converging fine.

[2017-10-31 06:14] menshikh-iv commented on #416
Thank you very much @TC-Rudel for additional information, now this problem can be reproduced.

[2017-10-31 06:16] menshikh-iv commented on #1588
ping @abhishekbuyt

[2017-10-31 06:17] menshikh-iv commented on #1542
ping @ColdL

[2017-10-31 06:18] menshikh-iv commented on #1472
ping @jmhessel, please provide specific examples for us, because so far the problem is not clear.

[2017-10-31 06:19] menshikh-iv commented on #1136
ping @several27 @explicitcall, please provide more info for reproducing a problem (corpus, code, etc).

[2017-10-31 06:23] jmhessel commented on #1472
Sorry -- yes. This is on my todo list. My first todo will be to get paragraph vector scoring functions merged because that is where the issue first arose for me (I have these written in python/cython on my fork). Then, I will look back at this. I've been a bit swamped lately, but this is on my todos.

[2017-10-31 07:06] abhishekbuyt commented on #1588
hi @menshikh-iv  sorry about forgetting about this thread and thanks fro the reminder. The issue did not reoccur so managed to forget.

Something similar happened yesterday with num_topics = 512 and a dictionary size of 250k (same machine)
while running it with pdb, found some useful errors being thrown ( might be the same as what was the cause of this particular bug. )

found the following stacko

[2017-10-31 07:12] menshikh-iv commented on #1588
@abhishekbuyt  thanks for the info, It will be very nice if you share your dataset too (any file-sharing service), I understand that file is very large, but this is needed for reproducing a bug.

[2017-10-31 07:57] several27 commented on #1136
@menskikh-iv hey, I was quiet on the issue as as stated above I switched the tool. But I’d be happy to help to resolve the issue. The thing is that I’m not sure how easy it is, as the problem here is with bigger data. If I recall correctly you were using pickling to share data between processes? That’s one thing that kept failing for me. The limit of 3gb. But directly about the issue above, I’ve p

[2017-10-31 09:57] menshikh-iv commented on #1136
@several27 thanks, whats corpus format you used?

[2017-10-31 10:44] menshikh-iv commented on #1519
Many `ResourseWarning` from `smart_open`, this part fixed in [smart_open/140](https://github.com/RaRe-Technologies/smart_open/pull/140), another yet part fixed in #1660

[2017-10-31 17:18] anotherbugmaster opened #1673 "Revert _save_corpus"

[2017-10-31 17:18] anotherbugmaster opened #1674 "Investigate Examples"

[2017-10-31 17:18] anotherbugmaster opened #1675 "Turn on sphinx class reference links"

[2017-10-31 18:31] mmunozm opened #1676 "Bug in sklearn_api.hdp and in sklearn_api.ldamodel"
#### Description
The new `sklearn_api.hdp` (and also `ldamodel`) modules and/or their combination with `matutils.Sparse2Corpus` yield the wrong results when fitting models from sklearn vectorizers or other sklearn-styled sparse matrices, since they are stored in CSR format. This error might occur in other sklearn_api classes, too.

I believe that either the default value of Sparse2Corpus construct

[2017-11-01 04:55] #1258 closed

[2017-11-01 05:20] menshikh-iv commented on #1673
This change isn't merged, no need to create a distinct issue for it.

[2017-11-01 05:20] #1673 closed

[2017-11-01 05:22] menshikh-iv commented on #1674
Please add more description, what needs more concrete and what's the problem we'll have now.

[2017-11-01 05:23] menshikh-iv commented on #1675
same as #1674

[2017-11-01 05:48] menshikh-iv commented on #1676
Thanks for the detailed report @mmunozm, add explicitly `documents_columns` to wrappers is a better idea I think (than change default behavior).

[2017-11-01 06:11] menshikh-iv commented on #1676
@chinmayapancholi13 are you agree? can you fix this?

[2017-11-01 07:06] TC-Rudel opened #1680 "assert left > 0 failing in models.LdaMulticore with large chunksize"
#### Description
I am getting an assertionError when running models.LdaMulticore with large values for chunksize

#### Steps/Code/Corpus to Reproduce
Run the following code on the [gutenberg corpus](https://drive.google.com/file/d/0B2MmJrCi88c3MklYaGw0SzB5dms/view?usp=sharing) (2GB zipped download from google drive)

Dictionary is attached
[dictionary.zip](https://github.com/RaRe-Technologies/gens

[2017-11-01 09:46] piskvorky commented on #1680
Thanks for detailed report @TC-Rudel .

Other users have reported an issue with multiprocessing (Python's built-in module) in connection with LDA too. @menshikh-iv I can't seem to find the link -- can you link to that issue/PR here?

This seems serious and recurring. Let's fix ASAP.

[2017-11-01 10:35] several27 commented on #1136
@menshikh-iv If I recall correctly just a list of documents, where each document is a list of (word_id, word_frequency) tuples.

[2017-11-01 12:28] menshikh-iv commented on #1680
I don't think that this is connected (because problems looks very different), but I'll link it here #1588 and #1136

[2017-11-01 13:26] menshikh-iv commented on #1680
I don't reproduced this problem, but recieve another errors
[code]
Looks like a problem with serialization (python limits).

[2017-11-01 17:06] jayantj opened #1682 "`datatype` parameter in `load_word2vec_format` doesn't work as expected"
#### Description
Using `datatype=np.float64` in a `KeyedVectors.load_word2vec_call` doesn't work as expected, the loaded floats seem to lose precision. The datatype for `syn0` is still `float64` though, so it seems that they are cast to float32 first while loading, then cast to float64 when creating the array.

#### Steps/Code/Corpus to Reproduce
Using this file -
[test.kv.txt](https://github.com/

[2017-11-01 18:24] menshikh-iv commented on #1680
@TC-Rudel try to reduce `chunksize` (to avoid the problem with serialization) and `num_topics` (to reduce memory usage & speed up computations).

[2017-11-01 18:28] chriswi93 opened #1683 "model/coherencemodel.py issue - no single core mode"
#### Description
**model/coherencemodel.py** can not be used in single core mode.

#### Steps/Code/Corpus to Reproduce
**line 218**
`self.processes = processes if processes > 1 else max(1, mp.cpu_count() - 1)`

#### Expected Results
If I choose processes parameter = 1 for TopicCoherence, self.processes should be 1, too.

#### Actual Results
If I choose processes parameter = 1 for TopicCoherence, s

[2017-11-01 18:41] menshikh-iv commented on #1680
I benchmarked this code and see several problems
1. `scipy.special.psi` - "hottest" and slowest part, need to make more efficient implementation than in scipy
2. CPU overutilization (because numpy sometimes used OpenMPI, that makes many threads and we can see this situation), look to htop, `load average=13` with `workers=2`.

![screenshot from 2017-11-01 22-36-46](https://user-images.githubusercon

[2017-11-01 18:52] menshikh-iv commented on #1683
Thanks for report @chriswi93

[2017-11-02 06:34] chinmayapancholi13 commented on #1676
@menshikh-iv I agree that it would be better to change the call being made from the sklearn_wrapper code than to change the default behaviour, as doing that might affect other parts of the existing code as well.
Yes, I can get this done (along with the issue in fasttext's load method) within this week. My schedule has been a little swamped recently so sorry again for the delay and thanks a lot for

[2017-11-02 06:34] #1683 closed

[2017-11-02 06:35] menshikh-iv commented on #1683
Fixed in #1685

[2017-11-02 12:41] YouYueHuang commented on #1604
If you'd like to work on any of the topics below, you will contribute a scalable implementation of the algorithms to the data science world in Python. A quality implementation will be widely used in the industry. RaRe-Technologies offer financial reward, technical and academic assistance for the project below.
- Read this [general summary](https://wiki.python.org/moin/SummerOfCode/Expectations) be

[2017-11-02 13:06] chriswi93 opened #1687 "rethink multiprocessing"
#### Description
I've noticed gensim uses num_cores() - 1 processes for multiprocessing.
As far as I know from java programming a process doesn't consume any cpu cycles when it is in waiting mode. So when I start 4 processes on a machine which has 4 cores and the main process is waiting for the other processes (process.join() in python?), your machine should be able to parallelize 4 tasks in 4 pro

[2017-11-02 21:07] piskvorky commented on #1687
The main process is typically preparing data for the works, and merging their results. In some algorithms (which model are you talking about?), the main process is actually the bottleneck.

Additionally, each worker may use multiple cores via threading.

Unless you have more concrete suggestions / benchmarks, I'll close this for now. You can always set a higher number of workers manually.

[2017-11-02 21:07] #1687 closed

[2017-11-03 09:06] YouYueHuang commented on #1604
@souravsingh, how would you like to add it into feature proposal list? Could you give me an explicit direction to help you?

[2017-11-03 12:00] ErfolgreichCharismatisch opened #1691 "any2unicode in utils.py"
As `any2unicode` cannot handle floats, I changed it to

[code]

[2017-11-03 12:11] horpto commented on #1691
@ErfolgreichCharismatisch Maybe you can just create a PR? It's more closer to code.

[2017-11-03 13:11] ErfolgreichCharismatisch commented on #1691
What is a pr?

[2017-11-03 13:21] piskvorky commented on #1691
`any2unicode` is not meant to handle floats (see its docstring).

[2017-11-03 13:21] #1691 closed

[2017-11-03 17:18] piskvorky commented on #1453
OK, but even if a dataset is split across several files, we still need some code/class to access and use that dataset, right? Then we return that. Otherwise what's the point? Or can you give some example of what you mean.

Same for the second point: whatever the user has to typically do with such opened file, we can do for him.

[2017-11-03 18:55] stephenhky opened #1692 "Overflow Error in LDA"
I report this issue due to an issue from `shorttext`: https://github.com/stephenhky/PyShortTextCategorization/issues/28

When on iPython, on enters

[code]

If the keras backend was TensorFlow, the following message appears:

[code]

But there is no warning for Theano.

However, this line is not really running the inferrence, but logging the perplexity in the step. And this calculation should have

[2017-11-04 01:55] ErfolgreichCharismatisch commented on #1691
What is a docstring?

[2017-11-04 07:56] piskvorky commented on #1691
https://www.google.com/search?q=docstring

[2017-11-04 11:37] ErfolgreichCharismatisch commented on #1691
Right, I changed the docstring in any2unicode. Now it can handle floats.

[2017-11-04 11:38] ErfolgreichCharismatisch commented on #1691
The problem was, that gensim detected a float and the program crashed. But it did not point to the line of error.

[2017-11-04 12:01] piskvorky commented on #1691
@ErfolgreichCharismatisch if you're passing floats where strings are expected, that points to some error in your program's logic. A crash (exception) is the proper behaviour.

A proper solution is to figure out why you have floats where there should be strings, and fix that.

[2017-11-05 13:39] zotroneneis commented on #1514
When using 'model = FastText.train('/Users/kofola/fastText/fasttext', corpus_file)' how is `corpus_file` supposed to look like? Is it the entire training corpus as one string? Or a list of sentences? Or something else?

[2017-11-05 15:40] piskvorky commented on #1514
@zotroneneis its documentation says `corpus_file is the filename of the text file to be used for training the FastText model. Expects file to contain utf-8 encoded text.`

The filename is simply passed into the underlying `fasttext` library as a parameter, gensim does nothing with it.

[2017-11-06 05:30] menshikh-iv commented on #1692
Yes, the hugest part of inference already calculated for this moment, overflow from `np.exp2`. \

I'm very surprised that you have different behavior with tf/theano, we used theano dtype only for SharedCopus
https://github.com/RaRe-Technologies/gensim/blob/e667069e90136c7d7c814e5d75ec8832e45805d1/gensim/corpora/sharded_corpus.py#L37-L44
Keras used for one method in KeyedVectors https://github.com/

[2017-11-06 05:30] #1692 closed

[2017-11-06 10:41] zotroneneis commented on #1514
Ok, so the text file doesn't have to formatted in any specific way?

[2017-11-06 11:56] menshikh-iv commented on #1514
@zotroneneis you can find the answer in https://github.com/facebookresearch/fastText.

[2017-11-06 13:40] stephenhky commented on #1692
Thanks!

[2017-11-07 07:03] menshikh-iv commented on #1644
For now, need to think about `E12` group and (more important), make extended-E501.

[2017-11-07 08:40] menshikh-iv opened #1697 "New binary corpus format"
Based on https://github.com/RaRe-Technologies/gensim/pull/1679#issuecomment-341686324
New corpus in binary format:
Store each document as `number_of_document_nonzeros` `int32` followed by serialized (feature_id, feature_weight) pairs as (`int32`, `float32`) = 8 bytes per non-zero element. So, total serialized corpus `size = num_docs * 4 + 8 * nnz`.

This is the simple solution (without indexing/sl

[2017-11-07 08:46] menshikh-iv opened #1698 "Reduce size of gensim distrib"
For the current moment, gensim distribution is very heavy (>60Mb for `.tar.gz`). Need to significantly reduce this value, for example, remove notebooks from tar.gz and so on.

**How to produce `tar.gz`**
`python setup.py sdist`

**How to control content in `tar.gz`**
Change [MANIFEST.in](https://github.com/RaRe-Technologies/gensim/blob/develop/MANIFEST.in)

[2017-11-08 05:15] #1698 closed

[2017-11-08 07:47] tarun-t opened #1701 "Doc2Vec training hangs"
#### Description

Hi, I tried training a model, with
[code]
but I'm getting the following exception (after which Python hangs):

#### Actual Results

[code]
#### Versions

('Python', '2.7.6 (default, Oct 26 2016, 20:30:19) \n[GCC 4.8.4]')
('NumPy', '1.13.1')
('SciPy', '0.19.1')
('gensim', '2.3.0')
('cython', '0.27.3')

Thanks for the help in advance.

[2017-11-08 08:06] menshikh-iv commented on #1701
Thanks for report @tarun-t, can you share your `tagged_docs` (needed to reproduce your error)?

[2017-11-08 12:54] menshikh-iv commented on #1701
@tarun-t :+1:

[2017-11-08 12:54] #1701 closed

[2017-11-09 06:43] #1575 closed

[2017-11-10 21:31] piskvorky opened #1706 "Missplaced logging"
Running the `segment_wiki.py` scripts prints:

[code]

which is a bug. The doc2vec module should not log anything on import -- it should behave the same as word2vec, or any other gensim module.

[2017-11-10 23:07] piskvorky commented on #1697
Let me add that a crucial part of this task is measuring and optimizing the read/write performance of this new corpus serialization format. Its main purpose is to be efficient and fast (otherwise we might as well continue using MmCorpus).

[2017-11-11 17:42] souravsingh commented on #1275
The repo- https://github.com/WZBSocialScienceCenter/tmtoolkit implements Griffiths, Cao Juan and Arun metric, but can only use Cao Juan currently.

We can mention this somewhere in the docs and close the issue.

[2017-11-12 02:22] strnam commented on #1542
I think @ishida-titech is right, it happens because  docvec1, docvec2 point to the same list try the copy instead. docsim1 and docsim2 are different because the most_similar() function return new list every call, that also means the model was trained. Gensim works correctly here.

[2017-11-12 13:16] piskvorky opened #1710 "segment_wiki doesn't extract only plain text"
The `segment_wiki.py` script doesn't filter formatting properly. Its plain text output contains rubbish like `{| class=\"wikitable\" style=\"text-align: center`, for example in the article `Academy Award for Best Production Design`, but also others.

This is contrary to the stated mission of the script.

[2017-11-12 13:20] piskvorky opened #1711 "segment_wiki doesn't handle links properly"
According to @menshikh-iv , segment_wiki will convert the link `[http://www.example.org/ link text]` to `` (nothing).

This will lead to incorrect extraction: `[http://www.example.org/ This article] talks about such issues.` will become plain text `talks about this issues.`, which is not good / expected behaviour.

I see two resolutions (possibly controlled by a switch):
1. keep only the anchor te

[2017-11-13 05:06] menshikh-iv commented on #1275
@souravsingh TM evaluation typically isn't trivial, for this reason, we want to see it as a part of gensim (in current lib OR in the notebook, depends on "how difficult it is to calculate the metric".

[2017-11-13 08:07] menshikh-iv commented on #1711
@piskvorky  as I understand, ordinary `[ ]` used for stuff from `Reference` section only, this doesn't look like bug.

[2017-11-13 08:21] menshikh-iv commented on #1710
This is connected with header part of table and styles
Way to found this: `grep -o -P ".{0,50}class=.{0,70}" segmentwiki_output.json`

[2017-11-13 08:26] menshikh-iv opened #1712 "Add interlinks to segment_wiki"
### Idea
[Users ask about this feature](https://twitter.com/TheShubhanshu/status/929493213689335808), this is really useful to have [interlinks](https://en.wikipedia.org/wiki/Help:Link) in the dump to construct the graph of articles or use relation between articles in any way.

### What's need to implement
Add field `"section_interlinks" (list of str)` that contains a list of article titles refere

[2017-11-13 08:31] piskvorky commented on #1710
Eyeballing search results for simple `class=` or even just `{` probably enough -- there's a low chance these would appear in a normal text.

[2017-11-13 08:57] napsternxg commented on #1712
Thanks for creating this issue.
The suggested step is great, but to make it more consistent with the overall structure of the output, we should not only use the string of the link text, but also the Wikipage title it points to.

Another suggestion would be to include the span of the matched text with the begin offset and the end position. This will result in getting a segmented corpus for free bas

[2017-11-13 12:45] piskvorky commented on #1711
That's not how it was described in https://en.wikipedia.org/wiki/Help:Link

I haven't looked at any concrete examples in detail, but we definitely want to handle links properly, it's an important element even in plain text. Current behaviour needs to be double-checked and documented.

[2017-11-13 12:49] piskvorky commented on #1712
The corpora and code included with gensim are restricted to topic modelling and unsupervised text processing. We're not aiming to be "everything for everybody".

Including other types of information (supervised labels, graph structure) needs to be clearly motivated and vetted.

@napsternxg how would you use this extra information? What is the intended application?

[2017-11-13 19:00] napsternxg commented on #1712
@piskvorky I understand the requirement to for gensim being focused on topic modelling and unsupervised text processing.

The major application area is utilizing multi-word units in Wikipedia which are usually linked to other wiki pages - as components of topic models and other text processing. E.g. simple tokenization will split words like "Barack Obama" or "Natural Language Processing". Although

[2017-11-13 19:14] #1664 closed

[2017-11-13 20:13] menshikh-iv commented on #1712
Thank you @napsternxg, maybe you'll try to implement this feature, this will be great!

[2017-11-13 20:20] napsternxg commented on #1712
I can have a look at it after December 15th. Will send a PR then.

[2017-11-13 20:21] menshikh-iv opened #1713 "Try to use buildkite"
I'm very annoyed by reason of not automated "release pipeline", need to make a lot of manual work, I want to try [buildkite](https://buildkite.com/), killer feature - support for all OS.

If we'll use single CI for all OS/Python versions and release in "one-click", this simplify process significantly and make possible to release often without pain.

[2017-11-14 07:27] menshikh-iv commented on #1713
Pros:
- Very nice web version and REST API
- Simple integration with GitHub
- Very flexible (it's possible to setup anything)

Cons:
- Builkite very similar with Jenkins, i.e. this CI doesn't provide machines, only API
- We need ~100$ per month for buildkite API + VPS (Win, Linux, MacOS)  (MacOS is very expensive).
- Long manual tuning (because this doesn't provide agents).

[2017-11-14 07:50] menshikh-iv commented on #1713
The result - may be in the future, but not now.

[2017-11-14 07:50] #1713 closed

[2017-11-14 07:55] menshikh-iv commented on #1627
What's need to implement:
- [ ] Add `macosx` builds to current repository, rejection of MacPython
- [ ] Upload wheel in Appveyour only from `master` + `tag`
- [ ] Upload wheel in Travis only from `master` + `tag`
- [ ] Add correct notification

[2017-11-14 08:31] #1453 closed

[2017-11-14 08:33] menshikh-iv commented on #746
Resolved in #1705

[2017-11-14 08:33] #746 closed

[2017-11-14 08:33] menshikh-iv commented on #717
Resolved in #1705.

[2017-11-14 08:33] #717 closed

[2017-11-14 08:38] menshikh-iv commented on #1453
@macks22 @akutuzov @gojomo if you want to add any model/dataset - feel free to contribute to https://github.com/RaRe-Technologies/gensim-data

[2017-11-14 12:26] piskvorky commented on #717
@menshikh-iv which of the datasets from @macks22 are there? #1705 is rather sparse on information.

We **especially** want all the practical, domain-specific corpora: USPTO patents, the Quora QA duplicates dataset, the PubMed corpus…

[2017-11-14 12:32] piskvorky commented on #746
@menshikh-iv which of the resources above (from @akutuzov , @chinmayapancholi13 , @joyjeni , @panamantis ) are already included? Any plans to include others (where relevant)? Thanks.

[2017-11-14 14:09] ahmedahmedov opened #1716 "model.syn0norm[0] TypeError: 'NoneType' object is not subscriptable"
#### Description
Error while extracting normalized vectors from syn0norm
model.syn0norm[0] TypeError: 'NoneType' object is not subscriptable

#### Steps/Code/Corpus to Reproduce

[code]

#### Expected Results
the first vectors in the syn0norm

#### Actual Results
model.syn0norm[0] TypeError: 'NoneType' object is not subscriptable

#### Versions
Darwin-17.0.0-x86_64-i386-64bit
Python 3.5.4 |Continu

[2017-11-14 14:56] menshikh-iv opened #1717 "Add more datasets/models to gensim-data"
Next release will contain [data/model storage feature](https://github.com/RaRe-Technologies/gensim/issues/1453), for this reason, we want to add models/datasets to make life of our users simpler:cat2:. Current repository for this - https://github.com/RaRe-Technologies/gensim-data

This issue unites all previous issues about dataset/model list: https://github.com/RaRe-Technologies/gensim/issues/145

[2017-11-14 15:38] ahmedahmedov commented on #1716
So, the issue is intermittent. Right after I submitted the issue to GitHub, it worked without any problems. Then again, when I reset the python console, and rerun the script I faced the same problem.

[2017-11-14 16:42] menshikh-iv commented on #1716
Hi @ahmedahmedov, `syn0norm` is the normalized version of `syn0`, it is not stored to save your memory, you have 2 variants:
- use `syn0`
- call `model.init_sims` (better) or `model.most_similar*` after loading, `syn0norm` will be initialized after this call.

[2017-11-14 16:42] #1716 closed

[2017-11-15 10:27] ahmedahmedov commented on #1716
@menshikh-iv Great, thanks. I realized it later.

[2017-11-15 18:28] se4u opened #1718 "Bug in bm25 implementation."
In line 52 of bm25.py the variable `self.corpus_size` should be replaced by `len(document)`.

https://github.com/RaRe-Technologies/gensim/blob/82c394a9085d583e8a75c2bb32ecd37cf61236f0/gensim/summarization/bm25.py#L52

[2017-11-15 19:25] init-random opened #1719 "Overlapping phrases"
#### Description
See below, but the most common phrase is not being detected as a bigram by `Phrases`.

#### Steps/Code/Corpus to Reproduce
[code]
#### Actual Results
[code]

#### Expected Results
Given that the phrase "r us" is the most common in the sentences, I would expect that this would be a common extracted phrase. There is mention in #794 that there is intent to avoid overlapping bigrams.

[2017-11-15 21:18] piskvorky commented on #1717
@menshikh-iv Kaggle has a bunch of datasets too: https://www.kaggle.com/datasets?sortBy=relevance&group=all&search=text

The primary added value of the gensim API is being able to download and open the corpus directly and easily (not just the data, there are a lot of dataset storage repos already). Plus the pre-trained plug-n-play models of course.

So that's how we present this dataset feature --

[2017-11-15 23:49] akutuzov commented on #1717
@menshikh-iv  So, the models should be available via a direct download link, right? What format they should follow? Gzipped Gensim pickle, word2vec text/binary files, or...?

[2017-11-16 04:29] menshikh-iv commented on #1717
@akutuzov for now, all data must be `.gz` from any filetype (`.txt`, `.bin`, etc).
For now, exists one limitation - this must be only one file (because we store all models [here](https://github.com/RaRe-Technologies/gensim-data/releases) and don't store any links, this is generated in an automatic way. if necessary - we can change this logic, it's simple.

[2017-11-16 04:57] menshikh-iv commented on #1719
Thanks for the report @init-random, your problem reproduced with the latest version of gensim.

[2017-11-16 04:59] menshikh-iv commented on #1718
Nice catch @se4u, thanks for the report!

[2017-11-16 16:37] piskvorky commented on #1717
@akutuzov we can host the models, and they can be pretty much anything / anywhere. I'd say the technical side is secondary.

The primary concerns/requirements are:
* dataset must be relevant to gensim (unsupervised text analysis, topic modeling, embeddings etc)
* the proposal must contain a clear use case: 1) concrete code for loading up the dataset in Python, 2) using it for some task that the us

[2017-11-16 16:42] piskvorky commented on #1719
Phrases need a proper rewrite (both for performance and for cleaning up the logic, the API).
Also related to the Bounter optimizations.

[2017-11-17 01:04] patcollis34 commented on #1141
Hey any update on this? I took a quick glance over the code and I see a couple easy wins.  First being replace your defaultdict with a bounter and eliminating this list creation: s = [utils.any2utf8(w) for w in sentence].  I would imagine that one of you have already thought about this and are working on something more C or "Cythony". @tmylk @piskvorky @AaronWang30

[2017-11-17 06:38] menshikh-iv commented on #1141
@patcollis34 unfortunately, for the current moment no any progress. We also have the more global issue (not only about phrases) https://github.com/RaRe-Technologies/gensim/issues/1654 (bounter integration to all "counting" places).
I never heard about [cytoolz](https://github.com/pytoolz/cytoolz), @piskvorky please have a look.
It will be very nice if you make PR and fix issue @patcollis34, what d

[2017-11-17 09:08] piskvorky commented on #1141
Cythonizing + bounter ought to be enough, and it's easy to do too (just a few lines).

I think this would be a great easy intro project.

Only one question: do we keep support for "pure Python" = when a person doesn't have a compiler, can they still install and use gensim? Or do we require a compiler (and provide binary wheels where possible)?

[2017-11-17 09:12] menshikh-iv commented on #1141
@piskvorky as for me, we **should** support "pure python" only if it works fine (stable, fast enough), phrases work OK by performance (not very fast, but it's possible to run it with big corpus).

Ideally, we need to have universal wheels for all platforms, then we can safely remove all "replaced pure python" parts.

[2017-11-17 11:29] jayantj opened #1722 "matutils.unitvec returns vector with different dtype from input vector"
#### Description
`matutils.unitvec` can return a unitvector of a different dtype from the input vector if the input dtype isn't `np.float`.
#### Steps/Code/Corpus to Reproduce
[code]

This seems like mostly an internally used method, so it's probably not super-important but it does lead to some surprises while developing.

[2017-11-17 14:28] giahung24 commented on #999
Hello,

I have read  the whole thread, and may I ask why can't you add the compute_loss in doc2vec model?

I am working with doc2vec and really need to know the loss , so I have tried to modify the fast_document_dm_neg() by following the fast_sentence_cbow_neg(). But it doesn't work easily that way.

Can you tell me why can't you add this feature into doc2vec (yet)?

Thank you.

[2017-11-18 08:10] AbdealiJK opened #1724 "Feature Request: YARN Support"
Support for submitting a gensim job using YARN. Currently to submit a Word2Vec distributed job, it requires setting up it's own server/client setup. Would be very useful to be able to run a simple command to do this were YARN handles the machine acquisition and gensim can talk to YARN to figure out machine information and spawn its processes.

[2017-11-18 15:02] anotherbugmaster opened #1725 "Add button for documentation check"
Scikit-learn developers are using [neat userscript](http://scikit-learn.org/stable/developers/tips.html#viewing-the-rendered-html-documentation-for-a-pull-request) to view documentation of a given PR. I think it would be nice for Gensim to have something like that too.

![image](https://user-images.githubusercontent.com/3992246/32981685-a326c82c-cc9a-11e7-9f08-c818247afe0d.png)

[2017-11-18 15:40] menshikh-iv commented on #1725
Thanks @anotherbugmaster, I think it's possible in future (but soon).

[2017-11-18 16:37] souravsingh commented on #1718
@se4u Can you tell us how the bug affects the execution of the summarization module? A small code sample reproducing the bug would be nice.

[2017-11-18 19:08] se4u commented on #1718
@Sourav : Actually, I used the bm25 module independently of the
summarization module just for IR.

Basically, I wanted to quickly compare bm25 with tf-idf, pylucene's api
seemed to be too cumbersome, and I did not want to reinvent the wheel.
Gensim generally has pretty good coding standards that's why I decided to
use bm25 from gensim instead of the various other BM25 implementations on
github. Bu

[2017-11-20 04:44] #1634 closed

[2017-11-20 05:20] #1718 closed

[2017-11-20 07:54] menshikh-iv commented on #999
@chinmayapancholi13 this question for you

[2017-11-20 08:10] menshikh-iv commented on #1724
@AbdealiJK YARN it's the only scheduler, can you describe more concretely:
- why YARN
- why you really need to run w2v on the cluster (it works very fast right now on the single machine)
- links to examples for YARN (how to integrate some with YARN)

[2017-11-20 08:26] menshikh-iv commented on #1642
Fixed in #1723

[2017-11-20 08:26] #1642 closed

[2017-11-20 08:41] #1676 closed

[2017-11-20 11:45] AbdealiJK commented on #1724
I'm sorry I think I got confused when writing the original description.
This issue is for LDA. Currently LDA can run using 2 modes: [single-machine](https://radimrehurek.com/gensim/wiki.html#latent-dirichlet-allocation) or [distributed](https://radimrehurek.com/gensim/dist_lda.html)

In distributed LDA, you need to 'setup a cluster' which is described in [dist-lsi wiki](https://radimrehurek.com/ge

[2017-11-20 12:17] menshikh-iv commented on #1724
@AbdealiJK thanks for the description, this based on https://github.com/dmlc/dmlc-core framework, can you show a more simple example, because dmlc-core is very bad documented and complicated (tied to c/c++, but gensim is almost python package, unlike xgboost).

[2017-11-20 16:04] AbdealiJK commented on #1724
I actually do not have anything simpler at the moment as an example

[2017-11-20 21:32] #1613 closed

[2017-11-20 21:33] menshikh-iv commented on #1644
Last part fixed in #1721

[2017-11-20 21:33] #1644 closed

[2017-11-20 22:44] loisaidasam commented on #1587
Came home to some mail today...

![gensim-swag](https://user-images.githubusercontent.com/213281/33045236-2a0d50c4-ce1a-11e7-8cea-a38f8c2fb531.jpg)

Thanks @piskvorky for the awesome swag, my new fav shirt, for sure!

[2017-11-21 13:04] menshikh-iv opened #1731 "Setup wheel-build repository"
It's very useful to have wheels for all platforms because it allows avoiding many problems with compilation.
Right now, we build windows x64 wheels in [gensim](https://github.com/RaRe-Technologies/gensim) and MacOSX wheels in [gensim-wheels](https://github.com/MacPython/gensim-wheels).

Distinct repo looks like the best solution because for wheel building & testing we need some untrivial CI config

[2017-11-21 15:14] nabergh commented on #1531
For those reading this thread, the result of running the original code in the newest release of gensim is for `gensim.summarization.summarize` to return an empty string. I'm not sure if this is intentional but if it was, I don't even know what the point of it is. It is essentially the same as one putting the original code in a `try/catch` block and doesn't summarize the text or elucidate why the t

[2017-11-21 15:29] fbarrios commented on #1531
@nabergh The rationale behind that decision was to be consistent with the return types.
The NoneType error happened because there weren't enough sentences to process. Also now a logging warning is issued, so what do you think the expected behavior should be?

[2017-11-21 15:33] manojpandey commented on #132
Took this up, working with @menshikh-iv 😄

[2017-11-21 15:39] piskvorky commented on #1531
Maybe the original text? Or an exception explaining the reason?

I'm also not sure what the expected behaviour should be. What is your suggestion @nabergh ?

[2017-11-21 15:42] piskvorky commented on #1531
Of course, ideally we'd want to summarize even shorter passages. @fbarrios how central is the length limitation to the algorithm, how was it chosen? What happens if it is relaxed?

[2017-11-21 16:58] nmoran opened #1732 "Process case for dictionary id mismatch in LsiModel (instead of break the interpreter)"
#### Description
Attempting to train LSI models in online mode results in a segmentation fault.

#### Steps/Code/Corpus to Reproduce

[code]

#### Expected Results

That model is trained successfully and gives the same topics as if full corpus was input in one go.

#### Actual Results

Crashes when documents are added in the stochastic_svd function of matutils.py. Output is:

[code]

Full backtrac

[2017-11-22 05:26] My3VM opened #1735 "Doc2Vec most_similar not ranking docs proprerly"
#### Description
I am on a task to rank a bunch of documents (1000~2000) against set of keyphrases (n grams) associated with given subject.
These are the steps being taken:

1. Extracted keyphrases for all the candidate documents.
2. Trained Gensim's Doc2Vec with list of keyphrases generated at step 1. Each doc has 20-30 keyphrases (2 - 4 grams each)
3. Inferred the target keyphrase vector (for th

[2017-11-22 07:20] menshikh-iv commented on #1735
@My3VM For quality d2v model needs a lot of data, 1000-2000 documents may not be enough (depends on the length of the document). Also, you can try to change parameters (more iterations for `infer_vector`, enlarge `size` of embedding, smaller window, etc).

For your task, I propose to use LsiModel - fast, simple and very often works nicely.

P/S: this question more suitable for [maillist](https://g

[2017-11-22 07:20] #1735 closed

[2017-11-22 08:34] menshikh-iv commented on #1531
Ping @fedelopez77, can your answer for https://github.com/RaRe-Technologies/gensim/issues/1531#issuecomment-346066415 please? What do you think about behavior (how it should look like)?

[2017-11-22 08:38] menshikh-iv commented on #1732
Thanks @nmoran, looks like serious bug (but I'm not sure that bug on our side, maybe it's numpy/scipy problem).

Please add your code + dataset, we want to reproduce this bug.

[2017-11-22 08:51] piskvorky commented on #1722
Not a part of the method's contract, but I'd consider it a surprising behaviour too. Let's make the return type consistent with the input type.

[2017-11-22 10:03] nmoran commented on #1732
Apologies, I thought I had included the code but it was inside the comment. This is fixed now. It's just the example dataset from the tutorial.

[2017-11-22 10:28] menshikh-iv commented on #1732
I found what's a problem, for the first time, you pass `corpus[:5]` that contains indexes from range 0-8, next time, you passed `corpus[5:]` that contains indexes 8-11, that doesn't contained in LsiModel -> produce this problem.

To avoid this, please specify `id2word` in LsiModel first, like

[code]

In the real task, you will fit `gensim.corpora.Dictionary`, convert all documents (list of tokens

[2017-11-22 10:30] menshikh-iv commented on #1724
@AbdealiJK Look, please, distributed training is painful, but important topic for us.

[2017-11-22 11:42] nmoran commented on #1732
Thanks @menshikh-iv for the speedy resolution. Perhaps this should exit a little more gracefully, maybe by checking that the number of ids matches? In my particular case I am not applying this to language data so probably not going to use `gensim.corpora.Dictionary`.

Also wondering if this means that it is not supported to add more words in online mode?

[2017-11-22 11:44] menshikh-iv commented on #1732
@nmoran you are correct, dictionary **must** be defined before training (or using something like hashing-trick with hash dictionary).

Agree with you, a clean exception will be better for this situation, reopen the issue.

[2017-11-22 15:17] nabergh commented on #1531
Hmm I don't see the warning when running the code I posted in the interactive shell or in a Jupyter notebook. Do I have to enable warnings somehow?

@fbarrios I like both of @piskvorky's suggestions for expected behavior. The original text is a better summary than an empty string so I (and I assume most users) would expect that first. If this only happens for very short texts, the original text is

[2017-11-22 17:58] piskvorky commented on #1732
Yes, online feature expansion is not supported. The feature set must be known in advance (but they don't have to be words, that's just NLP terminology for "features").

The hashing trick sort of bypasses this limitation, by having a fixed, static way to convert the features into ids, using a limited id range: https://radimrehurek.com/gensim/corpora/hashdictionary.html

We have an issue open https:

[2017-11-23 04:38] menshikh-iv commented on #74
Be attentive with #1732, I already see exactly same problem twice

[2017-11-23 04:39] menshikh-iv commented on #1732
@piskvorky ok, I close this PR and added the comment to #74 about this issue.

[2017-11-23 04:39] #1732 closed

[2017-11-23 08:19] souveekbose commented on #1586
I am facing the same issue.
gensim: 2.3.0
Python 3.6.0

**My code follows:**

def vectorize_doc2vec():
    sentence1 = 'Dogo is a dog'
    sentence2 = 'dog is a pet'
    sentence3 = 'pets are cool'
    sentence={sentence1:'j1', sentence2:'j2', sentence3:'j3'}

    sentences = LabeledLineSentence(sentence)

    model = Doc2Vec(min_count=1, window=10, size=100, sample=1e-4, negative=5, workers=8)

[2017-11-23 08:29] souveekbose opened #1737 "model.docvecs.most_similar not working"
I am facing an issue while using the model.docvecs.most_similar() function.
gensim: 2.3.0
Python 3.6.0
Error message: '<' not supported between instances of 'str' and 'int'

My code follows:
[code]

The class LabeledLineSentence is as follows:

[code]

Error StackTrace:
[code]

#1586

[2017-11-23 17:22] PeteBleackley commented on #665
I've implemented this in https://github.com/RaRe-Technologies/gensim/pull/1738. However, there is a merge conflict in summarization/__init__.py that needs to be resolved.

[2017-11-26 09:28] gojomo commented on #1737
The tag `dog` is not in your model. An example's `tags` should be a list-of-tags, not a plain string. (Similarly, an example's `words` should be a list-of-words, not a plain string – as indicated by the WARNING in your 2nd log-line.)

We should in fact be showing a better error here, by verifying `doc` is an int before checking if it works as an int-index:

https://github.com/RaRe-Technologies/gen

[2017-11-26 09:34] piskvorky commented on #1737
Yes, that error message is terrible and confusing, for such a (relatively) common and easy-to-make mistake.

[2017-11-26 09:37] piskvorky commented on #1737
Also, that whole int-vs-string design is clearly confusing, users report issues all the time. At the same time, the "expected contract" behaviour is complex to explain, which is always a code smell.

What can we do to make the API saner? Drop the ints? Drop strings?

[2017-11-26 19:33] souravsingh opened #1740 "Travis timeout of tests"
Currently, Travis times out due to the max time limit for the jobs. The time out error can be seen here- https://travis-ci.org/RaRe-Technologies/gensim/jobs/307547006

I suggest adding ``travis_wait`` to increase the max time limit.

[2017-11-27 04:16] menshikh-iv commented on #1737
@piskvorky one of the possible solution - write clear docstring and describe types + examples of usage

[2017-11-27 04:29] menshikh-iv commented on #1740
I disagree with you:
- Travis sometimes freezes, timeout is a good way to handle this situation.
- Tests in gensim shouldn't be very slow, that's bad for us and for our contributors (nobody wants to wait several hours). Our current time is [~25min for Travis job](https://travis-ci.org/RaRe-Technologies/gensim/builds/306471401?utm_source=github_status&utm_medium=notification) and [~15 min for Appve

[2017-11-27 04:29] #1740 closed

[2017-11-27 05:15] souravsingh commented on #1740
Oh. The time out error in Travis threw me off a bit, since it wasn't able to fully finish the tests for py3. Thanks for the guidance.

[2017-11-27 05:29] menshikh-iv commented on #1731
Resolved in https://github.com/MacPython/gensim-wheels/pull/7

[2017-11-27 05:29] #1731 closed

[2017-11-27 13:35] piskvorky commented on #1737
Sure, better documentation always helps. But in this case, I wonder if we can do better with the API itself.

[2017-11-27 16:00] markroxor commented on #1296
@menshikh-iv would this be a good one to take over?

[2017-11-27 17:16] villmow commented on #1172
To monitor loss while training the model set `compute_loss=True` and change [the following lines](https://github.com/RaRe-Technologies/gensim/blob/aaab5b6c54d947a93980b8ce34d43b894cfdbb89/gensim/models/word2vec.py#L1093) to
[code]
@menshikh-iv Maybe this could be automatically done when `compute_loss=True`?

[2017-11-28 04:31] menshikh-iv commented on #1172
@villmow maybe, can you create PR and make this change?

[2017-11-28 04:38] menshikh-iv commented on #1296
@markroxor yes, why not :+1:

[2017-11-28 11:20] menshikh-iv commented on #1627
Fixed in MacPython/gensim-wheels#7
Related issue #1731

[2017-11-28 11:20] #1627 closed

[2017-11-28 13:11] emankhadom commented on #374
i have problem with inferred_vector
inferred_vector = model.infer_vector(test_corpus[doc_id], steps=20, alpha=0.025)
word_locks = model.syn0_lockf
AttributeError: 'Doc2Vec' object has no attribute 'syn0_lockf'

[2017-11-28 20:01] jayantj opened #1743 "`save/load_word2vec_format` fails for `FastText` models"
#### Description
Saving and loading using `save_word2vec_format` and `load_word2vec_format` fails for both native FastText models and models loaded using the wrapper.
#### Steps/Code/Corpus to Reproduce
Example:
[code]

[code]

[code]

From a quick glance, it looks like this resulted from the changes made to `FastTextKeyedVectors` during the native implementation of `FastText` where two different

[2017-11-29 13:33] piskvorky commented on #1743
How could this happen? Aren't we testing save/load?

[2017-11-30 07:47] menshikh-iv commented on #1743
ping @chinmayapancholi13, can you comment this?

[2017-11-30 10:02] set92 opened #1746 "total_vec don't exists"
I wanted to save the most important vectors or similar words, but I tried to cut the length of the embeddings using `model.save_word2vec_format('try.c.w2v', total_vec=10000)` but it says total_vec doesn't exists, but it's in the [documentation](https://radimrehurek.com/gensim/models/keyedvectors.html#gensim.models.keyedvectors.KeyedVectors.save_word2vec_format).

[2017-11-30 10:34] menshikh-iv commented on #1746
Hi @set92, please upgrade your gensim version `pip install -U gensim`, this feature comes from `2.1.0`.
FYI - documentation **always** for latest version (right now - for `3.1.0`)

[2017-11-30 10:34] #1746 closed

[2017-11-30 11:04] menshikh-iv opened #1747 "Update show_topics method from Mallet wrapper"
Need to update https://github.com/RaRe-Technologies/gensim/blob/3.1.0/gensim/models/wrappers/ldamallet.py#L250 (replace `num_words` to `topn`) to prevent warning (report comes from https://groups.google.com/forum/#!topic/gensim/r3YIaqPRmzU)

[2017-11-30 12:29] set92 commented on #1746
Im in 3.1.0, and before I was in 3.0.1 but I get the same error. I load a model using  `model = gensim.models.Word2Vec.load('../../models/model_w2v_medic_v2.bin')` and then I try to save it with `model.save_word2vec_format('try.c.w2v', total_vec=10000)` and it gives the error `TypeError: save_word2vec_format() got an unexpected keyword argument 'total_vec'`

[2017-11-30 12:34] menshikh-iv commented on #1746
@set92 you called [this one](https://radimrehurek.com/gensim/models/word2vec.html#gensim.models.word2vec.Word2Vec.save_word2vec_format) (method of Word2Vec class), but add link to method of KeyedVectors class.
Please try `model.wv.save_word2vec_format('try.c.w2v', total_vec=10000)`

[2017-11-30 12:40] set92 commented on #1746
Yes, you are right, I forgot about wv in `model.wv.save_word2vec_format`, thanks a lot.

[2017-11-30 13:45] lenhhoxung86 commented on #388
For me, this is caused by setting `binary=False`. I'm loading Google News model, and setting `binary` to `True` solves the problem.

[2017-11-30 15:44] piskvorky commented on #1746
@menshikh-iv what's the difference between `model.save_word2vec_format` and `model.wv.save_word2vec_format`? That's some strange API, we should fix that.

[2017-11-30 18:15] menshikh-iv commented on #1746
@piskvorky we should remove this deprecated methods, don't fix.

[2017-11-30 18:54] piskvorky commented on #1746
Sure, but how can this even happen? How did they get out of sync?

[2017-11-30 20:36] gojomo commented on #1737
The motivation for allowing plain-int tags, and handling them specially (in fact more-simply), is to allow sophisticated users the option of avoiding the string-to-int lookup dict overhead. That overhead could be significant for giant training sets. (The much more common issue, and the primary problem here, is failing to understand `words` should be a list-of-tokens, and `tags` a list-of-tags, rat

[2017-11-30 20:49] gojomo commented on #1719
Phrase detection is 'greedy'; if a token is consumed by an earlier-in-the-text phrase meeting the current threshold, it won't be available for a later phrase, even if the later phrase is 'stronger' (would be found even at a tougher threshold). As far as I know the phrases-detection in Google's word2vec.c release, which I believe inspired this code, behaves the same way.

[2017-11-30 21:34] piskvorky commented on #1737
Can we streamline the API so that users stop failing to understand that?

Provide better checks, better error messages? "Too many users misunderstanding" = API needs some re-thinking.

[2017-11-30 21:36] gojomo commented on #1737
My suggestions are as in https://github.com/RaRe-Technologies/gensim/issues/1737#issuecomment-346995119

[2017-12-01 06:35] menshikh-iv commented on #1746
@piskvorky

From the beginning, that's exactly the way it was (i.e. full sync of interfaces), but later - https://github.com/RaRe-Technologies/gensim/pull/1256 this PR added `total_vec` param to `KeyedVector.save_word2vec_format` https://github.com/RaRe-Technologies/gensim/pull/1256/files#diff-741f69634ff2e1b2c4ce544e0d82a1e6R121 and doesn't update "deprecated" `Word2Vec.save_word2vec_format`

[2017-12-01 08:09] #665 closed

[2017-12-01 08:17] piskvorky commented on #1746
Yeah, time to remove it.

Where do we keep the list of deprecated things + their schedule for removal (version)?

[2017-12-01 08:38] menshikh-iv commented on #1746
@piskvorky I have no idea, I assume that there is no such list (all these "deprecations" make before I came).

The first time, docstrings "forwarding" was added in https://github.com/RaRe-Technologies/gensim/pull/1251 (April 11), explicit deprecation added in https://github.com/RaRe-Technologies/gensim/pull/1274 (May 3), that looks like a fix for the previous PR.

[2017-12-01 08:39] menshikh-iv commented on #1746
My plans are release minor (feature version) on next week and major (with change package structure, removing outdated stuff, etc) in next year (probably in January).

[2017-12-01 10:46] rwberendsen opened #1748 "Parameter `work` does not seem to end up being used in `train_document_dbow()`"
https://github.com/RaRe-Technologies/gensim/blob/b6234e7d90ffe9aeda7fab4b39c484381d7c5930/gensim/models/doc2vec.py#L769

By just eyeballing the code, it seems that in this particular function call (and the similar function calls below it), the value passed in `work` is not used inside `train_document_dbow()`. I'm not saying I think it should be used, but if it is not used, perhaps it is cleaner no

[2017-12-01 22:03] gojomo commented on #1748
Note that most users should be (and are) using the alternate `train_document_dbow()`  implementation in `doc2vec_inner.pyx`. That *does* use `work`, superficially, but really doesn't need to (as it'll allocate the scratch space it needs if not already provided, and there's no current need to share the object/memory back out to the caller at the end).

I'm not sure why the original signatures for t

[2017-12-02 09:36] piskvorky commented on #1748
Like @gojomo says, `work` is a preallocated scratch space, used to speed up training (dynamically allocating arrays is very slow, plus ruins CPU caches, which are very important in tight loops).

Makes no different to the "pure Python" code path, which is slow anyway.

[2017-12-02 09:36] #1748 closed

[2017-12-02 09:40] piskvorky commented on #1746
Let's append a clear deprecation plan with each deprecation: in which version will the code be actually removed? (3.2.0 etc)

And then before each release `grep` for deprecations and actually remove the scheduled ones.

[2017-12-02 14:37] init-random commented on #1719
@gojomo thank you for the explanation. Yes, that does seem to be the case.
[code]
I guess my underlying assumption in using this was that it was looking at a sliding window of bigrams as described in figure 5.1 of the Chris Manning book https://nlp.stanford.edu/fsnlp/promo/colloc.pdf. Also, in the bounter bigram count examples it uses a sliding window.

It seems like the greedy approach might be a

[2017-12-02 18:39] gojomo commented on #1719
Picking the stronger pairing does intuitively seem the better policy. The lookahead overhead shouldn't be *too* much, though you could imagine/contrive situations where the whole text's pairs would need to be scored before a single phrase-promotion occurs. (eg: every pair is over the threshold, but each slightly stronger than the one before, through to the end of the text.)

I wonder if in such a

[2017-12-02 21:34] dldx opened #1751 "Gensim 3.1.0 Phrase loader incompatible with older models due to introduction of common_terms"
I have a Phrases model that was computed using Gensim 2.2.0 but because of changes in 3.1.0 (I believe), I cannot load it anymore. This is the error I get:

[code]

Cheers!

[2017-12-03 04:55] init-random commented on #1719
I don't see why you couldn't, but I can think of a few questions:
 - is the max size ngram a hyperparameter
 - in subsequent iterations the threshold is typically reduced. If done in a single pass would the threshold be a function of the ngram size, e.g. if T is the threshold for bigrams then the threshold for trigrams could be 0.67 * T
 - would all 1- to max-n-grams need to be stored; I imagine s

[2017-12-03 11:38] piskvorky commented on #1526
@bobbylz Your corpus is still tiny, 1.7 million documents is no issue. Other libraries like Annoy of FAISS will have the same problem -- in fact, even worse, because they do not support sparse vectors at all.

The problem is the dimensionality: 200,000. Can't you perform dimensionality reduction first (LSI etc)?

If not, and your 200,000 dimensions are sparse (bag-of-words), I'd suggest using some

[2017-12-03 22:15] manneshiva opened #1752 "Incorrect learning of word vectors during online training using `FastText` native implementation"
#### Description
A bug in Fasttext native implementation causes `syn0` to be equal to `syn0_vocab` at the end of training. This causes incorrect learning of vectors during online training.

#### Steps/Code/Corpus to Reproduce

[code]
#### Expected Results
`False`

#### Actual Results
`True`

#### Versions
Linux-4.10.0-40-generic-x86_64-with-Ubuntu-16.04-xenial
('Python', '2.7.12 (default, Nov 19 2

[2017-12-04 04:50] menshikh-iv commented on #1752
@manneshiva good description, but if you have information/ideas where is the concrete problem / how to solve it, please add it to your report.

[2017-12-04 05:35] menshikh-iv opened #1753 "Add explicit deprecation warnings for outdated stuff"
Need to add explicit deprecation warnings for all outdated stuff.
Docstrings isn't good enough for this situation.

What should contain the warning:
- What's an alternative (if exists), i.e. "Call X instead of DEPRECATED_Y"
- When this function will be removed (concrete version, for example, 4.0.0)

related message https://github.com/RaRe-Technologies/gensim/issues/1746#issuecomment-348680651

[2017-12-04 05:39] menshikh-iv commented on #1751
Thanks for report @dldx

ping @alexgarel, can you fix load method in phrases?

[2017-12-04 07:01] AugustGgGreen commented on #934
Did this problem solved?
When I run the LDA it was raised again!!!
Thank you for you help! @markroxor

[2017-12-04 07:53] menshikh-iv commented on #934
@AugustGgGreen no (and probably doesn't fixed soon)

[2017-12-04 08:23] AugustGgGreen commented on #934
Thank you @menshikh-iv

[2017-12-04 08:28] AugustGgGreen commented on #934
If I want to use the gensim with distribute way. Is there anther way to do it? @menshikh-iv

[2017-12-04 08:29] menshikh-iv commented on #934
Unfortunately no @AugustGgGreen, only Pyro4

[2017-12-04 08:30] piskvorky commented on #1752
(off topic: regarding these `'{}'.format` constructions, have a look at `os.path.join`)

[2017-12-04 10:54] alexgarel commented on #1751
hi @menshikh-iv, I can do it. But should I base on master or develop ?

[2017-12-04 10:57] menshikh-iv commented on #1751
@alexgarel `develop` please :)

[2017-12-04 20:26] manneshiva opened #1759 "Updating vocab of a `FastText` model results in change in `dtype` of `model.wv.syn0_vocab`"
#### Description
Updating vocabulary causes an unintended change in the `dtype` of `model.wv.syn0_vocab` from `float32` to `float64`. The primary cause of this issue is the `float64` type `numpy` array returned by `numpy.random.uniform` which when `vstack`ed with a `float32` numpy array casues the change in dtype. This also produces unpredictable segmentation faults in Cython implementation -- #17

[2017-12-05 01:11] #1747 closed

[2017-12-05 01:44] #1759 closed

[2017-12-05 01:56] #1752 closed

[2017-12-05 09:25] chinmayapancholi13 commented on #1743
@menshikh-iv Hey Ivan! I don't think I made any changes to the `load/save_word2vec_format` methods in fastText. Could you please give me till tonight to take a look at this issue?

Thanks for your patience. :)

[2017-12-05 10:09] rbahumi opened #1762 "ipython notebook starts ipython3 kernel also when choosing python2 Kernel"
#### Description
ipython notebook starts ipython3 kernel also when choosing python2 Kernel

#### Steps/Code/Corpus to Reproduce
Example:
1. Build a docker and login to it.
2. Open a new jupyter notebook with python2 kernel
3. Try running code that is only suitable to python2 syntax like:
[code]

4. On Ubuntu you can also run:
[code]
and verify the new notebook was started with ipython3 kernel

###

[2017-12-05 12:17] menshikh-iv commented on #1762
Thanks for report @rbahumi: +1: we'll wait for the fix from you.

[2017-12-05 12:34] rbahumi commented on #1762
Sure, thanks.

Here is the fix:
https://github.com/RaRe-Technologies/gensim/pull/1764

I managed to build a new Docker image and verified the issue was resolved.

Please note that I added my changes right before the _check_fast_version.py_ script.
It seemed appropriate to me (and also it was much faster to build a new docker image because of the cache) - but maybe you'll decide it should be added

[2017-12-05 14:02] #1762 closed

[2017-12-06 10:29] chinmayapancholi13 commented on #1743
@menshikh-iv Hi Ivan. I was looking at the codes of the two functions `save/load_word2vec_format`. I can see that PR (https://github.com/RaRe-Technologies/gensim/pull/1755) has now been added for this issue.

Before I give a shot at trying to solve the problem, I wanted to confirm if this has already been resolved (in case there was some discussion that I was not a part of)? And if not, what is th

[2017-12-06 11:20] sabihk commented on #1340
I found that when we use ConcatenatedDoc2Vec and train the concatenated model then, the resulting output after training is just the concatenation of individual model output.

models_by_name['dbow+dmm'] = ConcatenatedDoc2Vec([simple_models[1], simple_models[2]])

Resulting output of this training is equal to the concatenation of individual 'dbow' and 'dmm' output. (Checked in notebook after models

[2017-12-06 11:46] #1743 closed

[2017-12-06 11:47] menshikh-iv commented on #1743
Thanks @chinmayapancholi13, @shiva already fix it in #1755

[2017-12-06 12:04] menshikh-iv commented on #1296
So, I went through concepnet and discuss with @piskvorky, this project is really self-sufficient and integration makes no sense, for this reason, I close this issue.

[2017-12-06 12:04] #1296 closed

[2017-12-06 13:46] #1751 closed

[2017-12-06 18:08] piskvorky commented on #1296
Actually, I think integration would be nice, in the sense that we could support operations on ConceptNet models loaded into Gensim (what are these operations? what's the context, use-cases for this proposed feature?).

We certainly don't have to re-implement training or do anything fancy. Just use a sane interface, for using this (presumably practical) tool.

[2017-12-06 18:10] menshikh-iv commented on #1296
@piskvorky I think we probably can convert models to word2vec format and use it through KeyedVectors class. We'll add it to gensim-data soon.

[2017-12-06 18:15] piskvorky commented on #1296
So the only difference is in how the models are trained? The functionality and applicability of a trained model is identical to word2vec?

[2017-12-06 18:16] menshikh-iv commented on #1296
@piskvorky probably yes (maybe with small addition) we'll discuss it later with @markroxor and I'll let you know

[2017-12-06 18:47] saroufimc1 opened #1765 "Bucket Argument in fasttext not working as expected ?"
Hi, For the fasttext native from gensim:

My understanding is that according to the hashing trick, if bucket is < total # of subwords, there will be collisions and some subwords will be mapped to the same integers.  Am I wrong?
However, it is not what I see on a toy example:

[code]
#### Expected Results
Dictionary with ngrams and their mappings to integers between 0 and 19 ( buckets = 20)

#### A

[2017-12-06 23:08] gojomo commented on #1340
`ConcatenatedDoc2Vec` is just a hack/wrapper to let two models be viewed as one, in the style implied by the original 'ParagraphVectors' paper.

You shouldn't call `train()` on it - it's composed out of other models, that are themselves trained.

It will just return doc-vectors, for any given tag, that are the concatenation of the wrapped models' doc-vectors for that same tag.

[2017-12-07 07:49] menshikh-iv commented on #1765
Thanks for report @saroufimc1, I went through code with debugger and found that "suspicious resize" of `model.wv.syn0_ngrams` happen in https://github.com/manneshiva/gensim/blob/2560e1d6eaeb1b6e18fb29bd1a6e460a141c5f70/gensim/models/fasttext.py#L332

@manneshiva please look more closely (and fix if this a bug)

[2017-12-07 07:57] manneshiva commented on #1765
@menshikh-iv My code hasn't been merged yet, so I doubt @saroufimc1 used my code (unless he installed Gensim from my branch). The exact same problem appears to be here:
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/fasttext.py#L150
I did not touch/change this part of the code. Will look into this and try fixing soon.

[2017-12-07 09:49] sabihk commented on #1340
@gojomo Thanks for the clarification.

[2017-12-07 12:02] manneshiva commented on #1765
Confirmed that this is a bug caused by incorrect setting of `ngram_hash` [here.](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/fasttext.py#L141). Thanks @saroufimc1 for raising this issue.

[2017-12-07 13:32] #1765 closed

[2017-12-07 13:57] dldx commented on #1751
Thanks for the quick fix!

[2017-12-07 18:08] #1753 closed

[2017-12-08 19:12] darindf opened #1771 "Pyro4.naming exception in `get_my_ip`"
On a multi home nic computer, get_my_ip() is failing to use socket connection to nameserver to retrieve the external ip address to use. The code is proceeding to the default case to use hostname and to look up by ip address, which is currently resolving to virtualbox ethernet adapter that is not reachable from the dispatcher.

Specifically, the line
`ns = Pyro4.naming.locateNS()`
is throwing excep

[2017-12-10 05:30] menshikh-iv commented on #1674
Now we know how works examples in case of doctests, done

[2017-12-10 05:30] #1674 closed

[2017-12-10 05:32] menshikh-iv commented on #1675
This feature available by default with
[code]

[2017-12-10 05:32] #1675 closed

[2017-12-10 10:39] kakshay21 commented on #1269
@menshikh-iv @shubhvachher
What kinds of warning are we talking here?
"albeit a large multiple if users do not provide proper preprocessing pass function or have a small similarity cutoff. Maybe we can give them a warning about the same."
Is that required on the Jupyter notebook?
Does the method have to give some additional parameter as well?

[2017-12-11 10:27] #1771 closed

[2017-12-11 13:55] piskvorky commented on #1257
@menshikh-iv this should be a nice Incubator project (the current WMD is somewhat hard to find and use -- Google doesn't even return Gensim at all!).

[2017-12-11 22:51] saroufimc1 commented on #1261
Hi all,
Can someone please summarize the current state of this? What is the best way of loading a pre-trained model from https://github.com/facebookresearch/fastText/blob/master/pretrained-vectors.md ?

What are the differences between loading the .bin file v. the .vec file ? Is loading the .bin file sufficient to get the words and subwords embeddings?

[2017-12-11 23:28] jayantj opened #1778 "Explore the possibility of using Tangent for gradients in Poincare embeddings"
The current implementation makes use of [autograd](https://github.com/HIPS/autograd/) to auto-differentiate the loss function. As the automatic differentiation is too slow, we chose to not use this feature for training, instead computing the derivatives ourselves and adding an option to perform verification of the computed derivatives by comparing it to the autograd values every 10k iterations or

[2017-12-12 00:00] saroufimc1 opened #1779 "Bucket bug for FastText.load_fasttext_format"
Hi,
I tried loading a pretrained model from Facebook's fasttext into gemsim using FastText.load_fasttext_format, and it looks like there is a bug to be fixed for bucket here as well.

I noticed that for bucket = 2,000,000 we had model.wv.syn0_ngrams.shape[0] = 7,221,731 instead of 2,000,000.

Also, in https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/fasttext.py

I do

[2017-12-12 07:44] menshikh-iv commented on #1779
Thanks for report @saroufimc1, we'll try to reproduce and look into with @manneshiva later (file is downloaded for a very long time)

[2017-12-12 08:01] jayantj commented on #1779
Hi @saroufimc1 thanks for the detailed report and ideas.
It is possible that `syn0_ngrams` should contain rows greater than the number of buckets. The reason for this is that the [C++ FastText model stores](https://github.com/facebookresearch/fastText/blob/master/src/fasttext.cc#L627) `num_words_in_vocab + bucket` vectors in its `input_` matrix, which corresponds to our `syn0_ngrams` matrix.

Is y

[2017-12-12 08:21] jayantj commented on #1261
The tradeoff here is speed v/s memory.

For relatively small vocab sizes (~200k), the steady-state memory usage is 1.1 GB lower than it would be if we chose to keep all ngram vectors as is. (for 300-d vectors). This is at the cost of significantly increased loading time.

Conversely, for large vocab sizes (like for Wikipedia models), we don't reduce memory usage, while also causing much higher loa

[2017-12-12 09:52] markroxor commented on #907
Also continued in #1091 but instead using sphinx templates.

[2017-12-12 10:24] #1668 closed

[2017-12-12 10:29] jayantj commented on #1779
Edit: I'm mistaken, this indeed is a bug.

[2017-12-12 11:08] manneshiva commented on #1261
I feel we should give the user an option -- `discard_unused_ngrams` to save memory, which by default could be `False`. Since the memory saved for small vocab models is significant (owing to a fewer number of total used `ngrmas`), this should be helpful for a user trying to load a small vocab model with limited RAM.

Only concern here, as pointed by @gojomo in [this](https://github.com/RaRe-Technol

[2017-12-12 11:13] manneshiva commented on #1779
Discussed this with @jayantj and narrowed the bug down to an error while trimming `ngrams` in the function `init_ngrams`. Will fix this bug soon.

[2017-12-12 14:00] #1269 closed

[2017-12-12 17:55] saroufimc1 commented on #1779
Thanks @manneshiva !
@jayantj : Since the .bin file does not contain the word n-grams, then what does it contain since the size of the input_ matrix is num_words_in_vocab + bucket ?

In other words, num_words_in_vocab correspond to the embeddings of the vocabulary words.
**What about the bucket part? What are those embeddings for in input_ matrix?**

[2017-12-12 23:22] saroufimc1 opened #1782 "New Feature save_fasttext_format ?"
Hi,
Are there plans to release the feature save_fasttext_format based on save_word2vec_format but for FastText? If so when are you planning to release it?
Currently, we have to use load and save, which saves the whole model. If we do not want to continue training it, we only need the .wv attribute, which is smaller in size than the whole model object...

Thanks,
Carl

[2017-12-13 08:13] menshikh-iv opened #1783 "Reduce gensim distribution size"
Right now, size of gensim `wheel`/`tar.gz` is `~16MB`, this is less than `50MB+`, but still huge.
Need to "cut" big files that used for tests and rewrite the affected tests

Previous issue #1698

[2017-12-13 09:33] jamsawamsa commented on #898
Hey, unfortunately the fix from @AdrianLoer doesn't work for me. Still getting the same error as the original poster.

<ipython-input-25-284dfec6dca2> in <module>()
      1 get_ipython().magic('matplotlib inline')
      2 import importlib
----> 3 import utils2; importlib.reload(utils2)
      4 from utils2 import *
      5 from vgg16_avg import VGG16_Avg

~/courses/deeplearning2/utils2.py in <modul

[2017-12-13 09:36] menshikh-iv commented on #898
@jamsawamsa what's versions of `gensim`, `smart_open`, `boto` you use? Can you update `gensim`/`smart_open` and reproduce your problem?

`pip install --upgrade gensim smart_open`

[2017-12-13 09:51] menshikh-iv commented on #1782
Hi @saroufimc1, thanks for the issue.

wdyt @manneshiva @jayantj?

[2017-12-13 10:11] jamsawamsa commented on #898
I didn't check the versions, but the upgrades worked. Thanks!

[2017-12-13 12:26] data2world opened #1784 "why HDP model topic is always 150?"
#### Description
**I use hdp model to get topics，I want to get all topics 。so I set `num_topic = -1`, but get topics number are alway 150。I found some reason [here](https://stackoverflow.com/questions/31543542/hierarchical-dirichlet-process-gensim-topic-number-independent-of-corpus-size/31847553), but it did not working for me。so, how I get all topics**

TODO: change commented example

#### Steps/

[2017-12-13 13:45] markroxor opened #1785 "Add smart information retrieval system for TFIDF"
https://en.wikipedia.org/wiki/SMART_Information_Retrieval_System

The current [TFIDF](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/tfidfmodel.py) model uses natural TF and IDF for computing TFIDF. The idea is to try various transformation like logarithmic, augmented,boolean etc. before computing the vectors.

More about this - http://www.cs.odu.edu/~jbollen/IR04/readings/

[2017-12-13 18:22] datapythonista opened #1786 "Add contributor information to developers wiki page"
#1604 mentions that the developer documentation is outdated. Besides updating it, I think there is some information missing for contributors.

The main things I think are missing:
- How to set up a developer environment
- How to build Gensim
- How to send a pull request following the git flow described in the page

While the information provided seems appropriate for core developers of the project

[2017-12-14 05:58] menshikh-iv commented on #1786
Thanks for report @datapythonista, I regularly update doc, but more in "how to release" part.

I will try to fix this issue ASAP.

[2017-12-14 10:07] menshikh-iv commented on #1784
Hi @data2world,
Please share your training code and dataset for reproducing your problem.

[2017-12-14 11:55] menshikh-iv commented on #1784
**UPD**  please share your `"data/yuzhang.txt"`, `"data/stopWord.dic"` @data2world

[2017-12-14 11:59] data2world commented on #1784
[yuzhang.txt](https://github.com/RaRe-Technologies/gensim/files/1559062/yuzhang.txt)

[stopWord.txt](https://github.com/RaRe-Technologies/gensim/files/1559065/stopWord.txt)

[2017-12-14 11:59] data2world commented on #1784
github can not surport `.dic`

[2017-12-15 01:50] gitclem opened #1788 "os.path.isfile('question-words.txt') should be 'questions-..."
Minor typo in file doc2vec-IMDB.ipynb

File name used in the statement (Note missing 's' after the word `question` in file name)

`if os.path.isfile('question-words.txt')
`
should be:

`if os.path.isfile('questions-words.txt')`

[2017-12-15 01:57] gitclem opened #1789 "open('aclImdb/alldata-id.txt', encoding='utf-8') doesn't work in Python 2.x"
In file doc2vec-IMDB.ipynb, this statement is not supported in Python 2.x but is in Python 3.x

`with open('aclImdb/alldata-id.txt', encoding='utf-8') as alldata:
`

This works in Python 2.7:

`import codecs
`
`with codecs.open('aclImdb/alldata-id.txt', encoding='utf-8') as alldata:
`

[2017-12-15 06:58] lampda opened #1790 "accuracy had KeyError"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

while going to have an accuracy computation by calling
[code]
I got error message as followings:

[code]

When I looked into the code inside the file **keyedvectors.py** for the called function **accuracy** I found this:

[code]

Then I double checked the size of both `self.vocab` and `self.index2word` , surprisi

[2017-12-15 07:00] menshikh-iv commented on #1789
Thanks for report @gitclem, need to replace all `open` calls to `smart_open` in notebooks to avoid this problem (`encoding` argument appeared only in python3).

[2017-12-15 07:06] menshikh-iv commented on #1790
Hi @lampda,
thanks for the report, can you share the full code here (with train dataset / QA file), I need to reproduce this problem first.

[2017-12-15 07:08] menshikh-iv commented on #1785
related issue #220

[2017-12-15 07:25] lampda commented on #1790
@menshikh-iv

I'd like to share, but how can I post all that you may be interested?
The model file is only <200MB but syn0 file is about 1GB.

The code is running via ipython, and the main part code is here:
[code]

And my question_words.txt (all Chinese characters except the section line)
[code]

I was expecting to see the accuracy rate (score) computed, in order to examine how good my trained wo

[2017-12-15 07:30] lampda commented on #1790
BTW: trainset (text corpus) is about 10GB in my local machine, and about 3.1 Million sentences.

[2017-12-15 07:54] yanshengjia commented on #217
Got the same warning, any idea?

[2017-12-15 08:04] lampda commented on #1790
I checked the file **word2vec.py** and found this code inside `sort_vocab(self)`:
[code]
So, the size(self.wv.vocab) must be equal to te size(self.wv.index2word). Or for my case, all words presented in self.wv.index2word should also be there in self.vocab.

But what resulted in the KeyError failure for the accuracy?

[2017-12-15 08:32] lampda commented on #1790
@menshikh-iv
I think this is something wrong with my use of word2vec. The problem disappeared when I reload the model to ipython.

I think we may close this issue. Sorry for bothering.

[2017-12-15 11:51] menshikh-iv commented on #1790
@lampda no problem, I'm glad that you resolve your problem :blush:

[2017-12-15 11:51] #1790 closed

[2017-12-15 12:14] menshikh-iv commented on #217
@yanshengjia can you sent model/dataset/code for training, that's needed for reproduce your problem

[2017-12-15 12:18] yanshengjia commented on #217
Yeah, I can send you the corpus which I use.

[2017-12-15 12:33] menshikh-iv commented on #217
@yanshengjia corpus **and** concrete code, that produce this problem on your corpus. That's really important (because if we can't reproduce this problem, we can't help)

[2017-12-15 12:37] yanshengjia commented on #217
I have sent the corpus and the code to your gmail.

[2017-12-15 12:37] menshikh-iv commented on #1778
@jayantj can you suggest some way "how to test it" in a better way? I played with Tangent, it works quite well, but that is not enough.

[2017-12-15 13:00] alexbw commented on #1778
Tangent should hopefully be a drop-in replacement for autograd. However,
tangent is new, and might require some fixes to fully work here. Please let
me know what issues you run into and I'd be happy to help.
On Fri, Dec 15, 2017 at 7:38 AM Menshikh Ivan <notifications@github.com>
wrote:

[2017-12-15 13:27] manneshiva commented on #1779
@saroufimc1 The `.bin` file does not contain information about the `ngrams` used. It accesses the `ngram` vector by using the `ngram`'s hash to find it's index in the matrix. This is the reason it also stores the entire `bucket` sized matrix (does not keep track of which of these vectors are used/trained) in `input_` along with the vectors for `vocab` words.

[2017-12-15 13:30] menshikh-iv commented on #1778
@alexbw thanks, we will definitely let you know if we find any problems

[2017-12-15 18:29] gitclem opened #1794 "Use magic "%%time" for timing your code instead of using getting start and end time"
The use of

`%%time
`

to time a cell is much cleaner than explicitly having to get the start and end times.  (%% indicates to time the whole cell.)

See::  http://ipython.readthedocs.io/en/stable/interactive/magics.html

[2017-12-15 19:07] gojomo commented on #1794
Some notebooks already use `%time` or `%%time` to print timing-info.

Some cases where an `end - start` calculation are made might require the timing value in a variable for other kinds of reporting (which I don't think you can get from the magics).

Can you be more specific about the places where you'd suggest a change could beneficially be made, perhaps via Pull Request(s)?

[2017-12-16 13:14] #1786 closed

[2017-12-17 19:20] matthewbaykenney commented on #1545
Hi!

I may have a similar problem, but I don't know enough to be sure. I'm trying to run LDASeq over 221,261 short (reddit comment) documents. The model itself only takes about an hour or so to complete 10 passes on 5 topics, with 6 time slices, but it stalls after the passes are complete?

Is this model only appropriate for much smaller corpuses?

The model stalls on the lines below for reference

[2017-12-18 11:44] jayantj commented on #1782
This is exactly the motivation behind having the `KeyedVectors` instance in the model - the `.wv` attribute that you mention.
You can do `model.wv.save('filename')` in order to save the `FastTextKeyedVectors` instance to a file.
Note that to load this saved file, you will need to use `FastTextKeyedVectors.load('filename')`.

Do let us know if this doesn't accomplish what you had in mind.

[2017-12-18 14:24] #1788 closed

[2017-12-18 14:25] menshikh-iv commented on #1794
Ping @gitclem

[2017-12-18 22:19] saroufimc1 commented on #1782
Thanks @jayantj !

[2017-12-18 22:30] saroufimc1 opened #1798 "init_ngrams in wrapper filling the wrong dictionary? (syn0 instead of syn0_vocab)? (FastText)"
By looking again at the init_ngrams() function used when loading a pre-trained model in fasttext (see fasttext wrapper) in the .bin format, apart from the other issues discussed previously, I was wondering:

Shouldn't the words embeddings be filled into syn0_vocab and not syn0, and then compute ourselves the average embeddings of word and subwords in order to get syn0?

Thanks,
Carl

[2017-12-19 09:13] menshikh-iv commented on #1782
Thanks @jayant,
@saroufimc1 I think that I should close current issue (problem resolved)

[2017-12-19 11:13] menshikh-iv commented on #1545
@Diego999 so, probably your Dictionary is very large, can you reduce the size of the dictionary and try again (based on log messages, it is still being initialized)

[2017-12-19 12:41] markroxor commented on #639
@menshikh-iv

[2017-12-19 14:35] #639 closed

[2017-12-19 17:56] rajivgrover009 commented on #814
Does it support online training?

[2017-12-20 05:32] manneshiva commented on #1798
@saroufimc1 `syn0` is calculated exactly in the way you described but without adding the extra variable -- `syn0_vocab`. The vocabulary embeddings are first filled into `syn0` ([here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/wrappers/fasttext.py#L404)) and then enriched with subwords embeddings to get final embeddings in `syn0` (look [here](https://github.com/RaRe-Tec

[2017-12-20 07:06] saroufimc1 commented on #1798
@manneshiva my bad. Didn't notice that second part. I think though that it would be good to have both syn0 and syn0_vocab even if syn0_vocab is not really needed since it is not enriched with the subwords.

In my particular scenario, if I want to take the embeddings of words and subwords to be used for supervised learning in Keras, I would use syn0_vocab for the words since the Neural Network woul

[2017-12-20 08:39] menshikh-iv opened #1807 "Move building documentation to CircleCI"
Travis has problems with some "latex-related" packages, than needed for us for build documentation, for example `dvipng`, `texlive-latex-extra`, etc.

The problem happens first time in #1714, where we need some additional stuff for png-rendering from latex (because we fix formulas).

Also, this related to really useful feature #1725 (than easier to implement based on `CircleCI`)

[2017-12-20 09:18] menshikh-iv commented on #814
@rajivgrover009 our fasttext implementation - yes.

[2017-12-20 18:08] anotherbugmaster opened #1808 "Reformat API reference page"

[2017-12-20 21:35] rajivgrover009 commented on #814
@menshikh-iv i meant continue training out pretrained fasttext models. is it possible to use pretrained models by fasttext and continue training to add use case specific vocabulary??

[2017-12-21 04:18] halflings commented on #1419
@aneesh-joshi I think a lot of work have been to the tensorflow embedding visualizer:

If you click on "A", it will show a label of your choosing (you can pass strings, or any other value) and show it instead of the dot. This is useful when you have a small number of words, and want to visualize them directly instead of hovering.

It has also search, conditional coloring of datapoints (e.g: you ca

[2017-12-21 05:35] menshikh-iv commented on #814
@anmolgulati show me a concrete link please, probably, only main matrices saved, i.e. - you can only use it (but can't continue training).

[2017-12-21 07:16] aneesh-joshi commented on #1419
@halflings
I agree with you.
My thought process was, especially considering it's in a notebook, that somebody new should be able to visualise the vectors that they've made. And the tensorboard visualizations didn't feel so intuitive.

However, I wasn't aware of the full extent of the tensorboard features. These would indeed be hard to replicate. Not to mention the additional dependency of the plot

[2017-12-21 07:34] menshikh-iv commented on #1419
@halflings we already have "howto" pass data to tensorboard https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Tensorboard_visualizations.ipynb

[2017-12-21 07:44] halflings commented on #1419
@menshikh-iv : Thanks, did not know about the `word2vec2tensor` script.
I guess it makes sense to also have a more lightweight way to visualize things directly from a notebook.

I can try reaching out to the people working on the embeddings projector; there might be a possibility of running it directly from a notebook, but that should not stop you from doing a smaller version using plotly!

[2017-12-21 07:48] menshikh-iv commented on #1419
@halflings probably "embedded" tensorboard will looks not good for this case (too little space in notebook).

IMO, "emedding" isn't needed for this case, but I could be wrong.

[2017-12-21 08:53] menshikh-iv commented on #1784
I checked, HDP **always** produce `T` number of topics (by default, `T=150`, for this reason, you always receive this number of topics)

But you can order it by "importance", and use only top_K topics, this demonstrated in https://stackoverflow.com/a/44393919/8001386 (I do not like it very much, but this is an adequate selection option)

[2017-12-21 08:53] #1784 closed

[2017-12-21 09:53] menshikh-iv commented on #217
@yanshengjia I run this with a debugger (with `np.seterr(all='raise')`), but the problem doesn't happen again (probably need exact `seed` value for reproduce it)

[2017-12-21 10:06] yanshengjia commented on #217
@menshikh-iv I think the reason why I met that warning is that I didn't split the document. I split the doc and the warning doesn't show again. So It's ok now. Thx a lot!

[2017-12-21 11:31] #1798 closed

[2017-12-21 18:17] mucun1988 opened #1810 "word2vec: is there a way to change the smoothing parameter 0.75"
I am trying to use word2vec in gensim and reading https://radimrehurek.com/gensim/models/word2vec.html

The negative samples are sampled using `make_cum_table(power=0.75, domain=2147483647)`, which is called internally. I am wondering is there a way to change this smoothing parameter 0.75 when the function `word2vec.Word2Vec()` is called?

Thanks,
Matt

[2017-12-21 18:22] menshikh-iv commented on #1810
No "clean" way to do it.
But this method calls always with default parameters -> you can "monkeypatch" method directly and change this parameter.

FYI - we have better place for questions - our [maillist](https://groups.google.com/forum/#!forum/gensim)

[2017-12-21 18:22] #1810 closed

[2017-12-21 18:43] mucun1988 commented on #1810
Hi menshikh-iv

Thanks for the reply!

Just make sure. So just changing the 0.75 in `def make_cum_table(self, power=0.75, domain=2**31 - 1):` in the file word2vec.py to the number I want (say 0.5) would work?

Best,
Matt

[2017-12-22 04:37] menshikh-iv commented on #1810
@mucun1988 yes

[2017-12-22 05:10] mucun1988 commented on #1810
great! many thanks!

[2017-12-23 11:11] sharanry commented on #1789
hey, I am new here. Can i take this up?

[2017-12-23 11:48] menshikh-iv commented on #1789
@sharanry of course, feel free to contribute :+1:

[2017-12-26 22:11] manneshiva opened #1818 "Incorrect setting of FastText parameters during online training"
#### Description
The `FastText` model is trained with wrong parameters (`epochs`, `total_examples`, `start_alpha`, `end_alpha`) when calling `FastText.train` after building vocabulary. Since the above-mentioned training parameters are not logged, this bug is hidden from the users (probably explains why no one reported this issue earlier). This is a result of incorrect parameter setting ([here](htt

[2017-12-26 22:15] manneshiva commented on #1818
This is an easy fix. Will submit PR for this ASAP with high priority. Not sure what the test case to catch this bug should be.

[2017-12-27 15:00] menshikh-iv opened #1820 "Re-run & fix all notebooks with python3"
It's hard to support both python versions for notebook (and make completely impossible any testing), for this reason, need to do several things:
- [ ] Re-run all notebooks with python3
- [ ] Add `!pip install` line in the head of the notebook, if notebook required some additional dependencies
- [ ] Fix PEP8
- [ ] Fix bugs (if exist)
- [ ] Make easier work with downloaded datasets (add to gensim-da

[2017-12-27 15:14] pushpankar commented on #1820
I am taking it.

[2017-12-27 15:55] menshikh-iv commented on #1820
@pushpankar not worth it, I'll do it myself later (also, more requirements will be added)

[2017-12-31 07:19] baybars2017 commented on #1340
http://www.top10info.org
https://www.ofadate.com

[2018-01-03 09:25] saroufimc1 commented on #1782
Hello, I am opening this again after looking into the answer of @jayantj.
Can't find  FastTextKeyedVectors.load('filename').
There is only load_word2vec_format in that class and it is not even working (it raises an error because it is not implemented yet.)

[2018-01-03 15:12] jbaiter opened #1824 "FastText memory usage greatly exceeds value returned by `estimate_memory`"
#### Description
When using `gensim.models.fasttext.FastText`, the actual memory usage is much higher (>2x) than predicted by `FastText.estimate_memory`.
My usage scenario is to generate 300-dimensional word embeddings using SkipGram training with window size 8. My corpus has ~55,000,000 documents with ~4,144,457 word types across ~20,000,000,000 tokens. The machine has 16GB of available memory, 1

[2018-01-07 10:36] Atulgang opened #1828 "BM25 : Incorrect scoring function"
https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/summarization/bm25.py
**Instead of "len(document)" it should be the length of the _index_ document of the corpus.**

[code]

[2018-01-08 07:41] sj29-innovate commented on #1828
I want to take this up

[2018-01-08 09:34] menshikh-iv commented on #1824
Thanks for report @jbaiter!

The problem happens because this method isn't overridden in subclass (but **must be**), @manneshiva can you fix this (looks simple)?

[2018-01-08 10:23] menshikh-iv commented on #1782
@saroufimc1 this works with latest gensim version `3.2.0`, update your gensim version.

[2018-01-08 10:23] #1782 closed

[2018-01-08 14:58] #1807 closed

[2018-01-09 08:01] volj1 opened #1834 "D2VTransformer.fit_transform doesn't work"
The **X** parameter of the **fit_transform** method of **D2VTransformer** doesn't accept variables of any type, nor list of token lists (raises _AttributeError: 'list' object has no attribute 'words'_), nor list of TaggedDocument (raises _TypeError: sequence item 0: expected str instance, list found_).

Example:
[code]
Versions:
Windows-10-10.0.16299-SP0
Python 3.6.4 | packaged by conda-forge | (d

[2018-01-09 08:27] jbaiter commented on #1824
I attempted to implement it here: https://github.com/jbaiter/gensim/commit/4a3bbcaeb5652c59aa3a0da666dc2053757641a0

However, I think that implementing the method is only one step. There's a lot of opportunity to reduce the memory overhead of the current implementation:

- `all_ngrams` in the above code snippet uses a lot of memory, but is that huge of a temporary data structure really neccessary?

[2018-01-09 14:20] menshikh-iv commented on #1834
Thanks for report @volj1!
@chinmayapancholi13 can you look into this? This looks really suspicious.

[2018-01-10 07:06] anotherbugmaster commented on #1725
Here's the gist:
https://gist.github.com/menshikh-iv/bfe9b8ef2db10e9511aa9fe5935a7289

I think we can close this. :)

[2018-01-10 07:08] menshikh-iv commented on #1725
Resolved in #1807

[2018-01-10 07:08] #1725 closed

[2018-01-10 13:23] Ronggui commented on #1589
I experienced the same error and found that the errors were cause by empty document (because all the words were filtered out).

[2018-01-10 16:40] #1669 closed

[2018-01-11 05:33] rambo-yuanbo commented on #491
hi, gojomo
if I use only integer tags, but not consecutive ints (some int tags are skkiped because some of the input docs are considered invalid and thrown away), what am I expecting after the training? Am I gonna see a all zero vectors for those unseen tag to the trained model ?

[2018-01-11 06:30] menshikh-iv commented on #1589
Thanks for the information @Ronggui

[2018-01-11 12:33] chinmayapancholi13 commented on #1834
@menshikh-iv Sure Ivan. I'll try to look into the reason for this behavior.

[2018-01-11 13:45] manneshiva commented on #1824
@jbaiter I like both your proposals. `all_ngrams` is not really needed and can indeed be a huge temporary memory overhead. I also agree with discarding word->[ngrams] mappings and calculating the ngrams on-the-fly. Considering that you have Cythonised the `compute_ngrams` function, this shouldn't have a drastic effect on the performance of the model in terms of time. I have gone through your code

[2018-01-11 14:05] jbaiter commented on #1824
Thank you, I'll try to put together a working pull request over the weekend :-)

That function is indeed no longer used, I wrote it for an earlier version of the memory estimation

[2018-01-11 14:12] yjk21 opened #1836 "Word2Vec 3.2.0 performance regression for corpus on s3 with smart-open 1.5.6"
#### Description
Upgrading to gensim 3.2.0 also upgrades smart-open to 1.5.6 which seems to have changed s3 code.
After the upgrade there is a performance regression in Word2Vec that leads to a > 2x slowdown when streaming a gzipped corpus from s3 (> 250K Words/sec  =>  < 100K Words/sec).
Downgrading smart-open to 1.5.3 fixes the issue.

The release notes of smart-open 1.5.6 from Dec 28 state:
- I

[2018-01-11 14:41] menshikh-iv commented on #1836
Hello @yjk21, this is `smart_open` problem (not a gensim), for this reason, I close this issue.

Please create an issue in `smart_open` repository https://github.com/RaRe-Technologies/smart_open/issues with a simple example of code that shows this regression (it seems that in 1.5.6 performance problem should be already fixed, if not - then we fix it again).

CC: @mpenkov

[2018-01-11 14:41] #1836 closed

[2018-01-11 17:15] #1828 closed

[2018-01-11 17:28] menshikh-iv commented on #1238
The wrapper will be removed in next release (because we already have our native cythonized implementation), for this reason, I close this issue.

[2018-01-11 17:28] #1238 closed

[2018-01-11 20:50] gojomo commented on #491
The model will allocate slots for those never-seen ints, and those slots will get the same pre-training small-random-vector initialization as other doc-vectors – but then never be further trained. So they will have small, random initialized values. They'll waste memory, but shouldn't have any other negative effect on other vectors. (Unless you applied some other non-standard process on 'all' vecto

[2018-01-12 06:01] #1818 closed

[2018-01-12 11:08] sj29-innovate commented on #1401
@menshikh-iv  As per your suggestion , I would like to this up, can you provide some starting points ? Thanks a lot.

[2018-01-12 11:24] menshikh-iv commented on #1401
@sj29-innovate
0. Carefully read the bug reports (there are all the links here).
1. Reproduce this bug (compare how it works `0.13.4.1` and `3.2.0`).
2. Look into "candidates for regressions" stuff like this https://github.com/RaRe-Technologies/gensim/issues/1401#issuecomment-307525268.
3. Found, why this problem happens (and how this happens).
4. Fix this bug & submit PR, don't forget to add test

[2018-01-13 09:33] sj29-innovate commented on #1401
@menshikh-iv I read the bug reports and tried to reproduce the error by comparing both the versions but i am getting unexpected results for both the versions , can you please suggest what corpus should i use for training the word2vec model.

[2018-01-13 12:52] menshikh-iv commented on #1401
@sj29-innovate this us bug in Phrases (w2v used only for demonstration, you can ignore it here).
Use any corpus (no object).

[2018-01-13 17:58] sj29-innovate commented on #1401
So basically , first i should find some test case such that the phrasing output is different for different versions , right ? thanks.

[2018-01-15 05:50] menshikh-iv commented on #1401
@sj29-innovate problem not with "concrete" dataset, problem with `Phrases` class

main "hint" for you here - https://github.com/RaRe-Technologies/gensim/issues/1401#issuecomment-307411872 ("train called with empty iterator")

Phrases called as `trigrams_model[bigrams_model[sentences]]`

You can try to reproduce this behavior with w2v and any dataset (as (1) from my list).

[2018-01-15 15:02] #1785 closed

[2018-01-15 18:22] bhargavvader commented on #1021
Sorry @ELind77 , been too busy to get back to this, but this is really a feature which would be great to have implemented some time soon...

Another similar request - it would be cool if we could plug in our own distance metrics in modules which use any kind of similarity/distance functions, like the `Similarity` class.

[2018-01-16 04:36] WonbinPark commented on #321
.

[2018-01-16 16:51] steremma commented on #1712
Hey @napsternxg
I have been working on adding this feature, you can check the PR. At the moment the json output contains
a list of all interlinks found in the article (rather than presenting the interlinks per section). Is there any reason why you would want to know from which section the interlink came from? If yes then we can make the change (it won't be a huge modification). Else we can merge i

[2018-01-18 05:29] menshikh-iv commented on #1317
Done: https://github.com/RaRe-Technologies/gensim/wiki/Developer-page#making-a-new-release

[2018-01-18 05:29] #1317 closed

[2018-01-18 08:51] chaitaliSaini commented on #1710
Adding  ```RE_P16 = re.compile(r'{\|.*class=.*', re.UNICODE) ``` [here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/corpora/wikicorpus.py#L61) will solve this problem.

[2018-01-18 09:34] menshikh-iv commented on #1710
@chaitaliSaini can you submit PR with fix & add tests?

[2018-01-18 11:55] Hambath opened #1844 "CalledProcessError"
Key lines:
Mallet_Loc = r"/Users/myself/mallet-2.0.7"
lda = gensim.models.wrappers.LdaMallet(Mallet_Loc,corpus, num_topics=Nos_Topics, id2word = dictionary)

gives the following error

Traceback (most recent call last):
  File "/Users/myself/Documents/JH_LDA Processing Gensim Mallet v3.py", line 91, in <module>
    lda = gensim.models.wrappers.LdaMallet(Mallet_Loc,corpus, num_topics=Nos_Topics, id

[2018-01-18 12:09] menshikh-iv commented on #1844
This looks like a `Mallet` bug (gensim, in this case, is "transparent proxy").
Can you run this command manually?

[2018-01-18 16:02] Hambath commented on #1844
Many thanks for this. I am afraid that I can run Mallet directly successfully.
All the best
Jamie

From: Menshikh Ivan <notifications@github.com>
Reply-To: RaRe-Technologies/gensim <reply@reply.github.com>
Date: Thursday, 18 January 2018 12:09
To: RaRe-Technologies/gensim <gensim@noreply.github.com>
Cc: Hambath <hambath@hotmail.com>, Author <author@noreply.github.com>
Subject: Re: [RaRe-Technologi

[2018-01-18 16:05] Utkarsh-Mishra-CIC commented on #1834
Hi, The problem is:
`train_input` format will not work for the [fit](https://github.com/RaRe-Technologies/gensim/blob/master/gensim/sklearn_api/d2vmodel.py#L61) method of [gensim’s sklearn_api of d2vmodel.py](https://github.com/RaRe-Technologies/gensim/blob/master/gensim/sklearn_api/d2vmodel.py) as it implements Doc2vec model in it which works for `TaggedDocument` format only (and as TD format doe

[2018-01-18 16:36] Utkarsh-Mishra-CIC commented on #1834
One approach could be to convert the input format into TaggedDocuments format internally in `fit` method. I have opened a WIP PR with that approach [here](https://github.com/RaRe-Technologies/gensim/pull/1845)

[2018-01-18 17:29] Hambath commented on #1844
Ivan, hi!

If its any help here’s the rudimentary code I’m using and the log:

# LDA Processing v3.py
# Version using Mallet rather than Gensim's own LDA version

import os
import csv
from nltk.tokenize import RegexpTokenizer
from stop_words import get_stop_words
from nltk.stem.snowball import SnowballStemmer
from gensim import corpora, models, utils
from gensim.models import wrappers
import gensi

[2018-01-18 18:32] sj29-innovate commented on #1401
@menshikh-iv  I think I have found the glitch , the "_is_single" function caused this behaviour .
Currently it exist as ,
`obj_iter = iter(obj)
    try:
        peek = next(obj_iter)
        obj_iter = it.chain([peek], obj_iter)
    except StopIteration:
        # An empty object is a single document
        return True, obj
    if isinstance(peek, string_types):
        # It's a document, return

[2018-01-18 23:09] sidd1809 commented on #449
Looks interesting! https://aws.amazon.com/blogs/machine-learning/amazon-sagemaker-blazingtext-parallelizing-word2vec-on-multiple-cpus-or-gpus/

[2018-01-19 06:34] menshikh-iv commented on #1844
Aha, this sounds suspicious, thanks for the report @Hambath!

[2018-01-19 07:41] Ronggui opened #1846 "Lda Model does not work with numpy 1.13"
It gives that following warning,
RuntimeWarning: invalid value encountered in subtract  result = psi(alpha) - psi(np.sum(alpha))

It also does not result proper words probabilities for topics, and the result of show_topics looks like this: nan*w1 + nan*w2

When I upgrade numpy to 1.14, LdaModel works properly.

[2018-01-19 07:52] menshikh-iv commented on #1846
This looks like a numpy-problem (we used numpy for all math).
@Ronggui can you add full example (code + data), that reproduce this behavior?

[2018-01-19 08:30] Ronggui commented on #1846
In [2]: dictionary = corpora.Dictionary.load("dictionary")

In [3]: mm_corpus = corpora.MmCorpus("2018.mm")
   ...: print(mm_corpus)
   ...:
MmCorpus(6928 documents, 2398 features, 183810 non-zero entries)

In [4]: k=5

In [5]: model = models.LdaModel(corpus=mm_corpus, num_topics=k, id2word=dictionary)
/Users/rghuang/anaconda3/lib/python3.6/site-packages/gensim/matutils.py:613: RuntimeWarning: inv

[2018-01-19 08:34] Ronggui commented on #1846
It is strange that when I pip install numpy=1.13.3, thinks work out perfectly.

[2018-01-19 08:43] menshikh-iv commented on #1846
Please attach files `dictionary` and `2018.mm`

[2018-01-19 09:32] Hambath commented on #1844
Ivan,

I’ve sorted it. The reference to the Mallet programme was lacking a fullstop in the directory name. All my fault.

Many thanks for your kind attention.

Best regards

Jamie

From: Menshikh Ivan <notifications@github.com>
Reply-To: RaRe-Technologies/gensim <reply@reply.github.com>
Date: Friday, 19 January 2018 06:34
To: RaRe-Technologies/gensim <gensim@noreply.github.com>
Cc: Hambath <hambat

[2018-01-19 09:59] Ronggui commented on #1846
[sample_files.zip](https://github.com/RaRe-Technologies/gensim/files/1646015/sample_files.zip)

[2018-01-19 10:05] menshikh-iv commented on #1846
This can be related to the same problem from #1767
@Ronggui Thanks for files.

[2018-01-19 11:26] pranaydeep-af commented on #1706
@piskvorky @menshikh-iv would you want the logs to simply be removed or be relocated? I suspect these are the [lines](https://github.com/RaRe-Technologies/gensim/blob/74dae4ddc2de36b8e656382410ad75ee747374c4/gensim/models/doc2vec.py#L75) causing the issue?

[2018-01-19 12:10] menshikh-iv commented on #1706
@pranaydeep-af I don't think that problem in this line.
Logging messages should stay as is, but we don't want to see this message when we import something - `No handlers could be found for logger "...."`

[2018-01-19 12:21] pranaydeep-af commented on #1706
@menshikh-iv I think logging in doc2vec outside any function is the cause of the error. As soon as the user imports the doc2vec file, the logs are executed. In contrast to other modules like word2vec where logging is done only after the import and during object creation. Here are the corresponding [lines](https://github.com/RaRe-Technologies/gensim/blob/74dae4ddc2de36b8e656382410ad75ee747374c4/gen

[2018-01-19 12:23] piskvorky commented on #1712
Thank you for the explanation, that makes sense.

I don't think identifying the interlink location to a section is critical. But the voice of people who actually use this feature is more important than mine -- do you think the section is important?

[2018-01-19 15:48] menshikh-iv commented on #1706
@pranaydeep-af  you can check it easily (reproduce original problem, remove this lines & try to reproduce again)

[2018-01-19 16:06] alexbrandsen opened #1847 "Running word2vec2tensor produces UnicodeDecodeError"
Hi,

When I run

`python -m gensim.scripts.word2vec2tensor --input dans-word2vec.model --output tsv`

It returns the following error:

`2018-01-19 17:02:50,687 : MainThread : INFO : running /home/brandsena/exp/lib/python3.4/site-packages/gensim/scripts/word2vec2tensor.py --input dans-word2vec.model --output tsv
2018-01-19 17:02:50,709 : MainThread : INFO : loading projection weights from dans-word

[2018-01-19 17:32] huahuajhu opened #1848 "time series plot of the topics"
How to create the time series plot like the once in the paper from ldaseqmodel output.

Thx!!!

#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2018-01-19 19:04] napsternxg commented on #1712
@steremma this is great thanks for adding this in. My usecase was being able to identify the multi word unit in the text along with what wiki it points to. But I don't think the current approach may be able to take care of this as the current approach removes that information and only retains the link to the wiki. If we can also have the interlink text and identify what wiki it points to that woul

[2018-01-19 22:43] 50stuck commented on #898
I'm now having the same issue, and the upgrade don't seem to work.

This is my error log:
`AttributeError                            Traceback (most recent call last)
<ipython-input-1-ca32762e4edf> in <module>()
      1 import copy
----> 2 import gensim
      3 import logging
      4 import pyndri
      5 import pyndri.compat

/home/dror_guldin/.local/lib/python3.5/site-packages/gensim/__init__.py

[2018-01-20 03:38] gojomo commented on #1401
@sj29-innovate The lack of line formatting makes the code hard to compare/view; can you fix in your comment? Is there a minimal synthetic corpus that illustrates the issue, and that the behavior after the proposed-change is preferable?

[2018-01-20 07:26] chaitaliSaini commented on #1710
Sure.

[2018-01-20 08:12] menshikh-iv commented on #898
@50stuck try to reinstall `boto`, this should help!

[2018-01-20 08:14] menshikh-iv commented on #1848
@huahuajhu can you add more information, what's paper you mean (link), what's a type of plot (screenshot)?

[2018-01-20 08:16] menshikh-iv commented on #1847
@alexbrandsen please share your `dans-word2vec.model`

[2018-01-20 08:18] menshikh-iv commented on #1712
@steremma it's possible to do that @napsternxg suggested?

[2018-01-20 10:02] 50stuck commented on #898
@menshikh-iv I tried running
pip install boto --upgrade --force-reinstall
but am still getting the same error (module 'boto' has no attribute 'plugin')

[2018-01-20 11:43] steremma commented on #1712
I am manually checking sample wiki pages in our test set and it appears that in most cases the text link is exactly the same as the title it points to. There are a few cases where the text is altered a little bit.

So adding this map would show an output mostly like this:
`"computer science": "computer science", "mathematics": "mathematics" ...`
but with occasional differences like `"Android": "[A

[2018-01-20 17:38] steremma commented on #1712
If you think the added functionality is still worth it I think I can have it ready within the week

[2018-01-20 17:45] menshikh-iv commented on #898
@50stuck try to google it (as I see, this is popular "boto" problem), not a gensim issue.

[2018-01-21 12:13] steremma commented on #1712
Done, please check updated PR

[2018-01-22 01:16] liz282907 commented on #217
i've got the same warning, any idea of solving it?

[2018-01-22 06:47] menshikh-iv commented on #217
@liz282907 please ignore it (this is very strange, we need to investigate it properly)
CC: @piskvorky

[2018-01-22 09:20] alexbrandsen commented on #1847
[dans-word2vec.model.zip](https://github.com/RaRe-Technologies/gensim/files/1651382/dans-word2vec.model.zip)

Sorry, thought I uploaded it with the original message, but something must have gone wrong.. Thanks for looking into this!

[2018-01-22 09:30] menshikh-iv commented on #1848
Ping @huahuajhu

[2018-01-22 09:32] menshikh-iv commented on #1847
@alexandercbooth how you produce this file? Probably there were more files (`dans-word2vec.model.*`), can you provide it too?

[2018-01-22 11:37] menshikh-iv opened #1849 "Store images from README directly in repository"
**Problem**: We have [adopters table](https://github.com/RaRe-Technologies/gensim#adopters) that contains concrete companies with logo & additional information. Images (logo) stored everywhere (random CDN, sites, etc) -> can be broken (unavailable) -> README doesn't looks good.

**Solution**: Store all images in repository

**Warning**: We don't want to store large `.jpg`, all images should be opt

[2018-01-22 19:01] sj29-innovate commented on #1401
@menshikh-iv  @gojomo Should i submit a PR with appropriate tests for the same ?

[2018-01-23 05:51] menshikh-iv commented on #1401
@sj29-innovate of course!

[2018-01-23 06:01] ibrahimsharaf commented on #1849
Hi @menshikh-iv, I am willing to take this one.
Should the images be stored in a separate directory in gensim repo? How big exactly is the large `.jpg` image?

[2018-01-23 06:09] menshikh-iv commented on #1849
@ibrahimsharaf
1. Yes, separate dir in `docs/` is good choice
2. As small as possible (preferred `.png` if available, `.jpg` is OK too).

[2018-01-23 06:11] ibrahimsharaf commented on #1849
@menshikh-iv Do you have a specific image optimization method in mind?

[2018-01-23 07:16] menshikh-iv commented on #1849
@ibrahimsharaf no, up to you, only one thins - `width` no more than 200-300, we no need large logos here.

[2018-01-23 12:37] JensMadsen opened #1851 "Support streaming models split into multiple files from S3 / GCS"
Streaming small d2v models from s3 bucket works fine. Simply insert the s3 address into model.load. e.g. model.load('s3://<bucket>/<path>). However, when the model gets bigger and is split into multiple files all files except the main model file cannot be loaded. These other files are loaded by numpy and not smart_open.

The essential part of my code is

[code]
Trying to load from s3 on a bugger m

[2018-01-23 12:42] JensMadsen commented on #1783
It would be most convenient if we could build a minimal version of the distribution (including minimal scipy and numpy modules). I just managed to squeeze gensim onto a aws lambda using python3, but it was not easy :-)

[2018-01-23 14:06] menshikh-iv commented on #1783
@JensMadsen I think we can reduce the size of gensim distribution from `~15MB` to `~3-5MB`. Can you describe, what are you do for compressing?

[2018-01-23 15:53] menshikh-iv commented on #1851
Sounds useful, thanks @JensMadsen, we know about this.
I added "feature" label, this will be really good for gensim.

[2018-01-23 17:30] gojomo commented on #1851
@menshikh-iv IIRC, over a certain array-size (2GB or maybe 4GB), single-file pickling will break, even in 64-bit Python.

The numpy `load()` does take a file-like object, so it might be possible to `smart_open()` from S3 then pass numpy `load()` the stream, but their docs also suggest the file-like object must support `seek()`, which might be an issue.

[2018-01-23 17:39] menshikh-iv commented on #1851
@gojomo `smart_open` already support `seek` operation for S3

[2018-01-23 18:19] mino98 commented on #1019
I'm trying to look into this. Here is a status update, in case anyone wants to help me... 😄

Previously, @tmylk reported that doc2vec's document expansions works as long as `hs=0`. This isn't correct: it crashes if either `negative != 0` (default: 5) or `hs != 0` (default: 0).

To debug and iterate quickly, I used this workflow:
1. change `doc2vec_inner.c` into `doc2vec_inner.pyx` at [this line](h

[2018-01-23 22:41] gojomo commented on #1401
I don't quite understand how the proposed test applies, but: does this exact test succeed in `v. 0.13.4.1`, then fail in `v. 3.2.0`, then succeed after the fix is applied?

[2018-01-23 22:44] gojomo commented on #1019
The pure-python path isn't actually core-dump 'crashing', is it? (I'd think it'd have to be a printed exception, instead.)

Note that segfault crashes are often caused by earlier memory-corruption, rather than the exact line where they're triggered.

[2018-01-23 22:50] sj29-innovate commented on #1401
Yes it failed on the current version whereas worked after the fix was applied. What i deduced was that the "_is_single" function returned iterator to the object in case the object is a corpus , but this iterator was further going through "self._apply()" which again made iterator out of it , so therefore such fix worked.

[2018-01-24 03:15] arlenk commented on #1846
I'm not positive this is related.  It looks like this may be a numpy/anaconda bug (still not positive even after digging through the following): https://github.com/numpy/numpy/issues/9656

@Ronggui, are you running osx?  If I use numpy 1.13 via anaconda on osx, I get the same error as you.  But it definitely looks like a numpy error.  For example, try running this on numpy 1.13:

<pre>

<b>3.68934

[2018-01-24 03:48] piskvorky commented on #1846
Thanks for investigating! Can you clarify / confirm with NumPy and Anaconda devs?

[2018-01-24 09:47] elituan opened #1854 "gensim.matutils.hellinger d(x,y) != d(y,x) if len(x) = len(y)"
#### Description

Compute the distance between 2 distribution with gensim.matutils.hellinger. The d(x,y) do not equal to d(y,x) if len(x) = len(y)
#### Steps/Code/Corpus to Reproduce

from gensim.matutils import hellinger
vec_1 = [(2, 0.1), (3, 0.4), (4, 0.1), (5, 0.1), (1, 0.1), (7, 0.2)]
vec_2 = [(1, 0.1), (3, 0.8), (4, 0.1), (8, 0.1), (10, 0.8), (9, 0.1)]
hellinger(vec_1,vec_2) == hellinger(vec

[2018-01-24 10:16] menshikh-iv commented on #1854
Thanks for report @elituan, reproduced on `3.2.0`.

Problem here - https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/matutils.py#L900 (and lower)

@parulsethi can you fix this?

[2018-01-24 10:18] Savaimaheshwari commented on #1284
model.train(sentences,total_examples=model.corpus_count,epochs=model.iter)

[2018-01-24 12:19] mino98 commented on #1019
Thanks, but in this case it seems that indeed the index is pointing outside of `EXP_TABLE`. I still have to trace it back, though.

---

Yes, as I said it goes out of bounds when it reaches the first new doctag (i.e., "animals" [at line 30 of this minimal code](https://gist.github.com/mino98/1cb7f0f8415a0618e837c7e0f9adfe03#file-crash-py-L29)) as follows:

[code]

Please note that I had to add the

[2018-01-24 15:09] octavian-ganea opened #1855 "Swapped edges in the Poincare embeddings code ?"
#### Description
Directed edges of the Wordnet transitive closure (directed acyclic graph) used in the Poincare embeddings code are swapped in the input file wordnet_noun_hypernyms.tsv and they are never swapped back in the actual code. Why ?

#### Steps/Code/Corpus to Reproduce
Edges are not swapped back in all the places in the Gensim Poincare implementation, e.g. in the function get_root_and_le

[2018-01-24 15:53] mino98 commented on #1019
Pushed this fix for the "slow" version.

Regarding the cythonized version... I'd need more time (and help).

[2018-01-24 19:33] gojomo commented on #1019
Sure, but why would the index be out of the expected, functioning range? Often because of some (arbitrarily-)earlier memory-corruption.

[2018-01-25 02:24] arlenk commented on #1846
Looks like there are several issues about this on the numpy repo.  I think it's an anaconda issue though and it seems like it only impacts OSX.  I commented on this issue on the anaconda repo: https://github.com/ContinuumIO/anaconda-issues/issues/8070.

I can confirm, that at least for me on OSX, the issue is with numpy/anaconda, not gensim.

@Ronggui, can you confirm that you see the same issue w

[2018-01-25 03:55] menshikh-iv commented on #1855
Thanks @octavian-ganea.
@jayantj can you elaborate?

[2018-01-25 05:29] jayantj commented on #1855
Hi @octavian-ganea , thanks for bringing this up.

I'm not entirely clear what you mean by "swapped". Swapped with respect to what?

The wordnet directed graph can be either one representing hypernymy relations, or one representing hyponymy relations. Poincare embeddings make use of hypernymy relations.

A hypernym relation (A, B) means that A is a type of B (otherwise known as an _is-a_ relation)

[2018-01-25 06:34] chaitaliSaini commented on #1710
I dont think the problem can be solved just by checking for {| or class=[^=], because some other markup is also not removed, for eg,
[code]
[code]
[code]
[code]
[code]

[2018-01-25 09:11] JensMadsen commented on #1851
@menshikh-iv I tried that but with no succes. What I did was separately=[] but I got two files. My model is less than 1 gb.

[2018-01-25 09:56] octavian-ganea commented on #1855
Ok, thanks for explaining this. Now I see that in the NIPS paper they use (u,v) to refer to a hypernym relation, as opposed to the standard notation for edges in DAGs. However, I was confused by your function `get_root_and_leaf_nodes(data_file)` in which you process the edges as they were hyponym, not hypernym:
[code]
However, the way this function is used is not affected by this.

[2018-01-25 09:56] #1855 closed

[2018-01-25 10:27] JensMadsen commented on #1783
Yes of course. I plan to write a blog post somewhere soon :-)

A not in details procedure for squeezing gensim into AWS lambda:

1) virtualenv --no-site-packages
2) strip .so files, but not all since some scipy break (https://github.com/pypa/manylinux/issues/119)
3) delete all tests in numpy, scipy, and gensim
4) just to be sure delete __pycache__

[2018-01-25 11:07] menshikh-iv commented on #1851
@JensMadsen can you show code example + names of created files?

[2018-01-25 11:13] menshikh-iv commented on #1710
@chaitaliSaini thanks, probably we need to go through all preprocessing steps and fix the problem with html extraction.

[2018-01-25 12:25] octavian-ganea opened #1857 "Poincare - Link Prediction train set should not exclude links with leaves"
#### Description
Links containing root/leaves should not be excluded from the train set of the Link Prediction task in the Poincare embeddings code.

#### Steps/Code/Corpus to Reproduce
In the Poincare embeddings paper it is stated that links containing the root or a leaf node should be excluded from the validation and test set. However, in the Gensim code they are excluded also from the train set

[2018-01-25 12:35] octavian-ganea commented on #1857
Sorry, your implementation is correct.

[2018-01-25 12:35] #1857 closed

[2018-01-25 14:04] octavian-ganea opened #1858 "Wrong distance in Lexical entailment experiment for Poincare embeddings"
The following line https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/poincare.py#L1522
should be:
[code]
otherwise `distance` is the last encountered distance, not the smallest one.

[2018-01-25 16:08] caiyulun commented on #1854
hi, I am willing to work on this.  It seems that d(x,y) do not equal to d(y,x) becasue that x and y has different index sets, and d(x,y) is computed based on the indexs in x while d(y,x) is computed based on indexs in y.

So I am wording if it should have same  result in this situation, and if it should,  maybe one approach  is that we collect all the indexs in x and y into a set firstly, then we

[2018-01-26 07:33] menshikh-iv commented on #1858
Thanks for report @octavian-ganea, looks like a typo (that generates bug here).
@jayantj can you confirm?

[2018-01-26 07:37] menshikh-iv commented on #1854
@caiyulun sounds like a good idea, feel free to contribute! For all indexes that defined for one vector and undefined for other - I think we should use `0.0` as a default value (because of BoW representation for this case -> all undefined stuff is zero).

[2018-01-26 07:41] jayantj commented on #1858
Yeah, that looks like a bug. Good catch.

[2018-01-27 09:34] piskvorky commented on #1854
I don't understand -- what is the cause of this (severe) bug? Why does this bug happen?

[2018-01-28 15:01] psukys opened #1862 "EOFError while on make_wiki"
#### Description
Midway running `gensim.scripts.make_wiki` on latest WikiPedia article dump, EOFError was spit out, which stopped the processing.

[code]

#### Steps/Code/Corpus to Reproduce
Run on [latest](https://dumps.wikimedia.org/enwiki/latest/enwiki-latest-pages-articles.xml.bz2) (21-Jan-2018 21:27         14705396388)
[code]

[2018-01-28 15:22] hachibaka commented on #1858
Hi, Can I take this one?

[2018-01-29 05:50] Ronggui commented on #1846
@arlenk It can be confirmed that conda's numpy (Mac OX) is the source of problem.

     package                    |            build
    ---------------------------|-----------------
    numpy-1.13.3               |   py36h8a80b8c_2         3.7 MB  anaconda

In [1]: import numpy

In [2]: v1 = numpy.asarray([0., 2.], dtype='f')
   ...: v2 = numpy.asarray([0., 1.], dtype='f')
   ...: print(numpy.do

[2018-01-29 09:18] pranaydeep-af commented on #1706
@menshikh-iv Commenting out lines [1](https://github.com/RaRe-Technologies/gensim/blob/09672b369b2ec94a06581efd060be20662d7006c/gensim/models/doc2vec.py#L75l) and [2](https://github.com/RaRe-Technologies/gensim/blob/09672b369b2ec94a06581efd060be20662d7006c/gensim/models/doc2vec.py#L77) removes the issue for doc2vec. Also commenting out the corresponding lines from the fasttext module removes the i

[2018-01-29 09:19] pranaydeep-af commented on #1706
Should I relocate the logs to a more similar structure as in word2vec and other modules?

[2018-01-29 09:28] menshikh-iv commented on #1862
@psukys thanks for report, what's gensim/python version you used?

[2018-01-29 09:29] menshikh-iv commented on #1848
ping @huahuajhu, please describe what's exactly you want to see with viz?

[2018-01-29 09:50] menshikh-iv commented on #1783
@JensMadsen thanks for the information!
We have an old issue related to scipy - https://github.com/RaRe-Technologies/gensim/issues/557 (we want to develop a small tool for manipulating with sparse matrices and drop scipy as a dependency).

[2018-01-29 10:07] psukys commented on #1862
@menshikh-iv I used:

- Python 2.7.14 (On Fedora 27 OS)
- gensim 3.2.0 (Installed via *pip*)

[2018-01-29 10:08] menshikh-iv commented on #1706
@pranaydeep-af yes

[2018-01-29 10:38] menshikh-iv commented on #1862
@psukys I'll try to reproduce it (I wait while the Wiki downloaded).

[2018-01-29 10:55] psukys commented on #1862
@menshikh-iv do mind that it failed after quite some time (after around 4 million documents).

[2018-01-29 11:57] menshikh-iv commented on #1846
Nice work, thanks @arlenk and @Ronggui for investigation!
I close this issue because this isn't a gensim bug.

[2018-01-29 11:57] #1846 closed

[2018-01-29 12:42] psukys commented on #1862
the *archive integrity* check is taking longer than expected (at this point probably hours 🐳 )

I am as well trying to do the same on Azure's Ubuntu 16.04 VM and it surpassed the document location that occurred originally in this issue. The only difference is that this VM uses Python 2.7.12, but I highly doubt that this is the issue. Eitherway I will update when the training is over.

[2018-01-29 12:48] menshikh-iv commented on #1858
@hachibaka of course, feel free to contribute!

[2018-01-29 19:36] menshikh-iv commented on #1862
@psukys I tested it, all works fine, probably your file is broken.

FYI:
- file size: `14705396388`
- md5sum: `466f01f50eba19e899ab4a212291a7d7`

[2018-01-29 19:37] #1862 closed

[2018-01-30 02:05] hachibaka commented on #1858
completed, PR #1863.

[2018-01-30 07:24] #1858 closed

[2018-01-30 07:59] #1854 closed

[2018-01-31 05:29] #1712 closed

[2018-02-01 10:03] menshikh-iv opened #1869 "MmCorpus file-like object support bug"
**Into**
We have some "weird" behavior if a user passes a `file-like` object to `MmCorpus`, based on [this mailing list thread](https://groups.google.com/forum/#!topic/gensim/420pRBwexKQ)

**Demonstration**

[code]

**What happens**
File-like object was closed when we call `MmReader`, problem located here

https://github.com/RaRe-Technologies/gensim/blob/5342153eb4f4b02bb45bfa3951eef8250ac9f6b6/ge

[2018-02-01 17:58] #1706 closed

[2018-02-01 18:46] piskvorky commented on #1706
(another option is a one-time `warnings.warn` message, but it's best to be consistent in how we do this in other modules)

[2018-02-02 03:02] Shikugawa opened #1872 "Doesn't work word2vectensor.py"
#### Description
TODO: change commented example
Used word2vectensor.py to generate tensor and metadata files

#### Steps/Code/Corpus to Reproduce

python word2vec2tensor.py -i trained_tensor.w2v -o texts_plot

#### Expected Results

#### Actual Results

2018-02-02 11:52:23,501 : MainThread : INFO : running word2vec2tensor.py -i trained_tensor.w2v -o texts_plot
2018-02-02 11:52:23,504 : MainThread

[2018-02-02 03:10] #1872 closed

[2018-02-02 06:02] l11x0m7 opened #1873 "Is this a bug in the code or my misunderstanding?"
In `gensim/gensim/models/word2vec.py`, line 394 and line 401

[code]

Shouldn't this be `if model.cbow_mean and input_word_indices` rather than `if not model.cbow_mean and input_word_indices`?

[2018-02-02 09:07] menshikh-iv commented on #1846
probably related report - https://groups.google.com/forum/#!topic/gensim/6Uuj-yr5-Ls

CC: @piskvorky @Ronggui @arlenk

[2018-02-02 10:05] menshikh-iv commented on #1873
CC @manneshiva @jayantj @gojomo

[2018-02-02 10:06] menshikh-iv commented on #1872
@Shikugawa why you close this?

related issue - #1847

[2018-02-02 15:05] Johy opened #1874 "Dov2Vec: AttributeError: Can't get attribute 'EuclideanKeyedVectors'"
Hi,

I can't find anything related to my issue, so I'm posting it here. I trained a doc2vec model, then saved it using `model.save("my.model")`. It saved 4 files:

- my.model
- my.model.docvecs.doctag_syn0.npy
- my.model.syn1neg.npy
- my.model.wv.syn0.npy

I then try to load it, using `d2v = gensim.models.Doc2Vec.load('my.model')`, and it returns:
[code]

Any idea? Is it normal that it uses word2v

[2018-02-02 15:17] Johy commented on #1874
Forget it, looks like my issue is I can't upgrade gensim properly on the machine trying to load the model. That was a compatibility issue, the training machine using 3.2.0 and the loading machine using 2.3.0. It looked like it upgraded gensim, but it didn't. The training machine can load the model without issue, so I'm closing this. Sorry to bother.

[2018-02-02 15:17] #1874 closed

[2018-02-02 20:14] gojomo commented on #1873
No. If you've already averaged all the vectors together (`cbow_mean` true mode), then the error on the (average-magnitude) averaged-vector can also be applied full-magnitude to the the constituent vectors. If instead you've summed them together (the rarer `cbow_mean` false mode), then the error on the (possibly-high-magnitude) summed vector must be divided equally among the constituent vectors.

S

[2018-02-02 20:14] #1873 closed

[2018-02-03 17:58] piskvorky commented on #1873
Worth a code comment if it keep tripping up people?

[2018-02-03 20:39] sj29-innovate commented on #1869
@menshikh-iv  I  am trying to fix this by replacing the with statement with the following code ,
[code]
Do you have any other suggestions for this ?

[2018-02-04 04:37] dhanush987 opened #1877 "ImportError: cannot import name KeyedVectors"
Python 2.7.12, Mac OS High Sierra, gensim (0.13.4.1)

from sklearn.externals import joblib
from gensim.models import KeyedVectors

Traceback (most recent call last):
  File "Test_for_ adversariality.py", line 5, in <module>
    from gensim.models import KeyedVectors
ImportError: cannot import name KeyedVectors

I am trying to load the skipgram.txt files.

[2018-02-04 14:58] Diyago opened #1878 "DeprecationWarning: inspect.getargspec() is deprecated in phrases.py:317"
#### Description
I wanted to add bigrams/trigrams by using `Phrases()` but something went wrong
#### Steps/Code/Corpus to Reproduce

[code]

#### Expected Results
Two get bigrams. I have got them, but I have confused by the errors/warnings below
#### Actual Results
[code]
Please paste or specifically describe the actual output or traceback. -->

#### Versions
[code]

[2018-02-05 07:21] menshikh-iv commented on #1878
Hello @Diyago, thanks for the report, this is an only warning, not an error, the model works fine.
Anyway, we should replace `getargspec` because this is deprecated.

[2018-02-05 07:24] menshikh-iv commented on #1877
Hello @dhanush987, you have really old gensim version (1 year ago), please upgrade to latest version `pip install -U gensim`

[2018-02-05 07:24] #1877 closed

[2018-02-05 07:28] menshikh-iv commented on #1869
@sj29-innovate
1. About `with` statement, need to use more complicated (but more similar with `with` variant), look at  [SO-thread](https://stackoverflow.com/questions/26096435/is-python-with-statement-exactly-equivalent-to-a-try-except-finally-bloc)
2. About `IndexedCorpus`, is this possible to use `file-like` instead of the filename? What're pros/cons here?

[2018-02-05 15:59] menshikh-iv commented on #1623
Do we consider it resolved @gojomo?

[2018-02-05 18:19] gojomo commented on #1623
I haven't had time to watch that PR closely; is there a write-up of any new capabilities, or a comparison of how new APIs are simpler or enable other new modes/possibilities compared to the old arrangement?

How many of the original ideas & 7 points have been addressed?

Are FastSent, Sent2Vec, Doc2VecWithCorruption and similar small variations now possibilities just by changing the parameters of

[2018-02-05 18:20] gojomo commented on #1873
Sure, both the Python and Cython lines where this conditional division is done could include a extra clarification that this is intentional and even an excerpt from, or link to, these longer explanations.

[2018-02-06 06:45] menshikh-iv commented on #1878
@naveenkumarmarri for 2.7 `getargspec` is fine, this deprecated since `python 3.0` (https://docs.python.org/3/library/inspect.html#inspect.getargspec). We still use `getagrspec` for `py2`, but for `py3` need to fix this problem.

[2018-02-06 07:42] #1849 closed

[2018-02-06 08:06] menshikh-iv commented on #1623
@gojomo

Good overview available [here](https://github.com/manneshiva/gensim/wiki/Any2Vec-Refactoring-Summary)

(1) Yes, copy-paste stay only for "backward compatibility" stuff (old models code), will be removed in major release

(2) I think yes, but I'm not sure (can't show an example right now, CC: @manneshiva)

(3) Now we have common structure as for `Word2Vec` (text data) as for `Poincare` (Gr

[2018-02-06 14:51] menshikh-iv commented on #220
@javier-artiles hello, right now @markroxor works on this task and we stuck on evaluation step, have you works with TREC dataset ever?

[2018-02-06 20:52] gojomo commented on #1623
I'm not so sure of (1), as the patch resulted in a net-increase of over 8000 lines-of-code.

I believe any big wins in usability or generalizability will require discarding backward-compatibility, probably via a parallel, coexisting set of implementations. (That could also make the changes easier to evaluate in a single notebook, placing old and new examples alongside each other for style/naming/f

[2018-02-07 04:44] menshikh-iv opened #1879 "Add methods for mixture of word-vectors"
**Intro**
Users want to construct document vector from word-vectors (that already exist). As I see now, we have a really huge number of high-quality word-vectors (from Stanford, Google, Numberbatch, etc), for this reason, this feature can be really useful

**To Do**
1. Collect ways, how we can mix-up word-vectors to document vector
    - the average of all word-vectors
    - the average with weigh

[2018-02-07 13:03] AsmaZbt commented on #140
hello , piskvorky

could you please explaine me what represente  model.init_sims(); matrix = numpy.dot(model.syn0norm, model.syn0norm.T) what is model.syn0norm.T ?

thank you so much 👍

[2018-02-07 14:17] menshikh-iv commented on #140
@AsmaZbt
- `model.init_sims()` used for initialization of `model.syn0norm`
- `model.syn0norm.T` is transposed version of `model.syn0norm`
- `model.syn0norm` is matrix, that contains normalized word-vectors (i.e. with length = 1)
- `matrix = numpy.dot(model.syn0norm, model.syn0norm.T)` gives you distance matrix between all vectors (i.e. `matrix[i][j]` = distance between word `i` and word `j`)

[2018-02-07 18:17] javier-artiles commented on #220
Hi @menshikh-iv , I'm afraid I have not worked on TREC tasks. During my researcher years I did mostly organize my own competitive evaluation ([WePS](https://github.com/javier-artiles/weps)) for document clustering.

[2018-02-07 18:20] menshikh-iv commented on #220
@javier-artiles thanks, probably we'll try to evaluate pivot normalization using your WePS.

[2018-02-07 18:21] huahuajhu opened #1881 "How can I create StackedAreaChart with adding focus chart on the botton like lineWithFocusChart()"
How can I create StackedAreaChart with focus chart with slider at the botton like the lineWithFocusChart()

[2018-02-07 18:26] menshikh-iv commented on #1881
Hi @huahuajhu, this issue page of [Gensim project](https://github.com/RaRe-Technologies/gensim/blob/develop/README.md), probably you should to post your issue to https://github.com/novus/nvd3  (check that this is the needed framework).

[2018-02-07 18:26] #1881 closed

[2018-02-07 18:28] javier-artiles commented on #220
I would suggest to use it on more standard information retrieval tasks (ad hoc retrieval for instance). It may be easier to interpret the results that way. Of course it all depends on your end goal regarding this evaluation.

[2018-02-07 18:31] javier-artiles commented on #220
Also, I apologize I never got around sending a PR for this feature. To be completely sincere I have not been a contributor to open source. Personal and private projects have always kept me too busy.

[2018-02-07 18:32] menshikh-iv commented on #220
@javier-artiles If you could recommend concrete datasets & tasks, it will be really nice for us!

[2018-02-07 19:11] javier-artiles commented on #220
It would depend on what your end goal is. Are you just trying to test an implementation of this normalization scheme? If that is the case you can write simple unit tests with minimal data.
If you are looking for a model quality benchmark then traditional dev/test datasets make sense.
TREC would be the way to go if you want to show public benchmark results that are easy to compare. Unfortunately mo

[2018-02-07 19:16] aneesh-joshi commented on #1878
@menshikh-iv
I am trying to reproduce the error on a windows 10 with python 3.6.3

This is what I get:

[code]

The chunkize part is fine. The file I'm running has the code provided by @Diyago

[2018-02-07 22:27] akutuzov opened #1882 "Accesing vector model vocabulary broken in Gensim 3.3 when loading from word2vec format"
After upgrading to 3.3.0, it is now impossible to get the model's vocabulary with `model.wv.vocab` method, if the model is loaded from a text or binary word2vec file. However, it works for models saved in the Gensim native format.
I suppose it is related to re-designing vector models implementations in #1777.  Anyway, it is not good to break compatibility in this way, without even notifying users.

[2018-02-08 04:33] menshikh-iv commented on #1882
@akutuzov thanks for the report! Sorry for this, we did not plan anything to break (but this happens :( ).

[2018-02-08 04:50] menshikh-iv commented on #1878
@aneesh-joshi try to force warnings: `python -Wd test_script.py`

[2018-02-08 06:51] manneshiva commented on #1882
Hi @akutuzov,
Thanks for reporting this issue. This shall be fixed very soon (a couple of hours from now). I tested your code in gensim `3.2.0` and saw that `model is model.wv` returns `True`. So, for the time being, you could use `model.vocab` instead of `model.wv.vocab` (or any other property).
I seem to have missed the self-referential property for `KeyedVectors` -- https://github.com/RaRe-Tech

[2018-02-08 06:55] dancinghui opened #1883 "gensim.similarities.SparseMatrixSimilarity get segmentation-fault"
I want to get the similarity of one document to other documents. I use gensim. The program can run correctly, but after some steps it exits with Segmentation fault.The version of gensim is ''3.3.0'' and the python version is '2.7.6'

Below is my code:

    from gensim import corpora, models, similarities
    docs = [['Looking', 'for', 'the', 'meanings', 'of', 'words'],
            ['phrases'],

[2018-02-08 08:05] menshikh-iv commented on #1883
Hi @dancinghui,

problem comes from this line
`phrase2word=[dictionary.doc2bow(text,allow_update=True) for text in phrases]`,
you **shouldn't** update dictionary after specify number of features
`index = similarities.SparseMatrixSimilarity(corpus, `**num_features=nf**`)`

all works fine if you replace
 `phrase2word=[dictionary.doc2bow(text,allow_update=True) for text in phrases]`
to
`phrase2word=[

[2018-02-08 08:05] #1883 closed

[2018-02-08 10:11] dancinghui commented on #1883
HI,@menshikh-iv ,
I need update the dictionary,so I set allow_update=True
if I replace
   ` phrase2word=[dictionary.doc2bow(text,allow_update=True) for text in phrases]`
to
    `phrase2word=[dictionary.doc2bow(text) for text in phrases]`
the dictionary will not put new words that appears in text into the dictionary

[2018-02-08 10:45] aneesh-joshi commented on #1878
@menshikh-iv
I managed to remove the warning by replacing `getargspec` with `getfullargspec` as suggested in https://docs.python.org/3/library/inspect.html#inspect.getargspec

However, it is only for python 3 and won't work for python 2.

Is there any way to use different functions depending on the python version.

Moreover, forcing warnings leads to some other deprecation warnings
[code]

Should

[2018-02-08 11:29] menshikh-iv commented on #1883
@dancinghui after this operation you need to re-create index (otherwise you'll have segfault).

I advise you to fill your dictionary first and after - create an index.
Also, you can try to use [HashDictionary](https://radimrehurek.com/gensim/corpora/hashdictionary.html#gensim.corpora.hashdictionary.HashDictionary), this based on [hashing-trick](https://en.wikipedia.org/wiki/Feature_hashing) and ha

[2018-02-08 11:33] menshikh-iv commented on #1878
@aneesh-joshi yes, you can fix this if you use needed function (depends on python version) or probably `six` (I'm not sure about it).

About `sparsetools`, you can't do anything right now, we want to make our own "spasetools subset" package as [GSoC task](https://github.com/RaRe-Technologies/gensim/wiki/GSoC-2018-project-ideas#sparsetools-package).

[2018-02-08 12:57] aneesh-joshi commented on #1878
@menshikh-iv
Please review the [PR](https://github.com/RaRe-Technologies/gensim/pull/1885/files)

[2018-02-08 15:00] thepurpleowl opened #1886 "cannot import name 'LabeledSentence'"
#### Description
LabeledSentence is not being imported from gensim.models.doc2vec.

``from gensim.models.doc2vec import LabeledSentence``

the error I am getting is
``cannot import name 'LabeledSentence'``

[2018-02-08 15:10] menshikh-iv commented on #1886
@thepurpleowl hello, thanks for the report, right now you can use
`from gensim.models.deprecated.doc2vec import LabeledSentence`

CC: @manneshiva

[2018-02-08 16:20] akutuzov commented on #1882
@manneshiva thanks!
So, `model.wv.vocab` is deprecated now, and we should use `model.vocab` instead, right?

[2018-02-08 16:52] menshikh-iv commented on #1882
@akutuzov exactly

[2018-02-08 22:15] AsmaZbt commented on #140
@menshikh-iv thank you so much its so clear (y) thank you so much

[2018-02-08 23:22] brianmingus opened #1888 "Optimize sparse * random dense matrix multiply in LsiModel"
Progress tracking bug.

- [ ] Fork https://github.com/brianmingus/gensim
- [ ] Find initial work https://gist.github.com/brianmingus/ff6c3e9816c2cb7de0efc17d9bed06e6
- [ ] Get most up-to-date CSparse. This was extracted from SuiteSparse-5.1.0 and placed in gensim/gensim/CSparse
- [ ] Find example gensim Cython compilation and refactor our setup.py code to comply
- [ ] Refactor the python code into

[2018-02-09 03:32] #1878 closed

[2018-02-09 03:38] dancinghui commented on #1883
Hi,@menshikh-iv
I  have tried your advice and  put
[code]
after
`phrase2word=[dictionary.doc2bow(text,allow_update=True) for text in phrases]`
then it can work normaly.The main reason is that **num_features** should be same with the **dictionary.dfs**

[2018-02-09 03:55] menshikh-iv commented on #1888
Hi @brianmingus, glad to see you here :+1:

About Cython compilation:
- You should add your file to `ext_module` https://github.com/RaRe-Technologies/gensim/blob/1afaacc8017ff2b51e8677b8b36cd3b9671b20be/setup.py#L252-L262 (`include_dirs=[...]` will be different in your case)

- You should translate/compile your code as
  - `cython path/to/your/great.pyx` - translate `.pyx` to `.c`
  - `python setu

[2018-02-09 04:04] obeavers opened #1889 "MmCorpus.load --> UnpicklingError: invalid load key, '%'."
#### Description
I'm getting an error in using MmCorpus.load('file.mm'), even immediately after saving saving with MmCorpus.serialize('file.mm', corpus). I am using windows10.

#### Steps/Code/Corpus to Reproduce

Corpus created with:

corpus = [dictionary.doc2bow(text) for text in texts]
MmCorpus.serialize('file.mm', corpus')

corpus = MmCorpus.serialize('file.mm') #breaks here

#### Expected Res

[2018-02-09 04:05] menshikh-iv commented on #1889
Thanks for report @obeavers, can you share your `corpus` with us (needed for reproducing your error).

[2018-02-09 04:14] galtay opened #1890 "segment_all_articles(include_interlinks=True) errors in image links"
When using the script,

https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/scripts/segment_wiki.py#L69

with the include_interlinks=True kwarg, I get some links that are very long and do not match any enwiki page titles.  After investigating the first one, I found that it is inside an image caption.  For example, in the page "Anarchism" one of the links is,

In the page xml you can se

[2018-02-09 04:20] menshikh-iv commented on #1890
Hello @galtay, thanks for the report, this looks like a bug, I agree.

@steremma can you fix this?

[2018-02-09 04:26] galtay commented on #1890
thanks for the quick reply! :)  this is using the wikipedia dump `enwiki-20180201-pages-articles-multistream.xml`  I've attached the first 1000 lines as head.xml.log (its xml but I changed the extension so github would let me attach it) for debugging ... might be useful

[head.xml.log](https://github.com/RaRe-Technologies/gensim/files/1709756/head.xml.log)

[2018-02-09 06:06] #1886 closed

[2018-02-09 06:36] menshikh-iv commented on #1472
@jmhessel ping, if you don't provide an example - I'll close this issue.

[2018-02-09 06:44] menshikh-iv commented on #1542
Thanks @strnam, I checked, @ishida-titech  absolutely right here. The problem was in user code (not in Doc2Vec).

[2018-02-09 06:44] #1542 closed

[2018-02-09 06:45] menshikh-iv commented on #1588
Hello @abhishekbuyt, how about multiprocessing fix?

[2018-02-09 10:20] steremma commented on #1890
Hello. I will try to reproduce and fix, hopefully within next week. @galtay thanks a lot for submitting!

[2018-02-09 15:47] steremma commented on #1890
This is actually a bug in the `filter_wiki`, specifically the regex that removes images or files as it cannot handle nested patterns. In the specific example we have:

`[[File:Portrait of Pierre Joseph Proudhon 1865.jpg|thumb|upright|Portrait of philosopher Pierre-Joseph Proudhon (1809–1865) by Gustave Courbet. Proudhon was the primary proponent of anarchist mutualism, and influenced many future [

[2018-02-09 15:49] steremma commented on #1890
My personal opinion (but I would prefer a maintainer to make that call) is to use a wikimedia markup parser such as [this one](https://github.com/earwig/mwparserfromhell). Manually writing and maintaining regexes seems a bit hacky anyway. @menshikh-iv thoughts?

[2018-02-09 20:10] sj29-innovate commented on #1869
@menshikh-iv  What about reopening the file after the "with" statement if the input was a "file-like" object ?

[2018-02-10 20:45] sj29-innovate commented on #1869
@menshikh-iv Using with statement will close the file object anyways so do you plan to use the nested try and finally blocks as mentioned in that thread ?

[2018-02-11 11:34] l11x0m7 commented on #1873
Yeah, that will be great!

[2018-02-11 17:43] piskvorky commented on #1873
@gojomo @l11x0m7 can you open a PR?

[2018-02-12 03:03] arlenk commented on #1889
Are you definitely calling MmCorpus.load('file.mm') or are you calling MmCorpus('file.mm')?
It should be the latter per https://radimrehurek.com/gensim/tut1.html#corpus-formats

[2018-02-12 05:35] menshikh-iv commented on #1890
@steremma
Yes, this isn't the easy bug, I agree. About testing - you already have all that you needed (from the first look)
- Example with nested `[[]]`
- Current output (incorrect)
- Expected output (correct)

That's enough for writing concrete test-case for regexp.

About external parser - we definitely don't want to add one more "core" dependency for gensim (but this potentially simple to maint

[2018-02-12 06:19] menshikh-iv commented on #1869
@sj29-innovate about with - yes, this is a problem in this case (because we shouldn't close the file if we didn't open it).

For indexed-corpus - yes, we need both.

[2018-02-12 08:43] poornagurram commented on #1879
I have done averaging word vectors. Can I take up this task?

[2018-02-12 09:31] menshikh-iv commented on #1879
Hello @poornagurram, @kakshay21 already work on it, but any help will be appreciated (discussion, proposing some methods, useful links, etc).

[2018-02-12 11:06] poornagurram commented on #1879
I would like to help. Let me connect and discuss with him.
I would like to think if we can, even more, enhance this and would help in implementing that.

[2018-02-12 11:26] madewild opened #1898 "Missing Attributes when loading old model in gensim 3.3 (retro-compatibility issue)"
#### Description
AttributeError breaking retro-compatibility of old (0.10.3) trained model

#### Steps/Code/Corpus to Reproduce
[code]

#### Expected Results
Model loaded

#### Actual Results
[code]

#### Versions
[code]

[2018-02-12 11:59] menshikh-iv commented on #1898
Hello, thanks for report, this is really strange, we definitely handle this case in our tests
https://github.com/RaRe-Technologies/gensim/blob/1afaacc8017ff2b51e8677b8b36cd3b9671b20be/gensim/test/test_word2vec.py#L734-L755

Can you share your model with us please (needed for reproducing the problem) and specify the version, when you save this model (more concretely, what is `x` in `2.x`?)

[2018-02-12 12:06] madewild commented on #1898
Unfortunately, I cannot share this specific model (sensitive information inside) but I will try to find the version it was trained with and provide a model to reproduce the issue (probably tomorrow).

[2018-02-12 16:06] martinapugliese opened #1899 "`corpus_count` restarts from 0 when adding to trained model"
#### Description

I'm using the online training feature of gensim to add to an existing model when I got new data, I've mainly followed the tutorial [here](https://github.com/RaRe-Technologies/gensim/blob/master/docs/notebooks/online_w2v_tutorial.ipynb).

In the specifics, I've pre-trained a model over roughly 1.5 million sentences, saved it and am now adding more sentences to it.

#### Steps/Code

[2018-02-12 23:57] kakshay21 commented on #1879
Embeddings words and sentences via character n-grams
https://arxiv.org/abs/1607.02789
* outperforms PARAGRAM-PHRASE, RNNs and CNNs.
* CHARAGRAM models embeds a character sequence x by adding the vectors of its character n-grams followed by an element wise nonlinearity.
* this model converges  fastest to high performance.

[2018-02-13 00:01] kakshay21 commented on #1879
Deep sentence embedding using long short-term memory networks
https://arxiv.org/pdf/1502.06922.pdf
* It mainly embeds keywords in the final semantic vector representing the whole sentence.
* This paper seems to performed better in query sentences in search engines where it’s weakly supervised based on the clicks of the user.
* LSTM-RNN performs better than bare RNN for this task.
* Seems to outper

[2018-02-13 00:24] kakshay21 commented on #1879
Unsupervised Learning of Sentence Embedding using Composition n-Gram Features
https://arxiv.org/pdf/1703.02507.pdf
* The sentence embedding is defined as the average of the source word embeddings of its constituent words
* Also augmented the model by  learning source embeddings for not only unigrams but also n-grams present in each sentence, and averaging the n-gram embeddings along with the words

[2018-02-13 00:27] kakshay21 commented on #1879
@menshikh-iv  After referring to these papers, I see the trend of averaging the word vectors for sentence embedding is quite common.

[2018-02-13 04:28] poornagurram commented on #1879
Averaging is being used since long time and it's good to have. In one of the kaggle competition I saw a solution with averaging for quora question pairs with good amount of accuracy.

[2018-02-13 08:10] kakshay21 commented on #1879
@poornagurram can you point me to that solution just for the reference?

[2018-02-13 09:14] alexbrandsen commented on #1847
Ah ok, thanks for the information!

[2018-02-13 09:16] madewild commented on #1898
After checking with the colleague who trained this model, it appears that he was still using gensim 0.10.3!!! Are you still interested in a faulty model example or is the retro-compatibility not meant to stretch thus far?

[2018-02-13 10:58] menshikh-iv commented on #1898
@madewild no, we want to support models from previous major version, but not so far away :) Thank you!

[2018-02-13 10:58] #1898 closed

[2018-02-13 11:02] poornagurram commented on #1879
Yeah sure that is in this [blog post](https://www.linkedin.com/pulse/duplicate-quora-question-abhishek-thakur/)

[2018-02-13 11:07] menshikh-iv commented on #1899
Hello @martinapugliese

About `corpus_count` - this works as awaited - calculate the number of documents based on **latest** `build_vocab` (because after you use it as `total_examples`).

About vocab size:
1. Are you sure, that this words isn't in your model?
2. This words can be also removed (depends on `min_count` attribute of your model, if too small - model will ignore this words).

[2018-02-13 13:49] martinapugliese commented on #1899
@menshikh-iv Thank you ver much! Yes, I'm sure the word is not in vocabulary as I just built the sentences as examples. Closing this as solved then!

[2018-02-13 13:49] #1899 closed

[2018-02-13 21:45] brianmingus commented on #1888
Just remembered that I have some local modifications to cs.h which will hopefully fix the integration.

[code]

[2018-02-14 02:00] uZeroJ opened #1900 "Seems Word2VecKeyedVectors.get_keras_embedding should take care of 'mask_zero'"
#### Description

As described in Groups, create this issue for tracking, thanks Ivan for a quick view.
[Google Groups tracking](https://groups.google.com/forum/#!topic/gensim/Wk4CnPqL_OY)

This is a question about combining gensim with Keras.
As KeyedVectors.vectors as start with index of '0', then the word indices with index '0' should be valid word to obtain a word vector from embedding layer.

[2018-02-14 02:30] uZeroJ commented on #1900
And besides, I wonder if we have a highway connection between words and indexes when only KeyedVectors are got, no Word2Vec model involved. As far as I know, we have to get the index by word by `self.vectors.vocab['word'].index` though get the word from index is just easy as `self.vectors.index2word`.
If what I understand is true, then we surely broken the connection of word and index into two par

[2018-02-14 06:27] menshikh-iv commented on #1888
Related PR #1896

[2018-02-14 07:09] menshikh-iv commented on #1900
Thanks for report @uZeroJ!

CC: @chinmayapancholi13

[2018-02-14 08:30] menshikh-iv opened #1901 "Add anaconda-cloud badge & setup build for MacOSX"
Into
-----
We build gensim for [conda-forge/conda-cloud](https://github.com/conda-forge/gensim-feedstock), but nobody knows about it.

Todo
-----
- [ ] (easy) Add conda-cloud badge to gensim `README.md`
- [ ] (medium) Setup MacOSX build in gensim-feedstock, related issue https://github.com/conda-forge/gensim-feedstock/issues/2

[2018-02-14 08:54] menshikh-iv opened #1902 "Add method for showing base info about gensim"
Intro
----
When users report something, we need to know more information (not only gensim version, versions of related packages, OS and so on), and user need to copy-paste&run something like this

[code]

We can easily add it as method to gensim and use as `python -m gensim.scripts.package_info --info`

Todo
-------
Implement this method, information, that should be showed
- gensim version
- pytho

[2018-02-14 08:56] sharanry commented on #1902
I am taking this up.

[2018-02-14 10:42] aneesh-joshi commented on #1900
I would like to try this.

[2018-02-14 16:48] sj29-innovate commented on #1869
@menshikh-iv  I believe we can support both filename and file-like object with a difference that we wont be able to save it to an index file in case of the file object. This can create performance issues if in any subclass we need to call "super" so the "init" function of "IndexedCorpus" will again need to generate a new indexed corpus form the object instead of using a previously saved indexed co

[2018-02-14 18:27] xiaoleihuang opened #1906 "Support ngram by gensim ?"
It seems gensim only support bigram by phrase. However, it seems to be hard to extract n-gram (uni, bi, trigram) all together once. The tfidfmodel and other models seems only support one phrase, if I can't use the uni,bi,trigram together in the models. Any solutions for this issue?

[2018-02-14 18:30] menshikh-iv commented on #1906
@xiaoleihuang this can be easily achieved if you apply Phrases several times, like
1. Train Phrases, apply it to text -> text with bigrams
2. Train new Phrases on text with bigrams, apply it to text with bigrams -> text with trigrams
...
etc

[2018-02-15 00:38] gyanesh-m commented on #1671
Hi, I would like to help with the remaining ones. Can I take this up ?

[2018-02-15 05:18] menshikh-iv commented on #1671
@gyanesh-m this is almost done. Last thing - MmCorpus (+reader & writer), but this will be annotated after #1825 will be merged.

[2018-02-15 05:39] gyanesh-m commented on #1671
@menshikh-iv Ok, no problem. What about  #1666 and #1667 ? Do anyone of these need any help ?

[2018-02-15 11:28] menshikh-iv commented on #1671
@gyanesh-m #1666 WIP by @CLearERR, pick any model from #1667 that isn't in numpy-style

[2018-02-15 11:37] menshikh-iv commented on #1401
Very important comment from Gordon: https://github.com/RaRe-Technologies/gensim/pull/1853#issuecomment-363208606

[2018-02-15 11:38] #1401 closed

[2018-02-15 12:23] aneesh-joshi commented on #1900
As I understand it,
the gensim KeyedVectors indexes words from 0

While using keras, we can set `mask_zero=True`
As a result, 0 doesn't represent words anymore but gensim KeyedVectors continues to treat it like that.

@menshikh-iv Do you think it's a good idea to use
a `mask_zero` for keyedvectors to start indices from 1?

[2018-02-15 13:56] aneesh-joshi commented on #465
Hey @gojomo
Would it be a good idea to implement this using some sort of parameter search with `dry_run=True` ?

Hey @chinmayapancholi13
Have you worked on this yet?

[2018-02-15 15:26] gojomo commented on #465
Implementation should not require a parameter-search - once the initial word-frequency count is competed, there's enough info to satisfy any pre-specified `max_vocab` via simple tallying/sorting.

Nor should it require any presentation of alternate options to the user, if they've already specified a `max_vocab`. (But, it could be nice to offer a convenience method for reporting a range of possibil

[2018-02-15 16:08] steremma commented on #1890
**Update before closing**

The solution requires using the `regex` module or another regular expression engine that supports recursion. A fix that I found and manually tested (no guarantee) is to replace:
`RE_P15 = re.compile(r'\[\[([fF]ile:|[iI]mage)[^]]*(\]\])', re.UNICODE)`

with:
`import regex`
`RE_P15 = regex.compile(r'\[\[(?:File:|Image:)?((?>[^\[\]]+|(?R))*)\]\]', regex.UNICODE)`
after manu

[2018-02-15 18:31] ahmedahmedov commented on #668
I am having the exact same issue. To make things worse, in my case, it takes 3 days for the build_vocabulary phase to be completed.

[2018-02-15 20:19] gojomo commented on #668
@ahmedahmedov Of course it's *possible*! But it's not dirt-simple, and would generally put more constraints on the source data format than the simple single-iterator approach. And the overhead involved with combining counts from multiple threads can be a bit tricky to deal with. Still, it's a wishlist item – see #400 – that someone might do eventually.

If your data source is especially appropriat

[2018-02-15 22:29] #1890 closed

[2018-02-15 22:56] #1902 closed

[2018-02-16 00:30] uZeroJ commented on #1900
Hi @aneesh-joshi ,

As far as I know, this solution will mask all actually tokens represented by 0, like 'the' in Keras embedding layer. Say, 'the' is indexed by '0' in gensim `KeyedVectors.vectors` and we get Embedding layer as passing this `KeyedVectors.vectors` as embedding matrix, then when we want lookup 'the' from its index in input indices, it will be masked out by setting 'mask_zero=True`.

[2018-02-16 00:41] uZeroJ commented on #1900
Maybe something looks like below will explain what I mean, and keep the original framework of gensim `KeyedVectors` in my opinion.
[code]
And
[code]

[2018-02-16 06:40] #1834 closed

[2018-02-16 06:41] #1906 closed

[2018-02-16 06:45] menshikh-iv commented on #1889
@obeavers also, you said that
[code]

but in your stacktrace, I see different line
[code]

This looks strange, can you fix your first message & share file?

Also, as @arlenk suggested, if you call "serialize", you should load it as ` MmCorpus(path)` (not `MmCorpus.load`)

[2018-02-16 06:47] menshikh-iv commented on #1472
This issue unreproducible without example, for this reason, I close this.

[2018-02-16 06:47] #1472 closed

[2018-02-16 06:49] gyanesh-m commented on #1667
@menshikh-iv Hi, in [tfidf.py](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/sklearn_api/tfidf.py#L19) the parameters mentioned are the same as done for [tfidmodel.py](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/tfidfmodel.py#L221) . So should I add a reference to that file in the notes section or mention all the parameters again for tfidf.py ?

[2018-02-16 06:54] menshikh-iv commented on #1667
@gyanesh-m this already in WIP too in #1895, sorry.
Now, some files remain from `gensim.models`, you can try you can try your hand at this task (for example https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/atmodel.py, https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/hdpmodel.py, etc).

[2018-02-16 06:58] menshikh-iv commented on #1869
Aha, so, probably this issue impossible to fix (by `IndexCorpus` reason), but you can fix the incorrect behavior of `MmCorpus` anyway.

the current code looks scary (especially formatting), try to publish PR & write tests (I'll look into again on concrete example).

[2018-02-16 07:18] gyanesh-m commented on #1667
@menshikh-iv Ok, no problem. I will get started with the remaining ones.

[2018-02-16 10:01] #1682 closed

[2018-02-17 17:42] abedkhooli commented on #1824
Not sure if directly related, but I am trying to load a pre-trained fasttext model (3.9G bin, 1.6G vec) on Google Colab VM (12 GB memory limit) and the model eats over 11 GB ram (warning  displayed)  after which I can do nothing with it (any call to model kills the runtime). Using Gensim 3.3.
model = FastText.load_fasttext_format('wiki.ar')
Question: how much memory (roughly) would it take to load

[2018-02-17 18:33] piskvorky commented on #1824
@menshikh-iv @jbaiter @manneshiva what's the status here? It looks like a rather critical feature/bug.

[2018-02-18 10:30] shantanuo opened #1914 "Training dataset too large to download"
#### Description
The dataset to be downloaded from baidu site is too large
I found this URL from page : translation_matrix.ipynb

https://pan.baidu.com/s/1boP0P7D

Is the file available on S3?

[2018-02-18 17:43] aneesh-joshi commented on #465
Hey @gojomo please review this rough implementation and let me know if it is in the right direction.

[2018-02-18 18:47] brianmingus commented on #557
Refactoring scipy.sparse into its own package makes sense, so as not to move away from industry standard formats, enabling usage of i.e. GraphBLAS on the C arrays underlying existing scipy.sparse matrices.

[2018-02-18 19:19] brianmingus commented on #557
A GraphBLAS matrix is a CSC matrix, so the way to get rid of Python may be to use ctypes to interface with GraphBLAS and extricate the minimum amount of CSC-related code from scipy.sparse as required. We can pass pointers to the underlying data  in the CSC matrices to GraphBLAS.

Gensim is using CSR matrices in some situations..

[2018-02-18 20:28] gojomo commented on #465
There's no need for a `use_max_vocab` - just check if `max_vocab` is non-`None`.

`scan_vocab()` is designed to just discover vocabulary. Destructive trimming only occurs later in `prepare_vocab()`. So this functionality probably shouldn't touch `scan_vocab()` at all.

There's already a sort by frequency happening somewhere later; can the redundant sort for this feature be avoided?

There's alread

[2018-02-19 04:33] menshikh-iv commented on #1914
Hello @shantanuo, this isn't dataset, this is models (1GB for the model is normal size), more accurately - this is pre-trained word-vectors.

About S3 - I have no idea. You can also load `*.zip` with needed models + some additional stuff from http://clic.cimec.unitn.it/~georgiana.dinu/down/resources/transmat.zip

FYI - for this type of questions, we have [mailing list](https://calendar.google.com/

[2018-02-19 04:33] #1914 closed

[2018-02-19 16:36] jbaiter commented on #1824
@piskvorky I got stuck implementing my optimizations, since I did not quite understand when bucketing was used for the calculation of the ngram embeddings and when not.

It would be great if someone more familiar with the code base could look over my changes and offer some guidance/critiques. Should I open a PR for that, even if the code as is currently does not pass the tests?

See my changes her

[2018-02-19 16:59] menshikh-iv commented on #1824
@jbaiter of course, feel free to open PR, we'll help you (with tests too)
CC: @manneshiva

[2018-02-19 17:13] jbaiter commented on #1824
I submitted my WIP PR here: https://github.com/RaRe-Technologies/gensim/pull/1916

[2018-02-20 09:27] menshikh-iv opened #1917 "Poincare training bug"
#### Description
I trained Poincare model on wiki graph and receive this exception

#### Steps/Code/Corpus to Reproduce
I have no good example for reproducing, but what I exactly did

[code]

Full stack trace from second `model.train(epochs=1, batch_size=1000)`
[code]

From the first sight, looks like problem with `self.negative`.

#### All files, mentioned in code
- [edges.jsonl.gz](https://drive

[2018-02-20 12:55] kakshay21 commented on #1879
Adding to the previous finding, with specific details

1. Unsupervised Learning of Sentence Embeddings using Compositional n-Gram Features
link to the paper - https://arxiv.org/pdf/1703.02507.pdf
Algorithm -
![screen shot 2018-02-20 at 4 01 36 pm](https://user-images.githubusercontent.com/13598994/36424586-c9d78fba-1669-11e8-98d3-3d4487a2d612.png)
Where R(S) is the list of n-grams including unigra

[2018-02-20 18:32] aneesh-joshi commented on #465
Hi @gojomo @menshikh-iv

Please consider the latest commit to the PR : https://github.com/RaRe-Technologies/gensim/pull/1915

I have made it just one variable with `None`

I have moved it to `prepare_vocab`

Unfortunately, the sorting cannot be avoided as the final word counts and frequencies are finished after `min_count` trimming has been done. We have to get the sort done before the trimming

I

[2018-02-21 06:39] markroxor commented on #220
@javier-artiles Can we have a small discussion about this on https://gitter.im/RaRe-Technologies/gensim ?

[2018-02-21 07:50] menshikh-iv commented on #1019
@gojomo I received one more report with this problem, maybe raise an exception for this case (when `update=True`), because this happens often and often (until we repair the bug itself only).

[2018-02-21 11:43] Make42 opened #1920 "Document how word2vec is training"
I would like to see a documentation how word2vec is training skip-gram and CBOW.

### First, the Skip-Gram model:

From the Internet I found two alternative ways. For that let us establish that each word is encoded as a one-hot-vector, which is put into the NN returning a probability vector for each word of finding this word near (in the neighborhood, being a context word) the input word. Let us a

[2018-02-21 14:13] cordeta opened #1921 "Filipino Localization"
I want to Localize your Files in Filipino

[2018-02-21 14:54] menshikh-iv commented on #1921
Hello @cordeta, what're files you mean? And why this can be useful (what's a pros/cons)?

[2018-02-21 14:54] menshikh-iv commented on #1920
CC @gojomo

[2018-02-21 14:57] menshikh-iv commented on #1920
@Make42 hello, I agree, good point.
We already have it in plans (some additional pages with the description "How model X works")!

This will be your main task soon @steremma :)

[2018-02-21 15:01] steremma commented on #1920
Sounds interesting! I have already started looking at the papers introducing both methods from Tomas Mikolov. I am wrapping up with some tasks and will hopefully dive into this next week.

[2018-02-21 18:10] souravsingh commented on #1921
I think he is talking about localizing the docs for the Filipino language

[2018-02-21 19:21] gojomo commented on #1920
The source is the ultimate documentation of how gensim is doing its calculations – and the gensim source was initially closely modeled after Google's `word2vec.c` implementation. So it terms of the micro-decisions about how loops are set up, and skipgram micro-training-examples (input_word -> predicted_word) are chosen, it closely matches that original reference implementation.

In particular, for

[2018-02-21 20:15] Make42 commented on #1920
@gojomo - since by Python is better than my C, I read the gensim source code instead of the word2vec.c implementation ;-).

Regarding CBOW: https://www.analyticsvidhya.com/blog/2017/06/word-embeddings-count-word2veec/  is doing the averaging via mean after the hidden layer. My description was wrong or at least misleading - I am going to correct it.

Regarding Skip-Gram: As far as I understand I ha

[2018-02-21 21:22] Make42 opened #1925 "Document how doc2vec is including tags into PV-DM and how PV-DBOW compares to the publication"
In the original Paragraph Vector publication only unique identifiers for the different paragraphs ("documents" in gensim) are used. Two models are presented PV-DM, which is an extension of CBOW of word2vec, and PV-DBOW, which is analogous (not so much an extension) to Skip-Gram of word2vec.

In the following let's assume `C` context words.

### PV-DM

The article https://medium.com/scaleabout/a-ge

[2018-02-22 00:31] gojomo commented on #1920
From a quick glance, neither (1) nor (2) seems to me an accurate summary of what the code is doing. Perhaps (2) is closer, because each skipgram pair (input_word -> predicted_word) is treated as an individual training example for the NN, and its backprop is finished before the next (input_word -> predicted_word) pair is considered.

But still, to understand the gensim code, I'd recommend reviewing

[2018-02-22 01:01] gojomo commented on #1925
The project discussion list, <https://groups.google.com/forum/#!forum/gensim>, is a better forum for these open-ended requests for explanation of source code, as there's no bug or even (in my opinion) gaps in the documentation.

Regarding the PV-DM questions:

(1) Yes, that's why the `TaggedDocument` template class for text examples accepts a `tags` argument that is a list of one-or-more tags.

(2

[2018-02-22 08:52] Make42 commented on #1920
@gojomo - In general I more interested in the mathematical setup than which data collection is used. If the input is a one-hot-encoded vector, the dot product with a matrix, the parsing through a NN with linear neurons or the lookup in a dictionary containing the dense vectors as values are effectively all the same operations. The updating of the matrix / NN weights / dense vectors still needs to

[2018-02-22 09:14] Make42 commented on #1925
@gojomo  - Thanks for the clarifications: To transfer this into ML / Math lingo: All the tags get one layer, all the words get one layer, and these two layers are aggregated after the hidden layer. Training pairs for words are `Word -> C1`, `Word -> C2`, `Word -> C3` instead of one `Word -> {C1, C2, C3, C4}`, as established in https://github.com/RaRe-Technologies/gensim/issues/1920.

Thank you for

[2018-02-22 15:55] cordeta commented on #1921
Yes sir @souravsingh  im referring about the docs of the projects that needs to be localized . Not the internal source codes  but the docs that need this kind of approach

[2018-02-22 15:58] cordeta commented on #1921
The Pros of my offer is that i would do this for free as long as you gave me a staging repo  like il8n/tl_ph in your dir. We are heavily funded with our sponsors to offer free localization to open-source projects to promote our language and at the same time to pave a way to some of my fellow Filipino developers

[2018-02-22 17:58] gojomo commented on #1925
You can certainly think of the mappings from single words (or single tags) to dense vectors as a "projection layer" – but in terms of implementation, it's still a discrete lookup-by-key-and-index (rather than forward-propagation via one-hot vector ops). And in the modes like PV-DM where doc-vec & word-vectors mix, they come from separate storage arrays but are essentially the same 'layer' of the N

[2018-02-22 23:22] menshikh-iv commented on #1921
@cordeta that's great, but the situation is ambiguous for me

Pros:
- Translated documentation to Filipino

Cons:
- Who will support it (when we add and change something)? We are working on new documents right now, who will translate new documentation (which is not present now)?
- It is more difficult to maintain the documentation up-to-date, the translation will always lag behind
- It seems that

[2018-02-23 05:07] menshikh-iv opened #1927 "LDA underflow problem"
#### Description
If we use `numpy.float32` dtype for `LdaModel`, it's possible to receive "underflow" problem. PR where this problem was investigated first time - #1767.
Also, @piskvorky suggested that this possible current algorithm problem, i.e. need to change algorithm.

#### Steps/Code/Corpus to Reproduce
[code]
#### Expected Results
Successfull run

#### Actual Results
[code]

#### Versions
[

[2018-02-23 06:35] #1869 closed

[2018-02-23 08:16] piskvorky commented on #1921
I'm not against localization, but it would be a nontrivial project. There's scaffolding we don't have in place yet, both technical and process-wise.

So, this is a bigger part "How to do it properly?" and smaller part "Translate into language X".

[2018-02-23 10:56] cordeta commented on #1921
Glad to hear your side . Anyways Thank you for an in-depth explanation. The reason behind all of this is because we are sponsored to do localization to open-source projects . Moderators will check our PR and if its credible and close to perfection then are getting paid. Thank you for the time

[2018-02-23 13:01] menshikh-iv commented on #1921
Thank you for proposal, good luck!

[2018-02-23 13:01] #1921 closed

[2018-02-24 12:22] kaustubhhiware commented on #1663
Can I take this up @menshikh-iv @anotherbugmaster ?

[2018-02-24 12:41] menshikh-iv commented on #1663
@kaustubhhiware no, because we didn't finished with docstrings yet

[2018-02-24 14:32] altescy opened #1929 "Make it possible for transform methods in sklearn_api to take a sparse matrix as an argument"
#### Description
`transform` methods of Transformers in a [sklearn_api  module](https://github.com/RaRe-Technologies/gensim/tree/develop/gensim/sklearn_api)  (such as [LdaTransformer](https://github.com/RaRe-Technologies/gensim/blob/72d4ff81b37720e287ae37958e138934fcdae7ac/gensim/sklearn_api/ldamodel.py#L75))  only takes a BOW list as an argument, not a numpy matrix.
It is not good in terms of sci