[2019-01-10 07:38] #2310 closed

[2019-01-10 07:40] menshikh-iv commented on #198
@nlstmn as you see, exception raised by `scipy`, it's better to raise this issue in https://github.com/scipy/scipy/issues

[2019-01-10 10:37] horpto commented on #2310
@menshikh-iv Shouldn't `gensim.downloader` description have a link on `gensim-data` repo ?

And current  https://radimrehurek.com/gensim/downloader.html page has broken layout in the text nearly at the footer.

[2019-01-10 10:55] menshikh-iv commented on #1991
Fixed by #2011 (benchmark)

[2019-01-10 10:55] #1991 closed

[2019-01-10 11:40] horpto commented on #2317
Hi @robguinness

Can you increase logging level of lsi_worker to debug value (gensim.models.lsi_worker, line with `logging.basicConfig`) and print output here?

[2019-01-11 02:53] #2189 closed

[2019-01-11 06:57] rsdel2007 commented on #2166
@menshikh-iv So, I have to implement TODO except for `most_similar`?

[2019-01-11 08:03] menshikh-iv commented on #2166
@rsdel2007 almost yes, read again https://github.com/RaRe-Technologies/gensim/issues/2166#issuecomment-416101174

[2019-01-11 08:34] #2155 closed

[2019-01-11 11:36] mpenkov opened #2329 "Roll back optimization that trims empty buckets"
Our implementation diverges from Facebook's because we trim buckets that have no ngrams assigned to them, saving memory and training time. We should roll back this optimization because it introduces divergent behavior and makes the code more complex.

See https://github.com/RaRe-Technologies/gensim/pull/2313#issue-241664476 and https://github.com/RaRe-Technologies/gensim/pull/2313#issuecomment-453

[2019-01-11 12:51] menshikh-iv commented on #2181
BTW should be fixed by #2259

[2019-01-11 15:07] #2059 closed

[2019-01-11 15:07] #2160 closed

[2019-01-11 15:07] #2312 closed

[2019-01-11 15:07] #2315 closed

[2019-01-11 15:11] menshikh-iv commented on #2139
Fixed by #2313

[2019-01-11 15:11] #2139 closed

[2019-01-11 15:11] menshikh-iv commented on #2139
Will be available in `gensim==3.7.0` (end of Jan)

[2019-01-11 16:40] #2258 closed

[2019-01-11 17:58] #1322 closed

[2019-01-11 23:33] Jsnxyz commented on #818
@cbjrobertson Could you explain what you mean by setting the prefix ?

[2019-01-12 07:25] #2287 closed, assigned to nobody

[2019-01-12 18:14] ctrado18 opened #2330 "Transfer Learning word2vec"
Hey there,

I am confused about the comment from here: https://datascience.stackexchange.com/questions/10695/how-to-initialize-a-new-word2vec-model-with-pre-trained-model-weights

Is it possible to use pretrained vectors like from fasttext to train new on custom data?

From the accepted answer it seems so?

[2019-01-12 21:02] Vichoko commented on #2309
I tried all 2 workarounds and got the same errors.
In the python enviromented with the errors, i uninstalled gensim and python with pip uninstall.
Then tried and got the same errors:

In this case i tried this in a docker image running in ubuntu.

[2019-01-13 08:12] rsdel2007 commented on #2166
@menshikh-iv , How to implement "accept vector"? Please guide.

[2019-01-13 15:43] piskvorky commented on #1159
Agreed with @gojomo . I consider the #1777 refactoring disastrous – it's hard to imagine contributing meaningfully any more (even for me).

Starting the models from a clean design, standalone and nimble (sharing concepts and code only where needed, and avoiding the various weird / hypothetical academic add-ons), would simplify development, experimenting with, and ultimately possible addition of ne

[2019-01-13 22:08] gojomo commented on #1159
Starting over isn't what would be herculean. Rather, refactoring the existing code, while maintaining all existing interfaces, and all existing layered-on options, would be. (It's the Augean stables in there!)

My suggestions now would be about the same as offered in #1623 & also while #1777 was underway:

* discard backward compatibility: build the new functionality in parallel new classes (which

[2019-01-14 02:47] #2325 closed

[2019-01-14 02:59] menshikh-iv commented on #1159
I'm +1 for
- `discard backward compatibility`: we can't do something clear and simple if we continue to support old models (see `gensim.models.deprecated` that exists ONLY by backward-compatibility reason and this is muss codebase)
- `have a tangible checklist of the kinds of "weird"/advanced functions people want to add, and make sure the core changes actually make some important subset of those

[2019-01-14 03:17] menshikh-iv commented on #2278
closing (lack of information, unreproducible)

[2019-01-14 03:17] #2278 closed

[2019-01-14 03:54] mpenkov commented on #1159
+1 for first two points raised by @gojomo (I'm unfamiliar with numba so unable to comment on the third).

I've been actively digging through our FastText implementation recently, and I concur with @piskvorky and @gojomo: it's a mess. I've untangled some of the worst parts. It looks a lot better now than before (I hope @menshikh-iv can confirm), but there's still a long way to go.

I think going fo

[2019-01-14 06:21] menshikh-iv commented on #2166
@rsdel2007 in same way as this already done in https://github.com/RaRe-Technologies/gensim/blob/b452a5b59f2f474dbbd275d0838c45df4d3c5aac/gensim/models/keyedvectors.py#L486

check out ndarray related parts in this function (word can be a vector, not only str)

[2019-01-14 06:30] menshikh-iv commented on #2330
hello @ctrado18, pre-trained vectors isn't enough to continue training (training requires 2 matricies, pre-trained vectors is just one matrix). For continuation, you need full model (not only word-vectors, like `glove` mentioned in comments).

`load_word2vec_format` returns `KeyedVectors`, not `Word2Vec` model, see also https://radimrehurek.com/gensim/models/keyedvectors.html. Comments from your l

[2019-01-14 06:44] #2330 closed

[2019-01-14 06:47] menshikh-iv commented on #2285
I agree, this bunch of warnings is confusing (even if this correct), we need to fix it properly (i.e. don't raise if this shouldn't be raised).

[2019-01-14 07:02] menshikh-iv commented on #2304
I don't think that this is a bug, example below works correctly (`gensim==3.6.0`)

[code]

@Gautamshahi can you give us more information, please?

[2019-01-14 07:08] menshikh-iv commented on #2311
Hello @himanshu-doi

of course, you can get an embedding for document from LDA and use it for any things.

[code]
See also:
- https://radimrehurek.com/gensim/models/ldamodel.html
- https://radimrehurek.com/gensim/similarities/docsim.html

Next time, please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for questions, GitHub for bug reports and feature requests.

[2019-01-14 07:08] #2311 closed

[2019-01-14 07:16] robguinness commented on #2317
Will do ASAP. It might be a day or two before I can get back to this.

[2019-01-14 07:31] menshikh-iv commented on #2324
Hello @DreamFlasher

`is not possible yet?` - yes, at least with `most_similar`, see #2166

For now, you can get vectors for all available doctags and calculate similarity manually

[code]

Next time, please use [mailing list](https://groups.google.com/forum/#!forum/gensim) for questions, GitHub for bug reports and feature requests.

[2019-01-14 07:31] #2324 closed

[2019-01-14 08:13] neutronest opened #2332 "replace 'sum(time_slice) == num_topics' to 'sum(time_slice) == num_documents'"
https://github.com/RaRe-Technologies/gensim/blob/355ecc68a6ccb07f38418e8c80784b70aac84442/gensim/models/ldaseqmodel.py#L75

As the comments said 'Number of documents in each time-slice', maybe the num_documents is the true meaning for sum(time_slice) ??

[2019-01-14 14:35] menshikh-iv commented on #2330
sorry, idk about spacy

[2019-01-15 00:16] mpenkov opened #2333 "FastText segfaults during training"
Given a data file:

[code]

the following code segfaults:

[code]

[2019-01-15 02:08] mpenkov commented on #2333
Related to issue #2235

[2019-01-15 02:54] #2175 closed

[2019-01-15 04:34] menshikh-iv commented on #2333
Not reproduced (`python3.7`, `gensim==3.6.0`), hm, any ideas how to reproduce that @mpenkov?

[2019-01-15 08:37] mpenkov commented on #2333
Added a Dockerfile [here](https://github.com/mpenkov/gensim/blob/callbacks/bug/Dockerfile).

[2019-01-15 10:34] robguinness commented on #2317
Just a small update: I have restarted the modeling process with logging level now set to DEBUG. I'll update when/if it gets stuck again.

[2019-01-16 11:35] robguinness commented on #2317
I hit the locked up situation again this morning. Here is a log from the LSI worker that is locked up:
[code]
Has been in this state for nearly 2 hours now.

[2019-01-16 12:30] piskvorky commented on #2317
Hi @robguinness, that seems to be some issue with the BLAS library you are using. (Gensim depends on those via scipy, see [here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/matutils.py#L1176)).

[code]

[2019-01-16 13:13] robguinness commented on #2317
Ok, yes, it could be there is some problem with our BLAS setup. Here is the output:

[code]

[2019-01-16 15:30] JustinMoser commented on #1783
@JensMadsen Hi! Sorry to chime in, but did you ever write a blog post on getting gensim on AWS lambda? Trying to do that now, and gensim is quite...large, when creating a deployment package.

Thanks!

[2019-01-16 15:33] menshikh-iv commented on #1783
@JustinMoser sorry, no updates.

As "ad-hoc" solution, you can extract & drop test data (`gensim/test/test_data`) from wheel manually (`.whl` just an archive) and use it on lambda.

[2019-01-16 15:37] JustinMoser commented on #1783
@menshikh-iv Thank you! Pardon me if I'm being dim, but when I install gensim to my deployment directory (using pip install gensim --target .), with the dependencies, it is near the 300mb mark.

[2019-01-16 15:55] menshikh-iv commented on #1783
@JustinMoser wow, that sounds impossible, for example, I made a clean installation on python2

[code]

gensim with all deps takes around 72M, where 300MB comes from? Can you check please, what exactly downloaded?

if you talking about installed, so, in that case, numpy & scipy still top2 (more than 150MB)

[code]
unfortunatelly, I can't help with it

[2019-01-16 17:04] Naba7 opened #2336 "Module not callable"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-01-16 17:04] #2336 closed

[2019-01-16 17:06] menshikh-iv commented on #2336
@Naba7 ??

[2019-01-16 17:10] Naba7 opened #2337 "module not callable"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Linux-4.15.0-43-generic-x86_64-with-debian-buster-sid
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0]
NumPy 1.15.0
SciPy 1.1.0
gensim 3.4.0
FAST_VERSION 1
i use python 3.7 on linux 18.04LTS with the latest gensim version
but i a

[2019-01-16 17:18] Naba7 commented on #2336
Sorry I closed the issue . I recreated it in #2337

On Wed 16 Jan, 2019, 10:36 PM Ivan Menshikh <notifications@github.com wrote:

[2019-01-16 17:43] Naba7 opened #2338 "Documentation issue: mistyped"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Linux-4.15.0-43-generic-x86_64-with-debian-buster-sid
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0]
NumPy 1.15.0
SciPy 1.1.0
gensim 3.4.0
FAST_VERSION 1
in the notebook, http://localhost:8889/notebooks/docs/notebooks/Corpora_a

[2019-01-17 01:05] menshikh-iv commented on #2337
I'm sure that you call `.save` from the module (i.e. from `gensim.corpora.dictionary` , not from [gensim.corpora.dictionary.Dictionary](https://radimrehurek.com/gensim/corpora/dictionary.html#gensim.corpora.dictionary.Dictionary) instance).

Please read an exceptions carefully next time, this typically gives enough information about what's wrong.

Some example of dictionary usage
[code]

[2019-01-17 01:05] #2337 closed

[2019-01-17 01:06] menshikh-iv commented on #2336
@Naba7 you can open it again in any moment (as owner), no need to create a new one, just re-open & edit old one next time.

[2019-01-17 01:16] menshikh-iv commented on #2338
Hi @Naba7,

we are talking about https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Corpora_and_Vector_Spaces.ipynb

no, we see dictionary directly in this notebook: `'human': 0, 'computer': 2`

[code]

the token order can be non-deterministic (different between runs), but text description synchronized with code output in notebook, no issue here

![image](https://user-images.g

[2019-01-17 01:16] #2338 closed

[2019-01-17 01:36] menshikh-iv commented on #2332
СС @bhargavvader

[2019-01-17 01:40] menshikh-iv commented on #2236
@piskvorky

Ok, but what's about values that non-zero but very small, like `1e-10`? What's a problem with it? With `sparse2full` we'll put `0.` instead of `1e-10`, because small values already filtered.

[2019-01-17 01:43] menshikh-iv commented on #1497
@monajalal I guess specify a full path (looks like `smart_open` cannot find your file)

[2019-01-17 02:01] menshikh-iv commented on #416
@johann-petrak we applied some "workaround" for this, see #2308, hope that helps

[2019-01-17 02:33] Naba7 commented on #2337
yes Thank you

On Thu, Jan 17, 2019 at 6:35 AM Ivan Menshikh <notifications@github.com>
wrote:

--
*nabanita*

[2019-01-17 02:34] horpto commented on #416
@menshikh-iv I don't think that 'workaround" will solve this problem. I've had  the same problem even after my patch. I can try to explore this a bit later.

[2019-01-17 02:34] Naba7 commented on #2336
okay

On Thu, Jan 17, 2019 at 6:36 AM Ivan Menshikh <notifications@github.com>
wrote:

--
*nabanita*

[2019-01-17 02:35] Naba7 commented on #2338
okay

On Thu, Jan 17, 2019 at 6:46 AM Ivan Menshikh <notifications@github.com>
wrote:

--
*nabanita*

[2019-01-17 02:38] menshikh-iv commented on #2294
@zjzh from first look - it really almost same, but in any way, need to
- check if this works exactly as expected in both cases (word / context), write tests for it
- update an documentation, add executable example
- (?) add "alias" method for `predict_output_context` as proxy to `predict_output_word` (make it simpler for a user)

[2019-01-17 02:39] menshikh-iv commented on #416
@horpto I still hope that #2308 at least reduce the number of "overflow-related" errors.

Sounds pretty useful and nice, please go ahead when you will have time!

[2019-01-17 03:31] HashimHL commented on #2235
I have encountered the same problem while I was trying to train FastText model from big dataset.

Here is a simplifed version of the problem.
[code]
the output of running this code is:
[code]
the vector of the word is not changing and the model is not learning anything.
if i replaced the `FastText(workers=1)` with `Word2Vec(workers=1)` everything works fine and make sense and the vector is updated

[2019-01-17 06:48] menshikh-iv commented on #2235
yes, exactly, big thanks @mpenkov that helps us much with fasttext-related issues in #2313

[2019-01-17 06:51] menshikh-iv commented on #2235
I guess I can close this issue as fixed by #2313, but we definitely need to document this (make an docstring example with callback & fasttext + describe why `adjust_vectors()` call is important)

CC: @mpenkov

[2019-01-17 06:51] #2235 closed

[2019-01-17 08:16] piskvorky commented on #2317
Nah, QR should take seconds, not hours. This looks stuck. But I'm wondering where exactly, and why (could be some OpenBlas bug, or the machine went OOM and killed some critical processes…).

[2019-01-17 08:22] piskvorky commented on #2236
Yeah, tiny values are considered numerical artefacts (you cannot compare floats for exact equality), and treated the same as 0.0.

[2019-01-17 10:20] piskvorky commented on #2317
Can you send the exact traceback next time it gets stuck?

Not sure what you mean by `try/except MemoryError` -- is this something inside Gensim, or your code?

[2019-01-17 13:14] #132 closed

[2019-01-17 18:22] robguinness commented on #2317
Exactly. The code looks like this:

[code]

[2019-01-18 01:49] horpto commented on #416
This issue is caused by width of dtype. First of all I have had a warning on `diff = np.log(self.expElogbeta)` in the second m-step: `RuntimeWarning: divide by zero encountered in log`. So that's why `inf`-s appear in output (`self.expElogbeta` have ontained zeros). `get_Elogbeta()` after first blend returned  something like this:

[code]

It's not obvious at a first glance (of course, all thins t

[2019-01-18 07:46] piskvorky commented on #416
@horpto do you see a way to use float64 precision only where needed (internal calculations), but keep the big parameter matrices in float32 (less RAM)?

IIRC the only reason for float32 was to save memory.

[2019-01-18 09:47] menshikh-iv commented on #1261
New measurement
- `python3.6`
- `gensim==3.7.0`
- model: https://s3-us-west-1.amazonaws.com/fasttext-vectors/word-vectors-v2/cc.ru.300.bin.gz
- code
[code]
- profiling: `python -m cProfile -o lff.prof <fname.py>`

![image](https://user-images.githubusercontent.com/15094669/51378397-fe46a900-1b2e-11e9-847e-8bfeddc6b30e.png)

[Raw cProfile outpt (zip)](https://github.com/RaRe-Technologies/gensim/fil

[2019-01-18 10:37] menshikh-iv commented on #2062
Fixed by #2313

[2019-01-18 10:37] #2062 closed

[2019-01-18 12:37] horpto commented on #1261
@menshikh-iv why don't make `_compute_ngrams` generate list of bytes ? Only one time make `.encode`  in `_compute_ngrams`. There is one big drawback that `_compute_ngrams` should iterate by unicode characters, but generate bytes.

[2019-01-18 12:40] menshikh-iv commented on #1261
@horpto yes, I agree, this is one of the ideas, though need to test properly.

[2019-01-18 13:01] menshikh-iv commented on #1261
**Optimization attempt №1, Idea (thanks @mpenkov) - use caching (LRU in our case)**

Apply caching (very dirty patch, I know, but shows main idea)

[code]

**Result**

Loading time for `cc.ru.300.bin` with LRU patch (described below)

| Cache type | Time | Speed |Hits | Misses | Hits % |
|------------|------|------|---------|---|--------|
| No cache (current) | 12m17s |   1x|-   |  -   |   -    |

[2019-01-18 13:45] JensMadsen commented on #1783
@JustinMoser I dropped lambdas. too much hazzle. Doing a service in a kubernetes cluster instead :-) This is the content of my dockwer file from back then:
[code]

[2019-01-18 14:48] robguinness commented on #2317
An update...I am now re-running the process, now using libatlas as the underlying BLAS. The workers aren't getting stuck, which is good, but there seems to be another issue...the memory usage of the workers is steadily increasing, which to me seems a bit odd. At least, I've never seen this happen before. The workers should release their memory after each job, correct?

[2019-01-18 15:40] piskvorky commented on #2317
Yes, they do release memory after each job. The Gensim LSI code is pure Python, so that cannot leak.

But it could be some artefact of Python memory management. How much of an increase are you seeing (absolute + time derivative)? Does it stop after a while, or keeps growing steadily?

[2019-01-18 16:45] horpto commented on #416
@piskvorky I guess, we can change `diff = np.log(self.expElogbeta)` line to `diff = self.state.get_Elogbeta()` due to invariant `self.expElogbeta == np.exp(self.state.get_Elogbeta())` but it's not solve possible problem with zeros in `self.expElogbeta` instead of small values.
I can add PR if it's good enough suggestion and if you agree with it.

[2019-01-18 18:04] robguinness commented on #2317
The process has been running for about 6.5 hours, and now the workers are consuming about 24-25 GB each. The growth seems pretty steady, and my guess is it will keep rising until throwing an OOM error. I will add some instrumentation to print more precise memory stats to the log, since now I am just going based on monitoring htop.

I would assume the memory leak is in libatlas, since this did not

[2019-01-18 22:56] piskvorky commented on #2317
I use OpenBlas, or if not available, ATLAS.

I'm wondering if it's something with your particular setup or HW, as opposed to the library itself. It's really strange. @menshikh-iv were there any changes to LSI on our side lately? Any cythonization, refactoring, …?

[2019-01-19 05:43] menshikh-iv commented on #2317
@piskvorky in 2018 - only cleanup (improve documentation, better six usage, etc), no optimizations or refactoring.

[2019-01-19 10:04] mpenkov commented on #2333
@menshikh-iv I think the Dockerfile above successfully reproduces the issue, so maybe we should remove the "need info" label from this ticket?

[2019-01-19 12:16] mpenkov commented on #1261
@horpto @menshikh-iv

I think that it's an interesting idea, but there's a problem: there's no guarantee that the length of the string before and after encoding will be the same, because a single character can be encoded to multiple bytes. This means that implementing the idea, we may get different ngrams.

At this stage, the thing to do is go read the FB implementation and documentation. We need

[2019-01-19 12:33] horpto commented on #1261
@mpenkov My idea actually is the same (I understand it later) to fb/fasttext implementation of `_compute_ngrams` (see https://github.com/facebookresearch/fastText/blob/7842495a4d64c7a3bb4339d45d6e64321d002ed8/src/dictionary.cc#L172). It's first. Second, I don't clearly expressed about unicode strings but I've written about this big drawback. It must make code a more complex (but maybe we can get a

[2019-01-19 15:35] menshikh-iv commented on #1261
@horpto @mpenkov I made small benchmark (but I feel that I'm wrong somewhere)

[code]

We have 2 pairs of func:
- `compute_ngrams_current` + `ft_hash_current` (current `master`)
- `compute_ngrams_new` + `ft_hash_new` - idea with single encoding for word (not an each ngram)

Benchmark looks really simle

[code]

And result is

[code]

New variant even a bit slower than current one (I guess reason i

[2019-01-19 17:55] menshikh-iv commented on #1261
In addition, I port from FB ngram generation based on bytes
[code]

But this is still not help much, hmm..

[2019-01-19 18:12] DomHudson commented on #1261
Apologies if this has been addressed, but is there any reason we can't just use some of the original C++ with suitable pybind11 bindings to access the loaded data? Is the assumption that the overhead from moving the data from C++ to Python would mitigate any C++ speed improvements?

[2019-01-19 18:30] menshikh-iv commented on #1261
@horpto @mpenkov according to my experiment (calculate byte-based character ngram + no encoding on hash function side) - no difference with current implementation (same `12m17s`) , looks like encoding wasn't an issue in the current case. Any other ideas, guys?

[2019-01-19 19:15] menshikh-iv commented on #1261
I guess I solve this issue: I re-write hash function

[code]

Now loading takes `1m1s` instead of `12m17s`

@mpenkov please
- reproduce my last attempt (with `ft_hash_ff` + bytes-based ngrams)
- test it properly (I'm not sure about correctness)
- apply in #2340

[2019-01-19 19:32] akutuzov opened #2341 "fastText fixes in 3.7 break compatibility with old models"
Recent fixes to Gensim's fastText implementation introduced in #2313 are great. Unfortunately, they also break compatibility with fastText models trained by older Gensim versions - if the models are stored as a KeyedVectors() object. One can load such a model, but as soon as you try to do anything useful (like `most_similar()`, etc), it fails, because the `compatible_hash` attribute is missing.
If

[2019-01-19 19:33] akutuzov commented on #2341
@mpenkov
@menshikh-iv

[2019-01-19 19:42] akutuzov commented on #2341
'Full' fastText models (not KeyedVectors objects) trained in older Gensim versions can be loaded and work with. There is even  a warning message in the logs about the hash function to be buggy. Unfortunately, this message itself is buggy and fails to show properly:
[code]

[2019-01-19 23:04] Naba7 commented on #2260
is it closed? I want to get to work on this @menshikh-iv

[2019-01-19 23:19] Naba7 commented on #2166
is this issue closed or open?

[2019-01-20 02:17] luzhongqiu opened #2342 "there is no log when i use word2vec by corpus_file"
I use the corpus_file in word2vec for speed boosting, but there is no log on the terminal, so I don't know when it will be done.
gemsim: 3.7.0

[2019-01-20 03:35] menshikh-iv commented on #1261
upd: @horpto simplified my code version (get rid malloc), looks simpler and better

[code]
CC @mpenkov

[2019-01-20 04:20] menshikh-iv commented on #2342
hello @luzhongqiu, logging appears only in python code, for `corpus_file`, almost all works happens in C (without GIL), for this reason, we can't use logger here (only pure-C maybe?).

But I'm +1 for this addition, sounds useful
CC: @persiyanov

[2019-01-20 04:43] menshikh-iv commented on #2341
upd: @akutuzov I reproduced KV problem (no need additional info from you)

Reproduce backward compatibility bug

1. Train FT & save KV in `gensim==3.6.0`
[code]
   produced file (gzipped after, for uploading to github): [ft_kv.model.gz](https://github.com/RaRe-Technologies/gensim/files/2776280/ft_kv.model.gz)

2. Load KV in `gensim==3.7.0` and use it
[code]

Full trace
[code]

[2019-01-20 05:20] menshikh-iv commented on #2341
preliminary variant of fix
CC @mpenkov
[code]

[2019-01-20 11:18] davidcode00 opened #2343 "GSOC 19"
Hello, I am wondering if gensim is going to apply for GSOC ? I have a great interest in NLP and topic modelling and want to do project with gensim this year since your last years project have caught my attention.
Please guide me.
Regards
David

[2019-01-20 11:43] menshikh-iv commented on #2343
CC @piskvorky

[2019-01-20 11:51] luzhongqiu commented on #2342
thanks! I am looking forward to this :)

[2019-01-20 11:59] timbicker commented on #2260
Sorry for my recent absence. I pushed new changes to the PR, which makes the PR ready to be reopened again. Unfortunately, I cannot reopen it myself. At least I don't know how. Thanks for your support!
@Naba7 feel free to participate in the PR, if there is anything left to do

[2019-01-20 13:37] piskvorky commented on #2343
No time for GSOC this year, sorry.

[2019-01-20 13:37] #2343 closed

[2019-01-20 15:39] Naba7 commented on #2085
can i work on this?

[2019-01-20 16:52] persiyanov commented on #2342
FYI: [This package](https://github.com/minrk/wurlitzer) may be useful for implementing this feature

[2019-01-20 18:40] piskvorky commented on #2342
Printing to stderr probably enough. Optional of course (some verbosity setting, with default = no printing).

[2019-01-21 08:39] robguinness commented on #2317
Ok, I'm going to try updating libatlas, and if it still leaks, then I will try switching to OpenBlas. I will also try to build OpenBlas from source on this machine. I'll keep you updated.

BTW, should I open up a different Github issue, since the memory leak seems to be a completely issue than the original one? (I could be wrong about that, but my gut tells me they are unrelated.)

[2019-01-21 10:13] menshikh-iv commented on #2341
Fixed partially (https://github.com/RaRe-Technologies/gensim/issues/2341#issuecomment-455809275) in #2339
Waiting #2340 for full fix

[2019-01-21 10:23] piskvorky commented on #2317
No, let's keep it in one place. I'm still not sure what the actual issue is, the BLAS leak is just a hypothesis (very strange, these libs are well-tested and used widely).

[2019-01-21 15:39] piskvorky commented on #2317
Thanks. What's the maximum nnz in one doc? `max(len(doc) for doc in corpus)`

[2019-01-22 01:18] luzhongqiu commented on #2342
ok, I will try

[2019-01-22 04:00] Naba7 opened #2348 "Sign of lsi_vector"
Linux-4.15.0-43-generic-x86_64-with-debian-buster-sid
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0]
NumPy 1.15.0
SciPy 1.1.0
gensim 3.4.0
FAST_VERSION 1

The notebook is on Similarity_Queries

The original notebook-log of lsi 2nd dim:
2019-01-22 08:49:18,871 : INFO : topic #1(2.542): 0.623*"graph" + 0.490*"trees" + 0.451*"minors" + 0.274*"survey" + -0.167*"system" + -0

[2019-01-22 06:00] gojomo commented on #2085
IMHO ideal fix would restore the symmetry/consistency in Word2Vec-related classes before #1777, where you could always replace a single `build_vocab()` with individual constituent steps with consistent names, if you wanted more control (such as via extra actions/analysis between steps). And, to prevent future regressions, test methods confirming such an 'un-bundling' of the `build_vocab()` steps g

[2019-01-22 08:15] robguinness commented on #2317
Here is the max, as well as a few other statistics concerning nnz that may (or may not) be useful:

max: 17687
min: 0
st.dev: 311.85
num. docs with nnz>5000: 811

I'm using ShardedCorpus.

[2019-01-22 10:11] piskvorky commented on #2317
Aha. I'm not very familiar with `ShardedCorpus` -- can you try with normal `MmCorpus` too please?

[code]

(you can also compress the `.mm` file to `.mm.gz` or `.mm.bz2` to save space, gensim can open those compressed formats natively, without unpacking)

[2019-01-22 17:22] robguinness commented on #2317
Do you mean convert the sharded corpus to an MmCorpus, or regenerate the corpus from scratch as an MmCorpus?

I naively tried the first option, i.e:

[code]
But this fails with the following output:

[code]
If it is not possible to convert a ShardedCorpus to MmCorpus, then I can regenerate it, but it will take awhile.

[2019-01-22 17:49] piskvorky commented on #2317
I meant convert it (not re-generate).

Reading the [ShardedCorpus docs](https://radimrehurek.com/gensim/corpora/sharded_corpus.html), iterating over it works differently than other Gensim corpora. To get standard behaviour, you'll need to set `.gensim = True` first:

[code]

I suspect this might also be related to your memory issue: the ShardedCorpus iterator returns vectors of a different type by

[2019-01-22 17:56] robguinness commented on #2317
I actually tried that already, and it still gave the same error. I will try again to be doubly-sure. Regarding the choice of ShardedCorpus, this was made before I joined the company, but I think the thinking was probably due to the large size of the corpus.

[2019-01-22 18:00] robguinness commented on #2317
I just checked from our code, and the `gensim` attribute is already set to true when the corpus was generated:

[code]

[2019-01-22 18:19] horpto commented on #2317
@robguinness check what ShardedCorpus generates. it should be docs with in a bow format.
But I think that because of `_getitem_sparse2gensim`
Check this calls of ShardedCorpus methods: `__iter__` ->  `__getitem__ from number` -> `_getitem_format(s_result)` -> `_getitem_sparse2gensim(s_result)` -> row_sparse2gensim

I think `_getitem_sparse2gensim(s_result)` generates tuple of bows but should only

[2019-01-23 03:30] #2341 closed

[2019-01-23 11:34] robguinness commented on #2317
[code]

[code]

(I'm not really sure what the argument `s_result` should be in the remaining calls.)

I'm currently trying a small hack to load the entire corpus into memory as a list:

[code]

Not sure if it will fit though...

[2019-01-23 11:59] horpto commented on #2317
Oh, I'm an idiot. Of course, line `output = (row_sparse2gensim(i, result) for i in range(result.shape[0]))` assign to output an iterator, not tuple.

I've copypasted exactly function callings from code to ease orientation in code. Thanks for a great answer with a slice of shell. It' very helpful.

MmWriter can receive (according to code) an iterator of docs if you don't care or don't have metadata

[2019-01-23 14:17] piskvorky commented on #2317
@robguinness can you give me `list(next(iter(sharded_corpus)))` as well.

[2019-01-23 16:24] robguinness commented on #2317
[code]

I managed to create an MmCorpus and use that as the input to the LsiModel, but the same leaky behavior occurs. After each job, the amount of memory used by a worker roughly doubles. I think the problem is really that the workers are not releasing the memory, as they should.

[2019-01-23 17:54] piskvorky commented on #2317
That doesn't look right. Can you send your output for `next(iter(mm_corpus))`?

[2019-01-23 18:09] horpto commented on #2317
@piskvorky bug in the `ShardedCorpus._getitem_sparse2gensim` I've already  written that.

[2019-01-24 04:51] #1261 closed

[2019-01-24 07:17] robguinness commented on #2317
[code]
Last night I added some memory usage logging via the `tracemalloc` module. Every time the worker calls `reset()`, I take a snapshot and call `snapshot.statistics('lineno')`, then print out the top ten results. Here is how the results look for one worker after running for a few hours:

[code]
Here are lines 252-256 of `lsimodel.py`:

[code]
I am wondering if perhaps the `other` object is not

[2019-01-24 08:57] piskvorky commented on #2317
@robguinness and this is with MmCorpus, right?

Because while the output for MmCorpus is correct, the output for ShardedCorpus is broken. I don't understand how ShardedCorpus even worked for you, that iteration should have been throwing exceptions right away. Weird.

If you're seeing the leak with MmCorpus too, the only way forward is to debug in detail. Does the issue happen even in serial mode (

[2019-01-24 13:00] lynochka opened #2350 "impossible to load into gensim the fastText model trained with pretrained_vectors"
#### Description
When using using fastText model, trained itself with the pretrained vectors,  impossible to load the model with gensim.models.FastText.load_fasttext_format

#### Steps/Code/Corpus to Reproduce
First we make glove into word2vec format with gensim.
Keep "glove.6B.50d.txt" in local
[code]

Then use any sample text TEXT_FOR_WE_FILENAME, e.g.,
https://raw.githubusercontent.com/bbejeck/

[2019-01-24 13:09] robguinness commented on #2317
The above output was using ShardedCorpus with all ~7 million docs, but I saw the same behavior using MmCorpus with a smaller number of docs (since the full set won't fit into memory).

That's really strange about ShardedCorpus because we have used this in our code for the last few years without seeing this particular.

In serial mode, there are no workers, right, so I wouldn't see quite the same s

[2019-01-24 13:17] piskvorky commented on #2317
MmCorpus doesn't load the full document set into memory, so that's no reason to use ShardedCorpus.

I'd propose you avoid ShardedCorpus, not sure what's going on there… maybe some recent refactoring… I'm not familiar with that module. But I'd expect our unit tests to catch such a fundamental problem, strange.

@robguinness How much gain do you see from using distributed LSI? How many workers / how

[2019-01-24 13:58] robguinness commented on #2317
Here is some output from a run using MmCorpus (still with gensim 3.6.0, I'll try downgrading next). The process has been running for about an hour, and you can see the number of objects and overall size increases with each job (see `lsimodel.py:254`):

[code]
If I let it run for a couple more hours, I'm quite sure it will keep increasing. I will kill it now though and try downgrading to 0.13.4 to

[2019-01-24 14:41] robguinness commented on #2317
FYI, downgrading to gensim 0.13.4 also causes downgrades to numpy-1.16.0 and scipy-1.2.0. Just a note that if the problem goes away, it might be hard to trace down the cause, since we won't know if it was a bug in the more recent releases of these packages.

[2019-01-24 14:58] robguinness commented on #2317
I got an error when trying to run under gensim 0.13.4:

[code]
It seems that the phraser that was built with gensim 3.6.0 is not compatible with 0.14.3. I would have to regenerate it, which for the whole 7 million documents will take awhile. So please give me a few days.

[2019-01-24 15:00] horpto commented on #2317
@robguinness I think problem is not in gensim itself, but libatlas. Of course, copy of big array causes a large allocations, but tracemalloc shows allocations of python only. so if memory leak is in other library we will not see this.

[2019-01-24 15:05] robguinness commented on #2317
@horpto I'm not sure I completely follow you. The memory usage of Python *is* growing in the worker, as can be seen with `tracemalloc` in the output above, which is unexpected behavior since the worker should be flushing all the data it holds after each job. It may not be a "memory leak" in the classical sense, but still causes the Python memory usage to grow with each worker job.

[2019-01-24 15:31] aneesh-joshi commented on #1983
@gojomo
should we log a warning when such extreme cases are set so that the problem isn't silent if it isn't what the user wants?

[2019-01-24 15:33] piskvorky commented on #2317
What do these `tracemalloc` numbers mean? If it's just a cumulative sum of memory allocated at a particular line, that may be perfectly OK as long as the memory gets released later. Does an increasing number really imply a leak?

Before downgrading, I'd urge you to try training with MmCorpus (it's streamed and doesn't load all docs into RAM). No ShardedCorpus. Especially if you can reproduce the i

[2019-01-24 16:03] horpto commented on #2317
@robguinness ok, you're right. I've tested tracemalloc on this example:

[code]

[2019-01-25 02:05] horpto commented on #2317
If turn off distributed mode will memory issue stay? (I think yes, it stays)
Then, one of syspicious part of code for me is `qr_destroy`. I'd mock it, for example,  just returns an array with random data without any real calculations.

[2019-01-25 09:48] robguinness commented on #2317
I'm out sick today, so I'll probably get back to troubleshooting on Monday. One small comment for @piskvorky...you are right, Phraser is completely unrelated to this. We were unnecessarily loading the serialized Phraser object in our code. I can just get rid of that line completely.

Thanks for the help and suggestions from everyone.

[2019-01-25 10:37] tvrbanec commented on #2105
Similar issue with SoftCosineSimilarity.
Please check at https://groups.google.com/forum/#!topic/gensim/WVTRdZONtrc
Python2.7, gensim 3.7

[2019-01-25 10:45] tvrbanec opened #2351 "cosine similarity is not giving 1 for two same input documents"
https://groups.google.com/forum/#!topic/gensim/YiMDDtLCI7o

Any similarity to a document by itself should be 1. It seems to me it is something wrong with cosine similarity in gensim, because I do not get 1.

def cossim(texts):
    dictionary = corpora.Dictionary(texts)
    corpus = [dictionary.doc2bow(text) for text in texts]
    tfidf = TfidfModel(corpus, dictionary, normalize=True)
    index = M

[2019-01-25 10:47] piskvorky commented on #2351
@tvrbanec you're comparing `index`, which is `TFIDF[corpus]`, to just `corpus` (bag-of-words).

Try `simmatrix = index[tfidf[corpus]]`.

[2019-01-25 10:49] piskvorky commented on #2105
ping @Witiko

[2019-01-25 10:50] tvrbanec commented on #2351
Thank you very much!

[2019-01-25 10:50] #2351 closed

[2019-01-25 10:58] shivam13juna commented on #846
I confirm, converting int to str worked perfectly. like I converted word_to_int[i] to str(word_to_int[i])

[2019-01-25 11:05] Naba7 opened #2352 "veclen documentation"
Linux-4.15.0-43-generic-x86_64-with-debian-buster-sid
Python 3.6.5 |Anaconda, Inc.| (default, Apr 29 2018, 16:14:56)
[GCC 7.2.0]
NumPy 1.15.0
SciPy 1.1.0
gensim 3.4.0
FAST_VERSION 1

def unitvec(vec, norm='l2', return_norm=False):
    """Scale a vector to unit length.

    Parameters
    ----------
    vec : {numpy.ndarray, scipy.sparse, list of (int, float)}
        Input vector in any format

[2019-01-25 11:17] Witiko commented on #2105
I fail to see how this is related to the current issue, which should have been long closed due to the original poster's inactivity.

[2019-01-25 11:22] tvrbanec commented on #2105
Assertion Error + SoftCosineSimilarity = Not related?
I will present the full code if You'll try to resolve the issue. Do you prefer that I open a new issue?

[2019-01-25 11:36] tvrbanec commented on #2105
[code]
Traceback (most recent call last):
    termsim_index = WordEmbeddingSimilarityIndex(model)
  File "/usr/local/lib/python2.7/dist-packages/gensim/models/keyedvectors.py", line 1389, in __init__
    assert isinstance(keyedvectors, WordEmbeddingsKeyedVectors)
AssertionError

[2019-01-25 11:36] #2352 closed

[2019-01-25 11:39] Witiko commented on #2105
For some reason, your word embeddings do not have the `WordEmbeddingsKeyedVectors` type (what type do they have?) and the `most_similar` method of your word embeddings returns a float instead of an iterable. The first issue can be resolved by removing the `isinstance` check, the other issue seems more severe.

[2019-01-25 11:41] tvrbanec commented on #2105
I am using gensim Word2Vec to generate w2v_model.

[2019-01-25 12:01] Witiko commented on #2105
I can reproduce this. Apparently, `Word2Vec` no longer has `KeyedVectors` as a base class; thank you for bringing this to our attention. Your issue can be resolved by removing line 1389 in `keyedvectors.py`.

I cannot reproduce your other issue, i.e. `w2v_model.wv.similarity_matrix(dictionary)` throwing a `TypeError`:

[code]

[2019-01-25 12:44] Witiko commented on #2105
I cannot reproduce [your other issue](https://groups.google.com/d/msg/gensim/WVTRdZONtrc/zFbWBb3ABgAJ), i.e. `model.wv.similarity_matrix` throwing a `TypeError`:

[code]

Can you run the above code without issue?

[2019-01-25 13:41] SHANMUKHA-VENKAT opened #2354 "Feature Suggestion: Add new parameter that gives topic distribution among all the words"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

Complete topic vectors is important for clearer analysis.

[2019-01-25 15:45] SHANMUKHA-VENKAT opened #2355 "Documentation: Unclear Explanation"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

https://github.com/RaRe-Technologies/gensim/wiki/Recipes-&-FAQ#q3-how-do-you-calculate-the-matrix-v-in-lsi-space
Question 4.

[2019-01-25 15:46] tvrbanec commented on #2105
Yes, I can.

[2019-01-25 15:49] tvrbanec commented on #2105
Now, few steps forward, for:
`similarity_matrix = TermSimilarityMatrix(termsim_index, dictionary)  # construct similarity matrix
`
I got:
NameError: global name 'TermSimilarityMatrix' is not defined

[2019-01-25 16:02] Witiko commented on #2105
Please, try the following:
[code]

[2019-01-25 16:04] tvrbanec commented on #2105
similarity_matrix = SparseTermSimilarityMatrix(termsim_index, dictionary)  # construct similarity matrix
  File "/usr/local/lib/python2.7/dist-packages/gensim/similarities/termsim.py", line 234, in __init__
    for term, similarity in index.most_similar(t1, num_rows)
  File "/usr/local/lib/python2.7/dist-packages/gensim/models/keyedvectors.py", line 1401, in most_similar
    for t2, similarity in

[2019-01-25 16:31] tvrbanec commented on #2105
Maybe the problem is creating by terms like 'chemical_element' or 'cabinet_minister' with underlines?

[2019-01-25 16:32] piskvorky commented on #2355
@SHANMUKHA-VENKAT use the [mailing list](https://groups.google.com/forum/#!forum/gensim) to ask questions. Be specific if you want answers.

[2019-01-25 16:32] #2355 closed

[2019-01-25 16:34] piskvorky commented on #2354
Gensim already gives you topic distributions, what parameter? Please use the [mailing list](https://groups.google.com/forum/#!forum/gensim) to ask open-ended questions, Github is for bug reports.

[2019-01-25 16:34] #2354 closed

[2019-01-25 16:59] Witiko commented on #2105
I cannot reproduce your issue:
[code]

Judging by the error message, `model.wv.most_similar` returns a number, not an iterable. Can you print the result of `model.wv.most_similar(positive=['chemical_element'], topn=10)`, please?

[2019-01-25 17:16] tvrbanec commented on #2105
For common_texts, output is:
[code]

[2019-01-25 17:18] Witiko commented on #2105
Indeed. Can you please try with the embeddings that throw the `TypeError: 'numpy.float32' object is not iterable` exception?

[2019-01-25 17:18] tvrbanec commented on #2105
For my [text](https://pastebin.com/at7idpCV) it stops even before:
[code]

[2019-01-25 17:21] Witiko commented on #2105
As you can see on line 1400, `SparseTermSimilarityMatrix` calls `model.wv.most_similar` internally. According to the error message, the result of calling `model.wv.most_similar` is a float, not an iterable. Therefore, can you please print the result of `model.wv.most_similar(positive=['chemical_element'], topn=2)`?

[2019-01-25 17:24] tvrbanec commented on #2105
Thank you for your patience: :)
[code]

[2019-01-25 17:27] Witiko commented on #2105
This seems pretty iterable to me.

[2019-01-25 17:32] tvrbanec commented on #2105
My text does not make an error at your computer?

[2019-01-25 17:34] Witiko commented on #2105
Let's try to closely imitate the call on line 1400. Can you please print the result of the following:

[code]

[2019-01-25 17:34] Witiko commented on #2105
What is your text?

[2019-01-25 17:37] tvrbanec commented on #2105
[code]

[2019-01-25 17:39] Witiko commented on #2105
I can reproduce this with your text and I am investigating.

[2019-01-25 17:53] Witiko commented on #2105
The issue is that the `most_similar` method behaves weird with `topn=0`:
[code]

This is an undocumented behavior, which can be fixed by removing lines 554 and 555 in `keyedvectors.py`. Afterwards, you will get the expected result and, more importantly, `SparseTermSimilarityMatrix` should now work.

[code]

[2019-01-25 18:12] Witiko commented on #2105
The patches are now available in #2356.

[2019-01-26 03:35] menshikh-iv commented on #2354
@SHANMUKHA-VENKAT maybe you need this one https://radimrehurek.com/gensim/models/ldamodel.html#gensim.models.ldamodel.LdaModel.get_topics?

[2019-01-28 02:42] #416 closed

[2019-01-29 02:56] menshikh-iv commented on #2051
Fixed in #2344 by @horpto

[2019-01-29 02:56] #2051 closed

[2019-01-30 00:15] bhomass opened #2362 "WikiCorpus lumps many paragraphs into one"
#### Description
TODO: change commented example

#### Steps/Code/Corpus to Reproduce

#### Expected Results

#### Actual Results

#### Versions

[2019-01-30 00:19] bhomass commented on #2362
I downloaded some wikipedia english dumps, and tried to use WikiCorpus to convert them to tokens. For every dump, the same thing happens. WikiCorpus.get_text() returns very very long paragraphs, each consists of many paragraphs in the original text. I know, I because I checked against the original wikipedia page. I read somewhere, you should get around 30 million paragraphs when properly parse out

[2019-01-30 01:35] menshikh-iv commented on #2362
Hello @bhomass,

Not sure where you read that, better to read our documentation for [WikiCorpus.get_texts](https://radimrehurek.com/gensim/corpora/wikicorpus.html#gensim.corpora.wikicorpus.WikiCorpus.get_texts)
[code]
We yield tokens for each article, not for paragraphs.
If you need an paragraphs, I can propose:
- already parsed dump https://github.com/RaRe-Technologies/gensim-data/releases/tag/wi

[2019-01-30 01:35] #2362 closed

[2019-01-30 01:54] #2304 closed

[2019-01-30 02:54] bhomass commented on #2362
do you mean to say, you would apply doc2vec to an entire wikipedia article as a single doc, instead of its paragraphs?

[2019-01-30 02:57] menshikh-iv commented on #2362
@bhomass I wound to say than `get_texts()` yield articles, not paragraphs, no idea how doc2vec related, it's up to you, how to apply doc2vec on wikipedia (on article or paragraph level).

[2019-01-30 03:51] bhomass commented on #2362
I am just wondering the usefulness of the article granularity. Obviously, someone can easily combine sentences and paragraphs into a single article, but can not decompose an article worth of tokens back into the original sentence or paragraph units.

[2019-01-30 03:54] menshikh-iv commented on #2362
@bhomass

Only one way to check: train both variants and compare :)

read https://github.com/RaRe-Technologies/gensim/issues/2362#issuecomment-458776813 again please, I propose 2 variants how to retrieve paragraphs instead.

[2019-01-30 15:21] frx08 commented on #2305
@menshikh-iv sorry for the late reply, the problem seems fixed with version 3.7.0, I was using 3.6.0
regarding saving the model in this way:
`model.save("ft.model")`
n 6 files are generated:
n 2 with size around 1 gb with filenames
out.model.trainables.vectors_ngrams_lockf.npy,
out.model.wv.vectors_ngrams.npy
n 4 with size around 300 mb with filenames:
out.model.trainables.syn1neg.npy
out.model.tr

[2019-01-30 15:39] menshikh-iv commented on #2305
@frx08

sorry, but no, though you can try to `model.save("ft.model", separately=[])`, but this just don't split a model to different files, you'll get very large single pickle file that will be pretty slow on loading, for this reason, I don't recommend this.

[2019-01-31 04:19] bhomass commented on #2362
I am trying to work with the dump you referenced. The content appears to be long string embedded in some kind of json. I can identify the json header at the beginning of the text
b'{
"section_texts": [

So I tried using ast.literal_eval(line)
but, it quickly bombs with
"ValueError: malformed node or string"

Could you please recommend the best tools to use to extract the individual paragraphs from

[2019-01-31 06:43] bhomass commented on #2362
I also applied the supplied post processing code
from smart_open import smart_open
import json

# iterate over the plain text data we just created
for line in smart_open('/data/wikipedia/wiki-english-20171001.gz_00'):
    # decode each JSON line into a Python dictionary object
    article = json.loads(line)

    # each article has a "title", a mapping of interlinks and a list of "section_titles" a

[2019-01-31 07:57] piskvorky commented on #2362
@bhomass the code example is also on the page @menshikh-iv linked to: https://github.com/RaRe-Technologies/gensim-data/releases/tag/wiki-english-20171001

[2019-02-01 00:54] RXminuS opened #2368 "FastText.save() can't pickle _thread.lock"
#### Description
I can't save the Gensim model because I get an exception. The data is streamed in.

#### Steps/Code/Corpus to Reproduce
https://gist.github.com/RXminuS/aecaf4656bad55b0e3008987f322f34e

#### Expected Results
The model to be saved

#### Actual Results
Exception thrown

[code]

#### Versions
[code]

[2019-02-01 02:50] menshikh-iv commented on #2368
@RXminuS thanks for the report, can you re-write your example (just minimize it)?

CC @mpenkov

[2019-02-01 07:19] robguinness commented on #2317
Hi all, I have tentatively tracked the memory leak down to scipy/numpy. I'm using an older release of both libraries now, and the problem seems to have gone away. I will try to reproduce the problem and narrow down the problem more conclusively, but at the moment, we need to get this model built so the machine is unavailable.

[2019-02-02 19:18] #2105 closed

[2019-02-02 21:43] yurivict opened #2369 "Doesn't install the file _utils_any2vec.so"
This file is written to plist by ```--record {plist}```, but isn't actually installed:
[code]

gensim-3.7.1

[2019-02-02 23:47] tvrbanec commented on #140
It seems weird to me that there is no consistent solution for getting similarity matrix from word2vec.
There are such a solution for tf-idf and many other, even for SoftCosineSimilarity:
[code]

[2019-02-03 08:42] mpenkov commented on #1421
Why can't we use [doctest](https://docs.python.org/3.7/library/doctest.html) for this?

[2019-02-03 09:02] menshikh-iv commented on #1421
I think I can close this, because now
- documentation builds in CI (with "convert warnings to error" option, i.e. no more warnings in the building)
- we have `flake8-rst` that checks PEP8 on docstring examples

So, next step for improve doc & automatization is #2107

[2019-02-03 09:02] #1421 closed

[2019-02-03 09:04] menshikh-iv commented on #2369
btw this file shouldn't be in `sdist` (only in Linux wheels), for `sdist` package compiled automatically when user install it

[2019-02-03 10:46] mpenkov commented on #1779
Reproduced with 3.6.0:

[code]

[2019-02-03 20:38] yurivict commented on #2369
configure command:
[code]

Build command:
[code]

Install command:
[code]

The resulting plist should always match actually installed files, and it doesn't.

[2019-02-04 04:48] mpenkov commented on #2368
+1 for a more reproducible and smaller example

[2019-02-04 15:34] akutuzov commented on #2350
This yet another regression after the fastText code refactoring in Gensim 3.7 (another one was fixed in #2341).
Indeed, Gensim 3.6 loads pre-trained fastText models without any trouble. Below are examples with the Wikipedia model from https://fasttext.cc/, but the same stuff happens with any models trained using native fastText.
[code]
However, Gensim 3.7 is doing weird things here (retraining the

[2019-02-04 15:39] piskvorky commented on #2350
Sorry to hear that @akutuzov . Simpler and clearer model loading was actually one of the main objectives of that refactoring, so this is surprising. Can you have a look @mpenkov ?

[2019-02-04 17:43] akutuzov commented on #2350
Interestingly, even the code proudly presented  in the [3.7 Changelog](https://github.com/RaRe-Technologies/gensim/blob/master/CHANGELOG.md) fails with the same error, when using exactly the same model mentioned in this changelog.

'Massive improvement FastText compatibilities', indeed :-)

[2019-02-05 01:53] mpenkov opened #2372 "Loading the English wikipedia model hangs indefinitely when low on RAM"
Initially reported [here](https://github.com/RaRe-Technologies/gensim/issues/2350#issuecomment-460293018) by @akutuzov.

<copypasta>

This is yet another regression after the [fastText code refactoring](https://github.com/RaRe-Technologies/gensim/pull/2313) in Gensim 3.7 (another one was fixed in #2341).
Indeed, Gensim 3.6 loads pre-trained fastText models without any trouble. Below are examples w

[2019-02-05 01:54] mpenkov commented on #2350
OK, I think we may be dealing with two separate issues here.

1) @lynochka Loading a native fastText model trained with pretrained_vectors triggers an assertion. We didn't have a test case to cover this use case. I'll add one based on the example provided by @lynochka and @menshikh-iv and resolve the problem.
2) @akutuzov Gensim doing weird things on loading the native model trained from Wikipedia

[2019-02-05 03:13] mpenkov commented on #2350
@lynochka I've investigated your issue and found the cause:

[code]

As you can see, adding pre-trained vectors modifies the model:

1) Without pre-trained vectors, the model contains only vectors for words that occurred more frequently than the min_count parameter
2) With pre-trained vectors, the model contains vectors for *all* words

Unfortunately, our loading code **always** respects the min_c

[2019-02-05 09:39] akutuzov commented on #2372
The title of the issue is wrong, it doesn't have anything to do with Wikipedia models. It happens with any fastText model in *.bin format.
I checked now, and indeed a smaller model does load correctly. However, with Gensim 3.6 it takes only 3 GBytes of RAM and 37 seconds to load this model, while with Gensim 3.7 it takes 6 (!) GBytes of RAM and 50 seconds.
No wonder many users experience freezes a

[2019-02-05 09:41] akutuzov commented on #2372
Also, why log messages when loading a fastText model now look like the model is being trained, not loaded ('Updating model with new vocabulary', 'downsampling', etc)? This is very confusing, compare with Gensim 3.6.

[2019-02-05 11:54] mpenkov commented on #2372
I don't think it's necessarily wrong, but now that you've provided more information, I can improve the title.

There's a contradiction in there somewhere ;)

The previous implementation of the load_fasttext_format function was broken - it did not load the complete model. This prevented training continuation.

As part of the refactoring, we resolved the above problem by loading the full model, incl

[2019-02-05 11:59] mpenkov commented on #2372
Here are some benchmarks for the Wikipedia model:

- full_model=False: approx. 5GB RAM
- full_mode=True: approx: 17GB RAM

[code]

[2019-02-05 15:05] akutuzov commented on #2372
OK, this makes sense indeed in itself. However, see below

I would say that this `full_model=True` probably should not be the default behavior. First, it makes the existing code consume twice as much resources compared to the previous behavior. Second, arguably most users don't actually want to train loaded fastText models further. This is an important option to have, but it is required by only so

[2019-02-06 04:48] mpenkov commented on #2372
You make valid arguments. When we were discussing the best default, @menshikh-iv and I decided on the current behavior for two reasons:

1. It is correct
2. It is consistent with the rest of Gensim. If you can load a model, you can continue training it.

That tutorial doesn't mention anything about Facebook I/O and it never did. The Jupyter notebooks aren't a good place for this, because we don't

[2019-02-06 07:22] piskvorky commented on #2372
I agree the current log could be better, I find it confusing too when I put myself in user shoes:

`INFO : Total number of ngrams is 0` What? I just asked you (Gensim) to load a FT model, why are there 0 ngrams?
`INFO : New added 2519370 unique words (50% of original 5038740) and increased the count of 2519370 pre-existing words (50% of original 5038740)` "New added X words" => "Added X new words"

[2019-02-06 08:40] akutuzov commented on #2372
So, in  the end this issue turned out to be about improving log messages and about whether loading 'full' fastText models should be the default behavior :-)
Does it make sense to start separate issues about this?

[2019-02-06 10:10] mpenkov commented on #2372
From the POV of Gensim's FastText design, what you get from calling load_fasttext_format(..., full_model=False) isn't really a model. It's a dummy model wrapping a working KeyedVectors instance (for the difference between a FastText model and KeyedVectors, see [this part](https://radimrehurek.com/gensim/models/keyedvectors.html#why-use-keyedvectors-instead-of-a-full-model) of the docs).

It may be

[2019-02-06 10:18] piskvorky commented on #2372
No matter what default we choose, there will be some people confused.

I like the idea of two separate functions (which may be thin wrappers over an internal function that accept the parameter). And then have the docs promote whichever function is appropriate, to drive the message home, especially for the large copy-paste-happy crowd.

If that's not possible, `full_model=False` makes more sense to

[2019-02-06 10:28] mpenkov commented on #2372
Given that we're already thinking about simplifying the API, I think it's better to introduce a separate function as part of that effort.

[2019-02-06 10:35] mhham opened #2374 "Support for async iterators as Corpus"
It would be interesting to support asynchronous iterators for usage as a Corpus in all the transforms.
This is especially interesting in case the corpus is stored on a remote device/database.

More precisely, I mean enabling the usage of such a corpus:
[code]

as:

[code]

or

[code]

where corpus is an `AsyncCorpus`

A possibility would be to transform the asynchronous iterator into a synchronous

[2019-02-06 10:45] piskvorky commented on #2374
I don't know much about async iterators. What would be the advantage of this, over normal iterators (which already support remote devices/databases)?

[2019-02-06 11:01] mhham commented on #2374
In terms of how gensim models currently work (synchronously), they don't present any advantage compared to synchronous iterators (IMO). That is why the solution that I suggested involves transforming asynchronous -> synchronous iterators.

However, they are really useful in network bound or IO bound environments where they allow for concurrency, which makes things faster. (e.g. if the corpus is st

[2019-02-06 11:28] akutuzov commented on #2372
I believe that then there should be a **separate new function to load full model**, not vice versa.

Thus, the `load_fasttext_format()` function will continue to behave in the same way as it behaved before Gensim 3.7: loading only the parts of fastText models needed to lookup word vectors (including inference from char n-grams for OOV words). This will be good for backwards compatibility, as @pisk

[2019-02-06 11:39] vonBlasberg commented on #1021
Hi bastij, I would be really interested in your solution. Would you be willing to share your code? Thanks in advance!

[2019-02-06 13:44] mpenkov commented on #2372
@akutuzov

Actually, if you have a look at [the load_word2vec_format function](https://radimrehurek.com/gensim/models/keyedvectors.html#gensim.models.keyedvectors.Word2VecKeyedVectors.load_word2vec_format), you'll see that it returns an _embedding_ (KeyedVectors subclass), not a model.

This means the behavior of the old `load_fasttext_format` function was already inconsistent with `load_word2vec_

[2019-02-06 15:17] piskvorky opened #2375 "Off-by-one counting error in TFIDF"
Building a TFIDF model outputs this in the log:

[code]

Note the "9999 features", despite the dictionary having 10000 features. (any dictionary and any number of features -- the actual values don't matter, it's always off-by-one).

This seems to be a bug introduced in [this refactoring](https://github.com/RaRe-Technologies/gensim/commit/af01bc702f7ad48ed9ecacb256d9f6f7da6d3bc4#diff-896942304f9417

[2019-02-06 17:48] piskvorky commented on #2374
I think I understand what you mean. You'd like to be pre-loading document(s) while the model training runs, right?

We implement such async pre-loading via a background process (although threads would be OK too for I/O-bound processes, because of GIL), in [utils.chunkize](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/utils.py#L1268).

Preloading documents into RAM indefinitely is

[2019-02-06 17:48] #2374 closed

[2019-02-06 17:56] piskvorky commented on #2372
Do I hear a volunteering call? :) Can you improve the INFO logging messages @akutuzov ?

@mpenkov I'm +1 for consistency. 3.7.0 was big and we can still afford another bug-fix release, while the dust is settling (also need those NMF fixes from #2371).

[2019-02-06 22:58] #2350 closed

[2019-02-07 00:43] akutuzov commented on #2372
Yes, that's technically true, but this is, as you said earlier, 'an implementation detail' :-) From the user point of view, a KeyedVector object **is**  a model: an array of vectors mapped to words. Whether this embedding model is 'trainable' or 'static' is another issue. When I mention 'models' I mean models as general notions, not Gensim classes.

But I agree it would be great if things were con

[2019-02-07 00:51] akutuzov commented on #2372
Would be glad to do this, but I'm not sure I understand fastText implementation in Gensim good enough (especially after the recent refactoring).  I can of course spend some time on finding out why loading fastText models triggers the same logging messages as when incrementally updating word2vec models (with seemingly meaningless numbers), and what messages should be produced instead. But my impres

[2019-02-07 01:45] mpenkov commented on #2372
@akutuzov

I think you're in a good position to work on the logs. You bring the perspective of an experienced gensim user - that would help in writing informative log messages.

As for reading and understanding the code, I'd encourage you to have a look and see how far you can get. It's not as ugly as it may seem (and definitely less ugly after the most recent refactoring). Demoting the current me

[2019-02-07 10:40] mhham commented on #2374
That is on of the advantage of working asynchronously indeed !

Yes, that is an excellent feature, but it complements asynchronous iterators rather than replace them. In fact your implementation works only with synchronous iterators (corpus as iterable objects). The problem is that asynchronous iterators are NOT iterable in the synchronous sense (using a `for` loop).

A simple example would be if

[2019-02-07 14:53] akutuzov commented on #2372
OK, will do this.

[2019-02-07 19:45] ctrado18 opened #2377 "FastText segfaults for some ngram ranges"
hey,

I feel something is bad with my text data. I used common crawl for text data and even without any preprocesing (to dismiss as error source) the fasttext model stops during training and just exists without any messages. That is only for some ngram ranges like:

[code]
In this case no modell summary is printed and the model was not built but there is no message at all.

Giving as paramater ins

[2019-02-07 22:28] mpenkov commented on #2377
Thank you for the report. Sounds like a bug as opposed to a data problem.

Not seeing ANY output very odd. Did the Python subprocess segfault? Was there a core dump or non-zero exit code?

We changed the ngram implementation recently. Does the bug persist with Gensim 3.6.0?

Can you truncate the dataset and still reproduce the problem? If yes, please post your truncated data here.

[2019-02-08 08:53] piskvorky commented on #2377
Seems related to [this](https://groups.google.com/forum/#!searchin/gensim/tradphy%7Csort:date/gensim/oclDUS0fKiA/a1-Cpj9WHwAJ) and [this](https://groups.google.com/forum/#!topic/gensim/jNLbT4mVnh4) thread on the mailing list.

[2019-02-08 09:23] ctrado18 commented on #2377
Thank you @mpenkov !

If this would be the case is this shown inside the console? Because there was really no message it just quits.

That sounds good. I will try this version!

I use windows 4 core 64 bit i7 with python 3.6

I would like bnot to post my data but I test it on a open data set. Where can I post the data to you personally maybe?

[2019-02-08 10:57] mpenkov commented on #2377
I’m not familiar with Windows, so I can’t answer that, sorry.

Please try reducing the data to a smaller subset first. It’s highly likely that you can reproduce the bug with a few sentences as opposed to an entire corpus.

[2019-02-08 11:35] piskvorky commented on #2377
@ctrado18 are you the same person as on the mailing list?

[2019-02-08 13:15] ctrado18 commented on #2377
Hey guys,

I tested with v3.6. Still same. Also I used the test data https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/test/test_data/alldata-id-10.txt

 I removed my preprocessor to exlude this as a problem. But it is still the same.

So, it is not a problem with my data or iterator and preprocessor. That rises a somehow deeper issue with my hardware? But I uses a very new one.

So,

[2019-02-08 14:28] mpenkov commented on #2377
Thank you for providing detailed information. I've reproduced the bug:

bug.py:

[code]

reproduced example:

[code]

gdb session:

[code]

Looks like we're trying to access memory that we shouldn't be touching.

We'll need to debug the Cython code to work out what the problem is.

[2019-02-08 14:37] ctrado18 commented on #2377
gb@mpenkov  WOW. I am so happy. Thanks! That is really great from you! I had so much headaches because of this.

But, why am I the first one who observes this? I mean are there so less people who are working with that. Soince it also due to sg=1 no one seems using this... 😄

That is bad because all my research I can do is just for ngram range 2-4 which is a bit too smalll for my case. So I should

[2019-02-09 12:49] cbjrobertson opened #2378 "loading fastText model trained with pretrained_vectors still fails (see: #2350)"
## Description
Loading pretrained `fastext_model.bin` with `gensim.models.fasttext.FastText.load_fasttext_format('wiki-news-300d-1M-subword.bin')` fails with `AssertionError: unexpected number of vectors` despite fix for #2350.

## Steps/Code/Corpus to Reproduce
first install `develop` branch with: `pip install --upgrade git+git://github.com/RaRe-Technologies/gensim@develop`, then:
[code]

#### Ex

[2019-02-11 06:27] JackYangzg opened #2379 "crashed when using LdaMulticore in sub-subprocess"
ENV:  Unbuntu 16.0.4
python version: 3.6.3

subProcess:
    Process ForkPoolWorker-1:1:
    Process ForkPoolWorker-1:2:
    Process ForkPoolWorker-1:4:
    Process ForkPoolWorker-1:3:

when call LdaMulticore using 4 workers in sub-subprocess, It crashed with:

Traceback:
**Traceback (most recent call last):
  File "xxx/python3.6/multiprocessing/queues.py", line 241, in _feed
    obj = _ForkingPick

[2019-02-11 09:00] zeyd31 commented on #945
The selection of number of topics at the end of the process is still unclear

[2019-02-12 10:17] cbjrobertson commented on #2378
Is there anything I can do to help this get looked at?

[2019-02-12 13:34] mpenkov commented on #2378
@cbjrobertson Thank you for reporting this.

One thing that would help is a reproducible example with a smaller model. The model you've linked to is several GB, if you could find a smaller model, it'd be easier (quicker) to reproduce the bug.

If not, then no big deal, and I'll try to have a look at it during the week.

[2019-02-12 15:38] kwunlyou opened #2380 "an implementation bug in summarizer"
#### Steps/Code/Corpus to Reproduce
If debugging the following piece of code, and get ino the function [`_set_graph_edge_weights`](https://github.com/RaRe-Technologies/gensim/blob/70fa23378da277f60a4cd566375f09d389f08ddb/gensim/summarization/summarizer.py#L74).
`documents` is a variable using BoW representation, however, `_bm25_weights` expects a list of list of plain tokens. If `BoW` is used, `(1

[2019-02-12 15:39] cbjrobertson commented on #2378
Cool... so... here goes:

### Reproducible code:
[code]
This is at least downloads from a faster source. However, it fails with:

[code]

I patched/hacked my way around that by adding the following two lines of code `gensim/models/_fasttext_bin.py`:

[code]

Which actually runs for a while, but then fails with:
[code]

You may want to simply download the original link by hand. When I did it direct

[2019-02-12 16:00] horpto commented on #2380
Hi, @kwunlyou thanks for the report. I've recently refactored summarizer, but I think it's original implementation bug. Can you add or complete with bug description: what I get and what should I get?

[2019-02-13 01:33] kvvaldez commented on #2069
from gensim.models.ldamodel import LdaModel
import numpy

def convertldaGenToldaMallet(mallet_model):
    model_gensim = LdaModel(
        id2word=mallet_model.id2word, num_topics=mallet_model.num_topics,
        alpha=mallet_model.alpha, eta=0, iterations=1000,
        gamma_threshold=0.001,
        dtype=numpy.float32
    )
    model_gensim.state.sstats[...] = mallet_model.wordtopics
    model_g

[2019-02-13 02:28] horpto commented on #2069
Hi, @kvvaldez Do you want to add a remark or find the another bug ?

[2019-02-13 04:31] mpenkov commented on #2378
@cbjrobertson I'm having trouble reproducing the original problem (assertion error when loading model).

First, I downloaded the model from the URL in your original message and unpacked it using the command-line gunzip utility. Next, I used the below code (based on your example) to load the model:

[code]

and got the UnicodeError that you described:

[code]

I stepped through the code with a debu

[2019-02-13 08:57] cbjrobertson commented on #2378
Very weird! Yes, I will. Thanks. I'll try later today and let you know.

[2019-02-13 13:38] gladmortal commented on #2069
Hi @horpto , I can see this issue is closed but i am still facing the exact same issue , @Wolfi-101 reported.

I am using the latest `gensim=3.7.1`

After conversion i am getting vary rare keywords, here is my `malletmodel2ldamodel` conversion and pyLDAvis implementation.

[code]

![image](https://user-images.githubusercontent.com/8189413/52715270-01b04180-2fc2-11e9-968e-2609346ddc84.png)

Here is

[2019-02-14 16:54] prabhatM opened #2383 "Different result everytime with Word2Vec"
Hi,
I am trying out Gensim Word2Vec with a very small and experimental data. It returns the "most_similar" values for my item i.e. "breast cancer" in this case. But every time I print, I get different values for the same item(s) which is evident on the picture I have attached.

What's the reason?

Prabhat

![gensim_erratic](https://user-images.githubusercontent.com/7250780/52802882-cdfb1780-30a6-1

[2019-02-14 17:30] ckingdev opened #2384 "Readme incorrectly states that HDP implementation is parallel"
The readme currently (on master) states:

However, the HDP model is single core (and it looks like RP is as well, though I'm less familiar with the technique) and this is misleading.

[2019-02-14 19:46] piskvorky commented on #2383
Turn on logging and observe the logs. Anything there that looks suspicious?

[2019-02-14 19:51] piskvorky commented on #2384
Most of these algos rely on numpy matrix operations, which in turn rely on BLAS, which is typically multi-threaded. With RP, you should see a definite improvement with multicore machines. Not sure how much BLAS helps in HDP.

In the future, it's better to ask the [mailing list](https://groups.google.com/forum/#!forum/gensim) and discuss there.

[2019-02-14 19:51] #2384 closed

[2019-02-14 21:45] ckingdev commented on #2384
I'm well aware that BLAS is used here. You and I both know that that's not what people are going to read "multicore HDP" as. Especially since the package *does* have a parallel implementation of LDA.

[2019-02-14 22:21] piskvorky commented on #2384
@ckingdev are you a user of HDP? I'm actually considering dropping that model from Gensim altogether.

Some words on where/how HDP is useful, from an actual user, could help us make that decision. Cheers!

[2019-02-15 07:38] prem6667 opened #2385 "Updating vocab words to lowercase"
Is there any way to update the words in vocab to lowercase?

[2019-02-15 08:25] piskvorky commented on #2385
Use the issue template to report issues on Github.

Use the [mailing list](https://groups.google.com/forum/#!forum/gensim) to ask questions. Don't expect any answers though unless you include some context (what are you talking about?).

[2019-02-15 08:25] #2385 closed

[2019-02-15 23:28] horpto commented on #2069
Hi @gladmortal
Are steps with `save` and `load` necessary ? Does this error appear in the previous versions ?
Can you share a corpus ? I'll try to reproduce your error a bit later.

[2019-02-17 00:28] mpenkov commented on #2378
@cbjrobertson How’s it going?

[2019-02-17 16:28] prabhatM opened #2388 "Using labeled fasttext data format for domain specific data"
Hi,

I have (multi) labeled my domain specific data as suggested by FastText. The samples are below:
----
__label__disorder __label__8197001 acrodermatitis
__label__procedure __label__390416006 serum flecainide level
__label__procedure __label__309626003 child referral - school psychologist
__label__finding __label__2663001 palpatory proteinuria
__label__disorder __label__210526006 degloving injur

[2019-02-17 17:16] piskvorky commented on #2388
Hi, please follow the issue template that you were given.

[2019-02-17 17:16] #2388 closed

[2019-02-17 17:31] prabhatM commented on #2388
Thank you.

[2019-02-18 00:55] #2379 closed

[2019-02-18 07:33] gladmortal commented on #2069
1. I tried without save and load steps and the its giving the same issue, no change.
2.  I am using `gensim=3.7.1` didn't tired any other version.
3. I'll try to share the part of corpus in a while.

[2019-02-18 07:40] piskvorky commented on #2379
@JackYangzg did you manage to figure this out?

[2019-02-18 17:11] cbjrobertson commented on #2378
Sorry to be slow. I am doing it now, though. It's taking a long time to load. I will update you ASAP.

[2019-02-18 17:37] cbjrobertson commented on #2378
@mpenkov It is now failing to replicate for me as well. On your unicode branch it loads fine. Maybe my downloaded file was corrupt. Though the `ValueError` still remains for the other model. Would you recommend opening another issue for that? I don't need to load it specifically, but it is one of the FT released large models. I imagine `gensim` should load those without error.

[2019-02-18 22:57] mpenkov commented on #2378
OK, glad to hear it worked.

Yes, we should load these without error. Could you please clarify which model you are unable to load?

[2019-02-19 12:38] cbjrobertson commented on #2378
Hey--it's the model referenced in the reproducible code in my first [reply](https://github.com/RaRe-Technologies/gensim/issues/2378#issuecomment-462808748). Download url is `https://dl.fbaipublicfiles.com/fasttext/vectors-english/crawl-300d-2M-subword.zip`. I get the same `ValueError` that I report above when I load it with your unicode branch.

[2019-02-19 13:31] robertcv opened #2389 "HdpModel doesn't return all topic"
#### Problem description

HdpModel doesn't return all topic when called show_topics(num_topics=-1). It was changed in c3d2299b74d30b54659ba3274b6f79253a33ff93. Perhaps it was intentional, then you should update the documentation.

#### Steps/code/corpus to reproduce
[code]

#### Versions
Linux-4.15.0-45-generic-x86_64-with-Ubuntu-18.04-bionic
Python 3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.

[2019-02-20 05:38] mpenkov commented on #2378
@cbjrobertson I cannot reproduce the problem with that model file, either.

Source:

[code]

Output:

[code]

I'm using the commit 6dc4aef to test this.

Can you please confirm?

[2019-02-20 12:34] cbjrobertson commented on #2378
Ag. Neither can I. I am still using your [unicode](https://github.com/mpenkov/gensim/tree/unicode) branch, as I couldn't get an install to work of [`6dc4aef`](https://github.com/RaRe-Technologies/gensim/commit/6dc4aeff2d91416eb7b8c5b787f8808544880627). If you send the the specific `pip install ... ` command, I'm happy to try. Again, perhaps something to do with the models, or [this](https://github

[2019-02-20 13:27] mpenkov commented on #2378
That commit is irrelevant to the current issue.

So, you can load the model correctly using the unicode branch?

[2019-02-20 13:50] cbjrobertson commented on #2378
Yes.

Cole

On Wed, Feb 20, 2019 at 1:27 PM Michael Penkov <notifications@github.com>
wrote:

[2019-02-20 14:31] kwunlyou commented on #2380
@horpto apologies for the late response. The `PR` will fix the bug which I reported. Thanks.

[2019-02-20 14:41] horpto commented on #2380
@kwunlyou that's great but your example gets similar result as for the previous version. Can you provide a test which generates a different results for different versions ?

[2019-02-20 15:31] kwunlyou commented on #2380
@horpto could you please try the full article from https://www.dailymail.co.uk/news/article-2886654/Christmas-parade-dying-Utah-girl.html? It should give you different results.

[2019-02-25 04:09] clastro commented on #2163
I had a same problem with you.
instead of your code, here code is doing well.

 os.environ.update({'MALLET_HOME':r'C:/new_mallet/mallet-2.0.8/'})
 mallet_path = '/mallet-2.0.8/bin/mallet' # update this path

The variable of 'mallet_path' is changed.

[2019-02-25 16:12] TamouzeAssi opened #2393 "Exception when importing gensim"
I tried to load gensim in my code. Often it works fine. Today, I get the following exception:

[code]

my code :
[code]
Can you please help in identified why i get this exception?
Im uisng gensim 3.4.0 and python 2.7.14

[2019-02-25 16:33] piskvorky commented on #2393
Hi, that exception doesn't look like it originates from Gensim (see the stacktrace).

[2019-02-25 16:33] #2393 closed

[2019-02-25 16:36] TamouzeAssi commented on #2393
my just.py is the following:
[code]

There is nothing new to my code. Often this code works very good.

[2019-02-25 20:31] gojomo opened #2394 "`Doc2Vec.save()` is saving a `vectors_docs_norm` property unnecessarily"
Per a [report on the project list](https://groups.google.com/d/msg/gensim/WwALx45eCoQ/Pesi4TeeBAAJ), saving a `Doc2Vec` model is generating a `.vectors_docs_norm.npy` file on disk. Previously & generally, the properties which cache the unit-normed vectors haven't been saved, because they are generated when needed.

[2019-02-25 20:34] gojomo commented on #2383
This is explained in the FAQ:

https://github.com/RaRe-Technologies/gensim/wiki/Recipes-&-FAQ#q11-ive-trained-my-word2vecdoc2vecetc-model-repeatedly-using-the-exact-same-text-corpus-but-the-vectors-are-different-each-time-is-there-a-bug-or-have-i-made-a-mistake-2vec-training-non-determinism

[2019-02-25 20:34] #2383 closed

[2019-02-25 20:46] gojomo commented on #2393
See also: https://stackoverflow.com/a/54873809/130288

[2019-02-26 14:46] lynochka opened #2395 "gensim 3.7.1 on databricks installed in Databrick Runtime version 4.2 (no workers) but not working"
gensim 3.7.1 on databricks installed in Databrick Runtime version 4.2 (no workers) but not working. The error is below:
[code]
[code]

Python:

[code]
[code]

Pip:
[code]
[code]

Error:
[code]
[code]

Error when importing:
[code]

[code]

It is most certainly Databricks problem

[2019-02-26 15:28] mpenkov commented on #2395
I don't think this has anything to do with gensim.

The problem occurs when a dependency (scipy) tries to read another dependency's (numpy) file and falls over an O/S level error.

There isn't anything gensim can do to solve this :(

Can you reproduce this problem _without_ gensim? If yes, then I recommend reaching out to either the scipy or numpy developers.

[2019-02-26 15:28] #2395 closed

[2019-02-26 18:23] piskvorky opened #2396 "Sparse arrays not separated correctly during `save()`"
#### Problem description

When storing Gensim objects via `.save()`, sparse arrays are not being stored separately correctly.

This is because of a bug [here](https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/utils.py#L593), where the separation limit is compared against the number of non-zero elements, instead of bytes. Documentation says "bytes", dense arrays use "bytes", and "byte

[2019-02-27 21:19] jianwenl commented on #310
The character level and word level seems totally different. Why just adding character vector together will make a good representation for the words?

[2019-02-28 09:27] Laubeee opened #2398 "Similarity class does not use constant memory"
I am using the Similarity class to query a corpus (2.5M docs, features reduced to 300 using LSI). It gave me 77 shards, each ~57MB which looks ok, however when I query the index it loads everything (full 4GB) into memory, which is exactly what I wanted to avoid. The documentation states the Similarity class runs with constant memory, but that is not what happens. I used default values for chunk an

[2019-02-28 11:14] piskvorky commented on #2398
@Laubeee Similarity uses memory mapping, loading the data into *virtual* memory. So while the virtual RAM of your process will increase, the pages will be swapped out again from physical RAM by the OS when running out of RAM.

But note that swapping is bad for performance, so this doesn't get you much. For good performance, you still need all the data in RAM. The main advantage of Similarity is th

[2019-02-28 11:14] #2398 closed

[2019-02-28 11:17] piskvorky commented on #310
@jianwenl see the original FastText paper or (countless) online tutorials and expositions for an explanation.

[2019-03-01 08:52] Laubeee commented on #2398
Yet all doc resources very strongly advice to go for `Similarity` when RAM is an issue, so just for my understanding: when swapping `MatrixSimilarity` it first needs to write it to disk so it can be read again later (if needed), even if the object was read from a file in the first place. But when swapping `Similarity` the writing can be skipped as it is already present on disk and therefore should

[2019-03-01 10:08] piskvorky commented on #2398
The difference between `Similarity` and `MatrixSimilarity` is that with `Similarity`, the index is split across multiple smaller "shards", with each shard stored to disk and mmaped back separately. Whereas with MatrixSimilarity, the entire index is stored in RAM / on disk + mmaped back as a single large matrix.

There's no major difference in performance or RAM. But the `Similarity` sharding allow

[2019-03-03 09:20] cstayyab commented on #1376
@menshikh-iv @piskvorky any updates on this issue and the merge conflict?

[2019-03-03 09:57] piskvorky commented on #1376
@cstayyab It's up to @prerna135 .

[2019-03-04 10:39] thereisnospooon opened #2400 "Similarity object gone after computer restart"
#### Problem description
I'm trying to load a saved similarity object from disk.
Whenever I'm trying to load the object after I restarted the computer, the loaded object is failing to work.
I believe the problem is that maybe the tmp/ folder is cleaned when the computer restarts.

What are you trying to achieve? What is the expected result? What are you seeing instead?
I'm trying to use the Simila

[2019-03-04 18:05] piskvorky commented on #2400
Your reproducibility report is incomplete (how were these files stored?), but the way to specify the output destination is with the `output_prefix` constructor parameter. See also the [Similarity docs](https://radimrehurek.com/gensim/similarities/docsim.html#gensim.similarities.docsim.Similarity).

[2019-03-04 18:05] #2400 closed

[2019-03-05 01:52] brucegai opened #2401 "how to use gensim at centos 6"
First of all, i want to transform word into vector via gensim, to calculate text similarity between two short paragraph. i can successfully install gensim package at centos6 system with python 3. However, to run my program, i have problem with "import gensim". Keep on getting notice of "No module named _ssl". Has anyone encounter this problem? Really need some help, thank you!

[code]

[2019-03-05 02:46] tawfiqam commented on #934
Any updates on this? Got the same error now?

[2019-03-05 05:47] mpenkov commented on #2401
As you may have already guessed, this isn't a problem with gensim. It's a problem with your Python install: the SSL module is broken. You can verify this using the following command:

    $ python -c "import ssl"

That should print the same exception ("No module named _ssl").

For ideas about fixing the problem, have a look at [this post](https://stackoverflow.com/questions/5128845/importerror-no-

[2019-03-05 10:30] #2401 closed

[2019-03-06 09:20] zzaebok opened #2402 "AssertionError: unexpected number of vectors when loading Korean FB model"
Hi,

I downloaded pretrained word vector file (.bin) from facebook
(https://fasttext.cc/docs/en/crawl-vectors.html)
However, when I tried to use this model it happens to make error.

    from gensim.models import FastText
    fasttext_model = FastText.load_fasttext_format('cc.ko.300.bin', encoding='utf8')

    UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 0: invalid continua

[2019-03-06 22:45] aspanghe opened #2403 "`sklearn_api.D2VTransformer` input should match other sklearn text preprocessing"
Hi all,

Thanks for the great tool, I've been using gensim for years and I love it.

One thing that would be a huge convenience and take literally 2 seconds to implement would be extend `sklearn_api.D2VTransformer` to handle doc-inputs that are strings.

Currently, the module expects each doc to be a list of strings. I understand that users might want to chunk string for various purposes (clusteri

[2019-03-07 03:26] mpenkov commented on #2402
I think this may have been fixed as part of another issue.

Could you please have a look here: https://github.com/RaRe-Technologies/gensim/issues/2378#issuecomment-462808748 and let me know if that fixes your problem?

[2019-03-07 04:44] zzaebok commented on #2402
@mpenkov
Thanks for your replying.
So I've tried open the unicode branch you said in that comment, 404 Not Found error occurs.
And also, I changed _fasttext_bin.py file as 6dc4aef says.

    for i in range(vocab_size):
        word_bytes = io.BytesIO()
        char_byte = fin.read(1)

        while char_byte != b'\x00':
            word_bytes.write(char_byte)
            char_byte = fin.read(1)

[2019-03-07 06:16] mpenkov commented on #2402
The reason you're getting a 404 looking for that branch is because that PR got merged.

Please try again with the current `develop` branch and let me know.

(I think the change to _fasttext_bin.py you described is irrelevant to the problem).

[2019-03-07 06:18] #2377 closed

[2019-03-07 06:44] #2329 closed

[2019-03-07 06:49] piskvorky commented on #2403
Hi @aspanghe , doc2vec (as well as word2vec, fasttext, etc) expect a list of words for a single document.

Then a corpus (`X` in sklearn-speak) is a sequence of such lists of words.

What exactly is the inconsistency?

If you're suggesting `split()` as a built-in hardwired tokenization step, I'm -1 on that (that's not a good tokenization).

[2019-03-07 07:06] #2372 closed

[2019-03-07 09:08] menshikh-iv opened #2407 "Filename overwrite in `FastText.load_fasttext_format`"
I download FB pretrained common-crawl model using https://dl.fbaipublicfiles.com/fasttext/vectors-crawl/cc.en.300.bin.gz from https://fasttext.cc/docs/en/crawl-vectors.html page.
When I try to load it, I get an error

**Code:**
[code]

**Stacktrace:**
[code]

Problem in filename overwriting that happens
https://github.com/RaRe-Technologies/gensim/blob/cebc9dbeacddf7689c35aadb8854ae850d4561d2/gensi

[2019-03-07 09:14] piskvorky commented on #2407
@menshikh-iv

you mean

[code]

right?

Otherwise the code you link to shouldn't even kick in (the filename already ends in `.bin`).

[2019-03-07 09:15] menshikh-iv commented on #2407
@piskvorky exactly (I fixed first message)

[2019-03-07 09:16] piskvorky commented on #2407
Not necessarily a bug, but I do think we could support this.

@menshikh-iv can you open a PR?

[2019-03-07 09:19] menshikh-iv commented on #2407
from user PoV - definitely a bug (fasttext try to open a file that user don't specified, instead of passed path and failed on it).

No time, sorry

[2019-03-07 09:20] piskvorky commented on #2407
@menshikh-iv what is the `if not model_file.endswith('.bin'): ` condition for?

[2019-03-07 09:26] menshikh-iv commented on #2407
@piskvorky ask an author of this code, not me (btw @mpenkov isn't an author too, they just refactored it, according to git blame).

I guess that this is for the case when user have 2 files `X.bin` and `X.vec` and allow user to specify `load_fasttext_format("X")` (without extension) and automatically load `X.bin` (instead of specified `X` that doesnt exist).

[2019-03-07 09:29] piskvorky commented on #2407
Well asking you, as the project maintainer when these changes happened and were merged, seemed like a good start :)

If the filename change is not needed (or its reason is undocumented/unknown), then I propose simply removing it. Feel free to open a PR when you have the time.

[2019-03-07 09:39] menshikh-iv commented on #2407
I'm already not a maintainer @piskvorky, this change was introduced 2 years ago (when I only start), I really remember nothing about it.

I found an "source" of this chanes, this code firstly was introduced in #1341 (and after moves to another classes, like `FastText`).

@jayantj @prakhar2b can you comment that?

[2019-03-07 11:58] mpenkov commented on #2407
My understanding is this mirrors FB behavior. You specify model_name, and it creates model_name.bin and model_name.vec.

This feature allows the user to specify model_name only and not worry about the file extension. In my opinion, we’re better off without it.

[2019-03-07 13:31] zzaebok commented on #2402
@mpenkov
There is no more unicode decode error, but

  Traceback (most recent call last):
  File "C:/Users/사용자/PycharmProjects/Ksenticnet/lab.py", line 16, in <module>
    fasttext_model = FastText.load_fasttext_format('cc.ko.300.bin', encoding='utf8')
  File "C:\Users\사용자\PycharmProjects\Ksenticnet\venv\lib\site-packages\gensim\utils.py", line 1447, in new_func1
    return func(*args, **kwargs)

[2019-03-07 15:06] mpenkov commented on #2402
OK, thank you. I will try reproducing this locally and get back to you with more info.

[2019-03-07 18:53] aspanghe commented on #2403
Hi @piskvorky thank you for the response, and thanks for the great package -- like I said, years of great use here.

I assume that the purpose of these SKLearn wrapper methods is to make gensim libraries -- word2vec, doc2vec, LDA -- share the same interface as SKLearn packages. If true, then this is great: a user can easily compare document-processing using Gensim packages with document-processing

[2019-03-07 19:17] piskvorky commented on #2403
You're completely right regarding the purpose of these wrappers (and agreed on sklearn's lego-like awesomeness).

I guess I'm not clear on what the "desired behaviour" is. If the input is a "list of strings" -- what does each string represent?

If the answer is "full document", then that cannot be an input to Gensim. Gensim models don't do tokenization, they expect already-tokenized input.

So any

[2019-03-07 19:42] aspanghe commented on #2403
Yes, you're correct, the answer is "full document".

The answer you indeed a possible, but in my opinion it's not ideal. If the purpose of these wrappers is to match SKLearn's interface, then I'd advocate making these as functionally similar as possible to SKLearn's feature-extraction steps as possible. For instance, CountVectorizer has a number of pass-ins:

```CountVectorizer(input=’content’, lo

[2019-03-07 20:01] aspanghe commented on #2403
By the way, I'd be more than happy with implementation, if you agree with me. I think it'd really help make these wrappers more useful

[2019-03-07 20:38] piskvorky commented on #2403
I guess we could have the wrapper accept a `tokenizer` parameter, which would be a callable (code injection) that transforms unicode strings into a list of unicode strings. But I think a separate pipeline step is cleaner.

@mpenkov thoughts?

[2019-03-08 08:50] mpenkov commented on #2403
I agree with @piskvorky, I think this should be a separate pipeline step.

Yes, it places additional burden on the shoulder of the user: they have to write their own tokenizer class. However, in my opinion, this burden "goes with the territory" of integrating multiple libraries (in this case, gensim and sklearn) together.

I think we should author a recipe for integrating gensim in an sklearn pipe

[2019-03-08 09:23] piskvorky commented on #2403
Yes, an example of an sklearn Pipeline step for tokenization would go a long way. Especially if we make it easy to discover for users.

I'd like to encourage users to adapt that blueprint to match their own preprocessing needs, instead of relying on some hard-wired parameters. This follows my experience of good preprocessing being **critical for ML success** (and common libs like NLTK, spacy etc n

[2019-03-08 22:48] aspanghe commented on #2403
This makes sense. Yeah, the black magic of NLP, in general, is that almost all papers talk about their wonderful method, but leave out all the details about their preprocessing, which often has more impact.

I'd love to see a more robust discussion of preprocessing in common libraries you mention. Maybe this is the right way to start.

Let me know if I can be of any help!

Alex

[2019-03-09 00:30] mpenkov commented on #2403
Alex, are you able to write a tutorial (or even some sample code) on how to achieve what you are trying to do with gensim? A PR would be awesome.

[2019-03-09 00:56] aspanghe commented on #2403
Yes indeed, I can write a tutorial.

Is your preferred way of uploading tutorials via ipython notebook? That
would be my preferred way, but I can match the style of your website

Alex

On Fri, Mar 8, 2019 at 4:30 PM Michael Penkov <notifications@github.com>
wrote:

[2019-03-09 07:53] piskvorky commented on #2403
I'd prefer an example (or at least an **in-your-face link** to an example) a directly in https://radimrehurek.com/gensim/sklearn_api/d2vmodel.html.

Maybe that's a question for you @aspanghe : as a user, where would *you* look for / expect to see such information?

[2019-03-09 12:35] mpenkov commented on #2403
@aspanghe We are currently thinking about the best way to present our docs, because the current arrangement is due for an overhaul. So, there is no one best way for you to author the tutorial at the moment.

I think the most important thing here is content, not format. If you haven't seen this already, I recommend you check out this [write up](https://www.divio.com/blog/documentation/) to get you

[2019-03-09 13:09] mpenkov commented on #2402
OK, I've successfully reproduced the error.

[2019-03-09 13:23] mpenkov commented on #2402
There's an inconsistency in the model.

[code]

The model reports that it has 1999989 words and 200000 buckets, meaning it must have 3999989 vectors (each word and bucket corresponds to a vector).  However, the actual collection of vectors (the matrix) contains 400000 vectors (11 extra vectors).

@piskvorky How should we deal with this case? It seems like the model from FB may be broken - perhaps

[2019-03-09 15:53] chengjun opened #2409 "poincare_distance_heatmap error: no attribute 'poincare_dists'"
#### Problem description

I am trying to use ``poincare_distance_heatmap`` . However, it encounters an ``AttributeError:  type object 'PoincareKeyedVectors' has no attribute 'poincare_dists'``

[code]

#### Steps/code/corpus to reproduce
[code]

#### Versions

[code]

[code]

[2019-03-09 16:19] piskvorky commented on #2409
Ping @jayantj .

[2019-03-09 16:23] piskvorky commented on #2402
Sure, we can report this to FB. Do they actually have a contract in place to produce valid Unicode?

IIRC, the original word2vec simply treated strings as binary bytes… (sometimes cutting utf8 multi-byte characters in half etc).

[2019-03-09 22:46] aspanghe commented on #2403
I'll get a draft out today hopefully.

I agree -- I think as a user, an "in-you-face" example directly in the docs
is the first thing I'd look for. Then, a how-to on using Gensim in a larger
SKLearn comparison pipeline would probably help.

I also think a mini-tutorial is in order -- I think your design decision
here to make the tokenizing explicit necessitates a mini-tutorial on
different tokeniz

[2019-03-10 07:56] #2407 closed

[2019-03-10 10:38] alex2awesome commented on #2403
Here's a notebook showing how to compare gensim sklearn wrappers alongside other sklearn methods:

https://github.com/alex2awesome/gensim-sklearn-tutorial/blob/master/notebooks/gensim-in-sklearn-pipelines.ipynb

I noticed the following three points that I think could be small fixes to make things easier:

- Dictionary2Bow -- can't that be fit into the LDA Transformer? I don't see the same kind of

[2019-03-10 10:39] alex2awesome commented on #2403
Oh, btw, this is my other github account. @aspanghe is my school handle, this is my personal handle, so easier to put public files on here

[2019-03-13 05:22] davidcode00 opened #2412 "Regarding Google Season of Docs"
Hello all,
I wanted to know that are you going to participate in the upcoming Google Season of docs?

[2019-03-13 06:48] zzaebok commented on #2402
@mpenkov
I tried your PR and got this error

    Traceback (most recent call last):
  File "data_helper.py", line 133, in <module>
    build_fasttext('cc.ko.300.bin', 'embeddings/context_embeddings.npz', 'embeddings/target_embeddings.npz', word_d
ict, verb_dict, 300)
  File "data_helper.py", line 24, in build_fasttext
    fasttext_model = FastText.load_fasttext_format(filename, encoding='utf8')

[2019-03-13 08:17] mpenkov commented on #2402
It does indeed look like you've run out of memory. In my tests, loading that model required around 20GB of RAM (this decreases to around 15GB after the model loads and gets cleaned up).

If you don't intend on continuing to train the model, use the load_facebook_vectors method (see the change log on master for details).

[2019-03-13 10:10] piskvorky commented on #2412
Hi, can you share a link?

[2019-03-13 12:08] zzaebok commented on #2402
@mpenkov
I don't know how to use load_facebook_vectors method, so I just made new VM instance with 26GB memory. And finally got succeeded loading pretrained vectors. Really thank you.
But, can I ask you what the change is??
I made embedding lookup table from fasttext model, but some of the vectors are represented as [nan, nan, nan ... , nan] What is the role of 'backslashreplace' during decoding?

[2019-03-13 12:57] mpenkov commented on #2402
We keep vocabulary terms in a dictionary. The previous decoder mapped different byte strings to the same unicode string, causing a collision. This meant the vocabulary contained fewer terms that it should, breaking the model.

Please show examples, I'll have a look.

Please see the [standard library reference for the codecs module](https://docs.python.org/3.5/library/codecs.html#error-handlers).

[2019-03-13 15:22] menshikh-iv opened #2413 "Feature proposal: model compression"
**Problem:** In production, gensim models typically used as "text embedding tool" for any kind of upstream models (for the target supervised task). In production, it's very important to use as less as possible resources (esp. RAM).  Unfortunately, huge gensim models consume too much of RAM even if we use it only for inference (no more training).

**Idea:** Decrease RAM usage, based on 2 simple thi

[2019-03-13 15:28] haidangbosco opened #2414 "LdaMulticore not working so well with corpus in tf_idf form."
First of all, I want to say that  I am not very good English. I hope that you guys can bear with me.

Like I said, I transformed my corpus to tf_idf form and used it with ldamulticore but it took much longer to process than with normal corpus. Can anyone help me with this issue ?

[2019-03-13 15:58] menshikh-iv opened #2415 "Inference issue using FB pretrained model if word have no ngrams"
**Problem:** `FastText` in gensim and official version still produce different output on FB pretrained model (issue with oov word **without ngrams**).

**Prepare data:**
[code]

**Code:**
[code]
[code]

Exception is correct, but behaviour is wrong (should return zero vector as FB implementation. instead of raising an exception).
BTW - when we load & use FB model - we shouldn't raise an exception a

[2019-03-13 16:41] piskvorky commented on #2415
Thanks for the report @menshikh-iv !

Please don't assign people to tickets, we may have different priorities. If you feel something is urgent, feel free to open a PR with a fix for review.

[2019-03-13 16:44] piskvorky commented on #2414
@haidangbosco your report is missing the necessary details. Please see the issue template you deleted when opening this issue (especially the part about mailing list and reproducibility).

[2019-03-13 16:44] #2414 closed

[2019-03-13 16:47] menshikh-iv commented on #2415
@piskvorky

Ok, no problem.
BTW, what're open-source priorities right now? Any plan/roadmap for this year (maybe I miss something?)

[2019-03-13 16:49] davidcode00 commented on #2412
HI @piskvorky , this is the [link](https://developers.google.com/season-of-docs/) of the program.

[2019-03-13 17:11] piskvorky commented on #2412
Hmm, that sounds interesting (and vaguely familiar). @mpenkov thoughts?

[2019-03-13 17:14] piskvorky commented on #2415
Clean up + tightening + docs + web. Nothing major, very little capacity. We're still discussing priorities and concrete objectives (also for grants).

[2019-03-13 22:18] mpenkov commented on #2412
This could help with the quality of our documentation, provided we can come up with enough work to keep a technical writer occupied for the 3 months. The org application period is in early April ( https://developers.google.com/season-of-docs/docs/timeline).

One problem I can see is that the actual work happens in September, half a year from now. It's hard for me to imagine what state our docs wil

[2019-03-13 22:26] mpenkov commented on #2413
I like it!

I would change is the word "compression" to something like "trim" to be more accurate, but that's really a nitpick.

[2019-03-14 00:12] gojomo commented on #2415
Was this seen in `develop` or latest-release? Because I think @mpenkov's latest fixes (including in #2370) may have finally corrected this behavior to match FB FT.

[2019-03-14 02:31] mpenkov commented on #2415
With develop, I get this:

[code]

So the bug @menshikh-iv described is fixed, but the fix uncovered a divide-by-zero case, because there can be zero ngrams extracted from a single space character. We have several ways to handle this:

1. Do nothing
2. Avoid the division, return the origin vector
3. Raise an exception

@piskvorky Which one do you think is best?

[2019-03-14 05:01] menshikh-iv commented on #2413
@mpenkov agree, `trim_model` sounds better than "compress", renamed, anything else?
@piskvorky wdyt?

[2019-03-14 11:48] piskvorky commented on #2415
No idea. What does FB's FT do?

[2019-03-14 14:56] mpenkov commented on #2415
[code]

The command utility ignore the request for a vector. So if you say "give me the vector for a blank space", the utility just stares back at you. If you give it a term with spaces, they first split the term into subterms by spaces, and return the vectors for each subterm.

[2019-03-14 15:48] piskvorky commented on #2415
OK, thanks. And what does their API (as opposed to CLI) do?

[2019-03-14 19:15] gojomo commented on #2415
Also: wth the default `min_n=4`, any single-character string, even with the '<' and '>' end-bumpers added to distinguish leading/ending n-grams, will decompose into zero n-grams to look up.

So what does FT CLI do for single-character OOV words with no n-grams to look up?

We should probably do similar for OOV tokens with zero relevant n-grams, like '' (empty-string), ' ' (single space), 'j' (sing

[2019-03-15 08:44] skasturi opened #2416 "gensim.downloader should accept custom directory for downloading embeddings"
#### Problem description

I am trying to use gensim.downloader for download embeddings. However, it is creating a directory in my home folder where there is not enough space. I would like to specify a custom folder so that the embeddings get downloaded there.

#### Steps/code/corpus to reproduce

Fill up your C drive and use gensim.downloader to download one of the embeddings.

#### Versions

Plea

[2019-03-15 10:27] piskvorky commented on #2415
Regarding roadmap, I found this: https://github.com/RaRe-Technologies/gensim/wiki/Roadmap-(2018) (our planned roadmap for 2018).

Everything in there still stands (not much progress in 2018). Especially the clean up and discoverability.

I'll just rename it to "Roadmap / priorities for 2019".

[2019-03-15 11:09] mpenkov commented on #2416
Can you not symlink the directory to another volume?

[2019-03-15 11:51] piskvorky opened #2418 "Zero probabilities in LDA model"
#### Problem description

A user reported "empty" topics (all probabilities zero), during LdaModel training:
https://groups.google.com/forum/#!topic/gensim/LuPD2VSouSQ

Apparently some of the recent optimizations in #1656 (and maybe elsewhere?) introduced numeric instabilities.

#### Steps/code/corpus to reproduce

Unknown. Probably related to large data size: large vocabulary in combination with

[2019-03-15 14:48] enys commented on #2418
Hi @piskvorky,

Apparently it was one of my team members.
Please find attached the output:
`Python 3.6.8 (default, Mar 15 2019, 14:14:12)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

Linux-4.4.0-130-generic-x86_64-with-debian-stretch-sid

Python 3.6.8 (default, Mar 15 2019, 14:14:12)
[GCC 5.4.0 20160609]

NumPy 1.16.2

SciPy 1.2.1

gensim 3.

[2019-03-15 14:57] enys commented on #2418
It is indead with a combination of large vocabulary + topics. Topics 500 and 1000 suffer the problem. Our dict size is > 300K. We also use online updates chunks of 100K documents, with a target total corpus size of 50M

[2019-03-15 18:01] skasturi commented on #2416
That's possible. But it isn't clean to not have the possibility of
providing a directory to download. Moreover, the path to which the download
happens is not returned until the download actually happens. Therefore, in
case this folder changes in the future I would have to re-do the symlink
again.

On Fri, Mar 15, 2019 at 04:09 Michael Penkov <notifications@github.com>
wrote:

[2019-03-15 20:16] horpto commented on #2418
Hi, @enys
 Can you share a minimal dataset that reproduce the problem?

[2019-03-15 21:18] enys commented on #2418
Quick answer, no.
Dictionary contains 519K corpus is built from precalculated bagwords. I will paste my parameters.
I could try ton build a random corpus/dict if there is a high probability that it is due to cardinality.
I have a run computing over the weekend.

[2019-03-16 00:31] rsdel2007 commented on #2412
I would like to participate with your organisation if you are participating :smiley: .

[2019-03-16 08:02] jayantj commented on #2402
Hi, I may have worked on this part of the codebase a long time ago, I'm not well-aware of recent changes and discussions around it. But would a reasonable solution simply be to use `latin1` encoding or something similar which essentially keeps the bytestrings as is? It bypasses the collision problem with bytestrings being mapped to the same unicode string too, if I understand correctly.

[2019-03-16 14:39] horpto commented on #2418
Quite stupid question: how can a topic probabilities be a fully zeros if `show_topics` normalizes topic row ? https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/ldamodel.py#L1163

[2019-03-17 19:20] prakhar2b commented on #2407
I made these changes two years ago. There was a bug in facebook's  french pretrained vector
[mismatch in vec and bin files in french pretrained vector ](https://github.com/facebookresearch/fastText/issues/218)

As a workaround, we made changes in gensim to load fastText models using only bin files. #1341

A lot of changes were made after that in Gensim and fastText by someone else, and this bug ha

[2019-03-18 04:50] mpenkov commented on #2402
From the POV of loading code, yes, encoding as latin1 will work around the UnicodeError.

[code]

It may be a better alternative than backslashreplace.

However, the code that computes ngram hashes will first encode those strings as utf-8. This means it will _not_ be hashing the original byte values, and the ngram hashes will be incorrect (different to those in the reference implementation).

[2019-03-18 07:17] zzaebok commented on #2402
@mpenkov
Some vectors of Korean words returned as [nan nan nan ... nan]
For example,
    from gensim.models import FastText
    fm = FastText.load_fasttext_format('cc.ko.300.bin', encoding='utf8')
    fm.wv['굽히']

![image](https://user-images.githubusercontent.com/44357534/54512920-1e60e000-4999-11e9-9ea3-a2d45a6f5fa2.png)

And these are the words that makes the same warnings ( a lot more )

굽히
받치

[2019-03-18 07:33] mpenkov commented on #2402
Do other Korean words work OK?

[2019-03-18 07:49] inkrement commented on #2023
Whats the status quo, is there already a prototype available?

[2019-03-18 13:40] zzaebok commented on #2402
@mpenkov
Among about 8000 words, around 50 words look like that.
Rest 7950 words work okay.

[2019-03-19 09:13] enys commented on #2418
Hi @horpto, Sorry for the late reply.
Fully might be a slight over statement, however it renders  :
[code]

[2019-03-19 10:58] Hightham opened #2422 "gensim/word2vec: TypeError: 'int' object is not iterable"
#### Problem description

I'm trying to establish the embedding layr and the  weights which will be shown in the code bellow
 using my training input which is in the form of  a lists of tokenized questions plus the vocabulary ( i loaded my data using pandas)
also i made sure to eliminate all integers from my data .

#### Steps/code/corpus to reproduce

[code]

and this is the error i keep on getti

[2019-03-19 11:01] piskvorky commented on #2422
Your version of Gensim is too old; try upgrading.

[2019-03-19 11:02] Hightham commented on #2422
My version was 3.7.0 and it showed the same issue as well, so i downgraded it and the problem persisted

[2019-03-19 11:03] piskvorky commented on #2422
OK. Can you better format the steps to reproduce as well as the stack trace, so we can see what it says?

[2019-03-19 12:59] Hightham commented on #2422
So, i just re-upgraded the version of gensim to the latest.
I haven't done much when it comes to the steps
i just imported the libraries, set my variables, loaded my data ( input and vocabulary)
and then the code lines that were shown above.
but i still get the same error

  File "C:\Users\ACER\Anaconda3\envs\py37\lib\site-packages\gensim\models\keyedvectors.py", line
   349, in __getitem__
    re

[2019-03-19 13:28] piskvorky commented on #2422
Please post the steps (what you're running) and full trace back, in a readable format.

[2019-03-20 05:57] mpenkov opened #2424 "tutorials fail doctests"
If you run "python -m doctest docs/src/tut1.rst" you get a ton of output. Most of the problems are because of incorrect formatting, e.g.

[code]

should really be:

[code]

For whatever reason, it doesn't look like the tutorials were ever tested with doctest. There's no reason for it to be this way, so we should make them doctest-compatible in the future.

[2019-03-20 07:54] matthiaslmz commented on #2137
@ismskd

Try adding the `r` infront of your path like this:

mallet_path = r'C:\mallet-2.0.8\bin\mallet'

See if this works!

[2019-03-20 16:07] jasonachonu opened #2425 "DOC@VEC Memory Error"
1 model.build_vocab(documents)

C:\Anaconda3\lib\site-packages\gensim\models\doc2vec.py in build_vocab(self, documents, update, progress_per, keep_raw_vocab, trim_rule, **kwargs)
   1040         report_values['memory'] = self.estimate_memory(vocab_size=report_values['num_retained_words'])
   1041         self.trainables.prepare_weights(
-> 1042             self.hs, self.negative, self.wv, self.doc

[2019-03-20 16:54] piskvorky commented on #2425
Looks like you ran out of memory. Also, please follow the issue template.

[2019-03-20 16:54] #2425 closed

[2019-03-21 09:42] gustavgransbo commented on #2182
I tried to do something very similar to @jbayardo, and had a very similar problem.

I'm also saving `on_batch_end`, after one hour of training.
[code]
The first time the model is saved, 5 out of 6 worker threads crashes:

[code]
After this, training continues with one worker thread until the first epoch is finished, at which point the process starts waiting for the workers that were killed during

[2019-03-22 05:22] sunacc opened #2426 "How to customize a model (beyond doc2vec)?"
#### Problem description

Hello guys,
I want to customize a model beyond doc2vec.

In doc2vec, the probality model for predicting a center word is p(word_center|doc_tag, word_context).

Based on it,  I want to build a model p(word_center|doc_tag,word_attribute,word_context). The word_attribute of word_center may be Place, Name, etc. so that we can add human knowledge on words.

So how can I implem

[2019-03-23 04:13] mpenkov commented on #2402
@zzaebok The reference implementation from FB returns an origin vector for the words you specified:

[code]

Could you please confirm this behavior? What is special about those words? Are they somehow rare (Google Translate seems to think they are not).

I think the reason why the vectors are zero is the model does not have vectors for any ngrams for those words. The words are short (2 characters

[2019-03-23 18:23] simonada opened #2427 "Error after loading KeyedVectors and using similarity queries"
#### Problem description

What are you trying to achieve?
I am training a Word2Vec model, then splitting the word vectors into two groups (original vocabulary, selected words from the vocabulary) and storing them in two KeyedVectors files. After that I load the two KeyedVectors files and try to query for similarity based on words and vectors.

What is the expected result?
Before storing and loadin

[2019-03-24 17:44] simonada commented on #2427
The problem was in the way I'm restricting the vocabulary, I need to store them as numpy arrays. Fixed it by changing the restrict_w2v(...) function.

[2019-03-24 17:44] #2427 closed

[2019-03-27 18:19] benedekrozemberczki commented on #2023
I am also really keen to know what is happening in this regard.

[2019-03-27 18:58] piskvorky commented on #2023
Nothing that I know of, task still open for takers.

[2019-03-28 21:58] gojomo commented on #2426
All the source code is there as an example to model your work after, or build upon, but that wouldn't necessarily be an easy extension - the hooks aren't quite there for such micro-changes to the individual NN training examples.

[2019-03-29 03:28] eadka commented on #2378
The link provided in "...Could you please try reproducing the problem with [this branch](https://github.com/mpenkov/gensim/tree/unicode)?" doesn't exist. Please redirect.

[2019-03-29 11:09] cbjrobertson commented on #2378
I don’t manage that link. I found it somewhere else. Sorry, can’t help.

[2019-04-01 05:44] zzaebok commented on #2402
@mpenkov
Sorry for late reply.
They are quite rare words as you said. I think FB made fasttext based on n-gram (n>=3, I am not sure because they are saying 5>=grams on English version) so I cannot get word vectors from them. I just thought that I can resolve the OOV problem with FB fasttext because its old version did solve it.
Anyway, you mean that newly updated version of gensim will supports th

[2019-04-02 00:10] chlaterz opened #2429 "Cannot call most_similar on Doc2VecKeyedVectors"
#### Problem description

I am trying to build my own Doc2VecKeyedVectors from a subset of vectors of my model, and then perform most_similar() on the result.

When calling most_similar(), I get the following error (see full trace in "steps to reproduce section"):

AttributeError: 'list' object has no attribute 'shape'

I noticed that the new Doc2VecKeyedVectors object I created has an empty list

[2019-04-02 00:31] mabodx opened #2430 "Error when import gensim"
#### Problem description
Error when `import gensim`

What are you trying to achieve? What is the expected result? What are you seeing instead?
Just want to import gensim

#### Steps/code/corpus to reproduce
I just run the following code
[code]
Include full tracebacks, logs and datasets if necessary. Please keep the examples minimal ("minimal reproducible example").

[code]

#### Versions
Python 3.

[2019-04-02 04:28] mpenkov commented on #2430
Please give the output of:

[code]

[2019-04-02 04:32] mpenkov commented on #2429
Thank you for providing example code. Could you please provide a *reproducible* example? Ideally, it would be code that we can run directly through the Python interpreter.

[2019-04-02 04:33] mpenkov commented on #2402
Yes.

I'm reopening this ticket for our own records. We will close it when the corresponding branch is merged.

[2019-04-02 12:26] lmwsky opened #2431 "parameter topN=False is not working in similar_by_vector."
#### Problem description
parameter topN=False is not working in similar_by_vector. I got empty list when set topN=False.

#### Steps/code/corpus to reproduce

[code]
### Problem
code in similar_by_vector just call most_similar.
[code]

most_similar returns [] when TopN=False
[code]

#### Versions

[code]

[2019-04-02 17:17] chlaterz commented on #2429
Sorry about that, leaving a real reproducible example below.  Thanks.

[code]

[2019-04-02 20:49] gojomo commented on #2431
I believe it's just the doc-comment that's wrong, and in fact you should supply `None` if you want the unsorted report of all similarities. Do you get the desired result if you supply `None`?

[2019-04-03 03:36] mpenkov commented on #2429
Using the current develop branch, I get an error, but it is different to what you originally reported:

[code]

Can you please double-check?

[2019-04-03 06:44] piskvorky commented on #2429
@mpenkov the user reported `gensim 3.5.0` (not latest `development` branch).

[2019-04-03 18:25] chlaterz commented on #2429
I double checked, and @piskvorky is correct.  FYI, I did a fresh install a day or two ago following the conda install command found here: https://radimrehurek.com/gensim/install.html

[2019-04-03 19:25] PeteBleackley opened #2432 "Deprecation warning in matutils"
#### Problem description

`matutils.corpus2dense` triggers the following deprecation warning

[code]

#### Steps/code/corpus to reproduce

See [this Kaggle kernel](https://www.kaggle.com/petebleackley/the-grammar-of-truth-and-lies) for an example

[2019-04-04 12:13] perezzini opened #2434 "BM25 does not support generator as corpus"
``__init__`` method in BM25 class takes a "list of list of str" as corpus instead of a generator. More precisely, this is what it looks like right now:

[code]
As we know, considering a generator instead of a list would be great to handle large collections of documents that do not fit in memory.

[2019-04-04 12:16] piskvorky commented on #2434
@Witiko can you please have a look?

[2019-04-04 15:23] nshaud opened #2435 "AssertionError: expected to reach EOF when loading full FastText model"
#### Problem description

I am trying to fine-tune a pretrained FastText using gensim. I use the weights from the official Facebook implementation. Partial loading works fine, but full model loading results in AssertionError.

#### Steps/code/corpus to reproduce

[code]

results in
[code]

#### Versions

Please provide the output of:

[code]
[code]

[2019-04-04 23:38] perezzini commented on #2434
I think the tricky problem here, using a generator as a collection of documents, is computing the average document length in the text collection. As I can see, in Python, there's no "proper" way of getting the "length" of a generator. A trivial (and not so efficiently) way could be the following (supposing `corpus` is a generator of lists):

[code]

[2019-04-05 01:46] sugiyamath commented on #2152
I want predict_output_context function, but I'm not sure how to implement it.

[code]

Could you tell me whether this is correct implementation or not?
If not, please tell me the correct code.

[2019-04-05 08:33] piskvorky commented on #2434
We'd definitely want to avoid huge `reduce` / `map` (not Pythonic), but the code sounds trivial in any case.

The main question for me is, why does the current implementation ask for a `list` in the first place? What design choices lead to this? How did it pass our reviews? (if indeed true that streaming is not supported)

[2019-04-06 08:33] #2402 closed

[2019-04-07 18:17] Witiko commented on #2434
There is no apparent reason why `corpus` can't be an iterable. Instead of initializing `self.corpus_size` to `len(corpus)` in `__init__`, `corpus_size` can be accumulated in the `for document in corpus` loop in the `_initialize` method. The `_initialize` only assumes that `corpus` is iterable.

As for why this code was merged in the first place, I can't really tell. It has been in place since Gens

[2019-04-07 18:18] Witiko commented on #2434
@piskvorky There is no apparent reason why `corpus` can't be an iterable. Instead of initializing `self.corpus_size` to `len(corpus)` in `__init__`, `corpus_size` can be accumulated in the `for document in corpus` loop in the `_initialize` method. The `_initialize` method only assumes that `corpus` is iterable.

As for why this code was merged in the first place, I can't really tell. It has been i

[2019-04-07 19:15] piskvorky commented on #2434
Thanks @Witiko , makes sense.

@perezzini can you open a PR with a fix, as per @Witiko 's recommendation?

[2019-04-07 19:42] yoshimoncho opened #2436 "Error: -1073741819 (0xC0000005) and computer restarted"
#### Problem description

This issue is about a bug that I found and I think it is important as it restarted my PC.
The problem appears when I use similarities.SparseMatrixSimilarity and the parameter num_features is smaller than the number of elements in the corpus dictionary.
At the beggining, my computer restarted after I had executed my code and a blue screen appears showing a problem with rzp

[2019-04-07 20:06] piskvorky commented on #2436
That is correct. If you supply an incorrect value to the `num_features` parameter, scipy (the sparse matrix library used internally) will get confused and segfault.

I think this is the "expected" behaviour; what do you propose should happen instead @yoshimoncho ?

[2019-04-07 20:33] #2436 closed

[2019-04-07 20:40] yoshimoncho commented on #2436
From my personal point of view, I propose to check if sizes are the same and throw an error if it is possible. If this segfault occurs maybe a blue screen could appear ...
Thank you very much for answering :)

[2019-04-08 02:50] lmwsky commented on #2431
Yes, it work when the topN=None

[2019-04-08 08:58] HarshavardhanG513 opened #2437 "Is preprocessing required when training a word2vec model?"
Should I pre process the data (including removal of stopwords) before training a word2vec model in gensim for better results?

[2019-04-08 09:15] piskvorky commented on #2437
Usually not.

See the issue template – mailing list is a better medium for such question.

[2019-04-08 09:16] #2437 closed

[2019-04-08 09:45] ajdapretnar opened #2438 "lemmatize: StopIteration error in Python 3.7"
#### Problem description

Trying to run simple lemmatization as described in the documentation. Getting:
`
RuntimeError: generator raised StopIteration`

#### Steps/code/corpus to reproduce

[code]

#### Versions

[code]

[2019-04-08 09:49] piskvorky commented on #2438
@ajdapretnar what's your version of Pattern? (`import pattern; pattern.__version__`)

[2019-04-08 09:50] ajdapretnar commented on #2438
'3.6'

[2019-04-08 09:51] piskvorky commented on #2438
And what's the stack trace?

[2019-04-08 09:51] ajdapretnar commented on #2438
[code]

[2019-04-08 10:13] piskvorky commented on #2438
Seems unrelated to Gensim; try contacting the `Pattern` maintainers. FWIW, I have Pattern 2.6 and `lemmatize` works without problems.

[2019-04-08 10:13] #2438 closed

[2019-04-08 10:19] ajdapretnar commented on #2438
Strangely, it works when I am using just Pattern itself.
[code]
I will investigate this a bit further, but it seems like a common Python 3.7 problem.

[2019-04-08 10:29] piskvorky commented on #2438
Great, thanks.

Note that Gensim is using `pattern.en.parse(content, lemmata=True, collapse=False)` to get the lemmata & POS tags.

[2019-04-08 12:06] SCismycat opened #2439 "eps = DTYPE_TO_EPS[self.dtype]，KeyError: dtype('float32')"
## Problem description

Hi，There. I was using gensim LDA to train a model in Linux,I has serialized the lda model to my computer.But when I load the model on windows 10, I got this error:
[code]
However，when I debug to this function,my dtype is "float32" indeed.
Please help me.

## Steps/code/corpus to reproduce
### predict new data
[code]

## Versions

[code]

[2019-04-08 13:35] piskvorky commented on #2439
Hi, can you format the report better, so it's readable?

[2019-04-08 14:07] perezzini commented on #2434
@piskvorky I'll make a PR as soon as possible!

Thanks for replying!

[2019-04-09 02:48] SCismycat commented on #2439
@piskvorky Sorry about my bad report,And when I upgrade the gensim==3.7.1, this error disappered. So I close this issue.thanks!

[2019-04-09 02:48] #2439 closed

[2019-04-09 08:50] wangpeng138375 opened #2440 "Does gensim implement inverted index ?"
I have many documents , in order to improve performance , I want get the relevent subset documents before calculating cosine distance based on their vectors ( learned from other models ). I want to know whether gensim implements inverted index to help me get the relevent documents ？

[2019-04-09 09:30] piskvorky commented on #2440
Inverted index of what? Vectors? Words?

See the issue template, this is better suited for the mailing list.

[2019-04-09 09:30] #2440 closed

[2019-04-10 00:16] kmdn opened #2441 "Loading KeyedVectors for large split model w/ missing files"
Hey there!

So, on one of our servers - after having run for quite a while - a W2V model that we attempted to save with model.save(...) did not manage to fit to persistent storage completely.
As such, we managed to get the modelxyz.**wv.vectors.npy** file and part of the syn0neg one.
Is there a way to still extract the KeyedVectors from the wv.vectors.npy file (as I assume that's the one containin

[2019-04-11 01:26] wolszhang opened #2442 "Import nltk before gensim cause model.similarity() to fail"
#### Problem description

#### Steps/code/corpus to reproduce

Include full tracebacks, logs and datasets if necessary. Please keep the examples minimal ("minimal reproducible example").

#### Versions

Please provide the output of:

[code]

[2019-04-11 08:45] piskvorky commented on #2442
Thanks for reporting -- please fill in the required fields in your report (Description, Steps+Traceback, Versions). Otherwise we'll close this in one week.

[2019-04-11 09:14] PeteBleackley commented on #2432
Now passing tests.

[2019-04-11 13:55] snollygoster123123 opened #2443 "Exploding Perplexity for big number of topics"
I am training LDA on a set of ~17500 Documents. Until 230 Topics, it works perfectly fine, but for everything above that, the perplexity score explodes.

(Perplexity was calucated by taking 2 ** (-1.0 * lda_model.log_perplexity(corpus))
 which results in 234599399490.052. Usually my perplexity is around 70-150.)

For the perplexity, I am not using a hold out set. It is calculated on the same corpu

[2019-04-11 14:42] xmedved1 opened #2444 "Problem while passing wlocal function in tfidf model"
#### Problem description
I tried to use math.sqrt function on term frequency when computing TF-IDF model as you declare in script documentation:

[code]
========================================
Gensim implementation:

[code]

Error:

[code]
======================================

Fix if I want to use  math.sqrt:

[code]

==========================================
gensim version 3.7.2

============

[2019-04-11 15:02] piskvorky commented on #2443
@snollygoster123123 I remember other users reporting similar issues, since we switched the LDA default precision from double (float64) to single (float32).

Can you try this https://github.com/RaRe-Technologies/gensim/issues/217#issuecomment-435539481 and let me know if that helped in any way?

[2019-04-11 15:05] piskvorky commented on #2444
@Witiko could you please have a look? Many thanks.

[2019-04-11 16:31] yurivict commented on #2369
```3.7.2``` doesn't have this problem any more.

[2019-04-11 16:31] #2369 closed

[2019-04-11 20:08] Witiko commented on #2444
@piskvorky This appears to be a regression from 0bfb9daa540308cca9663bdf66a6266d599cf8ed, which is part of PR #1791. Since this commit, `wlocal` has been applied on the entire numpy array of term frequencies rather than the individual term frequencies. A straightforward way to regain the original behaviour would be to use [`numpy.vectorize`](https://docs.scipy.org/doc/numpy/reference/generated/num

[2019-04-11 22:02] piskvorky commented on #2444
I don't really understand what that means, what are these corners @xmedved1 pointed out. Can you suggest a fix to the documentation (+a unit test to capture any future regressions), if this is indeed a problem with documentation? CC @markroxor as author of #1791.

TFIDF is a simple model, I'm strongly -1 on introducing any bloat or complexity that obscures its basic use-cases because of some obscu

[2019-04-11 23:55] Witiko commented on #2444
@xmedved1's fix and changing `tf_array = self.wlocal(np.array(tf_array))` to `tf_array = np.vectorize(self.wlocal)(np.array(tf_array))` are equivalent, although mine makes fewer changes. However, the SMART implementation from #1791 assumes that `wlocal` accepts numpy arrays, not individual frequencies (see the [`smartirs_wlocal` function](https://github.com/RaRe-Technologies/gensim/blob/30528a5c01

[2019-04-12 07:15] piskvorky commented on #2444
Reading that as a user, that documentation update (math => numpy) still doesn't tell me much.

Can make the documented API contract stronger? Especially if it potentially breaks some of the code somewhere else (`smartirs` something).

[2019-04-12 09:06] mar-sss commented on #2436
Hi, I have similar problem, but with FastText model training.
When I try to run gensim.models.fasttext.FastText with sg=1 in PyCharm console, I get the same error (Process finished with exit code -1073741819 (0xC0000005)). First time, computer restarted, now the console only prints this exit code and nothing else happens. With parameter sg=0, it works.

Versions:
Win10, version 1803, build 17134.7

[2019-04-12 09:29] piskvorky commented on #2436
@mar-sss that sounds unrelated. Please open a new ticket, filling in the issue template (how to reproduce, software versions etc)

[2019-04-12 15:20] Witiko commented on #2444
Perhaps we can show one of the SMART functions as an example:

[code]

Currently, `wlocal` is a numpy.array -> iterable function. We can make this contract explicit by putting it into the documentation.

[2019-04-13 18:27] rianrajagede commented on #2378
I just got this error too, I run this in Colab:

[code]

it returns an error:

[code]

is there any solution for this error?

[2019-04-13 22:57] mpenkov commented on #2378
@rianrajagede What version of gensim are you using?

[2019-04-14 00:26] rianrajagede commented on #2378
@mpenkov I use Gensim 3.7.2

[2019-04-14 02:29] mpenkov commented on #2378
OK, I will investigate and get back to you. Thank you for reporting this.

[2019-04-14 03:33] Dreampie opened #2445 "AttributeError: 'Word2Vec' object has no attribute 'sorted_vocab'"
![image](https://user-images.githubusercontent.com/3667080/56087962-e4f09700-5ea8-11e9-9c79-3191e846a40e.png)

[code]

![image](https://user-images.githubusercontent.com/3667080/56087972-1a958000-5ea9-11e9-8580-5ffb4cc687c4.png)

[2019-04-14 04:47] mpenkov commented on #2445
Is it possible to reproduce with the latest gensim version?

[2019-04-15 01:37] mpenkov opened #2446 "word2vec.ipynb broken"
[code]

[2019-04-15 04:02] BavonChao opened #2447 "Get MemoryError while using "model.wv.similar_by_vector" method."
#### Problem description

I have a word2vec model who's size is 15.5GB, and my computer has 24GB RAM, after I just loaded that model, the used RAM is about 12GB, but after I run
[code]
I got a memory error :(

I 'm using Pycharm, so I don't get full error log, just a big red "MemoryError".

#### Versions

Please provide the output of:

[code]
Python 3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.

[2019-04-15 04:09] gojomo commented on #2441
As a question rather than a bug/feature-request, I'd have seen this sooner if posted on the project forum, <https://groups.google.com/forum/#!forum/gensim>. It might be possible, *if* you can reproduce the (word->index) mapping of the original training. I don't think that will have been saved anywhere, if writing the bulk arrays (like `.syn0neg`) failed, because I think the main model is only pick

[2019-04-15 04:47] BavonChao commented on #2447
[code]
can work fine, but
[code]
will get memory error

[2019-04-15 09:35] yunhua-deng opened #2448 "bz2file dependency considered not neccessary?"
Python has built-in **bz2** module (https://docs.python.org/3/library/bz2.html), don't understand why does gensim depend on **bz2file** which is a old library (see https://pypi.org/project/bz2file/) without updates for a long time. Can I remove this dependency safely?
[code]

[2019-04-16 04:08] gojomo commented on #2447
There's no bug here; finding the N most-similar word-vectors is a memory-expensive operation. On the 1st such operation, the model creates a unit-normalized set of all the vectors (nearly doubling the addressable-memory required), caching them for future similar operations. If you'll only ever be doing cosine-similarity operations, you can force this unit-normed set of vectors to overwrite the raw

[2019-04-16 05:30] BavonChao commented on #2447
OK, I see, thanks for replying, I'll try what you suggested.

[2019-04-16 05:36] BavonChao commented on #2447
And is it safe while I using methods like 'word_model.similar_by_vector()' or 'word_model["人工智能"]' or 'word_model.get_vector()'?

[2019-04-16 15:06] nshaud commented on #2435
It still fails using the `fasttext.load_facebook_model` method, however using the French embeddings, it works:

[code]

Does this mean that there is something wrong with the format of `cc.en.300.bin` ?

[2019-04-16 15:11] liushuiwuhenxi commented on #2286
I had the same problem. Have you solved it?

[2019-04-16 17:15] menshikh-iv commented on #2448
Looks like a [possible issue of smart_open](https://github.com/RaRe-Technologies/smart_open/blob/master/setup.py#L71), @mpenkov though?

[2019-04-16 17:22] menshikh-iv commented on #2443
Just for note: I also received very large perplexity value with `gensim==3.7.1` (even bigger than @snollygoster123123 )  with training on super-large corpus (13.5kk documents, 850k dictionary, 0.018% density), **but**:
- I cheked topics manually and they looks fine.
- Upstream models, based on LDA vectors, works fine too
- I used `float64` for training (to avoid potential numerical over/under-flow

[2019-04-16 20:06] gojomo commented on #2447
After you do 'word_model.init_sims(replace=True)`, the vectors you get back from `word_model["人工智能"]`, or similar methods, will be different. They will be the vectors normalized to be of magnitude 1.0 ("unit-length"), rather than the original raw vectors, which may have been of diverse lengths.

[2019-04-16 20:43] gojomo commented on #2413
Beware: I've seen in experiments on the `Word2Vec` side of things indications that some of the native/optimized array routines up-convert `float16` to `float32` before bulk operations. So you may get RAM savings while the model is "at rest", but as soon as there's a big operation against the full arrays, (1) a temporary larger copy is made, momentarily turning the memory advantage into a net disad

[2019-04-17 00:48] BavonChao commented on #2447
Thanks, in this way, my raw file won't be changed, and `word_model.similar_by_vector(some_vector, 1)` still work fine, is this right?

[2019-04-17 03:01] BavonChao commented on #2447
I learned this by Google, I just want to find some way to accelerate loading speed, and now I found the answer from there `https://stackoverflow.com/questions/42986405/how-to-speed-up-gensim-word2vec-model-load-time/43067907`, your answer was so helpful, THX.

[2019-04-17 06:27] gojomo commented on #2447
The file won't be changed by `init_sims(replace=True)` unless you re-`save()` the model. Because the similarity-methods use the unit-normed vectors whether or not you've forced them to clobber the raw vectors, the results from those methods won't be changed by the extra step.

[2019-04-17 07:11] BavonChao commented on #2447
OK, I see, thanks for replying my questions, it's very helpful for me.

[2019-04-17 08:12] mpenkov commented on #2435
Thank you for reporting this. Could you provide full URLs to the models you are using, so I can try to reproduce this?

[2019-04-17 13:18] nshaud commented on #2435
Here are all the models I mentioned:

- [cc.en.300.bin](https://dl.fbaipublicfiles.com/fasttext/vectors-crawl/cc.en.300.bin.gz) = [FastText English CommonCrawl](https://fasttext.cc/docs/en/crawl-vectors.html)
- [cc.fr.300.bin](https://dl.fbaipublicfiles.com/fasttext/vectors-crawl/cc.fr.300.bin.gz) = same in French
- [wiki.en.bin](https://dl.fbaipublicfiles.com/fasttext/vectors-wiki/wiki.en.zip) =

[2019-04-17 15:06] tosejal opened #2449 "gensim package gives deprecation warning"
I am facing warning in my Kaggle kernel

[code]

The error can be reproduced in Kaggle kernel below
https://www.kaggle.com/frissontek/recommendation-engine-for-career-village/

[2019-04-17 15:08] tosejal commented on #2449
/opt/conda/lib/python3.6/site-packages/gensim/similarities/docsim.py:528: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

The error can be reproduced in Kaggle kernel below
https://www.kaggle.com/frissontek/recommendation-engine-for-

[2019-04-18 01:06] mpenkov commented on #2448
Yes, this is an indirect dependency via smart_open. You can safely remove that dependency if:

- You're using Py3, or
- You're not planning on opening .bz2 files with gensim or smart_open

[2019-04-18 01:07] #2448 closed

[2019-04-18 04:00] lubu-Alex opened #2450 "Can I directly input one-hot coding vectors not the raw sentences?"
I just want to input one-hot coding vectors not the raw sentences directly. Thank you so much.

[2019-04-18 08:16] Hedgehogues opened #2451 "Some files there are not int master branch"
There are not some files for `gensim/gensim/example/dmlcz/gensim_xml.py`. These files there are in develop branch, but there are not in master branch. Please fix it (= .

[2019-04-19 09:03] Barracuda72 opened #2452 "'utf-8' codec can't decode byte 0xd1 in position 97: unexpected end of data"
#### Problem description

Ok, I have the stated issue. Yes, it's in FAQ, I know. But I think it's different for me.
The thing is: on one machine it occurs, on another one it isn't. On the exact same data that was produced by original word2vec and that is 100% pure organic utf-8.
The machine that _doesn't have_ this problem (my local Gentoo laptop) is using build from `master` branch produced somet

[2019-04-19 12:43] Barracuda72 commented on #2452
OK, I can confirm that something is wrong with newer Gensim versions themselves. Tried to install 3.7.2 into virtualenv onto my laptop and got the same problem. 3.4.0 works fine.

[2019-04-19 12:52] generall opened #2453 "_rollback_optimization is not performed on some old FastText models"
#### Problem description

Model `araneum_none_fasttextskipgram_300_5_2018` from https://rusvectores.org/ru/models/
is loading incorrectly with `gensim.models.fasttext.FastText.load`
This method creates model with `compatible_hash = True` and `hash2index` param, so that ngram indexes are computed incorrectly.

#### Steps/code/corpus to reproduce

[code]

gives the following stacktrace

[code]
####

[2019-04-19 13:00] generall commented on #2453
Possible workaround is to manually apply this changes on loaded model:

[code]

[2019-04-20 06:41] mpenkov commented on #2453
Good catch. We'll add logic to handle such models.

[2019-04-20 07:04] mpenkov commented on #2452
What model are you attempting to load?

You've shown a stack trace, that helps us understand _where_ the problem is, but it doesn't help us reproduce it. Could you please provide a method for reproducing the problem? Ideally, this would be a minimal source code sample that we could paste into an interpreter and run.

[2019-04-20 07:06] mpenkov commented on #2451
Are you sure? [Here](https://github.com/RaRe-Technologies/gensim/tree/master/gensim/examples/dmlcz) are the contents of gensim/example/dmlcz in the master branch. You can see the files **are** there.

[2019-04-20 07:08] mpenkov commented on #2450
Use the [Gensim mailing list](https://groups.google.com/forum/#!forum/gensim) to ask general or usage questions. Github issues are only for bug reports.

[2019-04-20 07:08] #2450 closed

[2019-04-20 07:13] mpenkov commented on #2449
Are you able to reproduce this with the latest devel branch? I think this was [fixed](https://github.com/RaRe-Technologies/gensim/blob/3514d3fb9224280edd8ddd14c46b722220df5436/gensim/similarities/docsim.py#L528) recently.

@anotherbugmaster Could you please confirm?

[2019-04-20 08:15] vlfgns5 opened #2455 "accuracy function for analogy test gives back empty lists as result"
#### Problem description
Analogy test for accuracy function returns empty list due to typo. (topn = False)

#### Solution
There are 2 solutions regarding this matter in my opinion
: First one is the change  keyedvectors.py script in gensim/models on line 1187

Line : 1187 in keyedvectors.py
(https://github.com/RaRe-Technologies/gensim/blob/develop/gensim/models/keyedvectors.py)

sims = most_simila

[2019-04-20 08:50] mpenkov commented on #2435
I think gensim 3.7.2 already fixed this problem. Could you please double check?

[code]

[2019-04-20 08:51] mpenkov commented on #2442
Closing due to inactivity.

[2019-04-20 08:51] #2442 closed

[2019-04-20 08:54] mpenkov commented on #2430
@mabodx Ping

[2019-04-20 08:56] #2426 closed

[2019-04-20 08:57] mpenkov commented on #2426
Closing this as there is no further action we need to take as maintainers.

[2019-04-20 10:38] piskvorky commented on #2444
Good practical examples are definitely preferable to (though not precluding) complex type descriptions. My view here is entirely pragmatic: I don't understand myself how I should to make use of this functionality. Perhaps this even hints at a missing tutorial / example usage section (focus on motivation and context, not just types), rather than just extending a function docstring here and there.

[2019-04-20 11:15] piskvorky commented on #2441
As a side-note, I'm +1 on improving stability in general; here by sorting on `(count, key)` (or whatever a full unambiguous primary key of each record would be).

[2019-04-20 11:27] mpenkov commented on #2429
@chlaterz I'm not sure if the Doc2VecKeyedVectors is designed to be used like that... is there an example or documentation that you're basing your code on? You may need to use the classes in doc2vec.py instead.

Unfortunately, the documentation for the Doc2VecKeyedVectors class is rather lacking, so we need to reverse-engineer a little bit.

[2019-04-20 11:29] piskvorky commented on #2455
Thanks for reporting @vlfgns5.

The problem seems to have been introduced by #2356. @Witiko can you have a look? Are there other places similarly affected by that change?

[2019-04-20 12:39] mpenkov commented on #2422
@Hightham I reformatted your code but it's still a bit unclear about what you're trying to achieve. Without a reproducible example, it's very difficult for us to help you.

Can you please post a _reproducible_ example? Ideally, it should be source code that we can copypasta into an interpreter and run. If your example relies on some data, make that data available as well, but keep it as small as p

[2019-04-20 12:39] #2422 closed

[2019-04-20 12:48] mpenkov commented on #2415
Fixed by #2411

[2019-04-20 12:48] #2415 closed

[2019-04-20 12:49] mpenkov commented on #2412
We've decided to not participate this time around. We'll keep our eyes open for future iterations.

[2019-04-20 12:49] #2412 closed

[2019-04-20 13:00] mpenkov commented on #2201
Still reproducible with 3.7.2.

[2019-04-20 13:45] tosejal commented on #2449
@mpenkov I am not able to reproduce in my local environment. I am getting this error when I uploaded the notebook on Kaggle. I tried reinstalling package genism but the error was not gone. Temporarily I have suppressed the warnings using warnings library

[2019-04-20 14:02] mpenkov commented on #2449
What version of gensim do you have installed on kaggle?

[2019-04-20 14:10] mpenkov commented on #2378
@rianrajagede I could not reproduce the problem with the latest version of gensim (3.7.2). Could you please try and let me know?

[2019-04-20 14:18] cbjrobertson commented on #2378
@rianrajagede when I was unable to reproduce my original error even though I was running the same code, I had re-downloaded the model. My conjecture was it had something to do with the model file itself being corrupted. Have you tried this?

[2019-04-20 23:44] mpenkov opened #2458 "explicitly specify encoding whenever opening text files"
When we call `smart_open.smart_open(..., 'r', ...)`, we should always include the encoding.

https://github.com/RaRe-Technologies/gensim/pull/2423#discussion_r277142330

[2019-04-21 01:09] gojomo opened #2459 "potential Doc2Vec feature: reverse inference, to synthesize doc/summary words"
Motivated by the SO question: https://stackoverflow.com/questions/55768598/interpret-the-doc2vec-vectors-clusters-representation/55779049#55779049

`Doc2Vec` could plausibly have a function that's reverse-inference: take a doc-vector, return a (ranked) list of words most-predicted by that input vector. It'd work highly analogously to `Word2Vec.predict_output_word()`. Such a list of words *might* b

[2019-04-21 07:05] rianrajagede commented on #2378
I run it on Google Colab, I've tried with other language or re-downloaded the model but the result still the same:

https://colab.research.google.com/drive/1noO8IwoQyKn_60XAk1sJJRjVZA0xeWfQ

[2019-04-21 14:28] mpenkov commented on #2378
Can you please confirm that the version installed in your Google Colab is 3.7.2?

[2019-04-21 16:10] rianrajagede commented on #2378
Google Colab by default provides Gensim 3.6.0, in the first run if I call `!pip show gensim` it returns:

[code]

but as my code above, I always start my notebook with `!pip install --upgrade gensim`. Then after upgrade `!pip show gensim` will return:

[code]

[2019-04-22 04:01] baidik1 opened #2460 "Passing nonsense (int) for `corpus_file` generates confusing OSError in get_offsets_and_start_doctags_for_corpusfile"
#### Problem description

I am trying to train a doc2vec model over 1.35 million docs. Each line of the opened file corresponds to a doc and I am creating a TaggedDocument object from that. I am getting these errors which I cannot resolve. Note that the 1351747 below corresponds to the number of docs.
[code]

This is my code:
[code]

Using Python3:
[code]

Using Python2
[code]

#### Versions

Linu

[2019-04-23 10:49] nshaud commented on #2435
I tried again with gensim 3.7.2 after redownloading the model file from Facebook's FastText page and it seems to work. The md5 checksums of old and new files are not the same, so I guess a corrupted model was the problem.

[2019-04-23 10:49] #2435 closed

[2019-04-23 11:36] Witiko commented on #2455
@piskvorky You are correct. Where previously topn was only cast to a boolean, #2356 gave `topn=0` different semantics (return an empty iterable) than `topn=None` (return all similarities, previously undocumented behavior). However, I missed callers that would use `topn=False`.

According to `grep topn=False`, there are no callers other than `EuclideanKeyedVectors.accuracy` that use `topn=False`. I

[2019-04-23 12:18] Witiko commented on #2455
Digging deeper into this, properly supporting `most_similar(…, topn=None)` needs more work. When `indexer` is `None`, then `topn=None` (and `topn=False`) returns the expected result. However, when an `indexer` is provided (such as `Annoyindexer`), then the call fails, because Annoy only supports integer `topn`. Therefore, we need an additional fix that disables the indexer when `topn` is None:

[c

[2019-04-23 16:04] akutuzov commented on #2453
This should also handle models loaded via `KeyedVectors.load`, not only `FastText.load()`.
FastText models can be (and also are) stored as `FastTextKeyedVectors` objects, to save space.

[2019-04-23 16:06] akutuzov commented on #2453
@generall FYI: all the _RusVectores_ fastText models are now updated to support the latest _Gensim_  version. Also note that you should use `KeyedVectors.load()` to load these models.

[2019-04-23 23:21] mpenkov commented on #2453
@akutuzov I think the KeyedVectors stuff gets [handled](https://github.com/RaRe-Technologies/gensim/blob/3514d3fb9224280edd8ddd14c46b722220df5436/gensim/models/keyedvectors.py#L1982) - could you please confirm?

[2019-04-23 23:49] #2332 closed

[2019-04-24 02:49] giant-armadillo opened #2462 "Dtmmodel mode = ‘time’ error"
#### Problem description
My code runs well when the mode is the default 'fit',but I wanna use the 'time' mode to analysis the corpus through time to see the topics in different times.But the 'time'mode seems not work.

At first it's the error returned from the gensim.utils :"returned non-zero exit status 1".

After I rewrite some code in utils.py,new errors occured that all the codes with the "np.

[2019-04-24 12:57] Kaotic-Kiwi opened #2463 "Coherence RuntimeWarnings : divide by zero encountered in double_scalars AND invalid value encountered in double_scalars"
#### Problem description

For my intership, I'm trying to evaluate the quality of different LDA models using both perplexity and coherence. I used a loop and generated each model. However, I encounter a problem when the loop reaches **parameter_value=15**. The coherence score seems to be stored as nan for the models 15, 20, 25 and 30... I tried fixing this issue by changind the parameters in **.Ld

[2019-04-25 04:30] gojomo commented on #2460
This sort of troubleshooting should be handled via the discussion list, https://groups.google.com/forum/#!forum/gensim , rather than a Github issue, unless it's clear that a bug or required new feature is involved.

Your code seems based on an outdated/bad example, in a couple ways. In particular, the 2nd positional argument you've provided to `train()`, `model.corpus_count`, is actually binding t

[2019-04-25 13:18] gongel commented on #1990
I met it too.

`    for text in wiki.get_texts():
AttributeError: 'tuple' object has no attribute 'get_texts'`

I hope you can fix it, thanks for your hard work

[2019-04-25 14:03] ghazeefa commented on #814
I am using fasttext pre-train model for urdu language https://fasttext.cc/docs/en/pretrained-vectors.html
Why i am getting different vectors from .bin and .vec file ? Which one should use to evaluate the model?

import gensim.models.keyedvectors as word2vec1
from scipy import spatial
from gensim.models import FastText

pathToBinVectors = 'C:/Users/admin/fasttextwiki/wiki.ur.vec'
embed_map = word2v

[2019-04-25 14:53] baidik1 commented on #2460
@gojomo Thanks for your help. I made the necessary changes, and cleaned up the code. Closing this.

[2019-04-25 20:26] gojomo commented on #2460
Reopening with new name to address issue that passing an obviously-bad `corpus_file` value generated such an unhelpful error.

[2019-04-25 20:40] themeo opened #2464 "Lemmatizer fails for some words"
**The problem**

[code]

The first command ('smile') returns an empty array.
The second command ('arrived') returns unlemmatized word.
Many other words work just fine.

**Version info:**
Windows-10-10.0.17134-SP0
Python 3.6.8 (tags/v3.6.8:3c6b436a57, Dec 24 2018, 00:16:47) [MSC v.1916 64 bit (AMD64)]
NumPy 1.16.3
SciPy 1.2.1
c:\Program Files\Python36\lib\site-packages\smart_open\ssh.py:34: UserWar

[2019-04-25 21:41] piskvorky commented on #2464
By default, `lemmatize` returns only tokens that represent verbs, nouns, adjectives and adverbs. See the `allowed_tags` parameter of lemmatize.

[code]

[2019-04-25 21:43] #2464 closed

[2019-04-25 21:58] themeo commented on #2464
Thanks for your response!

But this leaves open 2 questions: Why 'smile', being both a noun and a verb, is tagged as IN (Preposition or subordinating conjunction)?

My issue report also mentioned other words that do not get lemmatized at all: arrived, ears, tattoos, campaigning, so this is a separate issue.

[2019-04-25 23:09] austinguo550 commented on #2430
@mpenkov I have the same issue as @mabodx and when I run import boto to print boto version I get the same error `AttributeError: module 'boto' has no attribute 'plugin'`.

Full error traceback:
[code]

[2019-04-26 01:03] mpenkov commented on #2430
@austinguo550 That sounds like a problem with boto (not really something gensim can do anything about). There are other ways you can check the version, e.g.:

```pip show boto```

[2019-04-26 09:14] shadylpstan commented on #2045
@piskvorky did you find anything good to deal with OOV words?

[2019-04-26 09:42] piskvorky commented on #2045
@shadylpstan see comments above. We also clarified the fastsText loading instructions recently, check out the fastText module docstrings.  CC @mpenkov .

[2019-04-26 10:22] mpenkov commented on #814
@ghazeefa please open a new ticket for your problem

[2019-04-26 11:14] piskvorky commented on #2464
It's an issue for the `pattern` library – feel free to open a ticket there.

[2019-04-28 02:33] #2201 closed

[2019-04-28 02:37] #2375 closed

[2019-04-28 04:23] mpenkov opened #2465 "NFM test code raises deprecation warnings"
Running test_nmf.py under nosetests gives the following:

[code]

We should fix these warnings to avoid bad behavior in the future, once the deprecations kick in.

[2019-04-29 00:07] bmahal opened #2467 "type object 'gensim._matutils.array' has no attribute '__reduce_cython__'"
getting the following error:
AttributeError                            Traceback (most recent call last)
<ipython-input-13-6d3fc7c83071> in <module>()
      1 # Gensim
----> 2 import gensim, spacy, logging, warnings
      3 import gensim.corpora as corpora
      4 from gensim.utils import lemmatize, simple_preprocess
      5 from gensim.models import CoherenceModel

~\Anaconda3\lib\site-packages\g

[2019-04-29 13:35] deakkon opened #2468 "Loading BioWordVec fails with gensim (3.7.2) fastText interface"
While using [FBs fastText Python lib ](https://github.com/facebookresearch/fastText/tree/master/python) the [BioWordVec](https://ftp.ncbi.nlm.nih.gov/pub/lu/Suppl/BioSentVec/BioWordVec_PubMed_MIMICIII_d200.bin) embeddings are loaded successfully and work as advertised (i.e. they produce representation of both in- and out-of-vocab words).

This works on both a MacBook Pro (late 2018, 16Gbs of RAM w

[2019-04-29 14:41] mpenkov commented on #2468
Thank you for your detailed bug report.

Which function do the numbers you provide correspond to? Is it load_facebook_model or load_facebook_vectors?

[2019-04-29 14:48] piskvorky commented on #2468
Related to the mailing list discussion at https://groups.google.com/forum/#!topic/gensim/TgFtjAeMKdw

[2019-04-29 18:26] saraswatmks commented on #2460
Hi @gojomo If no one is working on this, can I take this up ?

[2019-04-29 19:15] gojomo commented on #2460
@saraswatmks of course!

[2019-04-29 22:35] saraswatmks commented on #2460
@gojomo Thanks, I am on it. Incase, I need some clarifications I can ask here, right?

[2019-04-30 05:10] gojomo commented on #2460
@saraswatmks of course!

[2019-04-30 11:23] deakkon commented on #2468
load_facebook_model() for the .bin file, load_facebook_vectors() for the .vec file (both downloadable form the repo).

[2019-05-01 00:50] saraswatmks commented on #2459
Hi @gojomo Is it yet to be done ? can I take it up?

[2019-05-01 03:04] gojomo commented on #2459
@saraswatmks Yes, and further, you don't have to ask permission: a good PR submission will be reviewed/welcomed even without having declared your interest first. It's more important to "show working code" than "declare interest".

[2019-05-01 04:36] smartfeature opened #2470 "models.Doc2Vec retruned model.docvecs size is smaller than input docs"
models.Doc2Vec retruned model.docvecs size is smaller than input docs

model = models.Doc2Vec(docs,alpha=0.025,min_alpha=0.025,min_count=2,vector_size=30,workers=4,epochs=50)

docs size 2849,
model.docvecs size 2749

[2019-05-01 07:55] bakirillov opened #2471 "Persistense on disk fails"
Hello!

I can't get back the model I have saved.
When I do that:
`from gensim.test.utils import get_tmpfile`
 `fname = get_tmpfile("fasttext.model")`
 `model.save(fname)`
 `print(model.wv["afgadfgd"])`

saving works and word vector is printed but when I load the model with
`model = FastText.load(fname)`
and try:
`print(model.wv["afgadfgd"])`
it fails with an error:
`AttributeError: 'FastTextKeyedV

[2019-05-01 08:38] piskvorky commented on #2470
Please fill in the issue template fully, including the SW versions and reproducible example.

[2019-05-01 15:04] mpenkov commented on #2471
How did you obtain `model`?

I tried reproducing the problem with a model trained from scratch, and failed. Please try the source below:

[code]

[code]

and let me know if it works in your environment.

[2019-05-01 15:07] mpenkov commented on #2471
Also, when reporting errors, please provide the full stack trace.

[2019-05-01 19:29] gojomo commented on #2470
@smartfeature You've probably repeated the tags for some of your documents. The number of learned doc-vectors will not be equal to `len(docs)` (the number of docs), but rather `len(set(itertools.chain(doc.tags for doc in docs)))` (the number of unique document tags).

[2019-05-02 20:38] dpalbrecht commented on #2350
I seem to be getting the same errors, and not sure what the fix is given then above discussion.

`model_fast = gensim.models.fasttext.load_facebook_vectors('cc.en.300.bin.gz')`
produces the error:
`ValueError: cannot reshape array of size 1116604308 into shape (4000000,300)`

[2019-05-03 01:14] mpenkov commented on #2350
@dpalbrecht That looks like a different issue. Can you please open a new ticket, and provide the full stack trace, reproducible sample, version numbers, etc?

[2019-05-03 10:59] mpenkov commented on #2463
@Kaotic-Kiwi Can you please explain what happened here?

[2019-05-03 18:26] dpalbrecht commented on #2350
@mpenkov Sure, will do.

[2019-05-03 18:37] dpalbrecht opened #2473 "Using the load_facebook_model method produces ValueError on array reshaping"
I am trying to load in the English, pre-trained, bin model from [FastText](https://fasttext.cc/docs/en/crawl-vectors.html), but am getting a ValueError.

Versions:
[code]

I am running the following line:
`model_fast = gensim.models.fasttext.load_facebook_model('cc.en.300.bin.gz')`

However, I get this error:
[code]

[2019-05-04 02:34] #2453 closed

[2019-05-04 03:32] mpenkov commented on #2473
Thank you for reporting this. I've reproduced the problem on my side.

I will investigate and report back here when I have some results.

[2019-05-04 03:41] mpenkov commented on #2473
Please try unzipping the file using gunzip or a similar utility before opening it via gensim. In my case, I was able to load the model successfully after doing this.

I suspect some of the lower-level I/O code (possibly smart_open) that handles decompression is at fault here.

[2019-05-04 03:50] mpenkov commented on #2470
@smartfeature Please provide the full information about your problem. Otherwise, we cannot proceed with this ticket, and will have to close it.

[2019-05-04 06:07] giant-armadillo commented on #2473
sorry to bother but I want to ask that do you konw anything about the time_slices in the Dtmmodel?I would be appreciate for your time.
`model = DtmModel(path_to_dtm_binary,corpus = corpus,time_slices=time_slice,id2word=dic,num_topics = num_topics,alpha = alpha,mode='time')`

[2019-05-04 07:35] mpenkov commented on #2473
@giant-armadillo Sorry, this is not the appropriate place for such questions. Please try on the mailing list.

[2019-05-04 08:57] mpenkov commented on #2473
I've investigated this issue for a few hours. Fortunately, I can exclude smart_open from the list of culprits. Unfortunately, the problem appears to lie deeper than that. There is some interplay between the standard library gzip and numpy from_file function that's causing different behavior under some conditions:

1. When numpy reads directly from an io.open stream, everything works fine
2. When n

[2019-05-04 09:05] piskvorky commented on #2473
Awesome detective work @mpenkov !

For anyone bitten by this: until we (or numpy or the python devs…) resolve this, use a decompressed file instead. Avoid a `.gz` input in FastText (@mpenkov and in other models?).

[2019-05-04 09:54] mpenkov commented on #2430
Closing due to inactivity

[2019-05-04 09:54] #2430 closed

[2019-05-04 09:55] mpenkov commented on #2445
Closing due to inactivity

[2019-05-04 09:55] #2445 closed

[2019-05-04 09:56] mpenkov commented on #2449
Closing due to inactivity

[2019-05-04 09:56] #2449 closed

[2019-05-04 09:57] mpenkov commented on #2317
@robguinness How's it going? Were you able to pin down the source of the problem? Please let us know. I'm tempted to close this because it seems to be unrelated to gensim directly.

[2019-05-04 09:58] mpenkov commented on #2451
Closing due to inactivity.

[2019-05-04 09:58] #2451 closed

[2019-05-04 09:59] mpenkov commented on #2452
@Barracuda72 Can you please provide the information we need (see previous message)? Without it, we can't do anything about this ticket, and will have to close it.

[2019-05-04 11:11] piskvorky commented on #2445
@mpenkov how about adding a Github bot, which
1. warns about closing a ticket if there's a "need info" tag and no activity for 1 week
2. closes the ticket if there's no activity for 2 weeks
3. locks the ticket if there's no activity for 1 month (to prevent people hijacking old tickets)

[2019-05-04 11:18] piskvorky opened #2474 "Automated closing / locking of stale tickets"
I suggest adding Github bots to the Gensim repo to:

1. automatically warn (post a comment) about future closing of a ticket if the ticket has a "need info" tag and no activity for 1 week.
2. close the ticket if there's no activity for 2 weeks
3. locks the ticket if there's no activity for 1 month (to prevent people hijacking old tickets)

I found some bots that reportedly do that, e.g. [stale bot

[2019-05-04 11:19] piskvorky commented on #2445
Moving the discussion to #2474, so as to not hijack this ticket :)

[2019-05-04 11:56] mpenkov commented on #2473
After discussing with @menshikh-iv, our conclusion is that this may be a bug with numpy: https://github.com/numpy/numpy/issues/13470

[2019-05-04 12:02] mpenkov commented on #2474
I'm a bit "meh" about this, because we don't have _that_ many tickets labeled need-info, so the manual labor involved in nagging people and closing tickets is minimal.

[2019-05-04 17:16] saraswatmks commented on #2459
@gojomo Just to be sure, this function will do the following:
**Option 1:**
1. Takes a doc-vector (I will check for vector length as a sanity check)
2. Returns a list of tuples of words and scores which are most similar to the doc-vector
3. After doing dot product, the words will be returned from the whole corpus.

**Option 2:**
1. Instead of input vector, I ask for doc-id
2. Get the vector for th

[2019-05-04 20:30] dpalbrecht commented on #2473
Wow, thanks for the quick reply and fix. I can confirm that unzipping the model before reading it in solves the problem.

[2019-05-05 13:48] #2460 closed

[2019-05-05 15:18] gforman44 opened #2477 "mismatched field names"
Some places in the code use   self._lines_are_documents
while others use  self.lines_are_documents   (no underscore)

https://github.com/RaRe-Technologies/gensim/blob/40792c611ff6d0385fadc6de1f03d9ae22261351/gensim/corpora/textcorpus.py#L512

https://github.com/RaRe-Technologies/gensim/blob/40792c611ff6d0385fadc6de1f03d9ae22261351/gensim/corpora/textcorpus.py#L592

https://github.com/RaRe-Technolo

[2019-05-06 00:26] mpenkov commented on #2477
That's by design. It's a @property.

[2019-05-06 00:26] #2477 closed

[2019-05-06 00:34] gojomo commented on #2459
Re: Option 1 – It's not "most similar" words which are needed here. Rather, it's "most predicted". The logic and behavior should be highly analogous to `Word2Vec.predict_output_word()`, except taking a single vector rather than a list-of-words.

(Option 2 is impossible, as the model includes no record of the words which occurred in that doc-id.)

[2019-05-06 01:15] #2473 closed

[2019-05-06 01:19] mpenkov commented on #2467
Please fill out the full issue template and answer any contained questions

[2019-05-06 02:17] mpenkov commented on #2468
I think you may be misuising the [load_facebook_vectors](https://radimrehurek.com/gensim/models/fasttext.html#gensim.models.fasttext.load_facebook_vectors) function. You need to pass to it the `.bin` file, as described in the documentation:

[2019-05-06 03:34] mpenkov commented on #2468
Do the vectors loaded with the FB library make sense to you?

I loaded the model and tried some vectors using the below script:

[code]

Here are some results:

[code]

On a machine with 64GB RAM, the above script occupied approx 32GB. I'm a bit skeptical that you got it working on a machine with only 16GB, given the model itself is 27GB.

[2019-05-06 09:01] deakkon commented on #2468
Hi,

thank you for looking in to this. I ran your script on my Mac and this is what came out:

(know-nlp) ➜  Documents python -i native.py
<fastText.FastText._FastText object at 0x104be6630>
loaded in 107s
1.1572914123535156
biomedical medical
4.582677667131966
biomedical biological
4.416602128235105
biomedical biomechanical
5.823686888861058

hello world
6.405571729528044

I would expect the simi

[2019-05-06 14:40] bakirillov commented on #2471
Resolved. Still don't know why it happened but it's fine now.

[2019-05-06 14:40] #2471 closed

[2019-05-06 20:52] gojomo commented on #2474
An auto-reminder might help 'wake' a few reporters into answering requests for more info, or into letting us know it's no longer an issue for them. But given that both reporters and contributors can may only be looking-in on a part-time/casual/occasional schedule, I'd want multiple-reminders & generous deadlines before an auto-close.

I'd not want the auto-locking - if a new report/update is truly

[2019-05-08 08:19] robguinness commented on #2317
We eventually figured out (somewhat conclusively) that the reason had to do with the fact that we were building scipy/numpy off the master branches of those repositories. In the case of both scipy and numpy, the master branches are actually the latest development branches and rather unstable. Once we built scipy and numpy off of official release branches (tags), the problem went away. So my best g

[2019-05-08 08:58] piskvorky commented on #2317
Thanks @robguinness . Closing here.

[2019-05-08 08:58] #2317 closed

[2019-05-08 13:51] datistiquo opened #2483 "Fasttext - Different order of subwords change similarity"
Hi,

I just found that different order of subwords in a OOV-word gives different results.

My example is

sub1sub2 (OOV)

with sub1 and sub2 subwords which are in vocab.

So

`print(model.wv.similarity("sub1sub2","sub2sub1"))`

should yield `1`, right?

I get for my model depending on the words 80 or even just 60%?

Since for OOVs the vector is just the sum of subwords, why does the order change t

[2019-05-08 19:09] mmatheuslyra opened #2484 "Parameters equivalence in Word2vec"
Hello, I would like to understand better the difference between the "iter" and "epoch" parameters in the Word2vec algorithm.

Does the epoch parameter have an equivalent to the Mikolov's implementation?

Actually, I haven't seen any mention to the Epoch parameter in the Mikolov job, so how could I replicate it? Would be enough an execution like Gensim.Word2vec(iter = 5, epoch = 5) Mikolov.Word2vec

[2019-05-08 19:10] piskvorky commented on #2484
Hi, please read and follow the issue template.

[2019-05-08 19:10] #2484 closed

[2019-05-08 20:12] mmatheuslyra commented on #2484
Hello, I would like to understand better the difference between the "iter" and "epoch" parameters in the Word2vec algorithm.

Does the epoch parameter have an equivalent to the Mikolov's implementation?

Actually, I haven't seen any mention to the Epoch parameter in the Mikolov job, so how could I replicate it? Would be enough an execution like Gensim.Word2vec(iter = 5, epoch = 5) Mikolov.Word2vec

[2019-05-09 00:43] kevinwei1975 opened #2486 "Error reporting for loading model files"
Error loading model file. Details are attached.

[2019-05-09 00:45] mpenkov commented on #2483
Please direct this question at the mailing list. Github issues are for reporting bugs only.

If you think this is a bug, then please fill out the entire issue template, including the reproducible example.

[2019-05-09 00:45] #2483 closed

[2019-05-09 00:52] mpenkov commented on #2484
@mmatheuslyra From the issue template:

**IMPORTANT**:

**- Use the [Gensim mailing list](https://groups.google.com/forum/#!forum/gensim) to ask general or usage questions. Github issues are only for bug reports.**
- Check [Recipes&FAQ](https://github.com/RaRe-Technologies/gensim/wiki/Recipes-&-FAQ) first for common answers.

---

Please direct your question at the mailing list.

[2019-05-09 02:27] kevinwei1975 opened #2487 "Error reporting for loading model files"
Once running to model =  Doc2Vec. load (model_path) , an error is reported.
Specific error reporting information: _pickle. unpicking Error: invalid load key' xca'
Error reporting environment:
Linux-4,15-1032-x86_64-with-debian-stretch-sid
GCC 5.4.0 20160609
Python3.6.5
Gensim=3.7.3
Numpy=1.15.1
Scipy=1.1.0
FAST_VERSION 1

[2019-05-09 02:30] mpenkov commented on #2487
If possible, please include reproducible code that constructs a dummy model that exhibits the same problem.

Otherwise, please include the model that's causing your problem.

[2019-05-09 12:05] 27232xsl opened #2488 "Hi，I wanna know how to retain the information of "title tag" when processing the corpus.xml into plain corpus.txt"
I have a entity set， and I wanna extract entity-related page information from Wikipedia, but when the corpus.xml is processed into a corpus.txt, title information is filtered out, so I can't link my entity to the information in Wikipedia corpus. I want to know how to keep "title tag" information. I would appreciate it if you can help me.(Thank you so much!!!)

[2019-05-10 00:39] mpenkov commented on #2488
Please use the gensim mailing list for questions. Github tickets are for bug requests only.

[2019-05-10 00:39] #2488 closed

[2019-05-10 07:13] piskvorky commented on #2474
Another use-case for bots: automatic comment & close & lock of tickets we label as `not a bug`. Use case: all the people who want to chat on Github. The automatic comment would explain "why" & provide link to the mailing list.

@mpenkov yes, we managed for years without, not critical. But making the whole dev process clearer and more streamlined and automated is desirable IMO.

[2019-05-10 09:28] Antupis opened #2489 "Document how to get complete document distribution from LDA"
Document how to to get full document distribution from LDA, that would help in those cases where you are implementing your own distance algorithm and you need full  distribution. Personally I set  minimum_probability=0.0 but there might be other ways.

[2019-05-10 11:53] piskvorky commented on #2489
Yes, this is a common request. We should document the `minimum_probability=0.0` + `sparse2full()` for numpy array more prominently.

@Antupis can you open a PR with your suggested solution (updated docs)?

[2019-05-10 14:56] monterga commented on #541
@rachhitgarg I have the same problem with you. Could you help me to fix. Thanks so much

[2019-05-10 23:23] gojomo commented on #2470
No info, likely explanation is user error, closing.

[2019-05-10 23:23] #2470 closed

[2019-05-11 03:29] prabhatM opened #2490 "Sent2Vec not importing"
Hi, I tried to use Sent2Vec with Gensim 3.7.3, but the import isn't working. Is it part of the latest release?

[2019-05-11 03:54] #2490 closed

[2019-05-11 19:06] anirudhsamudrala opened #2492 "Error using Gensim with Flask API"
I am trying to build a python API for the first time. Trying to build an API end point to summarize using flask rest and gensim libraries. Any suggestions?

Code:
[code]

Expected output:

[code]

Actual output:
[code]

[2019-05-12 01:30] mpenkov commented on #2492
Please log the value of request.data.

What is its type? I suspect you're passing bytes instead of unicode.

[2019-05-12 04:50] anirudhsamudrala commented on #2492
Thanks for the hint @mpenkov . I changed the code this way and it worked.

[code]

[2019-05-12 04:50] #2492 closed

[2019-05-12 09:45] mpenkov commented on #2486
Closing due to incomplete info.

Also possible duplicate of https://github.com/RaRe-Technologies/gensim/issues/2487

[2019-05-12 09:45] #2486 closed

[2019-05-12 09:48] mpenkov commented on #2452
Closing due to inactivity.

[2019-05-12 09:48] #2452 closed

[2019-05-12 09:49] mpenkov commented on #2467
Closing due to inactivity.

[2019-05-12 09:49] #2467 closed

[2019-05-14 02:55] shuxiaobo commented on #1509
@gojomo I met the same question. Does the long sentence longer than 10000 will be cut to 10000, and the rest data be discard while training? I do not see any declare about this process in API document.

[2019-05-14 06:21] piskvorky commented on #1509
Yes, there's still a hard limit on sentence length (= max effective number of words in a document).

Btw the performance issues around GIL were solved in #2127, see the tutorial at https://github.com/RaRe-Technologies/gensim/blob/develop/docs/notebooks/Any2Vec_Filebased.ipynb .

CC @mpenkov – let's link to that tutorial straight from the API docs. I had trouble locating it myself, it's pretty hidd

[2019-05-14 06:22] #1509 closed

[2019-05-14 06:30] mpenkov commented on #1509
OK, I'll deal with that as part of the documentation refactoring

[2019-05-15 01:40] shuxiaobo commented on #1509
Hello @mpenkov , I still have a question. Does the batch size will affect the max length of the sentence? If I set the batch size = 128, So the max length of sentence will be set to 10000 or 128?

[2019-05-15 04:27] gojomo commented on #1509
@shuxiaobo `batch_size` has no effect on the 10000-token limit for individual texts.

[2019-05-15 11:15] de-don opened #2494 "Get p(t|w) distribution"
#### Problem description

How can I get distribution `p(t|w)` from an already trained LDA model?
It's need for calulate the *core* of theme.

This is calculated by the formula: `p(t|w) = p(w|t) * p(t) / p(w)`

[2019-05-15 11:54] mpenkov commented on #2494
Please ask questions on the mailing list

[2019-05-15 11:54] #2494 closed

[2019-05-16 18:12] rupamroy opened #2495 "Provision for enriching just the vocabulary and not the documents"
#### Problem description

I have a small list of sentences and I am trying to use that to create a document similarity based search.
Gensim is correctly able to relate the search sentence with closest sentences in the corpus when the most of the words match . But when the input is the same question using a different set of words (synonyms or lexically similar word), it cannot get a match.

In crea

[2019-05-16 22:04] hkarbasi commented on #818
If you are running the model in parallel like me, make sure each model has a different prefix as it throws an exception at the end!

[2019-05-16 22:07] hkarbasi commented on #818
I had the same issue and what I did was to save what I wanted from the model and **pickle** it.

[2019-05-16 22:07] hkarbasi commented on #818
If you are running the model in parallel like me, make sure each model has a different prefix as it throws an exception at the end!

[2019-05-16 22:46] hkarbasi commented on #1351
Hey Mack,

I am having the same exact issue right now, specially I am working of text corpus that the text files is around 1GB. it is funny that to be able to run just Mallet LDA for the range of 2-100 number of topics on it, it requires just ~180GB. I got the number from Argo Cluster in GMU and when I would like to get **coherence value**, it depends on the number of topics and it ranges from ~10

[2019-05-17 02:59] Apollo2Mars commented on #1877
It should be from gensim.models.keyedvectors import KeyedVector

[2019-05-17 08:39] magiob opened #2496 "SparseTermSimilarityMatrix - TypeError: 'numpy.float32' object is not iterable"
I am using gensim 3.7.3 and python3.6.

I am following the exact example of SoftCosineSimilarity at https://radimrehurek.com/gensim/similarities/docsim.html
but with my own dataset and embeddings trained on Fasttext.
Dictionary and WordEmbeddingSimilarityIndex are executed properly but then I get an error when trying SparseTermSimilarityMatrix. I found a similar issue, that was solved in the pull

[2019-05-17 08:43] piskvorky commented on #2496
@Witiko can you please have a look?

[2019-05-17 10:16] mkoa commented on #2496
Hi there,

I came across the same issue a few days ago.
I was about to open an issue as well to offer a fix I found.

The issue lies in line 248 of gensim/termsim.py
There is a test intended to ensure no more than nonzero_limit elements are inserted. The test is off and allows this limit to be broken, which makes the loop break at the next iteration.

The fix is simply to replace the "<=" test wit

[2019-05-17 13:52] Witiko commented on #2496
@piskvorky I will take a closer look when I am on a PC, but this seems to be the same issue as [the one reported by @tvrbanec earlier](

https://github.com/RaRe-Technologies/gensim/issues/2105#issuecomment-457622349) (#2356, #2461). There is a large amount of duplication with the `most_similar` functions and it seems like some implementation still interprets `topn=0` as `topn=None`, returning an a

[2019-05-17 15:07] mkoa commented on #2496
@Witiko Thank you very much for the heads up!
You are right, this is the same issue as that you reference above, which I missed.

I can confirm I got the same error as @magiob but with a word2vec model on my side. `index.most_similar(t1, num_rows)` is called with `num_rows=0` and returns a numeric array even with the latest pull.

My fix aims at directly preventing a call to `index.most_similar` w

[2019-05-17 15:36] Witiko commented on #2496
@mkoa That is a useful suggestion. Changing `termsim.py` as follows should fix this issue:
[code]
Even though this does not address the root cause, it is still good defensive programming.

[2019-05-17 15:47] Witiko commented on #2496
The suggested fix:
- Apply the defensive patch from https://github.com/RaRe-Technologies/gensim/issues/2496#issuecomment-493498587, because code purity seems much less of an issue than a broken implementation, especially when the fix has proven to be so elusive.
- Change `column_nonzero` to count from zero to make, so that variables are named consistently, as suggested in https://github.com/RaRe-T

[2019-05-17 21:21] Witiko commented on #2496
I found the root cause: `num_rows` is `np.int64`, whereas `most_similar` requires `topn` to be an `int`.

[2019-05-19 04:15] gojomo commented on #2495
It's not clear what you're asking. Do you want a new feature? Do you think there's a bug? If you just want help using what's available, the forum <https://groups.google.com/forum/#!forum/gensim> is a better channel.

Other comments on what you've shown:

* You probably don't want to use `dm_concat=1` mode. It results in much larger, slower-to-train models for unclear benefit.

* `dbow_words=1` has

[2019-05-19 13:39] tvrbanec commented on #2496
Yes, I can confirm that code used to work on gensim==3.7.2 now on gensim=3.7.3 throw the error:
`TypeError: cannot unpack non-iterable numpy.float32 object
`when executing code:
`SparseTermSimilarityMatrix(similarity_index, dictionary)`

[2019-05-20 12:57] mehmetilker opened #2498 "ModuleNotFoundError: No module named 'gensim.models.word2vec_corpusfile' exception when using corpus_file parameter"
#### Problem description

I can run Doc2vec with documents parameter without problem but when set corpus_file parameter I am getting following exception:

[code]

#### Steps/code/corpus to reproduce

Include full tracebacks, logs and datasets if necessary. Please keep the examples minimal ("minimal reproducible example").

[code]

corpus.txt file content after "save_as_line_sentence" (200.000 line

[2019-05-21 08:36] mpenkov commented on #2498
Thank you for your report.

Could you please make sure your reproducible example is minimal and complete? It looks like there are some definitions missing, and the indentation is wrong. Ideally, it'd be something we can just copy-paste into an interpreter to reproduce the problem.

[2019-05-21 10:41] mehmetilker commented on #2498
@mpenkov I have updated example. But I guess due to few sentence I am getting "RuntimeError: you must first build vocabulary before training the model"
When I try with original corpus with 200.000 sentence I see same problem I stated above.

[2019-05-22 22:11] chrysm commented on #2137
i fixed it in mac os by removing the tmp dir and running again

[2019-05-23 14:21] jeanava opened #2499 "MemoryError when using ldaseqmodel.doc_topics"
I am trying to create a matrix/data frame with the topic distribution over documents for all documents, since these are needed to find what documents have the highest prevalence of a given topic. However, I get a MemoryError when I use ldaseqmodel.doc_topics().

I am using a list comprehension to get the topic distributions for each document.

prop = [ldaseq.doc_topics(n) for n in np.arange(start,

[2019-05-24 18:42] aashishkhadka1992 opened #2500 "Mallet wrapper raises RuntimeError: invalid doc topics format when prefix path is passed"
#### Problem description

I am loading a saved mallet wrapper model to generate topics for given text. I pass prefix when I train the model. When I load the model, I am getting runtimeerror raised by read_doctopics() in ldamallet.py module.

#### Steps/code/corpus to reproduce
[code]
Include full tracebacks, logs and datasets if necessary. Please keep the examples minimal ("minimal reproducible ex

[2019-05-24 21:54] dpalbrecht opened #2501 "All vectors in lsi_model[corpus_tfidf] are not of num_topics length passed to LsiModel"
I am using a combination of TF-IDF and LSI as shown in this [tutorial](https://radimrehurek.com/gensim/tut2.html) to arrive at `corpus_lsi = lsi[corpus_tfidf]`. I am then in need of unpacking this TransformedCorpus into a num_documents x num_topics matrix, but am unable to do so because not all of the individual vectors in `corpus_lsi` end up being the length of `num_topics` that I defined while u

[2019-05-25 07:57] piskvorky commented on #2501
The documents returned by `lsi[corpus]` are sparse, meaning explicit zeros are omitted. That's probably the reason why some vectors appear "shorter" to you.

Check out Q3 in the [Gensim FAQ](https://github.com/RaRe-Technologies/gensim/wiki/recipes-&-faq) and more generally [Gensim Core Concepts Introduction](https://radimrehurek.com/gensim/intro.html#core-concepts).

[2019-05-25 07:57] #2501 closed

[2019-05-27 15:29] dpalbrecht commented on #2501
Great, thank you!

[2019-05-28 05:23] rianrajagede opened #2502 "High RAM usage when loading FastText Model on Google Colab"
#### Problem description

I want to load FastText pre-trained model using Gensim. I run this script in Google Colab with ~12GB RAM but it always crashes, with Colab's message: "Your session crashed after using all available RAM."

#### Steps/code/corpus to reproduce

[code]

I didn't use both methods at the same time, I only use one of them. Then, I restart the runtime to clear the memory if I wan

[2019-05-28 05:51] mpenkov opened #2503 "Handling of max_probability in get_term_topics is counter-intuitive"
Context: Using the 20newsgroups dataset for training an LDA model.

[code]

The model distinguishes between the two topics reasonably well:

[code]

However, the get_term_topics function does not return any topics given an in-vocabulary term:

[code]

From the topics list above, we can see that the coefficients are relatively low. So, a user may be tempted to decrease the minimum_probability param

[2019-05-28 05:52] mpenkov commented on #2503
Ping @piskvorky and @menshikh-iv, you may be familiar with this code from past discussions.

[2019-05-28 06:09] menshikh-iv commented on #2503
I'm definitely +1 for a drop all `max(user_value, hardcoded_value)` from topic-modeling-related things, because of current behavior:
- unintuitive: if I set `anything < hardcoded_value`, why this ignored?
- doesn't work if word/document has "too low" topic coefficients (that appears even in our tutorials, not rare situation)

[2019-05-28 07:02] piskvorky commented on #2503
I'm not familiar with `get_term_topics` unfortunately.

But IIRC some parts of code require sparse inputs of the form `(feature_id, feature_value)`, with "sparse" meaning `feature_value` must not be zero. That's probably the reason for the non-zero threshold (although even then, it should be `abs(value) > some_epsilon`, not `value > some_epsilon`).

[2019-05-28 10:52] mpenkov commented on #2503
So why don't we leave it up to those parts of the code to not set the threshold to zero? The default behavior is a minimum threshold of 0.01 anyway, so that fits the majority of the standard use cases, and doesn't break any existing non-standard use cases.

In summary, in order to violate the "sparse" meaning invariant, you have to **explicitly** set the threshold to zero. Since this action is exp

[2019-05-28 17:44] bnriiitb opened #2504 "Getting Segmentation fault: 11 while running cosine similarity function on a bunch of documents."
I'm using gensim to perform cosine similarity on a bunch of documents getting the Segmentation fault: 11. Could you please help me to resolve this issue?

**Error Trace:**
[code]
**Code**
[code]

[2019-05-28 20:50] piskvorky commented on #2504
It seems you have a mismatch in vector spaces: in `Similarity` you provide plain bag-of-words (`dictionary.doc2bow`), whereas during querying you provide tfidf (`self.tfidf[self.dictionary.doc2bow(doc)`).

I'm not clear on what the difference between `dictionary` vs `self.dictionary` is, but either way, both your index documents and your query documents must come from the same pipeline.

[2019-05-28 20:50] #2504 closed

[2019-05-28 20:55] aashishkhadka1992 commented on #2500
I have found the reason for this particular error within below block of code:
[code]
When this function is executed, temp files are updated with every loop and the final temp files are ones for the final loop. But the optimal model is not always the last model. So, there arises mismatch in the model parameters and stored temp files. I made few changes to fix this error. Below is the code:
[code]

[2019-05-28 20:55] #2500 closed

[2019-05-28 21:10] piskvorky commented on #2503
Not sure we're talking about the same thing (and l'm not familiar with `get_term_topics` and whether it needs such clipping or not), but generally speaking, "explicit zeros are not allowed in sparse vectors" is an invariant in some algorithms. There are two main ways to rule out explicit zeros:

1. at vector *generation* time = responsibility of the vector-generating code.
2. at vector *use* time

[2019-05-29 02:48] menshikh-iv commented on #2503
Notes:
- `get_term_topics` used only for demonstration and never for training
 - `get_document_topics` also not used in training (only for inference)

In that case, `/0` or segfaults isn't actual for these methods (because this used only for inference/demonstration)

[2019-05-29 05:57] bnriiitb commented on #2504
Thank you for @piskvorky for help.

[2019-05-29 07:49] robguinness opened #2506 "LsiTransformer is giving a ValueError"
#### Problem description

I'm trying to use the class `gensim.sklearn_api.lsimodel.LsiTransformer` according to the documentation, but it results in a ValueError with the following stack trace:

[code]

It could be that I'm misunderstanding something or that the documentation is wrong, but I'm pretty sure this is a bug.

#### Steps/code/corpus to reproduce

Here is a minimal example to reproduce t

[2019-05-29 10:45] piskvorky commented on #2503
We have no "demonstration mode". If an API function returns a sparse vector with explicit zeros, upstream code that uses such vector will fail with segfaults, division by zeros, sparse length asserts etc. You cannot break invariants like that, "because the code is only used for inference" (?).

I had a look at `LdaModel.get_document_topics` and the code looks dodgy. The final line reads `return do

[2019-05-29 11:08] desthalia opened #2507 "Dictionary Error"
#### Problem description
I got this bug that didn't happen before. Basically, I want to compute coherence score for each topic I've gathered from different LDA models.

#### Steps/code/corpus to reproduce

[code]
An example of one of the topics:
[code]

And I keep getting this error:
[code]
#### Versions

Please provide the output of:

[code]

[2019-05-29 16:22] zstachniak opened #2508 "FastText SkipGram Implementation Broken since 3.7.2"
The FastText implementation using skip-gram appears to be broken since 3.7.2. Below is the sample code I am using, which is almost identical to the example in the docs but with additional printed output. In v3.7.1, everything runs fine, but in subsequent versions, an IndexError occurs during train_sg_pair.

[code]

# Works in 3.7.1

[code]

# Fails in 3.7.3

[code]

[2019-05-29 17:02] gojomo commented on #2508
Given the extra error ("C extension not loaded, training will be slow"), it looks like (1) your gensim-3.7.3 installation didn't get the native libraries your earlier installation did; and (2) the gensim plain-Python code path is what's broken. That's rarely used, as it's up-to-100x slower, and thus far must be manually tested (since the normal, important testing successfully loads/tests the optim

[2019-05-29 17:05] gojomo commented on #2502
Does it crash on the load, or shortly thereafter when you start using the vectors? Because: doing common operations like `most_similar()` requires the creation of a cache of unit-normalized vectors, which roughly doubles the required RAM – which would easily explain exhausting 12G RAM.

[2019-05-29 17:06] gojomo commented on #2495
No clarifications from reporter in response to questions/suggestions. No clear bug or required feature. Closing.

[2019-05-29 17:06] #2495 closed

[2019-05-29 18:09] piskvorky commented on #2508
I'm inclined toward 2) We're really trying to tighten up our interfaces & remove brittle / academic fluff now.

The pure Python path may have been useful for educational purposes historically, but serves little purpose now.

CC @mpenkov thoughts?

[2019-05-29 18:17] zstachniak commented on #2508
Ah, interesting. @gojomo , any idea why a pip install on 3.7.1 work with my C compiler but 3.7.2 and above do not? I'm not seeing any messages indicating an error during install...

[2019-05-29 19:21] timpowellgit commented on #2507
Should this actually not get flat_topics (all of the topics) rather than the first topic only.

cm = CoherenceModel(topics=flat_topics[0], corpus=corpus dictionary=dictionary, coherence='u_mass')

Otherwise try
 CoherenceModel(topics=[flat_topics[0]]

[2019-05-29 20:40] zstachniak commented on #2508
Update: When trying to install directly from a PyPI download, I did finally encounter error messages during install (but still only for 3.7.3). For some reason, performing a `pip install gensim==3.7.3` install was not warning me about any problems.

Devs, let me know if I should close this issue, and thanks for your support!

For any other Python users who are forced to use a Windows box...
After

[2019-05-29 21:28] rianrajagede commented on #2502
it crash on the loading process, stopped in the syntax above. I haven't used the model at all.

[2019-05-29 23:38] hongtaicao opened #2509 "Dictionary.filter_extremes does not work properly"
#### Problem description

What are you trying to achieve? What is the expected result? What are you seeing instead?

I am using this function to filter out low frequency and high frequency words. However, the result dictionary size does not match my expectation.
The word frequency and word count for the corpus is:
[(1, 1441563), (2, 211515), (3, 77050), (4, 38364), ...]
[code]
the removed word fre

[2019-05-30 02:17] mpenkov commented on #2503
This will only happen if you **explicitly** pass a threshold of zero. So it isn't us breaking the invariant, it's whoever is calling get_term_topics or get_document_topics.

---

Look at it from the user's point of view. As a user, I've gone through the trouble of training an LDA model, and the model seems to be working. Next, I'd like to determine which topic a particular term belongs to. In the

[2019-05-30 02:23] mpenkov commented on #2509
Thank you for your report.

Could you please reduce your example to the *bare minimum* required to reproduce your problem? Is all the code you posted *really* necessary?

[2019-05-30 02:52] mpenkov commented on #2508
I'm +1 for removing native Python support for fasttext. I can't see a reason for using it. @menshikh-iv WDYT?

[2019-05-30 02:55] mpenkov commented on #2507
@desthalia Could you please use a public corpus to reproduce the problem? Without access to your data, we cannot reproduce your problem on our side.

[2019-05-30 03:12] #2434 closed

[2019-05-30 04:37] menshikh-iv commented on #2503
@piskvorky

I'm talking about these 2 concrete methods, they **don't used** in internal processing -> no div by zero or segfaults here (on **our side**).

If you are worried about "upstream" (i.e. user code that used current methods), that's not a problem, because we still have `minimum_probability` (parameter of function OR model parameter) that used for filtering small values, I just propose to

[2019-05-30 04:44] menshikh-iv commented on #2508
@mpenkov I'm +1 for drop pure-python implementation of w2v/d2v/ft/etc and stay only cython implementations.

[2019-05-30 04:48] mpenkov opened #2511 "Get rid of Python implementation of fastText, word2vec, doc2vec"
We have Cython implementations for the above models, so that we fall back to Python when Cython is not available.

This is more hassle than it's worth, because:

1. The Python versions are too slow to be practical
2. We have to expend additional effort to test the Python versions (leading to bugs like this: https://github.com/RaRe-Technologies/gensim/issues/2508#issuecomment-497182316)
3. The Cyth

[2019-05-30 04:48] mpenkov commented on #2508
OK, opened a separate ticket to deal with it. I think we can close this one.

[2019-05-30 04:48] #2508 closed

[2019-05-30 08:22] piskvorky commented on #2503
I'll have to look into `get_term_topics` and see what this is about, what its contract is.

If it's meant to return a probability distribution, it's not possible that *all* probabilities are < 1e-8. A few values might be, but these are the rounding errors, random numeric fluctuations, topics nobody cares about.

The only possibility would be if there are so many (>1e8) elements, each very tiny, bu

[2019-05-30 09:17] menshikh-iv commented on #2503
This isn't probability distribution (no normalization inside), for this reasons, `[]` returns frequently (that's annoying), normalization inside automatically fix that.

Not sure what do you mean by contract in that case, how a user should understand, what's a contract is?

BTW, "explicit zeros" is `+.0`, `-.0` or maybe `(+/-).0 + eps`, but not `(eps, 1e-8]` (especially with double precision float

[2019-05-30 16:40] bnriiitb opened #2512 "Sparse Matrix is taking a huge memory while computing cosine similarity."
**Sparse Matrix is taking a huge memory while computing cosine similarity and it's dead slow.**

**Memory Consumed : 17.93 GB**

Kindly help to resolve this issue.

**Code**

[code]

**Log Trace:**

[code]

[2019-05-30 17:07] piskvorky commented on #2512
What makes you think it's Sparse Matrix that's "taking a huge memory"? The RAM spike could also be related to your choice of using in-memory `list`s (as opposed to memory-friendly generators).

Re. `and it's dead slow`: for sparse matrices, Gensim falls back on scipy.sparse matrix multiplications (sparse x sparse). Scipy.sparse is single-threaded and not well optimized IMO.

I'd recommend you run

[2019-05-30 17:58] bnriiitb commented on #2512
@piskvorky Thank you very much for the detailed explanation and recommendations.

[2019-05-30 19:08] bnriiitb commented on #2512
I've used LsiModel as suggested and that helped to improve space complexity issue but I still see that time complexity issue persists, there is no improvement in the speed :(

Could you please share your thoughts on the space complexity issue? if there is a way to speed it up?

[2019-05-30 19:47] piskvorky commented on #2512
What issue are you seeing?